[2017-09-27 07:26] #1206 closed

[2017-09-27 07:27] yatsukhnenko commented on #1165
3.1.4 has been published on PECL site. Please create new issue if crash will reproduce.

[2017-09-27 07:27] #1165 closed

[2017-09-27 07:33] yatsukhnenko commented on #1088
3.1.4 has been released on PECL site. Please open new issue if crash will reproduce.

[2017-09-27 07:33] #1088 closed

[2017-09-27 15:00] dzuelke commented on #1210
@LenPayne @jmfontaine can you guys test 3.1.4?

I have seen the crash but haven't got a way to reproduce it. @yatsukhnenko IMO issues like this shouldn't simply be closed; after all, it was completely unclear what caused this bug in the first place, and there has been no dedicated commit(s) to address it in 3.1.4.

[2017-09-27 15:01] dzuelke commented on #1233
Then why is this still open @yatsukhnenko? Please close.

[2017-09-27 16:23] #1233 closed

[2017-09-27 19:39] yatsukhnenko commented on #1095
3.1.4 has been released on PECL site. Open new issue if crash will reproduce

[2017-09-27 19:39] #1095 closed

[2017-09-27 19:39] yatsukhnenko commented on #1036
3.1.4 has been released on PECL site. Open new issue if crash will reproduce

[2017-09-27 19:39] #1036 closed

[2017-09-27 19:41] yatsukhnenko commented on #879
Old issue with no activity for a long time

[2017-09-27 19:41] #879 closed

[2017-09-27 19:44] yatsukhnenko commented on #709
Now it is possible to use multi inside pipeline

[2017-09-27 19:44] #709 closed

[2017-09-27 19:46] yatsukhnenko commented on #923
Duplicate #246 and #1050

[2017-09-27 19:46] #923 closed

[2017-09-27 19:47] yatsukhnenko commented on #214
Old issue with no activity for a long time

[2017-09-27 19:47] #214 closed

[2017-09-27 19:50] yatsukhnenko commented on #429
Old issue with no activity for a long time

[2017-09-27 19:50] #429 closed

[2017-09-27 19:53] yatsukhnenko commented on #666
Builds for php7 for Windows are available on PECL site

[2017-09-27 19:53] #666 closed

[2017-09-28 07:43] yatsukhnenko commented on #1168
We may do this in next release as it already contains braking changes

[2017-09-29 03:52] Kairi commented on #1218
https://github.com/phpredis/phpredis/blob/6e83c1126645759baa99fd9e08adb57603dfa565/cluster_library.c

Is not here continue instead of break?
[code]

[2017-09-29 06:26] yatsukhnenko commented on #1218
@Kairi sounds reasonable

[2017-09-29 09:43] ppanphper opened #1245 "cluster use script command -ERR Unknown SCRIPT subcommand or wrong # of args"
### Expected behaviour
SCRIPT EXISTS will return an array with TRUE or FALSE for each passed script
### Actual behaviour
return false

### I'm seeing this behaviour on
- OS: Centos 6.5
- Redis: 3.0.7
- PHP: 5.6.1
- phpredis: 3.1.3

### Steps to reproduce, backtrace or example script
connect redis cluster...

$keys = ['test'];
$args = [100];
$sha1 = "727c0136efce8e1e7b34a5d1a29c87b77a9348ff";
$scri

[2017-09-29 09:45] ppanphper commented on #1245
**Cluster**

![cluster](https://user-images.githubusercontent.com/6057923/31010559-e5e3523a-a4d0-11e7-84f0-5d5f9e887439.jpg)

**Single node**
![singlenode](https://user-images.githubusercontent.com/6057923/31010571-ec7ffdfa-a4d0-11e7-84c9-fe4c74ec06f8.jpg)

[2017-09-30 11:36] shehi commented on #804
@michael-grunder , php7 is gone, we use develop branch now?

[2017-09-30 15:06] michael-grunder commented on #804
Yes phpredis supports php 5.x and 7.x from develop and multiple pecl releases.

[2017-10-02 08:01] yatsukhnenko commented on #1193
#1244

[2017-10-02 08:01] #1193 closed

[2017-10-03 11:44] s307553811 opened #1248 "How do I install phpredis for php7 ?"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos7
- Redis:2.8
- PHP:7.0
- phpredis:？？

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

How do I install  phpredis for php7 ?

[2017-10-03 12:07] remicollet commented on #1248
Where does you PHP comes from ?

Your package provider should also provide this extension.

Ex: using remi's repository:

`yum install php-pecl-redis`

See https://rpms.remirepo.net/wizard/

[2017-10-03 12:16] s307553811 commented on #1248
Thank you for your answer. My PHP installation package comes from LNMP
Https://lnmp.org/
My system is CentOS 7.3
My phpinfo page is...
Http://test.51pufa.cn/
I need to install the phpredis extensions
But I don't know how to install it
I am a novice
I hope you can

[2017-10-03 12:43] yatsukhnenko commented on #1248
@s307553811

[2017-10-04 12:24] yatsukhnenko commented on #1245
@ppanphper, btw `script` is so-called `direted` command. This mean that first parameter should be a key or `[host,port] array` to route command to node directly

[2017-10-04 22:45] mjourard opened #1250 "Supported PHP Version"
I'm looking for information on which versions of PHP are supported by which versions of phpredis. I can't seem to find this information in the repo. Not sure if this would have been better as an email so I apologize if it's out of place.

[2017-10-04 23:49] michael-grunder commented on #1250
Hi,

Here are the versions we test against automatically any time we push a commit:
https://travis-ci.org/phpredis/phpredis

2.2.8 and 3.0.0 were split to support php5 and php7 but newer pecl versions support everything in one branch.

[2017-10-05 07:28] #1245 closed

[2017-10-05 07:29] yatsukhnenko commented on #1248
Resolved

[2017-10-05 07:29] #1248 closed

[2017-10-05 15:18] ahmed-sigmalux commented on #1201
Any updates on this question?

[2017-10-06 07:23] zored commented on #1250
@michael-grunder thank you!

I was using `php7` branch in my project. Should I move to `3.0.0`?

[2017-10-06 07:25] yatsukhnenko commented on #1250
@zored you should use `develop` branch, `3.1.4` tag or the latest release from PECL

[2017-10-06 11:33] andrja15 opened #1252 "Segmentation fault"
### Expected behaviour
Segmentation fault
by ./composer.phar install

### I'm seeing this behaviour on
- OS: ubuntu 16.04
- Redis: 3.0.6
- PHP: 5.6.31
- phpredis: 3.1.4

### Steps to reproduce, backtrace or example script
http://dpaste.com/0VBVT25

### I've checked
the solution is - copy redis.so from phpredis: 3.1.3 to /usr/lib/php/20131226.

[2017-10-06 11:56] yatsukhnenko commented on #1252
@andrja15 I don't see any mentions of redis in provided backtrace

[2017-10-06 11:59] yatsukhnenko commented on #1252
This may be problem similar to #1224. Do you try extend Redis class?
`RedisMy extends \Redis`

[2017-10-06 12:56] andrja15 commented on #1252
yes, it's the same problem.

[2017-10-06 12:56] #1252 closed

[2017-10-06 12:58] andrja15 commented on #1224
Confirm too, OS: ubuntu 16.04, Redis: 3.0.6. PHP: 5.6.31, phpredis: 3.1.4
my backtrace: http://dpaste.com/0VBVT25.

[2017-10-06 20:28] yatsukhnenko commented on #971
Feel free to create new issue if crash will reproduce on 3.1.4

[2017-10-06 20:28] #971 closed

[2017-10-06 20:29] #1250 closed

[2017-10-10 04:06] PuShaoWei commented on #70
@itbdw 您说的`predis` 是`phpredis` 扩展还是其他什么新的东西呢？据我所知，设置`ini_set('default_socket_timeout', -1);`会导致`file_put_getcontents`始终挂起导致此次请求超时，您所说的杀死进程具体是什么样的可以分享一下吗

[2017-10-10 08:22] LooLx opened #1255 "where is php7 branch?"
PHP 7.1.10

[2017-10-10 08:24] caijiajia1992 commented on #1255
I'm not found too

[2017-10-10 09:10] yatsukhnenko commented on #1255
`develop` branch is compatible to php5 and php7, use it

[2017-10-10 09:10] #1255 closed

[2017-10-10 15:57] yatsukhnenko commented on #1172
No actions for a long time. Feel free to open new issue if error will reproduce with the latest version of phpredis.

[2017-10-10 15:57] #1172 closed

[2017-10-13 18:08] yatsukhnenko commented on #1238
@steffenweber could you test `develop` branch? Issue should be fixed

[2017-10-14 08:30] steffenweber commented on #1238
Unfortunately, the test script still opens a second connections instead of reusing the already established connection when using the "develop" branch. Tested as described above.

(Btw, the version of the "develop" branch is 3.1.4RC1, shouldn't it be 3.1.5RC1 because 3.1.4 is already final and the "develop" branch is supposed to be newer.)

[2017-10-14 19:48] yatsukhnenko commented on #1238
@steffenweber I fixed issue (and test changes with yours script for this time :smile:) and I updated version in header file

[2017-10-15 06:41] steffenweber commented on #1238
Now it's working, thank you! :smiley:

[2017-10-15 06:41] #1238 closed

[2017-10-15 11:06] yatsukhnenko commented on #977
Old issue without any activity for a long time. Feel free to open new issue if error still occurs with the latest stable version of phpredis

[2017-10-15 11:06] #977 closed

[2017-10-15 13:39] yatsukhnenko commented on #200
@michael-grunder are you going to implement this or close issue?

[2017-10-15 13:47] yatsukhnenko commented on #354
Old issue without any activity for a long time

[2017-10-15 13:47] #354 closed

[2017-10-15 16:33] jmvbxx commented on #1224
Any updates on this?

[2017-10-15 16:37] yatsukhnenko commented on #1224
No, now I have no idea why this happens

[2017-10-15 16:45] yatsukhnenko commented on #612
Persistent connection currently supported by redis cluster

[2017-10-15 16:45] #612 closed

[2017-10-15 16:47] yatsukhnenko commented on #688
Persistent connections currently supported by redis cluster

[2017-10-15 16:47] #688 closed

[2017-10-15 16:49] yatsukhnenko commented on #695
Old issue without any activity for a long time. Feel free to open new issue if crash will reproduce with the latest version of phpredis

[2017-10-15 16:49] #695 closed

[2017-10-15 16:51] yatsukhnenko commented on #737
Old issue without any activity for a long time

[2017-10-15 16:51] #737 closed

[2017-10-15 16:53] yatsukhnenko commented on #743
Old issue without any activity for a long time

[2017-10-15 16:53] #743 closed

[2017-10-15 16:55] yatsukhnenko commented on #757
Resolved

[2017-10-15 16:55] #757 closed

[2017-10-15 16:58] yatsukhnenko commented on #872
Issue should be fixed in the latest stable version of phpredis. Feel free to open new issue if you still see the crash

[2017-10-15 16:58] #872 closed

[2017-10-15 16:59] yatsukhnenko commented on #859
Old issue without any activitu for a long time

[2017-10-15 16:59] #859 closed

[2017-10-15 17:01] yatsukhnenko commented on #795
Old issue without any activity for a long time

[2017-10-15 17:01] #795 closed

[2017-10-17 08:08] dongyado opened #1257 "Is there a way to add multi geo data to redis"
there are 100 or more geo coordinates need add to redis. And now I need call geoAdd 100 or more times to add all data to redis.

I've check predis use executeRaw to add multi geo data,  and I found nothing about multi geoAdd.

So, if there is a way to solve this, please tell me. Thanks

[2017-10-17 08:15] yatsukhnenko commented on #1257
`geoadd` may receive variadic number of arguments so you can add multiple elements in single call

[2017-10-17 08:58] dongyado commented on #1257
@yatsukhnenko thanks, this work for me.

[2017-10-17 08:58] #1257 closed

[2017-10-17 13:07] tombouctou opened #1258 "SIGSEGV for hmget in some case"
### Expected behaviour
Running simple `hmget('index', ['key'])` should not fail

### Actual behaviour
leads to SIGSEGV

### I'm seeing this behaviour on
- OS: CentOS Linux release 7.4.1708 (Core), Linux 3.10.0-514.6.1.el7.x86_64
- Redis: Redis server v=4.0.2 sha=00000000:0 malloc=jemalloc-3.6.0 bits=64 build=5e81d0ebc9709a8a
  also tried on Redis server v=3.0.4 sha=00000000:0 malloc=libc bits=64 b

[2017-10-17 13:16] yatsukhnenko commented on #1239
@axot could you provide test script?

[2017-10-17 15:31] GITHUBKIMIA opened #1259 "Single node vs Cluster poor reading performance"
Hi there,
We are considering migrating from a classic master - slaves approach to Redis Cluster so we are running performance tests against two different setups: 1- Single Redis node 2- Basic Redis Cluster setup (3 masters/ 3 slaves)

The fact is that reading from the cluster (slaves) takes double time than reading from the single node, whether connections are persistent or not. (Writing also take

[2017-10-18 06:13] andrja15 commented on #1224
can we prepare additional information ? to solve this issue.

[2017-10-18 18:23] michael-grunder commented on #1259
Hey,

I ran your benchmark script and saw a similar performance dropoff using Redis Cluster.  That said, it gets a bit more interesting.

First, I wrote a small benchmark program in hiredis to eliminate phpredis from the equation entirely, which can be found [here](https://gist.github.com/michael-grunder/5171adc6f28520632fce4166d9d23446).  Following are the averages for different operations using

[2017-10-19 14:43] yatsukhnenko commented on #779
AFAIK `Redis::sDiffStore` may accept array as first argument

[2017-10-19 14:43] #779 closed

[2017-10-19 14:47] yatsukhnenko commented on #476
@michael-grunder can we close this issue as you have already implement Redis Cluster?

[2017-10-19 14:48] yatsukhnenko commented on #483
Old issue without any activity for a long time. Feel free to open new issue if error will reproduce with the latest stable version of phpredis

[2017-10-19 14:48] #483 closed

[2017-10-19 14:49] yatsukhnenko commented on #492
Duplicate #70

[2017-10-19 14:49] #492 closed

[2017-10-19 14:53] yatsukhnenko commented on #595
@michael-grunder since next release will contains breaking changes we may change return value of hget command. What do you think?

[2017-10-19 14:54] yatsukhnenko commented on #1258
@tombouctou could you provide test script?

[2017-10-19 14:55] yatsukhnenko commented on #1224
@remicollet could you give us an advice?

[2017-10-19 15:03] #476 closed

[2017-10-19 16:30] michael-grunder commented on #1224
I'll take a look over the weekend to see if I can narrow down the problem.  It might be useful to see if the problem exists (or is the same) in php 7.

[2017-10-19 16:41] tombouctou commented on #1258
cannot reproduce after environment change, will close for now

[2017-10-19 16:41] #1258 closed

[2017-10-19 16:50] yatsukhnenko commented on #1224
@michael-grunder php7 works fine

[2017-10-19 16:53] michael-grunder commented on #1224
That seems like a clue then.  We use a lot of methods to make both PHP5 and PHP7 compatible.  Probably something to do with that.

The good news is that PHP 5.6 will only be supported for 14 more months.  Maybe we make 4.0.0 PHP7 only?  😂

[2017-10-19 17:50] conradkdotcom opened #1261 "assert($redis->connect(...)) and "Redis server went away""
### Expected behaviour

No exception should be thrown

### Actual behaviour

`PHP Fatal error:  Uncaught RedisException: Redis server went away` is thrown

### I'm seeing this behaviour on
- OS: Debian Jessie 8.9
- Redis: 2.8.17
- PHP: 7.0.24
- phpredis: 3.1.3

### Steps to reproduce, backtrace or example script

- Start a redis server on `127.0.0.1:6379`
- Run this script with `php test.php`:
[co

[2017-10-19 18:44] michael-grunder commented on #1261
This is weird.  It only seems to be a problem in php 7 as the test works just fine on php5.x.

[2017-10-19 19:06] #1261 closed

[2017-10-19 19:26] conradkdotcom commented on #1261
Thanks for looking into this @michael-grunder ! Indeed, this is apparently not a bug in phpredis

[2017-10-19 19:33] yatsukhnenko commented on #1048
Merged into `develop`

[2017-10-19 19:33] #1048 closed

[2017-10-20 13:48] yatsukhnenko commented on #1224
@MichaelBrenden, @stas-dovgodko, @andrja15, issue should be fixed in `develop` branch. Could you test it?

[2017-10-20 13:51] yatsukhnenko commented on #1224
@michael-grunder, I've broken your tricky plan :smile:

[2017-10-20 19:57] yatsukhnenko commented on #188
Old issue without any activity for a long time.

[2017-10-20 19:57] #188 closed

[2017-10-20 20:01] yatsukhnenko commented on #531
Duplicates #88

[2017-10-20 20:01] #531 closed

[2017-10-20 20:01] yatsukhnenko commented on #590
Supported :)

[2017-10-20 20:01] #590 closed

[2017-10-20 20:06] yatsukhnenko commented on #768
Old issue without any activity for a long time.

[2017-10-20 20:06] #768 closed

[2017-10-20 20:08] yatsukhnenko commented on #818
Fixed in >= 3.1.3

[2017-10-20 20:08] #818 closed

[2017-10-20 20:10] yatsukhnenko commented on #857
Not a bug

[2017-10-20 20:10] #857 closed

[2017-10-21 02:39] axot commented on #1239
I can not reproduce this with a simple script, it only happened in our production environment.

It occurred from `_php_stream_xport_create` in
https://github.com/php/php-src/blob/c8aa6f3a9a3d2c114d0c5e0c9fdd0a465dbb54a5/main/streams/transports.c#L148

for php-redis, it should be here in `library.c`
https://github.com/phpredis/phpredis/blob/1519cb586add370e7f5a2e8b368da8960b4a7294/library.c#L1461

[2017-10-21 05:24] yatsukhnenko commented on #1239
@axot, may be you should modify settings on your servers?

[2017-10-21 06:44] axot commented on #1239
@yatsukhnenko Did you meaning modify settings of Redis server?
Any related turnable parameters I can get a try?

[2017-10-21 06:46] axot commented on #1239
Any way, our C++ program which using `hiredis-vip` library did not suffer by this issue.

[2017-10-21 11:02] yatsukhnenko commented on #1239
@axot, try to increase `tcp-backlog` and `maxclients`. Your c++ program may silently reconnect...

[2017-10-21 19:09] yatsukhnenko commented on #1188
https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#session-handler

[2017-10-21 19:09] #1188 closed

[2017-10-21 19:16] yatsukhnenko commented on #1143
Duplicate #1133

[2017-10-21 19:16] #1143 closed

[2017-10-21 19:21] yatsukhnenko commented on #1058
Old issue without any activity for a long time.

[2017-10-21 19:21] #1058 closed

[2017-10-21 19:21] yatsukhnenko commented on #1049
Old issue without any activity for a long time.

[2017-10-21 19:21] #1049 closed

[2017-10-21 19:24] yatsukhnenko commented on #1010
Yes :)

[2017-10-21 19:24] #1010 closed

[2017-10-21 19:25] yatsukhnenko commented on #976
Old issue without any activity for a long time. Feel free to open new issue if error will reproduce with the latest stable version of phpredis.

[2017-10-21 19:25] #976 closed

[2017-10-21 19:27] yatsukhnenko commented on #936
Yes it will throw an error :)

[2017-10-21 19:27] #936 closed

[2017-10-21 19:29] #854 closed

[2017-10-21 19:31] yatsukhnenko commented on #815
I don't see any duplicates. Seems fixed.

[2017-10-21 19:31] #815 closed

[2017-10-21 19:32] yatsukhnenko commented on #781
Duplicate #1148

[2017-10-21 19:32] #781 closed

[2017-10-21 19:35] yatsukhnenko commented on #208
Old issue without any activity for a long time.

[2017-10-21 19:35] #208 closed

[2017-10-23 03:34] michael-grunder commented on #983
First draft of documentation and a minor fix is up here:
https://github.com/phpredis/phpredis/tree/geocmds-documentation

[2017-10-26 02:35] axot commented on #1239
@yatsukhnenko Even we tuned tcp related parameters,

Did not disappeared.

Here is our parameters.

## Redis related parameters, our cluster is behind in a AWS NLB(Network Load Balancer)
[code]

## Kernel
[code]

If 3.1.4 will throw an exception an redis command when timeout happens, we can catch it, and try to connect again.

[2017-10-26 13:47] Jan-E opened #1263 "Build on Windows is broken"
Building the extension on Windows is broken at the moment:
https://github.com/phpredis/phpredis/commit/29ecb049812db01de1d785ee1cc304fad1533185#commitcomment-25208629

### I'm seeing this behaviour on
- OS: Windows VC14
- PHP: 7.0, 7.1, did not check 7.2+VC15 yet
- phpredis: git head

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2017-10-26 15:10] AdvancedStyle commented on #571
I'm also having this issue on AWS EC2 + Elasticache.    Only a few random times in many connections, but enough to be a problem.

[2017-10-26 16:01] DartBond commented on #571
@gianpaolodn, sorry for time to reply.
I use redis without native library. By using socket connection like Yii2 library - https://github.com/yiisoft/yii2-redis/blob/master/Connection.php

[2017-10-26 16:01] michael-grunder commented on #1263
Hey thanks for reporting the issue.  My fault as it didn't cross my mind that this would need to be different in Windows when it should have.

I don't have any Windows machine but I will upload a branch with an attempted fix shortly.

Cheers!
Mike

Also:
![screen shot 2017-10-26 at 8 59 10 am](https://user-images.githubusercontent.com/468149/32063419-f8658868-ba2b-11e7-9404-e0b8b53ddc0d.png)

[2017-10-26 16:27] gianpaolodn commented on #571
@DartBond in my case the problem is the firewall and ipv6.

[2017-10-26 17:41] michael-grunder commented on #1263
@Jan-E Bit of a blind shot in the dark but does this get you closer?
https://github.com/phpredis/phpredis/tree/fix-win32-tcp_keepalive

[2017-10-26 19:57] Jan-E commented on #1263
Compiles on Win32 VC15 x64 PHP 7.2.0RC5 ZTS. Did not check others yet.

[2017-10-26 21:06] Jan-E commented on #1263
Compiles fine in all 12 PHP7 versions: 7.0.25, 7.1.11, 7.2.0RC5, ZTS/NTS, x86/x64

[2017-10-27 00:32] AdvancedStyle commented on #571
I found that my problem was creating too many new connections to the redis server, so changing to use "pconnect" instead of  "connect" and adding ?persistent=1 in the session handle URL fixed the issue for me..

[2017-10-27 02:15] michael-grunder commented on #1263
Awesome, glad it's working again.

Thanks for verifying for us!

[2017-10-27 02:15] #1263 closed

[2017-10-27 07:16] yatsukhnenko commented on #1224
Resolved

[2017-10-27 07:16] #1224 closed

[2017-10-28 18:27] Jan-E commented on #1263
Is there a reason, why you did not merge this into the default branch?

[2017-10-28 18:31] michael-grunder commented on #1263
Yes, because I forgot.  I was literally in the process of merging when I saw your message!  :smile:

[2017-10-28 18:39] Jan-E commented on #1263
OK, fine. Thanks for the fix.

BTW: would not an appveyor setup be anything for you? A virtual Windows box...

[2017-10-28 19:23] michael-grunder commented on #1263
I'll look into appveyor.  They say it is free for OSS projects so that could be quite useful.  I may end up needing direction on how to properly configure VS to build PHP as I haven't worked with VS for a very long time.

[2017-10-28 19:36] Jan-E commented on #1263
First shot: https://github.com/Jan-E/phpredis/pull/1

[2017-10-28 19:39] Jan-E commented on #1263
You did not have a LICENSE and no standard phpt-tests, but otherwise it is a good check:
https://ci.appveyor.com/project/Jan-E/phpredis/build/develop.build.6

[2017-10-28 20:03] Jan-E commented on #1263
https://github.com/phpredis/phpredis/pull/1264

[2017-10-31 02:34] pygmalion666 commented on #1239
+1

[2017-11-03 14:58] adioe3 commented on #1210
Howdy! I've encountered this with phpredis 3.1.4 and PHP 5.6 from https://deb.sury.org (Ubuntu zesty repo). I can always reproduce it with this script:

[code]

It blows up when I try to set the variable in the overloaded constructor.

[2017-11-03 15:19] remicollet commented on #1210
Great, now much easier with a simple reproducer:

[code]

[2017-11-03 15:36] yatsukhnenko commented on #1210
#1224

[2017-11-03 15:36] yatsukhnenko commented on #1210
Already fixed in `develop` branch

[2017-11-03 15:39] adioe3 commented on #1210
@yatsukhnenko will the fix be in 3.1.5?

[2017-11-03 15:49] yatsukhnenko commented on #1210
@adioe3, I'm not sure about 3.1.5. We are going to publish next release as 4.0.0 because it will contains breaking changes.

[2017-11-03 15:50] adioe3 commented on #1210
Okay, I'll keep watch on the Releases page. Thank you very much for the fast reponse. :bowing_man:

[2017-11-03 16:50] ccovey opened #1265 "Persistent connections still using new connections"
### Expected behaviour
pconnect uses the same connection for all connections made to redis with the same connection parameters.

### Actual behaviour
When we call `pconnect('127.0.0.1', 6379)` it increments the connection counter in redis info and I see another connection in netstat. I would expect that I would see an initial increment for the first connect but subsequent requests should not actua

[2017-11-03 18:23] yatsukhnenko commented on #1265
Could you test the latest code from `develop` branch?

[2017-11-03 19:21] ccovey commented on #1265
Going to close this. The problem was 0 timeout is not actually unlimited. Changed to -1 and all was working as expected.

[2017-11-03 19:21] #1265 closed

[2017-11-03 19:49] dzuelke commented on #1210
Would be great to have a 3.1.5 in that case as well @yatsukhnenko, otherwise people who can't (or can't quickly, at least) upgrade to 4.0.0 will be unable to get a fix for this regression.

[2017-11-04 08:35] invokers123 opened #1266 "zDelete - Remove one or more members from a sorted set"
Cannot bulk delete from "Sorted sets" as we can do with "Keys"

`$redis->delete(array('key3', 'key4'));`

However in the master docs branch it says:

Here is the example code:
`$redis->zAdd('key', 0, 'val0');`
`$redis->zAdd('key', 1, 'val2');`
`$redis->zAdd('key', 2, 'val3');`
`echo $redis->zDelete('myKey', array('val0', 'val2', 'val3'));`

### Expected behaviour
Should Return LONG 1 on success

#

[2017-11-04 09:52] yatsukhnenko commented on #1266
Try `$redis->zDelete('myKey', 'val0', 'val2', 'val3');`

[2017-11-04 10:36] invokers123 commented on #1266
Your suggestion did worked.

`$redis->zDelete('myKey', 'val0', 'val2', 'val3');`

But i think `zDelete` should accept a single dimension array.
Just like:
`$redis->delete(array('key3', 'key4'));`

I am not sure how i am going to do this dynamically? However i can easily build an array of member names to be removed from the set.

[2017-11-04 10:43] Jerry-Shaw commented on #1266
@invokers123 Yep, I found some similar options in phpredis, array would be more easier to control comparing with single values.

[2017-11-04 12:23] yatsukhnenko commented on #1266
`call_user_func_array(array($redis, 'zDelete'), array('key', 'val0', 'val1'))`

[2017-11-04 12:56] Jerry-Shaw commented on #1266
Sorry, all forgot about this, haha.

[2017-11-04 13:04] #1266 closed

[2017-11-08 12:56] remicollet commented on #1210
Just for RPM users information, version **3.1.4** in my [repository](https://rpms.remirepo.net/) includes the fix for this issue.

[2017-11-08 15:15] jmfontaine commented on #1210
@remicollet I confirm that the package `php-pecl-redis-3.1.4-3.el7.remi.5.6` fixes the issue we were facing.

[2017-11-09 07:41] hhxsv5 commented on #943
I got the same problem, changing the version to 2.x cannot work.

[2017-11-09 18:31] hosef commented on #943
The test for the debug function was removed in 79cb6a8905ad8e2d2900e1b51db5fdaf37129632 during a refactoring of the unit tests.
The debug function itself was then later removed in 1f5aa6e8ed3c9852c451080e9017d1b8fb43e665.

[2017-11-09 19:06] michael-grunder commented on #943
Hey everyone,

The reason phpredis returns true/false for debug is that the way we process simple string replies is to turn them into a boolean.  This is actually what most people want for virtually every other command (e.g. we don't return `"+OK"` but rather `true` for a set command).

There is a currently open pull request related to this problem that lets phpredis interact with Disque [here](ht

[2017-11-11 20:19] michael-grunder opened #1267 "Session locking"
Creating this issue to track session locking functionality added by @SkydiveMarius.

The branch with locking functionality can be found [here](https://github.com/phpredis/phpredis/tree/session-locking)

Session locking is now possible for the Redis session handler by enabling it in your PHP INI file.  Original description of how that works [here](https://github.com/phpredis/phpredis/pull/1181#issu

[2017-11-14 03:36] Rudigern opened #1268 "Delete operation not available on Redis cluster"
### Expected behaviour
To be able to use delete()
### Actual behaviour
Have to use del()

### I'm seeing this behaviour on
- OS: CentOS 7
- Redis: 3.2.6
- PHP: 5.6
- phpredis: latest

### Steps to reproduce, backtrace or example script
Use Redis cluster

### I've checked

- [-] Issue isn't fixed in `develop` branch

When moving to Redis cluster my delete operation failed due to it being undefined.

[2017-11-14 03:56] michael-grunder commented on #1268
Hi,

I'm torn on this issue.  DELETE isn't a Redis command, it's an alias for DEL that phpredis included way before I was involved on the project.

When I implemented redis cluster I didn't bring those aliases to the new functionality but tried to maintain a one to one mapping of actual redis commands to phpredis command functions.

So in other words this was intentional on my part.  That being sa

[2017-11-14 04:05] Rudigern commented on #1268
I know what you mean, I guess I got caught up because in the documentation examples it uses delete(), so thats what I used when using a single node. It took me 5 seconds to change once I realised, however it probably should be consistent.

[2017-11-14 04:08] Rudigern commented on #1138
Just tested session fail over on redis cluster in AWS. Sessions were maintained however I had to restart apache on one of the two front facing servers.

[2017-11-14 04:11] axot commented on #1239
@yatsukhnenko Could you try this test script, in my environment, I got

Use a lower usleep it will get an kernel error,

`net/ipv4/inet_timewait_sock.c:kmem_cache_alloc` fails in this case.
[code]

[code]

[2017-11-14 12:27] tokozedg commented on #1079
tcp-backlog setting was causing for us.
More at: http://shokunin.co/blog/2014/11/11/operational_redis.html

[2017-11-15 10:04] axot commented on #1239
This issue may be only occurred in CentOS 7.

[2017-11-17 13:01] adlagares commented on #883
Hello,

we have found a problem that could bu related with this. Using phpredis-3.1.4 and php-7.1.19.

When Redis Cluster seeds are distributed in same ports of differents hosts (IPs) the method cluster_init_seeds of cluster_library.c only register one seed by port in HasTable.

This problem occurs because the variable redis_sock->host is used as input parameter of method zend_hash_str_update_ptr

[2017-11-17 14:18] yatsukhnenko commented on #883
@adlagares, nice catch! Could you create a pull request with your fix instead of attaching zip archive?

[2017-11-20 03:15] axot commented on #1239
This issue was solved by replace AWS `Network Load Balancer` to `Elastic Load Balancer` in front of our Redis Clusters.

[2017-11-20 03:17] axot commented on #1239
@yatsukhnenko When a Redis node fails, does php-redis will exclude that node? Or we have to use a load balancer to handle failover

[2017-11-20 07:20] yatsukhnenko commented on #1239
@axot, what do you mean exclude? On start phpredis asks cluster about its state and forget about it after web transaction is finished.

[2017-11-20 08:01] yatsukhnenko commented on #883
@adlagares 6202047

[2017-11-20 08:58] adlagares commented on #883
@yatsukhnenko sorry for not creating a Pull Request. I´m newbe at github so I was reading about collaboration workflow before forking.

I will create Pull Request next time!

[2017-11-20 09:02] axot commented on #1239
@yatsukhnenko

[code]
If `host1_master` get to be unreachable, in my test, it will generate many `PHP Warning:  RedisCluster::__construct(): connect() failed: Connection refused` errors in `php.log` even `host1_slave` is promoted to master. Because of the fail-back process for `host1_master` may take up to xx minutes, `php.log` file will be much bigger, and is this period disk IO may reach its lim

[2017-11-20 09:37] yatsukhnenko commented on #1239
https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#connection-process
If fault server is in your config then phpredis tries connecting to it on almost every http request.

[2017-11-20 10:04] #1239 closed

[2017-11-20 10:18] freultwah opened #1269 "Build error with PHP 7.2 RC6"
It appears that PHP 7.2 has changed some APIs and renamed some files, so phpredis no longer builds cleanly.

### Expected behaviour

phpredis builds.

### Actual behaviour

 cc -I. -I/root/phpredis -DPHP_ATOM_INC -I/root/phpredis/include -I/root/phpredis/main -I/root/phpredis -I/usr/local/include/php -I/usr/local/include/php/main -I/usr/local/include/php/TSRM -I/usr/local/include/php/Zend -I/usr/l

[2017-11-20 10:25] remicollet commented on #1269
Cannot reproduce, 3.1.4 just build finely.

[2017-11-21 07:44] yatsukhnenko commented on #37
Closing this issue in favour to #1267

[2017-11-21 07:44] #37 closed

[2017-11-21 16:33] mrmark commented on #1267
Thanks for doing this, this will be really wonderful.  I saw you are releasing the lock in `PS_CLOSE_FUNC`, does that auto-release the lock when the process closes?  That's something that I have had problems with in user land session locking, some cases you cannot release the lock because PHP just stopped running user code.  Didn't see this problem though with extensions that handled their own ses

[2017-11-21 19:56] SkydiveMarius commented on #1267
Thanks for the positive feedback, credits also for @KiNgMaR for his support during development.
@mrmark Would be nice if you could support us by testing the feature in similar environments as production.

As @michael-grunder already mentioned, a TTL is defined for the locking key (*_LOCK) in Redis to release the lock if the process dies unexpectedly.
By default TTL is equal to may_execution_time,

[2017-11-21 20:30] fmilovanov opened #1270 "RedisCluster fails during failover"
### Expected behaviour
During failover (before cluster is rebuilt), hgetall() should read from read replicas.

### Actual behaviour
During failover, hgetall() throws RedisClusterException: "The Redis Cluster is down (CLUSTERDOWN)".

### I'm seeing this behaviour on
- OS: Amazon Linux
- Redis: AWS Redis Cluster 3.2.4
- PHP: 7.1.10
- phpredis: 4.1.2

### Steps to reproduce, backtrace or example scri

[2017-11-21 20:37] mrmark commented on #1267
This sounds good.  My particular use case was with Nginx killing the process if it took too long.  I'm hoping `PS_CLOSE_FUNC` is the cure.

I'll throw it onto my todo list, but I'll likely wait until cluster support is ready since we use both.

Cheers and thanks all!

[2017-11-21 20:55] michael-grunder commented on #1270
Hey,

I don't know if there is anything we can do from the library here.  You can test this behavior by spinning up a simple redis cluster instance locally and then issuing `debug segfault` on enough of the nodes for Redis to get into a `clusterdown` state.

Then, even using redis-cli on a still live node it will simply give you the `CLUSTERDOWN` error.

[code]

This is happening in Redis.

[2017-11-22 07:57] kiransortur opened #1271 "how do I include this phpredis in my custom apache. I am trying to load module with "LoadModule php5_redis modules/redis.so" in my httpd.conf, but getting error undefined symbol php5_redis."
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2017-11-22 08:20] yatsukhnenko commented on #1271
Incorrectly formatted issue

[2017-11-22 08:20] #1271 closed

[2017-11-22 09:39] heidji opened #1272 "Occasionally, phpredis serializes data incorrectely"
### Expected behaviour
Data gets serialized the way it is configured to.

### Actual behaviour
Occasionally at very random keys, phpredis encodes the data with SERIALIZER_PHP although SEARIALIZER_IGBINARY is configured.
(Also when php serializer is configured, objects would occasionally get stored with wrong object type declarations, but I don't have proof for this case because we switched to igbi

[2017-11-22 12:51] TNAJanssen commented on #1272
Yep, having the same issue on 1 server i have the issue and on a different server it's not present (same version of everything)

[2017-11-22 13:07] TNAJanssen commented on #1272
Found out that the issues is with igbinary serializing, when using
`$this->redis->setOption(Redis::OPT_SERIALIZER, Redis::SERIALIZER_NONE);`

There is not issue anymore!

[2017-11-22 13:18] heidji commented on #1272
@TNAJanssen We had the same issue also with SERIALIZER_PHP. Some of the object were stored incorrectly just like with igbinary serialization..
We were thinking of serializing the data manually with your proposed setup as a workaround but after one day of 0 crashes with the manual integrity check on store we are settling for the current setup for now.
This bug is very irritating since it doesn't ha

[2017-11-26 01:17] 719media commented on #831
Question, how is this resolved? I am running the latest redis version from AWS (Redis 3.2.10) and using the latest phpredis (3.1.4) in my load-balanced environment and I still get this error. I get it from time to time on a single server (while other servers continue to operate normally), and the issue is fixed by `service php-fpm restart`.

[code]

these errors are from various lines in the code

[2017-11-27 07:01] yatsukhnenko commented on #831
@719media `protected-mode no` option fixed the problem. If you have a similar problem and steps to reproduce it you always may to open new issue

[2017-11-29 02:39] TomA-R opened #1273 "Improve connection error"
connect() returns false if a connection could not be established and triggers a php warning. Seems like the only way to actually get the connection error message is by adding an error handler around the connection statement and capturing the php warning. I think it would make sense to create a method/property similar to mysqli::connect_error/mysqli_connect_error(). getLastError() requires an activ

[2017-11-29 08:35] Deroin commented on #1270
I don't know if this is related but I just tested phpredis cluster capabilities yesterday and noticed the following behavior:

I have a cluster setup of 6 nodes (A1, B1, C1, A2, B2, C2) set up. Cluster internal failover is working as expected.

When I connect PHPRedis to the cluster providing all nodes, `get()` works as expected.
Now let's say I have a key that is stored in a hash slot managed by

[2017-11-29 10:04] beyosoft opened #1275 "redis_sock_connect raise origin error message and code will be better?"
### Expected behaviour
raise origin error message and code when redis_sock_connect failed.
### Actual behaviour
no detail message, Only Redis went away
### I'm seeing this behaviour on
- OS:  Centos 6.8 x64
- Redis: 4.0
- PHP: 5.6.30
- phpredis: 3.1

dear author of phpredis,  I'm from China, a developer of PHP, thank you for phpredis,  there is my submit:

### library.c  redis_sock_connect
[code]

[2017-11-29 18:54] 719media commented on #831
Unfortunately I don't have access to change that parameter in AWS from what I can tell. I ended up just using connect() instead of pconnect() to address the issue.
I wish I could reproduce the problem with a test case, I would happily provide one.
Thank you for your time.

[2017-11-29 22:01] kirooha opened #1276 "Segmentation fault with unit tests"
### Expected behaviour
Correct complete of script
### Actual behaviour
Exit code 139

### I'm seeing this behaviour on
- OS: Ubuntu 17.04 zesty zapus
- Redis: 3.2.1
- PHP: 5.6
- phpredis: 3.1.2

### Steps to reproduce, backtrace or example script
That is reproduced on phpredis 3.1.4 and 3.1.3 and not reproduced on 3.1.2. and 3.1.1
furthermore, it's reproduced with php5.6 and not with php7.1

I hav

[2017-11-29 23:19] michael-grunder commented on #1276
I'm away from my computer but does it crash using the develop branch?

[2017-11-30 05:14] yatsukhnenko commented on #1276
Probably it is the same problem as in #1224

[2017-11-30 09:29] taiyonoryoshy commented on #1276
@michael-grunder it doesn't, I think the issue can be closed
could you tell when that fix will be in master?
thank you!

[2017-12-01 08:56] warrenzhu25 commented on #600
You can try Predis, it supports SSL officially.

[2017-12-04 08:27] ken880812 opened #1277 "Segmentation fault after calling zrevrange with the 4th argument set true"
### Expected behaviour
No segfault
### Actual behaviour
after calling zrevrange whit the 4th argumeng set to true,  segment fault occurred.
### I'm seeing this behaviour on
- OS:  centos 7
- Redis: 2.4
- PHP: 7.0.5
- phpredis: 3.1.4\3.1.5RC1\develop

### Steps to reproduce, backtrace or example script
redis-cli -h xxx -p xxx

[code]
### I've checked
- [yes ] There is no similar issue from other us

[2017-12-04 09:12] yatsukhnenko commented on #1277
@ken880812, thank you for the report but I can't reproduce this issue locally. Could you additionally provide backtrace for this crash?

[2017-12-04 09:19] yatsukhnenko commented on #1277
@ken880812, do you really run redis-2.4? :smile:

[2017-12-04 15:33] yatsukhnenko commented on #70
Closing this issue as it is too old and contains a lot of unnecessary information...
Lets say that `ini_set('default_socket_timeout', -1);` and `$redis->setOption(Redis::OPT_READ_TIMEOUT, -1);` fixes it :smile:
Please open new issue If somebody can reproduce `read error on connection` with the latest stable or develop version of phpredis.

[2017-12-04 15:33] #70 closed

[2017-12-05 01:28] PuShaoWei commented on #70
[code]
Ashamed, however, do not solve the problem :astonished:

[code]

[2017-12-05 05:02] #1277 closed

[2017-12-08 17:19] #88 closed

[2017-12-09 21:52] Rambomst commented on #524
I appear to be getting this issue on the latest version.

OS: FreeBSD 10.3-RELEASE
PHP: 5.6.19
phpredis: 3.1.4
Redis: 3.2.10

The code I run to reproduce the issue:
`$redis->set('key', null, 1000);`
OR
`$redis->set('key', null, ['NX', 'EX' => 1000]);`

[2017-12-10 07:37] yatsukhnenko commented on #524
@Rambomst I can't reproduce this segfault locally on Linux. Tomorrow I will try on FreeBSD. Could you open new issue and provide test script and backtrace?

[2017-12-10 21:44] Rambomst commented on #524
@yatsukhnenko In the process of getting that information for you I updated xdebug to the latest version and now I am unable to replicate the seg fault. If it comes back I will open an issue with backtraces etc.

[2017-12-12 08:52] Denitz opened #1282 "Redis::exists() returns INT while according to README.markdown it returns BOOL"

[2017-12-12 09:11] yatsukhnenko commented on #1282
Incorrectly formatted issue

[2017-12-12 09:11] #1282 closed

[2017-12-14 18:11] oo000oo opened #1284 "zRangeByLex not working"
### Expected behaviour
Described in PhpRedis docs:
https://github.com/phpredis/phpredis#zrangebylex
[code]
Examples and other experiments returns empty array.

### Actual behaviour
Silently return empty array() in PHP.
Works nice with native Redis-CLI.

### I'm seeing this behaviour on
- OS:  Debian 9.2
- Redis: 4.0.6
- PHP: 7.0.26-1
- phpredis: 3.1.3

### Steps to reproduce, backtrace or example

[2017-12-15 15:39] yatsukhnenko commented on #1284
@oo000oo, I can't reproduce this issue locally and @ndxbn added tests for zRangeByLex.
[TravisCI](https://travis-ci.org/phpredis/phpredis/jobs/316968909) .

[2017-12-18 07:55] heidji opened #1286 "Skip auto serialization?"
The majority of my development requires to serialize the data in Redis, but there are 2 lines that require the data to be stored as INT (for counters).
Is there a way to skip auto-serialization while setting the key/value pairs?

I don't want to get->change->set because to avoid possible conflicts when the counter is being set by many users at the same time.

[2017-12-18 08:01] heidji commented on #1286
Ok i found a workaround for this just right now. for counters you could just SET the value initially using incr, that way the data won't get serialized.

The question is still valid because it might become useful for other cases when serialization is not needed.

[2017-12-18 08:15] ndxbn commented on #1286
about PHP Session's serialization ?

[2017-12-18 08:18] heidji commented on #1286
I have this setting up:
`$redis->setOption(Redis::OPT_SERIALIZER, Redis::SERIALIZER_PHP);`
I need a way to skip this setting during setting a value whenever i want, something like:
`$redis->set('key1', 123, SKIP_SERIZALIZER) `

[2017-12-18 08:47] yatsukhnenko commented on #1286
[code]

[2017-12-18 09:06] heidji commented on #1286
..the workaround also should not be something like "change the setting globally then change it back".
I have a very busy server with thousands of Redis operations / second. A small timing conflict and my repository is kaputt

[2017-12-18 09:23] mouhong opened #1287 "How to retrieve real connection error message?"
I use several redis instances in my application (each redis instance stores different data), so if one redis failed, I would like to know which redis failed. Here's my configuration:
[code]

Then in my code:
[code]
So if I get a redis connection error, I know which redis went wrong by checking the `$name` in the error message. But the problem is, the above code doesn't work. `Redis::connect()` wil

[2017-12-18 09:31] heidji commented on #1286
ok i forgot to mention i am using PHPredis as a singelton. I don't create a new connection for each operation because there are too many. Nevermind, thanks for your help

[2017-12-18 09:31] #1286 closed

[2017-12-18 17:26] yatsukhnenko commented on #1287
Could you test fix from `issue.1287` branch? It stores connection error to `redis_sock->err` and can be accessed through `getLastError`

[2017-12-18 17:27] yatsukhnenko commented on #1275
Could you test fix from `issue.1287` branch? It stores connection error to `redis_sock->err` and can be accessed through `getLastError`

[2017-12-19 07:23] TIGERB commented on #129
@chobie good!

[2017-12-19 12:13] edefimov opened #1288 "Can not start session: Failed to initialize storage module"
### Expected behaviour
Session is strarting normally

### Actual behaviour
Function `session_start` is failed with error
[code]
### I'm seeing this behaviour on
- OS: Linux 4.13.0-19-generic #22-Ubuntu SMP Mon Dec 4 11:58:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- Redis: 4.0.6
- PHP: 7.1.12
- phpredis: 3.1.4
- Nginx + FPM

### Steps to reproduce, backtrace or example script
1. Add session settin

[2017-12-19 14:49] yatsukhnenko commented on #1288
According to example in [documentation](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#loading-a-cluster-configuration-by-name) you shouldn't use `tcp://` in seed names

[2017-12-19 15:09] edefimov commented on #1288
@yatsukhnenko Thanks, that helped

[2017-12-19 15:11] #1288 closed

[2017-12-20 03:37] HDANILO commented on #1183
Any update on this issue? Using phpredis + php-fpm with php version 5.6 and encountered an issue this week where one machine was returning false to hgetall to a key that clearly existed. The issue fixed itself after sometime which points to persisted connection failure(once the persisted connection was flushed, all started working again)

[2017-12-20 15:59] yatsukhnenko commented on #1276
Fix merged to `master` and released on PECL site

[2017-12-20 15:59] #1276 closed

[2017-12-20 18:16] HDANILO commented on #1222
Do we have update on this? It is only happening to persistent connection on RedisCluster?

[2017-12-21 21:28] yatsukhnenko commented on #1273
Could you test fix from `issue.1287` branch? It stores connection error to redis_sock->err and can be accessed through getLastError

[2017-12-22 14:14] TomA-R commented on #1273
Thanks a lot @yatsukhnenko - I did some basic testing, seems great. I'm currently on holidays so can't test with a lot of scenarios, but judging by the code it should work in all scenarios!

👍

[2017-12-23 08:15] asharpe commented on #1267
Another thanks for doing this, much appreciated :)

I'd just like to confirm the expected behaviour when not being able to acquire the lock, and I'll give it a go by walking through the code as I see it.

If we fail to acquire the lock at session startup (https://github.com/phpredis/phpredis/blob/session-locking/redis_session.c#L613) there will still be a request to get the session data.  Assuming

[2017-12-23 10:19] asharpe commented on #1267
I'm using php 5.4 on scientific linux 6 and am having trouble with this branch and `session_regenerate_id(true)`.  Should this be expected to work?

The tests all pass during the build.

[2017-12-28 14:39] bogdan-dubyk opened #1290 "sRem not working with multiple members"
### Expected behaviour
[code]

method `call_user_func_array([$redis,` 'sRem'], [1, 2]);` should return 1
### Actual behaviour
 method `call_user_func_array([$redis, 'sRem'], $values);` returning false
also I tried `$redis->sRem($key, [1, 2]);` and same result but it working for single value `$redis->sRem($key,1 );`
### I'm seeing this behaviour on
- OS: Debian Jessy
- Redis: 3.2
- PHP: 7.1
- phpre

[2017-12-28 14:52] yatsukhnenko commented on #1290
You didn't set the key. Try `call_user_func_array([$redis,` 'sRem'], [$key, 1, 2]);`

[2017-12-28 15:09] bogdan-dubyk commented on #1290
lol, thank you @yatsukhnenko. Such a stupid mistake, and take a lot of time :(

[2017-12-28 15:09] #1290 closed

[2017-12-28 21:12] SkydiveMarius commented on #1267
Thanks for reporting this issue.
Im in holiday until 07.01. I will have a look as soon I'm back.

[2018-01-01 23:27] TomA-R commented on #1273
Hi @yatsukhnenko,

I've run some tests and it doesn't seem like it's possible to call ```getLastError()``` when there is no established Redis connection. It will throw an ```Exception```.

[code]

Setting no_throw to 1 in getLastError (```redis.c:3059```) avoids this, but still no error is returned, since redis_sock is NULL and false is returned (```redis.c:3060```).

In short, getLastError needs

[2018-01-02 04:14] rexchen123 opened #1292 "RedisArray: default distributor is not workable"
[code]

### Actual behaviour

The host target is always be the first one.

May be integer overflow in `hash * ra->count`.

https://github.com/phpredis/phpredis/blob/develop/redis_array_impl.c#L484
[code]

Fixed with
[code]

### I'm seeing this behaviour on
- OS:  ubuntu 14.04 64
- Redis: *
- PHP: 7.1
- phpredis: 3.1.4

[2018-01-02 11:29] yatsukhnenko commented on #1292
@rexchen123 thank!
Regression was added in c9df77db57494c70143eff99341b9e36152a1df8
I'll revert previous implementation

[2018-01-02 11:45] yatsukhnenko commented on #1292
@rexchen123 could you test `develop` branch again?

[2018-01-03 02:14] rexchen123 commented on #1292
@yatsukhnenko  It works good on `develop` branch now, thanks!

[2018-01-03 09:22] #1292 closed

[2018-01-03 09:59] xiezhenye commented on #1207
got the same problem
I'm using PHP 7.1.3,phpredis 3.1.5

[2018-01-05 02:10] neerolyte commented on #1267
The current defaults for [lock_wait_time (2000 usecs)](https://github.com/phpredis/phpredis/blob/5a3f762/redis_session.c#L276) and [lock_retries (10)](https://github.com/phpredis/phpredis/blob/5a3f762/redis_session.c#L282) seem excessively small - out of the box phpredis is only waiting a total of 20ms before giving up on the lock and using the session as is. The [default timeout for the memcache

[2018-01-05 04:02] michael-grunder commented on #1267
I think you're probably right that 2000 usecs is to small for the default retry wait time and should _probably_ be some number of milliseconds (maybe 50 or 100 by default?).  I'm guessing a 2 millisecond delay is effectively zero (will get lost in the normal network latency).

[2018-01-05 09:53] szepeviktor opened #1293 "Changelog"
@yatsukhnenko Could it be that changelog is not included with recent releases?

[2018-01-05 09:57] szepeviktor commented on #1293
Only missing from the develop branch: https://github.com/phpredis/phpredis/blob/master/package.xml#L99-L128

[2018-01-05 13:29] SkydiveMarius commented on #1267
I also agree with @neerolyte, as the current default values, have been not well calculated.
In our test environment we increased the value to lock_wait_time to 50ms with good results.
Maybe we should think about disabling lock_retries per default, as most users are already covered with TTL=max_execution_time.

[2018-01-05 14:53] yatsukhnenko commented on #1293
@szepeviktor I updated changelog [here](https://github.com/phpredis/phpredis/tree/3.1.6). Do you need it in `develop` branch?

[2018-01-05 14:55] #1284 closed

[2018-01-05 15:00] szepeviktor commented on #1293
No, thank you.
I just need to get used to it.

[2018-01-05 15:00] #1293 closed

[2018-01-05 15:16] yatsukhnenko commented on #1273
@TomA-R I pushed new commit. Now `connect` throws an exception with connection error message. Could you test changes?

[2018-01-08 11:40] yasinugurbelek opened #1294 "Can I use phpredis instead of predis?"
I use predis in Laravel project. I want to switch to phpredis because the project has gotten a lot of traffic. But using PhpRedis instead of Predis with Laravel’s default RedisServiceProvider will result in false-positives across the framework, because PhpRedis returns false instead of null if a key does not exist. How can we overcome this problem? Do I need to use another driver instead of predis

[2018-01-08 14:25] ChristofferW opened #1295 "Rediscluster fails on windows when using it as session"
### Expected behaviour
The session should be able to be started when running Redis in cluster mode.

### Actual behaviour
session_start() returns false and gives warning:
"System.WARNING: session_start(): Failed to read session data: rediscluster (path: seed[]=URL.TO.REDISCLUSTER:6379"

### I'm seeing this behaviour on
- OS:  Windows Server 2016
- Redis: 3.2.4
- PHP: 7.1
- phpredis: 3.1.6

### Ste

[2018-01-09 07:18] yatsukhnenko commented on #1295
Could you run `redis-cli -h URL.TO.REDISCLUSTER info cluster` from your windows server and post the output here?

[2018-01-09 07:45] ChristofferW commented on #1295
Sure, not a whole lot of information though:

# Cluster
cluster_enabled:1

[2018-01-09 18:11] michael-grunder commented on #1295
Hey,

You can also try running the `cluster info` command against your seed via redis cli which should give you much more information, including if the cluster state is `ok`.  Output looks something like this:

[code]

Having never used AWS I don't totally understand this part of your report:

What happens if you use `redis-cli -h <your cluster host> -p <your cluster seed> -c`.  That will tell red

[2018-01-10 02:00] TomA-R commented on #1273
Hi @yatsukhnenko, thank you - that works for me! 👍

[2018-01-10 07:03] yatsukhnenko commented on #1273
@michael-grunder, could you look at `issue.1287` branch? Don't you mind to merge that change?

[2018-01-10 08:22] ayamzh opened #1296 "when i use the cluster(just one master node),it has an error"
### I'm seeing this behaviour on
- OS: centos7
- Redis:
- PHP: 7.1.9
- phpredis: 3.1.6

mycode:
$redis = new \RedisCluster(NULL, ['127.0.0.1:6380']);

it will throw an exception
"Couldn't map cluster keyspace using any provided seed"

how to fix it

[2018-01-10 08:46] songxk opened #1297 "set($key,$value,$expire) will return false when $expire is 0"
### Expected behaviour
return true
### Actual behaviour
return false
### I'm seeing this behaviour on
- OS: CentOS release 6.7
- Redis: 3.0.1
- PHP: 5.4.45
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script
$redis = new Redis();
$host = a.b.c;
$redis->connect($host);
$ret = $redis->set($key, $value, $expire);
when $expire is 0, it will return false,  when expire is bigger than

[2018-01-10 09:17] ndxbn commented on #1297
When set with expire 0, redis will return error.
So, IMHO, I think it's as intended, not bug.

[2018-01-10 09:24] songxk commented on #1297
the code of redis_commands.c (line: 1245) show that if expire is 0  will ignore it and use the command set  not setex

else if(expire > 0) {
        /* Backward compatible SETEX redirection */
        *cmd_len = REDIS_CMD_SPPRINTF(cmd, "SETEX", "klv", key, key_len, expire,
                                     z_value);
    } else {
        /* SET <key> <value> */
        *cmd_len = REDIS_CMD_SPPRI

[2018-01-10 10:23] ndxbn commented on #1297
may be this https://github.com/phpredis/phpredis/blob/develop/redis_commands.c#L1224

[code]

[2018-01-10 10:48] songxk commented on #1297
got it ,thank you

[2018-01-10 10:48] #1297 closed

[2018-01-11 12:38] furester opened #1298 "Common interface between \Redis, \RedisCluster, \RedisArray"
### Expected behaviour
A common interface between Redis, RedisCluster, RedisArray for reusing code written for Redis when migrating to RedisCluster (and back)

### Actual behaviour
These class doesn't implement any interface

### I'm seeing this behaviour on
- OS: Debian
- Redis: 3.2
- PHP: 7.2
- phpredis: 3.1.6-1+0\~20180104152216.4+stretch~1.gbp3cf38a (debian package)

### Steps to reproduce, ba

[2018-01-11 15:12] kirooha commented on #1276
@yatsukhnenko could you release to rpm repository?

[2018-01-11 16:29] yatsukhnenko commented on #1276
@kirooha unfortunately no. May be @remicollet might help?

[2018-01-11 21:19] michael-grunder commented on #1298
Hey,

I like the idea in general but this would be a monumental amount of work to implement in C.  It looks like it is possible to do in theory though (the SPL implements custom interfaces).

Some commands would have to be excluded or changed as they're different in Redis Cluster.  A variety of commands require an additional argument to determine which node the command should go to).

It could pro

[2018-01-11 22:45] michael-grunder commented on #1273
Looks fine to me.  Should we add a test for it?  A bit tricky to find one that universally works but perhaps something like this?

[code]

[2018-01-12 15:41] yatsukhnenko commented on #1273
@michael-grunder adding test is a good idea, but I'm not sure I understand why you do it so complicated? Why not just something like this
[code]

[2018-01-16 19:01] halukpp opened #1299 ""unlink" command (Redis 4)"
### Expected behaviour
I just tried if the new unlink command from Redis 4 is working with phpredis but with no luck.
https://redis.io/commands/unlink

### Actual behaviour

It would be great if it could be implemented.

### I'm seeing this behaviour on
- OS: Centos 7
- Redis: 4
- PHP: 7.1
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script

### I've checked
- [x ] There is no s

[2018-01-16 19:25] michael-grunder commented on #1299
This should be pretty simple to add.  In the meantime if you need the command you can always call it manually, like this:

[code]

Or like this if you've got your keys in an array:

[code]

Cheers,
Mike

[2018-01-16 23:42] halukpp commented on #1299
Thank you Mike!
Thanks for the amazing job with phpredis.

[2018-01-17 00:23] TomA-R commented on #1273
Thanks guys, works for me! Could we get this merged?

[2018-01-17 22:58] michael-grunder commented on #1299
I've implemented unlink in [this](https://github.com/phpredis/phpredis/tree/unlink-command) branch.

I need to add some notes to the documentation but it should work identically to the `DEL` command for Redis, RedisCluster, and RedisArray.

Let me know if you run into any issues.  I'll leave this open to wait for feedback and also until I actually do the documentation :smile:

[2018-01-18 13:52] wkwkgit commented on #1082
Absolutely same thing on v=3.2.6.

[2018-01-18 18:25] michael-grunder commented on #1273
I'll get this merged, but we probably can't release it until 4.0 because it's a breaking change.

[2018-01-18 20:07] michael-grunder commented on #983
Closing this as documentation is merged into develop

[2018-01-18 20:07] #983 closed

[2018-01-18 20:12] michael-grunder commented on #1296
Hi,

It's really hard to say.  I connect to a single cluster node as a matter of practice when testing new functionality and it works just fine for me.

You can try to connect via redis-cli to see if the issue is actually in phpredis:
`redis-cli -p 6380 -c`

Then make sure you're actually running in cluster mode by doing something like this:
`127.0.0.1:6380>cluster info`

Make sure that cluster is

[2018-01-18 20:13] michael-grunder commented on #1295
Were you able to resolve this issue?

[2018-01-19 06:24] michael-grunder commented on #1299
Merged into develop so closing this issue.

[2018-01-19 06:24] #1299 closed

[2018-01-23 11:52] camry commented on #831
I have the same problem.

[2018-01-23 12:04] camry commented on #831
@yatsukhnenko `protected-mode no` is not ok.

[code]

[2018-01-23 16:41] yatsukhnenko commented on #831
@camry how to reproduce the issue?

[2018-01-24 23:40] TomA-R commented on #1273
Thanks a lot guys, much appreciated! Is there an estimated release date for version 4.0?

[2018-01-25 07:30] yatsukhnenko commented on #1273
I think we will release 4.0 after receiving 6K stars :smile:

[2018-01-26 09:56] ZhangRuiMingZRM opened #1300 "ZRANGEBYSCORE The elements are considered to be ordered from low to high scores"
**** want order the elements from high to low scores, can you add a param "ORDER" with two options "DESC " and "ASC". thanks ** :-)**

[2018-01-26 17:33] michael-grunder commented on #1300
Hey,

Just use `zRevRange`, or `zRevRangeByScore` for that.

[code]

[2018-01-26 17:33] #1300 closed

[2018-01-29 22:02] yatsukhnenko commented on #1287
Branch `issue.1287` merged into `develop`

[2018-01-29 22:02] #1287 closed

[2018-01-29 22:02] yatsukhnenko commented on #1275
Branch `issue.1287` merged into `develop`

[2018-01-29 22:02] #1275 closed

[2018-01-29 22:03] yatsukhnenko commented on #1273
Branch `issue.1287` merged into `develop`

[2018-01-29 22:03] #1273 closed

[2018-01-30 09:18] ZhangRuiMingZRM opened #1301 "Uncaught exception 'RedisClusterException' with message 'Couldn't map cluster keyspace using any provided seed"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Mac ox
- Redis: 4.0.6
- PHP: 5.6.33
- phpredis:3.1.4

`$obj_cluster = new RedisCluster(
    NULL, Array("127.0.0.1:7000", "127.0.0.1:7001", 1.5, 1.5)
);
var_dump($obj_cluster);`
### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2018-01-30 10:40] yatsukhnenko commented on #1301
`$obj_cluster = new RedisCluster( NULL, Array("127.0.0.1:7000", "127.0.0.1:7001"), 1.5, 1.5 );`

[2018-01-30 14:08] ndxbn commented on #1301
[code]

[2018-01-31 02:14] ZhangRuiMingZRM commented on #1301
`$obj_cluster = new RedisCluster( NULL, Array("127.0.0.1:7000", "127.0.0.1:7001"), 1.5, 1.5 );`
The same problem all over again

[2018-01-31 18:44] michael-grunder commented on #1301
Hey @ZhangRuiMingZRM,

Without more information I'm not sure we can really help.  Just on the off chance that there is something odd about redis 4.0.6 that breaks phpredis I tried that version locally but everything works just fine.

Can you connect to the cluster in question using `redis-cli` manually?  Try running something like this:
[code]

Then try issuing some commands and make sure that you

[2018-02-01 09:58] ZhangRuiMingZRM commented on #1301
I type the command that you provide, the cluster can‘t connect .

[2018-02-01 10:29] yatsukhnenko commented on #1301
This mean that your cluster doesn't work.

[2018-02-01 10:30] ZhangRuiMingZRM commented on #1301
Oh, i know , thank you

[2018-02-01 10:31] #1301 closed

[2018-02-01 13:21] piotrkochan opened #1302 "Handling flushall async"
phpredis does not support flushall async right now

[2018-02-01 19:31] michael-grunder commented on #1302
Hey,

It's not specifically supported as a parameter but you can access that functionality by calling `flushall` or `flushdb` via `rawCommand`.

This should work:
[code]

[2018-02-01 19:49] piotrkochan commented on #1302
Thanks
W dniu czw., 1.02.2018 o 20:32 Michael Grunder <notifications@github.com>
napisał(a):

[2018-02-06 03:04] ilufei commented on #943
sorry，I want to know the bug fix or not ？

[2018-02-07 05:50] zouhuigang commented on #359
I found that I could do this：

[code]

[2018-02-08 05:05] remicollet opened #1305 "Extension broken on s390x"
Testing 4.0.0RC1, test suite fails on s390x (was ok with 3.1.6)

3.1.6 build in Fedora (see build.log)
https://koji.fedoraproject.org/koji/buildinfo?buildID=1021718

4.0.0RC1 build in Fedora
https://koji.fedoraproject.org/koji/taskinfo?taskID=24823796

[code]

[2018-02-08 08:58] yatsukhnenko commented on #1305
@remicollet thank you for the report. Actually I don't have any idea why this may happens. Could you look at /builddir/build/BUILD/php-pecl-redis4-4.0.0~RC1/NTS/tests/redis.log, may be something helpful in it?

[2018-02-08 09:01] yatsukhnenko commented on #1305
I will try to find and set up VM with Fedora and dig into this issue

[2018-02-08 09:02] remicollet commented on #1305
Sadly, I don't have access to the build tree content
BTW, I have booked a s390x server to try to understand the issue

[2018-02-08 17:33] yatsukhnenko commented on #1294
@yasinugurbelek http://bfy.tw/GUxo 😁

[2018-02-08 17:33] #1294 closed

[2018-02-09 02:05] michael-grunder commented on #136
I think this can now be accomplished to an extent by using the redis cluster session handler.

[2018-02-09 02:05] #136 closed

[2018-02-09 06:32] #1298 closed

[2018-02-09 06:32] #457 closed

[2018-02-09 08:48] remicollet opened #1306 "[4.0.0RC1] - liblzf broken"
When system liblzf not installed

[code]

Indeed, missing in the liblzf sub-directory

FYI, the liblkzf-devel package provides
* /usr/include/lzf.h
* /usr/include/lzfP.h

[2018-02-09 09:02] remicollet commented on #1305
OK, so was able to install some working distribution

Test on RHEL-7.4, with redis 4.0.8
- PHP 5.4.16 + phpredis 3.1.6: OK
- PHP 7.1.8 + phpredis 3.1.6: OK
- PHP 5.4.16 + phpredis 4.0.0RC1 OK
- PHP 7.1.8 + phpredis 4.0.0RC1: OK  (inclulding LZF and igbinary)

So, need to check with PHP 7.2, else something specific to Fedora 28 :(

[2018-02-09 09:21] remicollet commented on #1305
So, it looks like a temporary issue on Fedora side

As a mass rebuild is in progress, and seems to fix this issue

New scratch build (Fedora 28, redis 4.0.8, phpiredis 4.0.0RC1)
https://koji.fedoraproject.org/koji/taskinfo?taskID=24876117

Sorry for the noise, closing.

[2018-02-09 09:21] #1305 closed

[2018-02-09 11:56] yatsukhnenko commented on #1306
Thank you! I'll add missed file

[2018-02-09 18:31] yatsukhnenko commented on #1306
@remicollet I added lzfP.h to package.xml.
pecl package -> pecl bundle -> ./configure --enable-redis-lzf -> make forks fine
I will include this change in 4.0.0RC2

[2018-02-09 18:31] yatsukhnenko commented on #1306
Thanks again!

[2018-02-13 08:40] wolftankk opened #1308 "sscan missing item in RedisCluster"
### Expected behaviour

I get the items from a set via sscan, it random missing items.

But in the normal redis, it's correct.

### I'm seeing this behaviour on
- OS:  centos-7.2
- Redis: 3.2.0
- PHP: 7.1
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script

sscan code:
[code]

I wrote a small test program, get items count from sscan what it always less than scard.

| id  |  ssca

[2018-02-13 10:19] yatsukhnenko commented on #1308
This is normal behaviour according to [documentation](https://redis.io/commands/scan)

[2018-02-14 08:54] TNAJanssen commented on #1272
@heidji how did you do it, because here nothing really works haha!

[2018-02-14 14:57] SkydiveMarius commented on #1267
I think we found another bug in combination with session_regenerate_id() and [SessionHandler class](https://secure.php.net/manual/it/class.sessionhandler.php).
The bug should affect all users of the [HttpFoundation NativeSessionStorage](http-foundation/Session/Storage/NativeSessionStorage.php).

## Summary
1. Register the native SessionHandler as session wrapper
2. session_regenerate_id()
3. It se

[2018-02-14 20:22] heidji commented on #1272
@TNAJanssen here is what we did:

[code]

[2018-02-16 08:00] yatsukhnenko commented on #1267
IMO when somebody wants to implement SessionHandlerInterface he will use Redis object to directly get/set session data from server

[2018-02-16 08:05] ErwinSteffens commented on #1222
We have had the same issue. Also using persistent connections on RedisCluster.

We get a `RedisException` with message `socket error on read socket` message. After this we are getting invalid data.

[2018-02-16 08:32] mvrhov commented on #1267
Yeah, they will if they don't care about session locking. And not caring can be a big problem when your application grows.

[2018-02-16 09:15] ITspirit commented on #941
still the same on php 7.2

[2018-02-16 13:25] yatsukhnenko commented on #941
`php -d extension=modules/redis.so -i | grep -i redis`

[2018-02-16 13:54] SkydiveMarius commented on #1267
I think we should try to fix the issue, as we would **break all Symfony users with PHP5**.
Anyway this might be a good reason for rethinking the current construction, with storing the session_key in the pool.

The only reason for doing this, is that we need the key during session_close to release the lock. Unfortunately the key is not available by macro.
One more suggestion:
1. Remove session_key

[2018-02-16 16:31] Nirjonadda opened #1309 "Redis Serialization > igbinary"
- OS:  CENTOS 7.4
- Redis: 3.2.10
- PHP: 7.2.2
- phpredis: 3.1.6

---------------------

Please can you let me know that how to enable Redis Serialization Support igbinary?  I am using cPanel “PHP Pecl” Installer.

![screenshot00008](https://user-images.githubusercontent.com/6899856/36318124-38bc8fd0-133f-11e8-9edb-bb7c4b97cf61.png)

[2018-02-16 18:32] michael-grunder commented on #1309
Hi,

I don't have any idea what cPanel is but does this post help:
https://www.rosehosting.com/blog/install-redis-and-redis-php-on-cpanel/

They seem to be talking about phpredis with igbinary support and using cPanel.  It's important to understand that igbinary support has to be built into the extension at compile time.

[2018-02-17 11:18] Nirjonadda commented on #1309
I have igbinary installation but Available serializers not have igbinary.

[code]

[2018-02-17 19:18] michael-grunder commented on #1309
Hi,

I wish I could be of more help.  Like I said I don't know anything about cPanel or what the process would be.  If cPanel abstracts the actual compilation process from you it may not be possible.

Do you use `pecl` in a terminal to install phpredis?  Could you try the following:

[code]

When I do that, I'm asked if I want to add igbinary support:
[code]

You should just be able to answer yes

[2018-02-19 09:51] marcdejonge opened #1310 "[Cluster] "socket error on read socket" during restart of seeding node"
### Expected behaviour
When one of the nodes that is in the seeding list of nodes is temporarily down, I would expect that a next node is tried to connect to.

### Actual behaviour
A RedisException is thrown with the following message "socket error on read socket"

### I'm seeing this behaviour on
- OS: CentOS 7.4
- Redis: 3.2.10
- PHP: 7.1
- phpredis: 3.1.6

### Steps to reproduce, backtrace or e

[2018-02-19 14:06] marcdejonge commented on #888
Re-open please. We're having the same problem on a regular basis right now in our cluster. What I have found is the following tcpstream:

[code]

And this continues for 1854 packets is 1 second, after which it times out. To be clear, the connection is to `10.10.10.188`! It seems that the wrong socket is linked in the internal map of sockets.

[2018-02-19 14:08] marcdejonge commented on #888
To be clear, this seems to occur randomly, but right now we are seeing it 2 - 3 times per hour for a couple of hundred connections at a time, while handling about 10.000 ops on 3 redis master nodes.

[2018-02-20 00:25] HDANILO commented on #1222
Did you find why the connection is reading bad data? Perhaps thats what should be fixed, might be a bad offset, not sure.

If you find better go to the close route, perhaps it would be nice to everytime a connection read exception happens, the redis cluster handle it in the background, trying to reconnect 3 times with exponential backoff to avoid throttling, and then if not succeeded(and probably

[2018-02-20 15:42] ErwinSteffens commented on #1222
@michael-grunder Did you have any luck in finding this issue? We disabled persistent connections but are getting issues with this.

[2018-02-21 02:40] michael-grunder commented on #1222
Hey everyone,

I pushed a small commit that should help with this issue.  I'll need to hook this logic into more places in the code but what it does is in the event of a timeout phpredis will disconnect from the node even if using persistent connections.

Then, since the `RedisCluster` class uses lazy connections it will reconnect to the node the next time it needs to.  This should stop phpredis f

[2018-02-21 02:52] HDANILO commented on #1222
It still throws the exception right? Otherwise it could be chaotic

[2018-02-21 04:15] michael-grunder commented on #1222
Yes, it will still throw an exception but also close the connection to that specific node.  Then, the next time data is requested from that node it should reconnect.  The idea here is to avoid phpredis getting out of sync with redis-server.

[2018-02-21 07:27] ErwinSteffens commented on #1222
Isn't it better to check the outcome of checking the response:
[code]

This can result in -1 which means the connection is in bad state. The loop still continues until time-out and tries to send commands to all the nodes in the cluster.

[2018-02-21 17:50] michael-grunder commented on #1222
@ErwinSteffens I got your comment on the change but now can't find it on GitHub!

Likely yes.  I probably need to implement some sort of connection reset logic for _any_ early return or exception.  This fix is just a start but does seem to work as a proof of concept for handling timeout with persistent connections.  Before the change, I got bad data every time a timeout occurred but not after the

[2018-02-21 18:03] ErwinSteffens commented on #1222
I removed the comment because we first wanted to do some more investigation for ourself to understand the problem.

We will test some of the new code tomorrow. When ok we will put it live so we can re-enable persistent connections.

[2018-02-21 18:52] michael-grunder commented on #1222
Sounds good.  I will try to push a more robust fix this evening.  Let me know how your testing goes.

[2018-02-22 17:55] michael-grunder commented on #1222
Hey everyone,

I think I've come up with a solution to this problem that should be pretty robust.

I'm going to add a `dirty` flag to the `redisClusterNode` structure.  We'll mark the node dirty before sending a request and then clean once we successfully get a reply.  The flag will also be reset on a true disconnect/reconnect.

Once that flag is in place, we can just check the flag before attempt

[2018-02-22 18:12] HDANILO commented on #1222
Don't know enough so I'll just ask, its possible to issue a command in the node before the first command gets back? This could cause some issues. For me, it's totally ok as long as this is clear in the documentation.

[2018-02-22 18:20] yatsukhnenko commented on #1222
@michael-grunder may be this flag useful for Redis and RedisArray objects?

[2018-02-22 18:29] michael-grunder commented on #1222
@yatsukhnenko That's actually a really good point since we use persistent connections in Redis and RedisArray classes as well.  Perhaps better to add it to `redis_sock` itself.

[2018-02-22 18:39] michael-grunder commented on #1222
@HDANILO  RedisCluster doesn't allow pipelining so every command/reply is handled in sequence.  There are some abstractions (e.g. around MULTI..EXEC) but this strategy should work there too (if we deliver MULTI but don't get the OK, the node will remain dirty).

[2018-02-23 07:17] marcdejonge commented on #1222
I think adding a `dirty` flag to the `redis_sock` seems a good solution. Maybe you can set this flag only when you expect a response, which is most of the time. At least I would hope you can add it to the RedisCluster as soon as possible, such that we can test it. We really need a solution to be able to use the persistent connections again.

[2018-02-26 11:27] marcdejonge commented on #1222
I've found something that is causing the connection errors: we were out of ephemeral connections! It seems that phpredis is first opening a connection to get the cluster status and then it closes this connection again immediately. After that, there is a decent change (1 in 3 in our case) that we need a connection to the same server again. So, this seems to me as not very efficient.

Furthermore, t

[2018-02-26 16:10] michael-grunder commented on #1222
I can update `cluster_map_slots` to take the connected seed node as an argument and then attach it to the appropriate node.  That's not a bad idea as it will be a bit more efficient, but only slightly.  I think that updating [this](https://github.com/phpredis/phpredis/tree/cache-slots) branch will provide a more substantial improvement since the slots get cached between requests allowing phpredis

[2018-02-28 16:43] SkydiveMarius commented on #1267
Ok, after trying to implement my last suggestion, the solution seems not that good anymore.

**Drawback comparison**
Removement of session_key from pool->lock_status:
* Lock key is not cached anymore and needs to be recalculcated on each operation
* Another network round trip for fetching the session key in PS_CLOSE() required

Check on each write if the session key changed
* Overhead of string co

[2018-03-02 08:39] abkiran opened #1313 "How to install on ubuntu??"
### Expected behaviour
Write instructions to install on ubuntu

### Actual behaviour
-
### I'm seeing this behaviour on
- OS: Ubuntu 16.04
- Redis: Latest-stable
- PHP: 7.2
- phpredis: -

### Steps to reproduce, backtrace or example script

### I've checked
- [-] There is no similar issue from other users
- [-] Issue isn't fixed in `develop` branch

[2018-03-02 10:45] blacksonic opened #1314 "SSL/TLS support"
### Expected behaviour
Is there any plans on supporting encrypted connections?
I know of Predis, but that implementation is underperforming this library and has issues with TLS 1.2

### Actual behaviour
Connecting in a secure way is not possible.

[2018-03-02 11:14] SkydiveMarius commented on #1313
I think the installation should be equal on Linux distributions, as already [described](https://github.com/phpredis/phpredis#installation).

If anything is broken regarding Ubuntu installation, please provide details.

[2018-03-02 11:28] SkydiveMarius opened #1315 "Migrating to PHPUnit"
At the current state of the art, are there any major drawbacks to not use PHPUnit?

The current "test framework" implementation fullfills the needs quite ok, but using PHPUnit could give use in my eyes a few advantages:
- Les maintainability of the custom Test suite implementation
- More precise assertions (Not equals, Count more/less) including more detailed debugging messages
- More flexible tes

[2018-03-02 11:41] remicollet commented on #1315
Common usage for PHP extension is to use the **phpt** format.

Especially when bootstrapping the PHP stack (full rebuild) the will make dependency / build order more complex, as usually the arched packages (binary extension) are build before noarch ones (pure-PHP library / applications)

So -1 to depend on PHPUnit.

[2018-03-03 08:40] yatsukhnenko commented on #1306
4.0.0RC2 is released on PECL

[2018-03-03 08:40] #1306 closed

[2018-03-03 19:36] KristopherWindsor opened #1317 "XREAD via rawCommand: IDs are lost"
### Expected behaviour

The XREAD command response includes IDs (such as "1520104315079-0" below); see the output here on redis-cli:

[code]

I would expect that all data, including the IDs, are returned when I run `$redis->rawCommand('xread'...)`.

From the documentation:

### Actual behaviour
IDs are converted to "true":
[code]

[code]

### I'm seeing this behaviour on
- OS: Debian GNU/Linux 9.3

[2018-03-03 19:55] KristopherWindsor commented on #1317
It can also be seen in a more simple case.

In redis-cli:
[code]

With phpredis:
[code]

[code]

The ID has been again converted to `true`.

[2018-03-04 21:18] marcing commented on #1033
What's the status?

[2018-03-05 00:41] michael-grunder commented on #1317
Hi,

This is related to similar issues we've seen before when people try to use phpredis to communicate with Disque.  Presently, phpredis simply treats any `+` response as `TRUE` and disregards the string literal itself.

I've incorporated some changes from an open pull request and pushed them into [this](https://github.com/phpredis/phpredis/tree/string-reply-literal) branch.

In your example you

[2018-03-05 08:47] marcdejonge commented on #1222
Any updates? I'd love to help, also with testing, but I'd have to know which branch to look at and what to do...

[2018-03-05 09:20] Littlericket opened #1318 "PHP 7.2.2 - No Redis Save Handler"
### Expected behaviour
Registered save handlers => files user memcached **redis**

### Actual behaviour
Registered save handlers => files user memcached

### I'm seeing this behaviour on
- OS: Ubuntu 17.10 4.13.0-25-generic
- Redis: v=4.0.2 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=a179593449988b17
- PHP: 7.2.2 (fpm-fcgi)
- phpredis: 4.0.0RC1

### Steps to reproduce, backtrace or example

[2018-03-05 11:19] yatsukhnenko commented on #1318
Didn't you forget to run `make install`? :)

[2018-03-05 11:21] Littlericket commented on #1318
Nah, I dont think so:

[code]

[2018-03-05 11:36] remicollet commented on #1318
Perhaps:

  `make clean; make`

[2018-03-05 11:41] Littlericket commented on #1318
I did that as well.

[2018-03-06 05:34] wolftankk commented on #1308
May be the cursor is error.

[2018-03-06 05:47] wolftankk commented on #1308
[code]

it works ok.

[2018-03-07 01:07] Salamander3 commented on #1313
Hi, i'm on same boat:
For ubuntu first after doing "phpize"
The program 'phpize' is currently not installed. You can install it by typing:
apt install php7.0-dev

So after installing that you try again "phpize" and now it says:
Make sure that you run '/usr/bin/phpize' in the top level source directory of the module

I'm stuck there, i don't know where it wants me to type phpize, apparently it isn'

[2018-03-07 01:55] michael-grunder commented on #1313
That message means that phpize cannot find `config.m4`, or in other words, you're not in the `phpredis` directory (where config.m4 is).

[code]

You can add `./configure` options as you see fit, e.g.:

[code]

Remember that after the `make install` step, you'll need to make sure you add `extension=redis.so` either in your main `php.ini` file or create an additional `phpredis.ini` in the `init.d` d

[2018-03-07 11:07] Salamander3 commented on #1313
uhg i just realized ACP still doesn't work with object-cache i'll have to pass on this, damn. Thanks for the instructions.

[2018-03-13 08:48] erikpb opened #1320 "keys() method returns keys with a hash"
### Expected behaviour
When calling the keys() method I would expect a list of keys.

### Actual behaviour
The keys returned are prefixed with a hash, for example [edab1a88ebb23fc7ffabf2d5b1f78b5a:my_key] instead of [my_key]
### I'm seeing this behaviour on
- OS: Centos 7
- Redis: latest
- PHP: 7.1
- phpredis: latest

### Steps to reproduce, backtrace or example script

### I've checked
- [ x] The

[2018-03-13 09:25] yatsukhnenko commented on #1320
`keys` method returns a list of keys same as they are stored on the server without any modifications

[2018-03-13 10:17] sreeraagbuyt opened #1321 "Segmentation fault using phpredis3.0.0"
### Expected behaviour

### Actual behaviour
Segmentation fault
### I'm seeing this behaviour on
- OS: CentOS
- Redis: 3.2
- PHP: 7.1.1
- phpredis: 3.0,0

### Steps to reproduce, backtrace or example script
Constructor
### I've checked
- There is no similar issue from other users
- Issue isn't fixed in `develop` branch

Program terminated with signal 11, Segmentation fault.
#0  zend_mm_alloc_small

[2018-03-13 12:03] yatsukhnenko commented on #1320
There is no special meaning. The hash is a prefix that your application added to key.

[2018-03-13 12:04] yatsukhnenko commented on #1321
Should be fixed in the latest version of phpredis

[2018-03-13 12:35] erikpb commented on #1320
OK, makes sense, thank you!

[2018-03-13 12:35] #1320 closed

[2018-03-15 13:18] mvrhov opened #1322 "zRemRangeByScore expects parameter 2/3 to be string, integer given"
### Expected behaviour
have the ability to pass integer to zRemrangeByScore as 2nd and 3rd parameter

### Actual behaviour
Redis::zRemRangeByScore() expects parameter 2/3 to be string, integer given

### I'm seeing this behaviour on
- OS:
- Redis: 4.x
- PHP: 7.2
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script

### I've checked
- [X] There is no similar issue from other users

[2018-03-15 18:41] yatsukhnenko commented on #1322
Do I correctly understand that you want to use strict_types mode and don't want strictly pass arguments to methods? :smile:

[2018-03-15 19:16] yatsukhnenko commented on #1314
@blacksonic tls is not supported at this moment but I think it would not be very difficult to implement this because we use php network functionality.
Also did you try stunnel/haproxy/etc?
@michael-grunder do you know does redis server support tls?

[2018-03-15 19:33] yatsukhnenko commented on #1315
IMO phpt format looks a bit strange/unfamiliarly but since it is a standart for php extensions I agree with @remicollet
@michael-grunder any thoughts?

[2018-03-15 20:54] mvrhov commented on #1322
No.  You understand wrong. The 2rd and 3th parameters are integers and if I pass them as such I get the above error, so I have to cast them as strings

[2018-03-15 21:01] yatsukhnenko commented on #1322
Is this a problem? I mean casting to string.
If method requires string you shoud (must in strict mode) pass strings.

[2018-03-16 06:16] namjitharavind commented on #1201
You can use pconnect with Apache mpm prefork(default) and you can adjust the apache mpm prefork directives.

[2018-03-16 07:21] mvrhov commented on #1322
Then please fix the docs. The docs says double or string.. and passing integer where parameter is supposed to be double with strict mode enabled works.

[2018-03-16 10:46] ndxbn commented on #1322
Not only `zRangeByScore()`  ( but maybe almost `redis_xxx_cmd` methods? ) have same issue.
https://travis-ci.org/ndxbn/phpredis/builds/354232846

But I think that to resolve this issue maybe requires big internal change.

[2018-03-16 13:05] yatsukhnenko commented on #1322
No, to make tests correctly works with `strict_types=1` we need to modify tests according to `zend_parse_parameters` type_spec

[2018-03-16 20:19] yatsukhnenko commented on #1315
There is no needness migrating to any other framework right now :smile:

[2018-03-20 02:33] AliceWonderMiscreations opened #1323 "Documenation: behavior change in exists()"
Using redis 3.2.10 (EPEL) and php-pecl-redis 3.1.6 (rebuild of Fedora src.rpm) w/ PHP 7.1.x on CentOS 7 - $redis->exists('some key') returns boolean, as the current document suggests.

However when doing unit testing on travis-ci the php-pecl-redis installed in that environment was 4.0 (not sure the redis server version) and $redis->exists('some key') was returning an integer.

It looks like in ne

[2018-03-20 02:51] AliceWonderMiscreations commented on #1314
I do not believe redis itself supports encrypted connections. They suggest using `spiped` if you need that, and it looks like from how `spiped` works, it should work from php as well (connect to local socket like normal)

https://redis.io/topics/encryption

[2018-03-20 03:15] michael-grunder commented on #1323
Hi, thanks for the report!

You're right that the return type changed between 3.1.6 and 4.0.0 to better reflect the updated Redis command itself.

I'll add a note to our documentation about the change.

[2018-03-20 08:17] ErwinSteffens commented on #1222
@michael-grunder Have you got any updates on this issue? We are still running with persistent connections turned off in production but it is causing us issues. As @marcdejonge mentioned we would love to help out, but we have to know the current status.

[2018-03-20 09:40] ZhangRuiMingZRM opened #1324 "RedisCluster::PIPELINE is undefined"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:  mac OS High Sierra
- Redis: 4.08
- PHP: 5.6
- phpredis: 3.1.4

### When i type
`var_dump(RedisCluster::PIPELINE);`
### The result is
`Undefined class constant 'PIPELINE'`
### but the constant PIPELINE is defined

### And i type
`var_dump(RedisCluster::MULTI);`
### result is
`int(1)`
### I don't know why. who can

[2018-03-20 14:53] michael-grunder commented on #1324
Hi,

RedisCluster doesn't support pipelining but does allow `MULTI .. EXEC` operations.  We decided not to support pipelining in Redis cluster because of how easy it would be to get Redis into an inconsistent state.

[2018-03-21 02:05] ZhangRuiMingZRM commented on #1324
Oh, i know.  thank you.
Can you remove the class constant 'PIPELINE' from class RedisCluster,It's confusing

[2018-03-21 02:30] michael-grunder commented on #1324
Hi,

I'm not sure I understand.  We don't define `PIPELINE` for `RedisCluster`.  We skip it if we're creating the `RedisCluster` object.

Like you mention:

It's not defined:

Which constant are you referring to?

[2018-03-21 05:51] Frederick888 opened #1325 "`pecl install redis` fails if lzf is enabled"
### I'm seeing this behaviour on
- OS: Ubuntu 16.04
- PHP: 7.1.15
- PEAR: 1.10.5
- phpredis: 4.0.0

### Steps to reproduce, backtrace or example script
Run `yes "yes" | pecl install redis`, got:

[code]

I tried pausing the build and found `/tmp/pear/temp/pear-build-defaultuser3urz9j/redis-4.0.0/liblzf` was actually empty.

It's all fine if I manually run `phpize; ./configure --enable-redis-igbina

[2018-03-21 07:08] #1324 closed

[2018-03-23 10:41] seansan commented on #1255
Was php7 / develop merged with master: in short is there php7 support?

[2018-03-23 18:31] michael-grunder commented on #1255
Yes, the master branch has php5 and php7 support, as will any released version >= 3.1.0.

[2018-03-23 20:15] #1321 closed

[2018-03-23 20:20] #1309 closed

[2018-03-23 20:21] #1308 closed

[2018-03-23 20:25] yatsukhnenko commented on #1267
@michael-grunder I think it's time to merge session related changes into `develop` so more users will test them and will give us feedback

[2018-03-27 09:30] namjitharavind opened #1328 "How Redis Pconnect is working behind?"
Would like to know how redis pconnect working behind.

Context: Horizontal scaling of php REST API. We were getting a lot of connections errors from redis?
Realization from performance: Less connection is always  better

1.How it  is sharing connections in between processes (apache mpm prefork)?
2.Once connection holding process dies then connection also will get close,right?
3.Is there any way to

[2018-03-27 09:41] xuanskyer opened #1329 "many TIME_WAIT connections"
## question

I used the command `netstat -na | grep 6379 | wc -l`,
There are thousands of connections found，like this:
![image](https://user-images.githubusercontent.com/3071881/37959567-038c8688-31e6-11e8-8856-ebffc3d9e80a.png)

What's the reason for this?

[2018-03-27 10:12] yatsukhnenko commented on #1329
Probably you need to tune sysctl settings on your server

[2018-03-27 11:43] jigneshv34 opened #1330 "Typo : RedsiCluster"
https://github.com/phpredis/phpredis/blob/feature/redis_cluster/cluster.markdown#automatic-slave-failover--distribution

RedsiCluster should be RedisCluster

[2018-03-27 14:30] xuanskyer commented on #1329
can you tell me  more details about this ?

thinks :)

[2018-03-27 18:52] yatsukhnenko commented on #1329
@xuanskyer
[code]

[code]

[code]

[2018-03-31 08:05] DuckDagobert opened #1331 "MULTI for connect/auth not working"
Hey I want to multi/pipeline the connection with authentication via IP/Port. Unfortunately it fails with Redis connection error. (works without the pipeline)

Does pipelining not work for connecting/authenticating?

I am on Centos 7.x with php7 and the latest phpredis.

This is my sample code:

[code]

Thanks!

[2018-03-31 10:30] yatsukhnenko commented on #1331
@DuckDagobert there is no pipeline in your example...
In your case you try to use `AUTH` inside transaction so `MULTI` command goes first and server probably answers that authentication required

[2018-03-31 10:51] DuckDagobert commented on #1331
Is there any way to make a MULTI with phpredis that includes the connection and auth?

[2018-03-31 11:25] yatsukhnenko commented on #1331
You can try multi in pipeline mode.
`$redis->pipeline()->auth($pass)->multi()->... other commands...->exec()->exec()`

[2018-03-31 15:10] DuckDagobert commented on #1331
nope doesn't work either.
actually I think this is a design flaw/bug - it seems phpredis needs 2 trips for a connection with auth, which is a real pain in high latency environments (e.g. multi datacenter). when using the cli we can just do it all at once.

[2018-03-31 16:47] yatsukhnenko commented on #1331
You need to establish tcp connection to the server using `connect` command and then you may send any number of commands in `pipeline`

[2018-03-31 16:48] yatsukhnenko commented on #1331
BTW redis-cli works exactly the same but it does connection step transparently for you

[2018-03-31 16:57] michael-grunder commented on #1331
@yatsukhnenko Is correct.  Here is redis-cli doing a round trip for the auth:
https://github.com/antirez/redis/blob/unstable/src/redis-cli.c#L574

[2018-03-31 18:33] michael-grunder commented on #1323
Closed via 87f1c39205

[2018-03-31 18:33] #1323 closed

[2018-04-01 11:01] DuckDagobert commented on #1331
Ok thanks for the info

[2018-04-02 11:07] lkxiaolou opened #1332 "cluster scan"
### Does "scan" work in redis cluster?

"scan" return false in cluster but single is ok.

$redis = new RedisCluster();  // not work
$redis = new Redis(); // work

[2018-04-02 12:47] yatsukhnenko commented on #1332
Incorrectly formatted issue

[2018-04-02 12:47] #1332 closed

[2018-04-02 21:59] CoreyAR commented on #1325
Is there a workaround for this in the meantime?

[2018-04-03 04:02] yatsukhnenko commented on #1325
[code]

[2018-04-03 22:02] tessus opened #1333 "PECL mentions breaking API changes for 4.0.0 - so what are they?"
The [Changelog](https://pecl.php.net/package-changelog.php?package=redis&release=4.0.0) for 4.0.0 mentions the following:

[code]

But there's no information on what the breaking changes are. I checked the [README.markdown](https://github.com/phpredis/phpredis/blob/develop/README.markdown), but I couldn't find anything.

What are the breaking API changes?

[2018-04-03 22:41] michael-grunder commented on #1333
I'm away from my computer but off the top of my head:

EXISTS was changed to return a long instead of boolean and now can accept one or more keys.

We added reflection information for all functions, so this could cause problems within an ide expecting no or different prototypes.

I'm going to add a comprehensive list to the docs however

[2018-04-03 22:50] tessus commented on #1333
Thanks for the info.

The reason I asked was the following. I'm using mediawiki and nextcloud with redis.
Will those apps break when I update my driver from 3.1.6 to 4.0.0?

Without any documentation I don't dare to do this upgrade...

[2018-04-04 01:44] xkenner opened #1334 "Status on the STORE and STOREDIST for GEORADIUS"
First of all thanks for everything, couldn't ask for a better extension. I'm just curious what the status is on the `STORE `and `STOREDIST` for `GEORADIUS` I know that it will be added to future versions, but just curious when. Because right now I have to do a `GEORADIUS` then `ZADD` each location into a new key which is less than ideal.

Thanks, Julian

[2018-04-04 08:10] TomA-R commented on #1333
Don't forget about the fact that connect now throws an exception instead of just returning false on failure:

https://github.com/phpredis/phpredis/issues/1273#issuecomment-358737034

[2018-04-04 14:04] yatsukhnenko commented on #1325
I've changed `$ext_srcdir` to `$srcdir` in `config.m4`
Need to test when 4.0.1 will be released

[2018-04-04 16:16] tessus commented on #1333
@TomA-R wow, ok. this most likely will break apps, thus I will have to investigate further and look at individual implementations that use the redis driver for PHP.

It also means I probably won't upgrade to 4.0.0 anytime soon.

[2018-04-04 21:41] joshholat commented on #1222
+1, also causing us issues. Seems to happen both with and without persistent connections in our testing. We are on v3.1.6 currently and PHP 7.1. Would be happy to help test any potential updates when they are available.

[2018-04-05 02:20] michael-grunder commented on #1334
Hi,

We do need to get these added to phpredis but in the meantime you can always use `rawCommand` if you need that functionality now.

Something like this should do it:
`$obj_r->rawCommand('georadius', 'Sicily', '15', '37', '200', 'km', 'store', 'dst');`

[2018-04-05 20:53] yatsukhnenko commented on #1331
Resolved

[2018-04-05 20:53] #1331 closed

[2018-04-05 20:53] yatsukhnenko commented on #1329
Resolved

[2018-04-05 20:53] #1329 closed

[2018-04-07 19:49] michael-grunder commented on #1334
Hey,

I've uploaded a branch with support for STORE and STOREDIST here:
https://github.com/phpredis/phpredis/tree/issue.1334

Let me know if it works for you

[2018-04-08 22:01] xkenner commented on #1334
Works great Michael, thank you

[2018-04-08 23:08] #1334 closed

[2018-04-10 10:09] hubiter commented on #70
very good~

[2018-04-11 10:35] maxgalbu commented on #876
Is this solved? I am getting the same issue, using version 4.0.0 and php 5.6

[2018-04-11 12:31] mathroc opened #1337 "Optional parameters reflection issues"
following on #1055, optional parameters are not seen as such when using Reflection:

[code]

[code]

it says "Cannot determine default value for internal functions" when I call `$port->getDefaultValue()` so I don't know if the default value can't be discovered via Reflection or if this something that can be added too

The major I had because of this is that Symfony container now complains that som

[2018-04-13 18:15] nicofff commented on #1222
Hey, I was doing some testing with the latest release and the cluster-persistent-state-flush branch.
Both of them survive killing the connections with iptables (ie: the script originally attached), but I switched to netem and:
a) On the 4.0.0 release, I can still reproduce the issue (the wrong key is returned)
b) On the cluster-persistent-state-flush branch, after a few timeout exceptions the clie

[2018-04-14 18:37] michael-grunder commented on #1337
Closing as this was merged

[2018-04-14 18:37] #1337 closed

[2018-04-14 18:57] michael-grunder commented on #876
Hi everyone,

This problem still exists in phpredis but to be honest it's not clear to me what a "solution" would look like, or that this is a bug.

Redis now errors out if keys that map to different slots are accessed in the same MULTI block, which doesn't leave very many good options for phpredis.

There is no way to silently wrap MULTI ... EXEC calls in such a way to allow for the previous func

[2018-04-16 08:51] Ailen1988 commented on #359
@zouhuigang 66666666666666
its work for me. It is first time which i have see .
老铁, 牛( ఠൠఠ )ﾉ

[2018-04-16 15:20] maxgalbu commented on #876
I agree with what you said. What IMO would be quite useful is to allow pipelining commands, eg

[code]

Pipeline still is quite useful and results in faster requests, when requesting multiple keys. We're currently testing corvus (https://github.com/eleme/corvus) on top of redis cluster, because it allows pipelining commands using the \Redis client (instead of \RedisCluster)

[2018-04-16 18:26] michael-grunder commented on #876
Hey,

Not providing pipelining to the Redis cluster class was an intentional decision when I was first building it.  The issue as I saw it was that pipelining in a distributed system was dangerous given that an error could occur at any point in the process leaving the cluster in an inconsistent state.

That being said, I do see why it could be useful (e.g. if you're OK with risking an inconsistent

[2018-04-18 06:51] yatsukhnenko commented on #1325
@Frederick888 4.0.1 released. Could you test it?

[2018-04-18 07:40] Frederick888 commented on #1325
@yatsukhnenko Tested in Ubuntu and Arch Linux and it worked great! Thanks, please go ahead if you'd like to close the issue.

[2018-04-18 08:28] #1325 closed

[2018-04-18 08:30] #1313 closed

[2018-04-18 08:38] maxgalbu commented on #876
By "inconsistent state" you mean "some keys could go missing", i guess?
Regarding reads instead, pipeline would really help when getting multiple keys, it's 4/5 times faster when compared to reading without transaction in redis cluster (0.20 ms for 750 keys with pipeline using corvus, 1 second without pipeline)

[2018-04-18 14:13] michael-grunder commented on #876
Yeah, I mean that if we allow pipelining into cluster a failure in the middle of the process would occur on a node but the rest of the commands would continue to be executed.

Pipelining read-only commands to Redis cluster probably isn't as bad.

I'm glad to hear corvus is working for you though!  I will look into what it would take to enable pipelining for cluster.  I suppose it would be fine if

[2018-04-22 19:36] yatsukhnenko commented on #1302
@piotrkochan could you test issue.1302 branch?

[2018-04-23 19:34] carlwgeorge commented on #1333
It's common for software projects to maintain prior branches when an incompatible break is made.  Is the intention to continue to maintain version 3.x.x of this software for any length of time?

[2018-04-23 19:40] yatsukhnenko commented on #1333
@carlwgeorge  I'm going to backport fixes for critical issues like segfaults

[2018-04-23 21:00] rquadling opened #1341 "Unable to use homebrew to install phpredis."
Homebrew-php is deprecated/deleted/dead as a dodo.
Homebrew-core is now the thing.
`brew install php70-redis` (or any version) is no longer present.

Whilst it isn't directly phpredis's issue what some third party package manager has done, I'm hoping someone here knows the right magic to install this extension, ideally via homebrew (but not necessary if an easier option is available).

[2018-04-25 07:36] RanjanRohit opened #1342 "Version 4.0.1 returning boolean true and false instead of long for exists."
### $redis->exists() returns a long value in version 4.0.0

### $redis->exists() returns a boolean value in version 4.0.1

### I'm seeing this behaviour on
- OS: Macintosh
- Redis:
- PHP: 7
- phpredis:4.0.1

[2018-04-25 09:27] yatsukhnenko commented on #1342
:confused: It seems I did something wrong when prepared 4.0.1 release

[2018-04-25 09:36] RanjanRohit commented on #1342
Will you be updating it to long again?

[2018-04-25 09:48] yatsukhnenko commented on #1342
Yes, I'll do this ASAP

[2018-04-25 11:40] yatsukhnenko commented on #1342
@RanjanRohit I've released 4.0.2, could you test it?

[2018-04-25 11:42] RanjanRohit commented on #1342
I will test @yatsukhnenko and let you know.

[2018-04-25 13:35] sinchan1986 opened #1343 "php cli mode zRange return Redis Object"
### Expected behaviour
`$value  = $redis->zRange($key,0,-1); `
$value return array
### Actual behaviour
$value retrun Redis Object
### I'm seeing this behaviour on
- OS: centos 7
- Redis:4.0.8
- PHP: 7.0.28
- phpredis:4.0.0

### Steps to reproduce, backtrace or example script
not necessarily ，running in the PHP cli mode
### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue

[2018-04-25 14:03] yatsukhnenko commented on #1343
@sinchan1986 could you provide example script? My guess you are in multi/pipeline mode

[2018-04-25 14:29] sinchan1986 commented on #1343
@yatsukhnenko
 I checked my code ，use multi/pipeline mode ，all operations have executed the exec method.

[2018-04-25 15:42] yatsukhnenko commented on #1343
I can't reproduce this issue locally. Could you provide a test script?

[2018-04-27 03:44] Loliki opened #1344 "php7.1 return +OK :0 :1"
I find that value is correct in redis.But when I use redis->get ,it returns strange things such as "+OK",":1","Array".
It occurred when I send several redis->get command one time.
I've tried several versions,but didn't effect.

### I'm seeing this behaviour on
- OS: centos7
- Redis:3.2.3
- PHP:7.1.16
- phpredis:3.1.1RC,3.1.6

And it works well in php5 with phpredis2.2.4

[2018-04-27 05:40] yatsukhnenko commented on #1344
Could you provide example script?

[2018-04-27 06:34] Loliki commented on #1344
I found that php only is all right.But when I use socket and connect the socket server,error occurred.
When the client connected, I'll save the info to the redis and once disconnected I'll find get the info ,print it and delete it.
If new serveral socket client one time and disconnect , it shows :
26  :1
21  14
11  :0
14  :0
17
7  11
10  Array
19  :0
25  :0
24  :0
12  :0
23
16  :0
6  +OK
2  +OK

[2018-04-27 08:12] valerianpereira commented on #833
what was the fix? Could you share the solution, please?

[2018-05-03 11:26] #1344 closed

[2018-05-03 13:45] boboudreau opened #1345 "Improve documentation on RedisCluster session handling"
https://github.com/phpredis/phpredis/blob/master/cluster.markdown#sessionsave_path

From other responses to Github issues, and from what I can understand from the C code in https://github.com/phpredis/phpredis/blob/master/redis_session.c#L617-L626, it's not clear if this documentation is correct.

I believe "distribute" should be an option of failover (`&failover=distribute`), and not it's own pro

[2018-05-03 14:50] yatsukhnenko commented on #1345
@boboudreau that's an interesting question.
IMO `failover` and `distribute` are different options with different meaning(error handling and load balancing) so the documentatuon is correct and we need to fix the code🤔
We need to ask @michael-grunder

[2018-05-04 10:38] alpust opened #1346 "RedisCluster php fpm connections to slave nodes did not closed proper"
### Expected behaviour
We have expected, that if we enable option:
->setOption(PhpRedisCluster::OPT_SLAVE_FAILOVER, PhpRedisCluster::FAILOVER_DISTRIBUTE);
or PhpRedisCluster::FAILOVER_DISTRIBUTE_SLAVE
connection for slave instances will closed same as for master nodes

### Actual behaviour
Connection was accumulated so fast and reached max connection clients, but masters connection amount are stab

[2018-05-07 06:45] Barbery commented on #1328
I have the same question...

[2018-05-08 00:14] vasily-kartashov opened #1347 "Documentation for using AWS ElastiCache Cluster"
Is there an example / documentation how to use ElastiCache Redis cluster on AWS with `RedisCluster`? It's not clear for example whether the library is able to identify master / replicas on it's own, or should explicit enumeration of all instances be used instead.

[2018-05-08 01:00] joshholat commented on #1347
@vasily-kartashov In our experience the library finds it on it's own. Not sure if it's documented anywhere.

You basically just call `new \RedisCluster(null, [$host], $timeout, $timeout, $persistent)` where `$host` is your ElastiCache cluster endpoint URL with the `:port` at the end.

Be aware that there do seem to be some bugs with it currently, specifically the behavior described in #1222.

[2018-05-11 00:37] cookieguru commented on #1272
I was experiencing a similar issue.  I registered Redis on my container as such:
[code]
Later, I passed the instance from the container to Doctrine, and later used the container instance with SET:
[code]
Getting `foo` would result in `"i:123;` which does not play well with `INCR`.

Turns out, Doctrine's phpredis adapter calls `setOption` and will set the serializer to igbinary if you have it, and

[2018-05-11 13:18] heidji commented on #1272
Serializing doesn't work with incr and such math functions, but this is understandable as incr is a Redis function and works only on raw numbers and not with values with type definitions.
The face that in your case SERIALIZER_NONE doesn't work is unrelated to this bug. I was merely demonstrating an anomaly which occurs every few thousand of operations. I really do hope someone can look into this..

[2018-05-11 14:30] yatsukhnenko commented on #1272
@heidji phpredis doesn't change serialization setting by it's own. @cookieguru describes one of the possible case and I think you should look at your application more attentively

[2018-05-12 19:27] yatsukhnenko commented on #1342
Resolved

[2018-05-12 19:27] #1342 closed

[2018-05-12 19:31] yatsukhnenko commented on #1146
Old issue without any activity for a long time

[2018-05-12 19:31] #1146 closed

[2018-05-13 14:41] heidji commented on #1272
@yatsukhnenko i define the serializer only once per whole app and reference it via global variable. meaning i am 100% sure i do not change the serialization throughout the whole app because it's only one object.. so yes, the problem is very real.
look at the screenshot again and imagine this an app used by 100.000 unique visitors / day with this issue occuring once every 4 hours or so as far as i

[2018-05-13 14:48] heidji commented on #1272
and please look at the solution currently implemented on our system. since this wrapper function went in place this problem occured exactly ZERO times since around the time i opened the bug as opposed to 5 - 6 times / day before that. i am very sure the phpredis module has a random failure rate which is only observable on a medium sized website.
please revise the module more attentively.

[2018-05-14 11:53] alexeuka commented on #890
Similar issue:

redis-cli 3.2.11
macOs 10.13.4
accessing through php and receiving in logs:

2018-05-14T13:59:46+03:00: Unhandled exception: Couldn't map cluster keyspace using any provided seed

The solution was:

git clone https://github.com/phpredis/phpredis.git
phpize
./configure --enable-redis-igbinary
make && make install
touch /etc/php.d/redis.ini && echo extension=redis.so > /etc/php.d/red

[2018-05-15 14:09] ragingdave opened #1348 "hScan command broken and not iterating through entire set"
### Expected behaviour
I would expect that calling hscan like:
$return = $redis->hscan('hash_key', 0)
would return an array of the cursor and array of data like:
$return = [
128,
[...DATA HERE]
];

### Actual behaviour
Passing 0 as the cursor causes a single record to be returned. NULL is required but the iterator never changes. This is one specific example but based on reading some of the tests,

[2018-05-15 14:16] ragingdave commented on #1348
This actually might just be a Laravel specific issue as trying all those commands on the raw connection, not using the Laravel configured redis connection seems to work just fine and iterates properly.

[2018-05-15 14:16] #1348 closed

[2018-05-15 23:34] shaunstep opened #1349 "Returning HGETALL from LUA puts RedisCluster into broken state"
### Expected behaviour

returning redis.call('HGETALL', KEYS[1]) from lua should return any values found or fail in a normal way.

### Actual behaviour

returning redis.call('HGETALL', KEYS[1]) from lua fails without error and puts RedisCluster object into a broken state.

### I'm seeing this behaviour on

- Redis: ElasticCache 3.2.6
- PHP: PHP 7.0.29
- phpredis: 4.0.2

### Steps to reproduce, bac

[2018-05-17 15:16] michael-grunder commented on #1349
Hey, this should be fixed in develop now.  Let me know if it works for you.

[2018-05-17 15:58] shaunstep commented on #1349
Awesome. Thanks for the quick turn around Michael. I'll will take a look.

[2018-05-20 03:48] owenliang opened #1352 "Which version did 'Redis::connect' begin to accept 'read_timeout' parameter?"
### Expected behaviour

redis(no cluster)：
`connect($this->hostConfig['host'], $this->hostConfig['port'], $timeout, NULL, 100, $readTimeout)`

### Actual behaviour

Redis::connect() expects at most 5 parameters, 6 given

### I'm seeing this behaviour on
- OS: raspberry pi (debian)
- Redis:
- PHP: php7.0 installed by apt-get
- phpredis:

[code]

### Steps to reproduce, backtrace or example script

[2018-05-20 13:39] #1349 closed

[2018-05-21 17:13] shaunstep commented on #1148
Could I get a update on what the plan/timeline for this issue is please?
Thanks!

[2018-05-22 01:32] owenliang commented on #1352
thanks @yatsukhnenko

[2018-05-22 01:32] #1352 closed

[2018-05-22 07:17] chrisyue opened #1353 "'No releases available for package "pecl.php.net/redis"' when try to use PECL to install the latest phpredis"
### Expected behaviour

install phpredis normally.

### Actual behaviour

PELC raise error 'No releases available for package "pecl.php.net/redis"'

### I'm seeing this behaviour on
- OS: MacOS
- Redis:
- PHP: 7.2.5
- phpredis:

### Steps to reproduce, backtrace or example script

brew install php@7.2
pecl install redis

### I've checked
- [x] There is no similar issue from other users
- [x] Issue

[2018-05-22 10:00] exeqdev opened #1354 "TTL update on sesion handler"
### Expected behaviour
php redis session handler key TTL should be updated on every request to avoid session expire.

it should update TTL on session_commit()

ex:

### Actual behaviour
TTL only update on writes or when value = ""

### I'm seeing this behaviour on
- OS: Win+Apache
- Redis: Redis server v=3.0.6
- PHP: 7.2.3
- phpredis: 3.1.6 (binary download)

and

- OS: amzn2-linux
- Redis: Redis

[2018-05-22 10:12] exeqdev commented on #1354
Maybe  on the open or read handler callback it should be updated on every php request to have similar behaviur to the behaviour in the default php session handler

[2018-05-22 12:40] SkydiveMarius commented on #1354
Sound like a good idea.
I would suggest adding a check to [PS_CLOSE](https://github.com/phpredis/phpredis/blob/97bb6bd85e3fa38dbb13b97c50bd315490265a80/redis_session.c#L535), to send EXPIRE command if there was no previous write operation.

@michael-grunder What do you think?

[2018-05-22 13:38] kklingjie opened #1355 "About the auth of new RedisCluster() by PHP7.0 ; How to achieve?"
Throw an exception：

PHP Warning:  RedisCluster::__construct() expects at most 5 parameters, 6 given in /www/framework/cache/redis.php on line 79

the code :

$this->credis = **new RedisCluster**(null,$redis_connect_config,2,2,true,**$password**);

My redis auth is open;
How to achieve?

[2018-05-22 20:37] bacheson commented on #760
I can't for the life of me get this to work and it's not in the documentation...is there somewhere that explicitly illustrates how this works?

[2018-05-22 20:46] michael-grunder commented on #760
Hey,

What are you having trouble with?  Here is an example call using the `NX` option:

[code]

I see that reflected in redis-cli:
[code]

You might want to make sure you're running a new enough version of Redis that supports the options by trying the command manually in redis-cli.

[2018-05-22 20:54] bacheson commented on #760
I'm running Redis 4.0.9. The following command does not work:
`$redis->zAdd('queue', ['NX'], 1.5, $job)`

Oddly this does work but doesn't allow me to set a score:
`$redis->zAdd('queue', ['NX'], $job)`

[2018-05-22 22:28] bacheson commented on #760
Nevermind ... this was caused by an underlying container running an old version of php-redis ... sorry for bothering you...thanks so much for such a quick, helpful response

[2018-05-22 22:29] michael-grunder commented on #760
Perhaps you are running a version of phpredis that does not have this feature?

[2018-05-22 22:36] bacheson commented on #760
I posted my response at the exact same time....yup that was it

[2018-05-23 05:44] kjoe opened #1356 "RedisCluster scan documentation and parameter order issue"
Please improve RedisCluster documentation, because to use scan command, you must iterate over all the redis master nodes.

Parameter ordering of RedisCluster scan command differs from the other "Directed node commands":

https://github.com/phpredis/phpredis/blob/97bb6bd85e3fa38dbb13b97c50bd315490265a80/redis_cluster.c#L101-L106

https://github.com/phpredis/phpredis/blob/97bb6bd85e3fa38dbb13b97c50b

[2018-05-23 09:57] exeqdev commented on #1354
Send the EXPIRE and GET toguether looks the fastest/dire approach to set the EXPIRE time.

[2018-05-23 10:28] SkydiveMarius commented on #1354
Good news!
I just tested the changes of PR #1351 and it seems to fix this issue.

So I simply added some tests in #1357 for proving this.
If you want to verify that you need to merge #1357 and #1357.

[2018-05-23 12:43] SkydiveMarius commented on #1354
Ok, it seems that my added tests passed, even without the changes of #1351.
So I tried your to reproduce your examples with the following test code:
[code]
which is producing always:
[code]

PHP Version 7.2.5
Extension Version: 4.02 | develop
CLI call: `php test.php 'cnp3sb7vn008g4s2r47im8378l' 100`

Could you please provide more details about your environment/configuration?

[2018-05-23 13:26] hongboliu commented on #1354
@SkydiveMarius I think you need to turn on session.lazy_write in your php.ini
docs here https://secure.php.net/manual/en/session.configuration.php#ini.session.lazy-write

[2018-05-23 18:17] kjoe commented on #1345
Additionally, what's the problem with session locking in cluster mode?

https://github.com/phpredis/phpredis/blob/97bb6bd85e3fa38dbb13b97c50bd315490265a80/tests/RedisClusterTest.php#L45-L46

Key hash tags in lock key couldn't be a solution? (eg. "{sessionkey}_LOCK")

[2018-05-23 18:53] yatsukhnenko commented on #1353
Could you show output of `pecl install redis` ?

[2018-05-23 18:56] yatsukhnenko commented on #1353
I'm not familiar with `brew` but could you also show the output of command? It may be helpful :)

[2018-05-23 18:58] yatsukhnenko commented on #1347
Is there any differents between `ElastiCache Redis cluster on AWS` and simple Redis cluster?

[2018-05-23 19:07] yatsukhnenko commented on #1341
You can always install extension via pecl
`pecl install redis`
or compile it from scratch :)

[2018-05-23 19:23] yatsukhnenko commented on #1328
@namjitharavind, thank you for your question. We use native PHP network implementation so it would be more useful if you will read about pconnect in PHP documentation. I'm not sure I can explain right now (I also need to reed docs :))
You are right about closing connection when process die.
Not sure about min/max connections opened. PHP will keep all your connections while you don't close them.

[2018-05-23 21:05] rquadling commented on #1341
I realised that once I realised phpredis and pecl/redis are the same. Any reason why the names aren't consistent?

[2018-05-23 21:05] #1341 closed

[2018-05-23 23:44] chrisyue commented on #1353
hi @yatsukhnenko,

the message in the title:

    No releases available for package "pecl.php.net/redis"

is the only message after running `pecl install redis`.

[2018-05-24 00:04] chrisyue commented on #1353
@yatsukhnenko

Today I've had a try of "pecl list-all" and the "pecl/redis" appears in the list again!

so I think it should be a issue about PECL, not phpredis, so I think I should close this issue.

[2018-05-24 00:04] #1353 closed

[2018-05-24 14:56] SkydiveMarius commented on #1354
@hongboliu I just check and its already enabled:
[code]
I just tried CLI and PHP-FPM and still unable to reproduce...

Could you please provide more details about your test environment?

[2018-05-24 19:19] hongboliu commented on #1354
@SkydiveMarius I ran your test.php twice, this is what I got:

[code]

OS is Ubuntu 17.10, PHP is built from php-src master branch.

[code]

[2018-05-24 21:21] hongboliu commented on #1354
@SkydiveMarius I ran your test.php got save result.

According to https://github.com/php/php-src/blob/master/ext/session/session.c#L479, php should always call one of update_timestamp() (with #1351 ) or write() (without #1351 ), so the test always passes.

[2018-05-25 01:49] tanjiancheng opened #1358 "RedisCluster connection not auto close on cli shell if in while use"
## for use redis  in  while that is ok
<code>**case 1**</code>
[code]
### connection:
[code]

## for use  rediscluseter in while that is not ok
<code>**case 2**</code>
[code]
### connection:
[code]

## but if i close manual，it is ok</strong>
<code>**case 3**</code>
[code]
### connection:
[code]

so is it better free connections auto if rediclusters obj no use?

redis-4.0.2/redis_cluster.c

[code]

[2018-05-26 15:26] 599259501 opened #1359 "php7.2.5 redis instance in other process publish always return false"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos7
- Redis- PHP:4.0.9
- phpredis:phpredis-develop

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2018-05-26 16:33] yatsukhnenko commented on #1359
@599259501 could you provide more details?

[2018-05-28 13:33] meglio opened #1360 "rPush version with an array for big amount of values, to avoid Variable-length argument lists"
### Expected behaviour

For performance reasons, when rPushing thousands of values at once, it would be nice to avoid using variable-length argument list (...) when passing the values to `rPush`:

[code]

Instead, add method:

[code]

... unless passing tens of thousands items with using `...$giantList` will not affect performance.

### I've checked
- [+] There is no similar issue from other users

[2018-05-28 17:12] yatsukhnenko commented on #1360
@meglio you can use `call_user_func_array([$redis, 'rPush'], $args)` for this purpose

[2018-05-29 07:48] yatsukhnenko commented on #1358
This looks reasonable to me. @michael-grunder  what do you think?

[2018-05-30 07:58] meglio commented on #1360
@yatsukhnenko yep I can as a workaround. The question is, how efficient the extension is to pass tens of thousands arguments to Redis?

Also, having a method with the right arguments will help with code maintainability, as the `call_user_func_array` is bad for maintenance - no IDE type hinting, no method existence check at a time of code writing, no IDE typehinting of the result returned.

Finally

[2018-05-30 09:43] yatsukhnenko commented on #1360
[code]
Extremely efficient, of course Did you expect another answer? :smile:

`no IDE type hinting`
Isn't this a problem of concrete IDE?)

`difference in performance`
I think no. It would be the same.

[2018-05-30 18:03] michael-grunder commented on #1358
This seems fine to me.

[2018-05-30 18:13] michael-grunder commented on #1360
I remember `call_use_func_array` being a bit of a performance penalty in php5 but it looks like it may be gone in php7.

I tested calling `EXISTS` both with one big array and through `call_user_func_array` (it works both ways), and the performance was pretty much the same (within 5% or so).  It's unlikely to be a bottleneck.

[2018-05-30 19:50] #1360 closed

[2018-05-30 19:51] michael-grunder commented on #1359
I'm closing this issue.  Please re-open with an example script that replicates the problem.  We don't really have anything to go on here

[2018-05-30 19:51] #1359 closed

[2018-05-31 08:48] yatsukhnenko commented on #1358
This issue is fixed in `develop` branch

[2018-05-31 08:48] #1358 closed

[2018-06-04 06:40] yatsukhnenko commented on #1354
I cherry-picked changes from #1351 into develop

[2018-06-04 19:58] yatsukhnenko commented on #1346
@alpust could you test `develop` branch? We merged fix that closes connections before destroing cluster object

[2018-06-06 10:11] eraikakou commented on #1345
@yatsukhnenko I think that the documentation is not enough accurate. I want to store the php session in a redis cluster and the configuration is the following:

session.save_path = "seed[]=127.0.0.1:30001&seed[]=127.0.0.1:30002"

But, the sessions are stored in redis without compression. Should I add some additional configuration in my config file?

[2018-06-06 11:38] yatsukhnenko commented on #1345
@eraikakou if I'm not mistaken currently there is no configuration option for compression

[2018-06-06 12:11] eraikakou commented on #1345
@yatsukhnenko Thank you very much for your response. So, the session compression (php sessions that are stored in a redis-cluster) is not supported currently at all?

[2018-06-06 13:29] yatsukhnenko commented on #1345
@eraikakou no, wait. Why do you call it compression?

[2018-06-06 14:33] eraikakou commented on #1345
Actually, I want to store compressed data and sessions to a redis-cluster, without doing the compression in the PHP application. So, I use the 4.0.2 version of php redis module since it supports data and session compression with lzf library.
- In order to achieve the first one (the **data compression**), I added the following options to the php redis cluster adapter and **it works fine**. I've che

[2018-06-06 16:42] yatsukhnenko commented on #1354
All changes have been merged

[2018-06-06 16:43] yatsukhnenko commented on #1033
Should be fixed by #1351

[2018-06-06 16:43] #1033 closed

[2018-06-07 22:19] kjoe commented on #1259
I've made some experiment with write performance dropoffs (single client), and I've seen, that on Redis Cluster (and standalone master-slave deployments too), if you add more and more slaves, the write performance continuously slows down (AOF + RDB enabled), especially if you have more then one slave on a host. If you simply stop those slave services, the write performance is increasing to normal

[2018-06-08 08:22] remicollet opened #1364 "Missing files in 4.1.0RC1 archive"
* tests/regenerateSessionId.php
* tests/getSessionData.php
* tests/startSession.php

Trivial to fix, but I don't find what is the proper branch (package.xml in "develop" is outdated)

[2018-06-08 13:54] yatsukhnenko commented on #1364
Thanks @remicollet! I'll add missing files in RC2

[2018-06-08 13:56] yatsukhnenko commented on #1355
@kklingjie this functionality is not merged into any release. You can try compile and use changes from PR #1363

[2018-06-08 13:58] #1347 closed

[2018-06-08 14:02] yatsukhnenko commented on #1356
I prefer to say that this is bug in comment :smile:
@michael-grunder could you look?

[2018-06-08 14:03] yatsukhnenko commented on #1346
Should be fixed in >= 4.1.0RC1

[2018-06-08 14:03] #1346 closed

[2018-06-08 14:06] yatsukhnenko commented on #1345
@eraikakou then my first reply is correct. There is no configuration option for compression of session data.
Please create new issue and describe it if you are interested in this functionality

[2018-06-15 00:58] tanjiancheng commented on #1358
thanks for fixed it!

[2018-06-18 15:06] banakito opened #1367 "Cannot set save.session_path from runtime ini_set()"
### Expected behaviour

I'm using PHPRedis as PHP session manager succesfully when I set `session.save_path` & `session.save_handler` directly in PHP-FPM ini file (www.conf).

As both PHP options are `PHP_INI_ALL` I want to set  them from runtime using `ini_set()`
This is because I'm using sentinel to select the more convenient master dinamically.

### Actual behaviour

if I try to set them from r

[2018-06-19 13:46] SkydiveMarius commented on #1367
There is a mistake in your path timeout parameter, instead of comma you need to use decimal point:
[code]
I just tested the fixed string locally and it worked fined.

[2018-06-19 15:07] banakito commented on #1367
Hi, @SkydiveMarius,

It didn't work for me.
I'm using spanish localization and, if I set the option with comma in www.conf, it works properly.

Anyway, the PHP warning is now:

`"NOTICE: PHP message: PHP Warning:  session_start(): Failed to initialize storage module: redis (path: tcp://redis.host.name:6379?timeout=0.25&amp;prefix=SESION_SHOP:&amp;auth=*********&amp;database=0) in /usr/share/nginx/

[2018-06-20 08:29] SkydiveMarius commented on #1367
@banakito ok, then the comma seems correct.
If possible, could you please run the [monitor](https://redis.io/commands/monitor) command in parallel while executing the script and providing us the sanitized output?

[2018-06-20 19:13] banakito commented on #1367
@SkydiveMarius, It's tricky to debug with monitor command as replication, sentinel and commands from other processes are always coming.

However, after taking a look, nothing relevant is shown. In fact, nothing related to the PHP session appears.

I have to say that the problem IS ONLY RELATED TO PHP SESSIONS. The same application works flawlessly when using PHPRedis API to access the Redis Server

[2018-06-21 12:56] banakito commented on #1367
New findings: after digging a little into the PHP and PHP-FPM configuration files, I've decided to remove all the configuration about `session.save_handler` and `session.save_path` from them.

So, I'm only specifying the session configuration via `ini_set()`. Using `phpinfo()` I can confirm there is no `Master value` previously assigned and the `Local Value` matches what is set via `ini_set`

Now

[2018-06-21 14:39] yatsukhnenko commented on #1367
@banakito we use `php_url_parse_ex` for session_path parsing and as it returns NULL for your string it is probably incorrect. Coul you try to use address and port without any other parameters?

[2018-06-21 15:32] banakito commented on #1367
Oh, my bad! I'm so sorry, @yatsukhnenko,

I've made a mistake in the test. There was really a bug in the path but I messed the logs.
Yes, after correcting the problem the URL is again valid. I've created myself a false clue.

Sadly this lead us again to the OP's problem.

`"NOTICE: PHP message: PHP Warning: session_start(): Failed to initialize storage module: redis (path: tcp://redis.host.name:63

[2018-06-21 16:40] banakito commented on #1367
@yatsukhnenko, I use `&` in the variable but the log shows the entity translated to `$amp;`

Anyway parse_url shows both versions as correct.

[2018-06-21 18:50] yatsukhnenko commented on #1367
OK, then could you test `tcp://redis.host.name:6379` as session_path?

[2018-06-22 00:10] banakito commented on #1367
First of all let me say: we have almost succeeded!

You both, @SkydiveMarius and @yatsukhnenko, pointed in the right direction.

I've started from scratch, as @yatsukhnenko proposed, and the first attempt `tcp://redis.host.name:6379` worked. Then, one each time, I've added the rest of parameters. All has been going fine until I added `timeout`.  As per @SkydiveMarius suggestion I've tried with `.`

[2018-06-22 07:45] yatsukhnenko commented on #1364
@remicollet I released 4.1.0RC3 on pecl. Could you test it?

[2018-06-22 07:56] remicollet commented on #1364
Indeed RC3 have missing files

[2018-06-22 07:56] #1364 closed

[2018-06-23 09:08] peking2008 commented on #1355
**Throw an exception：**
PHP Fatal error:  Uncaught RedisClusterException: Couldn't map cluster keyspace using any provided seed in  test.php
**the code :**
$obj_cluster = new \RedisCluster(NULL, ['ip:6379', 1.5, 1.5]);

My redis auth is open;
How to achieve?

[2018-06-23 10:06] yatsukhnenko commented on #1355
Try to change your code to
`$obj_cluster = new RedisCluster(NULL, ['ip:6379'], 1.5, 1.5);`

[2018-06-24 11:30] banakito commented on #1367
New Tests Results (timeout):
- Need to restart php-fpm after changes.
- Timeout must not be < 1
- Comma is not allowed in non integer values. Use point instead.

Examples:
- `0.5` -> Invalid
- `0.75` -> Invalid
- `1` -> **Valid**
- `1,5` -> Invalid
- `1.5` -> **Valid**

[2018-06-27 08:29] ErwinSteffens commented on #1222
Hi all, any updates on this issue? We are still running with persistent connection disabled and this is causing some issues at the moment.

We are willing to help with providing information or testing.

[2018-06-27 17:46] btrazzini opened #1368 "PHP 7.1 response time"
Did you notice that php-redis is taking about 3ms in get or set operations? (PHP 7.1)

### Expected behaviour
$redis->set();
PHP 5.6 -> 1ms

### Actual behaviour
$redis->set();
PHP 7.1 -> 3ms

### I'm seeing this behaviour on
- OS: amazon-linux-ami/2018.03
- Redis: 3.1.1
- PHP: PHP 7.1.17

[2018-06-27 19:29] yatsukhnenko commented on #1368
Are you sure it is depends on PHP version and not environment?

[2018-06-28 00:02] michael-grunder commented on #1368
I agree with @yatsukhnenko that it seems more related to environment than PHP version.  I did a very simple test with a few versions of PHP and don't see any real difference between 5.x and 7.x.  My results are far faster than 1ms per call, but I'm doing all tests locally.

[2018-06-28 01:16] btrazzini commented on #1368
First of all, thank you for your attention.

I did the tests using the same environment.
Just change the php version installed I could see very different times.

My test was in production (aws):
- EC2 t2.small
- ElasticCache Redis cache.m3.medium

Both using nginx + php-fpm

PS. correcting the versions:
- Redis: 2.8.24
- PHP-Redis: 3.1.1

[2018-06-28 19:52] yatsukhnenko commented on #1368
@btrazzini 3.1.1 was released more than year ago. Could you test the latest stable version?

[2018-06-28 20:07] michael-grunder commented on #1368
Testing a newer version is a good idea, but I don't think this is really a bug:

Here's averaged GET timings across a bunch of versions of PHP:

[code]

These are average timings and will still vary a bit run to run, depending on what else is happening on my system.  That said, I don't see anything like a 3x difference between any version of php.

[2018-06-29 07:19] dimovnike commented on #200
This would be really great to have, because now performance of mGET/mSET drops as number of servers in the array grows.

Also this would be nice to have on the regular Redis() class.

[2018-06-29 16:01] michael-grunder commented on #200
I'm happy to leave the issue open as I see the benefit of adding the functionality.  That said, this will likely be a large or even gigantic feature to implement, especially given that every single read/write operation will require duplicate pathways (blocking and non-blocking).

Also, I don't think we'd want to do this before we remove PHP 5 support from future versions.

[2018-07-02 21:15] mwaggonerzam opened #1370 "mget seems to fail with compression on clusters"
### Expected behaviour

In a redis cluster, keys containing structured data (like arrays) that were set using `phpredis` with PHP serialization and LZF compression should be fetchable with both `get` and `mget` and have the same data come back.

### Actual behaviour

The data returned from `get` comes back correctly decompressed and unserialized, but the data returned from `mget` is the raw string

[2018-07-03 05:58] yatsukhnenko commented on #1370
@mwaggonerzam thank you for the report!
Could you test fix from brach `issue.1370`?

[2018-07-03 06:55] mwaggonerzam commented on #1370
Er, I would, but I'm not sure how to build it correctly. We're using Docker; currently in the Dockerfile we manually fetch and build the extension from PECL, because we need to use the `--enable-redis-lzf` flag and there's no way (as far as I can tell) to do this during a `pecl install` command.

[code]

But with the git checkout of the `issue.1370` branch... I'm not sure what to do. `redis-4.0.2.

[2018-07-03 19:16] yatsukhnenko commented on #1370
`but in the repository itself these files are missing.`
Use `git submodule update --init` to fetch `liblzf` related files

[2018-07-03 21:58] mwaggonerzam commented on #1370
That did the trick. I was able to build the new module, and then substituted it into our cluster environment, and the data is now returned correctly with mget when compression is turned on! Thanks! We can manually build the module from that branch for now when we deploy, and then switch to an official branch once it's incorporated into a release.

[2018-07-04 06:19] yatsukhnenko commented on #1370
Merged to `develop` branch. Also I'm going to release 4.1.0 and 3.1.7 on PECL site with this fix.

[2018-07-04 06:19] #1370 closed

[2018-07-05 17:36] javorszky commented on #1341
`pecl install redis` results in this:

[code]

Because `/usr/local/Cellar/php/7.2.7/pecl` is not a directory. It's a symlink to `/usr/local/lib/php/pecl`

[2018-07-12 01:56] peking2008 commented on #1355
Try to change your code to
$obj_cluster = new RedisCluster(NULL, ['ip:6379'], 1.5, 1.5);

**still error**

[2018-07-12 05:20] peking2008 commented on #1355
change  code to
$obj_cluster = new RedisCluster(NULL, ['ip:6379'], 1.5, 1.5);

**still error**

Fatal error: Uncaught RedisClusterException: Couldn't map cluster keyspace using any provided seed

[2018-07-13 09:25] lkallas opened #1372 "Keys prefix and TTL combined with the result of KEYS or SCAN commands behavior."
When using automatic key prefixes eg. `$redis->setOption(Redis::OPT_PREFIX, 'dev:');` the TTL command is behaving not as expected when combined with the result of `KEYS` or `SCAN` commands.

I guess the best explanation is the code example below:

[code]

Is this bug or feature?

[2018-07-13 13:10] jrchamp commented on #1372
There's a lot of overlap with #548. As @maximium said "[phpredis] should [be changed to] prepend the prefix to the "match" argument in scan method and strip the prefix in result set."

[2018-07-17 10:07] zhenhai1 commented on #831
I have same problem,

[2018-07-17 10:29] redzippo1 opened #1373 "[HELP] How can I increase RedisCluster’s performance in persistent connection?"
Hello there,

before the question, thank you for take phpredis for us~

I’m migrating redis to cluster pattern from single in my project. when I'm doing pressure test on my php API, I found that the performance of [phpredis4.0.2 + redis cluster] is not as good as our expect (already use persistent connection).
I guess the reason is each request of php will send cluster slots to redis server to get

[2018-07-17 17:05] michael-grunder commented on #1373
Hi, you're right about this.  Sending `CLUSTER SLOTS` has a pretty big impact on performance and I do want to get the slot caching mechanism updated so it also works in PHP 7.x.

I don't think it'll be too big a task but I'll have to take another look before I can be sure.

[2018-07-20 00:34] camry commented on #831
@yatsukhnenko  I have solved. Is the issue of sticky package.

[2018-07-20 14:53] dkarlovi opened #1374 "Invalid parameters detected by reflection on \Redis::set()"
### Expected behaviour

Properly detect the params' count and type.

### Actual behaviour

The third param (int|array) is not detected properly, it shows up as two params.

### I'm seeing this behaviour on
- OS: Linux, Alpine 3.8
- Redis: 4.0.7
- PHP: 7.2.7
- phpredis: 4.0.2

### Steps to reproduce, backtrace or example script

Please see https://github.com/snc/SncRedisBundle/issues/442

### I've

[2018-07-20 14:59] jrchamp commented on #1374
That change was introduced in https://github.com/phpredis/phpredis/commit/ab429f5d98e40a9e3138ed9b0db2876c382c3cb9

[2018-07-24 12:10] sconts commented on #1183
Any update on this issue?

[2018-07-24 13:35] sconts commented on #1139
Any update on this issue?

[2018-07-25 02:35] AlexeyPrats opened #1376 "rejson support"
Hello. Thanks for your job!
There is [REJSON](https://oss.redislabs.com/rejson/commands/) available since 4.0 but I don't see any mentions in sources here.
Will you add it anytime soon?

p.s. sorry if this is not issue

[2018-07-25 14:13] yatsukhnenko commented on #1376
@AlexeyPrats you can use `rawCommand` to send any non-standard commands to server

[2018-07-26 01:20] ezequiel9 commented on #372
Install Redis extension on your pc

Download  the CORRECT version the DDL from the following link
https://pecl.php.net/package/redis/4.1.0/windows

Put the dll in the correct folder
Wamp -> C:\wamp\bin\php\php-XXXX\ext
Laragon -> C:\laragon\bin\php\php-XXX\ext

Edit the php.ini file adding

extension=php_redis.dll

Restart server and check phpinfo(); . Now Redis should be there!

[2018-07-26 01:21] ezequiel9 commented on #725
Install Redis extension on your pc

Download  the CORRECT version the DDL from the following link
https://pecl.php.net/package/redis/4.1.0/windows

Put the dll in the correct folder
Wamp -> C:\wamp\bin\php\php-XXXX\ext
Laragon -> C:\laragon\bin\php\php-XXX\ext

Edit the php.ini file adding

extension=php_redis.dll

Restart server and check phpinfo(); . Now Redis should be there!

[2018-07-27 00:49] mjkn92 opened #1379 "GitHub use learning"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2018-07-27 09:02] yatsukhnenko commented on #1379
Hi, I think maybe this issue was opened by accident?

[2018-07-27 09:02] #1379 closed

[2018-07-28 02:37] AlexeyPrats commented on #1376
спасиб.
this one works:
[code]

[2018-07-28 08:47] yatsukhnenko commented on #1376
Resolved

[2018-07-28 08:47] #1376 closed

[2018-07-29 11:37] yatsukhnenko commented on #1374
@jrchamp, thanks! I'll fix arginfo signature for set method today

[2018-07-29 19:37] yatsukhnenko commented on #1374
I pushed commit with fix into `develop` branch. Now arginfo looks
[code]

[2018-07-29 19:56] dkarlovi commented on #1374
Thanks! We should try to check if the reflection extracts the correct info now.

[2018-07-29 19:59] yatsukhnenko commented on #1367
@banakito could you test the latest changes from `develop` branch?

[2018-07-29 20:08] yatsukhnenko commented on #548
Closing in favour to #1363

[2018-07-29 20:08] yatsukhnenko commented on #548
Oops

[2018-07-29 20:13] yatsukhnenko commented on #1343
Old issue without any activity for a long time

[2018-07-29 20:13] #1343 closed

[2018-07-30 02:20] jrchamp commented on #1374
For reference, here's the commit: https://github.com/phpredis/phpredis/commit/0c5e7f4df9f09d85d89db683289d64f3daa13434

[2018-07-31 08:08] curry684 commented on #1374
Any indication on release date? I'll need to decide whether we patch it out on our end in the bundle for the time being.

[2018-07-31 08:35] dkarlovi commented on #1374
@curry684 this might require a version detection there TBH.

[2018-07-31 09:26] yatsukhnenko commented on #1374
I'll try to prepare release with the fix this evening

[2018-07-31 10:01] curry684 commented on #1374
@dkarlovi just to prevent double work on @yatsukhnenko 's end - can you easily verify that this was the only signature issue and not just the first that caused proxy compilation to fail before the rest was found?

[2018-07-31 10:27] dkarlovi commented on #1374
I'll try to squeeze it in today.

[2018-07-31 17:43] dkarlovi commented on #1374
I can confirm master does not throw the same warning 4.1.0 does, created a small Docker based reproducer to confirm, will push to GH so you can use it too.

[2018-08-01 07:12] dkarlovi commented on #1374
Pushed a toy to test reflection against released and `develop` phpredis: https://github.com/dkarlovi/phpredis-reflection

[2018-08-01 09:27] yatsukhnenko commented on #1374
4.1.1 is released on PECL site and tagged on GH

[2018-08-01 10:47] dkarlovi commented on #1374
The problem described here is fixed, closing.

[2018-08-01 10:47] #1374 closed

[2018-08-01 19:21] flacerda opened #1381 "Prefix in Cluster"
Hi there,

I'm using  phpredis to store PHP session information in a Redis cluster.

This is my configuration:

session.save_handler = rediscluster
session.save_path = "seed[]=mycluster:myport1"

How i change prefix string? It's possible with cluster?

Thanks!

[2018-08-02 06:59] yatsukhnenko commented on #1381
Hi. It should work the same as for redis handler.
`session.save_path = "seed[]=mycluster:myport1&prefix=mycluster:"`

[2018-08-02 13:20] #1381 closed, assigned to nobody

[2018-08-05 01:39] banakito commented on #1367
Hi, @yatsukhnenko.

I can confirm that the 4.1.1 version is working as expected.
Now my default value `0.25` is valid again.

[2018-08-05 01:42] #1367 closed

[2018-08-06 12:42] tuxArg opened #1382 "MULTI/EXEC result inside PIPELINE"
When I use multi/exec inside a pipe and some watched key was changed, I'm getting an empty array instead of false.

$redis->watch('x');
$redis1->set('x',1);
$pipe=$redis->multi(Redis::PIPELINE);
$pipe->multi();
$pipe->exec();
var_dump($pipe->exec()[0]);

### Expected behaviour
bool(false)

### Actual behaviour
array(0) {
}

I think the output should be the same as:
$redis->watch('x');
$redis1->set

[2018-08-06 18:03] andrerom commented on #1176
Might be missing something, but misc attempts to use this as argument to `pecl install` just gives ´Console_Getopt: unrecognized option --enable-redis-igbinary´. So seems it only works for user prompt, so for builds forcing you to blindly say yes to everything in order to enable it _(via `yes '' | pecl install redis` or similar)_.

Probably better ways but in order to get pecl to pick latests + co

[2018-08-07 16:23] jorgecc opened #1384 "pconnect() generates a fatal error if redis is down."
### Expected behaviour
generates a catchable error.
### Actual behaviour
it generates a fatal error that is not capturable.
### I'm seeing this behaviour on
- OS:  Windows 10/64bits php 7.1 64bits.
- Redis: 4.1.1
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script
        $red= new Redis();
	    try {
                $r=@$red->pconnect($server,$port, 8); // the @ doesn't avoid

[2018-08-08 07:58] jianqiangsong opened #1385 "Timed out attempting to find data in the correct node"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:  ubabntu 16.04 Lts
- Redis: 3.2
- PHP: 7.0
- phpredis: 4.0

### Steps to reproduce, backtrace or example script
   we use  rediscluster ;
    so many problem  :  timed out attempting to find data in the correct node!

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `dev

[2018-08-08 08:11] yatsukhnenko commented on #1385
@jianqiangsong could you add more details about issue?

[2018-08-08 09:43] jianqiangsong commented on #1385
We use cluster mode, but the client links redis, and the following reports are wrong.
timed out attempting to find data in the correct node!
How to solve the mistake ？

[2018-08-08 11:54] yatsukhnenko commented on #1385
I'm not sure I understand the problem :(
Could you provide test script?

[2018-08-09 02:47] jianqiangsong commented on #1385
[2018-08-08 14:36:26 *176089.7]	ERROR	zm_deactivate_swoole (ERROR 503): Fatal error: Uncaught RedisClusterException: Timed out attempting to find data in the correct node! in /var/www/pt_target/Newtrade/SwooleCommand/Controller/SwooleServerController.class.php:221
Stack trace:
#0 /var/www/pt_target/Newtrade/SwooleCommand/Controller/SwooleServerController.class.php(221): RedisCluster->hgetall('ws_c

[2018-08-09 10:02] marcdejonge commented on #1222
Still no updates? We are thinking of switching to a different library because of this, it is still causing problems.

[2018-08-13 09:34] yatsukhnenko commented on #1385
@jianqiangsong https://github.com/phpredis/phpredis/issues/888#issuecomment-232554219
Try to change timeouts

[2018-08-16 01:30] Yurunsoft opened #1386 "extends \Redis problem"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Ubuntu
- Redis: 3.2.100
- PHP: 7.1.20
- phpredis: 4.0.0

### Steps to reproduce, backtrace or example script

[code]

result：

[code]

### I've checked
- [x] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2018-08-16 04:29] yatsukhnenko commented on #1386
@Yurunsoft this issue already fixed in `4.1.1` and `develop` branch

[2018-08-16 04:31] Yurunsoft commented on #1386
OK

[2018-08-16 04:31] #1386 closed

[2018-08-16 09:11] nolimitdev opened #1387 "Mistakes in README.markdown"
Table of contents:
Installation on OSX ... #installation-on-osx
Building on Windows ... #building-on-windows
... links are not working (should be removed from table of contents because installation info was moved to INSTALL.markdown)

Newly added section for session locking https://github.com/phpredis/phpredis/blob/develop/README.markdown#session-locking contains invalid syntax for php.ini which c

[2018-08-16 09:17] yatsukhnenko commented on #1387
@nolimitdev pull requests are always welcome :)

[2018-08-16 09:19] nolimitdev opened #1388 "Redis directives are not visible in phpinfo()"
### Expected behaviour
Redis directives should be visible in output of phpinfo()

### Actual behaviour
Redis directives are not visible in output of phpinfo()

### I'm seeing this behaviour on
- OS: both windows and linux
- Redis: any version
- PHP: any version
- phpredis: 4.1.1

### Steps to reproduce, backtrace or example script
Check phpinfo() and look for "redis". Redis extension is mentioned

[2018-08-20 06:33] jianqiangsong commented on #1385
Is there another solution？

[2018-08-20 10:55] yatsukhnenko commented on #1385
@jianqiangsong could you show how does the key look like?

[2018-08-20 12:36] ErwinSteffens commented on #1222
Hi all, we are still having issues with this. Maybe it is unusual to do this, but we are willing to pay for having this issue fixed. If anyone is interested, please let me know.

[2018-08-20 15:03] yatsukhnenko commented on #1222
@ErwinSteffens if I understand correctly you have a bit different issue than was described by @nicofff.
Could you explain this?

I'm going to change reconnect logic and change behavior of `close` method (force close connection even if it is persistent). It may be useful to create workaround in your applications while we didn't get it in extension

[2018-08-20 19:32] ErwinSteffens commented on #1222
No, we have the same issue as described by @nicofff. There is a read time-out with shows by a `RedisException` with message `socket error on read socket` message.

After this we receive invalid data. It is the same as described in the reproduction in the start of the topic.

[2018-08-21 14:29] yatsukhnenko commented on #1222
@nicofff @ErwinSteffens I made changes in reconnect logic. Could you test [changes](https://github.com/yatsukhnenko/phpredis)

[2018-08-21 18:03] nicofff commented on #1222
@yatsukhnenko Tested the develop branch from your fork, still fails as reported originally.

[2018-08-22 06:15] yatsukhnenko commented on #1222
@nicofff, @ErwinSteffens  I added more changes to close/reconnect logic and push them to [develop](https://github.com/phpredis/phpredis) branch. Now you can use `Redis::close` and `RedisCluster::close` to close persistant connections.

[2018-08-22 12:12] longmon commented on #283
How to fix this problem?

[2018-08-22 12:49] yatsukhnenko commented on #283
@longmon please open new issue if you have a similar problem

[2018-08-22 14:32] nicofff commented on #1222
@yatsukhnenko  Rerun the test with the new code you pushed:
1) Without modifying the test (ie: don't call close on exception) I'm consistently getting only one wrongly read key, and then it returns to normal operation, instead of continuing to read wrong values indefinitely.
2) Modifying the test to call close after an exception is triggered does seem to prevent the issue.

[2018-08-23 09:59] tomponline opened #1389 "smembers intermittent protocol error, got '#012' as reply type byte"
### Expected behaviour

smembers runs without error.

### Actual behaviour

Since upgrading from phpredis 2.2.3 to 4.1.1 we are experiencing intermittent protocol errors.
Nothing else has changed except the version of phpredis.
Intermittently the call to smembers triggers an error `protocol error, got '#012' as reply type byte`

Example code that triggers error intermittently:

[code]

### I'm see

[2018-08-23 10:00] tomponline commented on #1389
I've looked at some other similar issues, but nothing that matches exactly, and they were marked as resolved in earlier versions, however we are still seeing it.

[2018-08-23 10:16] tomponline commented on #831
We are seeing something similar with phpredis 4.1.1 and redis 3.2.0

https://github.com/phpredis/phpredis/issues/1389

Its not protected mode, as most of the time its working fine.

[2018-08-23 19:05] ErwinSteffens commented on #1222
Thanks. We will start testing it next week.

[2018-08-23 19:43] mwaggonerzam opened #1390 "phpredis doesn't emit error messages for some PS_OPEN_FUNC failures"
### Expected behaviour

Any time `PS_OPEN_FUNC` fails (that is, returns `FAILURE`), it should emit an error message before returning, so that it's possible for us to tell why it failed.

(Some details: Right now if the phpredis session handler fails to open, the only error message we see is PHP's `PHP Fatal error:  session_start(): Failed to initialize storage module: rediscluster (...)`. But we h

[2018-08-24 09:40] yatsukhnenko commented on #1111
I changed the logic and now connection marked as failed only after failed reconnection attempts

[2018-08-24 09:40] #1111 closed

[2018-08-24 09:42] yatsukhnenko commented on #413
Should be fixed in `develop` branch

[2018-08-24 09:42] #413 closed

[2018-08-24 09:46] yatsukhnenko commented on #687
Fixed in `develop` branch

[2018-08-24 09:46] #687 closed

[2018-08-24 09:49] yatsukhnenko commented on #832
In the latest stable release `discard` command should works as expected

[2018-08-24 09:49] #832 closed

[2018-08-24 09:50] yatsukhnenko commented on #1121
Should be fexed in `develop` branch

[2018-08-24 09:50] #1121 closed

[2018-08-24 09:52] yatsukhnenko commented on #1218
Shuold be fixed in `develop` branch

[2018-08-24 09:52] #1218 closed

[2018-08-24 13:45] ebuildy opened #1391 "List of ini configuration ?"
I am searching how to specify the serializer via ``php.ini`` file (to get rid of ``Unable to load dynamic library '/usr/lib/php/20131226/redis.so' - /usr/lib/php/20131226/redis.so: undefined symbol: igbinary_serialize`` errors).

Where can I find the list of ini configuration strings?

[2018-08-24 13:50] remicollet commented on #1391
Like for all extension, `php --re redis`

[2018-08-24 13:55] ebuildy commented on #1391
this gives me lot of information about source code, not configuration:

[code]

[2018-08-25 20:17] jonathanhartley opened #1392 "Cluster connect to 4.0.11 exhausts memory when cluster slots allocated by mod"
### Expected behaviour
Connect and return connection object

### Actual behaviour
Just exausts php memory, no exception returned

### I'm seeing this behaviour on
- OS: Apline and CentOS 7
- Redis: 4.0.11
- PHP: 7.2.4
- phpredis: 3.2.6

### Steps to reproduce, backtrace or example script
Try to create new connection in the normal way, PHP returns memory exhaustion whatever levels are set, no excep

[2018-08-25 20:38] michael-grunder commented on #1392
Hey,

I can't replicate this issue (tried on php-7.2.4 under Ubuntu as well as Centos7).  Can you provide more information in which to replicate the issue?  Honestly, if phpredis were immediately running out of memory I would expect to see several reports.

[2018-08-26 17:04] michael-grunder commented on #1392
Interesting.  I can try to set up a cluster with that sharding configuration and see if I can replicate the issue.

What version of phpredis are you running again?  You said it was `3.2.6` but I don't think we have a version `3.2.6`.  Did you mean `3.1.6`?

[2018-08-26 18:30] jonathanhartley commented on #1392
Hi yep sorry, 3.1.6,
[reset.txt](https://github.com/phpredis/phpredis/files/2321788/reset.txt)
Extracted the part of the container init script that does the work, its a stateful set in kubernetes so you might have to alter to get to work locally in docker

[2018-08-28 15:54] ebuildy commented on #1310
I got the same thing too, it happens randomly, when creating the ``RedisCluster`` object, I believe this is when the library is getting the key space:
1- https://github.com/phpredis/phpredis/blob/1d997873750e5fdef1fe368b5296f4427dab3ea0/cluster_library.c#L947
2- https://github.com/phpredis/phpredis/blob/1d997873750e5fdef1fe368b5296f4427dab3ea0/cluster_library.c#L615
3- https://github.com/phpredis/

[2018-08-28 16:07] anbuc opened #1393 "SCAN leads to fatal error with RedisArray"
### Expected behaviour
Script outputs the number of keys

### Actual behaviour
Script fails with `PHP Fatal error:  RedisArray::__call(): Could not find key in /home/anbuc/workspace/phpredis/test.php on line 6`

### I'm seeing this behaviour on
- OS: Debian
- Redis: redis-cli 2.8.17
- PHP: 7.1.13
- phpredis: develop (3.1.4RC1-168-g1d99787)

### Steps to reproduce, backtrace or example script
[code

[2018-08-28 18:18] ebuildy commented on #679
This error happens when you create the ``RedisCluster`` php object, the phpredis extension exec ``CLUSTER SLOT`` command to retrieve the cluster state, to build the keyspace.

The big problem here, is there is no failover mecanism! If the first host is down or slow, an exception is thrown.

This function is called:

https://github.com/phpredis/phpredis/blob/1d997873750e5fdef1fe368b5296f4427dab3ea0

[2018-08-28 19:51] yatsukhnenko commented on #1393
It seems that we need to implement `RedisArray::scan` method similarly to `RedisArray::keys`

[2018-08-28 19:53] yatsukhnenko commented on #1391
@ebuildy currently there is no way to specify serializer via php.ini

[2018-08-28 20:08] yatsukhnenko commented on #1388
@nolimitdev thank you for issue.
@michael-grunder is there any reasons to not set default values through PHP_INI_ENTRY?

[2018-08-28 20:17] yatsukhnenko commented on #1384
@jorgecc tried to run your example script and looks like try/catch works as expected
`PHP Fatal error:  Uncaught Error: Call to undefined function DebugFile() in /home/pyatsukhnenko/code/phpredis/1384.php:7`
Unfortunetely I can't test it on windows environment

[2018-08-28 20:36] yatsukhnenko commented on #648
Probably fixed via #1351

[2018-08-28 20:36] #648 closed

[2018-08-28 20:37] yatsukhnenko commented on #547
Should be fixed in `develop` branch

[2018-08-28 20:37] #547 closed

[2018-08-30 15:00] aierui opened #1396 "redis get command time per request 1-2ms, but encounter speed time 1-5s one in a thousand"
### Expected behaviour
redis get command time per request `1-2ms`.

### Actual behaviour
 but encounter speed time `1-5s` average one in a thousand.

### I'm seeing this behaviour on
- OS: Linux
- Redis: 4.9.103
- PHP: 7.1.9
- phpredis: 3.1.3

### redis.conf
- timeout 5

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Iss

[2018-08-30 15:03] yatsukhnenko commented on #1396
@aierui try to move
[code]
to the begining of the script

[2018-08-31 14:58] yatsukhnenko commented on #1396
@aierui I've run your test script in a loop
[code]
and there was no timeouts.
It seems that you need to look at your system stats

[2018-08-31 21:35] poisa commented on #1196
For anyone else that is interested, you can always use the `yes` utility to auto-answer all questions installers ask with the same string. In this case,

will install with all options set to "y". If you wanted to negate all options you could do:

[2018-09-04 00:34] jorgecc commented on #1384
I changed to PHP 7.2 and now it's working. I don't know if I did something bad but it's working.

Thanks.

[2018-09-04 00:34] #1384 closed

[2018-09-05 07:03] yatsukhnenko commented on #1388
Ini entries should be visible in `develop` branch

[2018-09-05 07:31] yatsukhnenko commented on #1388
@nolimitdev could you test the latest changes from `develop` branch?

[2018-09-05 08:27] nolimitdev commented on #1388
@yatsukhnenko Yes, it is working now! Great job! Thank you.
![phpinfo-redis](https://user-images.githubusercontent.com/25459317/45080832-107ef800-b0f6-11e8-8903-d9ef536a6dc6.png)

[2018-09-05 08:31] #1388 closed

[2018-09-05 09:54] yatsukhnenko commented on #1222
@ErwinSteffens how is your tests going?

[2018-09-05 09:57] yatsukhnenko commented on #1222
@ebuildy could you open new issue ?

[2018-09-05 11:45] PhilETaylor opened #1397 "php 7.3 compatibility"
Firstly, not sure if this is the right place or if this is an Apline issue, but... hey ho.

Alpine Linux has PHP 7.3 beta3 available, and 4.1.1 of [php7.3-redis](https://repos.php.earth/alpine/v3.8/x86_64/php7.3-redis-4.1.1-r0.apk)

I'm using docker to build a container with PHP 7.3 beta3 with the above.

On installation I get the error below

On running PHP at the command line I get the same erro

[2018-09-05 11:49] PhilETaylor commented on #1397
Further notes. If I install from source in Alpine:latest with

[code]

and then run PHP I get

[code]

A different symbol not found.

[2018-09-05 12:03] remicollet commented on #1397
I build latest version (4.1.1) against latest PHP 7.3.0beta3 without issue, and test suite passes.
So probably an alpine specific issue.

[2018-09-05 12:05] remicollet commented on #1397
You need the session extension

[2018-09-05 13:04] PhilETaylor opened #1399 "Build warning - expects argument of type 'long int', but argument 5 has type 'int'"
forked from https://github.com/phpredis/phpredis/issues/1397#issuecomment-418709488

When building on Alpine v3.8

[code]

<img width="1166" alt="screen shot 2018-09-05 at 14 10 06" src="https://user-images.githubusercontent.com/400092/45095207-6ca54480-b115-11e8-8df6-9c816153114b.png">

[2018-09-05 13:04] #1397 closed

[2018-09-05 15:05] ebuildy opened #1400 "Missing failover support when connecting to a cluster"
Relate to https://github.com/phpredis/phpredis/issues/1222

### Expected behaviour

failover must work when retrieving cluster slots at initialization.

### Actual behaviour

On a cluster environment, at initialization, we must retrieve the ``CLUSTER SLOT``, if the socket connection failed, an exception is thrown and failover is not working here, here the call stack:

1. https://github.com/phpredi

[2018-09-05 20:29] yatsukhnenko commented on #1399
Fixed in `develop` branch. @PhilETaylor could you test and confirm?

[2018-09-06 06:18] yatsukhnenko commented on #1222
@nicofff the issue is resolved? can we close it?

[2018-09-06 06:52] ErwinSteffens commented on #1222
Sorry, but we had some change in priorities and did not do any testing yet. Hope we can do it next week.

[2018-09-06 09:13] PhilETaylor commented on #1399
Confirmed that develop branch at dcde9331670ee65f29e30665fa1b233e473cfade doesnt have this warning

[2018-09-06 09:13] #1399 closed

[2018-09-06 20:56] nicofff commented on #1222
@yatsukhnenko We don't currently have a live deployment with redis cluster. I'd love to wait to see what results @ErwinSteffens gets.

From the testing I made, I'd say the issue impact has been greatly reduced and can be worked around. I wouldn't say it's fixed. I think to consider it fixed, one of two things should happen.
a) The single instance of key misreading after an exception shouldn't happ

[2018-09-07 20:45] boesing opened #1401 "BC break starting with 4.0.1"
### Expected behaviour
`exists` returns boolean

### Actual behaviour
`exists` returns integer, depending on how many hits the key(s) has/have

### I'm seeing this behaviour on
- OS: osx
- Redis: 4.0.11
- PHP: 7.2
- phpredis: 4.1.1

### Steps to reproduce, backtrace or example script
[code]

### I've checked
- [X] There is no similar issue from other users
- [X] Issue isn't fixed in `develop` bran

[2018-09-07 20:50] boesing commented on #1401
I would suggest to return `boolean` if one key was provided.
If multiple keys are provided, return integer.

Maybe change the return value to integer only in the next major version instead?

[2018-09-10 04:49] Devying opened #1402 "scan endless loop"
code：
[code]
always output the same result.

why?

redis version is 2.4.20

[2018-09-10 17:11] michael-grunder commented on #1402
I'm not sure I understand the question.  It would output the same result against the same keys.  What is happening that you don't expect?

[2018-09-11 05:59] a5635268 commented on #1402
I have the same problem， This happens in the framework：

$redis = new \Redis();
$redis = \Illuminate\Support\Facades\Redis::connection();

The latter is based on Facede  pattern creation.

[2018-09-11 06:16] yatsukhnenko commented on #1402
@michael-grunder I guess that @Devying expects that `while` loop will run infinitely because  `Redis::SCAN_RETRY` enabled and `scan` returns empty array

[2018-09-11 06:17] yatsukhnenko commented on #1402
@a5635268 could you explain your problem?

[2018-09-12 06:31] Devying commented on #1402
@michael-grunder @a5635268 @yatsukhnenko ，thank you very much，yes，i used the lumen framework ,but I still don't know why。

[2018-09-12 06:47] a5635268 commented on #1402
@Devying

In fact, I used a Chinese name called ThinkPHP5 framework，The same problem arises.  redis object based on Facede pattern creation。

[2018-09-12 06:49] Devying commented on #1402
Sorry,I am Chinese, my English speaking is not very good. This is not a problem with phpredis but a problem with the lumen framework.

[2018-09-12 06:50] #1402 closed

[2018-09-12 06:53] a5635268 commented on #1402
@Devying  我在thinkphp5中也同样发现了这个问题，基于Facede创建的redis对象，使用scan都会无限循环~原因未知，觉得很奇怪。如果用new \Redis(); 就不会出现这种情况！

[2018-09-12 14:05] nolimitdev opened #1403 "Session connection timeout does not work"
### Expected behaviour
Execution of php script should stop after timeout is reached.

### Actual behaviour
Execution of php script is not ended after defined timeout in session.save_path parameter when redis service is not running.

### I'm seeing this behaviour on
- OS: Linux (Debian)
- Redis: 3.2.11
- PHP: 7.0
- phpredis: 4.1.1

### Steps to reproduce, backtrace or example script
[code]

This sc

[2018-09-12 14:32] nolimitdev commented on #1387
[PR](https://github.com/phpredis/phpredis/pull/1404)

[2018-09-17 07:30] PraseethaDhanesh opened #1405 "php-redis not supporting on http2 (Apache/2.4.34)"
### Expected behaviour
while loading from browser it should dispaly "Connection to server sucessfullyServer is running: +PONG" .
### Actual behaviour
Nothing displaying.
error log getting error
PHP Fatal error:  Uncaught Error: Class 'Redis' not found in /var/www/html/redis.php:3\nStack trace:\n#0 {main}\n  thrown in /var/www/html/redis.php on line 3

from terminal its working fine.
[root@ip-172-3

[2018-09-17 08:56] ServiceYun opened #1406 "php 7.1.19 Bug?"
### Expected behaviour

### Actual behaviour
PHP Startup: Unable to load dynamic library '/usr/local/php/modules/redis.so' - dlopen(/usr/local/php/modules/redis.so, 9): no suitable image found. Did find: /usr/local/php/modules/redis.so: code signature in (/usr/local/php/modules/redis.so) not valid for use in process using Library Validation: mapped file has no cdhash, completely unsigned? Code has

[2018-09-17 09:06] yatsukhnenko commented on #1405
@PraseethaDhanesh you need to check your Apache server setting

[2018-09-17 09:08] yatsukhnenko commented on #1406
@ServiceYun how did you installed phpredis in your system?

[2018-09-17 09:14] ServiceYun commented on #1406
# phpize

[2018-09-17 17:59] yatsukhnenko commented on #1406
@ServiceYun did you try [homebrew or mackports](https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown#installation-on-osx)?

[2018-09-18 03:52] weixuan19930 commented on #474
Same error happens in swoole worker...

[2018-09-18 19:51] o5 opened #1407 "Allow -/+ as Min/Max in RedisCluster::zlexcount()"
### Expected behaviour
Method `zlexcount()` should accept `-`, `+` as min/max arguments.

- It's documented in [Redis docs](https://redis.io/commands/zlexcount)
- Really works with `redis-cli` :)

[code]

### Actual behaviour
[code]

### I'm seeing this behaviour on
- OS: Alpine 3.7
- Redis: 3.2.9
- PHP: 7.2.9
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script
[code]

### I've

[2018-09-19 00:04] michael-grunder commented on #1407
This should be fixed now in the develop branch.  Let me know if it works for you.

[2018-09-19 02:36] ServiceYun commented on #1406
No, I replaced it with docker(php-fpm) for the time being.

[2018-09-19 02:43] ServiceYun commented on #1406
Will the problem lie on PHP version? No error during compilation.

[2018-09-19 08:06] nolimitdev commented on #1403
There is difference in comparison with Redis:connect() when in mentioned cases (redis is stopped or unavailable or I use incorrect port or incorrect path to .sock file) calling connect() method ends immediately (as expected) with error:

... in case unix socket domain

... in case TCP (host+port)

This behavior of Redis:connect() should be the same for php session ini_set('session.save_handler', '

[2018-09-19 14:00] nolimitdev commented on #1403
It is strange. Im getting this issue on two different servers debian 7 + php5 and debian 8 + php7.

[2018-09-19 14:16] nolimitdev commented on #1403
Im getting this issue also when redis is running and port is correct but server is password protected and I omit auth parameter or use incorrect password = php script is never ending.

[2018-09-19 14:16] yatsukhnenko commented on #1403
When I changed localhost to github.com

PHP5
[code]
PHP7
[code]

[2018-09-19 14:20] yatsukhnenko commented on #1403
This is bug. `redis_pool_member_auth` doesn't check server response
@nolimitdev Could you create separated issue for this?

[2018-09-19 14:28] nolimitdev commented on #1403
What is result of this bug with missing or incorrect auth? Never ending php script?

[2018-09-19 14:29] yatsukhnenko commented on #1403
I didn't test incorrect auth :)

[2018-09-19 14:49] nolimitdev commented on #1403
On another server Ubuntu 16.04 I got immediately error in case of incorrect port: Fatal error: Uncaught RedisException: Connection closed in ...
I do not understand why Im getting this never ending script issue on two different Debian servers.

[2018-09-19 15:17] yatsukhnenko commented on #1403
Is firewall enabled on your Debian server?

[2018-09-20 05:03] courtney-miles commented on #1401
I was struck by this also.  Now I found that Redis itself had changed the behaviour of `exists` I think it is perhaps acceptable that returns an int and that it does this since version 4.

It would be good to get confirmation that this is a deliberate change and won't be reverted.

[2018-09-20 07:47] o5 commented on #1407
I just tried version from develop branch and it works, thank you for quick fix! Is there any change this will be also backported to version `3.*`? :)

[2018-09-20 12:04] CZechBoY commented on #1400
btw [php5.6 & php7.0 is dead](http://php.net/supported-versions.php), use php7.1 or php7.2

[2018-09-20 12:05] ebuildy commented on #1400
Not sure this is related, but thanks you...

[2018-09-20 15:02] danielbachhuber commented on #1341
One issue I ran into is that `pecl install `redis` dumped `extension="redis.so"` at the top of my `php.ini`. This was invalid, and gave me an error like this:

[code]

I removed the `extension="redis.so"` line and instead created `/usr/local/etc/php/7.2/conf.d/ext-redis.ini` with:

[code]

[2018-09-20 15:27] michael-grunder commented on #1407
I'm glad the fix sorted the issue.

Not sure if we can backport the change to 3.x though.  I'm anxiously awaiting December so we can release a version with all of the PHP 5/7 compatibility logic stripped out!

If you need `zLexCount` and `zRemRangeByLex` with `-` and `+` support you can get it like this:

[code]

[2018-09-20 15:27] #1407 closed

[2018-09-20 15:43] michael-grunder commented on #1401
Hi,

This change to the Redis API has actually caused a lot of problems for phpredis users over the years.  I introduced the change from `boolean` to `long` after the Redis API changed in a phpredis 3.x release but didn't account for the fact that it was a breaking change, so it was reverted.

We then officially made the breaking change in 4.0.0:
https://pecl.php.net/package/redis/4.0.0
https://gi

[2018-09-20 16:07] o5 commented on #1407
@michael-grunder I tried `rawCommand()` before creating this issue but unfortunately I was not able to specify in which Redis Node the KEY is stored (I'm using cluster mode).

[2018-09-20 16:20] michael-grunder commented on #1407
You should be able to do something like this:

[code]

Essentially just pass the key name you're accessing as the first argument, and then the command you want executed.

[2018-09-21 09:13] Jaessun commented on #1406
It seems that Apple implemented Library Validation through Apache on MacOS Mojave. That makes it apparently impossible to load unsigned binaries with Apache. I have the exact same issue when I try to load a custom version of PHP 7.2 (that I got from https://php-osx.liip.ch/).

`httpd: Syntax error on line 182 of /private/etc/apache2/httpd.conf: Cannot load /usr/local/php5/libphp7.so into server: d

[2018-09-21 16:40] michael-grunder commented on #1406
Since Mojave is not officially released yet I was unable to find much information on this new feature of OSX.

I did come across this blog which does seem related:
http://www.lapcatsoftware.com/articles/debugging-mojave.html

The blog mentions running this command:
`/usr/sbin/DevToolsSecurity -enable`

I don't know if this tool is related to library validation but it might be worth a try.  I suspe

[2018-09-21 18:03] michael-grunder commented on #1407
Ok, I'm glad you were able to come up with a workaround.

I am curious as to why `rawCommand` isn't working.  If you're using key prefixing you would have to do something like this:

[code]

Cheers!
Mike

[2018-09-24 07:37] ss-17 opened #1409 "How to prevent sessions listing & reading when using phpredis as session handler?"
Hi.

This must be a trivial concept on redis but I am unable to find out how. When using files as session handler, the directory /var/lib/php5/sessions has strict permissions so that the created files can only be read/write by the owner. Apart from that, no normal user can even list that directory. But when using redis as session handler, these protections are gone and anyone can read the redis pa

[2018-09-24 07:40] Jaessun commented on #1406
DevToolsSecurity was already enabled on my system, so unfortunately that didn't change anything.

For now as a workaround I was able to load my module into Apache by disabling the System Integrity Protection on my mac.

[2018-09-24 10:56] yatsukhnenko commented on #1403
@nolimitdev did you try to run your test script from cli on Debian server?

[2018-09-24 11:21] nolimitdev commented on #1403
I wrote it in first message

I have to press CTRL+C on Putty terminal to cancel it after long time. It is probably never ending via CLI bacause of max_execution_time is hardcoded to 0 by this comment from php.ini:

Can you test it please on some Debian 7 or 8 with phpredis 4.1.1?

[2018-09-24 11:34] chinmaygupta28 opened #1410 "Restore should take replace flag as parameter"
https://redis.io/commands/restore

Restore function doesn't take the replace flag as a parameter as expected from the redis docs.

[2018-09-24 11:36] srmussol commented on #1410
22l2yz5

El lun., 24 sept. 2018 13:34, Chinmay Gupta <notifications@github.com>
escribió:

[2018-09-24 15:14] koleo opened #1411 "Failed to write session data (redis) after upgrade to phpredis 4.1"
I manage PHP 7.1 Sessions using **redis** as my save_handler.

After upgrading from phpredis 4.0.2 to 4.1.1 (using pecl) I notice the following errors in my web application. All sessions do not fail but some seem to fail from time to time:

[code]

- OS: Debian Stretch (9.5)
- Redis: Server 4.0.11
- PHP: 7.1.20 (Sury)
- phpredis: 4.1.1 (4.1.0 fails too)
- igbinary: 2.0.7

php.ini (session part):

[2018-09-24 16:16] yatsukhnenko commented on #1411
@koleo we have released session locking functionality(disabled by default) in 4.1.0. It looks like we broke something :)

[2018-09-24 18:50] koleo commented on #1411
Yes, looking at the changelog I thought about this major feature too (session locking). I hope you (we :) will find the root cause. I will provide more information here if I find it.

[2018-09-24 20:32] michael-grunder commented on #1409
Hi, thanks for filing a ticket.

I don't personally use the session functionality for phpredis, but I agree that it's less than ideal to expose any auth arguments to `phpinfo()`.

Just so I understand the issue, am I correct that the password is being exposed via the `session.save_path` entry?

I will do some research to see if there are examples of other PHP extensions securing INI entries like t

[2018-09-24 20:37] michael-grunder commented on #1409
Hi again, I was able to find potential solutions.

This Stack Overflow question indicates you may have some options:
https://stackoverflow.com/questions/20102448/securely-store-auth-key-for-php-sessions-on-redis

Are those answers potentially workable in your setup?

[2018-09-25 10:01] SkydiveMarius commented on #1411
@koleo If possible, could you please retry without persistent connections?
We currently have similar issues, which persistent connections if a Redis switchover happend.

[2018-09-25 10:14] koleo commented on #1411
Hi @SkydiveMarius
Unless persistent defaults to on, I noticed the same error after removing parameter persistent=1:

[code]

[code]

[2018-09-25 12:31] SkydiveMarius opened #1412 "Session locking is not checking socket status and may stuck in infinity loop"
**Steps to reproduce:**
* Activate locking (redis.session.locking_enabled=1)
* Start PHP process which is opening and closing session in loop:
* Reset the Redis connection from server side to simulate a switchover or network problems
* Process may stuck forever trying to lock the session on invalid socket/connection

**Root cause:**
set_session_lock_key() does currently [not distinguish](https://g

[2018-09-26 01:08] michael-grunder commented on #1409
Like I was saying before, we don't use the phpredis session functionality so rely on those who do to determine what features are required and/or useful.  😊

I don't know the details of your hosting environment, but Redis typically recommends that security be handled at a layer other than the server (e.g. it doesn't have any built-in encryption and/or SSL support).

Maybe it's better if you explain

[2018-09-26 07:40] marcing commented on #1411
We are having a similar issue. For us the the mentioned error always follows this one:
```session_write_close(): Failed to refresh session lock```
After the refresh has failed, we get this error:
[code]

We are using following configuration:
[code]

[2018-09-26 10:12] yatsukhnenko commented on #1412
@SkydiveMarius what kind of response do you mean?

[2018-09-26 12:40] SkydiveMarius commented on #1412
The response of the Redis database, if the SET NX command was successful or not:
* OK
* (nil)

[2018-09-26 12:48] SkydiveMarius commented on #1411
@marcing I saw that you have a custom value for lock_expire.
So I could image the following scenario if your process lifetime is higher then 10 seconds:

Process 1: Is locking the session during session_start().
=> the xxx_LOCK key has a TTL of 10 seconds now

Process 1: Is doing a lot of long lasting stuff (longer then 10sec)
=> the xxx_LOCK key expires

Process 2: Is started and as the xxx_LOCK

[2018-09-26 12:49] SkydiveMarius commented on #1411
@koleo You are not using the locking feature, right? (locking_enabled=0)

[2018-09-26 12:57] koleo commented on #1411
@SkydiveMarius right: I am NOT using the locking feature.

[2018-09-26 13:16] yatsukhnenko commented on #1412
`(nil)` is actually `$-1\r\n` so there is a different between network problems (NULL pointer) and RESP Null Bulk String

[2018-09-26 13:27] yatsukhnenko commented on #1412
No, [there is a check](https://github.com/phpredis/phpredis/blob/bfd274712eeb372926d1106b3da3c4fc19c0a48a/redis_session.c#L238) for (nil) response

[2018-09-26 13:39] marcing commented on #1411
Dear SkydiveMarius,

Let me increase the lock_expire and I will let you know. It is possible that something may hold the request for longer than 10 seconds.

Thank you!
Marcin

[2018-09-26 18:28] #1401 closed

[2018-09-27 07:45] EzrealR commented on #1406
i has running  `/usr/sbin/DevToolsSecurity -enable`,now,
`httpd: Syntax error on line 171 of /private/etc/apache2/httpd.conf: Cannot load /usr/local/opt/php/lib/httpd/modules/libphp7.so into server: dlopen(/usr/local/opt/php/lib/httpd/modules/libphp7.so, 10): no suitable image found.  Did find:\n\t/usr/local/opt/php/lib/httpd/modules/libphp7.so: code signature in (/usr/local/opt/php/lib/httpd/modu

[2018-09-27 22:22] noyanebi opened #1414 "Redis::pipeline() expects exactly 0 parameters, 1 given"
hi.
im using this code but i encounter with this error
Redis::pipeline() expects exactly 0 parameters, 1 given

          $storage =\LRedis::Connection();
           $storage->pipeline(function ($pipe) use ($id)
           {
               $pipe->zIncrBy('art' , 1 , $id);
               $pipe->incr('art' . $id );
           });

im using last version of laravel & phpredis & apache2 & php 7.2 & ubu

[2018-09-28 03:29] xianglinghui commented on #1373
@michael-grunder v4.1.1 seems not support slot caching, we may need this feature urgently.

Too many CLUSTER SLOTS command may  bring rediscluster server into stalled state,  we found there have slow log at rediscluster server node.

[2018-09-28 05:42] yatsukhnenko commented on #1414
@noyanebi the message is correct, Redis::pipeline() doesn't acept arguments.
Probably you need check documentation on LRedis class and to file issue to laravel.

[2018-09-28 11:12] noyanebi commented on #1414
ok then let me check and update

[2018-09-28 15:34] michael-grunder commented on #1373
I plan on working on this feature after we get the STREAM functionality merged (which is almost done).

[2018-09-28 15:41] nicofff commented on #1222
@ErwinSteffens how did the testing go?

[2018-09-30 18:49] michael-grunder commented on #1406
I'm going to close this issue because it's not really a bug in phpredis but rather an apparent issue with running custom libraries under Mojave.

[2018-09-30 18:49] #1406 closed

[2018-09-30 19:02] michael-grunder commented on #1387
PR merged, thanks!

[2018-09-30 19:02] #1387 closed

[2018-09-30 19:03] michael-grunder commented on #1396
I think this is related to your environment and not Redis/phpredis.

[2018-09-30 19:03] #1396 closed

[2018-10-01 14:34] marcdejonge commented on #1222
Erwin hasn't had time to do it, because it's getting too busy. Right now I'm going to take over. Which version can I use for testing? As far as I can see the version 4.1.1 contains the improved connection handling, right?

[2018-10-01 14:46] yatsukhnenko commented on #1222
@marcdejonge you should test `develop` branch or wait upcoming `4.2.0` release

[2018-10-01 14:51] marcdejonge commented on #1222
Hmm, ok... I'll take a look if I can build it somewhere. We're currently still running on version 3.1.6, are there any breaking changes to this?

[2018-10-01 14:57] yatsukhnenko commented on #1222
A lot :smile: We have increased major version number because of [that](https://pecl.php.net/package-changelog.php?package=redis&release=4.0.0) changes.

[2018-10-02 06:33] Huzefakhan007 opened #1415 "Is there any way to add Date attribute in GEOADD method on redis."
GEO* commands:
    GEOADD key long lat name [long2 lat2 name2 ... longN latN nameN]

Error
` client.geoadd('drivers_locations', coordinates[0], coordinates[1], driverID ,new Date().toString());`

[2018-10-02 09:09] marcdejonge commented on #1222
Ok, the build has succeeded and fortunately we didn't have any trouble with the upgrade. After some testing I've put it on one of our front-end servers to test in a live environment. I've not seen any problems until now, but I'll keep monitoring today to see if anything happens. I'll let you know!

[2018-10-02 09:41] marcdejonge commented on #1222
So we've done a bit of a stress-test with 1 server using the new version and 1 server using the old version. During this stress-test the server with the old version had a lot of troubles with lost connections, but the new version with persistent connections had no trouble at all! I'm really happy with this result.

I'm currently doing the implementation in PHP to handle any RedisClusterException t

[2018-10-02 13:48] yatsukhnenko commented on #1222
I think it will be right after upcoming redis 5.0 because we have new streams api merged into `develop`.

[2018-10-02 13:50] yatsukhnenko commented on #1222
And we have a practice releasing two or three release candidates before stable release so it will be not earlier than in a month.

[2018-10-02 14:34] marcdejonge commented on #1222
Even a release of a RC should be fine for us. Right now I've got a version that I've build myself without CI or anything, which doesn't feel good on a production server ;)

[2018-10-02 16:21] nicofff commented on #1222
Awesome!
@marcdejonge Thanks for testing!
@yatsukhnenko Sorry to insist, but having a data corruption bug with a non documented workaround (other than this issue) isn't great.
Is disconnecting after the exception something that can be done in the library so that there is no need to do it from the user side? If so, do you want me to create another issue for it and close this?
If it's not posible, s

[2018-10-02 19:45] yatsukhnenko commented on #1222
@nicofff I think it can be done on the phpredis side but I don't know when I will make this changes (this issue doesn't affect the project on my main work :smile:)
I like an idea to close this and create new issue with new actual description of problem. A note in the documentation also will not be superfluous so could you create both issue and PR?

[2018-10-03 02:50] 153111 opened #1416 "Unable to clone using "sudo git clone -b php7 https://github.com/phpredis/phpredis.git""
Newbie here.

**Expected behaviour**
I'm trying to install redis for my Nextcloud server and i found this website and followed the instructions, https://www.techandme.se/install-redis-cache-on-ubuntu-server-with-php-7-and-nextcloud.
As i was on my step 8 using the command of `sudo git clone -b php7 https://github.com/phpredis/phpredis.git`, i encounter this issus

[code]
What command line should i

[2018-10-03 03:39] 153111 commented on #1416
I found a comments on somewhere else and it solve my problem. Thanks~~
Just clone the whole things instead will do.
`sudo git clone https://github.com/phpredis/phpredis.git`

[2018-10-03 03:39] #1416 closed

[2018-10-03 08:10] yatsukhnenko commented on #1317
@KristopherWindsor new streams api already merged to `develop` so you shouldn't use `rawCommand` anymore

[2018-10-03 08:10] #1317 closed

[2018-10-03 13:09] nicofff opened #1418 "Cluster connection needs to be closed after an exception to avoid wrong values being read"
An issue was reported in #1222 where read timeout exceptions would leave the connection in a bad state and returning bad data until the connection was closed.
The issue was partially resolved.

a) At time of writing (using the develop branch) when a read timeout exception occurs only one wrong value is read.
b) As a workaround, persistent connections can now be closed.

Per discussion [here](https

[2018-10-04 06:58] yatsukhnenko commented on #1415
@Huzefakhan007 probably you wanted to ask this question [here](https://github.com/antirez/redis)?
BTW don't you want to encode `driverID + new Date().toString()` into single object and store it?

[2018-10-04 10:05] yatsukhnenko commented on #1414
@noyanebi did you check?

[2018-10-05 07:20] roelmonnens opened #1420 "Persistent connections?"
Could you explain when persistent connections should work and when they don't?
In my research about this I'm finding lots of contradictions about this subject.

In my own use case I can't get it to work. The connections are presistent but aren't reused.
I'm using aggregated connections (RedisArray) to 3 or more redis machines. My PHP code runs with nginx/php-fpm (all latests versions).

[2018-10-05 10:40] deniss-rostkovskis commented on #614
Hey, @michael-grunder!

did you manage to merge changes suggested by @grepmusic?

Or maybe there is another resolution for this issue?

Will appreciate your response. Thank you!

@grepmusic you actually did a great job by describing the issue and providing example how to reproduce it. Thank you!

Regards,
Deniss Rostkovskis

[2018-10-07 00:35] tuxArg commented on #1382
I've checked README and it states:
If the key is modified between WATCH and EXEC, the MULTI/EXEC transaction will fail (return FALSE).

So, exec() should return boolean false (even using pipeline). It is very useful if there are no commands in the transaction but you need to know if watched keys changed or not.

[2018-10-08 05:57] #1222 closed

[2018-10-08 05:57] #1418 closed

[2018-10-09 11:21] liamsorsby commented on #1222
@yatsukhnenko @nicofff @marcdejonge  I've just rebuild the new redis.so library from the develop branch and run the test script above and I can still replicate the issue. However, instead of running iptables we have been incrementally calling the cluster failover on the masters.

[2018-10-09 12:02] marcdejonge commented on #1222
Well, if you block all traffic it will timeout. But at least it will restore the connection correctly afterwards, this was the real bug. You can't really expect something else than an exception if it can't connect to the master server, right?

[2018-10-09 13:57] liamsorsby commented on #1222
@marcdejonge I wasn't saying that I got an error/timeout. I was saying that I still get incorrect data returned.

[2018-10-09 13:59] liamsorsby commented on #1222
![screen shot 2018-10-09 at 12 17 48](https://user-images.githubusercontent.com/5270149/46674401-ec6e7500-cbd3-11e8-9644-440663e9efc7.png)

[2018-10-09 14:31] liamsorsby commented on #1222
@marcdejonge Yes, I've created a container to pull down the git repo and build from develop.

`
~/dev/reproduce $ docker-compose up -d php
Creating network "reproduce-bug_default" with driver "bridge"
Creating reproduce-bug_php_1 ... done
~/dev/reproduce $ docker-compose exec php /bin/bash
root@0af7ca5150c4:/var/www/html# php --ri redis

redis

Redis Support => enabled
Redis Version => develop
Git

[2018-10-09 14:40] liamsorsby commented on #1222
Run over a period ~2 minutes:

[code]

[2018-10-09 14:57] marcdejonge commented on #1222
I'm not able to reproduce it, while I'm using the same PHP version and the same release of phpredis. Can you share your docker image? And the script you are using to trigger this error?

[2018-10-09 15:04] liamsorsby commented on #1222
Sure. @marcdejonge
https://github.com/liamsorsby/bug-reproduction
Run docker-compose up -d
in a new terminal run docker-compose exec php /bin/bash
in another terminal run docker-compose run breaker
Then in the php container shell run php Cluster.php

[2018-10-09 15:18] marcdejonge commented on #1222
Hmm... have been running the script for about 5 minutes, no errors yet. @yatsukhnenko are you able to reproduce this error? Maybe my Virtual Machine is just too slow or something...

[2018-10-09 15:46] liamsorsby commented on #1222
Interesting. Are you running the failover in the background as well?

[2018-10-09 17:09] michael-grunder commented on #1222
I can't replicate the problem in that container either.  It doesn't mean that there isn't an issue, but it probably means that it's going to be difficult to find.

[2018-10-09 17:38] liamsorsby commented on #1222
I'll try in an hour. It may be cached in the apache module. I'll kill it and rebuild it from scratch. The output above is from the cli

[2018-10-09 19:19] liamsorsby commented on #1222
@michael-grunder @marcdejonge I've used a timer to guage how many transactions per second my laptop is able to process just incase it is based on speed. (The 3 high numbers you can see is before the failovers kick in)
[code]

[2018-10-09 20:09] liamsorsby commented on #1222
Is there any sort of profiling I would be able to do to help debug the issue?

[2018-10-10 10:02] marcdejonge commented on #1222
Can you try this branch? https://github.com/marcdejonge/phpredis/tree/extra-logging

I've added some trace logging to see connection behavior

[2018-10-10 13:36] liamsorsby commented on #1222
Having a go now @marcdejonge

[2018-10-10 13:44] liamsorsby commented on #1222
I still replicated the bug @marcdejonge but never saw anything to indicate it had failed over:
[code]

[2018-10-10 19:47] liamsorsby commented on #1222
@michael-grunder Firstly, I'm glad you can reproduce it as I thought there was an issue with the container. However, regardless of the reproduction steps if there is potential for data to be returned incorrectly it's still a major issue.

If you can point me to a good point to help with the debugging. I'm happy to do so.

[2018-10-10 19:50] dsnytech-egplusww commented on #1231
@koleo do you have any updates on how this has worked out for you? It's been a little over a year, do you have any experience to share? thank you!

[2018-10-10 20:51] koleo commented on #1231
Hi @dsnytech-egplusww
I have not much information to share about phpredis over a Redis Cluster because I ended up with Redis (not Redis Cluster) in master-slave mode, which finally met my needs.

[2018-10-11 06:08] yatsukhnenko commented on #1222
When you need special environment to reproduce issue and it appears one time in ten thousands it doesn't look important (kidding) :smile:
I'll install docker on my machine and will try to understand what's happening.

[2018-10-11 07:00] yatsukhnenko commented on #1222
About one hour of testing and there are no errors...

[2018-10-11 07:01] yatsukhnenko commented on #1222
@liamsorsby do you have this issue in production?

[2018-10-11 07:46] liamsorsby commented on #1222
@yatsukhnenko It didn't make it to production as we load tested this pre production and could reproduce it. Unfortunately, We now run into to exhaustion as a result of disabling persistence.

P.s. we don't use Docker that was just to reproduce the issue locally.

[2018-10-11 19:12] danmolina commented on #1406
try this guys, it works for me https://superuser.com/questions/1363013/apache-cant-load-php-unsigned-extensions-on-mac-os-mojave

[2018-10-12 03:46] mfalc499 opened #1422 "Failed to lock session"
### Expected behaviour

PHP Session to be locked and to be writeable.

### Actual behaviour

PHP Session fails to lock and write.

### I'm seeing this behaviour on
- OS:
Ubuntu 16.04.5 LTS on AWS EC2

- Redis:
Redis 4.0.10 on AWS Elasticache

- PHP:
PHP 7.2.10-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Oct  1 2018 11:45:50) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyri

[2018-10-12 06:07] remicollet opened #1424 "Test failure "testEval" with Redis 5.0RC6"
[code]

[2018-10-12 06:12] remicollet commented on #1424
Everything OK with redis 4.0.11

[2018-10-12 07:36] michael-grunder commented on #1424
Hey,

I wasn't able to replicate this failure.  The test is passing for me on my MBP and Ubuntu box (and it's passing in Travis).

What OS/version of Redis?

[2018-10-12 07:39] remicollet commented on #1424
As in the tile "5.0RC5" (on Fedora 27)

[2018-10-12 07:44] remicollet commented on #1424
Notice 4.1.1 also fails

[2018-10-12 08:38] yatsukhnenko commented on #1424
`return redis.call('smembers', KEYS[1])` returns set with wrong order

[2018-10-12 08:41] yatsukhnenko commented on #1424
And even `$this->redis->smembers('{eval-key}-set');` returns wrong order.

[2018-10-12 09:15] SkydiveMarius commented on #1422
Please try setting the max. log reties to unlimited in your php.ini:
``
redis.session.lock_retries = -1
``

I think the current default value 10 is not optimal for many standard environments.
I expect the following happend:

Per default the locking logic will try 10 times with a sleep of 2ms.
If another process is holding the lock longer then 20ms, the process will continue with failing session wr

[2018-10-12 11:56] yatsukhnenko commented on #1424
Redis Sets are **unordered** collections of strings.
So probably there is something wrong in `array_diff_recursive`

[2018-10-12 12:45] yatsukhnenko commented on #1424
I mean `array_diff_recursive` shouldn't be used to compare results in testEval

[2018-10-12 15:40] michael-grunder commented on #1424
I changed our EVAL test to use a list and a zset since those have a deterministic order in 2e412373c47a574a1215756e79e6512a46e30cdc.

Also sorry for asking what version of Redis when you mentioned that _in the title_ :smile:

[2018-10-12 16:58] #1415 closed

[2018-10-12 19:20] michael-grunder opened #1425 "Repeated MOVE redirections can cause phpredis to read old data"
Phpredis can get confused by multiple redirections in short order leading to a situation where a command is sent to a given node but not fully consumed.

See #1222 for more context to the problem.

When this happens phpredis will then read old data from the previously sent node and be inconsistent from that point until the connection is reset.

Here is instrumented debugging output to illustrate w

[2018-10-12 19:21] michael-grunder commented on #1222
@liamsorsby I've opened a new issue for this problem in #1425.  It's related to this bug but not exactly the same.

[2018-10-13 18:40] mfalc499 commented on #1422
Hi @SkydiveMarius

I tried your suggestion of setting: `redis.session.lock_retries = -1`

I tried with persistent (`persistant=1` in `session.save_path`) and regular (`persistent=0` in `session.save_path`) connections - same results:

The error no longer appears, but if I refresh the `test.php` (code in comment 1) the first load of the page is fine, but if I refresh quickly after it finishes loadi

[2018-10-14 08:52] liamsorsby commented on #1425
It would be worth noting @michael-grunder that I cannot reproduce this issue when persistence is turned off.

[2018-10-14 19:31] michael-grunder commented on #1425
@liamsorsby Please give the branch I just pushed a spin.  I have been running the previously failing code in a loop for an hour with zero failures.

[2018-10-15 08:10] SkydiveMarius commented on #1422
Thanks for the detailed information.
I was able to reproduce your behavior.

I think the problem ist, that the current locking implementation just supports Redis environments with single master (e.g. classic master/slave).
RedisCluster and RedisArray are currently not supported.

I think we definitely should add this to the **documentation**.
@yatsukhnenko Do you see any change that we might suppo

[2018-10-15 16:06] dsnytech-egplusww commented on #1422
Hello,

We are also seeing identical issue.
We are not using RedisCluster or RedisArray.

We are just using a two separate instances of redis masters - no slaves.

[2018-10-15 18:20] liamsorsby commented on #1425
I'm trying it now @michael-grunder I'll let you know the output

[2018-10-15 18:30] liamsorsby commented on #1425
Also, I'm still using set rather than eval

[2018-10-15 18:36] SkydiveMarius commented on #1422
I would suggest opening a new issue for your case.
Please attach also details about your environment and steps for reproducing.
Thanks!

[2018-10-15 18:38] liamsorsby commented on #1425
Interestingly, @michael-grunder @yatsukhnenko  This bug seems to occur with persistence off as well
[code]

[2018-10-15 19:35] liamsorsby commented on #1425
Also, should we return 0 on an error here: https://github.com/phpredis/phpredis/blob/develop/cluster_library.c#L1058

[2018-10-15 20:43] michael-grunder commented on #1425
Yes

Are you sure you're running the newer code?  I can consistently cause wrong reads running 2e412373c47a574a1215756e79e6512a46e30cdc:

[code]

I cannot under 27df92208a6a7c712ae08407a430059ab8b0d1ad:
[code]

Maybe this modified [Cluster.php](https://gist.github.com/michael-grunder/c4d33aa8c20ff888912e633056f5ca4a) script can help verify.

[2018-10-16 02:18] mfalc499 commented on #1422
Hi @SkydiveMarius

Thank you for confirming the issue exists.  Does that mean that using 2+ masters (as I had in my comment 1) will not currently work with session locking enabled?  If so, do you have any thoughts on what is the possible issue or when you think a possible solve for the issue will be implemented? I can help test once it's ready.

php.ini:

[code]

Much thanks!

[2018-10-16 05:50] yatsukhnenko commented on #1422
@SkydiveMarius I'm not sure about RedisArray but we definitely need to implement locks for rediscluster handler.
My guess about current issue is that we need something like consistent hashing for lock keys...