[2018-10-16 08:02] SkydiveMarius commented on #1422
Yes, currently this is not supported.
As @yatsukhnenko already mentioned, we need to implement consistent hashing for lock keys. I will try to do a first implementation during the next days and notify this thread for testing.

[2018-10-16 11:58] liamsorsby commented on #1425
Ahhh, Sorry @michael-grunder I assumed that was on the develop branch. I'll check out the commit directly and attempt it again

[2018-10-16 12:12] liamsorsby commented on #1425
@michael-grunder I also don't seem to be able to replicate the issue with that commit 😄

[2018-10-16 13:01] nolimitdev opened #1429 "Add support for array argument for sRem/sRemove"
Im wondered that sRemove() does not work similarly as delete(). We can pass array of keys to remove for delete() but we must pass each member to remove as separate argument for sRemove().

I was just thinking that you forgot to mention it in doc https://github.com/phpredis/phpredis#srem-sremove but I tested it and array as argument does not work - method always returns 0 deleted members.

[2018-10-16 13:59] liamsorsby commented on #1425
[code]
Looks good to me

[2018-10-16 14:01] yatsukhnenko commented on #1429
@nolimitdev you can use `call_user_func_array` for this purpose

[2018-10-16 14:11] yatsukhnenko commented on #1425
@michael-grunder could you look at my [comment](https://github.com/phpredis/phpredis/commit/27df92208a6a7c712ae08407a430059ab8b0d1ad#commitcomment-30922591) before merging your changes

[2018-10-16 15:07] michael-grunder commented on #1425
@liamsorsby We've already got a release candidate for 4.2 and I think this issue is probably worth getting into the final release, but I don't have an exact timeframe.  It's better to give sufficient time for testing so we don't have to release two versions quickly.

@yatsukhnenko Yeah I'll make the logic less silly.

[2018-10-16 18:38] liamsorsby commented on #1425
@michael-grunder Okay, well let me know when the logic is re-worked and I'll happily do some testing if it helps speed things up 👍

[2018-10-16 22:53] AnrDaemon opened #1430 "[Enh] Use DNS SRV RR to discover endpoints"
I would like to see a [DNS SRV RR (RFC 2782)](https://tools.ietf.org/html/rfc2782) implementation for locating the service endpoints.
F.e. [session handler targets](https://github.com/phpredis/phpredis#php-session-handler).

[2018-10-17 09:30] yatsukhnenko commented on #1429
But C code in library looks much better compared to array argument

[2018-10-17 11:05] digirave opened #1431 "More detailed documentation regarding "https://github.com/phpredis/phpredis#php-session-handler""
### Expected behaviour
Documentation should include how weighting works, and what happens when one redis server goes down and then back up.
Also, the example shows "read_timeout" which is not in the documentation.

### Actual behaviour
Include documentation regarding how weighting works, and what happens when one redis server goes down and then back up.
Include explanation regarding "read_timeout"

[2018-10-17 13:32] yatsukhnenko commented on #1430
![Whut?](http://3.bp.blogspot.com/-B9-79x1Uv5A/UZWwZ9SQ0hI/AAAAAAAAAPs/XnkB9EV1i8I/s1600/whut%5B1%5D.jpg)

[2018-10-17 13:53] AnrDaemon commented on #1430
SRV RR, in addition to providing both address and port of the service, offers many of the current server selection features. In fact, may more. Up to and including a (suggestive) denial of service.

[2018-10-17 15:09] ProjectCleverWeb opened #1432 "[Possible Bug] PhpRedis keeps crashing PHP when a key expires"
### Expected behaviour
The millisecond a key expires `get()` should return `FALSE`.

### Actual behaviour
The millisecond a key expires and `get()` is called, PHP suddenly exits without showing/logging an error (or running shutdown behavior)

### I'm seeing this behaviour on
- OS: Amazon Linux (fork of RHEL/Fedora)
- Redis: 4.0.10 via AWS ElastiCache (Clustered, 1 Shard/2 Nodes)
- PHP: 7.0.31 (Run

[2018-10-17 15:48] ProjectCleverWeb commented on #1432
After further research, this is still happening but it's probably not related to expired keys. My first few tests just happen to occur at about the time of expire. I was able to recreate this issue where it happened only 2 seconds after a key with a 10 second expire was created.

[2018-10-17 16:09] michael-grunder commented on #1432
This script doesn't cause any issues for me.  I also modified it to run in a tight loop and can't get Phpredis to crash either.

I'm compiling php 7.0.1 in order to test it against the same version of PHP but I'm guessing it's not going to break.

Are you able to replicate this via a cli script?  I think the biggest hurdle here is going to be replicating the bug.

[2018-10-17 16:40] ProjectCleverWeb commented on #1432
I haven't tried via CLI yet, but I will soon.

It is very intermittent, it is possible that it's related to the performance of the redis cluster, or possibly even something to do with my specific deployment?

However, this has happened when the cluster had 0 load. In fact, this isn't deployed to production yet so I am the only user actually connecting to Redis.

I will keep testing today and see i

[2018-10-17 17:03] yatsukhnenko commented on #1432
@ProjectCleverWeb please make your tests with the latest stable release of phpredis

[2018-10-17 23:46] proliteweb commented on #375
Im sorry for tooooo late answer, but start from PHP 5.6 you can make that:
$redis->sAdd('your.key', ...$array1);
It works =)
$a = implode(',', $array1); doesn't work because implode returns concatenated string from array)

[2018-10-18 14:31] ProjectCleverWeb commented on #1432
I actually literally just got the package conflicts resolved and tested 4.1.1

The issues **seems** to be fixed! 😄 I will close this issue in the next hour or 2 if I am unable to replicate the issue.

Thanks for all your help @michael-grunder and @yatsukhnenko

[2018-10-18 15:23] #1432 closed

[2018-10-18 22:54] michael-grunder commented on #1432
That's interesting about php-fpm.  Honestly it's not really my area of expertise but in theory it really shouldn't freeze anything.

You'll need to cycle the process but I don't know why (or even how) pecl would cause php-fpm to freeze.

[2018-10-19 06:17] #1414 closed

[2018-10-19 16:20] michael-grunder commented on #1425
@liamsorsby I forgot to include the issue number in the commit, but we think the finalized fix is up in the issue-1425 branch.

Let us know how it goes then we'll get it merged.

[2018-10-19 18:05] michael-grunder commented on #1424
@remicollet Is this fixed for you?

[2018-10-20 06:09] remicollet commented on #1424
Indeed, ok with  RC1 + 2e41237.

[code]

Will dig later (next week) on new failure

[code]
And
[code]

[2018-10-20 10:10] liamsorsby commented on #1425
Testing now. I'll update this comment with results @michael-grunder

[2018-10-20 12:08] michael-grunder commented on #1424
The STREAMS failure may be related to a last minute change in Redis.  The day before 5.0 GA was published he switched from using STATUS to BULK replies for the stream IDs.

The phpredis commit for that 0b97ec3739d99f0778ff827cb58c011b92d27a74 is in the develop branch but not  2e41237 so you may be hitting an incompatibility there.

[2018-10-21 06:35] remicollet commented on #1424
Seems OK using RC1 +  0b97ec3 +  2e41237
`
All tests passed. \o/
`

[2018-10-22 15:38] Pasha19 opened #1434 "Reflection gives not correct info for some methods"
### Expected behaviour
Method `multi` has one optional parameter
Method `sRem` has more than 2 parameters

### Actual behaviour
`exec` has no parameters
`sRem` has 2 parameters

### I'm seeing this behaviour on
- OS: ubuntu 16.04
- Redis: 4.0.11
- PHP: 7.2.8
- phpredis: 4.1.1

### Steps to reproduce, backtrace or example script
[code]

### I've checked
- [ ] There is no similar issue from other us

[2018-10-22 20:28] yatsukhnenko commented on #1434
@Pasha19 thank you for issue. I agree about `sRem` but could you explain about `exec` (or `multi`?)

[2018-10-22 21:01] Pasha19 commented on #1434
@yatsukhnenko, I made a typo, `multi` of course. Method `multi` has optional parameter for setting mode: `MULTI` or `PIPELINE` https://github.com/phpredis/phpredis#parameters-123

[2018-10-23 06:04] yatsukhnenko commented on #1434
@Pasha19 should be fixed in `develop` branch.

[2018-10-23 06:08] yatsukhnenko commented on #1425
Merged `issue-1425` into `develop`

[2018-10-23 06:08] #1425 closed

[2018-10-23 06:09] #1429 closed

[2018-10-23 06:21] #392 closed, assigned to nobody

[2018-10-23 06:29] #883 closed

[2018-10-23 06:35] yatsukhnenko commented on #981
This issue should be fixed in the latest stable release and `develop` branch

[2018-10-23 06:35] #981 closed

[2018-10-23 06:37] yatsukhnenko commented on #1084
@ppanphper could you test the latest changes from `develop` branch?

[2018-10-23 06:37] #1109 closed

[2018-10-23 06:39] yatsukhnenko commented on #1136
@liupdhc could you test the latest changes from `develop` branch?

[2018-10-23 06:40] yatsukhnenko commented on #1139
@sp-joseluis-ledesma could you test the latest changes from `develop` branch?

[2018-10-23 06:40] yatsukhnenko commented on #1141
@CAOPINGTAO this issue should be fixed in `develop` branch. Could you test it?

[2018-10-23 06:41] yatsukhnenko commented on #1183
Should be fixed in `develop` branch

[2018-10-23 06:41] #1183 closed

[2018-10-23 08:45] yatsukhnenko commented on #1424
Yes, at the end of this week

[2018-10-23 12:56] SunnySmilez opened #1435 "zrangebyscore limit must be int 10,string ‘10’ is invalid"
excute zRangeByScore('test_key', '-inf', '+inf', array('withscores' => true, 'limit' => array('0', '10')));

### Expected behaviour
  return 10 items
### Actual behaviour
  return all items
### I'm seeing this behaviour on
- OS:
    linux
- Redis:
  2.8.8
- PHP:
  7.0.19
- phpredis:
  3.0.0
### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from o

[2018-10-23 16:13] hhp12360 commented on #1385
we also have this question
#### env:
- OS: centos 7.0
- Redis: 3.2
- PHP: 5.6
- phpredis: 4.1

#### error info:
- exception 'RedisClusterException' with message 'Timed out attempting to find data in the correct node!'

and it's random happen,Each lasting one second

[2018-10-23 18:17] michael-grunder commented on #1385
This isn't necessarily a bug.  Have you tried monitoring your Redis servers to see if you're having latency spikes?

[2018-10-24 09:18] yatsukhnenko commented on #1435
Do you see the same issue with 4.1.1?

[2018-10-24 09:37] hhp12360 commented on #1385
![image](https://user-images.githubusercontent.com/3747071/47421137-8debee00-d7b2-11e8-9467-308827fd9b50.png)
![image](https://user-images.githubusercontent.com/3747071/47421148-96442900-d7b2-11e8-96a3-419b7ce8fad0.png)
![image](https://user-images.githubusercontent.com/3747071/47421194-abb95300-d7b2-11e8-8c67-a0f986a1f2de.png)
![image](https://user-images.githubusercontent.com/3747071/47421222-b8

[2018-10-25 08:07] hhp12360 opened #1436 "Timed out attempting to find data in the correct node!"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos 7.3
- Redis:3.2.12
- PHP:5.6
- phpredis:4.0.0 and 4.1.0

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

### trace result
#### client：10.24.64.23
#### cluster server：
- 10.24.70.11：7001、10.24.

[2018-10-26 09:10] remicollet opened #1437 "[4.2.0RC2] testXClaim fails on 32-bit"
Bulid + test suite ok on 64-bit

On 32-bit

[code]

[2018-10-26 11:03] remicollet commented on #1437
the failed assert is `$this->assertTrue($pending[0][2] <= 20000);`

$pending content is (for the 4 failure) seems to be INT_MAX

[code]

[2018-10-26 11:14] remicollet commented on #1437
This obviously raise an overflow: `Array('TIME', time() * 1000));`

[2018-10-26 17:33] tessus opened #1439 "is phpredis 4.1.1 compatible with Redis 5.0.0?"
I'm sorry to open an issue for this, but the information on the new Redis release is rather sparse.

Since it is a major release it should have breaking API changes (at least according to semver), but I couldn't find anything in the release notes of Redis 5.
So can I just replace my 4.0.11 with 5.0.0 and keep using my current phpredis driver?

[2018-10-26 19:20] michael-grunder commented on #1439
Hey,

I can't say with 100% certainty that there are no incompatibilities, but I think the answer is likely yes.  As far as I know, there aren't any breaking changes to existing commands in Redis 5 (and nothing listed in the release notes either).

I would certainly suggest testing if you can but you should be alright.

@yatsukhnenko Can you think of any issues?

[2018-10-26 20:47] yatsukhnenko commented on #1439
@michael-grunder @tessus I think there shouldn't be any issues if they keep backward compatibility with commands related to replication

[2018-10-26 20:49] jrchamp commented on #1439
I thought there was this one: #1424

[2018-10-26 20:56] tessus commented on #1439
Hmm, that issue looks like a problem how a test case was written.
It has nothing to do with an API incompatibility.

On October 26, 2018 4:49:46 PM EDT, Jonathan Champ <notifications@github.com> wrote:

--
regards Helmut K. C. Tessarek

(sent from a mobile device)

[2018-10-27 05:19] remicollet commented on #1437
Sadly still quite widely used.
Some people prefer 32-bit for small VM, and also running arm devices (such as raspberry pi)

[2018-10-28 23:44] mfalc499 commented on #1422
Hi @SkydiveMarius I was wondering if you had a chance to make any updates for consistent hashing for lock keys - I am ready to test whenever you have the patch.  Please let me know.  Thank you!!

[2018-10-29 05:59] youngda opened #1441 "PHP Fatal error: Uncaught RedisException: protocol error, got 'O' as reply type byte"
### I'm seeing this behaviour on
- OS: centos7
- Redis:redis-cli 4.0.10
- PHP:PHP 7.2.6
- phpredis:4.0.2

## PHP Fatal error:  Uncaught RedisException: protocol error, got 'O' as reply type byte

[2018-10-29 06:48] yatsukhnenko commented on #1441
Duplicate #1389

[2018-10-29 06:48] #1441 closed

[2018-10-29 08:50] SkydiveMarius commented on #1422
@mfalc499 Thank you for your offer, but we realized that its not trivial to implement.
Nevertheless we will continue and let you know as soon the first draft is ready.

[2018-10-29 20:19] michael-grunder commented on #1437
Hey @remicollet,

The problem we're dealing with here, in general, is that the Redis STREAM API describes time as UNIXTIME in _milliseconds_, which of will always overflow a PHP long on 32 bit builds.

I was wondering if you had an opinion on any "best practices" here with regards to PHP as I'm sure you know much more about that than I do.

One solution I can use is to detect overflow and use a do

[2018-10-31 06:58] remicollet commented on #1437
The option given by the user is received by the extension as a float, because of PHP default behavior to manage int32 overflow to float.

A float is enough in most case with 52-bit precision (mantissa)
So storing "time" as a double and send it as an integer to redis seems a possible (quick) way to fix this issue.

On long term, I think it will be better to have more explicit type usage
ie, from
[c

[2018-11-01 05:36] hhp12360 commented on #1436
we set redis server "net.ipv4.tcp_tw_recycle = 0" the problem not exists

[2018-11-01 05:37] #1436 closed

[2018-11-03 19:09] KoteKotlyarov commented on #1420
Up.

Guys, I want to know how PHP-REDIS handles persistent connections. Did your module do this ? Did the PHP ? Will it work when PHP works as CGI ? Or it will work only with Apache MPMs or php-fpm ?

Who handles opened sockets, connections and processes for them ?

I need to deploy changes into all my PHP sites. Those changes will force additional API request into 3rd party api and I need to be s

[2018-11-03 23:31] michael-grunder commented on #1437
This issue was actually two problems masquerading as one.

This commit relaxes the requirements for passing XCLAIM options such that the user can pass a long, float, or string.

However, in order to test the update you will need to run against the latest version of Redis, as there was actually an overflow on 32-bit systems there [fixed in this PR](https://github.com/antirez/redis/pull/5521/commits

[2018-11-05 05:02] xcl3721 opened #1443 "PHP Notice: Redis::set(): send of 36 bytes failed with errno=32 Broken pipe in"
### Expected behaviour
throw redis exception

### Actual behaviour
return FALSE

### I'm seeing this behaviour on
- OS: centos 6.9
- Redis:3.2.3
- PHP:7.1.7
- phpredis:3.1.3

### Steps to reproduce, backtrace or example script
when the redis connected
and network not good.
sending cmd or reciveing
network down
phpredis will return false
not throw exception

### I've checked
- [ ] There is no simil

[2018-11-05 12:13] yatsukhnenko commented on #1443
@xcl3721 why do you think it should throws an exception? Do you have a script to reproduce this issue?
And if you have tested latest version of phpredis next time please set correct value in `I'm seeing this behaviour on`

[2018-11-05 18:57] michael-grunder commented on #1437
Hey everyone,

The fix with some decently robust error handling can be found [in this branch](https://github.com/phpredis/phpredis/tree/32bit-xclaim-fix).

One thing I'm not positive about is whether or not we can rely on Windows having `INT64_MAX`.  Looking at the PHP source code it would _appear_ we can, since they define this macro in `win32/php_stdint.h` under certain conditions.  If we can't

[2018-11-06 09:37] xcl3721 commented on #1443
i can't check if it's work well  when the connection not work.
for example get one not exist key will return false and only ping cmd befor can check if the connection is well

[2018-11-06 19:43] michael-grunder commented on #1437
@remicollet Let us know if this works for you.  All of the changes are merged into develop.  Remember you'll need to run against latest Redis unstable.

[2018-11-07 12:40] jarkt commented on #1430
I've the same requirement because AWS offers only SRV RR for ECS services (named "service discovery"). I've implemented it on php level by extending the Redis class:

[code]

[2018-11-07 14:19] remicollet commented on #1437
Running test suite (4.2.0RC2 + pr #1444)against **Redis 5.0.1** (released a few minutes ago)

On 64-bit
`All tests passed. \o/`

On 32-bit
`All tests passed. \o/`

Thanks a lot for the fix.

[2018-11-07 14:38] nolimitdev commented on #1403
Something new with this issue? It is very dangerous because it can quickly lead to Denial of Service (DoS) due to run out of available slots to serve clients requests.

[2018-11-07 14:43] pbychikhin opened #1446 "PHP Session handler loses session variables"
Hello,
I recently switched my php session handler from files to redis. And, after that, my web app began to lose some session variables between requests to it. When I reverted back to files, everything works fine.
How to deal with this issue? Is it possible to get a debug log of phpredis which could shed the light on what's going on with sessions?
This is not a bug report rather a question. Any ad

[2018-11-07 15:52] yatsukhnenko commented on #1403
@nolimitdev could you test the latest changes from `develop` branch?

[2018-11-10 21:36] yatsukhnenko commented on #838
Fixed in PR #1075

[2018-11-10 21:36] #838 closed

[2018-11-12 19:16] byazrail commented on #1148
Hi,
when active Auth?
Or auth working is phpredis version?

[2018-11-12 19:31] michael-grunder opened #1448 "Removing support for PHP 5"
Hey everyone,

PHP 5 is now officially [EOL](http://php.net/supported-versions.php), and we want to remove support for it.

Presently, Phpredis is littered with code in order to support both PHP 5 and PHP 7 in a single branch.  Although it does work pretty well for us, it means any improvement or bug-fix has to be tested twice and sometimes has to actually be written twice.

Examples are all [over

[2018-11-14 03:12] lzjohnny opened #1449 "How to achieve Read/Write Splitting"
When using sentinel, can phpredis automatically recognize read-only commands and send to a slave ?
If it can't, how to separate read-only commands and writing commands ?

[2018-11-14 06:52] yatsukhnenko commented on #1449
@lzjohnny, the only way to do this using only phpredis and sentinel is to write all logic in your PHP application :) If you want automatic failover you should look at RedisCluster or proxies like haproxy/twemproxy/dynomite.

[2018-11-14 06:59] yatsukhnenko commented on #1448
I think we should create `legacy` branch and backport some critical changes if this will be needed.

[2018-11-14 11:20] danielignatius opened #1450 "Is there a "php_redis.dll" for PHP-7.0.32 on windows ?"
I am looking for a php_redis.dll for PHP-7.0.32 on Windows. Is it available? If not, how can I compile one?

[2018-11-14 11:47] yatsukhnenko commented on #1450
https://windows.php.net/downloads/pecl/releases/redis/4.1.1/

[2018-11-14 11:59] danielignatius commented on #1450
Hi there,

I've this configuration in my server.

System: Windows NT RD0003FF49B157 10.0 build 14393 (Windows Server 2016) i586
Architecture: x86
Loaded Configuration File: D:\local\Config\PHP-7.0.32\php.ini

Which one should I download?

Can php_redis-4.1.1-7.0-nts-vc14-x86.zip work with PHP-7.0.32 version?

Thanks,

[2018-11-14 21:48] michael-grunder commented on #1450
@yatsukhnenko You dropped this: \\

[2018-11-18 08:58] Einkoro commented on #1148
Does this apply to sharding as well?

[code]

[2018-11-18 12:32] byazrail commented on #1148
@Einkoro Hi, bro.
It is invalid :(

[2018-11-18 12:39] mradzkii commented on #1411
i get the same issue

[2018-11-18 13:43] Einkoro commented on #1148
@byazrail Would it not return false if invalid? It returns true, the password is the same on both shards and when connecting to them individually it works fine. The moment sharding is used it behaves like it only authorized to one shard and then fails depending where the hashing distributes the key to.
[code]

[2018-11-18 18:05] yatsukhnenko commented on #1148
@Einkoro this issue is about RedisCluster. Could you create another issue for RedisArray?

[2018-11-19 09:31] Nirjonadda opened #1453 "Updating PHP Pecl "redis""
Updating PHP Pecl "redis" are not working, this showing Nothing to upgrade. I am using 4.1.1 but how can update to 4.2.0?

![screenshot00729](https://user-images.githubusercontent.com/6899856/48697956-33de1d00-ebe6-11e8-9a62-7a840efc0b0c.png)

[2018-11-19 09:58] nolimitdev commented on #1403
@yatsukhnenko I can confirm it is working now! Great job!

Now I get php warning:
- immediately in case of incorrect path to socket file
- after defined timeout in case of incorrect host/port or in case redis is not running
... no more never ending script :)

It was fixed in this commit https://github.com/phpredis/phpredis/commit/4e2de1581f93bfaa790eea91afcbf2fca6324037 ?

[2018-11-19 10:22] yatsukhnenko commented on #1403
@nolimitdev probably yes :smile: could you close this issue?

[2018-11-19 10:53] yatsukhnenko commented on #1434
Fixed

[2018-11-19 10:53] #1434 closed

[2018-11-19 17:51] Nirjonadda commented on #1453
So how can update to 4.2.0?

[2018-11-19 18:28] marandall opened #1456 "Reconnection logic still failing 4.2.0, exceptions not thrown"
Thought this one was fixed in the latest builds, but it appears not to be the case, at least on Windows.

### Expected behaviour
When an existing connection drops, such as due to a REDIS server restart, a reconnection attempt would be made. If the connection could not be re-established to make the command, a \RedisException would be thrown.

### Actual behaviour
Connection enters a corrupt state a

[2018-11-19 19:09] marandall commented on #1456
Closing the persistent connection with close() seems to work as expected, forcing the connection to re-open at the next command.

Could it be that reconnection logic is failing to detect an error on writing to the stream, and is only dealing with failures in reading? Writing to the socket seems pretty unprotected.

[2018-11-19 19:41] michael-grunder commented on #1456
Is this issue happening with RedisCluster or vanilla Redis?  I'll try to replicate this condition locally and see if I can come up with something.

With any luck, it isn't something specific to Windows as that will be harder to fix since none of us have Windows machines.

[2018-11-19 19:50] marandall commented on #1456
Vanilla \Redis running on the latest 7.2.12 x64 NTS.

[2018-11-20 01:02] J0WI opened #1458 "Unable to install 4.2.0 from PECL"
### Expected behaviour
4.2.0 is marked as latest stable release on https://pecl.php.net/package/redis, so it should be installable.

### Actual behaviour
[code]

### I'm seeing this behaviour on
[Docker](https://travis-ci.org/nextcloud/docker/jobs/457224742#L2893)

### Steps to reproduce, backtrace or example script
See Dockerfile

### I've checked
- [x] There is no similar issue from other users

[2018-11-20 03:31] thilinadinith opened #1459 "Operation Not Permitted in OS X"
I was trying to install php-redis on my mac . When i run make install it gave an error
/usr/lib/php/extensions/no-debug-non-zts-20160303/
cp: /usr/lib/php/extensions/no-debug-non-zts-20160303/#INST@79542#: Operation not permitted
make: *** [install-modules] Error 1

What is the solution for this ?

Dont close this issue with an answer of
"The answer is in error message:) You should add write permi

[2018-11-20 09:24] sofire opened #1460 "redis cluster memory leak"
- OS:  Linux
- Redis: 4.0
- PHP: php 7.1.17
- phpredis: 3.1.6 ~ 4.2.0

### Steps to reproduce, backtrace or example script

[code]

[2018-11-20 10:38] alexander-schranz commented on #1453
as a workaround I use currently RC3 for development with `pecl install redis-4.2.0RC3`

[2018-11-20 11:15] mradzkii commented on #1453
thank you, got it.

[2018-11-20 11:36] Nirjonadda commented on #1453
Still showing Nothing to upgrade.

![heavenlydefinitiveichthyosaurs-size_restricted](https://user-images.githubusercontent.com/6899856/48771179-e8e50800-ecc0-11e8-98da-72a3e49c0db1.gif)

[2018-11-20 11:47] yatsukhnenko commented on #1453
Thanks @remicollet! I will try to repack and upload 4.2.0 today

[2018-11-20 11:56] yatsukhnenko commented on #1453
@remicollet your advice helped!
[code]

[2018-11-20 11:58] Nirjonadda commented on #1453
Yes this issue fixed, Thanks

[2018-11-20 11:58] #1453 closed

[2018-11-20 15:34] hzbd commented on #1139
v3.1.x still has this issue.

[2018-11-20 16:38] yatsukhnenko commented on #1139
@hzbd could you test 4.2.0?

[2018-11-20 16:56] michael-grunder commented on #1459
Hi, is this under OSX Mojave?  I'm actually waiting to upgrade because we've seen similar permissions issue with Mojave before.

With luck, we'll find a solution that doesn't involve disabling SIP or not using OSX but I don't know of any.

[2018-11-20 17:32] michael-grunder commented on #1460
Thanks for the report, I can replicate the leak!

[2018-11-21 17:49] yatsukhnenko commented on #1424
Fixed in 4.2.0

[2018-11-21 17:49] #1424 closed

[2018-11-21 22:58] michael-grunder commented on #1460
Leaks should be fixed [in this branch](https://github.com/phpredis/phpredis/tree/masters-info-leakfix).

[2018-11-22 07:18] yatsukhnenko commented on #571
Old issue without activity for a long time. Please open new issue if you have the same issue with the latest stable or develop version of phpredis.

[2018-11-22 07:18] #571 closed

[2018-11-22 07:19] sofire commented on #1460
thanks.

And this function:
$redis->keys("*");

[2018-11-22 07:20] yatsukhnenko commented on #595
Michael doesn't like breaking changes :smile:

[2018-11-22 07:20] #595 closed

[2018-11-22 13:05] Gared opened #1464 "Segfault in Redis Cluster with inconsistent configuration"
### Expected behaviour
If one slot is not covered or misconfigured it should throw an exception.

### Actual behaviour
The process terminates with a segfault error in syslog:
```php-fpm7.1[18642]: segfault at 0 ip 00007f266e5caed1 sp 00007ffe3fb1d9a0 error 4 in redis.so```

### I'm seeing this behaviour on
- OS: Debian 8.11
- Redis: 3.2.11 (Not reproducable with 5.0.0 - You get the error message "

[2018-11-22 17:43] Gared commented on #1464
@yatsukhnenko Thanks for your fast reply and your fix. With your changes I get the exception
```Fatal error: Uncaught RedisClusterException: There is no master node for the slot```
So this works for me as expected and I'm happy with it :+1:

[2018-11-22 17:49] yatsukhnenko commented on #1464
@michael-grunder could you look at the fix?

[2018-11-22 18:10] michael-grunder commented on #1464
The fix looks good to fix the segfault, as we certainly don't want to access a NULL slot.

[2018-11-22 19:09] Andrey2G commented on #754
Thanks!

[2018-11-22 19:30] michael-grunder commented on #1464
Yeah, I think that "the slot $number is not covered by any node in this cluster" will be nicer for users.

I think in the future we may want to try to recover from this state but we should merge this fix so we don't segfault any more.

[2018-11-22 19:32] #1106 closed

[2018-11-22 19:33] michael-grunder commented on #756
I don't see any overflow locally.  Please reopen if this is still an issue for you.

[2018-11-22 19:33] #756 closed

[2018-11-22 21:14] yatsukhnenko commented on #1464
I changed message and pushed fix to `develop` branch

[2018-11-22 21:14] #1464 closed

[2018-11-22 23:42] Gared commented on #1400
I was wondering if this functionality was working in the past anytime, because in the cluster readme you can read this: ```...we have to re-issue the command to a different node (either because Redis cluster responded with MOVED/ASK or because we failed to communicate with a given node).```
So my understanding is that if the first socket connection to a node fails it will try to connect to other n

[2018-11-23 06:51] BrandtM commented on #1400
@Gared @ebuildy I could reproduce this problem as well. Whenever the first master it tried to connect to was down the connection just didn't work.
I fixed this issue because we have this issue in our company as well and I was tasked with fixing it. I looked into alternatives and it seems that predis could deal with it but had some drawbacks and we prefer phpredis.
I looked into other ways of fixin

[2018-11-23 08:11] alexber220 commented on #1411
i get the same issue too

Unknown: Failed to write session data (redis). Please verify that the current setting of session.save_path is correct (tcp://localhost:6379)

Debian Stretch (9.6)
PHP 7.2.11
Redis server v=3.2.6
phpredis 4.1.1
igbinary 2.0.7

session.save_handler = "redis"
session.save_path = "tcp://localhost:6379"
session.serialize_handler = "php"

[2018-11-23 14:32] alexber220 commented on #1411
i get the same issue too

Unknown: Failed to write session data (redis). Please verify that the current setting of session.save_path is correct (tcp://localhost:6379)

Debian Stretch (9.6)
PHP 7.2.11
Redis server v=3.2.6
phpredis 4.1.1
igbinary 2.0.7

session.save_handler = "redis"
session.save_path = "tcp://localhost:6379"
session.serialize_handler = "php"

[2018-11-25 18:38] michael-grunder commented on #1460
Leaks should be fixed and merged.  Please re-open if it's still an issue.

[2018-11-25 19:49] yatsukhnenko commented on #1460
The leak for `keys` command is not fixed

[2018-11-25 20:16] michael-grunder commented on #1460
Ahh, I misunderstood.  Pushing a fix shortly.

[2018-11-25 20:44] yatsukhnenko commented on #1460
And now that flag has no sence because that was the only place where it was zero :smile:

[2018-11-25 21:06] michael-grunder commented on #1460
Yeah, we might just remove it at some point.  In PHP 5 it made sense because it avoided a double allocation.

[2018-11-25 21:34] #1460 closed

[2018-11-26 06:02] alexber220 commented on #1411
i get the same issue too

Unknown: Failed to write session data (redis). Please verify that the current setting of session.save_path is correct (tcp://localhost:6379)

Debian Stretch (9.6)
PHP 7.2.11
Redis server v=3.2.6
phpredis 4.1.1
igbinary 2.0.7

session.save_handler = "redis"
session.save_path = "tcp://localhost:6379"
session.serialize_handler = "php"

[2018-11-26 14:45] alexander-schranz opened #1467 "XPending not working correctly"
### Expected behaviour

Should work like documented.

### Actual behaviour

Following code:

$pending = $this->redis->xPending('s', 'group1', 0, '+', 1, 'Pavlo');

ends up in:

### I'm seeing this behaviour on

- OS: macOS Mojave 10.14 (18A391)
- Redis: 5.0.1
- PHP: 7.1.9
- phpredis: 4.2.0

### Steps to reproduce, backtrace or example script

[code]

### I've checked
- [x] There is no similar issu

[2018-11-26 17:32] #1467 closed

[2018-11-26 22:20] pagottoo commented on #1385
Same problem here...

the redis cluster has entered recovery mode and when it returned the error message began to appear on NewRelic.

However, another apps be connect and retrieves messages from the same redis-cluster, be one app is nodejs, and the other one is php7, without any error message.

The app that catch the exception is php5.4

[2018-11-28 09:42] #1450 closed

[2018-11-29 06:55] tanjiancheng opened #1470 "scan count no use"
### Expected behaviour
$keys = $redis->scan($iterator, $key, 1);
i want to get one record use scan param count,but return empty array
both try on redis and redis cluster

$keys = $redis->scan($iterator, $key); is OK

### I'm seeing this behaviour on
- OS: Ubuntu 16.04.5 LTS
- Redis:3.0.6

- PHP: PHP 7.2.12-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Nov 12 2018 09:55:12) ( NTS )
- phpredis: 4.1.1

[2018-11-29 07:59] #1470 closed

[2018-12-01 08:53] yufeixuan opened #1471 "MacOSX10.14 ./configure CFLAGS=-arch i386"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: MacOSX10.14
- Redis:
- PHP: PHP 7.1.8
- phpredis:

AMPPS
./configure CFLAGS=-arch i386

configure:2702: $? = 0
configure:2691: cc -v >&5
Apple LLVM version 10.0.0 (clang-1000.10.44.4)
Target: x86_64-apple-darwin18.2.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
configure:2702: $?

[2018-12-02 02:18] lzjohnny commented on #1449
Many thanks!

[2018-12-02 02:18] #1449 closed

[2018-12-04 07:01] remicollet opened #1472 "test failing with redis 5.0.2"
While everything was ok with redis 5.0.1, using redis 5.0.2:

[code]

[2018-12-04 17:32] michael-grunder commented on #1472
Thanks, Remi

I'll take a look this evening.

[2018-12-05 21:45] giantninja opened #1473 "Possible to bypass auto serialize/unserialize or specify serializer?"
Apologies if this is the wrong place for this, but I've been using igbinary as the serializer via:
[code]
which works as intended, however in addition to normal php caching of DB query results and that sort of data, I'm also storing session data as hash maps in redis, which is also used by a Java service we built, and there doesn't seem to be any igbinary support for deserializing in Java.

Is the

[2018-12-06 12:47] gatis opened #1474 "MagickWand"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2018-12-06 13:57] #1474 closed

[2018-12-10 12:57] damijank opened #1476 "The parameter for `multi()` does not default to `\Redis::MULTI`"
### Expected behaviour
The parameter for `multi()` is optional, defaults to `\Redis::MULTI`.

### Actual behaviour
The parameter for `multi()` is optional, but apparently does not default to `\Redis::MULTI`.

### I'm seeing this behaviour on
- Alpine Linux v3.8
- PHP 7.2.13
- phpredis 4.2.0
- redis 4.0.7

### Steps to reproduce, backtrace or example script
[code]

I think the reason for this lies

[2018-12-10 13:18] yatsukhnenko commented on #1476
@damijank `$multi = $redisClient->multi();` returns `object(Redis)` for me on PHP 7.1.22.

[2018-12-10 14:03] damijank commented on #1476
- Alpine Linux v3.8
- PHP 7.2.13
- phpredis 4.2.0
- redis 4.0.7

Below is an excerpt from our Sentry when the `multi()` method is called without an argument.

[code]

... and the code that invoked this...

[code]

[2018-12-10 14:42] yatsukhnenko commented on #1476
`Unknown mode sent to Redis::multi` warning is thrown only when argument has wrong value. But when you omit arguments [default value](https://github.com/phpredis/phpredis/blob/develop/redis.c#L2241) should be used (if PHP engine doesn't corrupt it) :thinking:
@michael-grunder any thoughts about this?

[2018-12-10 18:10] michael-grunder commented on #1476
Hey,

I can't replicate this.  When I call MULTI without any arguments it uses the default.

[code]

Is it possible that you're calling phpredis through a helper/wrapper class that has stacked its own implementation of `multi()` where it does something like `parent::multi()` or `$this->client->multi()`?

[2018-12-10 20:51] damijank commented on #1476
@michael-grunder you are right, respect!

Symfony creates a wrapper class inside of the cached container, ie.:

[code]

But there's a problem with this: because the `Redis` class is **internal**, the default value of the arguments are not accessible

[code]

and the `multi()` method in the wrapper class is therefore declared like *"optional, but we do not know the real default, so let's go with nu

[2018-12-10 22:31] jrchamp commented on #1476
Perhaps redis.c needs to define the argument info for Redis::multi()? Something like this perhaps?
[code]
I thought that the null is normally treated as "inherit the default", but it's been a while.

[2018-12-10 22:36] jrchamp commented on #1476
Sorry, ignore my previous message. Deleting.

[2018-12-10 23:14] TheLevti opened #1477 "lzf_compress parameters differ from pecl php lzf_compress implementation"
### Expected behaviour

When using the php's `lzf_compress` function (when installing it via `pecl install lzf`), the result differs from the phpredis usage of the c `lzf_compress` function.

When for example the value is `abc abc abc`, using the php's `lzf_compress` function results in the following byte code (when viewing through redis-cli MONITOR) `\x04abc a@\x03\x01bc`.

### Actual behaviour

[2018-12-11 13:18] dkarlovi commented on #1476
The problem here is still with PHPRedis: the method arguments available to reflection are wrong. It was fixed in 4.1.1 for some other method (IIRC `set`).

[2018-12-11 13:47] yatsukhnenko commented on #1476
@dkarlovi why do you think that the problem is on the phpredis side?
[code]
What's wrong with the reflection?

[2018-12-11 14:01] dkarlovi commented on #1476
@damijank pointed out to me in the meantime PHP's reflection cannot access defaults (?) for extensions so you might be right @yatsukhnenko :+1:

I assumed it wasn't correct the same way it wasn't for 4.1.1. should have checked.

[2018-12-11 14:06] yatsukhnenko commented on #1472
@remicollet could you test the latest commit from `develop` branch?

[2018-12-11 16:08] remicollet commented on #1472
Tested 4.2.0 + 7b8b7b01a2b2af2e646ca89802910ac216c476dc

Test suite OK (both x86_64 and i386)

Thanks.

[2018-12-11 20:08] michael-grunder commented on #1472
Awesome, glad to hear it worked on your end!

[2018-12-11 20:08] #1472 closed

[2018-12-12 08:08] yatsukhnenko commented on #1477
@remicollet, sorry to bother you, could you explain why pecl-file_formats-lzf uses LZF_MARGIN?

[2018-12-12 10:52] remicollet commented on #1477
@yatsukhnenko sorry, no idea, I only took lead on this extension for PHP 7 compatibility.

[2018-12-12 11:02] remicollet commented on #1477
@yatsukhnenko after a quick look, it may happen that out buffer is a bit larger than in buffer. LZF_MARGIN is there to ensure compression always works.

From lzf header comment.
[code]

In LZF extension case, out buffer is larger than in buffer to avoid failure

IMHO, having uncompressed data stored where  compressed data are expected can raise bad issue.

[2018-12-12 11:05] yatsukhnenko commented on #1477
This makes sense when LZF_MARGIN is computed dynamically from in buffer size.

[2018-12-12 11:12] remicollet commented on #1477
I agress, LZF_MARGIN should be 4% of in buffer len (probably with a minimal value)

[2018-12-12 11:18] yatsukhnenko commented on #1477
@TheLevti right now I see two possible solutions
1. increase out buffer size to 104% of in buffer size
2. add an option to set margin to be compatible with file_formats-lzf extension

[2018-12-12 11:24] yatsukhnenko commented on #1477
@remicollet are you going to make any changes in file_formats-lzf extension?

[2018-12-12 11:34] yatsukhnenko commented on #1477
OK, thanks! I'll make changes in phpredis and than will create a PR with link to this issue :)

[2018-12-12 13:49] remicollet commented on #1472
And FYI, also OK with 5.0.3 :)

[2018-12-12 15:50] TheLevti commented on #1477
Just wow. Thank you guys. I never expected such a quick and collaborative response!

[2018-12-12 16:09] yatsukhnenko commented on #1477
@TheLevti this doesn't mean I'll do this change quickly :smile:

[2018-12-12 16:40] TheLevti commented on #1477
If you exactly tell me what needs to be done, I can try and help. But my C level is below average.

[2018-12-13 10:01] damijank commented on #1476
As I see this, there's only one feasible solution to this mess:

_Any PHP Extension should seamlessly accept `null` values for optional arguments, and apply defaults in-line._

What I mean is, ie. for the `\Redis::multi()` method, it should accept `null` as input for the `$mode` argument, but if `null` is given, apply the desired default of `\Redis::MULTI` to it.

If implemented, one needs to be c

[2018-12-13 14:51] michael-grunder commented on #1476
Hey,

As far as I know, there is no PHP standard or rule suggesting this is what extensions should do.  At any rate, although this would fix _this specific issue_ I think it would be a bad change for the rest of the phpredis user base.

PHP will return `NULL` if you ask for a variable that's not been declared, and additionally, variables (e.g. member class settings, etc) have a tendency to become

[2018-12-13 16:13] damijank commented on #1476
I know there's no PHP rule or standard to this, that is not a quote from somewhere. :slightly_smiling_face: It is just how I see this could be manageable.

If one takes under consideration that PHP's Reflection can not access the default values of optional arguments in extensions, to me it would be only logical to _not_ use optional arguments at all, or at least _not_ have any other default value

[2018-12-13 16:13] #1476 closed

[2018-12-14 20:21] lauri-elevant commented on #1411
Having the same issue, PHP 7.2

The warnings seem to be in a strong correlation with number of concurrent requests, so it may be a race condition introduced with the session locking feature perhaps?

[2018-12-14 23:38] kjoe commented on #1385
We also have this issue on PHP 5.5, but in cluster_library.c is there any reason, that waitms calculated from connect timeout, rather than read timeout? (used in function cluster_send_command)

Another possible reason is that msstart does not reseted in every loop, as written in the documentation:

"The way RedisCluster handles user specified timeout values is that every time a command is sent to

[2018-12-15 14:21] brainmix commented on #1373
@michael-grunder v4.2 seems not support slot caching, we may need this feature urgently.

[2018-12-15 22:19] lauri-elevant commented on #1411
What lead you to believe that this warning is spurious and the write actually went through even in case where the warning was triggered. I do not believe this is the case.

From the [source code](https://github.com/php/php-src/blob/9003d8a4cfe810b9222273a36b9be89dda94a35b/ext/session/session.c#L493) it seems to be that the phpredis extension reports a failed write. From the relevant implementation

[2018-12-16 08:39] SkydiveMarius commented on #1411
Alright, will prepare a more verbose logging version the next days.Am 15.12.2018 23:19 schrieb Lauri Elevant <notifications@github.com>:
It works though

What lead you to believe that this warning is spurious and the write actually went through even in case where the warning was triggered. I do not believe this is the case.
From the source code it seems to be that the phpredis extension reports a

[2018-12-17 08:00] TheLevti commented on #1477
I will try today. Thanks.

[2018-12-17 18:49] ihabzee commented on #1201
I am facing same problem. Does adding timeout reduce the problem?

[2018-12-18 01:10] tanjiancheng commented on #1373
v4.2 seems not support slot caching, we may need this feature urgently.can have a plan when will support?

[2018-12-18 03:16] Planeptune opened #1479 "How can phpredis surpport igbinary on WINDOWS?"
I'm using PHP7.0 on WINDOWS and I'm trying to install redis and igbinary for it. Now my phpinfo() shows that redis is ready to use but there is no igbinary in serializers:
![image](https://user-images.githubusercontent.com/20297699/50129897-17510580-02b6-11e9-8c0a-e360c95735a4.png)

But phpinfo() also shows that igbinary is ready to use too:
![image](https://user-images.githubusercontent.com/20297

[2018-12-18 08:20] yatsukhnenko commented on #1477
I guess, `make && make install` should be enough. Which version of extension do you see in `phpinfo`?

[2018-12-18 12:02] Planeptune commented on #1479
@yatsukhnenko I try to compile php with phpredis and igbinary, my configure command is like this:
`configure --enable-cli --disable-zts --enable-soap --enable-igbinary --enable-redis --enable-redis-igbinary --with-pdo-mysql --enable-pdo --with-mysqli --enable-sockets --with-openssl --with-gmp --with-curl`

And when it's compiling redis_cluster.c, cl.exe returns fatal error U1077 with code 0x2

[2018-12-18 12:06] yatsukhnenko commented on #1479
Unfortunately I can't help you with compilation on Windows

[2018-12-18 12:07] TheLevti commented on #1477
4.2.0 it says. i removed the one from pecl first, made sure that php fails if extension is missing, run `make install`, and then got this version.

[2018-12-18 12:59] Planeptune opened #1480 "phpredis return fatal error U1077 when compiling on windows with php"
I'm tryiny to compile php, phpredis and igbinary toghther on Windows, seeing this document https://wiki.php.net/internals/windows/stepbystepbuild . I was using configure like this:
`configure --enable-cli --disable-zts --enable-soap --enable-igbinary --enable-redis --disable-redis-session --enable-redis-igbinary --with-pdo-mysql --enable-pdo --with-mysqli --enable-sockets --with-openssl --with-gmp

[2018-12-18 14:10] yatsukhnenko commented on #1477
This means that comment `but less than 104% of the original size` is a lie

[2018-12-18 16:10] remicollet commented on #1477
The reason why I propose to keep LZF margin ;)

[2018-12-19 07:19] yatsukhnenko commented on #1477
@jrchamp are you going to create PR?

[2018-12-19 07:31] ibarkowski opened #1481 "Unserialize - additional network overhead (SERIALIZER_PHP)"
### Actual behaviour

Using SERIALIZER_PHP there is additional overhead on network when deserialization operates on nested objects. Additional overhead is connected with magic function __wakeup() from deserialized object - even if that method is empty

Here how it looks with SERIALIZAR_PHP on:
https://monosnap.com/file/kPlU0LUqV1GjsyJVSE0gqBt3JEj5Zu

And with SERIALIZER_NONE, but using php seriali

[2018-12-19 11:00] amfleurke opened #1482 "session locking requires redis 2.6.12 but docs say 2.0"
### Expected behaviour
Redis 2.4 supported, or documentation saying redis 2.6.12 required (SET + EX / NX options)
### Actual behaviour
php hangs on connecting to redis 2.4, because the set command has wrong number of arguments, in combination with https://github.com/phpredis/phpredis/issues/1412 and doesn't report any error whatsoever
documentation says "The session handler requires a version of R

[2018-12-19 11:01] amfleurke commented on #1412
Also happens when you have an unsupported redis version. See #1482

[2018-12-19 11:21] remicollet commented on #1477
@jrchamp I like your way, avoiding float, BTW

This will raise interger overflow. Seems better to:

	sizz =  i + min(UINT_MAX-i, max(LZF_MARGIN, (uint)(i / 25)));

[2018-12-19 20:28] vityank opened #1484 "phpredis 4.2.0 segfaults with globals and shutdown functions with Redis objects"
### Expected behaviour
Script finishing after performing the redis operation.

### Actual behaviour
Segmentation fault then php-redis attempts to close persistent connection.

# Description
Seems that phpredis attempts to to close the persistent socket handle(???) during calls to regular redis commands(hIncrBy,hSet,etc).
Previous stable v4.1.1 works fine(It didn't closed persistent handles on disc

[2018-12-20 08:15] yatsukhnenko commented on #1477
@TheLevti now compression should work as you expected.

[2018-12-20 14:19] yatsukhnenko commented on #1484
I can't replicate this issue

[code]
[code]
Could you run your test script from cli?

[2018-12-20 19:34] vityank commented on #1484
Through i tested the case with cli as well before, here we go(Still considering other factors like glibc version and others):

/opt/php71/bin/php -d extension=redis.so /root/phpredis/testCloseOnShutdown.php
Start test
Res: OK
Finishing test
Res: OK
Segmentation fault

(gdb) bt
#0  0x00000000005b7ee4 in _php_stream_free (stream=<optimized out>, close_options=19)
    at /root/basesys-components/php-

[2018-12-21 07:34] yatsukhnenko commented on #1482
@amfleurke this should be fixed in `issue-1412` branch. Could you test it?

[2018-12-21 09:43] amfleurke commented on #1482
Hi Pavlo, thanks for trying to fix this.

I checked out your branch, ran mkdev.sh to get the .so file, and put it in the modules dir, and restarted apache. phpinfo shows a 4.2.0 ce063cfa00628fd544909da854fe87d9145dc0dd phpredis is installed now. But I still get

sendto(18, "*6\r\n$3\r\nSET\r\n$62\r\nPHPREDIS_SESSI"..., 134, MSG_DONTWAIT, NULL, 0) = 134
poll([{fd=18, events=POLLIN|POLLPRI|POLLERR|P

[2018-12-21 10:19] yatsukhnenko commented on #1482
Could you show INI settings for `redis.session`?

[2018-12-21 10:43] amfleurke commented on #1482
session.save_path = "tcp://myredishost:6379?database=3"
redis.session.locking_enabled = 1
redis.session.lock_wait_time = 50000
redis.session.lock_retries = -1

[2018-12-21 10:51] yatsukhnenko commented on #1482
You infinitely try to lock and since your redis server is very old and not support extra set arguements all tries fail

[2018-12-21 11:07] amfleurke commented on #1482
correct. So it would be good to add to the documentation that redis 2.4 is not supported.
changing lock_retries to something else will make the session locking not working any more.
( I can't really think of an use case for a different value than -1: you want to get a lock only when other threads have ended their lock, not after x retries)

[2018-12-21 11:51] yatsukhnenko commented on #1482
I'll add a notice in documentation

[2018-12-21 15:57] TheLevti commented on #1477
Thanks guys. It will be a busy weekend. I will try to test it as soon as possible.

[2018-12-21 21:15] TheLevti commented on #1477
Ok, I just tested it and it works! Thanks a lot.

[code]

So lock could successfully be released.

[2018-12-22 02:17] vityank commented on #1484
I've made a debug version of my PHP with STREAM_DEBUG also enabled.
With PHP/debug is fails slightly before the release version, but as i see the release of second Redis object which instantiated in a shutdown function(@ 0x107cf00) causes the previous connection object (@ 0x107cf90) to become corrupted(Like in use, after free scenarios): ops = 0x1, ctx = 0x100007f00000002 - both are obviously inva

[2018-12-23 19:02] michael-grunder commented on #1484
Yeah, this bug is just _weird_.

For example, if I change the reproduction script [to this](https://gist.github.com/michael-grunder/22c25def77fbf05fc0ab87d620e777a1) then I get a segfault if I don't pass any arguments but not if I do.

The only change is that if passed arguments, the `testSet` function uses `uniqid` instead of `microtime(true)` to generate the key value.

Furthermore, in my VM I c

[2018-12-23 20:31] yatsukhnenko commented on #1484
Heisenbug :smile:

[2018-12-25 02:40] vityank commented on #1484
I think, I realized what's going on, but i may be wrong.

(a) Global variable get stream allocated at address p1
(b1) Local variable get stream allocated at address p1 <- persistent list
(b2) Local variable deallocated, _php_stream_free(PERS=1) removes the p1 from persistent_list
* At this point p1 is dangling pointer
(c) We allocate new local variable in shutdown function:
   (c1) We are lucky an

[2018-12-25 10:22] chunlongZhang opened #1487 "How to use the command GEORADIUS_RO or GEORADIUSBYMEMBER_RO on relicats Redis server with phpredis?"
### Expected behaviour
PHP Fatal error: Uncaught Error: Call to undefined method Redis::GEORADIUS_RO()
### Actual behaviour

Stack trace:
#0 /opt/www/index.php(715): Redis->georadius_ro('location', '120', '15', 100, 'km')

### I'm seeing this behaviour on
- OS:  macOS 10.14
- Redis: v5.0.2
- PHP: v7.0
- phpredis: v4.2.0

### Steps to reproduce, backtrace or example script

[code]

### I've checked

[2018-12-25 13:36] vityank commented on #1484
Thanks @michael-grunder . Happy holidays and thank you for a hard work on this project :)

[2018-12-26 14:13] yatsukhnenko commented on #1484
[code]

[2018-12-26 16:20] yatsukhnenko commented on #1487
@chunlongZhang There is no such command `georadius_ro`. You can read from any node but writes should be performed on master.

[2018-12-27 08:40] chunlongZhang commented on #1487
Is it possible to add read-only `georadius` later?

[2018-12-27 11:09] yatsukhnenko commented on #1487
May be we will add them later. BT w you can try to use `rawCommand` right now.

[2018-12-27 11:32] hzbd commented on #1139
This can be easily found in the case of simulated network jitter or network packet loss. because our scene is special, there is no test version 4.x yet.

refreman:
https://stackoverflow.com/questions/614795/simulate-delayed-and-dropped-packets-on-linux

[2018-12-27 16:44] SkydiveMarius commented on #1411
If anyone still has problems, I implemented a quick&dirty verbose logging in the following branch:
https://github.com/SkydiveMarius/phpredis/tree/PHPREDIS-1411

The locking transactions will be logged in-memory and appended to the warning message, e.g.:
[code]

Please use this patch with caution considering:
* Sensitive information in warning message (session key, lock secret)
* Higher memory usag

[2018-12-28 00:05] alexander-schranz opened #1489 "Mocking Redis case sensitive problem on expected call"
### Expected behaviour

When I mock the redis instance the function is called the function name should not be lowercase.

### Actual behaviour

When I mock the redis instance the function is called the function name are lowercase.

### I'm seeing this behaviour on

- OS: macOSX
- Redis: 5.0.1
- PHP: 7.1.25
- phpredis: 4.2.0

### Steps to reproduce, backtrace or example script

[code]

errors with:

[2018-12-28 00:36] michael-grunder commented on #1489
Hey, thanks for the report,

This is an interesting one.  PHP functions and methods are case-insensitive so I'm not really sure it's a bug in phpredis.

Looks like this has been reported a few times on the [prophecy repo](https://github.com/phpspec/prophecy/search?q=case+insensitive&type=Issues) but they wanted to stick with case-sensitive lookups.

I don't _think_ changing the `PHP_METHOD` defini

[2018-12-28 00:49] alexander-schranz commented on #1489
@michael-grunder thank you for your fast response. You are correct that PHP itself is case insensitive and in my case a prophecy issue as you linked, but still would be good if its name would be xAdd, xRead, ... instead of xadd, xread, ..

But understand that this can only be changed in the next major release because of BC promise. Maybe you want to add this issue to the next major milestone so it

[2018-12-28 03:32] michael-grunder commented on #1484
Hi @vityank,

I'll take a closer look at that patch in the morning.  The issue is a bit tricky because what we really want to do is close the underlying socket but keep the stream in a safe way.  The reason we switched to `redis_stream_pclose` here is because people were having issues with persistent connections getting out of sync after a network error.

There does appear to be a clean way to acc

[2018-12-28 12:58] o5 commented on #1484
@michael-grunder

You're awesome OSS maintainer, thanks! I don't understand completely this PHP extension internals but PHP 5.x will be end of life [in next week](http://php.net/supported-versions.php). What about drop supporting this old version?

I'm going to upgrade Redis instances to latest version 5.0.2 in our projects but I don't know if I understand this issue correctly: Right now, I use `p

[2018-12-28 13:11] vityank commented on #1484
I know what the major change is to support reconnects in case of problems(Then built-in keep-alive in PHP doesn't fit, probably due to unlimited timeouts). However, @michael-grunder , I afraid approach with PHP_STREAM_FREE_KEEP_RSRC/PHP_STREAM_FREE_PRESERVE_HANDLE will not work, because bug has another background(I hope i wrong, ofc). Somehow we get PHP to store our stream in both persistent and r

[2018-12-28 16:35] yatsukhnenko commented on #1059
@leezhxing could you test `issue-1059` branch?

[2018-12-28 19:15] michael-grunder commented on #1484
Hey @vityank,

Yeah, I think we're running into conflicting requirements here.  On the one hand, we recently changed the way `close` works in order to fix the problem of out-of-sync persistent connections, but as it sits now this is just broken (segfault/invalid reads).  It's probably silently working for many users because they only have one object to any given `{host}:{port}` and/or aren't calli

[2018-12-28 19:55] vityank commented on #1484
Many extensions and PHP's internal code uses this approach :) It can be controlled in some of them then C developer exposes extra argument for custom persistent id's - using different ones it really creates different persistent elements. However many devs are hiding them by using host+port+optionally some id+extra connection param such as timeout to generate those, and you do the same. It works as

[2018-12-28 19:57] 4n70w4 opened #1490 "[Bug] [4.2.0] pconnect() + close() = Segmentation fault (core dumped)"
### Expected behaviour

correct work like version php-pecl-redis4.x86_64 0:4.1.1-1.el7.remi.7.2

### Actual behaviour

There was a problem sending 208 bytes on socket 6: Broken pipe3.20000100096There was a problem sending 192 bytes on socket 6: Broken pipe

Segmentation fault (core dumped)

### I'm seeing this behaviour on
- OS: centos:7.5.1804
- Redis: 4.0.9
- PHP: 7.2.13
- phpredis: 4.2.0-1.el7.

[2018-12-28 20:19] michael-grunder commented on #1490
Hi, @4n70w4,

Closing this in favor of #1484.  Hopefully, we'll have a fix for this soon!

[2018-12-28 20:19] #1490 closed

[2018-12-28 20:53] michael-grunder commented on #1484
OK, so I think in the short term I'll update the code to revert `close()` to previous functionality, and add `pclose()` _at least_ for PHP >= 7.0 since it can be done with very little modification to the code.

From what I've read, in addition to implementing a proper connection pool the `mysqli` extension also attempts to clean up connections in an invalid state by calling `mysql_change_user()`.

[2018-12-29 13:30] yatsukhnenko commented on #1484
I'm currently on vacation  :snowman: so I can't dig into this issue to much

[2018-12-29 13:34] yatsukhnenko commented on #1484
BTW I like an idea about connection pool and we have another issues where users ask about this

[2018-12-30 13:40] yatsukhnenko commented on #1484
@michael-grunder Let's add object handle id to all persistent connections?
[code]

[2018-12-30 20:43] michael-grunder commented on #1484
@yatsukhnenko Why are you working on your vacation!  :joy:

This does solve the problem but I worry that it would massively increase file descriptor pressure.  I think this is going to require a proper solution (persistent connection pooling).

[2019-01-01 16:32] Littlericket commented on #1318
I know whats the cause now.. it happens when you compile php and enabling redis; like when you move it to the "ext" folder of PHP. You have to phpize and make it seperately.

[2019-01-03 06:51] satyapendem commented on #1266
Hi I have one same problem related to `ZREM` when I'm passing array to ZREM it is not removing. I'm trying with `ZREM test:user:1234 [1,2,3]`.

[2019-01-03 10:53] zhoubeiqing commented on #634
the same problem, I think the reason is default_socket_timeout in php.ini, the default value is 60 second

[2019-01-03 11:20] zhoubeiqing commented on #634
ini_set('default_socket_timeout',86400)

[2019-01-05 00:32] vadimzzz opened #1492 "How to cancel pipeline mode without executing commands?"
There is no way to exit pipeline mode and drop queued commands without executing.
I thought discard() function does that but actually not, it just puts DISCARD command to queue.

[2019-01-08 07:19] yatsukhnenko commented on #1492
@vadimzzz try to use `Redis::close` command. It should free commands queue and set `ATOMIC` mode to the object.

[2019-01-08 11:01] yatsukhnenko commented on #1492
@vadimzzz could you test fix from branch `issue-1492`?

[2019-01-08 13:11] vadimzzz commented on #1492
@yatsukhnenko you forgot to free commands queue...

I also wanted to make the same fix but then found out that it's not correct:
being in pipeline mode you can enque `MULTI` command (by calling multi() again) and that's why discard() just equeues `DISCARD` command and cannot just clear the queue.

I think it must be a new method like discardPipeline() or so to not break existing behavior.

[2019-01-08 13:14] yatsukhnenko commented on #1492
I [didn't forget](https://github.com/phpredis/phpredis/commit/93bb4eb1947f8349cfa611bde91304eee7673abf#diff-6fb31fe7e4f4b06bbb2522a6dc6bae14R2319) to free queue :)

[2019-01-08 13:24] vadimzzz commented on #1492
Maybe I missed something but I expected to see this code ;)
[code]

[2019-01-08 13:36] yatsukhnenko commented on #1492
Hmm, looks like we clean this queue only after executing transaction and in destructor.
Thanks @vadimzzz :+1:

[2019-01-08 20:31] vadimzzz commented on #1492
What about `redis_sock->pipeline_len`? Why did you skip it?

[2019-01-09 07:17] yatsukhnenko commented on #1492
I thought about using `zend_string` for `pipeline_cmd` and forgot about `pipeline_len` :smile:
Thanks!

[2019-01-10 20:22] yatsukhnenko commented on #1492
@vadimzzz I merged fix into `develop` branch.

[2019-01-10 20:22] #1492 closed

[2019-01-10 20:42] vadimzzz commented on #1492
fine, thanks!

[2019-01-15 14:21] yatsukhnenko commented on #1355
This functionality is implemented in #1494

[2019-01-15 14:22] yatsukhnenko commented on #903
This functionality is implemented in #1494

[2019-01-15 14:22] yatsukhnenko commented on #1148
This functionality is implemented in #1494

[2019-01-15 17:23] greg-1-anderson opened #1495 "What versions of the Redis server are supported by each version of phpredis?"
I cannot find the documentation on supported versions of the Redis server. Does this exist somewhere? If not, does every version of phpredis work with every version of the Redis server? Specifically, I am trying to find out:

- Does phpredis 4.2.0 works with Redis server 2.8.
- Does phpredis 3.1.6 works with Redis server 5.x.

Could someone point me to release notes or changelogs where this inform

[2019-01-15 17:51] michael-grunder commented on #1495
Hi @greg-1-anderson,

We don't have an exhaustive list with this information but it's probably a good idea.  The short answer is that most commands likely work fine regardless of what versions you're pairing.

Older versions of phpredis won't have specific support for newer Redis commands, but you can generally get at that functionality by using `rawCommand`.

Other pain points come from commands

[2019-01-15 17:58] greg-1-anderson commented on #1495
Great, thanks @michael-grunder. That's very helpful.

My use-case is actually swapping out an older Redis server for a newer Redis server underneath some old code that wants to keep running, and does not need new functionality. From your answer, I infer that should work "nearly perfectly", but my milage may vary.

[2019-01-15 17:58] #1495 closed

[2019-01-16 12:03] tomekit commented on #246
Migrated from Memcached with IGBINARY seralizer to Redis with PHPRedis. Unfortunately my app is using `increment` and that worked fine with old Memcached, but doesn't with Redis.
I am not sure if it was Memcached or Memcached lib responsibility to handle this though.

Redis `increment` failing when serialization is enabled is such a big deal then in my opinion the `phpredis` should throw an except

[2019-01-16 13:19] LeonanCarvalho commented on #1237
That such impolite answer.

[2019-01-16 13:33] LeonanCarvalho commented on #1237
I came here by Google and a just "No" as an answer?
You didn't show any good manners and was rude.

[2019-01-16 13:37] yatsukhnenko commented on #1237
My "No" is a link to documentation which describes all supported `connect` parameters.

[2019-01-16 13:39] yatsukhnenko commented on #1237
The question was in the same tone :)

[2019-01-16 13:50] LeonanCarvalho commented on #1237
![Image of no face]([https://i.kym-cdn.com/entries/icons/original/000/007/423/RageFace.jpg)

[2019-01-16 14:00] yatsukhnenko commented on #1237
I didn't see this meme before :rofl:

[2019-01-17 23:18] marvix commented on #1406
did work for me, any solution??!

[2019-01-18 03:04] thilinadinith opened #1497 "Always having errors with composer install"
its very tiring that always phpredis get errors with composer install.
im using a mac os. following error im getting from the composer install which is related to phpredis. im clueless as error descriptions doesn't explainable .
[code]

[2019-01-18 04:01] michael-grunder commented on #1497
Hi @thilinadinith,

Please see issue #1406.  It seems that OSX Mojave breaks a lot of code due to an added/changed security feature.  I'm going to wait to upgrade to Mojave as long as possible because of this very issue.

Since I don't run Mojave I can't verify the following solution works, but it appears to have solved the problem for others:
https://superuser.com/questions/1363013/apache-cant-lo

[2019-01-18 14:04] qualitysof opened #1498 "How to use redis in windows with php 5.6.35 from scratch step by step"
good morning, I am new to use Redis and I would like to know how to use redis from the installation setup and an example of using the server as the client.

thank you very much for your help.

Johnny Tarmeño
qualitysof@gmail.com

[2019-01-18 20:42] michael-grunder commented on #1498
Hi @qualitysof,

I don't have a Windows machine, so I can't give step-by-step instructions on how to make this work, but I'm guessing there are some tutorials online that might help.

[Installing PHP Extensions in windows](http://php.net/manual/en/install.pecl.windows.php)
[Prebuilt DLLs for PhpRedis](https://pecl.php.net/package/redis)

Redis doesn't officially support Windows, but this might be

[2019-01-18 20:42] #1498 closed

[2019-01-18 20:45] qualitysof commented on #1498
Sorry if the question is not for this forum, what I'm looking for is how to update a field of a table when the user closes a tab or the browser, I was thinking about doing it with workers but I do not know if it is the best idea.

If you have an example about that or an idea, I would appreciate it.

[2019-01-18 20:58] michael-grunder commented on #1498
That sounds more like a question about JavaScript.

[This might be relevant](https://stackoverflow.com/questions/3888902/detect-browser-or-tab-closing)

You might have luck asking in these places:
https://www.reddit.com/r/learnjavascript/
https://www.reddit.com/r/CodingHelp/
https://www.reddit.com/r/learnprogramming/

[2019-01-18 21:00] qualitysof commented on #1498
yes, I test with javascript, but javascript functions do not work for some browsers

[2019-01-20 19:15] lifeofguenter commented on #1314
Just underlining @mivanovaxway:

- yes, redis does not officially support TLS
- AWS supports it though
- libraries usually support TLS

Might be overthinking it though as usually TCP libraries (such as fsockopen) come with TLS support built-in?

[2019-01-21 10:17] yatsukhnenko commented on #1355
#1494 is merged into `develop` branch

[2019-01-21 10:17] #1355 closed

[2019-01-24 16:23] TTSMike commented on #1296
Same problem here (PHP 7.2, Redis 5.0.3, phpredis 4.2.0, on Ubuntu 18.04). INFO says `redis_mode` is `cluster` and `cluster_enabled` is `1`.

[2019-01-24 21:05] TTSMike commented on #1296
Mkay. My problem that caused the above error was I didn't create the cluster.

I expected `phpcli --cluster create 127.0.0.1:6379` to work, but that's invalid. The workaround was to mass-assign the slots: `for i in {0..16383}; do redis-cli -h 127.0.0.1 -p 6379 CLUSTER ADDSLOTS $i; done`, but even with slots assigned it failed to work (different error, node complaining it can't connect to its peers

[2019-01-24 21:52] michael-grunder commented on #1296
Hey @TTSMike,

You don't need to do all of that.  With a recent version of `redis-server` it's a lot easier to start up a cluster.

You can probably just use `<phpredis_dir>/tests/make-cluster.sh` along with redis-cli to get one up simply.

1.  Run `make-cluster.sh start`
2.  Run `redis-cli --cluster create 127.0.0.1:7000 127.0.0.1:7001 127.0.0.1:7002 127.0.0.1:7003 127.0.0.1:7004 127.0.0.1:7005 1

[2019-01-24 22:01] TTSMike commented on #1296
Cool, thanks for the tip. I was hoping to do it by hand initially just to better understand what was going on. Unfortunately that went badly so I aborted, and had to nuke my redis installation. I'll have to give that a try when I re-do our staging setup (I need to configure Live right now).

[2019-01-24 22:15] michael-grunder commented on #1296
OK good luck with your configuration.

Here's the simplest by hand approach to spinning up a cluster that I can think of:

[code]

[2019-01-24 22:16] TTSMike commented on #1296
Much appreciated. Thanks for all the tips. 😄

[2019-01-27 18:10] Incognito commented on #1267
Because this is a complex issue and a lot of discussion and closed issues/PRs were created over the years, the summary is: Single-instance redis server session locking is now supported and documented in the main README file.

[2019-01-27 22:00] michael-grunder commented on #1296
I'm going to close this issue since it doesn't seem to be a bug in phpredis.  Feel free to reopen if I'm misunderstanding.

[2019-01-27 22:00] #1296 closed

[2019-01-27 22:00] michael-grunder commented on #1497
I'm closing this since it's an issue with Mojave, not phpredis.  Please post how you fixed it if you had to do something other than what the links I posted suggest.

[2019-01-27 22:00] #1497 closed

[2019-01-28 08:50] xergio commented on #1356
It seems the syntax is something like this:

[code]

Comments and documentation should be fixed, in this case the `$master` (node) is the second argument.

[2019-01-28 15:36] blind3dd commented on #1341
for me it went like this:
$ wget https://github.com/nicolasff/phpredis/archive/master.zip
(unzip)
$ cd <unzipped_dir>
$ phpize ;./configure ;make ; sudo make install

$ find your php; for me it was /usr/local/etc/php/7.1/conf.d/
$ navigate there and:
 cat >>  ext-redis.ini << 'AyeCaramba'
extension="/usr/local/Cellar/php@7.1/7.1.25/pecl/20160303/redis.so"
AyeCaramba
$ brew services restart php@7.1

[2019-01-28 17:35] michael-grunder commented on #1356
Should be fixed via fe21524e and 8838f534.  We probably want to add a note to all such commands.

[2019-01-28 17:35] #1356 closed

[2019-01-30 11:40] lauri-elevant commented on #1411
Error is still present in PHP 7.3.1
[code]

[2019-01-30 12:15] lauri-elevant commented on #1411
@koleo (or anyone else affected by this regression) - were you by any chance using AWS ElastiCache redis?

It is infuriatingly difficult to diagnose, since it happens only at scale and synthetic setups do not appear to be sufficient. With the caveats outlined above I am hesitant to push it to production.

[2019-01-30 15:20] lauri-elevant commented on #1411
@SkydiveMarius It is much appreciated that you provided this version with extra logging. However I am not successful in my attempts to replicate the behaviour in dev/staging despite my best efforts. I am not sure what is the X factor but I cannot push the modded extension to prod for obvious reasons.

Still - aim developing a hunch against another commit also introduced past 4.0:
https://github.co

[2019-01-30 15:41] lauri-elevant commented on #1411
Specifically this looks very suspect to me:
https://github.com/phpredis/phpredis/commit/aaaf0f233afe404bc1d8c6a600af860448ee0bd6#diff-a8c2cac018b55b5883b8faad30efbfb4R734

I think there may be cases where the key that is about to be EXPIRE-d (eg it's expiry extended) was just removed and it returns `0`. Seems like exactly the kind of race condition that would only rear itself in rare circumstances

[2019-01-30 15:55] lauri-elevant commented on #1411
Finally managed to repro it:

[code]

Then hit it with a high concurrency:
`ab -n 100000 -c 1000 URL`

If lucky, it will log:
[code]

I think it is fairly conclusive. The `PS_UPDATE_TIMESTAMP_FUNC` is causing these symptoms.

[2019-01-30 15:59] lauri-elevant commented on #1411
For those experiencing the issue, the workaround is:
`ini_set('session.lazy_write', 0);`

This basically disables the buggy code paths that are becoming exercised since past 4.0 phpredis supports the new set timeout API.

[2019-01-30 17:52] yatsukhnenko commented on #1412
This issue should be fixed in `develop` branch (via PR #1488)

[2019-01-30 17:52] #1412 closed

[2019-01-30 20:45] yatsukhnenko commented on #1411
@lauri-elevant thanks for your report. I'll look at this closer tomorrow.
May be we don't need to check lock when updating timestamp? 🤔

[2019-01-31 22:02] michael-grunder commented on #1318
Were you able to get it working?

[2019-02-01 09:45] yatsukhnenko commented on #1411
@lauri-elevant your comment about ignoring the result of the EXPIRE sounds reasonable for me but I'm not sure about this change because I don't know what it may breaks. Presently I don't have a lot of time to dig into PHP sessions so may be somebody knows how this situation handled in other extensions?

[2019-02-01 17:54] Littlericket commented on #1318
@michael-grunder yeah, it works when cloning this repo and "making" it, instead of putting the phpredis dir into the "php-source/ext" folder and compiling php with --enable-redis.
I don't really know why this happens - if you can explain that to me you can close this.

[2019-02-04 20:43] michael-grunder commented on #1318
I can't explain it.  I have lots of versions of PHP to test PhpRedis that I build from source, but don't see this issue myself.

I don't know a lot about autotools but I regenerate the configure file by doing `./buildconf --force` and then the `./configure` with all of the options.

But if your build gets  you `Redis` then the issue is likely something weirder...

[2019-02-07 14:00] art-sitedesign opened #1502 "RedisCluster - command geoRadius failed with timeout exception when distribute slaves"
### Expected behaviour
Get the result of the redis command: GEORADIUS
### Actual behaviour
If i'm using FAILOVER_DISTRIBUTE_SLAVES option, when the timeout comes I get an exception:
Exception 'RedisClusterException' with message 'Timed out attempting to find data in the correct node!'

Looking at this redis MONITOR, I don't see the sending command in the cluster. Also, if i'm send a command to the

[2019-02-07 14:21] art-sitedesign commented on #1502
As a temporary solution, I'm used this:

[code]

[2019-02-07 17:29] michael-grunder commented on #1502
Hey @art-sitedesign,

My assumption as to what's happening is that Redis is rejecting the `GEORADIUS` call against a slave since we need to send `GEORADIUS_RO` to slave nodes.

Phpredis doesn't have specific support for that command but we probably should add it.  You could call it manually via `rawCommand` but you would also have to manually parse the response.

[2019-02-07 20:47] lauri-elevant commented on #1411
@yatsukhnenko - I can see that you signed off the piece of code that is currently under scrutiny. So I assumed that you have the authority for this.

I propose a scenario:

1. User makes a request 5 seconds before the session is supposed to be garbage collected (maybe she was being inactive for a while?)
2. The request is a report query that takes >5 seconds.
3. By the time the request is done, th

[2019-02-08 19:09] beavis commented on #1411
if it helps I'm able to reproduce it every single request setting igbinary as serializer and writing the session with no data:
[code]
Warning: session_write_close(): Failed to write session data (redis). Please verify that the current setting of session.save_path is correct (tcp://127.0.0.1:6379?database=1)

[2019-02-10 19:35] TysonAndre opened #1503 "ASYNC option of flushAll and flushDb not documented in README"
### Expected behaviour

Documentation of $async should be in readme, since this functionality was implemented in #1302

### Actual behaviour

https://github.com/phpredis/phpredis#flushall has incomplete documentation

----

[code]

[2019-02-10 19:41] TysonAndre opened #1504 "Reflection arginfo for Redis->subscribe and Redis->psubscribe is missing $callback"
### Expected behaviour

Should have ReflectionParameter for $channels and a second one for $callback

### Actual behaviour

Only has ReflectionParameter for the first parameter

[code]

### I'm seeing this behaviour on

- PHP: 7.3.0-dev
- phpredis: 4.2.0

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed i

[2019-02-11 07:15] yatsukhnenko commented on #1411
@lauri-elevant I made the change and now phpredis only checks that response is integer reply.

[2019-02-11 07:31] yatsukhnenko commented on #1504
Thanks @TysonAndre! Already fixed in `develop` branch.

[2019-02-11 07:31] #1504 closed

[2019-02-11 07:40] yatsukhnenko commented on #1503
Thanks! Fixed :)

[2019-02-11 07:40] #1503 closed

[2019-02-11 08:27] art-sitedesign commented on #1502
Thanks @michael-grunder , I did not know about this command before. I will try to use it in my code.

[2019-02-12 07:48] runlee opened #1505 "RedisCluster - error: Timed out attempting to find data in the correct node"
### Expected behaviour
### Actual behaviour
When we use PHP scripts for timing tasks, and when the PHP scripts run for a period of time, Rediscluster often reports exceptions（**timed out  attemptingto find data in the correct node**）.
### I'm seeing this behaviour on
- OS: CentOS release 6.5
- Redis: 3.2.11
- PHP: 7.0
- phpredis:  3.1.0

### Steps to reproduce, backtrace or example script
**Settin

[2019-02-13 21:21] stevechilds commented on #366
Unless I'm missing something, doesn't the first element of $a need to be set to 'x' - i.e. the key?

[2019-02-13 22:36] jrchamp commented on #366
Again to help others, you should be able to avoid the call_user_func_array by using argument unpacking.
[code]

[2019-02-14 00:00] stevechilds commented on #366
@jrchamp - I didn't even know that was a thing in PHP! You learn everything every day! Although it appears its in PHP 5.6+, so no use for us (at the moment, that'll change very soon though, finally!)

[2019-02-14 03:24] heidji commented on #1272
i'm closing this issue because it's very old and a workaround exists

[2019-02-14 03:24] #1272 closed

[2019-02-14 09:43] yatsukhnenko commented on #1484
@vityank could you test changes from `connection-pool` branch?

[2019-02-14 11:23] mdurn commented on #1443
This is very dangerous and gives false positives about records not existing. If "false" is supposed to mean that a key was not found, I would expect that I can safely assume that the key doesn't exist, and perhaps write new data to that key. This should definitely be an exception.

[2019-02-14 14:59] akalongman opened #1508 "RedisArray and authorization"
RedisArray does not support authorization? I am trying to connect Redis servers with a password, but I see an exception `NOAUTH Authentication required.`

[2019-02-14 15:38] yatsukhnenko commented on #1508
No, it doesn't, but you can manually iterate over the hosts and send auth command.

[2019-02-14 15:49] akalongman commented on #1508
@yatsukhnenko do you plan to introduce this feature in RediaArray?

[2019-02-14 21:54] yatsukhnenko commented on #1508
@akalongman I didn't plan to implement this but if you need this functionality it shouldn't be difficult to add it. I'll try to take a look this weekend.

[2019-02-14 22:02] akalongman commented on #1508
@yatsukhnenko yes please :heart_eyes: Because, I think, that will be much faster than implementing it on PHP's side.

[2019-02-15 00:59] mdurn commented on #1443
I found that using multi(Redis::PIPELINE) / exec is also another way to deal with the issue in one request (rather than an extra request for ping()), as it returns false in this case instead of an array. Then do a close() if the response was false (for pconnect, this only applies to version 4.2.0 and above).

[2019-02-15 02:24] #1505 closed

[2019-02-16 08:20] kkmuffme opened #1509 "Support for ZPOPMIN"
It would be great if phpredis could support ZPOPMIN https://redis.io/commands/zpopmin to get & delete the first X elements of an ordered set.

I have no idea how to create this feature, but would be glad to help with any testing, writing documentation or other related things if you want.

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2019-02-17 19:19] vityank commented on #1484
@yatsukhnenko , Seem to work stable with redis.pconnect.pooling_enabled=1(Didn't checked for memleaks or stability over long time during high load),
Has different random crashes w/o the new option.

[2019-02-19 12:13] yatsukhnenko commented on #1508
@akalongman could you test `issue-1508` branch?

[2019-02-19 12:24] akalongman commented on #1508
@yatsukhnenko yes, I will test on this weekend :heart_eyes:

[2019-02-19 18:09] michael-grunder commented on #1509
This should be merged soon via #1511

[2019-02-19 18:09] #1509 closed

[2019-02-20 12:28] selff opened #1512 "I can't run command "MEMORY USAGE" with rawCommand"
### Expected behaviour
{value}[58]
### Actual behaviour
{value}[]
### I'm seeing this behaviour on
- OS: Mac Os, Ubuntu
- Redis: 4.0.6 - 4.0.11
- PHP: 7.0.22 - 7.2.9
- phpredis: 4.1.1
### Steps to reproduce, backtrace or example script
redis-cli work perfectly
[code]
but php extension don't work
[code]
OUTPUT:
{value}[]
### I've checked
- [x] There is no similar issue from other users
- [x] Issue

[2019-02-20 21:59] nodesocket opened #1513 "Intermittent Uncaught exception 'RedisException' with message 'Connection closed'"
Hello, we are seeing a very small number of intermittent connection closed exceptions being throw when calling `session_start()`.

We are running PHP 5.4.45 with phpredis 2.2.7 installed via `yum install php54-pecl-redis`. Redis server is running on AWS Elasticache with multi-availability zone, running Redis 3.2.10.

The php session configuration is simply:

[code]

Any ideas? I know we are runnin

[2019-02-21 08:52] Jan-E opened #1514 "Compilation error: 'void *': unknown size"
On Windows (VC14, PHP 7.0 x86 ZTS) php_redis.dll fails to compile:

The offending line 1899 was introduced in the commit https://github.com/phpredis/phpredis/commit/c76e00fb25a005dc80d3e1d1ea2d64626ab155c2?_pjax=%23js-repo-pjax-container by @yatsukhnenko

I did not yet check things like VC15 PHP 7.3 x64 NTS

[2019-02-21 10:10] Jan-E commented on #1514
The same error occurred in VC15 PHP 7.3 x64 NTS

[2019-02-21 11:24] rahulspnd opened #1515 "Read Error on connection"
Recently I am upgrading my application from Symfony 3.4 to Symfony 4.2. I am encountering error telling that `read error on connection` .

Here is the stack trace:

[code]

Please look into the problem

[2019-02-21 19:01] michael-grunder commented on #1514
Yeah sizeof(void*) isn't standard but will compile with gcc.  I'll change it to char* when I'm at a computer.

[2019-02-21 19:07] Jan-E commented on #1514
It was the next line that caused the error:
`le = (void *)l + sizeof(*l);`
TIA for fixing

[2019-02-21 19:21] Jan-E commented on #1514
Changing both instances fixes the compilation error:
[code]

[2019-02-21 21:36] nodesocket commented on #1515
We are also seeing intermittent `read error on connection`. Though mostly `connection closed`. See my issue with all details https://github.com/phpredis/phpredis/issues/1513

[2019-02-22 06:43] rahulspnd commented on #1515
no, we are not using AWS Elasticache @nodesocket . Though we are having it while executing query and in get function of Redis Cache.

[2019-02-22 07:12] yatsukhnenko commented on #1514
@Jan-E I pushed the fix to `develop` branch. Could you test it?

[2019-02-22 07:13] yatsukhnenko commented on #1515
@rahulspnd what version of PHP and phpredis do you use?

[2019-02-22 07:14] yatsukhnenko commented on #1513
@nodesocket current stable version of phpredis is 4.2.0! We fixed a lot of bugs since 2.2.7 :smile:

[2019-02-22 07:22] rahulspnd commented on #1515
@yatsukhnenko PHP version: 7.2.13 and phpredis : 4.2.0

[2019-02-22 07:25] nodesocket commented on #1513
@yatsukhnenko my understanding is versions 3.0.0 and greater are only compatible with PHP version 7+. We are running PHP 5.4.45 and cannot upgrade.

[2019-02-22 07:46] yatsukhnenko commented on #1515
Do you use persistent connections?

[2019-02-22 07:48] yatsukhnenko commented on #1513
@nodesocket starting from 3.1.0 we support all versions from 5.3 to 7.3
https://travis-ci.org/phpredis/phpredis

[2019-02-22 07:57] rahulspnd commented on #1515
No, we do not user persistent connection

[2019-02-22 07:58] yatsukhnenko commented on #1515
"read error on connection" exception thrown when we can't read data from socket so it commonly network error, so I think you should look closer at your server & network settings.

[2019-02-22 08:02] rahulspnd commented on #1515
Do we need to do something with the configuration of Symfony?

[2019-02-22 08:15] yatsukhnenko commented on #1515
I'm not familiar with Symfony :smile:

[2019-02-22 09:07] Jan-E commented on #1514
I tested the 2 extremes: VC14 PHP 7.0.33 x86 TS and VC15 PHP 7.3.3RC1 x64 NTS. Both compile fine.

[2019-02-22 09:07] #1514 closed

[2019-02-22 09:15] rahulspnd commented on #1515
Thanks for your reply :)

[2019-02-22 09:16] yatsukhnenko commented on #1484
I merged connections pooling functionality into `develop` branch so let's say that this issue is fixed :smile: @vityank, @michael-grunder Feel free to reopen this issue if it doesn't fixed on your end.

[2019-02-22 09:16] #1484 closed

[2019-02-22 09:18] yatsukhnenko commented on #1487
Fixed in `develop` branch

[2019-02-22 09:18] #1487 closed

[2019-02-22 09:23] yatsukhnenko commented on #620
Old issue without any activity for a long time. Feel free to open new issue if you see this issue with the latest stable version of phpredis.

[2019-02-22 09:23] #620 closed

[2019-02-22 09:30] yatsukhnenko commented on #614
Old issue without any activity for a long time. Feel free to open new issue if you see this issue with the latest stable or develop version of phpredis.

[2019-02-22 09:30] #614 closed

[2019-02-22 09:33] yatsukhnenko commented on #967
Just merged this functionality into `develop` branch

[2019-02-22 09:33] #967 closed

[2019-02-24 21:45] nodesocket commented on #1513
@yatsukhnenko ok interesting. Might be worth trying to upgrade to 3.1.0 then.

[2019-02-24 21:58] yatsukhnenko commented on #1513
3.1.0 is broken 🤣 4.2.0 is good choice

[2019-02-25 10:56] remicollet opened #1517 "[4.2.1RC1] build report + RFE"
FYI test build of 4.2.1RC1 + test suite (using redis server version 5.0.3), on

* Fedora 26-29, RHEL 6-8
* i386, x86_64
* NTS, ZTS

Everything seems OK

BTW, I notice lot of API changes (additional runtime configuration options and methods) which is not fine for a patch release.

See Reflection diff
https://git.remirepo.net/cgit/rpms/php/pecl/php-pecl-redis4.git/diff/REFLECTION?id=eae195f6d7bc58f7

[2019-02-25 11:11] remicollet commented on #1517
Hmm... it looks like this paramet was already mandatory in 4.2.0, but missing in arginfo. So not an ABI break, but a bugfix. Please confirm

[2019-02-25 11:16] yatsukhnenko commented on #1517
Thanks for the testing!
I'll create next pre-release as 4.3.0
You are right, that parameter was mandatory in 4.2.0 so it's a bugfix.

[2019-02-25 11:50] yatsukhnenko commented on #1517
I re-uploaded release as 4.3.0RC1

[2019-02-25 12:09] remicollet commented on #1517
Thanks

[2019-02-25 12:09] #1517 closed

[2019-02-25 12:58] yatsukhnenko commented on #1508
Already merged into `develop`

[2019-02-25 12:59] yatsukhnenko commented on #1477
Fixed in `develop` and `4.3.0RC1` on PECL site

[2019-02-25 12:59] #1477 closed

[2019-02-26 01:44] #1502 closed

[2019-02-26 11:09] akalongman commented on #1508
@yatsukhnenko sorry for late answer.
I've built the `develop` branch according to https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown#installation-from-sources

[code]

Restarted Apache, Redis nodes. The redis.so file updated in the `/usr/lib/php/20170718/` folder

[code]

But I see the error `NOAUTH Authentication required.`

The output of `dump(get_class_methods($redisClient));`:

[2019-02-26 11:27] yatsukhnenko commented on #1508
No, [there is](https://github.com/phpredis/phpredis/blob/develop/arrays.markdown#specifying-the-auth-parameter) an `auth` connection option and [INI setting](https://github.com/phpredis/phpredis/blob/develop/arrays.markdown#defining-arrays-in-redisini)

[2019-02-26 11:47] akalongman commented on #1508
@yatsukhnenko hmm, same error. Somehow can I check if PHP uses new redis.so binary or not?

My test script:
[code]

[2019-02-26 12:01] akalongman commented on #1508
In the phpinfo I see Redis git revision `$Id: af7528d8e7f4a99ffd3a272f80caa2048ef8421c $`

[2019-02-26 12:18] yatsukhnenko commented on #1508
It seems that I've hurried and merged broken functionality :smile:

[2019-02-26 12:19] yatsukhnenko commented on #1508
I'll take a look closer in the evening

[2019-02-26 12:24] akalongman commented on #1508
@yatsukhnenko maybe we should add some unit tests? :smile:

Btw, I have questions about implementation details:

1. This auth functionality can slow down overall application performance?
2. Why not implement auth functional like the select database functional? Its seems for me pretty same. `auth` method like `select` method in RedisArray class

[2019-02-26 12:29] yatsukhnenko commented on #1508
Tests are always good idea but I don't like to write them :smile:
I thought that auth functionality will works similar to in RedisCluster

[2019-02-26 15:45] yatsukhnenko commented on #1508
@akalongman could you test `develop` branch?

[2019-02-26 16:22] akalongman commented on #1508
@yatsukhnenko now works, but without `'lazy_connect' => true`. With `lazy_connect` shows `NOAUTH` error

[2019-02-26 17:58] yatsukhnenko commented on #1508
Hmm... ok, I'll look a bit later

[2019-02-27 10:17] baijygo opened #1518 "just install php-redis but not install redis can i run redis?"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: 6.5
- Redis:
- PHP:5.6
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch
I don't have redis, installed, just phpredis,. I can connect to redis, and operate, okay? Do I need to install anoth

[2019-02-27 11:04] yatsukhnenko commented on #1518
phpredis is the extension for PHP and it doesn't require any part of Redis server to be installed on the same host

[2019-02-27 13:49] yatsukhnenko commented on #1508
@akalongman tests please `issue.1508` branch

[2019-02-27 13:57] akalongman commented on #1508
@yatsukhnenko now works :+1:

[2019-02-27 16:08] yatsukhnenko commented on #1508
OK, merged into `develop`

[2019-02-27 16:08] #1508 closed

[2019-02-27 16:13] akalongman commented on #1508
@yatsukhnenko thank you! :+1:

[2019-02-28 00:49] baijygo commented on #1518
bug i want to change port ,i find one /etc/redis.conf ,i change port 7200,but it can not run how can i do

[2019-02-28 07:10] yatsukhnenko commented on #1518
To change the port in /etc/redis.conf you need to install Redis server and edit its config.
If you have already had installed server and want to connect to its specific port using phpredis read [documentation](https://github.com/phpredis/phpredis#connect-open)

[2019-03-01 07:11] #1515 closed

[2019-03-01 07:24] yatsukhnenko commented on #1482
I updated minimum server version in documentation

[2019-03-01 07:24] #1482 closed

[2019-03-01 07:27] yatsukhnenko commented on #1435
Old issue without any activity for a long time. Feel free to open new issue if you have any problems with the latest stable or develop version of phpredis.

[2019-03-01 07:27] #1435 closed

[2019-03-01 08:33] yatsukhnenko commented on #1139
Old issue without any activity for a long time. Feel free to open new issue if you have any problems with the latest stable or develop version of phpredis.

[2019-03-01 08:33] #1139 closed

[2019-03-01 12:52] xergio commented on #1268
In redis.c, delete() execute a DEL command, and del() is an alias of delete(). What a mess...

In redis_cluster.c is almost perfect, no alias, only del() function executing the DEL command.

[2019-03-01 16:49] michael-grunder commented on #1268
Hi @xergio,

Like I mentioned before, this is intentional.  These aliased commands were created at the inception of this project, for reasons I'm not really clear on.  In order to not break existing code we left the aliases in the `Redis` object.

There is no `DELETE` command in Redis, only `DEL`.  We are going to release version 5.0.0 soon which only supports php7 so perhaps we will remove the al

[2019-03-04 10:29] Lunteer opened #1520 "Trouble installing on EC2 Amazon Linux 2"
### Expected behaviour

Nice clean install (But clearly an outdated version)

### Actual behaviour
--> Finished Dependency Resolution
Error: Package: php-pecl-redis-2.2.8-1.el7.x86_64 (epel)
           Requires: php(zend-abi) = 20100525-64
           Installed: php-common-7.2.14-1.amzn2.0.1.x86_64 (@amzn2extra-php7.2)
               php(zend-abi) = 20170718-64
           Available: php-common-5.4.

[2019-03-04 10:43] remicollet commented on #1520
Packages in EPEL are designed to work with packages in base CentOS / RHEL repositories, so with PHP 5.4.

If your PHP provider (amzn) don't provides "redis" extension you have to build it yourself, or choose a better provider.

[2019-03-04 10:44] remicollet commented on #1520
BTW, this issue is related to RPM packages, and repository conflicts, nothing with redis extension, so can be close.

[2019-03-04 10:46] Lunteer commented on #1520
OK, Thanks will close. Will try to build it from source again. But if you can help a noob out with some issues I had first time round.

- Where should I unzip/put the git folder. In my home folder?
- How do I ensure I get updates (manually?)
- After running make && make install do I need to move files around?

Thanks

[2019-03-04 10:46] #1520 closed

[2019-03-04 10:47] remicollet commented on #1520
simply:  ` pecl install redis`

[2019-03-04 10:56] Lunteer commented on #1520
Thanks. I got an error of `pecl: command not found`. So obviously need to install it. I ran `sudo yum install php-pear` and then `pecl install redis` and it now works! Thanks for the help.

Added note for anyone else visiting. You might need some other extensions like php-devel or gcc. You can add them to the install `sudo yum install php-pear php-devel gcc`

@remicollet  Thanks for all the help a

[2019-03-04 11:51] akalongman opened #1521 "Redis destruct problem"
### Expected behaviour

Destruct silently

### Actual behaviour

Destructor throws errors and calls error handlers

### I'm seeing this behavior on
- OS: Ubuntu 18.04
- Redis: 5.0.3
- PHP: 7.3.2
- phpredis: 4.2.0

### Steps to reproduce, backtrace or example script

Xdebug profile script:
[cachegrind.out.1551699096.05fca8.log](https://github.com/phpredis/phpredis/files/2926179/cachegrind.out.15516

[2019-03-04 19:46] michael-grunder commented on #1521
I'm not sure I totally understand the issue.  Are you able to provide a small script that reproduces the issue?

[2019-03-07 10:51] joeyhub opened #1522 "How do I disable reconnect?"
I want a read timeout as the last thing I want are hung on IO wait PHP processes all over the shop bringing down my servers.

However it requires that I specify the reconnect interval before setting the readout which I do not want. What value should I set it to to disable reconnect?

I'd also like read timeouts to product recognisable distinct errors.

[2019-03-10 21:09] RafalLukawiecki commented on #1495
Will using phpredis 4.2.0 against redis engine 5.0.3 work well? I have both options available on AWS Elasticache but I am unsure what is the correct choice—the use case is for Drupal 7 Redis caching. I am experiencing possibly unrelated issues and knowing the version compatibility would help me close a path in my current troubleshooting investigation. Many thanks for the very useful library.

[2019-03-12 00:08] michael-grunder commented on #1495
Hi @RafalLukawiecki,

I've never used Redis in AWS, but 4.2.0 should work fine with Redis 5.0.3.  Is there something specific you're having trouble with?

[2019-03-12 00:18] RafalLukawiecki commented on #1495
Thank you, @michael-grunder, this is very helpful. The issue that was causing trouble turned out to be unrelated to the version question—it was an error in the application. However your answer means I will have more confidence using 5.0.3. Thanks.

[2019-03-14 12:08] akalongman commented on #1521
Nevermind, looks like this behavior does not affects application

[2019-03-14 12:08] #1521 closed

[2019-03-14 12:12] akalongman opened #1523 "RedisArray: detect node on error"
When sometimes I have an error `read error on connection`, is it possible to detect the IP which node was it?

[2019-03-14 18:24] yatsukhnenko commented on #1523
I'm not sure about IP address but we can add `address:port` connection string.
@michael-grunder what do you think modification of exception message is this a breaking change? Should we add this to upcoming 5.0.x release?

[2019-03-14 18:30] akalongman commented on #1523
Yes, add please :heart_eyes:

[2019-03-14 21:03] michael-grunder commented on #1523
This seems like a good idea for 5.0.0.  We should probably break as many things (within reason) as possible for that release since we're allowed to.

[2019-03-15 12:32] akalongman commented on #1393
+1

[2019-03-15 12:37] akalongman commented on #752
:+1:

[2019-03-15 16:04] SergImmortal opened #1524 "Subscribe callback not working"
[code]

[code]

#### **Run first file then run second file, and catch fatal error**
### Expected behaviour
123
### Actual behaviour
123
Fatal error
Connection closed
#0 file1.php(3): Redis->subscribe(Array, Object(Closure))...
### I'm seeing this behaviour on
- OS: Linux Mint 19.1
- Redis: 4.0.9 (dosker container - redis)
- PHP: 7.2
- phpredis: last

[2019-03-15 17:02] yatsukhnenko commented on #1524
Do you see this error when connection pooling is enabled?

[2019-03-15 17:26] SergImmortal commented on #1524
error returns from the first file when it is running

[2019-03-17 02:48] youngda opened #1525 "Can I support the bitfield command? I didn't find this in the documentation."
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos7x64
- Redis:5.0.3
- PHP:7.2
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-03-18 07:59] SergImmortal commented on #1524
If use connect instead pconnect, behaviour not changed

[2019-03-18 20:05] phansys opened #1526 "PHP's reflection API doesn't expose parameters for some methods"
### Expected behaviour

The requested methods exposed by the reflection API, by instance:
[code]
The list of affected methods is the following:
[code]

### Actual behaviour

[code]

### I'm seeing this behaviour on
- OS: Linux
- Redis: 4.0.9
- PHP: 7.2.15
- phpredis: 3.1.6

### Steps to reproduce, backtrace or example script
[code]
### I've checked
- [ ] There is no similar issue from other users

[2019-03-18 21:14] TysonAndre opened #1527 "Improve documentation wording for zrem/zdelete"
### Expected behaviour

The other_members varargs is documented

### Actual behaviour

It isn't documented. Also, the description inside the zrem/zdelete is out of date - should be the same as the overview or similar

Expect:

(and document ...other_members)

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2019-03-19 00:28] phansys commented on #1526
I think the required changes to solve this issue are something like I've done in a [preliminar test](https://github.com/phpredis/phpredis/compare/3.1.6...phansys:arginfo?expand=1). Despite I'm not familiar with the code in this repo, I don't know against which branch make a PR to propose these modifications.
Are the version 3 or 2 open for fixes yet?

[2019-03-19 01:06] michael-grunder commented on #1526
Hi,

I think these have all been added in more [recent versions of phpredis](https://github.com/phpredis/phpredis/blob/3ce9d6b1623be5b29b0a211cdbc69e355a34397d/redis.c#L253).

[2019-03-19 01:25] phansys commented on #1526
Yes. Is the `develop` branch used to create releases from 3.x? In that case, I think we should only wait for a new release including these changes. Is there a roadmap or some docs about the release process?
Thank you in advance.

[2019-03-19 03:44] bapijun commented on #1518
need to install redis and run redis server.

[2019-03-19 06:39] yatsukhnenko commented on #1526
@phansys we are not going to create new releases in 3.x branch.
https://pecl.php.net/package/redis

[2019-03-19 15:05] michael-grunder commented on #1526
I'm going to close this issue, but feel free to open one if we're missing reflection information in current versions of phpredis.

[2019-03-19 15:05] #1526 closed

[2019-03-19 15:44] phansys commented on #1526
Sure. Thank you for your help!

[2019-03-19 23:31] #1518 closed

[2019-03-20 02:16] michael-grunder commented on #1448
The develop branch now only supports PHP7.

Closing this issue, and forgetting PHP5 ever existed.  🤣

[2019-03-20 02:16] #1448 closed

[2019-03-20 12:34] #1527 closed

[2019-03-20 12:47] michael-grunder commented on #1525
Hi,

Apparently not!  I'll add an implementation but if you need the command now you can always use `rawCommand`.

[2019-03-22 02:41] youngda commented on #1525
@michael-grunder Thank you for your help

[2019-03-23 10:45] ged15 opened #1529 "Redis::get() returns false when there is a problem with socket"
### Expected behaviour

`Redis::get` throws exception when any connection or socket problem occurs.

### Actual behaviour

`Redis::get` returns `false`. This makes it impossible to distinguish whether the key does not exist in Redis or there was a connection problem.
I am not sure if throwing an exception in this case complies with intended design of this extension. Furthermore throwing exceptions

[2019-03-23 12:13] yatsukhnenko commented on #1523
@akalongman could you test changes from `issue.1523` branch?

[2019-03-23 15:39] #1513 closed

[2019-03-24 09:09] akalongman commented on #1523
@yatsukhnenko will do tomorrow

[2019-03-24 16:10] michael-grunder commented on #1525
So after looking at the [BITFIELD](https://redis.io/commands/bitfield) command, I think the way to support it in phpredis is to just treat it as a generic variable argument command.

Phpredis should understand where the `key` is, so it properly supports any key prefixing that's enabled, but I don't know if we really get anything by writing a lot of code to take/validate the various `GET`, `SET`, a

[2019-03-26 08:18] pocifik commented on #1524
Can confirm, closing connection in subscribe loop will throw exception.
I use try catch to prevent it for now.

[2019-03-26 08:27] SergImmortal commented on #1524
@pocifik Yes, at this moment I too use try/catch for it, like
                            $redis = new Redis();
                            try {
                                $redis->subscribe(
                                    [$channelName],
                                    function (\Redis $redis, $chan, $msg) use ($variable1, &$variable2) {
                                        // wo

[2019-03-26 13:40] akalongman commented on #1523
@yatsukhnenko I did not get how error handling works in `RedisArray`

For testing, I have two Redis instances running locally, `127.0.0.1:6379` and `127.0.0.1:6380`

I wrote some example script and found the key distributed to node `127.0.0.1:6380`

After that, I stopped Redis node `127.0.0.1:6380` and refreshed the page, `RedisArray` decided to use the first node for key and did not throw an exce

[2019-03-27 15:18] fidelhuang opened #1532 "Couldn't map cluster keyspace using any provided seed"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos7
- Redis:4.0.12
- PHP:5.4.6
- phpredis:4.30   pecl install redis

### Steps to reproduce, backtrace or example script
cluster work ok.
redis-trib.rb check 127.0.0.1:6380    is ok

$redis = new RedisCluster(NULL,Array('127.0.0.1:6380','127.0.0.1:6381'), 1.5, 1.5, true,'mypassword');
var_dump($obj_cluster);

[2019-03-27 15:30] michael-grunder commented on #1532
Does using `redis-cli -c -p 6380` work as expected (e.g. getting and setting keys is fine?)

[2019-03-27 15:41] Thomas-1985 opened #1533 "Couldn't map cluster keyspace using any provided seed"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Ubuntu 16.04.5 LTS
- Redis: 5.0.4 (from ppa)
- PHP: 7.2.14
- phpredis: 4.2.0-1+ubuntu16.04.1+deb.sury.org+1

### Steps to reproduce, backtrace or example script
- hit an issue during Nextcloud setup with Redis-cache-cluster.
-I always get the error message "Couldn't map cluster keyspace using any provided seed "
-

[2019-03-27 16:03] yatsukhnenko commented on #1533
Duplicate #1532

[2019-03-27 21:54] Thomas-1985 commented on #1532
Hi
My bug was closed as a duplicate of this one.
In my case i can connect to the redis cluster with redis-cli, so the cluster seems to work.

[2019-03-27 22:48] michael-grunder commented on #1533
Hi @Thomas-1985, the two issues may be unrelated.  We just randomly got two very similar issues in rapid succession.

These seem to relate to different versions of phpRedis, Redis, and PHP itself.

I've never used Nextcloud, but are you able to connect to the cluster via redis-cli?

[2019-03-28 01:58] fidelhuang commented on #1532
@michael-grunder  redis-cli -c -p 6380 work is ok

[2019-03-28 02:14] michael-grunder commented on #1532
Hi,

Are you sure that you are passing the correct password?  Another thing you can try is to create a non cluster connection and make sure you are able to communicate with a specific node via a `Redis` object.

[2019-03-28 03:54] Novynn opened #1534 "Fatal error: RedisArray::getMultiple(): MGET: all keys must be strings or longs"
### Expected behaviour
Using getMultiple on an array of *references* to strings / longs shouldn't fail

### Actual behaviour
The following fatal error is thrown:
  Fatal error: RedisArray::getMultiple(): MGET: all keys must be strings or longs

### I'm seeing this behaviour on
- OS: Debian
- Redis: 5.0.4
- PHP: 7.3.3
- phpredis: 4.3.0

### Steps to reproduce, backtrace or example script
Issue is c

[2019-03-28 07:01] Thomas-1985 commented on #1533
Yes i wrote that in the initial thread:

redis-cli -p 13000 -a cluster nodes
-> shows all nodes

[2019-03-28 15:26] michael-grunder commented on #1533
What I want to know is if you are able to use phpredis to connect to a single node:

e.g.:
[code]

We know phpredis can connect to Redis cluster since thousands of people are using to do so, so the issue is trying to figure out what specific issue you are having.

[2019-03-28 18:32] michael-grunder commented on #1534
Hey, I pushed a branch that should solve this problem.

[2019-03-28 23:15] Novynn commented on #1534
Compiled the change in on my local machine and it seemed to do the trick!

[2019-03-29 01:24] michael-grunder commented on #1534
Awesome, glad it worked for you!

[2019-03-29 05:02] #1534 closed

[2019-03-29 12:01] akalongman commented on #1523
@yatsukhnenko imho this behavior is very strange and dangerous for production applications

[2019-04-01 06:44] chunlongZhang commented on #1487
nice!

[2019-04-02 05:35] husnurrsyafni commented on #1532
Hi,
I've run into similar problem here. I have a redis cluster that has been set up in kubernetes. I created a NodePort for accessing the cluster. redis-cli -c works perfectly. I tried connecting my application to the redis cluster so that my application can use the redis cluster for storing user session data. It's unsuccessful and return the same error as the issue above had.

php version is 5.6.

[2019-04-03 08:31] RasmusWernerLarsen opened #1537 "SIGSEGV in redis_sock_write with pconnect"
On PHP 7.3 php-fpm is dying with a SIGSEGV that originates in a _php_stream_write triggered by redis_sock_write. This seems to happen for all invocations.

I've upgraded php-redis from 4.1.6 (which is included in Ondrejs Ubuntu PHP PPA, which we're using) to 4.3.0 from PECL and the issue persists.

### Expected behaviour

Redis commands should execute as expected.

### Actual behaviour

The php-fp

[2019-04-03 09:21] RasmusWernerLarsen commented on #1537
Update:

The issue only happens when persistent connections are enabled.
This seems to be exactly the same issue reported here:
https://github.com/phpredis/phpredis/issues/695

[2019-04-03 09:45] yatsukhnenko commented on #1537
@RasmusWernerLarsen could you try to enable connection pooling via INI redis.pconnect.pooling_enabled?

[2019-04-03 09:56] RasmusWernerLarsen commented on #1537
@yatsukhnenko -

I've re-tested it with persistent connections enabled and "redis.pconnect.pooling_enabled = 1" set.

With connection polling enabled I'm so far unable to reproduce the issue!

[2019-04-03 10:23] yatsukhnenko commented on #1537
We are going to enable connection pooling by default in next release

[2019-04-03 10:42] RasmusWernerLarsen commented on #1537
Using connection pooling makes sense for us anyway, so that's great.

Still, it's not supported with the current production release in Ubuntu 18.04 (3.1.6) so this issue will probably resurface for others. Still, for my issue upgrading to 3.3.0 and enabling connection pooling is a fine solution.

Thank you very much.

[2019-04-03 10:49] yatsukhnenko commented on #1537
Unfortunately we can't affect the appearance of concrete version in different Linux distributives.

[2019-04-03 10:50] yatsukhnenko commented on #1537
Closing this issue. Feel free to open new one if you will have any questions with phpredis

[2019-04-03 10:50] #1537 closed

[2019-04-03 11:22] JoyceBabu opened #1538 "Redis::setOption() expects parameter 2 to be string, int given"
### Expected behaviour

The following code should work without any warnings
[code]
### Actual behaviour
`setOption` expects second parameter to be as string. But the built in constants are long. This causes error in strict mode.

    Redis::setOption() expects parameter 2 to be string, int given

### I'm seeing this behaviour on
- OS: Mac
- Redis:
- PHP: 7.3
- phpredis: 4.2.0

### Steps to reprodu

[2019-04-03 11:33] RasmusWernerLarsen commented on #1537
@yatsukhnenko - I understand that, but maybe you should consider a patch to disable pconnect for the 3.1 release, eg. just make pconnect always use connect (perhaps with a warning).

It seems to me that, after looking through a few more issues, particularly https://github.com/phpredis/phpredis/issues/1484 that pconnect without connection pooling is broken in some hard-to-debug scenarios.

This is

[2019-04-03 12:35] yatsukhnenko commented on #1538
@JoyceBabu as you can see not all Redis constants are strings but `setOption` requires strings. You should cast variable to string.

[2019-04-03 15:23] JoyceBabu commented on #1538
@yatsukhnenko Would it be possible to change the function signature to  `setOption(int opt, mixed value)` instead of `setOpt(int opt, string value)`?

[2019-04-03 15:38] jrchamp commented on #1538
The prototype is defined as mixed:
https://github.com/phpredis/phpredis/blob/bfaa89a8ae9b6a82dd8f3156e150ae898ee201be/redis.c#L2727
But the zend_parse_parameters is passed 's' for string:
https://github.com/phpredis/phpredis/blob/bfaa89a8ae9b6a82dd8f3156e150ae898ee201be/redis_commands.c#L3877
Perhaps it should used the mixed type 'z'?

[2019-04-03 16:50] yatsukhnenko commented on #1538
@jrchamp that's not actually the prototype but just comment :smile:
To be honest I don't like such changes because they don't fix any real errors but may break some others code.

[2019-04-03 18:06] JoyceBabu commented on #1538
I totally respect your position regarding backward compatibility. But will relaxing the type from `string` to `mixed` cause backward compatibility issue? Wouldn't it still continue to accept `string` value for those who are currently casting the value?

Even though a minor inconvenience, it is still an inconvenience. If there is no backward incompatibility, will you consider converting the type to

[2019-04-04 06:00] yatsukhnenko commented on #1538
@JoyceBabu changing method signature is compatibility breaking change. Also it is not enough just change the argument of `zend_parse_parameters` from `s` to `z` but we need to rewrite whole method to work with `zval`. Our lucky that next 5.0 release will contains other breaking changes so we may consider to make change. @michael-grunder  what do you think?

[2019-04-04 07:46] Jyosua opened #1539 "Can't compile phpredis for php5"
### Expected behaviour
./mkdeb-apache2.sh is supposed to build for php5. I have php5-dev installed.

Seems to still compile on the legacy branch, but I can't enable the extension in PHP.
### Actual behaviour
In file included from /root/phpredis/redis.c:27:0:
/root/phpredis/common.h:12:28: fatal error: zend_smart_str.h: No such file or directory
compilation terminated.
make: *** [redis.lo] Error 1

[2019-04-04 09:05] yatsukhnenko commented on #1539
PHP5 is not supported anymore

[2019-04-04 09:14] yatsukhnenko commented on #1539
You should checkout 4.3.0 branch or get sources from PECL

[2019-04-04 14:51] michael-grunder commented on #1539
Hi @Jyosua,

Like @yatsukhnenko says, the develop branch no longer supports PHP5.  Just to make sure I checked out the legacy branch and was able to build it just fine for php5.6.30.

Is there any specific error or warning?

[2019-04-04 15:02] michael-grunder commented on #1538
I think changing it to a `zval` is probably the most correct solution since it can be different types depending on the option being set.

We only export the argument name in our `arginfo` struct, so while I think it is technically a breaking change it's probably not going to cause very much pain.

If we took a `zval` and then used `zval_get_long` for the numeric options, and `zval_get_string` for

[2019-04-04 16:24] JoyceBabu commented on #1538
I have sent a PR (#1540) with the changes as suggested by @michael-grunder. Does it look okay?

[2019-04-04 16:57] yatsukhnenko commented on #1538
@JoyceBabu Tests failed

[2019-04-04 18:55] JoyceBabu commented on #1538
I have updated the code. The tests are now passing.

[2019-04-04 20:20] Jyosua commented on #1539
@michael-grunder

When I compiled from the legacy branch, it successfully compiled, but there was something about a file not existing on line 0 when I tried to do `php -d extension=/path/to/redis.so`. I will post the exact error when I get home from work.

I also tried doing `pecl install redis`, which worked, but I was unable to enable the extension no matter what I did. I added the `extension=re

[2019-04-04 20:25] Jyosua commented on #1539
Also, I had no idea php5 wasn't supported on master. Would it be possible to update the INSTALL.markdown to indicate that? I was just following the "Installation from sources" section, because at first I didn't have the required packages installed to use pecl.

https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown

[2019-04-04 20:32] Jyosua commented on #1539
I did notice that in my php lib folder, the pecl installed redis was in a different folder than the rest of the extensions. I'm not sure if that matters. The rest of them were in some 2013XXXX-zts folder. Does the zts matter?

[2019-04-05 05:53] michael-grunder commented on #1538
Closing since this is merged.  Feel free to reopen if we missed something.

Thanks again!

[2019-04-05 05:53] #1538 closed

[2019-04-05 07:20] Jyosua commented on #1539
So the initial attempt to do `php -d extension=redis.so` resulted in:
`PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php5/20131226-zts/redis.so' - /usr/lib/php5/20131226-zts/redis.so: cannot open shared object file: No such file or directory in Unknown on line 0`

So I copied the redis.so from the 20100525 folder it was in to the 20131226-zts folder the rest of the shared obj

[2019-04-05 15:39] michael-grunder commented on #1539
Errors like this usually mean there is a version mismatch.  Are you running multiple versions of PHP on the system?

I no longer have php5 on my system, but you could try the following:
[code]

As a test,  you could also put the full path to `redis.so` in your `redis.ini` before running `sudo make install`.

Also, when you run phpize, you'll want to note the output:

For example, I get this:
[code

[2019-04-07 15:20] kicco opened #1542 ""NOSCRIPT No matching script. Please use EVAL." When trying to call a cached script via EVALSHA"
### Expected behaviour
When running
`$client->evalSha($SHA_KEY, $NUM_KEYS, $KEY1, .. KEY2, ARG1, .. ARGN)`
I would expect the command being issued to Redis to be
`EVALSHA <SHA_KEY> <NUM_KEYS> <KEY1> .. <KEYN> <ARG1> .. <ARGN>`

### Actual behaviour
When MONITOR is active, the instance logs:
`1554649054.628574 [0 127.0.0.1:49934] "SCRIPT" "LOAD" "<SHA_KEY>"`
`1554649054.629049 [0 127.0.0.1:49934] "

[2019-04-07 21:54] michael-grunder commented on #1542
Hey,

I don't see this behavior.  Could you include a small bit of example code to show how you're calling `evalSha`?

I created a small test with two php scripts, but it works fine for me.
[code]

[code]

This works like I would expect:

[code]

Also I only see the `EVALSHA` when I monitor Redis when running `run.php`:
[code]

[2019-04-08 11:16] kicco commented on #1542
Thanks for the blazing fast reply.
After seeing your example I can only replicate the issue if I try to resolve the client from Laravel's DI, if I construct and run it the way you show, it works like a charm.

Thank you so much for this, and sorry for your time, closing this one.

[2019-04-08 11:16] #1542 closed

[2019-04-08 16:01] iliaal opened #1543 "read error on connection"
Started seeing quite a few of "read error on connection" errors we are using PHP 7.2.16 with php-redis v 4.2.0. The connections are being made to redislabs redis instance.

Any suggestions on what maybe the issue here?

[2019-04-08 17:03] michael-grunder commented on #1543
This is usually related to timeouts.  You can try increasing them to see if the issue goes away.

[2019-04-08 20:01] iliaal commented on #1543
We are currently using a 5s timeout, does that seem like too short of a value?

[2019-04-09 01:41] michael-grunder commented on #1543
I can't really say whether that's an appropriate timeout since I don't know anything about what you're doing with Redis.

But the `read error on connection` exception is thrown when Redis doesn't reply within the timeout (in your case 5s).  I don't have any experience with using RedisLabs instances but in general, this can happen if you're issuing commands in Redis that take a long time to complet

[2019-04-11 08:24] lovelock commented on #760
https://github.com/JetBrains/phpstorm-stubs
the stubs do not contain the update, let me do the last.

[2019-04-16 12:59] akalongman commented on #1523
Any update?

[2019-04-16 13:17] mdbug opened #1544 "type does not work for streams"
### Expected behaviour
There should be a class constant Redis::REDIS_STREAM and `$redis->type('mystream')` should return it.

### Actual behaviour
`$redis->type('mystream')` returns 0.
class constant Redis::REDIS_STREAM does not exist

### Steps to reproduce, backtrace or example script
XADD mystream * name Sara surname OConnor
[code]

[2019-04-16 13:57] yatsukhnenko commented on #1523
@akalongman sorry, I'm a little bit busy this days... I'll try to look next weekend

[2019-04-16 14:59] michael-grunder commented on #1544
I've added STREAM support to the following branch:
https://github.com/phpredis/phpredis/tree/issue.1554-stream-type

[2019-04-19 17:58] BoltUser opened #1546 "Problem with Pthreads and Volatile Objects"
Hi,
i'm trying to using phpredis on pthreads projects, and when i use a Volatile objects the PhpRedis extension do not work.

I receive this error : Redis server went away

I have this error only if i extend the class where using Redis object with Volatile, if i not extend the class with Volatile all work fine, but on my project and in many pthreads projects the Volatile class are necessary.

###

[2019-04-24 00:07] 719media commented on #1389
I'm sorry I can't help reproduce, but I get this on redis 5.0.3 (aws redis) and latest phpredis. I'm using php 7.1.28. The error seems to be related to the use of persistent connections, as I've never seen it when I'm not using persistent connections. However, I cannot reliably reproduce.

[2019-04-24 04:28] yatsukhnenko commented on #1389
@719media do you use persistent connection with pooling enabled?

[2019-04-24 07:32] 719media commented on #1389
I'm sorry I was incorrect, I was using phpredis 4.2.0 driver, and just now updated to the 4.3.0 version tonight and will let you know of any changes. I am using the default install from pecl,  so I don't believe that `pooling_enabled` is set to 1, as I have not specifically changed this setting, but am unclear on the documentation.

[2019-04-24 16:10] 719media commented on #1389
Since upgrading to 4.3.0, the problem has subsided. I am continuing to use pconnect with redis.pconnect.pooling_enabled => 0 => 0 without issue

[2019-04-24 18:26] yatsukhnenko commented on #1389
It's strange because pconnect works the same in 4.2.0 and 4.3.0 when pooling is disabled

[2019-04-25 10:55] Thomas-1985 commented on #1533
Hi

This is possible (i run 6 nodes and tested towards 2 of them)
---
root@nc-wb1:~# php test-redis.php
string(5) "+PONG"
---

This is tested against
ii  php-redis                           4.2.0-1+ubuntu16.04.1+deb.sury.org+1                     amd64        PHP extension for interfacing with Redis

Please help me how to test if it works for a cluster also

[2019-04-25 17:52] michael-grunder commented on #1533
Hey,

To test your cluster you could first make sure it's working and in cluster mode, by doing something like this:

[code]

You'll need to change the host and port to the ones you're using and want to make sure that it says `cluster_state:ok` to make sure you're running in cluster mode.

[2019-04-26 08:49] stevleibelt commented on #1411
Is this now closed, can some one confirm it is working well?

[2019-04-26 13:05] Thomas-1985 commented on #1533
root@nc-rc1:~# redis-cli -c -h 192.168.150.70 -p 13000 -a ... cluster info
Warning: Using a password with '-a' or '-u' option on the command line interface may not be safe.
cluster_state:ok
cluster_slots_assigned:16384
cluster_slots_ok:16384
cluster_slots_pfail:0
cluster_slots_fail:0
cluster_known_nodes:6
cluster_size:3
cluster_current_epoch:6
cluster_my_epoch:1
cluster_stats_messages_ping_sent:46

[2019-04-28 02:18] guoxiaod opened #1548 "geoadd's example have a mistake in the document"
geoadd's example have a mistake in the document:

the longitude and latitude are  reversed

### Expected behaviour

/* Since the key will be new, $result will be 2 */
$result = $redis->geoAdd(
    "myplaces",
    **-122.431, 37.773**, "San Francisco",
    -157.858, 21.315, "Honolulu"
);
### Actual behaviour

/* Since the key will be new, $result will be 2 */
$result = $redis->geoAdd(
    "myplaces

[2019-04-28 03:02] guoxiaod opened #1549 "geoadd then georadius failed after data serialized by php or igbinary"
[code]
### Expected behaviour
geoadd return: 1
georadius return: array (
  0 => 'world',
)

### Actual behaviour
geoadd return: false
georadius return: array (
)

### I'm seeing this behaviour on
- OS: CentOS
- Redis: 5.0.4
- PHP: 7.2.17
- phpredis: 4.3.0

### Steps to reproduce, backtrace or example script

I just run the script above, and georadius  return false.
I think this is because geohash

[2019-04-29 08:00] tworzenieweb commented on #1411
We migrated to latest version 4.3 and the problem is still there. We gave a try to `lazy_writes` earlier without success.

[2019-04-29 12:25] yancanchen commented on #1543
I also encountered this situation.
1.Code is running in swoole server or fpm.
2.It's nothing output at the slowlog.

[2019-04-29 19:44] huguesalary commented on #1533
I'm having the same issue. On my end, however, when running the "CLUSTER SLOTS" command (which is what phpredis is doing when this bug happens), I receive a dubious output from Redis, which makes me think the issue is, indeed, with the state of my redis cluster:

[code]

[2019-04-29 23:59] marcing opened #1550 "rawCommand converts FT.SEARCH property names to bool(true)"
### Expected behaviour
[code]
### Actual behaviour
[code]
### I'm seeing this behaviour on
- OS: Ubuntu
- Redis: 4.0.11
- PHP: 7.3.3
- phpredis: 4.3.0
- RediSearch 1.4.2

I have no clue what might the the origin of this.

[2019-04-30 00:27] michael-grunder commented on #1550
Hi, this is a known limitation of phpredis.  Essentially, with the exception of specific `STREAM` commands, any simple string reply is simply treated as `true`.

We've got a feature branch where this is configurable [here.](https://github.com/phpredis/phpredis/commits/string-reply-literal)

I think it may be worth reviving the feature, but I'd prefer to do it in a way that is backward compatible.

[2019-04-30 08:19] marcing commented on #1550
Dear Michael,

It would be probably enough for my case if FT.* commands had a different behaviour (for compatibility with RediSearch). I don't think it would break anything, since RediSearch does not work because of this.
Thanks for the hint with the client - I will try another.
It would be great to use one client for connecting to Redis in future.
RediSearch is only going to be more popular and m

[2019-04-30 08:20] marcing commented on #1550
https://github.com/phpredis/phpredis/commit/e8a91245ac11b897e8f71c7dd90e4413b6f19c60
This would also work, why isn't it integrated yet into main branch?

[2019-05-02 03:52] courtney-miles opened #1551 "TypeError with Redis::connect and NULL reserved argument"
### Expected behaviour
With Strict Type mode enabled, I expect to be able to pass `NULL` as the `reserved` argument (4th argument) to `Redis::connect()`.

### Actual behaviour

A `TypeError` is raised if NULL is passed for `reserved` with `Redis::connect()` and Strict Types mode is enabled.

### I'm seeing this behaviour on
- OS: Gentoo
- Redis: 4.0.10
- PHP: 7.1.16
- phpredis: 4.0.2

### Steps to

[2019-05-07 12:39] mdbug commented on #1512
Try
[code]

[2019-05-07 16:01] michael-grunder commented on #1512
Hi @selff the command should work if you call it as @mdbug suggested.

Closing this issue but if it still doesn't work after you change your call fee free to reopen.

[2019-05-07 16:01] #1512 closed

[2019-05-08 15:42] sylfabre commented on #1420
Up.

Some documentation about persistent connections would be greatly appreciated.
I understand that there is the `pconnect` method, the `redis.pconnect.pooling_enabled` setting and that 4.3.0 version brings "proper persistent connections pooling implementation" but that's all.
Please add some documentation about:
- when it's expected to work and when it's not (throw some exception maybe when usin

[2019-05-08 15:45] sylfabre commented on #1420
Ping @yatsukhnenko as you have worked on this matter for the 4.3.0 release !

[2019-05-08 15:49] nicolacontu commented on #1411
I am having the same issue and none of the workarounds are working.
I am on php 7.2.14 and I tried with the php-redis 4.1.0, 4.2.0, 4.2.0RC1, 4.2.0RC2 and 4.3.0

Setting the lazy_write does not help.

Can you please help?

Thanks

[2019-05-08 17:30] lauri-elevant commented on #1411
There are several failures that manifest as `Failed to write session data (redis). Please verify that the current setting of session.save_path is correct (...)`.

Another way to trigger it:
1. enable session locking
2. have two requests start a session, sleep (more than lock timeout) and then attempt to write to the session

The second one will fail to write and emit a notice. Any writes to the se

[2019-05-08 17:39] lauri-elevant commented on #1411
A simple way to alleviate this is to diligently `session_write_close()` whenever you are sure you are no longer going to write anything to the session. Preferably as early as possible and before any long-running tasks like database queries or HTTP calls.

[2019-05-08 17:52] nicolacontu commented on #1411
We can reproduce this if we enable the session locking. The session path is OK ( I have two servers in the save_path) , if I revert to v4.0.1 I don't get the issue, but it is really important for us to have the locking enabled. It is vital.

We don't want to change anything on the code side, we are currently using memcached and it is working correctly  but we wanted to move to redis to get all its

[2019-05-08 19:41] lauri-elevant commented on #1411
IANTM (I am not the maintainer), but if you have multiple concurrent requests and employ session locking, then some requests are going to time out on the lock spin. Then you have a choice between:
a) writes still carried out silently (then why do you need session locking?)
b) failed being denied and consistency being preserved

The latter (b) is clearly better, as the first option would pretty muc

[2019-05-08 19:52] yatsukhnenko commented on #1420
My knowledge of English is not enough for writing documentation 😅
Phpredis uses persistent connection mechanism represented by PHP engine.

I don't know situations when pconnect wouldn't work. Persistent connection is keeping alive while process is running and server doesn't close the connection from its side.

persistent_id is an unique identifier for finding stream object in the hash `EG(persist

[2019-05-08 20:25] yatsukhnenko commented on #1328
PHP engine creates global variable and stores it into persistent memory. This variable is available only in the current process and isn't shared between processes. When user call `pconnect` phpredis asks PHP engine to create the stream and store it into persistent storage by unique identifier (if it doesn't exist). As far as I know there's is no default mechanism in PHP to set min/max connection n

[2019-05-10 05:09] Budapresst commented on #1550
+1 for this "improvement"...   The problem is a nightmare because not only are there no key values, but also the data is returned in a different order every time there is a re-index... So essentially there is no way to use redisearch with phpredis...  I'm now having to write code to parse data out of a redis-cli command via shell_exec()...  It's an expensive operation because I can't keep a persis

[2019-05-10 05:41] michael-grunder commented on #1550
I'm planning on getting this merged over the weekend.  I'll link to the issue when it's up.

[2019-05-10 05:52] Budapresst commented on #1550
Wow!  Fantastic!  Thanks, Michael!

[2019-05-10 08:02] marcing commented on #1550
Budapresst - I managed to make it work with:
https://github.com/cheprasov/php-redis-client
It works with Redis 5.0
So I am using two clients at the moment, but it's doing what it should.

[2019-05-10 08:26] Budapresst commented on #1550
Thanks for the tip, Marcin...  I'll check that client out if Michael can't get it sorted in the next week or so... :)

[2019-05-12 12:46] yatsukhnenko commented on #246
Hey, the implementation is in [this branch](https://github.com/phpredis/phpredis/tree/issue.246)

[2019-05-12 20:11] yatsukhnenko commented on #246
Already in `develop` branch

[2019-05-12 20:11] #246 closed

[2019-05-12 20:26] yatsukhnenko commented on #1549
@guoxiaod as you correctly noticed Redis server doesn't recognize value after serialisation. This is also happens with other commands (for example `INCR`).
You should handle this issue in your code (disable serialisation before command) or use other serializer, which doesn't break numbers.
I'm closing this issue. Feel free to reopen it or create new one if you will have any questions about phpredi

[2019-05-12 20:26] #1549 closed

[2019-05-12 20:28] yatsukhnenko commented on #1539
Resolved. Feel free to reopen if you have any questions.

[2019-05-12 20:28] #1539 closed

[2019-05-13 01:59] michael-grunder commented on #1550
Hey everyone,

I've uploaded a version with the new option that will tell phpredis not to translate simple string replies into boolean values.

That being said, I didn't need it for `FT.SEARCH` since those fields are returned using BULK strings, which shouldn't get turned into bools.

I did need it for things like `FT.INFO`:

[code]

If you still have issues with `FT.SEARCH` please create a small

[2019-05-13 08:57] Budapresst commented on #1550
Hi Michael,

I tested the new version and it still doesn't work.  I'm using the PECL 4.3 version and this new version built as 4.2 (I don't know if that's an issue).  Anyway... Once you have the Redis 5x running with redisearch.so loading as well, then testing is dead simple:

<?php
$redis = new Redis();
$redis->connect('127.0.0.1', 6379);
$redis->auth('password');  //if relevant
$redis->select(0)

[2019-05-13 09:12] yatsukhnenko commented on #1550
@Budapresst you should use version from GitHub. We haven't released this feature on PECL yet.

[2019-05-13 09:16] Budapresst commented on #1550
@yatsukhnenko Of course... I used this one: phpredis-865651d5586333168ade92ad153a91d4fac96451  I'm only mentioning PECL because the latest version there is 4.3.0, but when I downloaded this new build and ran "make" the version of phpredis now shows as 4.2 instead of 4.3... (I'm not sure if this is important, but I thought it might be worth mentioning)...

[2019-05-13 09:29] yatsukhnenko commented on #1550
Didn't you forget to call `setOption(Redis::OPT_REPLY_LITERAL, true);` before sending raw command?

[2019-05-13 09:49] Budapresst commented on #1550
@yatsukhnenko  YES!  I didn't set that option because I thought it was somehow only relevant to @michael-grunder's test with FT.INFO...

It works!  This is great, many thanks to both of you!

Once this is fully tested/accepted, will this be available as a PECL install?  Most of my sites run on cPanel servers, so I prefer to keep things running via their procedures.

[2019-05-13 10:33] yatsukhnenko commented on #1550
This feature will be released with upcoming version 5.0. When? I don't have answer :)

[2019-05-13 10:57] Budapresst commented on #1550
Okay, Thank you!

[2019-05-13 11:14] tarastalian opened #1554 "Full Support module ReJSON"
Is there any plans to have full support of ReJSON not using rawCommand?

[2019-05-13 11:16] marcing commented on #1550
Thank You michael-grunder & yatsukhnenko!

[2019-05-13 11:30] yatsukhnenko commented on #1554
No, there are no such plans right now

[2019-05-13 11:46] tarastalian commented on #1554
ok, thank you

[2019-05-13 12:22] yatsukhnenko commented on #1554
Neither me or @michael-grunder use this module :smile:

[2019-05-13 16:40] michael-grunder commented on #1550
I'm glad it works for everyone!

We'll release it as part of our 5.0 release on PECL.

[2019-05-13 16:40] #1550 closed

[2019-05-14 07:22] RobbieLePommie opened #1555 "zRange and zRevRange has inconsistent parameters"
### Expected behaviour
zRange and zRevRange should accept an array of options `['WITHSCORES' => true]` as the fourth parameter, and not the boolean.

Reasons:
 - is consistent with [REDIS itself](https://redis.io/commands/zrange)
 - is consistent with [zRangeByScore](https://github.com/phpredis/phpredis#zrangebyscore-zrevrangebyscore)
 - is consistent with the readme where there is an Freudian sli

[2019-05-14 09:27] akalongman commented on #1523
@yatsukhnenko let me know when I can help in testing

[2019-05-14 13:11] yatsukhnenko commented on #1523
@akalongman your example script fails on `redis_sock_get -> redis_sock_server_open` so there no any exceptions thrown

[2019-05-14 13:13] akalongman commented on #1523
@yatsukhnenko

Is it expected behavior?

[2019-05-14 13:15] yatsukhnenko commented on #1523
Why not? :smile:

[2019-05-14 13:15] yatsukhnenko commented on #1523
[code]

[2019-05-14 13:20] yatsukhnenko commented on #1523
@akalongman could you test patch presented above and if it is ok I'll merge it

[2019-05-14 18:43] yatsukhnenko commented on #1523
@ackintosh I've merged this path into `develop` branch. Could you test and close this issue if it works as expected?

[2019-05-14 19:23] michael-grunder commented on #1533
@Thomas-1985 Are you still having this issue?

[2019-05-15 07:20] Thomas-1985 commented on #1533
Hi

Unfortunately yes

[2019-05-15 08:34] happiness24 commented on #1329
So guys how do you solve this problem？

[2019-05-15 16:43] michael-grunder commented on #1329
@happiness24 This tends to be something you fix with server configuration, but it will depend somewhat on your exact workloads.

There are the settings [@yatsukhnenko posted above](https://github.com/phpredis/phpredis/issues/1329#issuecomment-376635329) and you can also configure how long sockets stay in TIME_WAIT with the `net.ipv4.tcp_fin_timeout` `sysctl` setting.

[2019-05-15 17:43] michael-grunder commented on #1555
Hi @RobbieLePommie,

I tend to agree that the inconsistency is weird, but it's just a historical anachronism at this point that predates even my involvement in the project.

There are a variety of things like this that I'd like to remove such as `SortAsc`, `SortDesc`, and a bunch of aliases (`del` -> `delete`, `eval` -> `evaluate`, etc).

Allowing users to pass either the boolean or `['withscores'

[2019-05-15 17:56] michael-grunder commented on #1533
I'm not sure how I can help, but if you pasted the output from `CLUSTER SLOTS` that could provide a hint.  Another thing you could try is testing the cluster without a password.

Other than that, you could see if another library can connect to your cluster (e.g. Predis) to confirm the cluster is set up correctly.

[2019-05-15 19:41] michael-grunder commented on #1551
@yatsukhnenko Can you take a look at this.  You've worked with persistent connections more recently than I have.

Specifically, we were giving `persistent_id` a default value of `""` for some reason, meaning that it always tested as non-null.

Do you know why that is or if this change is going to break something?

[2019-05-16 10:31] yatsukhnenko commented on #1551
@michael-grunder Your change shouldn't break anything

[2019-05-16 15:56] happiness24 commented on #1329
Thanks. We have change the configuration on our servers. And we have done some performance test. When is TIME_WAIT sockets reached to 6K the nginx returned 502. We think it's better to use durable connections instead of single-use connections.

[2019-05-16 16:20] michael-grunder commented on #1551
This is merged, closing.

[2019-05-16 16:20] #1551 closed

[2019-05-16 18:02] michael-grunder commented on #1546
Hi, @BoltUser sorry for the delay in responding.

I haven't used the pthreads extension personally, but it's unlikely that phpredis is thread-safe out of the box, since we don't have any threading logic at all.

Can you post a small example of how you're trying to use phpredis with the Volatile class?  I can then step through the execution to get an idea about how it's supposed to work.

It would

[2019-05-16 18:35] yatsukhnenko commented on #1546
@michael-grunder if I'm not mistaken all that TSRMLS_DC/TSRMLS_CC in code is for thread safety ;)

[2019-05-16 21:09] michael-grunder commented on #1546
Yeah, the `TSRMLS_*` structs are PHP's magical thread safety voodoo construct for ZTS but I'm not sure if that in and of itself will be enough to work with phpredis.

It would be cool, but from the report appears that it doesn't work out of the box.

[2019-05-17 15:07] paladox opened #1557 "redis segfaulting"
### Expected behaviour
There to be no segfaults when using mediawiki's importDump.php script (https://www.mediawiki.org/wiki/Manual:ImportDump.php)

### Actual behaviour
It segfaults only after a while when running the script.

### I'm seeing this behaviour on
- OS: Debian 9.8
- Redis: :5.0.3-3~bpo9+2
- PHP: 7.2.18-1+0~20190503103213.21+stretch~1.gbp101320
- phpredis: 4.2.0-1+0~20190222131115.11+s

[2019-05-17 15:20] michael-grunder commented on #1557
It's not likely we are going to be able to find this problem without being able to replicate it.  You could try running a newer version of phpredis but I don't recall any segfault fixes recently.

[2019-05-17 15:23] yatsukhnenko commented on #1557
@paladox backtrace is not very informative.
Do you know mediawiki uses persistent connections? Also could you try to update phpredis to 4.3.0?

[2019-05-17 15:32] paladox commented on #1557
Thanks for responding and yup, it's not really giving me any useful information that would pin point the problem.

Also MediaWiki allows you to configure "'persistent'" which we have switched on, though you can switch it off.

I could try to see if i can upgrade to php-redis 4.3 though we use the php-redis deb from sury.

[2019-05-17 15:41] yatsukhnenko commented on #1557
@paladox Try to switch persistent off
`Thread 1 "php" received signal SIGSEGV`
Do you use php with threads?

[2019-05-18 02:56] centminmod opened #1558 "redis.pconnect.connection_limit"
I am not able to find any documentation on `redis.pconnect.connection_limit` and what happens if a custom set limit is reached ? particular when used with php (php-fpm)

thanks

[2019-05-18 04:59] yatsukhnenko commented on #1558
Hi.
This option is for setting size of the connection pool.
When limit is reached phpredis throws exception.

[2019-05-18 12:00] centminmod commented on #1558
cheers thanks for the clarification :)

[2019-05-20 06:32] linhecheng commented on #1373
@michael-grunder v4.3 seems not support slot caching, we may need this feature urgently.can have a plan when will support?

[2019-05-20 16:16] alexander-schranz opened #1559 "Response of xinfo unaccessable format"
### Expected behaviour

It would be good to have xinfo return the data as assocative array or provide a helper function to access its data better.

### I'm seeing this behaviour on

- OS: MACOS
- Redis: 5.0.3
- PHP: 7.3
- phpredis: 4.3.0

### Steps to reproduce, backtrace or example script

[code]

[code]

I would expect something like:

[code]

So its possible to access its data with: `$infos['gr

[2019-05-20 16:27] michael-grunder commented on #1559
This seems reasonable.

[2019-05-20 18:07] alexander-schranz opened #1560 "XReadGroup block argument is always blocking"
### Expected behaviour

I would think that the following two lines should do the same thing:

[code]

would think that this both lines are the same as the following in the cli:

[code]

### Actual behaviour

The first line does a non blocking request but the second one seems to convert the null into 0 and is so a blocking request. I would expect that given null to xreadgroup would do the same as n

[2019-05-21 06:52] yatsukhnenko commented on #1555
@michael-grunder IMO we need to remove all anachronism from code and make API similar for all methods but from the other side if we will handle array and boolean users will swearn less :smile:

[2019-05-23 19:40] ryanwitt commented on #1201
Note that any time you instantiate the `RedisCluster` class, you [create a new connection](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#connection-process) to at least one node in the cluster. If your code is doing that multiple times a session, you could see the number of connections spike.

I suggest that you instantiate one `RedisCluster` object per php session.

Also see

[2019-05-23 20:01] michael-grunder commented on #1201
Hi everyone,

There are a couple of improvements to phpredis that may be useful.  First ifyou're running phpredis 4.2.1 you can enable [persistent connection pooling](https://github.com/phpredis/phpredis#pconnect-popen).  This feature maintains pools of connections to your servers that persist across multiple connections.

We've had persistent connections in phpredis for ages, but before version 4

[2019-05-24 09:49] yatsukhnenko commented on #1314
It would be great if somebody will test changes from [connection-schema](https://github.com/phpredis/phpredis/tree/connection-schema) branch

[2019-05-24 09:50] yatsukhnenko commented on #1558
Resolved

[2019-05-24 09:50] #1558 closed

[2019-05-24 09:51] yatsukhnenko commented on #1554
Resolved

[2019-05-24 09:51] #1554 closed

[2019-05-24 09:53] yatsukhnenko commented on #1523
Fixed in `develop` branch

[2019-05-24 09:53] #1523 closed

[2019-05-24 09:54] yatsukhnenko commented on #1529
@ged15 could you test changes from `develop` branch?

[2019-05-24 16:56] yatsukhnenko commented on #1314
Fix merged into `develop` branch

[2019-05-24 17:26] yatsukhnenko commented on #1420
Resolved

[2019-05-24 17:26] #1420 closed

[2019-05-25 17:13] yatsukhnenko commented on #1405
Old issue without any activity for a long time. Feel free to reopen issue if you still have any problems with phpredis.

[2019-05-25 17:13] #1405 closed

[2019-05-27 07:59] mivanovaxway commented on #1314
@yatsukhnenko, Hello, I've looked at your changes, I see that you're extracting the schema, but I don't see it being used anywhere, you're also freeing it here:
[code]
Can you clarify how this works? Or perhaps this change just extracts the schema but does nothing with it?

[2019-05-27 08:34] yatsukhnenko commented on #1314
@mivanovaxway I use schema at line before freeing it :)

[2019-05-27 08:49] mivanovaxway commented on #1314
I see, the snprintf puts the schema in the host. Sorry for that, I am just not that used to pointers anymore.
Anyway, if this https://github.com/php/php-src/blob/master/main/streams/transports.c is sure to be able to use tls, then we should be good to go.
https://github.com/php/php-src/blob/master/main/streams/php_stream_transport.h this has an enum with TLS protocols.

[2019-05-27 20:13] yura3d opened #1562 "Why does GET/MGET return false instead of null for non-existent keys?"
Hi. I use Redis including as key-value storage with serializing enabled on PhpRedis side. Some of my values may be **false**. When I retrieve the values through MGET (for example), I get false for both types of keys: non-existent and valued false.

So the question is: why do non-existent values return as false? Why not **null**, like is done, for example, in memcached PHP extension? May be there a

[2019-05-28 12:05] RobbieLePommie commented on #1555
To add to the list:

`PING` returned `+PONG` if no parameters sent; it should return `PONG`.  REF: https://redis.io/commands/ping

Reason for suggesting fix: IT caused automated tests to fail while adapting to the library compared to other systems.

[2019-05-28 15:45] michael-grunder commented on #1555
I've wanted to change this one for years, and we can since we're allowed to break things for 5.0. :smile:

[2019-05-29 06:19] michael-grunder commented on #1555
It's still a work in progress, but the initial commit for these changes is above in f6e92fc.

Right now I'm returning `true` if `PING` is called without arguments since phpredis has _always_ represented simple string replies as `true` and I'm guessing users have come to rely on that.

@yatsukhnenko What do you think about the reply type?

[2019-05-29 09:41] yatsukhnenko commented on #1555
@michael-grunder don't you want to move changes related to PING to separated branch?

[2019-05-29 16:06] michael-grunder commented on #1555
I can, sure.

[2019-05-29 16:10] michael-grunder opened #1563 "Update PING to return true on success and take an argument."
Update PING to return `true` on success or whatever argument the user sent us.

[2019-05-29 18:05] yatsukhnenko commented on #1563
Is this change compatible with string literals reply?

[2019-05-29 18:21] michael-grunder commented on #1563
Not at this time.

I actually initially wrote tests for that option on and off, but then I realized that I'd limited `Redis::OPT_REPLY_LITERAL` to `rawCommand` and `eval`.

We certainly can incorporate that option everywhere but we'll need to make sure it doesn't break a bunch of stuff that we don't need to break.

[2019-05-29 18:42] michael-grunder commented on #1562
Returning `NULL` for a missing key might be more appropriate (since Redis returns `(nil)`), but this is something of a catch-22 because I can do this:

[code]

[2019-05-29 19:12] yatsukhnenko commented on #1563
Ah, I forgot about that. Then I'm ok with this change :+1:

[2019-05-30 08:25] letwang opened #1564 "希望哨兵支持根据命令负载均衡读写分离"
### Expected behaviour
sentinel 操作指令匮乏

### Actual behaviour
集群高可用哨兵模式下，希望能够支持读写分离智能分流（写操作到master；读操作到slave）

[2019-05-30 08:30] yatsukhnenko commented on #1564
Нічого не зрозуміло...

[2019-05-30 08:58] letwang commented on #1564
Sentinel lack of operational instructions
In the cluster high availability sentinel mode, I hope to support read and write separation of intelligent offload (write operation to master; read operation to slave)

[2019-05-30 14:18] moefar commented on #1130
Hey guys

I have the same issue, any update or advise? @QianChenglong @sawmurai

[2019-05-31 05:36] sawmurai commented on #1130
We explicitly check against false to handle this. The issue is still there i think.

[2019-05-31 06:09] yatsukhnenko commented on #1130
`false` may be returned in case of error

[2019-05-31 11:31] moefar commented on #1130
Which type of error you mean? @yatsukhnenko

[2019-05-31 11:36] yatsukhnenko commented on #1130
@moefar network error :) for example connection timeout

[2019-05-31 13:24] yatsukhnenko commented on #1564
I'm still not sure I understood your question correctly but I'll try to answer :)
phpredis supports working with cluster through `RedisCluster` class which has `OPT_SLAVE_FAILOVER` option for queries distribution configuration.
As mentioned in documentation
[code]
All writes goes to masters only. More details [here].(https://github.com/phpredis/phpredis/blob/develop/cluster.markdown)
About sentine

[2019-06-01 15:11] moefar commented on #1130
@yatsukhnenko shouldn't be a throw an exception(such as `RedisException`) when these types of errors happen instead of returning `null`?

[2019-06-01 16:16] yatsukhnenko commented on #1130
@moefar we have already changed the behaviour

[2019-06-02 18:01] michael-grunder commented on #163
Came across this ancient issue and added some clarification to the documentation.  sUnion can take either variadic arguments or a single array.

[2019-06-02 18:01] #163 closed

[2019-06-02 18:11] michael-grunder commented on #428
This issue has been inactive for a couple of years, and is likely fixed with the addition of connection pooling.  Please reopen if it's still an issue with the current version of phpredis.

[2019-06-02 18:11] #428 closed

[2019-06-02 18:35] michael-grunder commented on #825
It's now possible to [enable slot caching](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#slot-caching) in phpredis, so I think this issue is solved.

A super quick and dirty benchmark:
[code]

[2019-06-02 18:35] #825 closed

[2019-06-02 18:40] #1548 closed

[2019-06-02 19:30] michael-grunder commented on #1481
Hi, I don't know if I fully understand the issue.

You want phpredis to somehow not invoke `__wakeup()` on deserialization?  I don't think that's under our control.

[2019-06-02 19:32] michael-grunder commented on #836
This appears fixed.

[2019-06-02 19:32] #836 closed

[2019-06-02 19:44] michael-grunder commented on #1259
Hey everyone,

We've added a couple of things to phpredis that improves cluster performance but several times.

TL;DR: [cluster slot caching](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#slot-caching), combined with persistent connections.

Link to a very quick [benchmark](https://github.com/phpredis/phpredis/issues/825#issuecomment-498054909)

[2019-06-02 19:44] #1259 closed

[2019-06-02 19:45] michael-grunder commented on #1136
Closing this issue.  Reopen it if you're still having issues.

[2019-06-02 19:45] #1136 closed

[2019-06-02 19:55] michael-grunder commented on #1373
This will for sure be in 5.0.0, but I don't know exactly when we're going to release it.

Neither myself or @yatsukhnenko use Redis cluster in production so it would be awesome if those looking for the feature would make sure it's working well.

In a simple benchmark I'm seeing a 5x performance increase by using slot caching and persistent connections.

[2019-06-02 20:39] michael-grunder commented on #1333
I'm going to close this issue since it's over a year old with no activity.  Hopefully it's not an issue for anyone at this point.

[2019-06-02 20:39] #1333 closed

[2019-06-02 20:40] michael-grunder commented on #1389
Closing this issue since it seems to have magically fixed itself.  Please reopen if it's not actually resolved.

[2019-06-02 20:40] #1389 closed

[2019-06-02 20:44] michael-grunder commented on #943
This has been fixed via 5cb30fb2a65abc9d31ff58af6da0fbb6be4ec153.

You can now do something like this:

[code]

[2019-06-02 20:44] #943 closed

[2019-06-02 23:39] #1141 closed

[2019-06-02 23:40] michael-grunder commented on #1133
This has been implemented and will be released in 5.0.0

[2019-06-02 23:40] #1133 closed

[2019-06-02 23:41] michael-grunder commented on #1328
Closing this issue, since I think it's answered.

[2019-06-02 23:41] #1328 closed

[2019-06-02 23:43] michael-grunder commented on #868
Closing this in favor of #876 although I'm not sure what the actual right solution should be.

[2019-06-02 23:43] #868 closed

[2019-06-02 23:45] michael-grunder commented on #1268
I'm going to close this issue, because I don't plan on adding `DELETE` (or any other non redis commands) to the RedisCluster object.

[2019-06-02 23:45] #1268 closed

[2019-06-02 23:51] michael-grunder commented on #1201
I'm going to close this issue since pooling has been released, and slot caching has been implemented and documented.

TL;DR:  Yes, you can do connection pooling (and slot caching) with RedisCluster.

[2019-06-02 23:51] #1201 closed

[2019-06-03 00:05] michael-grunder commented on #1456
I can't replicate this, at least not in Linux.  Phpredis throws an exception every time (specifically `Connection lost`)

[2019-06-03 00:24] Rudigern commented on #1268
I don't think adding delete should be done however this isn't documented as far as I can tell. Shouldn't `DELETE` be deprecated and just move to a consistent `del` as it aligns to Redis?

[2019-06-03 00:44] #1555 closed

[2019-06-03 01:22] RobbieLePommie commented on #1555
@michael-grunder - Thanks for addressing - it will help with migration and compatibility moving forward.

[2019-06-03 12:18] pimfeltkamp commented on #1557
We also get segementation errors, maybe this info helps in resolving the issue.

We get the following error on initiating the RedisCluser class:
``` [Mon Jun 03 12:06:54.382487 2019] [core:notice] [pid 27627] AH00052: child pid 27659 exit signal Segmentation fault (11) ```

Code:
[code]

Info:
PHP-redis version: 4.3.0 installed with PECL
PHP version: 7.1.28
OS: Amazon Linux
Apache version: 2.4.39

[2019-06-03 13:15] facholli opened #1567 "How can i connect to amazon redis cluster"
### Expected behaviour
I have a cluster with 2 shards created on ElasticCache in aws and I want to connect using RedisCluster.

This is the command i use on my code:

$this->cache = new RedisCluster(NULL, Array("Configuration Endpoint"), 1.5, true);

Where is written "Configuration Endpoint" I use the Configuration Endpoint provided by the ElasticCache Cluster

### Actual behaviour

This is the me

[2019-06-03 16:04] yatsukhnenko commented on #1563
Merged

[2019-06-03 16:04] #1563 closed

[2019-06-03 18:51] michael-grunder commented on #1560
I've pushed an initial commit of the new logic.  Essentially I've changed the function such that `COUNT` and `BLOCK` can now be sent as `NULL`.

This is a small breaking chance since I've modified how the function works to return immediately if the user passes `-1` to either count or block.

@yatsukhnenko What do you think.

[2019-06-03 19:13] michael-grunder commented on #1567
Hi,

I haven't ever used ElastiCache (or AWS for that matter), so I'm not sure whether I can really help.

That said, after reading through [some of their documentation](https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/GettingStarted.ConnectToCacheNode.html) it would appear that Redis Cluster is "normal" in AWS.

So the first thing I would try to do is connect to the cluster via `redis-

[2019-06-04 12:02] facholli commented on #1567
Thx man :+1:

[2019-06-04 16:36] radykal-com opened #1568 "Connection pooling not reusing connections to the slaves"
Hi, we are testing  the new connection pooling in order to better manage the number of connections to our Redis Cluster nodes and we are seeing some weird behaviour.

### Expected behaviour
Connection pooling reuses existing idle connections to Redis without creating new ones to slave nodes when distributing reads

### Actual behaviour
Connections are **reused among the masters but not among the s

[2019-06-04 17:39] michael-grunder commented on #1567
No problem.  Let me know if that ends up helping.  It might be a good idea to write a little test script to help diagnose issues like this.

[2019-06-04 19:05] michael-grunder commented on #1568
Thanks for the report.  Perhaps I'm not passing the persistent flag along when distributing commands to the slaves.  I'll see what I can find out.

[2019-06-04 19:54] yatsukhnenko commented on #1560
@michael-grunder looks good to me :+1:

[2019-06-04 20:37] #1560 closed

[2019-06-04 20:39] michael-grunder commented on #1560
This has been merged into develop.

@alexander-schranz Thanks again for the report and let us know if this change works on your end.

[2019-06-05 05:00] michael-grunder commented on #1568
I've pushed a commit that appears to solve this issue but I want to do more robust testing before merging it.  Essentially connections are stashed via `redis_sock_disconnect` which was never being explicitly called on cluster slave connections.

[2019-06-05 09:14] radykal-com commented on #1568
Hello!

Thanks you so much for so fast fix. I've been testing the commit and it seems to be working fine now.
Gonna do a more in deep testing of the connection pool as there is no much documentation about it.

[2019-06-05 09:49] pimfeltkamp commented on #1567
Hi,

I also use ElastiCache Redis Cluster. I do not use the configuration endpoint, but I add all my nodes with the following code:

[code]

Hopefully that helps...

[2019-06-05 13:01] facholli commented on #1567
I tried it your way pimfeltkamp but i keep receiving the message:
'Couldn't map cluster keyspace using any provided seed'

This is my nodes:

$nodes = [
      'infra-main-redis-0001-001.0001.usw2.cache.amazonaws.com:6379',
      'infra-main-redis-0002-001.0001.usw2.cache.amazonaws.com:6379'
];

$redis = new RedisCluster(NULL, $nodes, 3, 3);

When i try to connect separately everything goes well:

[2019-06-05 16:30] michael-grunder commented on #1567
I wrote a [quick script](https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401) that might give us some information.

It uses the normal Redis object to attempt to scan through the keyspace and check various things.  Should be simple to run (no need to pass `--auth` if you aren't using passwords):

[code]

[2019-06-05 17:33] michael-grunder commented on #1546
Without more information we can't really fix this issue.

@BoltUser Feel free to reopen the issue if you can post a small program so we can reproduce the problem.

[2019-06-05 17:33] #1546 closed

[2019-06-05 17:35] michael-grunder commented on #1557
Thanks @pimfeltkamp I will try that code but don't think it's likely something so simple is going to crash on a local instance.

[2019-06-05 19:02] michael-grunder commented on #1471
It looks like i386 is no longer supported:

Let us know if you're still facing the issue, but I don't think this is a bug in phpredis but rather just the fact that i386 isn't supported anymore with [Xcode 10](https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes)

Specifically:

[2019-06-05 19:02] #1471 closed

[2019-06-05 19:03] michael-grunder commented on #1318
Closing the issue as it seems to have been resolved.

[2019-06-05 19:03] #1318 closed

[2019-06-05 19:37] michael-grunder commented on #1480
Sorry, none of us use Windows so I can't really help.  You might have better luck somewhere like StackOverflow.

[2019-06-05 22:45] michael-grunder commented on #1373
I think we can close this issue since connection pooling and slot caching are both merged into the main branch and will be released in 5.0.0 (which @yatsukhnenko and I are coordinating now).

[2019-06-05 22:45] #1373 closed

[2019-06-06 06:48] yatsukhnenko commented on #1314
I'm closing this issue since there is no more comments so it works as expected :smile:
Feel free to open new issues if you have any questions about phpredis.

[2019-06-06 06:48] #1314 closed

[2019-06-06 16:38] michael-grunder opened #1571 "5.0.0 release and breaking changes."
This issue is to track the major changes left to be done before we release 5.0.0 and specifically with respect to some proposed breaking changes.

Changes left for 5.0.0:

- [x] #1568 - Ensure we also recycle slave connections with pooling.
- [x] #1559 - Update XINFO to output a nicer format
- [x] #1168 - Deprecation of various helpers (e.g. `sortAsc`, `sortAlphaAsc`).

Please let us know if remov

[2019-06-06 22:35] AgnisLV commented on #809
This may only apply to Fedora/Centos/RedHat systems, please reference
https://serverfault.com/questions/463993/nginx-unix-domain-socket-error/464025#464025

[ excerpt ]
You can't place sockets intended for interprocess communication in /tmp.
For security reasons, recent versions of Fedora use namespaced temporary directories, meaning every service sees a completely different /tmp and can only see

[2019-06-07 00:59] #1480 closed

[2019-06-07 14:23] gearhead commented on #809
I did not write back, but was able to resolve my issue by this exact method. I moved redis.sock from /tmp to /run and all functionality was restored.

[2019-06-10 06:36] egege opened #1573 "lRange method bug? OR document errors？"
### Expected behaviour
$redis->rPush('key1', 'A');
$redis->rPush('key1', 'B');
$redis->rPush('key1', 'C');
$redis->lRange('key1', 0, -1); /* ['A', 'B', 'C'] */

### Actual behaviour
['A', 'B']
$redis->lRange('key1', 0, 0); /* ['A', 'B', 'C'] */

### I'm seeing this behaviour on
- OS:  Linux version 3.10.0-693.17.1.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc

[2019-06-10 08:24] #1573 closed

[2019-06-10 08:29] egege commented on #1573
sorry,my fault.I don't know my project somebody overload this method

[2019-06-10 17:15] devrck commented on #1564
@yatsukhnenko is there plan for supporting sentinel?

[2019-06-10 17:24] devrck commented on #449
Would like to see this resurrected. :smile:

[2019-06-10 17:50] yatsukhnenko commented on #1564
@devrck probably yes :) I've already added PR to milestone

[2019-06-11 12:01] yatsukhnenko commented on #1168
@michael-grunder nobody cares about this methods, let's remove them completely :smile:

[2019-06-11 15:05] michael-grunder commented on #1168
I'd love to do it, but the moment we do we're going to get a lot of angry users.  🤣

[2019-06-12 04:43] yatsukhnenko commented on #1168
That methods are not documented. We just may say that we haven't even seen them 🤣

[2019-06-12 09:30] yatsukhnenko commented on #1559
New format will be
xInfo groups
[code]
xInfo stream
[code]
This is not exactly the same as @alexander-schranz requested but it is much better than previous :)

[2019-06-12 11:17] rakshazi commented on #1522
Same question here

[2019-06-12 11:35] yatsukhnenko commented on #1522
Unfortunately right now there is no way to disable reconnection mechanism

[2019-06-13 08:29] yatsukhnenko commented on #1559
Fix merged into `develop`

[2019-06-13 08:29] #1559 closed

[2019-06-13 08:31] alexander-schranz commented on #1559
@yatsukhnenko is a lot better as the previous, thank you!

[2019-06-13 08:36] yatsukhnenko commented on #1168
@michael-grunder  what do you think about throwing E_DEPRECATED error in this methods and removing them in next major release?

[2019-06-13 18:17] radykal-com commented on #1418
Hello,

after some research, this issue describes pretty well the bug we are seeing in our production environment:

- OS: Ubuntu
- Redis: 5
- PHP: 7.2
- phpredis: 4.2.0

For some reason, we are reading wrong data sometimes, we ask for key "a" with a specific data structure and are getting back the value from another key with another data.

With a very fast pooling testing script we are always gett

[2019-06-13 18:28] yatsukhnenko commented on #1418
@radykal-com connection pooling was implemented in 4.3.0

[2019-06-13 19:29] radykal-com commented on #1418
But AFAIK this issue has nothing to do with connection pooling. Or is it? Persistent connections should return the right value or just crash, getting wrong data is so weird.

[2019-06-13 20:20] yatsukhnenko commented on #1418
No time to explain :smile:
All problems with persistent connections and wrong data caused by how PHP engine shares persistent resources between objects and how phpredis handle this.

[2019-06-13 20:47] radykal-com commented on #1418
Hehehe thanks you, then with 4.3.0 is it fixed? Only when connection pools are enabled?

Thanks

[2019-06-14 10:31] radykal-com commented on #1568
We are using a custom build with the fix in production and is working as expected

[2019-06-15 17:42] #1568 closed

[2019-06-16 13:12] radykal-com commented on #1418
Hi again,

We are using version 4.3.0 (with connection pools enabled) for two days and we are still getting wrong data randomly.

Is there any way we could debug what is causing the problem?

[2019-06-16 23:00] michael-grunder commented on #1168
I went through and marked all of the commands that don't actually exist in Redis as deprecated.  They'll still work but be annoying to call (which is kind of the point).

[2019-06-17 08:56] egege opened #1576 "support RedisBloom plug-in?"
### English
I don't see php client in this page https://github.com/RedisBloom
Has this been supported yet?If did ,where is the document?

### 中文
我没有在此页面见到支持php客户端  https://github.com/RedisBloom
这个过滤器拓展已经支持了吗？是的话，文档在哪里呢

[2019-06-17 11:54] furester commented on #1567
Hi,

i currently use RedisCluster-ElastiCache in my php script and maintain a quick silex-provider for connecting ([ silex-php-redis/src/SilexPhpRedis/RedisClientProvider.php ](https://github.com/furester/silex-php-redis/blob/cluster-support/src/SilexPhpRedis/RedisClientProvider.php)).

Some hints:
1. use "Configuration Endpoint" from main Redis Cluster list with port, put it in an array and pass

[2019-06-17 15:21] michael-grunder commented on #1576
We don't support it specifically but you can always call arbitrary Redis commands with `rawCommand`

[2019-06-17 19:18] yatsukhnenko commented on #1571
@michael-grunder all issues are resolved. Is it time to prepare 5.0.0RC1?

[2019-06-18 21:05] radykal-com commented on #1310
Under high load we seeing this same error randomly when creating the `RedisCluster` object, like multiple times in the same second. Is there any way to debug it to know what is going on? If its a timeout or whatever

[2019-06-19 18:54] michael-grunder commented on #1576
I'm going to close this issue since we have no plans to support it directly, but feel free to open an issue (or post here) if you need help using it via `rawCommand`.

[2019-06-19 18:54] #1576 closed

[2019-06-19 18:55] michael-grunder commented on #1567
@facholli Did the answer from @furester help you get it working?

[2019-06-20 10:12] yatsukhnenko commented on #1571
https://pecl.php.net/package/redis/5.0.0RC1

[2019-06-20 10:12] #1571 closed

[2019-06-20 10:25] egege commented on #1576
thank

[2019-06-20 10:25] egege commented on #1576
thanks

[2019-06-20 12:35] remicollet opened #1577 "[5.0.0RC1] bad command in config.m4"
[code]

[2019-06-20 13:13] remicollet commented on #1577
IMHO this version check have no real value...

BTW, probably a check for JSON extension is needed, as some may build without it.

[2019-06-20 13:43] yatsukhnenko commented on #1577
Thanks @remicollet
Could you give me an advice how to correctly check version of external lib?

[2019-06-20 14:18] yatsukhnenko commented on #1577
OK, I'll add

[2019-06-20 14:26] remicollet commented on #1577
Sorry, no idea for a clean way

[2019-06-20 14:29] yatsukhnenko commented on #1577
I think I'll just remove that checking. It is not business of phpredis which version of libs installed in the system :)

[2019-06-20 23:19] michael-grunder commented on #1577
Hi @yatsukhnenko and @remicollet

What do you guys think about a simple grep solution like f0d3231?  It's not particularly robust but it does appear to work on my machine.  I worry a lot of users will be confused if it passes configure and then fails to compile.

Open to other suggestions of course.

[2019-06-21 04:47] yatsukhnenko commented on #1577
@michael-grunder there is a note in INSTALL.markdown about minimum required version

[2019-06-21 06:47] yatsukhnenko commented on #1577
@michael-grunder I've added checking msgpack version for testing PHP5 and PHP7 builds on travis. Now this check is unnecessary.

[2019-06-21 19:59] yatsukhnenko commented on #1577
@remicollet could you test the latest changes from `develop` branch?

[2019-06-24 02:18] michael-grunder commented on #1567
I'm going to close this issue because there doesn't seem to be a bug in phpredis preventing connection to AWS redis cluster instances.  I'm still happy to help troubleshoot though with more information.

[2019-06-24 02:18] #1567 closed

[2019-06-24 14:03] yatsukhnenko commented on #1168
This change is a part of upcoming 5.0.0

[2019-06-24 14:03] #1168 closed

[2019-06-25 06:13] remicollet commented on #1577
LGTM

[2019-06-25 09:33] furester commented on #1533
@Thomas-1985 if you are connecting to a cluster of Redis you could use
[code]
(you have to concat $host and $port params of your connection and put them in an array).
while with plain Redis you use:
[code]
there is also a RedisArray class if you have an other 'cluster' configuration.

If you need some code samples you could find it here:
[furester/silex-php-redis](https://github.com/furester/silex

[2019-06-25 17:43] michael-grunder commented on #1533
I wrote a small [utility script](https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401) that may be helpful in diagnosing the issue you're having.

It's going to be hard to find a solution without more information.

[2019-06-25 20:41] yatsukhnenko commented on #1577
Fixed in 5.0.0RC2

[2019-06-25 20:41] #1577 closed

[2019-06-26 07:10] sowhaton opened #1581 "php use Pipline mode ==redis cluster"
### I'm seeing this behaviour on
- OS:  Debian 4.9.88
- Redis:  AWS ElastiCache redis 4.0.10
- PHP:  php7
- phpredis:  4.0.9

Hi:
   I used   AWS ElastiCache redis 4.0.10   and started on cluster mode,  and my php redis  used    pipline mode to connect redis and do  hget  command, then I find   some redirect  notice and failed get  data from  redis cluster server .
  My question is  whether  phpre

[2019-06-26 07:13] yatsukhnenko commented on #1581
https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#pipelining

[2019-06-26 07:23] sowhaton commented on #1581
Thanks

[2019-06-26 07:25] sowhaton commented on #1581
@yatsukhnenko   Thanks,I see it.

[2019-06-27 11:19] Lunteer commented on #1520
Just for future reference if anyone wants to know but it seems like the conflicts have been solved and now you can install using `yum install php-pecl-redis`

[2019-06-28 13:43] saurabh-gohil opened #1585 "protocol error, got 'W' as reply type byte"
I am getting following error and I can't seem to find the solution for it.

[code]
Please help me and let me know if more information is required.

### I'm seeing this behaviour on
- OS: CentOS Linux release 7.2.1511
- Redis: 5.0.3
- PHP: PHP 7.0.18
- phpredis: 4.2.0

### I've checked
- [x] There is no similar issue from other users

[2019-06-28 20:32] donatj opened #1586 "Feature Request: Redis + Redis Array - Shared Interface?"
`\Redis` and `\RedisArray` share a lot of methods, but afaik they neither extend nor implement a shared interface.

Would it be possible to add a shared interface?

The PHPStorm stub shows it documented as a mixin

https://github.com/JetBrains/phpstorm-stubs/blob/6c7fa404b00158c887d36cc5a2cb97c901a35c0a/redis/Redis.php#L3548-L3550

### I've checked
- [x] There is no similar issue from other users

[2019-07-01 20:32] michael-grunder commented on #1585
Hi @saurabh-gohil,

The `protocol error, got '<char>' as reply type byte` is something that typically happens if PhpRedis gets out of sync with Redis for some reason.

Most commonly it happens when people are using persistent connections and experience a timeout or other such errror.  Then, when PhpRedis attempts to use the connection again, it's already in the middle of a reply causing the protoc

[2019-07-02 12:47] vngrp opened #1587 "Unable to connect on new pecl version 5.0.0"
### Expected behaviour
Pecl redis 5.0.0 can connect to redis 3.2.12

### Actual behaviour
From 5.0.0 I'm unable to connect. It gives the error:
[code]

A service that connects with it:
[code]

### I'm seeing this behaviour on
- OS: MacOS Mojave (10.14.5)
- Redis: 3.2.12
- PHP: 7.3.6
- phpredis: 5.0.0

### Steps to reproduce, backtrace or example script
install using:
[code]

works when using
[code

[2019-07-02 13:33] yatsukhnenko commented on #1587
@vngrp you are right, this information is not enough to resolve a problem.

This doesn't refer `phpredis` in any way.

[2019-07-02 14:10] remicollet commented on #1587
I just run a quick test:

- Fedora 29
- Redis 3.2.12
- PHP 7.2.20
- Phpredis 5.0.0

`All tests passed. \o/`

[2019-07-02 14:15] vngrp commented on #1587
Thank you for your quick reactions @yatsukhnenko and @remicollet, nice it works for you. Will gather more information and get back to you when I have a more complete sense of the problem. Thanks for the quick communication

[2019-07-02 14:15] #1587 closed

[2019-07-04 08:39] senson2018 opened #1589 "php7.1.30 undefined symbol"
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/redis.so' - /usr/lib64/php/modules/redis.so: undefined symbol: php_json_decode_ex in Unknown on line 0

[2019-07-04 09:29] remicollet commented on #1589
redis extension must be loaded "AFTER" json extension.

This is related to Linux distribution packaging (which alter the way PHP load extensions, for security purpose)

So if you are using distribution packages for PHP, you should also use distributions packages for extensions ;)

Which distro ? which packages providers ?

[2019-07-04 21:30] tessus commented on #1333
@michael-grunder right, but now the same thing happened. PECL mentions (_This release contains important improvements and breaking changes._) that version 5.0.0 has breaking changes, but it is not explained what will break.

I understand that writing documentation sucks, but especially for breaking changes it is important to know what they are.
Can you please add a section what the breaking change

[2019-07-05 02:16] michael-grunder commented on #1333
The breaking changes in 5.0.0 aren't likely to cause too many issues.  I think the `XREADGROUP` change is the most _breaking_ whereas the other changes are essentially backward compatible.

[We just merged a Changelog](https://github.com/phpredis/phpredis/blob/develop/Changelog.md) where we'll make sure to document such things in the future.  We still want to make the changelog more complete but i

[2019-07-05 02:30] tessus commented on #1333
Thanks for the info.

I'm not sure we understand the same thing when it comes to the term breaking change.

- "ping can now take an argument" is not a breaking change, or will current code stop working?
- "RedisArray exception now includes host information"? Ok, additional info is displayed, but will it break current code?

A breaking change is something that WILL break current code. Or am I missi

[2019-07-05 03:01] michael-grunder commented on #1333
I'm just trying to be as conservative as possible so I suppose when I say breaking change I mean something that _might_ break your code.

Looking more closely I don't think PING is a breaking change after all.  In the past users have reported their code breaking because they used a wrapper around PhpRedis that used PHP's introspection mechanisms to verify arguments and types.

These are provided b

[2019-07-05 03:59] tessus commented on #1333
Ah, I see. Thank you for the explanation. See, when you wrote "exception now includes host information", I thought an additional exception had been added, not that a current exception text has been changed.

[2019-07-05 05:49] remicollet commented on #1333
In my repository, I'm used to track reflection of each extensions (output of **php --ri redis**)

See https://git.remirepo.net/cgit/rpms/php/pecl/php-pecl-redis5.git/diff/REFLECTION?id=22d845386efed534eba8fa540fc0256dd77b06db

[2019-07-05 06:13] roock commented on #1589
We are having the same issue on AWS Linux too. When installing phpredis with pecl, this error occurs since version 5.0.0. We had to downgrade to version 4.3.0
[code]

[2019-07-05 06:13] senson2018 commented on #1589
Thank you for your answer.
PHP is currently installed in this way =>rpm -Uvh https://mirror.webtatic.com/yum/el7/epel-release.rpm => rpm -Uvh https://mirror.webtatic.com/yum/el7/webtatic-release.rpm => yum install php71w !!!!!!!
And Redis extension => yum install php-devel => wget https://github.com/nicolasff/phpredis/archive/master.zip =>unzip master.zip => cd phpredis-master => phpize => ./confi

[2019-07-05 06:31] remicollet commented on #1589
webtatic seems to have `php-pecl-redis`  package, but the old version 3.16.

Perhaps you should consider a better provider for your PHP packages....

See: https://rpms.remirepo.net/ (and the Wizard)
Most of pecl extensions are available, of course with redis:

* **php-pecl-redis** provides v3.1.6
* **php-pecl-redis4** provides v4.3.0
* **php-pecl-redis5** provides v5.0.0

[2019-07-05 06:32] remicollet commented on #1589
You should never alter the php.ini !
Proper way is to create a /etc/php.d/xxx.ini for your need, and ensure this one is loaded after existing ones (especially the json one)

[2019-07-05 08:03] yatsukhnenko commented on #1333
And now this is a bug :smile:

[2019-07-05 09:52] senson2018 commented on #1589
OK. Thank you very much for your help.

[2019-07-05 12:24] zorro-fr24 opened #1591 "RedisCluster segfaults after second connection with cache_slots enabled"
### Expected behaviour

phpredis should be able to open a connection more than once without segfaulting with the slots cache enabled

### Actual behaviour

We are seeing a segfault occur on the second connection attempt. With php-cli we can reproduce by simply connecting twice to the same endpoint in a row ( see below ). With php-fpm behind nginx we see a SIGSEGV on the second http request to the

[2019-07-05 13:21] yatsukhnenko commented on #1591
@zorro-fr24 thank you for this report!

[2019-07-05 15:58] michael-grunder commented on #1333
Yes, it is now a bug! 😀

Not the worst bug in the world though.

[2019-07-05 16:07] tessus commented on #1333
Which means it will become a breaking change (according to your definition). Although IMO an optional parameter should never be breaking. If someone uses introspection - they have to deal with it. If I use a function `ping()` in my code and `ping(bla)` works all of a sudden, it will not break my code. Thus I do not consider this breaking. I believe in such cases it should be explained why and what

[2019-07-05 16:23] taylorotwell commented on #1591
Can confirm we also experienced this issue with a Laravel product.

[2019-07-05 16:52] michael-grunder commented on #1591
This should now be fixed in the develop branch.

[2019-07-05 18:11] michael-grunder commented on #1333
Yes, being very strict it would become a breaking change if we now change the arginfo, so we'll probably just have to leave it until the next major release.  The number of people that change is likely to affect is very low, but it's not zero.

I tend to agree with you but many of our users do not.  This is especially the case for users who use PhpRedis inside large companies, with all kinds of bur

[2019-07-05 18:25] tessus commented on #1333
Thanks again for your reply.

Don't get me wrong, I'm not saying that I have an issue with breaking changes. I know they are necessary and usually help the product to become an even better one.

My only hope is that these changes are properly documented. They can be classified as breaking as long as the explanation tells me what exactly they break.

Going back to my ping example, as long as it it

[2019-07-08 11:41] dvzrv opened #1593 "Unable to run tests during packaging, when building against igbinary"
### Expected behaviour
Tests are being run successfully, using the system version of igbinary, when running `make -k test`.

### Actual behaviour

[code]

### I'm seeing this behaviour on
- OS: Arch Linux
- Redis: 5.0.5
- PHP: 7.3.7
- phpredis: 5.0.0

### Steps to reproduce, backtrace or example script
Currently I'm packaging php-redis for Arch Linux.
I would like to be able to run the test suite

[2019-07-08 11:51] remicollet commented on #1593
igbinary must be loaded "before" redis extension

Working script:

[code]

[2019-07-08 15:17] dvzrv commented on #1593
@remicollet thanks for getting back to me so fast.

After doing:

[code]

(ignore the variables, they denote the location of the build directory, etc.)

I got:

[code]

May I assume, that running `make -k test` is void?

Running it the way you suggested only leaves me with a lot of failed tests, because the required redis instances were not started.

Looking at the travis setup, I can see, that [i

[2019-07-08 19:41] michael-grunder commented on #1591
@zorro-fr24 Are you able to verify that the fix works on your end.  We probably want to get 5.0.1 out soon since this bug crashes phpredis.

[2019-07-08 19:44] #1589 closed

[2019-07-08 20:19] michael-grunder commented on #1589
@remicollet I can't remember if I've asked this before, but would you like me to add you to the project?

No pressure to do anything but it would let you close/categorize issues and submit PR's directly to the repo.

[2019-07-09 03:35] changchun456 opened #1594 "php-redis 3.1.6 expire ttl -1 not worked"
### Expected behaviour
cli expire ttl set -1 is ok，but phpredis expire ttl set -1 is not worked
### Actual behaviour

### I'm seeing this behaviour on
- OS: centos
- Redis:3.2.10
- PHP:5.6.36
- phpredis:3.1.6

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-07-09 04:33] remicollet commented on #1593
This package don't use "make test" and (for other extensions, using the PHP_* env you can't use it, have to run "run-tests.php' directly).

Indeed, you have to launch the servers before running the test.

[2019-07-09 04:56] remicollet commented on #1593
Here is the script we use in Fedora for this extension

https://src.fedoraproject.org/rpms/php-pecl-redis5/blob/master/f/php-pecl-redis5.spec#_211

[2019-07-09 05:04] michael-grunder commented on #1594
Could you provide a small example script that replicates the issue?

I'm not seeing a problem either in develop or php-redis 3.1.6.

[code]

[code]

And under redis-cli monitor:
[code]

[2019-07-09 05:12] remicollet commented on #1589
@michael-grunder that's fine for me

[2019-07-09 07:02] zorro-fr24 commented on #1591
Apologies, I was planning to test it directly, but I went on a poorly timed vacation ;)

I was able to login and compile the latest develop in our test environment and I am no longer seeing segfaults. Our applications seem to run/pass tests etc.

Thanks for the quick fix!

[2019-07-09 14:12] yatsukhnenko commented on #1593
"Canonical" way is described in [documentation](https://github.com/phpredis/phpredis#running-the-unit-tests) :smile:

[2019-07-10 16:47] suxianbaozi opened #1597 "Get 502 some times after update phpredis from 3.0 to 5.0"
check log   got this

child 23154 exited on signal 11 (SIGSEGV) after 5.543784 seconds from start

i think this maybe caused by redis_cluster

### I'm seeing this behaviour on
- OS: centos 7
- Redis:4.0
- PHP:7.0.6
- phpredis:5.0.0

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-07-10 16:47] suxianbaozi opened #1598 "Get 502 some times after update phpredis from 3.0 to 5.0"
check log   got this

child 23154 exited on signal 11 (SIGSEGV) after 5.543784 seconds from start

i think this maybe caused by redis_cluster

### I'm seeing this behaviour on
- OS: centos 7
- Redis:4.0
- PHP:7.0.6
- phpredis:5.0.0

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2019-07-10 17:31] dvzrv commented on #1593
@yatsukhnenko Thanks for the hint! Unfortunately, that introduces more problems, than it solves (e.g. when looking at `tests/mkring.sh`):
[tempfile](https://github.com/phpredis/phpredis/blob/develop/tests/mkring.sh#L9) is a non-standard executable, and the [kill after shutdown of redis makes the script exit with exit code == 1](https://github.com/phpredis/phpredis/blob/develop/tests/mkring.sh#L23)

[2019-07-10 17:40] dvzrv commented on #1593
And `tests/make-cluster.sh` [is dependant on a (very long) external script](https://github.com/phpredis/phpredis/blob/develop/tests/make-cluster.sh#L92).
For packaging environments that's not great.

[2019-07-10 18:30] yatsukhnenko commented on #1598
Could you provide additional information?

[2019-07-10 18:46] yatsukhnenko commented on #1593
@dvzrv have you looked at https://github.com/phpredis/phpredis/blob/develop/.travis.yml?

[2019-07-10 19:17] michael-grunder commented on #1598
Are you using slot caching?  If so, this is a known bug [that has been fixed](https://github.com/phpredis/phpredis/blob/develop/Changelog.md#fixed)

[2019-07-10 20:16] dvzrv commented on #1593
@yatsukhnenko yes, of course. That's why I'm confused, about what the canonical way of doing it is. ;-)

Either scripts should be included to be able to run tests without downloading third party scripts, or the documentation needs to be updated to reflect this.
Either way, will fix `tests/mkring.sh` tomorrow and will skip the cluster test for now.

I was able to run (some of) the tests, after appl

[2019-07-11 07:04] yatsukhnenko commented on #1593
@dvzrv I don't like how that shell scripts written and that why I didn't use them while integration with TravisCI. They haven't ever worked for me and I didn't have any desire to deal with them :)

To run the tests you just need to execute `php tests/TestRedis.php --class Redis|RedisArray|RedisCluster`
The way how to start redis server is at your discretion.

I'm not sure it is really necessary to

[2019-07-11 13:10] yatsukhnenko commented on #1597
Duplicate #1598

[2019-07-11 13:10] #1597 closed

[2019-07-11 14:39] toleRB opened #1599 "BZPOPMAX/BZPOPMIN"
Not sure if I'm missing something, but are BZPOMAX and BZPOPMIN available?

Thanks.

[2019-07-11 15:37] michael-grunder commented on #1599
Yes, both commands are implemented but it looks like we don't have docs for them!

[These tests should help with how to call them](https://github.com/phpredis/phpredis/blob/5b11e9a398569fb9d699bcacea034a5706b7d932/tests/RedisTest.php#L2427)

[2019-07-11 15:50] toleRB commented on #1599
Thanks. For some reason, the PHPStorm doesn't give me the option either. I'll follow the link that you sent me. Thanks again.

[2019-07-11 17:30] yatsukhnenko commented on #974
Old issue without any activity for a long time. Feel free to open new issues if you have any questions about phpredis.

[2019-07-11 17:30] #974 closed

[2019-07-11 17:32] yatsukhnenko commented on #1084
Old issue without any activity for a long time. Feel free to open new issues if you have any questions about phpredis.

[2019-07-11 17:32] #1084 closed

[2019-07-11 17:33] yatsukhnenko commented on #1322
Old issue without any activity for a long time. Feel free to open new issues if you have any questions about phpredis.

[2019-07-11 17:33] #1322 closed

[2019-07-11 17:54] dvzrv commented on #1593
In consequence it would be best to delete them then, but:

A (working) script at least (ideally) gives the possibility to be flexible and choose, what one wants to do, without reinventing the wheel.
In any case: I can provide a fix for `tests/mkring.sh`, so that it works better and can be more flexible.
It will enable running TestRedis.php --class Redis{,Array} with it.

The tests in the PKGBUILD

[2019-07-11 20:24] bluemmb opened #1600 "SSL/TLS with certification file"
### Expected behaviour
Connect to encrypted connection with certification file

### Actual behaviour
--

### I'm seeing this behaviour on
- OS: *
- Redis: *
- PHP: *
- phpredis: *

### Steps to reproduce, backtrace or example script
--

I can see that connecting to encrypted connections is discussed and supported here #1314 and #1561, but still i don't know how to set the certification file path t

[2019-07-12 01:40] #1598 closed

[2019-07-12 06:26] yatsukhnenko commented on #1600
@bluemmb unfortunately there is no way to do this right now.

[2019-07-12 06:28] yatsukhnenko commented on #1591
We released 5.0.1 with the fix of this issue. Thank again to @zorro-fr24 for detailed report which allowed quickly fix this critical bug :

[2019-07-12 06:36] yatsukhnenko commented on #1593
Sounds good. This definitely will be useful for other users.

OK, then running tests is a good idea and to not reinvent the wheel you may look at build script provided by Remi :)

[2019-07-12 07:54] bluemmb commented on #1600
@yatsukhnenko Thanks for the answer and the great work you have done on this repository.

I have written an app and put it on the ibm cloud for my client. Because this plugin lacks this feature I had to go with predis. It is also very good library but latency of cloud network (~ 0.9ms) + overhead of the plain php code causes an undesirable latency for using Redis ( as I am testing things since the

[2019-07-12 09:51] yatsukhnenko commented on #1600
We use PHP stream wrapper so you may try to find default parameters somewhere in sources of PHP-engine.

It would be great to add ability to manage parameters of ssl/tls connections. We need to path them into `redis_sock_connect` in some way (as arguments or via INI variables) and handle whule creating connection.
I thought that we need to rewrite `connect` to handle array of parameters but @micha

[2019-07-13 18:32] michael-grunder commented on #1599
I've added documentation for these via 28e84d0094000994bccec4fb7be62ca3132c0b75.

[2019-07-13 18:32] #1599 closed

[2019-07-13 18:33] michael-grunder commented on #1594
I'm going to close this issue since we can't be helpful without more information.  Feel free to reopen with some example code if this isn't solved for you.

[2019-07-13 18:33] #1594 closed

[2019-07-15 14:15] kalmykov commented on #1591
Hi guys - we are still experiencing some problems with cache_slots enabled. The problems we are seeing currently: number of redis connections grows indefinitely, and we are seeing random SIGABRT in php-fpm logs.

When trying to run same test script as in issue description (under same environment except that now we run phpredis 5.0.1), we see segmentation fault:

`GNU gdb (GDB) Red Hat Enterprise L

[2019-07-15 15:00] yatsukhnenko commented on #1591
[code]
@kalmykov could you try to apply this path and test?

[2019-07-15 15:11] michael-grunder commented on #1591
Hi, @kalmykov Let us know if this solves your issue.

II'll see if there's a simple way to add automatic tests that do things like use the connection pool and cluster cache across multiple connections.  Right now all of our tests are via cli which makes bugs like this less likely to present themselves.

[2019-07-15 21:27] michael-grunder commented on #1591
A bit more info for everybody.

I've been running the RedisCluster unit tests under php-fpm all day and no longer see any crashes with @yatsukhnenko's patch applied.  Without the patch I see the exact same `SIGABRT` problem.

I'm going to keep the tests running for a while to make sure we don't see any other issues.

[2019-07-16 07:39] yatsukhnenko commented on #1591
Ping @kalmykov, @zorro-fr24

[2019-07-16 09:30] kalmykov commented on #1591
unfortunately I still see same almost the segmentation fault when running example from issue description. There is small difference in backtrace though (new is on the right side):
![Screenshot 2019-07-16 11 28 25](https://user-images.githubusercontent.com/888486/61283202-08372500-a7bd-11e9-8beb-c59ef3dc99a3.png)

[2019-07-16 10:00] yatsukhnenko commented on #1591
Are you sure you have applied the patch? :smile:

[2019-07-16 10:50] kalmykov commented on #1591
Yes, I suspected that as well 😄 On my local machine (OSX) I stopped getting this error, but not on our web servers. Here is what git diff says:
[code]

After that in phpredis dir I executed:
[code]

If I run `echo(phpversion("redis"));` I get `5.1.0-cluster-cache-patch`. But I still get segmentation fault when running example 🤔 Its like I am missing something

[2019-07-16 11:18] yatsukhnenko commented on #1591
Have you restarted php-fpm?

[2019-07-16 11:21] toleRB commented on #1599
@michael-grunder sorry to keep asking, but I've followed the example of the test but it doesn't work. This is my test code:

[code]

And this is the output:

This is the relevant output from redis info:

Am I missing something?

Thanks.

[2019-07-16 11:26] kalmykov commented on #1591
Yes, however I am running php-cli so I don't think it makes a difference

[2019-07-16 11:34] yatsukhnenko commented on #1599
@toleRB which version of phpredis do you use?

[2019-07-16 11:38] toleRB commented on #1599
The one on Debian 9.9:

[2019-07-16 12:10] yatsukhnenko commented on #1599
3.1.1 is too old :) This methods were [added](https://github.com/phpredis/phpredis/blob/develop/Changelog.md#added-2) in 4.3.0

[2019-07-16 12:20] toleRB commented on #1599
I was gonna said that just tested this version:

[code]

And it doesn't work, but you just said 4.3 I'll find out how to update it on Debian.

Thanks.

[2019-07-16 12:37] toleRB commented on #1599
I installed version 5.0.1 from PECL and it works.

Not sure why Debian is still working with a version from 2017.

Thanks guys.

[2019-07-16 14:39] michael-grunder commented on #1591
I'll see if I can get it to break in a CentOS docker environment.

And just to be clear, you're able to segfault redis by just running that three line script above?  Theoretically that should make it much simpler to fix once we can replicate the issue.

[2019-07-16 15:07] kalmykov commented on #1591
If I run a script in cli, I get segfault in ~80%. If I run it through gdb I get segfault all the time

[2019-07-16 17:48] michael-grunder commented on #1591
Awesome, thanks for the info.  We actually had a recent issue on production that only presented itself under CentOS, so hopefully it's as simple as running it there.

Are you on the most current patch of CentOS 7 (1810 I think)?

[2019-07-16 17:52] kalmykov commented on #1591
yes: `centos-release-7-6.1810.2.el7.centos.x86_64`

[2019-07-17 00:31] michael-grunder commented on #1591
Hi @kalmykov I've pushed a fix that incorporates @yatsukhnenko's changes and one more correction.

This bug would've been detected if I had run the tests through valgrind as the double free was reported.  It's probably smart to add valgrind to the automatic testing for situations like this.

Hopefully this fixes the issue for you.

[2019-07-17 09:09] kalmykov commented on #1591
@michael-grunder @yatsukhnenko thanks a lot! I compiled extension from `issue.1591-segfault-redux` branch and I stopped getting any segfaults in both cli and fpm modes. I also been running extension on our production server for 2 hours and so far haven't seen any problems 🎉

[2019-07-18 02:54] michael-grunder commented on #1591
Glad to hear it!  I'll go ahead and close the issue but don't hesitate to let us know if you have any other issues.

[2019-07-18 02:54] #1591 closed

[2019-07-18 08:08] sergeycherepanov opened #1604 "Is php 7.4 supported?"
Hi!

I tried to build the extension for php 7.4 but failed with it

### Expected behaviour
Extension built successfully

### Actual behaviour
Error during make

[code]

### I'm seeing this behaviour on
- OS: MacOs
- Redis: -
- PHP: 7.4.0alpha3
- phpredis: develop (4c61678)

[2019-07-18 08:31] remicollet commented on #1604
Should have been fixed by https://github.com/phpredis//phpredis/commit/4d66e3d4

But looks like some are remaining

(BTW, build fine on linux...)

[2019-07-18 08:32] yatsukhnenko commented on #1604
For Information https://github.com/php/php-src/blob/PHP-7.4/UPGRADING.INTERNALS#L24

[2019-07-18 08:38] remicollet commented on #1604
See pr #1605

@sergeycherepanov  please try issue-ulong branch

[2019-07-18 12:58] yatsukhnenko commented on #1604
PR #1605 was merged into `develop`

[2019-07-18 15:00] bytecodedhawal opened #1606 "Which file need to include"
Hello
which file i need include it...
Can you help me out...
it will worked pusub, for real time application

### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2019-07-18 15:19] mensler opened #1607 "Redis cluster not considering host protocol for masters"
I'm connecting to an AWS ElastiCache Redis cluster using in-transit encryption (TLS) by adding the tls:// protocol to the host (see example below). I guess that the protocol is not taken into account when connecting to a node.

If I connect to a cluster without encryption it works as expected, it also works when connecting to an encrypted non-clustered Redis instance.

### Expected behaviour
Using