[2020-06-22 08:12] PrafullaKumarSahu opened #1792 ""phpredis" Clock skew detected. Your build may be incomplete"
### Expected behaviour
The build should be complete without any warning or error.
### Actual behaviour
The build is incomplete.
### I'm seeing this behaviour on
- OS:  UBuntu, Vagrant 2.2.9, Virtualbox 6.1.10, Homestead 10.0.0-beta
- Redis: 5.0.7
- PHP: 7.4.7
- phpredis: 5.2.2

### Steps to reproduce, backtrace or example script
1. git clone https://www.github.com/phpredis/phpredis.git
2. cd phpre

[2020-06-22 18:05] michael-grunder commented on #1792
This isn't a problem with phpredis but something wonky with your machine.

You could try something like this:

[code]

[2020-06-23 15:45] michael-grunder commented on #1792
I'm going to close this issue because it's not about PhpRedis but I'm happy to help if you have questions about building PhpRedis.

[2020-06-23 15:45] #1792 closed, assigned to nobody

[2020-06-23 15:46] #1690 closed

[2020-06-23 18:14] bharatiadkar commented on #1654
Hi,

I managed to install with the changed suggested above but redis lib does not load in the phpinfo.

Any help will be appreciated.
Thanks

[2020-06-23 18:32] michael-grunder commented on #1654
Are you sure you've got `extension=redis.so` in one of the `.ini` files PHP is loading?

You can see which ones are loading by doing:

[code]

Output should be something like this:

[code]

[2020-06-23 18:58] bharatiadkar commented on #1654
Hi,
Thanks for getting back so quickly.
Catalina has default php 7.3.11
php --ini

Configuration File (php.ini) Path: /etc
Loaded Configuration File:         /etc/php.ini
Scan for additional .ini files in: (none)
Additional .ini files parsed:      (none)

I changed /etc/apache2/httpd.conf to
LoadModule php7_module /usr/local/opt/php/lib/httpd/modules/libphp7.so
So phpinfo() show the PHP Version 7.

[2020-06-23 22:37] bharatiadkar commented on #1654
Hi,

I gave up on install this way I down loaded macport and install phpredis with macport and now I can see redis extension in phpinfo, and my test.php which just issue a ping commend to redis.

Thanks,

[2020-06-24 21:46] vizvayu commented on #1749
Absolutely! I prefer the approach Memcached is taking of returning null instead of false if the key is not found, but having a configurable option would be awesome. At the moment I have to call exists() before calling get() to retrieve values, because that's the only safe way to cache data that may include booleans, and that's pretty slow.

[2020-06-26 05:18] remicollet opened #1793 "[5.3.0RC1] undefined symbol LZ4_compress_HC"
When building with lz4 support

`PHP Warning:  PHP Startup: Unable to load dynamic library '/dev/shm/BUILDROOT/php-pecl-redis5-5.3.0~RC1-1.fc31.remi.7.3.x86_64/usr/lib64/php/modules/redis.so' (tried: /dev/shm/BUILDROOT/php-pecl-redis5-5.3.0~RC1-1.fc31.remi.7.3.x86_64/usr/lib64/php/modules/redis.so (/dev/shm/BUILDROOT/php-pecl-redis5-5.3.0~RC1-1.fc31.remi.7.3.x86_64/usr/lib64/php/modules/redis.so:

[2020-06-26 05:19] remicollet commented on #1793
Fixed by 19269cb and  e5de8fa

[2020-06-26 05:46] remicollet commented on #1793
@michael-grunder this need to be cherry-picked in 5.3 branch, but layout seems (again) so strange...

[2020-06-26 17:08] michael-grunder commented on #1790
I think this is a duplicate of #1406.  There's some good information in that thread that may be of use.

TL;DR:  This is an issue involving OSX's new security functionality but none of the maintainers use a mac so we can't be super helpful.

[2020-06-26 17:08] #1790 closed, assigned to nobody

[2020-06-27 13:54] kkmuffme commented on #1749
+1 for the suggestion of `OPT_NOT_FOUND`

For the time being, you can just convert all "false" BEFORE storing it in redis (e.g. to "redis-opt-not-found-false") and then create a wrapper for your get/mget that will convert this "redis-opt-not-found-false" to actual `false`

@vizvayu

This would just shift the problem from false to null but not solve it in any way. Additionally everybody would have

[2020-06-29 11:41] maxgu opened #1794 "Redis::xReadGroup() must return message id, like redis-cli do"
### Expected behaviour
Redis::xReadGroup() must return message id, like redis-cli do.

### Actual behaviour
Redis::xReadGroup() return false.

### I'm seeing this behaviour on
- OS: Ubuntu 20.04
- Redis: 5.0.7
- PHP: 7.4.4
- phpredis: 5.2.1

### Steps to reproduce, backtrace or example script
[code]
After this try to receive pending messages from phpredis:
[code]
$message is `false`,
must be:
[cod

[2020-06-29 15:11] dennis-hh commented on #1607
Sorry for necromancing this issue, but did I understand correctly that this is an AWS issue, not one in the library? Is there any solution in sight?
I'm connecting to an AWS redis cluster with tls and password like so:
[code]
This works, or at least there's no error.

[code]
This results in the following error:
[code]

Would it be possible to assume tls is used based on the protocol prefix of the

[2020-06-29 16:11] yatsukhnenko commented on #1607
@dennis-hh no, this is phpredis issue and I'm going to fix it after 5.3.0 GA

[2020-06-29 19:08] Sopamo commented on #1716
Thanks for the great work! We are really looking forward to the improvements to persistent connections, as we are currently experiencing some bugs regarding those and have disabled persistent connections for now until 5.2 is released.

Server assisted caching looks great, can't wait to try it once it's ready :)

[2020-06-30 14:03] GrahamCampbell opened #1795 "PECL version constraint says no PHP 8 support"
but the change log says otherwise

[2020-06-30 14:04] GrahamCampbell commented on #1795
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/2829600/86135570-ed031980-bae2-11ea-9cb3-1b1331985160.png">
<img width="520" alt="image" src="https://user-images.githubusercontent.com/2829600/86135596-f55b5480-bae2-11ea-82eb-084a7133196a.png">

[2020-06-30 14:13] GrahamCampbell commented on #1795
This means that pecl actually refuses to install it (unless you use the force flag):

<img width="788" alt="image" src="https://user-images.githubusercontent.com/2829600/86136652-41f35f80-bae4-11ea-8bb5-51bdeebcf544.png">

[2020-06-30 14:55] yatsukhnenko commented on #1795
Stable work on PHP 8 isn't guaranteed. https://travis-ci.org/github/phpredis/phpredis/jobs/702495791

[2020-06-30 15:20] MvanRietschoten commented on #1745
I am also getting this error
[code]

[2020-06-30 15:23] GrahamCampbell commented on #1795
The change log entry was a bit misleading them. Maybe it should have said something like "Partial PHP 8 support" or "Towards PHP 8 support".

[2020-06-30 15:29] yatsukhnenko commented on #1795
No, that fix added support PHP 8 for that release and later we broke it 😄

[2020-06-30 15:29] GrahamCampbell commented on #1795
Ah ;)

[2020-06-30 15:30] yatsukhnenko commented on #1745
The fix is in upcoming 5.3.0 release

[2020-06-30 15:35] yatsukhnenko commented on #1795
I'm going to close this issue. Feel free to open another one if you have any questions about phpredis.

[2020-06-30 15:35] #1795 closed, assigned to nobody

[2020-06-30 18:02] michael-grunder commented on #1795
Yeah, it looks like I broke the tests by triggering an `E_FATAL` by trying to test `auth` against incorrect usage.

I'll unbreak the tests later today after I release 5.3.0 GA.

[2020-06-30 21:11] vizvayu commented on #1749
@kkmuffme I don't think so. Null makes a lot more sense than false in this use case, and in any case I'm perfectly OK with having a configurable option; I'm not expecting this to change by default.
For now I'm just serializing stuff in PHP and disabling the Redis serializer. It's not as good as using a binary serializer, but it's the cleanest solution I've found that doesn't involve arbitrary work

[2020-07-01 08:02] vvhungy commented on #1742
@michael-grunder: I couldn't see the "inexpensive liveness check" (https://github.com/michael-grunder/phpredis/commit/56898f814a1d1a1888be62eed318b85525c2ce36) in 5.3.0 code anymore. Mean that we will see (again) a lot of "ECHO" command to redis server. Any reason for that?

Updated: my mistake, the "inexpensive liveness check" is still in 5.3.0, it's just not in the develop (default) branch!!?

[2020-07-01 08:57] vvhungy opened #1796 "[5.3.0] undefined symbol: php_hash_bin2hex"
Build phpredis 5.3.0, ./configure --enable-redis --disable-redis-session

"**make**" got **WARNING**:

"**make test**" got "**undefined symbol**":

### I'm seeing this behaviour on
- OS: CentOS 8
- PHP: 7.3.19
- phpredis: 5.3.0
- gcc version 8.3.1 20191121 (Red Hat 8.3.1-5) (GCC)

[2020-07-01 09:11] remicollet commented on #1796
Looks like your php doesn't have "hash" extension

[2020-07-01 09:16] remicollet commented on #1796
pr #1797 should ensure proper extension load order

[2020-07-01 09:20] yatsukhnenko commented on #1796
@remicollet maybe we can avoid using `php_hash_bin2hex` and store salt as binary string

[2020-07-01 09:21] remicollet commented on #1796
@vvhungy Perhaps you can try pre-build CentOS 8 packages from https://rpms.remirepo.net/

[2020-07-01 09:21] remicollet commented on #1796
Yes, in this case we can make use of hash conditional, like for json.

[2020-07-01 09:24] remicollet commented on #1796
Also notice that starting with **7.4** hash is always there, and with **8.0** json also.

So don't know if it really worth the change... hash is "mandatory" for lot of things in PHP.

[2020-07-01 09:36] yatsukhnenko commented on #1796
We also use hash in RedisArray so your PR is preferred solution

[2020-07-01 16:26] michael-grunder commented on #1742
It's still there [in library.c](https://github.com/phpredis/phpredis/blob/adbc12e526c5a026262a414d67891a6f0ec315c2/library.c#L2139)

You can disable the `ECHO` check by setting `redis.pconnect.echo_check_liveness` to `0` in `php.ini`.

If you don't have problems with persistent connections going out of sync you can disable that setting and put connect into what I like to call "YOLO" mode.  :smile:

[2020-07-01 17:41] yatsukhnenko commented on #1372
In 5.3.0 we added option to prepend prefix to `scan` command
[code]

[2020-07-01 17:51] yatsukhnenko commented on #1600
Fixed in 5.3.0.

[2020-07-01 17:51] #1600 closed

[2020-07-01 17:54] yatsukhnenko commented on #1726
I'm going to close this issue because it is actually not a bug in phpredis.

[2020-07-01 18:20] yatsukhnenko commented on #1749
The use of serializers imposes restrictions which you should consider when writing your code. Another example is that you can't use `incr` command.

[2020-07-01 18:49] inieves commented on #1726
@yatsukhnenko do you believe this is most likely a bug in PHP itself (or perhaps OpenSSL)?

[2020-07-01 18:56] ywarnier commented on #1600
@yatsukhnenko Issue #1775 is actually about that already.

[2020-07-01 18:57] ywarnier commented on #1775
I confirm the issue with DigitalOcean, which *only* enables the Redis Database Service with encryption, so the only "clean" way to do this without modifying the PHP application using it is to have the TLS settings working in php.ini.

[2020-07-01 22:01] zacharyhamm opened #1798 "Segmentation fault when using redis 5.3.0 for sessions"
### Expected behaviour

Redis can be used for session handling

### Actual behaviour

Segmentation fault on session_start()

### I'm seeing this behaviour on
- OS: Linux 4.19.76
- Redis: 4.0-alpine3.9
- PHP: 7.2.14
- phpredis: 5.3.0

### Steps to reproduce, backtrace or example script

Segfault happens during session_start:

[code]

Is all the code necessary to reproduce it.

I haven't had a chanc

[2020-07-01 22:11] zacharyhamm commented on #1798
Removing `persistent=1` from the `session.save_path` avoids the segfault.

[2020-07-01 22:26] zacharyhamm commented on #1798
Suspect that something like this will fix it:

[code]

[2020-07-01 22:34] michael-grunder commented on #1798
Thank you for the report, it should be fixed via 149115e.  I'll make sure we include this with 5.3.1 which will be very soon.

[2020-07-02 01:09] vvhungy commented on #1796
I'm sure that our PHP build already include hash module.

With the hash checking as @remicollet proposed, I could see "hash" in "configure" output:

Even with adding the line "**ZEND_MOD_REQUIRED("hash")**" in **redis.c** still got the same WARNING as before.

[2020-07-02 01:28] michael-grunder commented on #1796
Interesting, I'm not sure why you're having trouble but I went ahead and removed the dependency on that function in cd55ef1, which we'll get merged into 5.3.1

[2020-07-02 05:04] remicollet commented on #1796
Sorry, but for me, this really looks like a corrupted dev. env.

This is not consistent.

BTW, is the header is found the symbol should be there.
else build should fails on not find header

Using PHP on a dev machine (where it is built) seems a bad idea, as everyone know, dev. machine are always a mess. Nothing is reproducible.

[2020-07-02 06:28] vvhungy commented on #1796
@remicollet I built the module on one of our **production** servers, which was successfully built phpredis 5.2.2.

The only different is that our PHP build use a disable-all then enable only needed modules.

Can you try with the following custom PHP configure to figure out what happened?

and phpredis configure:

Environment
- OS: CentOS 8
- PHP: 7.3.19
- phpredis: 5.3.0
- gcc version 8.3.1 201911

[2020-07-02 10:22] michbsd commented on #1796
Hi,
I successfully built this on FreeBSD (and I have "hash" extension installed) - however when I try to run php after phpredis 5.3.0 installtion - I get:
/usr/local/lib/php/20170718/redis.so: Undefined symbol "php_hash_bin2hex"

Any ideas?

In the interim I've rolled back to 5.2.2

[2020-07-02 12:08] remicollet commented on #1796
Finally can reproduce.

You have a php build without "session" extension enabled (how can this be useful ?)
Adding `#include <ext/hash/php_hash.h>` in redis.c solves this issue

When "session" is there, `php_hash.h `is included from `php-session.h`

BTW, shouold be fixed by pr #1800

If you have "developpement" tools installed this is a developper environment ;)
(usually considered as a very bad i

[2020-07-02 12:37] remicollet commented on #1793
Closing as fixed in RC2

[2020-07-02 12:37] #1793 closed, assigned to remicollet

[2020-07-02 12:56] michbsd commented on #1796
Actually - I had both session and hash - but the build threw the following warning:

[code]

Adding the include to redis.c - fix this, and it seems to work.

[2020-07-02 13:06] remicollet commented on #1796
@michbsd but do you build redis with `--disable-redis-session` or `--enable-redis-session`

[2020-07-02 13:36] michbsd commented on #1796
configure:4127: checking whether to disable sessions
configure:4141: result: yes

[2020-07-02 16:47] #1796 closed, assigned to nobody

[2020-07-02 16:56] #1798 closed, assigned to michael-grunder

[2020-07-03 01:24] vvhungy commented on #1796
@michael-grunder when will we have the next release which includes this fix? If it not a long time then I can wait instead of applying a manual patch :)

[2020-07-03 02:41] zibuyule commented on #1782
Hi Michael,

Could you please provide an update?

Thanks!

[2020-07-03 03:35] michael-grunder commented on #1796
Assuming there are no other bugs reported I think we can release 5.3.1 in the next couple of days.

I just don't want to release it and then immediately get another report (which is 100% what usually happens.  :smile:)

[2020-07-03 14:39] yatsukhnenko commented on #1607
I added new parameter to `RedisCluster::__construct` to specify stream ssl/tls context.
**Important**: seeds must be specified in `host:port` without `scheme`

[code]
Could somebody test this changes?

[2020-07-03 15:15] simonxmau commented on #1745
Me too! I am installing on the redis-5.3.0.tgz version and the problem remains the same.

[2020-07-03 15:27] michael-grunder commented on #1745
Perhaps you don't have `php_json.h`?

Can you post the entire output from `config.log`?

[2020-07-03 15:30] simonxmau commented on #1745
@michael-grunder

[code]

[2020-07-03 15:52] michael-grunder commented on #1745
This seems relevant:

[code]

It's been ages since I've installed with PECL but I think you're missing the version path

e.g. my `php_json.h` is here:

```/usr/include/php/20190902/ext/json/php_json.h```

My [config.log](https://gist.github.com/michael-grunder/cc02ec3cc74552fab6cf76bc7f36e9c9) differs in that it finds the correct version subdirectory.

[2020-07-03 16:13] simonxmau commented on #1745
@michael-grunder Thank you.

[2020-07-04 07:18] HOSTED-POWER opened #1805 "Version 5.3.0 crashes with session.save_handler = redis"
### Expected behaviour
Working redis session.save_handler
### Actual behaviour

### I'm seeing this behaviour on
- OS: Debian Buster & Stretch
- Redis: 3.x / 6.0.5
- PHP: 7.3
- phpredis: 5.3.0

### Steps to reproduce, backtrace or example script

[code]

Result:

[code]
Downgrading redis to 5.2.2 with pecl gives 0 issues

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issu

[2020-07-04 08:14] yatsukhnenko commented on #1805
Duplicate #1798

[2020-07-04 08:14] #1805 closed, assigned to nobody

[2020-07-05 07:04] dimitris-k opened #1807 "signal 11 (SIGSEGV) with php-fpm7.3 in debian stretch after Jul 3 upgrade"
I am using the https://packages.sury.org/php repo.

After the last upgrade to `5.3.0+4.3.0-1+0~20200703.23` from `5.2.1+4.3.0-1+0~20200321.20`
and using `php7.3-fpm 7.3.19-1+0~20200612.60`, the php-fpm processes were killed upon the first request dispatched to them after some seconds, resulting in bad gateway pages...

The local redis server version is `5:5.0.3-3~bpo9+2` listens on a socket and no

[2020-07-05 07:25] michael-grunder commented on #1807
Is this happening in a session handler?

https://github.com/phpredis/phpredis/issues/1805

If not please let me know so I can make sure we fix the issue in 5.3.1.

[2020-07-05 07:49] dimitris-k commented on #1807
It is happening in a session handler. I just followed the workaround to remove `persistent=1` from the `session.save_path`, but it did not fix the problem...
[code]

[2020-07-05 08:25] yatsukhnenko commented on #1807
@dimitris-k the problem is in dereferencing null pointer. Could you test changes from 5.3.1 branch and confirm that problem is solved and we may publish release?

[2020-07-05 08:40] dimitris-k commented on #1807
Sorry @yatsukhnenko , I can't do that right now especially on a production server. I will try tomorrow with our developers...

Thank you for your prompt response!

[2020-07-06 07:34] nemphys commented on #1807
FYI, getting exactly the same issue with php-fpm 7.0 from the same ppa.

[2020-07-06 11:33] linaori commented on #1807
I've encountered this issue in my local environment. It seems to be a session issue.
[code]

### Reproducer
Make a php file and call `session_start()` in here. I have the following config in my `redis.ini`
[code]
Then call the php file from the CLI.

Commenting these 2 config lines will no longer trigger a segfault.

### Output
[code]

[2020-07-06 11:48] yatsukhnenko commented on #1807
@linaori could you test `5.3.1` branch?

[2020-07-06 11:56] linaori commented on #1807
@yatsukhnenko do you have instructions or a guide on how to do that? I've not tested something like this before

[2020-07-06 13:34] yatsukhnenko commented on #1807
@linaori sorry, I missed that Michael didn't create separated branch yet and fix is in `develop` branch
To test it you need to clone repository and compile extension from sources https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown#installation-from-sources

[2020-07-06 13:37] linaori commented on #1807
Thanks, I will give it a try

[2020-07-06 13:57] linaori commented on #1807
@yatsukhnenko I've taken the following steps:
 - cloned the repository
 - followed the guide, used no configure arguments
 - had to manually move `redis.so`
 - ran the same test file

Looks like everything in my scenario is working again. To be sure I've also checked the webserver variant. Before reloading it was broken, after reloading the service it was working (mod_php7).

As far as I'm concern

[2020-07-06 13:59] yatsukhnenko commented on #1807
@linaori cool, thanks! :+1:

[2020-07-06 20:51] jeroenvermeulen commented on #1807
We are experiencing this issue on PHP 7.1 in combination with ShopWare 5.5.6 on Ubuntu 18.04 using [Ondřej Surý](http://deb.sury.org)'s packages

[2020-07-06 21:12] michael-grunder commented on #1807
I'm going to release 5.3.1 tomorrow morning (Pacific Time, US).  I just want to give @yatsukhnenko a chance to give it a once over (although it should be fine).

Edit:  [branch is here](https://github.com/phpredis/phpredis/tree/release/5.3.1)

[2020-07-07 13:35] yatsukhnenko commented on #1807
@michael-grunder
[code]

[2020-07-07 14:03] DrSchimke opened #1808 "Segmentation fault while Redis::auth(null)"
`$redis = new Redis(); $redis->connect('redis'); $redis->auth(null);`
### Expected behaviour
It should work.
### Actual behaviour
It results in a "Segmentation fault".

### I'm seeing this behaviour on
- OS: Linux (docker)
- Redis:
- PHP: 7.2, 7.4
- phpredis: It worked fine at least with 5.2.1, with 5.3.0 I see the segfault.

### Steps to reproduce, backtrace or example script
See above.

### I've

[2020-07-07 15:07] HansVanEijsden commented on #1807
I am experiencing this issue on PHP 7.4.8, installed from source. I'm very happy to see I'm not the only one. Thanks for fixing, looking forward to the pecl release. 👍🏻

Edit: 5.3.1 solves the issue completely here. Thank you!

[2020-07-07 16:02] yatsukhnenko commented on #1808
@michael-grunder in case of `auth` command argument can't be `null`

[2020-07-07 16:36] michael-grunder commented on #1808
s/redis_get_auth_info/redis_extract_auth_info :smile:

[2020-07-07 20:14] #1808 closed, assigned to nobody

[2020-07-07 22:08] michael-grunder commented on #1807
Closing as this was fixed in 5.3.1.

[2020-07-07 22:08] #1807 closed, assigned to nobody

[2020-07-08 13:37] yatsukhnenko commented on #1607
Changes were merged into `develop` branch

[2020-07-08 17:01] Venorcis commented on #1543
This issue seems to have gotten worse with 5.3.0/5.3.1 unfortunately.

Until the upgrade today (we were on 5.2.1 before), it seemed like the 'read error on connection' only happened if a long-running process on a Redis replica was idle for a long time, causing a connection reset when it started up again and then a loss of authentication information (#1757). Now the read error suddenly occurs way m

[2020-07-08 19:34] michael-grunder commented on #1543
Read error on connection is only triggered in [redis_sock_gets](https://github.com/phpredis/phpredis/blob/f771ea16b77f39fcca555bec2d952412265197aa/library.c#L3089) and historically is _always_ timeout-related.

If the connection has actually gone bad phpredis tends to fail in [redis_check_eof](https://github.com/phpredis/phpredis/blob/f771ea16b77f39fcca555bec2d952412265197aa/library.c#L302) and yo

[2020-07-08 19:55] Venorcis commented on #1543
Thank you for the quick response. I understand it'll be hard to replicate this, especially because for us it only seems to happen on replica>master connections (i.e. for writes) and then randomly after long periods of time (15-30 minutes of inactivity probably).

In our case the long-running scripts are job handlers, e.g. for sending push notifications. So these sporadically do a whole bunch of re

[2020-07-08 20:09] michael-grunder commented on #1543
This makes me think it might actually be that workaround although I won't know until I dig into the issue more closely.

If you don't mind can I get the exact version of CentOS and PHP you're currently running and also the old versions might be useful as I could see if this PHP bug was fixed between the two.  This will also let me run a long-running test script in a container so the environment is

[2020-07-08 20:22] Venorcis commented on #1543
We are currently running the latest CentOS 8.2 (2004) with the latest PHP 7.4.8 (from remi-repo). Before that it was some version of CentOS 7 with some version of PHP 7.3. Perhaps the PHP upgrade is related, but again something also definitely changed between PhpRedis 5.2.1 and 5.3.X.

[2020-07-08 20:37] michael-grunder commented on #1543
I believe you that there was a regression between phpredis 5.2.1 and 5.3.x as we reworked how we reauthenticate connections in a way that could certainly cause these symptoms (more calls to `redis_sock_gets` providing more opportunity to trigger `read error on connection`).

It's just possible that the source of the issue is the workaround in question.  I'll certainly let you know if I determine t

[2020-07-09 00:42] GrahamCampbell opened #1809 "PHP 8 Build Error"
phpredis 5.3.1 built using https://github.com/php/php-src/tree/7ac9e9bf644ec9a305641386591a507a9159e5be:

[code]

[2020-07-09 06:09] yatsukhnenko commented on #1809
@GrahamCampbell thanks, this issue should be fixed in `issue-1809` branch. Could you test it?

[2020-07-09 07:35] Venorcis commented on #1543
~~So one more potentially interesting fact; to work around this issue I decided to close the Redis connection after every job (with `close()`), forcing each new job to use a new PhpRedis instance (that calls `connect(...)` again). However, this strangely does not resolve the issue, still causing read errors on the replicas.~~

EDIT: nevermind, this was caused by another Redis instance that was not

[2020-07-09 07:58] DrSchimke commented on #1808
In earlier versions, the null-value used with auth worked (was ignored?). Maybe the null does not make much sense, **but Segfault is just not the right response**.

If you ask, why I did `auth(null)`: I use the symfony dependency container and the configuration is dynamic – sometimes we use a redis server with password, and sometimes it has no password (for testing purposes). My workaround right n

[2020-07-09 08:05] GrahamCampbell commented on #1809
Thanks for the fast fix. That branch compiled without any problems. 👍

[2020-07-09 08:05] #1809 closed, assigned to nobody

[2020-07-09 10:02] yatsukhnenko commented on #1809
OK, cherry-picked commit into `develop` branch

[2020-07-09 10:20] dFayet opened #1810 "mGet return false when no keys are provided"
### Expected behaviour
According to the `mGet` doc:

I expect to receive an `array` in any cases (as long as the keys parameter is an array)

### Actual behaviour
If I give an empty `array` to `mGet` the return will be `false`
[code]

### I'm seeing this behaviour on
- OS: Linux
- Redis: 5.0.6
- PHP: 7.3
- phpredis: 5.2.2

Have a good day.

[2020-07-09 10:34] yatsukhnenko commented on #1810
@dFayet [mget](https://redis.io/commands/mget) requires minimum one key

[2020-07-09 11:52] dFayet commented on #1810
@yatsukhnenko The `mget` behaviour is probably right, but the doc (and the function return type) is incorrect, or it misses an exception if the `$array` parameter is empty

[2020-07-09 14:47] greg0ire commented on #1810
@yatsukhnenko I would expect that requirement to be enforced somehow (with an exception, for instance)

[2020-07-09 14:49] saurabhornawala opened #1811 "PHP Redis - Cluster Connection timeout."
HI,

I am using phpredis to connect a redis cluster by passing all server IPs to it(3 masters + 3 slaves). My script uses  HMSET to put data into the cluster. Every once in a while, I have noticed that the script does not end (for multiple days). While tracing the issue, I could see that phpredis is receiving a "MOVED" response from the server(checked via strace) and in php logs, phpredis issues t

[2020-07-09 14:59] yatsukhnenko commented on #1810
@greg0ire this will be breaking change and we can't do it until next major release

[2020-07-09 15:02] greg0ire commented on #1810
Sure! I'm not in a hurry ;)

[2020-07-09 16:09] yatsukhnenko commented on #1811
First of all try to upgrade phpredis to the latest stable version. 3.1.6 released two years ago and we fixed many bugs since.

[2020-07-09 16:13] yatsukhnenko commented on #1810
I'm not sure about this change. @greg0ire why do you think that returning correct response on incorrect request is right behaviour?

[2020-07-09 17:34] greg0ire commented on #1810
If by "correct response", you mean `false`, I don't see how it is correct: it's not documented, and it makes the return type a union type. I'd much rather get an exception than just `false`. Many PHP functions return `false` in case of failure, but I believe this is the legacy of a time when exceptions did not exist. And PHP is moving away from that in some cases: https://wiki.php.net/rfc/json_thr

[2020-07-09 17:41] michael-grunder commented on #1810
I think what @yatsukhnenko is saying is that `MGET` with no keys is a syntax error

[code]

Phpredis is identifying this and avoiding a round trip to the server.  That said I'm not opposed to just returning an empty array here but like Pavlo mentioned it would be a breaking change so it has to wait until  PhpRedis 6.

[2020-07-09 17:45] michael-grunder commented on #1808
This should be fixed in 5.3.1.  If you're still having issues please let me know!

[2020-07-09 17:57] greg0ire commented on #1810
I'm not suggesting you return an empty array, I'm suggesting you throw an exception, which would make the signature of mget be `mGet(array $keys): array` rather than `mGet(array $keys): array|false` (and should wait until PhpRedis 6 too, for obvious reasons).

[2020-07-09 18:01] Diamonds0a opened #1812 "Doc Question: Does pconnect work in clustered mode?"
Seems that pconnect is for single mode only. Wanted to make sure. Thanks!

[2020-07-09 18:03] yatsukhnenko commented on #1810
@greg0ire json_decode throws exception because it may return false/null is success and failure cases which doesn't allow to identify error. In phpredis we don't have this problem and use false may definetly identify error. Also I think that simple compare to false is better to read and understand than wrapping code to try/catch blocks

[2020-07-09 18:07] yatsukhnenko commented on #1812
@Diamonds0a yes, persistent connections should work fine with RedisCluster

[2020-07-09 18:08] dFayet commented on #1810
@yatsukhnenko It might be easier but you will allow an incorrect behaviour, as the exception is thrown because the user tries to `mget` with no keys (which is not supported, as you said earlier).
From a DX pov I think it is more easier to debug an exception than a false.

[2020-07-09 18:13] michael-grunder commented on #1812
[code]

Yes, it will work.  This script will use persistent connections or not depending on the argument you provide.

You can verify that it's working by watching the `total_connections_received` `INFO` field on one of the nodes while running it (connections will go up much faster if not using the connection pool).

[2020-07-09 19:06] greg0ire commented on #1810
It is indeed simpler! The thing is, that kind of exception is not meant to be caught, and should instead result in a rewrite of the calling code, just like @dFayet and I rewrote our code today to avoid calling `mGet` with an empty array. Having a clear exception message telling us should not call `mGet` with an empty array would have IMO been a far better experience than getting a `TypeError` abou

[2020-07-09 20:07] michael-grunder commented on #1812
Closing since I think the question has been answered. :smile:

[2020-07-09 20:07] #1812 closed, assigned to nobody

[2020-07-13 15:26] heddn opened #1813 "PHP 8.0 build is failing"
### Expected behaviour

Build passes

### Actual behaviour

See https://git.mtech-llc.com/open-source/drupal-docker/-/jobs/5770#L938

### I'm seeing this behaviour on
- OS:
- Redis: n/a
- PHP: 8.0
- phpredis: 5.3.1

### Steps to reproduce, backtrace or example script

 PHP Api Version:         20190128
Zend Module Api No:      20190128
Zend Extension Api No:   420190128
checking for grep that hand

[2020-07-13 15:32] yatsukhnenko commented on #1813
Duplicate #1809

[2020-07-13 15:32] #1813 closed, assigned to nobody

[2020-07-13 15:43] heddn commented on #1813
Wow, thanks for your quick response. Following the other issue. I swear I didn't find it when I was looking.

[2020-07-13 18:12] michael-grunder commented on #1543
@Venorcis Are your long running jobs subscribed to a pub/sub channel or are they doing something like `BLPOP` in a loop.

Edit:  It would also be nice to have as many `redis.conf` config settings as you could provide. I obviously don't need anything related to security (like auth, etc) but it's more likely I'll be able to cause the problem if I configure the server in a similar way (e.g. with the

[2020-07-13 20:30] Venorcis commented on #1543
No, we use neither pub/sub nor blpop. We run Pheanstalk's reserve (see https://github.com/pheanstalk/pheanstalk#consumer--worker) and then on each job that comes in some random read/writes are done (mostly hget and hset like mentioned before).

I think these are the only non-default settings (on the replica where it occurs):
[code]
Do not seem very related/strange right?

As a workaround, when the

[2020-07-13 20:41] michael-grunder commented on #1543
Awesome, that's very useful.

I'm glad you were able to work around the issue so it's no longer a pain point but I'm going to try to track it down so the workaround isn't needed.  I'll use that Pheanstalk library as well just so I'm testing the same sort of things.

[2020-07-14 10:44] Adam-Rollo commented on #1811
i met the same bug. phpredis often occur timeout every about 5 requests.
----------
i use another php client dont occur this bug. i have updated the newest version.

[2020-07-14 19:51] michael-grunder commented on #1543
@Venorcis Unfortunately I can't replicate this problem at all.

I went so far as to set up a centos 8.2:2004 docker container running beanstalkd with a producer and consumer PHP script where I can dynamically configure how long we sleep between messages.

Then, I spun up two (primary/replica) Redis instances on an AWS ec2 box and then pointed my consumer at the replica.  When that didn't cause any

[2020-07-14 20:35] TysonAndre commented on #1543
Worth asking: How much data is being used, is SAVE being used (or do regular bgsaves run on replicas?)? During BGSAVE/SAVE, if there's a lot of data, I'd imagine it might hang, but for less than a second in the case of BGSAVE (forking to BGSAVE blocks for longer the more memory redis uses)

From https://redis.io/commands/save

[2020-07-14 20:38] TysonAndre commented on #1543
Immediately after establishing a successful connection, it might be less likely redis is in the middle of saving or completing a long operation (the operation would need to complete before the client could connect), but that's just a guess. Then again, if the 60 seconds is important (e.g. it also has errors with 300 seconds), what I said might not be the case

[2020-07-15 11:48] Venorcis commented on #1543
Hmm, that's weird, again especially because the behaviour clearly changed for us after updating from 5.2.1 to 5.3.1 without any other changes at that time.

First of all, we do use a socket timeout, but a very high one: `ini_set('default_socket_timeout', 60 * 60 * 24);`
This is to prevent the Pheanstalk connection from dying, and the read error occurred way more often than this.

We do indeed use

[2020-07-15 13:38] TysonAndre commented on #1543
What about OPT_READ_TIMEOUT, or the result of getReadTimeout before you make requests? (e.g. grep for OPT_READ_TIMEOUT in your app/libraries/vendor)

https://github.com/phpredis/phpredis#getreadtimeout

[2020-07-15 14:26] Venorcis commented on #1543
Like posted above, we use this constructor: `$redis->connect($ip, 6379, 1, null, 0, 0, ['auth' => $pass])`
That should set the read timeout to 0=infinite right? setOption or OPT_READ_TIMEOUT are never called in our code.

[2020-07-15 16:59] yatsukhnenko commented on #1543
@Venorcis is it possible to turn off authentication in your environment where you see issue?

[2020-07-15 17:34] michael-grunder commented on #1543
I don't know if it's related (seems maybe not from scanning through the logic), but it looks like the bug we're working around is now fixed in [all supported versions of PHP](https://git.php.net/?p=php-src.git;a=blobdiff;f=main/streams/xp_socket.c;h=300a58e491d88336980c0cf0e39230148228e0b5;hp=13ed7036826c32dd811a7859ef4198fa6c0c45e8;hb=24f0fe6b1f53e2d610dc27c04b0c6cd9927f4d4a;hpb=b0893344df1946c84

[2020-07-16 08:12] Venorcis commented on #1543
I could try, it's not strictly necessary indeed, but would require quite some work on our end to (temporarily) facilitate. Perhaps an easier approach is to see if I indeed can tweak an example in which the bug is reproducible.

[2020-07-16 08:24] vvhungy commented on #1543
@Venorcis: what about your redis configs of timeout?

Our redis instances mostly use this:

A short timeout from server may cause client to be read-error and disconnected.

[2020-07-16 08:58] Venorcis commented on #1543
Like aforementioned, we only have a few non-default configs. So this should mean that we have `timeout 0` and `tcp-keepalive 300`.

Maybe the tcp-keepalive is related, does the latest phpredis respond to it properly? Crashing every 10m ("to close the connection the double of the time is needed") when there has been no  activity at all (i.e. sleeping php process) sounds like it could potentially be

[2020-07-16 13:12] TysonAndre commented on #1543
I'd also have to wonder if it's an issue with a load balancer or firewall.

For example, if a load balancer being connected continues to receives packets, but doesn't send acknowledgement of the packets or reset the connection to indicate that the connection is dead, then the connection may just time out.

Maybe the CentOS 7 server override the default client tcp keepalive setting, and when you re

[2020-07-16 13:23] Venorcis commented on #1543
We're directly connecting to the master on LAN, so no load balancing or firewall in between.

And I assume the server keepalive setting is most relevant, i.e. each client has to ACK every keep-alive from the server every 300s by default?

[2020-07-16 16:50] michael-grunder commented on #1543
@Venorcis I've created a repo to see if we can track this down [the repo is here](https://github.com/michael-grunder/centos-phpredis-beanstalk).  I'm going to invite you as well so you can directly push changes if you find a way to reproduce the issue.

I'll send you host, port, and auth information to my EC2 box out of band (email, or Twitter DM if you prefer) so you can connect to that remote re

[2020-07-21 02:24] xiaoliwang commented on #1757
I have the same problem. Only if I catch the exception and close the connection, the error 'NOAUTH AUTHENTICATION required' disappear.

[2020-07-21 06:14] aalwash opened #1814 "Some functions have outdated documentation"
Some functions have outdated documentation, these are the ones I found during my development:

- zAdd
- zRangeByScore

I will try to updated them to my best knowledge in a separate PR, please double check them if possible.
If all is OK, I will also updated the PHPStorm Stubs -- https://github.com/JetBrains/phpstorm-stubs/blob/master/redis/RedisCluster.php

[2020-07-21 23:53] michael-grunder commented on #1757
I can't replicate this with PhpRedis 5.3.0.  Both of the examples work fine (and reauthorize the connection)

[2020-07-22 15:03] xiaoliwang commented on #1757
[code]

When i use `tcpkill` to kill the tcp connection, I get the 'NOAUTH Authentication required' throwed by `connect` function.

[2020-07-22 15:29] michael-grunder commented on #1757
Can you provide a bit more context?

From the above sample code, it seems like you'd have a difficult time timing the `tcpkill` call.  Or do you mean you're calling it in a loop?

[2020-07-23 04:10] xiaoliwang commented on #1757
Well. I use php 7.3.6 And php-redis 5.3.0
Use nginx and php-fpm

I use the script as below, and I can get the right value.
[code]

After that, I use tcpkill to kill the connection. And then stop tcpkill running.
Then I visit the page, I will get the error below.

#0 /home/www/missevan-web/public/index_temp.php(3): Redis->pconnect('r-bp1bts3fbiqme...')
#1 {main}
  thrown in /home/www/missevan-web/p

[2020-07-23 04:58] michael-grunder commented on #1757
Ok I will try that setup tomorrow morning.

[2020-07-23 14:17] JimmyBanks opened #1816 ""NOAUTH Authentication required" error thrown when authentication is provided"
### Expected behaviour
When authentication is provided (and correct), a NOAUTH Authentication required error should not be thrown

### Actual behaviour
On random intervals (for our web app, this issue occured on July 14, and then recurred again on July 23, with the issue continuing to occur so far for over 13 hours)

### I'm seeing this behaviour on
- OS: Ubuntu 18.04.4
- Redis: 4.0.14
- PHP: 7.4.

[2020-07-23 17:17] michael-grunder commented on #1816
Potentially related to or a duplicate of #1757

I've got a hunch about what might be happening and will update this thread as well if I track it down.

[2020-07-23 19:25] michael-grunder commented on #1757
I can replicate this.  I'll post an update when I figure out exactly what's going on.

[2020-07-23 19:34] michael-grunder commented on #1816
I'm going to close this issue in favor of #1757 so it's all in one place.  Feel free to comment over there

[2020-07-23 19:34] #1816 closed, assigned to nobody

[2020-07-23 19:49] michael-grunder commented on #1757
OK, this exception is being thrown in our `ECHO` "liveness check".

There are two workarounds (as long as you're running >= 5.3.0):

1.  Change your `pconnect` call to include the AUTH information:

[code]

2.  Disable the `redis.pconnect.echo_check_liveness` INI setting.  I don't recommend this if you've _ever_ had persistent connections get into a bad state.  If this has never happened to you th

[2020-07-23 22:01] JimmyBanks commented on #1757
Thanks @michael-grunder

Will this essentially be a necessity to fix the issue for persistent connections, and the best practice moving forward? Or is the underlying issue with the auth() method also fixable in a future version?

[2020-07-23 22:25] michael-grunder commented on #1757
Once persistent connections are fixed we won't need the liveness check at all, so the problem will go away.

That said, this specific issue is fixable before that, because in actuality a `NOAUTH` error is sufficient in and of itself to confirm "liveness".  The whole point of the liveness check is to make sure there aren't unconsumed replies on the connection when we pull it from the persistent con

[2020-07-24 02:13] xiaoliwang commented on #1757
Thanks @michael-grunder 。I will try。

[2020-07-24 05:40] VictorVolpe opened #1817 "PHP crash using unix sock in session.save_path"
### Expected behaviour
With "tcp://" works normally...
[code]

### Actual behaviour
But with "unix://" crashes at "SETEX" (or maybe at some previous point)
[code]

### I'm seeing this behaviour on
- OS: FreeBSD 12.1-RELEASE-p7 GENERIC amd64
- Redis: redis-5.0.9
- PHP: php73-7.3.20
- phpredis: php73-pecl-redis-5.3.0_1

### Steps to reproduce, backtrace or example script
**redis.conf**
[code]
**php.

[2020-07-24 18:19] michael-grunder commented on #1817
This was fixed in 066cff6adee03ce05ec5d57083eb7995dfa4344d which is contained in PhpRedis 5.3.1

Somewhat related issue: #1807

I'm going to close this but if you still have problems with 5.3.1 please let us know.  Just to make sure I tested using a Unix socket in 5.3.0 and 5.3.1 and it's fixed for me.

[2020-07-24 18:19] #1817 closed, assigned to nobody

[2020-07-27 22:30] FryJay opened #1818 "Occasionally receiving the wrong record from Redis"
### Expected behaviour
The correct record is retrieved from Redis

### Actual behaviour
On some occasions at sufficient scale (9-10k requests per second), the wrong record is being retrieved from Redis.  This issue first appeared when we updated our phpredis driver from 5.0.2 to 5.1.1 (we've since updated to 5.2.2).  We have had no luck reproducing the issue outside of our production environment s

[2020-07-27 22:54] FryJay commented on #1818
Other information that might be relevant:
- We use persistent connections
- We had seen the issue once before when upgrading to a 4.x version of the driver and it went away when updated to 5.0.2.  I'm trying to track down what specific versions we were using in the first upgrade that went from working to not working.

[2020-07-28 08:57] Shahrudinov commented on #1811
+1 Some times i have "Timed out attempting to find data in the correct node." without any reason (3 masters + 3 slaves). Now investigating it.

[2020-07-29 10:58] nlalexandrov opened #1819 ""Error processing response from Redis node" - redis cluster after switching to TLS"
### Expected behaviour
web page to be loaded normally

### Actual behaviour
error on the web page :
RedisClusterException
File:   /var/www/...
Message:     Error processing response from Redis node!

### I'm seeing this behaviour on
- OS: Debian 9.13
- Redis: 6.0.5
- PHP: 7.0
- phpredis: 5.3.1

### Steps to reproduce, backtrace or example script
I had a working phpredis/redis cluster connection. T

[2020-07-30 00:56] karelbyte commented on #1714
PHP Warning:  Cannot load module 'redis' because required module 'json' is not loaded in Unknown on line 0
PHP Warning:  Cannot load module 'redis' because required module 'json' is not loaded in Unknown on line 0

=====================================================================
PHP         : /usr/bin/php7.4
Warning: Cannot load module 'redis' because required module 'json' is not loaded in U

[2020-07-31 14:35] NimishKmr commented on #1443
H All,
I am getting errors similar to above -
ProductImport.CRITICAL: Notice: Redis::hGet(): send of 63 bytes failed with errno=32 Broken pipe in <project pth>/vendor/colinmollenhour/credis/Client.php on line 1139 []

What could be the cause?
Is it due to lost connection or something else?? Any redis parameter or php parameter to modify?

[2020-07-31 23:16] adjenks opened #1820 "getAuth() returns false when not connected. Undocumented return."
### Expected behaviour

Return NULL from getAuth() or document existing behavior.

### Actual behaviour

Returns false

### I'm seeing this behaviour on
- OS: centos
- Redis: 5
- PHP: 7.3
- phpredis: 5.1.1

### Steps to reproduce, backtrace or example script

1. Don't connect.
2. call getAuth()

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop`

[2020-08-01 00:07] adjenks commented on #1741
Based on this I guess I can assume that ANY method can return FALSE or throw an exception. I wish it was one or the other instead of both, it's caused me a lot of trouble since the functions don't document this behavior themselves, only this one paragraph.

[2020-08-01 00:07] #1741 closed

[2020-08-01 00:08] adjenks commented on #1820
Based on this I guess I can assume that ANY method can return FALSE or throw an exception. I wish it was one or the other instead of both and I wish it was documented on each function. It's caused me a lot of trouble since the functions don't document this behavior themselves, only this paragraph at the beginning.

[2020-08-01 00:08] #1820 closed, assigned to nobody

[2020-08-01 10:23] char101 commented on #976
Change the default socket timeout

[code]

This also works

[code]

[2020-08-02 00:49] Nowi5 commented on #1268
What would be the right way for may older packages to support DEL with redis-cluster?
Currently having the issue "Cannot use 'DEL' with redis-cluster"

[2020-08-02 06:31] Nowi5 opened #1821 "Cannot use 'DEL' with redis-cluster."
### Expected behaviour
Clearing the cache across the packages of Laravel (Symfony) and Predis should work with AWS Redis Cluster.

### Actual behaviour
Building a Cache works fine but clear cache fails. Locally and on AWS Server.

### I'm seeing this behaviour on
- OS: Debian
- Redis: AWS Redis CLuster with 3 nodes, 5.0.6
- PHP: 7.4.6
- redis: 1.1

![image](https://user-images.githubusercontent.co

[2020-08-02 11:22] yatsukhnenko commented on #1821
Phpredis 1.1? Really?

[2020-08-02 14:43] Nowi5 commented on #1821
@yatsukhnenko Sry, 1.1 is predis/predis
[code]

Seems Laravel isn't using phpredis as it seams they developed they own on top of predis.
https://laravel.com/api/5.8/Illuminate/Redis/Connections/PhpRedisClusterConnection.html

[2020-08-02 15:11] yatsukhnenko commented on #1821
So issue isn't related to phpredis, right?

[2020-08-02 15:13] Nowi5 commented on #1821
Unfortunately, thank you for your help. Now let look what the Laravel Community can do:
https://github.com/laravel/framework/issues/33733

[2020-08-02 16:05] yatsukhnenko commented on #1821
I'm going to close this issue. Feel free to open new one if you will use phpredis and have troubles with it 😀

[2020-08-02 16:05] #1821 closed, assigned to nobody

[2020-08-05 03:11] ykabps1314 opened #1822 "configure: error: Cannot find php_hash.h"
- OS:  MACOS 15.15
- PHP: 7.3.11
- phpredis: 5.3.1

issue:
`checking for hash includes... configure: error: Cannot find php_hash.h`

[2020-08-05 22:19] Diamonds0a commented on #1607
I just tested latest develop with a 3 node redis cluster in AWS with TLS. Working great!

[2020-08-12 10:43] digitalhuman commented on #1443
Same errors here.

[2020-08-12 10:42:55] local.ERROR: Redis::eval(): send of 889 bytes failed with errno=32 Broken pipe {"exception":"[object] (ErrorException(code: 0): Redis::eval(): send of 889 bytes failed with errno=32 Broken pipe at

[2020-08-13 09:13] dimovnike commented on #1600
the example is not working, the correct way to use it is:

[code]

Note the key 'stream'. Could not find this in the documentation.

[2020-08-13 11:38] yatsukhnenko commented on #1600
@dimovnike thanks! I made this example while Michael making his part related to acl. We will update documentation or maybe change api again :smile:

[2020-08-13 12:16] gabfl-confiant commented on #1600
It worked for me as provided, it might be related to the PHP version in use

[2020-08-13 12:17] gabfl commented on #1600
It worked for me as provided, it might be related to the PHP version in use

[2020-08-14 08:14] nlalexandrov commented on #1819
Ammm ... no one ?

[2020-08-14 09:20] yatsukhnenko commented on #1819
I haven't implement TLS for session yet

[2020-08-14 15:27] dimovnike commented on #1600
any idea why this client uses tlsv1 only? otherwise , the curl says it supports tlsv1.2.

[2020-08-14 16:55] yatsukhnenko commented on #1600
@dimovnike you can specify version `tlsv1.2://`

[2020-08-14 19:57] rvencu opened #1826 "Using rawCommand to send module added commands fails"
### Expected behaviour
$redis->rawCommand("set", $key . $value);
$redis->rawCommand("TRIE.INSERT", $key . $value);
both should work when these commands work OK from redis-cli

### Actual behaviour
$redis->rawCommand("set", $key, $value); works nice
$redis->rawCommand("TRIE.INSERT", $key, $value); does not work
errors start with `socket error on read socket` followed by `Connection lost` followed b

[2020-08-14 20:26] michael-grunder commented on #1826
Are you sure the Redis instance didn't crash?

I installed the module locally and had no problem interacting with its commands using `rawCommand`.  The errors you show is what I would expect if Redis crashed.

I haven't tried with the exact version of PHP you're using (5.3.1) so I'll try that over the weekend, but `rawCommand` has no custom logic at all so it doesn't make sense why it would break.

[2020-08-14 20:51] rvencu commented on #1826
While getting these errors, the redis-cli was working. But the Redis Cache Object plugin for WordPress also reported disconnection

I am not sure if it allowed to perform multiple connections through phpredis from the same session to the same Redis server though...

I will perform more tests though to check how can Redis server crash including log check

[2020-08-15 02:42] rvencu commented on #1826
Yes, these commands completely crash Redis server https://github.com/redis/redis/issues/7658

[2020-08-15 02:55] michael-grunder commented on #1826
I'd open your issue over on the [module repo](https://github.com/cmsc22000-project-2018/redis-tries/issues) since it's crashing in that code and isn't likely a problem with Redis itself.

[2020-08-15 03:38] rvencu commented on #1826
Thanks, copied it there https://github.com/cmsc22000-project-2018/redis-tries/issues/113

[2020-08-15 17:12] michael-grunder commented on #1826
Cool, I hope the issue gets sorted out.  I'm going to close this issue since it's not a bug in PhpRedis.

Edit:  Looks like the other repo was just a school project.  If you need a trie you might want to see if someone else has an implementation.  [Here's one](https://github.com/arashThr/trie-redis-module) although it doesn't seem widely used.

What functionality do you need?  [RedisLabs](https://

[2020-08-15 17:12] #1826 closed, assigned to nobody

[2020-08-17 08:47] taka-oyama commented on #1674
We are seeing this as well. Hopefully this will be in v6?

[2020-08-17 19:42] michael-grunder commented on #1822
Hi, were you able to solve this problem?

It's hard to help diagnose the problem because I no longer have a Mac and I know building software on them can be problematic (SIP protections, etc).

The first thing I'd do is make sure you have `php_hash.h` in your include path.  It seems like you should have it by default but I'm not certain on OSX.

[2020-08-17 20:42] michael-grunder commented on #1814
Closing as #1815 was merged.

I plan on totally rewriting our documentation but that's going to be a pretty big task.

[2020-08-17 20:42] #1814 closed, assigned to nobody

[2020-08-18 01:50] michael-grunder commented on #1783
I'm not sure how relaxed the typing should be here, but I updated the logic to accept a long or a numeric string, while not allowing something like this:

[code]

[2020-08-18 03:53] zhangyu-chuanmo commented on #1822
I am having the same problem

[2020-08-18 20:29] michael-grunder commented on #1822
My guess is the error is exactly what it says.  Your system doesn't have `php_hash.h` or it's not somewhere configure can find it.

[2020-08-19 00:57] axot commented on #1674
If twemproxy can abort client connection when redis server is down, then phpredis should handle correctly. Am I right about this?

[2020-08-19 06:03] taka-oyama commented on #1674
I reproduced this and noticed that twemproxy returns `-ERR Host is down` when the host is dead. As documented [here](https://github.com/twitter/twemproxy/blob/c5c725d2b45715e378909ebc909b0492591c4715/notes/recommendation.md#error-response).

So the solution @bupt1987 is not enough to fix this because `redis_error_throw` has this bit of code
[code]
and will be ignored.

@yatsukhnenko is there a rea

[2020-08-19 10:02] smallollams opened #1827 "cannot remove bad seed node from active list"
### Expected behaviour
If a node got down, it should be removed to prevent it from being accessed again the next time
### Actual behaviour
It doesn't actually appear to have been removed and is still accessible the next time, causing the connection time out
### I'm seeing this behaviour on
- phpredis:

is there any solution, thanks

[2020-08-19 11:23] yatsukhnenko commented on #1827
@smallollams could you provide more info?

[2020-08-19 13:50] Tommuh commented on #1638
**1.**
It is also possible to set session save_path in PHP before session starts.
You have to figure out on your own who the master is.

**2.**
Sentinels can execute bash scripts:
This way you can edit config files and reload PHP ...

I hope one day we will have a construct in PHP like ioredis does: https://github.com/luin/ioredis#sentinel this will make life much easier.

\+ This is also an issue

[2020-08-19 19:22] michael-grunder commented on #1674
@taka-oyama By convention PhpRedis only throws exceptions for communication errors (e.g. socket timeouts) and authentication errors.  We can't really change this until 6.0 because it would be a breaking change and I'm certain someone is relying on the fact that `-ERR host is down` from twemproxy returns false.

Also, if you think about it `-ERR host is down` isn't a Redis error.  It's a twemproxy

[2020-08-20 00:46] smallollams commented on #1827
it is mentioned in the [redis cluster document ](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#readme)
“On construction, the RedisCluster class **will iterate over the provided seed nodes until it can attain a connection** to the cluster and run CLUSTER SLOTS to map every node in the cluster locally. Once the keyspace is mapped, RedisCluster will only connect to nodes when it

[2020-08-20 11:46] rvencu commented on #1826
Thanks. I need to add words and phrases into a dictionary and then search for their existence as fast as possible. I implemented a trie class in PHP and stuffed into a trie object some 1 million terms. I can filter out from a list of terms what exists and what not pretty quickly but the generation of the trie object at every call takes about 3.4 seconds. This time is a waste at every page load. I

[2020-08-20 12:53] kemenydani opened #1828 "ERR: unknown command (for any command)"
Hello,

I just installed phpredis to my docker container (using PHP 7.4.1) as follows:

**RUN pecl install -f redis-5.3.1 && docker-php-ext-enable redis**

The connection to my redis database (redis version: 3.2.11) was successfull, but when I try to run any command I get false back. I checked $redis->getLastError(); and I found the folowing:

[code]

**Was resulting to:**

'ERR unknown command 'S

[2020-08-20 15:17] rvencu commented on #1826
In fact, the trie object I finally get is 260MB in size. I tested with all available caching mechanisms today: APCu, Memcached, Redis by trying to save and retrieve the entire object content. In most cases, it takes longer time than loading from file and unserialize the content. So I guess the Redis trie structure is actually a must now...

[2020-08-20 19:05] michael-grunder commented on #1826
Why not just use a regular `set` or `zset`?

You could also take a look at [RediSearch](https://oss.redislabs.com/redisearch/) which I think can also give you autocomplete.

[2020-08-20 20:18] rvencu commented on #1826
Regular set of the entire trie object works fine but the get still takes 3 seconds to rebuild the object in PHP session.

Thanks for the suggestion about RediSearch which shows big potential to improve on the solution. I will follow it up and see where it can take me.

[2020-08-21 04:23] taka-oyama commented on #1674
Understood.

Thank you.
It would be nice if there was an option to determine how `-ERR`s are handled (return false or throw exception).

[2020-08-21 08:34] kemenydani commented on #1828
Solved myself.

Our redis is in seninel mode, so  needed to first connect with RedisSentinel and then to the master I want to use. The solution was:

[code]

I just leave this here, maybe somebody is facing the same issue.

[2020-08-21 08:35] #1828 closed, assigned to nobody

[2020-08-21 10:21] miksir commented on #1818
Same issue.
Redis 5.3.1 Php 7.2.33, pconnect used

We got issue #1757 and we have added password to options for fix it. Right after that we got same troubles.

[2020-08-21 11:03] yatsukhnenko commented on #1818
@miksir you can try to set auth parameter in `pconnect` and not using separated `auth` method?

[2020-08-21 12:01] miksir commented on #1818
@yatsukhnenko
Two days ago we moved auth parameter to pconnect (`['auth' => $password]`) and removed auth command. Because of AUTH bug.

After this release we started to receive complains from our devs about "redis returns not that we set". This issue was confirmed - sometimes GET returns garbage (probably values of other keys). This release was reverted and our SRE  investigating it now.

[2020-08-21 12:23] yatsukhnenko commented on #1818
@miksir Have you disabled `redis.pconnect.echo_check_liveness` in your ini settings?

[2020-08-21 12:27] miksir commented on #1818
redis.pconnect.echo_check_liveness enabled

We will try echo_check_liveness, probably it can help to us even with `auth` command  because we have reconnection logic in php. Thanks

[2020-08-21 16:17] miksir commented on #1818
@yatsukhnenko just checked - we don't use `pooling_enabled`, so `echo_check_liveness` shouldn't have an effect

[2020-08-21 19:46] yatsukhnenko commented on #1818
@miksir then you should use `pooling_enabled`. It was made to fix issues like yours :smile:

[2020-08-24 06:54] ansionfor opened #1829 "Function Get(String or Bool: If key didn't exist, FALSE is returned). But my test is when the key didn't exist, NULL is return, Not FALSE"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Centos7.6
- Redis: redis v5
- PHP: php7.1
- phpredis: redis 5.3

### Steps to reproduce, backtrace or example script

$res = $redis->get('aaaaaaaaa');
var_dump($res);  // NULL, not FALSA

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2020-08-24 09:44] #1829 closed, assigned to nobody

[2020-08-26 04:31] jasminmistry commented on #1638
Finally i used haproxy with checking role:master as a healthcheck

[2020-08-26 04:31] #1638 closed

[2020-08-26 09:37] RGaius commented on #1822
me too

[2020-08-26 17:03] michael-grunder commented on #1822
We aren't going to be able to help here without more information.

Like as a starter, confirmation from someone that they do indeed have the file `php_hash.h`

[2020-08-27 02:06] RGaius commented on #1822
Maybe you don't have an /usr/include folder. MACOS 15.15 remove it

[2020-08-27 05:55] tamcy opened #1831 "XInfo() returns false if the stream is empty (contains no data)"
Consider this PHP code: `$redis->xInfo('STREAM', 's');`

Here's the current behavior of this function:
1. If stream `s` doesn't exist, the above code will return `false`.
2. If stream `s` exists, an array of the corresponding stream info will be returned.

Now consider this redis command sequence:
[code]

This will create the stream `s` with an item, followed by the deletion of that single item. O

[2020-08-27 12:14] nlalexandrov commented on #1819
I see. OK.
Thank you for your work anyway!
Any ideas what can I expect, should I implement a tunnel with some other means and pass the redis traffic through the tunnel, or wait a couple of months for this improvement to be implemented ?

[2020-08-28 06:15] yatsukhnenko commented on #1831
@tamcy could you test the patch
[code]

[2020-08-28 06:28] yatsukhnenko commented on #1827
@smallollams usually you pass list of nodes when you create RedisCluster object and phpredis doesn't know which is down until try to communicate with it. In general you should remove failing node from the list in your PHP code but you can try to enable [slot-caching](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#slot-caching) to reduce tries to connect to failure host.

[2020-08-28 06:37] yatsukhnenko commented on #1819
I guess this shouldn't be so difficult so we can do this improvement in next release

[2020-08-28 06:40] yatsukhnenko commented on #1818
@FryJay @miksir did you try to turn on `pooling_enabled` and `echo_check_liveness` INI options?

[2020-08-28 07:04] yatsukhnenko commented on #1794
@maxgu do you still face this issue? With the latest phpredis and server 6.0.6 I see following
[code]
which is correct representation of server reply
[code]

[2020-08-28 07:10] yatsukhnenko commented on #1819
#1782

[2020-08-28 07:12] yatsukhnenko commented on #1775
#1819 #1782

[2020-08-28 07:13] yatsukhnenko commented on #1769
@tillkruss @michael-grunder how will we know that command was renamed?

[2020-08-28 07:18] yatsukhnenko commented on #1749
I'm going to close this issue because it's not actually a bug.

[2020-08-28 07:18] #1749 closed

[2020-08-28 07:22] yatsukhnenko commented on #1747
@aminsshahab @elijahchancey @mzagol we added tls support fro RedisCluster, could you test it?

[2020-08-28 07:25] yatsukhnenko commented on #1744
@sofire could you provide additional information? Which version of phpredis do you use? Do you use `pconnect` and is connection pooling enabled?

[2020-08-28 08:07] sofire commented on #1744
phpredis version may be 5.2.0 or 5.2.2
redis version is 2.8.x
not use pconnect .
pooling_enabled is enabled by default.

This issue is too long time ago, and i tested the script, but  no problem.
The problem was happened at online env.
I'm not sure how to product the same error.

[2020-08-28 08:31] maxgu commented on #1794
Still `false`.

### Steps to reproduce:
1. Create Dockerfile
[code]
2. create docker-compose.yml
[code]
3. run env
[code]
4. check env
[code]
5. prepare state
[code]
6. create test script
[code]
7. run script
[code]

### Expected response:
[code]
Like redis do, see last command:
[code]

[2020-08-28 09:34] yatsukhnenko commented on #1794
php -v
[code]
php -d extension=modules/redis.so --ri redis
[code]
php -d extension=modules/redis.so index.php

[code]

cat index.php
[code]

[2020-08-28 10:03] maxgu commented on #1794
In your response
[code]
Still don't have mesasge ID
redis return it:
[code]

[2020-08-28 10:55] yatsukhnenko commented on #1794
That's because server returned
[code]

[2020-08-28 11:09] maxgu commented on #1794
Hmm.. strange, but `XREADGROUP GROUP test-group consumer COUNT 1 STREAMS test-1 0` returns message ID.
ok, maybe its redis issue.
thank you.

[2020-08-28 11:30] yatsukhnenko commented on #1794
I see empty response because of typo `consumer` -> `customer` :smile:

[2020-08-28 11:49] yatsukhnenko commented on #1794
@maxgu could you test the patch?

[code]

[2020-08-28 12:43] tamcy commented on #1831
@yatsukhnenko Thanks, `var_dump($info);` in the above test code yields the following result after applying the patch:

[code]

So I believe the issue is fixed by the patch you provided. Thanks again!

[2020-08-28 14:46] maxgu commented on #1794
I don't know how :/

[2020-08-28 15:27] tillkruss commented on #1769
I believe PhpRedis currently just ignores the returned Redis error when calling a renamed function and would throw an exception instead.

[code]

[2020-08-28 15:46] yatsukhnenko commented on #1769
Do you mean throw an exception when any unknown command error received?

[2020-08-28 15:47] tillkruss commented on #1769
Yep

[2020-08-28 16:08] yatsukhnenko commented on #1794
Replace `pecl install redis` with git clone + https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown#installation-from-sources in your Dockerfile

[2020-08-28 17:19] yatsukhnenko commented on #1831
Merged into `develop`

[2020-08-28 17:19] #1831 closed, assigned to nobody

[2020-08-29 03:59] apandre opened #1834 "PHP Startup: Unable to load dynamic library '.../redis.so' - .../redis.so: undefined sysmbol: json_globals in Unknown on line 0"
### Expected behaviour
Well expected to work after installation

### Actual behaviour
PHP Startup: Unable to load dynamic library '.../redis.so' - .../redis.so: undefined symbol: json_globals in Unknown on line 0

### I'm seeing this behaviour on
- OS: Unubtu 16.04
- Redis: 3.0.6
- PHP: 7.0.33
- phpredis: 5.3.1 (pecl install redis)

### Steps to reproduce, backtrace or example script

### I've che

[2020-08-29 05:27] remicollet commented on #1834
Review your configuration

redis extension MUST be loaded after json extension.

Most linux distro now use per extension configuration with numeric prefix to ensure load prder (ex 20-json.ini, 40--igbinary.ini, 50-redis.ini...)

Sadlly "pecl" command stupidly try to change php.ini.... and break things.

IMHO:
- build everything from sources (php and extension)
or
- install everything from distro p

[2020-08-29 16:40] yatsukhnenko commented on #1703
@michael-grunder have we already merged changes from your branch?

[2020-08-29 16:45] yatsukhnenko commented on #1685
Duplicate #1674

[2020-08-29 16:45] #1685 closed

[2020-08-29 16:49] yatsukhnenko commented on #1668
@michael-grunder we have done a lot of changes related to persistent connections and there no new issues from users. Is it time to close this issue?

[2020-08-29 16:52] yatsukhnenko commented on #1662
I'm going to close this issue. @RobinUS2 feel free to reopen it if you still see segfaults.

[2020-08-29 16:52] #1662 closed

[2020-08-29 16:54] #1654 closed

[2020-08-29 16:56] yatsukhnenko commented on #1443
@NimishKmr @digitalhuman could you provide more information?

[2020-08-29 16:57] yatsukhnenko commented on #1430
@michael-grunder wat do you think about this?

[2020-08-29 19:40] michael-grunder commented on #1430
I'm not opposed to it but don't have any current plans on implementing the functionality.

There's probably a lot of things more pressing (e.g. RESP3)

[2020-08-29 19:45] yatsukhnenko commented on #1430
OK, let's leave this issue open until you read about DNS SRV 😄

[2020-08-29 19:46] michael-grunder commented on #1703
No.  The leaks are actually non-trivial to fix.  I did get most of them in this branch though.

The good news is that they're pretty obscure/rare and don't likely occur very often.

I can revisit this to see about fixing the last ones I didn't get to yet.

[2020-08-29 21:06] omidmaldar commented on #1176
Thanks to  **andrerom** and **jbanety**
I needed to mkae some modifications. Finally this one works on my Dockerfile which is based on `php:7.3.21-fpm-alpine3.12`

[code]

[2020-08-30 08:54] pmochine opened #1835 "Getting: segmentation fault on local env. Perhaps my installation is wrong?"
So I have switched from predis to phpredis. However, I get segmentation fault errors :( I created a [thread on stackoverflow](https://stackoverflow.com/questions/63651799/changed-predis-to-phpredis-getting-segmentation-fault) but had no luck.

### I'm seeing this behaviour on
- OS:
ProductName:	Mac OS X
ProductVersion:	10.15.6
BuildVersion:	19G73
- Redis: 6.0.6
- PHP: 7.4.9
- phpredis: 5.3.1

###

[2020-08-30 09:31] yatsukhnenko commented on #1835
@pmochine could you provide backtrace for segmentation fault?

[2020-08-30 10:19] pmochine commented on #1835
@yatsukhnenko Could send me a link, how I can backtrace on a mac?
I found this https://bugs.php.net/bugs-generating-backtrace.php

However, since I'm using laravel, I'm not quite sure how to do it. Usually, I just start the unit test with `phpunit --filter RedisTest`. But I see examples that I need to do it like: `gdb --args php yourscript.php`. Since my test fails in a framework, I cannot simply

[2020-08-30 22:45] tillkruss opened #1836 "Accept `unix://` scheme"
As discussed in Slack, it would be nice if `connect()` would accept the `unix://` scheme:

[code]

Passing `0` as the port works:

[code]

[2020-08-31 14:26] #1446 closed

[2020-08-31 18:58] yatsukhnenko commented on #1794
Fix merged into `develop` branch

[2020-08-31 18:58] #1794 closed, assigned to nobody

[2020-08-31 20:07] tillkruss commented on #1836
Maybe the docs should be updated with this example?

[code]

[2020-09-01 21:04] michael-grunder commented on #1783
Closing as this has been merged.

Let me know if you're still having issues

[2020-09-01 21:04] #1783 closed, assigned to nobody

[2020-09-02 06:42] NimishKmr commented on #1443
Hi @yatsukhnenko ,
We are using redis with Magento2.2.
Redis version - 3.2.11
The error is shown in our logs, and its intermittent. But happen frequently.
What more info do you need, I am happy to share.

Regards,
Nimish

[2020-09-02 07:48] yatsukhnenko commented on #1443
@NimishKmr what version of phpredis do you use?

[2020-09-02 23:01] tillkruss commented on #1836
Related #1665 and f8f3ede.

[2020-09-03 01:18] NewZeal commented on #1822
I'm having this problem and I do have php_hash.h, see attached.  I tried installing earlier versions of phpredis and had a similar issue with php_json.h which appears in another [ticket](https://github.com/phpredis/phpredis/issues/1745).

Maybe this is a similar bug and requires a similar solution as the other ticket.[
<img width="1009" alt="Screenshot 2020-09-03 at 1 13 49 PM" src="https://user-i

[2020-09-03 04:47] MarcTCruz opened #1838 "string family should return null instead of false"
Consider following improvement:
declare(strict_types=1);
class SessionAttributes extends stdClass
{
    public string $user_id;
    public ?string $new_session_id;
    public ?string $old_session_id;
}
//instance $redis...
$attributes = new SessionAttributes;
$attributes = (object)$redis->hMGet('session_id', ['user_id', 'new_session_id', 'old_session_id']);//does not work because strings does not

[2020-09-03 16:12] dvs999 opened #1839 "Redis Sentinel Auth"
### Expected behaviour
Either a class creation parameter or an auth call

### Actual behaviour
No way to auth with Redis Sentinel when using  Class RedisSentinel

### I'm seeing this behaviour on
- OS: Centos 7
- Redis: Redis server v=6.0.6
- PHP: 7.2.10
- phpredis: 5.3.1

[2020-09-03 18:09] Diamonds0a opened #1840 "Cluster documentation doesn't include script() in list of direct node commands"
Under this link: https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#directed-node-commands

I believe the script() command should be listed.

[2020-09-06 07:46] GrahamCampbell opened #1842 "5.3.2 Release"
What's the plan for the next release? 5.3.1 no longer works with PHP 8.0. ;)

[2020-09-08 06:13] yatsukhnenko commented on #1782
@zibuyule Could you test the following patch?
[code]

[2020-09-08 06:15] yatsukhnenko commented on #1782
[code]

[2020-09-08 06:16] yatsukhnenko commented on #1819
@nlalexandrov could you test the patch from https://github.com/phpredis/phpredis/issues/1782#issuecomment-688641390

[2020-09-08 06:17] yatsukhnenko commented on #1775
@myseo @ywarnier could you test the patch from https://github.com/phpredis/phpredis/issues/1782#issuecomment-688641390

[2020-09-08 07:52] ywarnier commented on #1775
@yatsukhnenko Not in the short term. Our project ended and I would need to rebuild that cluster. Sorry. I will come back to this at some point, but probably not soon enough that it would be useful to you.

[2020-09-09 10:21] smallollams commented on #1827
thanks,i got it

[2020-09-09 10:21] #1827 closed, assigned to nobody

[2020-09-09 16:48] yatsukhnenko commented on #1842
I think we may release 5.3.2 right after PHP 8 RC1 to be sure that nothing will be broken

[2020-09-09 17:09] GrahamCampbell commented on #1842
Sounds like a plan. :)

[2020-09-11 07:03] nlalexandrov commented on #1782
Tested, looks good, works as expected.
Thank you for your work!

[2020-09-11 07:39] remicollet commented on #1842
Using 8.0.0beta3, all session tests are failing :(
[code]

[2020-09-11 08:18] cfroystad commented on #1443
We're seeing the same problem occurring for a quite small, but noticeable amout our connections.
I'm adding some details here in the hope of assisting the debugging. If any more details are required (or I'm doing something horribly wrong :) ), let me know!

Versions:
- PHP: 7.3.22
- phpredis: 5.3.1
- redis: 4

Environment:
- Redis run in a VM on Azure
- phpredis is accessed through Laravel 7 queue

[2020-09-11 08:18] remicollet commented on #1842
Test suite issue fixed by pr #1845

A minor build warning with beta3
[code]

WHich will be fixed in RC1 by https://github.com/php/php-src/commit/7be70c6bfc3143a20365c1ca27aa851d581958a0

[2020-09-12 15:20] SuperlativeEntity opened #1846 "Windows 10 PHP 7.4 DLL's"
### Expected behaviour

Find PHP 7.4 DLL's here: https://pecl.php.net/package/redis/4.0.2/windows

### Actual behaviour

Can't find PHP 7.4 DLL's

### I'm seeing this behaviour on
- OS: Windows 10
- Redis: redis-cli 5.0.7
- PHP: PHP 7.4.7
- phpredis: Needed

### Steps to reproduce, backtrace or example script

### I've checked
- [x ] There is no similar issue from other users
- [x ] Issue isn't fi

[2020-09-12 15:22] SuperlativeEntity commented on #1846
https://windows.php.net/downloads/pecl/snaps/redis/5.1.1/

[2020-09-12 15:22] #1846 closed, assigned to nobody

[2020-09-13 16:42] mis4s commented on #1842
I think the RC version has already been released https://hub.docker.com/_/php?tab=tags&page=1&name=8.0-rc

[2020-09-13 19:58] offshore opened #1847 "Segmentation fault with RedisCluster::rawCommand with BLPOP, XREAD, etc"
The title should be descriptive enough.

Assuming `$key` does not exist:
[code]

This behavior can be seen on any version and environment due to incorrect handling of redis protocol's null multibulk replies by PHPRedis: it affects any command that is replied by redis server with `"*-1\r\n"` (e.g. blocking read commands with empty result: `BLPOP`, `XREAD`, `XREADGROUP`, etc). The bug does also lead

[2020-09-13 20:04] offshore commented on #1847
FYI: https://redis.io/topics/protocol#resp-arrays

[2020-09-13 20:29] michael-grunder commented on #1847
Thanks for the PR.

I am aware of the Redis protocol specification as we handle null multi bulk responses all over phpredis (and in hiredis, which I also maintain).

It is surprising that no one has encountered this bug before though.  Using `RedisCluster` + `rawCommand()` + `MULTI..EXEC` must be quite rare otherwise we'd have seen this a long time ago.  The bug has been here for at least 5 years.

[2020-09-14 06:57] cfroystad commented on #1443
In case it might help with debugging:
We've observed this problem on platforms where connections are dropped silently after a few minutes of inactivity (for Azure, the limit is about 4 minutes). In our case (phpredis: 5.3.1, php7.3.22, redis 4) the problem went away after setting tcp-keepalive to 120 and timeout to 180 on our server, as well as setting OPT_TCP_KEEPALIVE on the client.

[2020-09-14 09:26] remicollet commented on #1842
@Viperoo no (planed for announcement on next Thursday), see "official" tags on https://github.com/php/php-src/releases

[2020-09-14 15:03] remicollet commented on #1842
@Viperoo no (planed for announcement on next Thursday), see "official" tags on https://github.com/php/php-src/releases

P.S. Docker is NOT a good source of information... and nothing "official" there (only official for them)

Edit: an additional Beta4 is planned for Sep 17th, RC1 will only be on Oct 1st

[2020-09-14 16:04] GrahamCampbell commented on #1842
The release is not official until it appears on php.net anyway, even if there is a tag on github. ;)

[2020-09-14 16:04] GrahamCampbell commented on #1842
No, that image is alpha3... They just name them like that for some reason.

[2020-09-14 16:12] mis4s commented on #1842
Thanks for the clarification :)

[2020-09-17 00:00] Blfrg commented on #1747
I ran into this exact same issue;
phpredis (Apache+php-fpm) connecting to a _rediscluster_ on AWS via container over [standard SSH] tunnel.

It is just like @aminsshahab mentioned:
Connect (successfully) via localhost but subsequent calls are routed via the cluster IPs returned by AWS.

To confirm, the phpredis version I have installed is:
[code]
This is the latest version provided from `amazonlin

[2020-09-17 10:16] offshore commented on #1847
Any chance that it would be finally merged in near future? Anything more that I can help with?

[2020-09-17 15:35] yatsukhnenko commented on #1847
I think we will fix this before next release 🙂

[2020-09-17 15:50] michael-grunder commented on #1847
The code looks good.

I'm going to get it merged but I think we need to return NULL MULTIBULK replies as empty arrays to stay consistent with the rest of PhpRedis.

NULL Is correct per the Redis specification but I think users of the library will expect empty arrays (because that's how it's handled in other methods).  We should fix this in PhpRedis 6 though as we can make breaking changes.

@yatsu

[2020-09-18 09:16] irzhywau commented on #1411
I've tried many of what suggested here but still got the same error, it's even a FATAL

php 7.0.33
redis extension: `php -r "echo phpversion('redis')"` -> `5.3.1`

I setup `session.save_path` without any option (it's on an internal network of a gke cluster)

Any clue to fix this?

[2020-09-18 12:44] miksir commented on #1818
Sorry for delay, currently we can't turn on pooling_enabled because all out team busy moving to redis cluster and did not use persist :) Is pooling_enabled affects connections to cluster too?

[2020-09-18 13:21] yatsukhnenko commented on #1847
@michael-grunder I like the idea of using `Redis::OPT_NULL_MULTIBULK_AS_NULL` option.

[2020-09-18 16:46] michael-grunder commented on #1847
OK, I'll add that to the PR and get it implemented this weekend.

[2020-09-18 17:45] yatsukhnenko commented on #1847
@michael-grunder about changes in PR, maybe we should change type of [elements](https://github.com/phpredis/phpredis/blob/develop/cluster_library.h#L328) from `size_t` to `ssize_t` to allow store `-1` as number of elements

[2020-09-18 18:31] michael-grunder commented on #1847
That also crossed my mind.

[2020-09-19 19:13] yatsukhnenko commented on #766
@michael-grunder I guess this issue isn't relevant because we [skip](https://github.com/phpredis/phpredis/blob/develop/cluster_library.c#L1085) node if can't comunicate with it

[2020-09-19 19:17] yatsukhnenko commented on #858
resolved

[2020-09-19 19:17] #858 closed

[2020-09-21 06:51] michael-grunder commented on #1847
I've got the changes implemented locally with the addition of an option that tells phpredis to return null multibulk replies as NULL.

I'll have the complete fix up tomorrow

[2020-09-21 20:38] michael-grunder commented on #1847
[Branch here](https://github.com/phpredis/phpredis/commits/issue.1847-cluster-segfault)

[2020-09-23 23:49] Blfrg commented on #1747
I still had intermittent issues with my workaround above:
RedisClusterException: Timed out attempting to find data in the correct node!

Here is a more reliable workaround using `DNAT+MASQUERADE` instead of `REDIRECT`:
[code]

When finished with your session, undo the changes:

[code]

Note: Remember to replace `1.2.3.4` with the IP(s) of your cluster.

This has been working for me without issue f

[2020-09-24 10:52] Rastusik opened #1852 "RedisCluster - eval doesn't work (The slot XXX is not covered by any node in this cluster)"
### Expected behaviour
`$cluster->eval("<<script>>");` shouldn't throw exception

### Actual behaviour
The following exception is being thrown: `The slot XXX is not covered by any node in this cluster`

### I'm seeing this behaviour on
- OS: Linux
- Redis: 5
- PHP: 7.4
- phpredis: compiled from current master branch (for debug purposes)

### Steps to reproduce, backtrace or example script
[code]

[2020-09-24 15:36] michael-grunder commented on #1852
I'm not able to replicate this.

I modified your script just to create the RedisCluster object and it executes the script just fine.

[code]

The `master` branch is much older than `develop` which is the active development branc, so it's possible a newer version of PhpRedis will work for you.  That said, this script also works just fine for me off of `master`.

Are you running your script via `cli

[2020-09-24 15:53] Rastusik commented on #1852
I'm sorry, I just realised that there is a problem on my side. But I realised that after reading your reply, so thank you for looking into this :)

[2020-09-24 15:53] #1852 closed, assigned to nobody

[2020-09-27 18:36] yatsukhnenko commented on #1839
@dvs999 could you test changes from `issue-1839` branch?

[2020-09-28 19:48] michael-grunder commented on #1847
Closed via #1850

Feel free to reopen the issue if you encounter issues with the fix.

[2020-09-28 19:48] #1847 closed, assigned to michael-grunder

[2020-10-04 14:16] andypost commented on #1842
Maybe it's time to make release?

[2020-10-05 08:22] yatsukhnenko commented on #1842
I'm waiting until session tests fixe (travis ci should updates php8 to rc1)

[2020-10-05 19:50] hopeseekr opened #1855 "Successfully integrated phpredis-master into phpexperts/dockerize-php8"
This is letting you know that I’ve successfully integrated your master branch into the dockerize-php build process for PHP v8.0’s prelease builds.

See https://github.com/PHPExpertsInc/dockerize-php/pull/11/commits/5f0c8e596cdc30f4e5beb5d2789a466a6539241d

This is undoubtedly one of the most effortless ways to test Redis Master on PHP v8.0 RC1.

Simply go into any existing project and type:

    c

[2020-10-07 08:12] yatsukhnenko commented on #1842
I'll prepare release today

[2020-10-07 08:49] yatsukhnenko commented on #1855
Amazing work

[2020-10-07 08:49] #1855 closed, assigned to nobody

[2020-10-07 12:02] yatsukhnenko commented on #1842
https://pecl.php.net/package/redis/5.3.2RC1
https://github.com/phpredis/phpredis/releases/tag/5.3.2RC1

[2020-10-07 16:04] victory7 commented on #1664
I have the same issue with PHP 7.4.11 and phpredis 5.3.1
TCP connection works well but socket connection returns "no such file or directory" error exception.
I tried many types of paths like with or without port number or with "unix://" or not and no luck.

[2020-10-07 16:34] yatsukhnenko commented on #1664
@victory7 did you specify relative path?
`unix:///run/redis.sock` works for me

[2020-10-07 17:20] victory7 commented on #1664
Yes I tried both relative and full paths.
/tmp/redis.sock
unix:///tmp/redis.sock
unix:/tmp/redis.sock

None of them didn't work for me!

[2020-10-08 07:42] rami1973 commented on #1682
how we can install redis and enable extension on debian for php 7.4

[2020-10-08 17:25] yatsukhnenko commented on #1664
@victory7 https://github.com/phpredis/phpredis/issues/1836

[2020-10-08 18:18] michael-grunder commented on #1682
You shouldn't need to do anything special.

You can install with `sudo apt install php-redis`.  You could also use `pecl` or build from source.

[2020-10-10 10:59] noahyao1024 opened #1856 "Sometimes {auth} command is very slow on persistant connection?"
### Expected behaviour
Maybe 10ms less

### Actual behaviour
200ms more

### I'm seeing this behaviour on
- OS: CentOS Linux release 7.5.1804
- Redis: 4.0.11
- PHP: 7.2.11
- phpredis: 4.1.1

### Steps to reproduce, backtrace or example script
See my picture

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2020-10-10 10:59] noahyao1024 commented on #1856
![redis-stack](https://user-images.githubusercontent.com/5462235/95653351-b8afe800-0b2a-11eb-9bc4-58357e8deecd.jpg)

[2020-10-10 17:35] yatsukhnenko commented on #1856
@morysky how can it be that `__construct` is called after `pconnect`?

[2020-10-11 11:37] noahyao1024 commented on #1856
[code]

I Have check the code seems alright， maybe PHPStorm order error?

[2020-10-11 19:41] yatsukhnenko commented on #1856
There were a lot of changes since 4.1.1, could you test the latest version of phpredis?

[2020-10-12 04:15] noahyao1024 commented on #1856
Thanks, I will try it :)

[2020-10-12 04:16] noahyao1024 commented on #1856
Maybe this it is caused by network issues? What I dont understand is why {auth} command is slowing, not {pconnect}.

[2020-10-12 05:40] diannaojiang opened #1857 "PHP 8 RC1 make failed"
- OS: Centos 8
- Redis:5.0.3-2
- PHP:8.0.0~rc1-34.el8
- phpredis:5.3.2RC1

libtool: compile:  cc -I. -I/usr/local/src/phpredis -DPHP_ATOM_INC -I/usr/local/src/phpredis/include -I/usr/local/src/phpredis/main -I/usr/local/src/phpredis -I/opt/remi/php80/root/usr/include/php -I/opt/remi/php80/root/usr/include/php/main -I/opt/remi/php80/root/usr/include/php/TSRM -I/opt/remi/php80/root/usr/include/php/Z

[2020-10-12 06:37] remicollet commented on #1857
If you use php from my repository, you should also use extension from my repo ;)

BTW, looks like a merge message...

[2020-10-12 06:51] remicollet commented on #1857
BTW, from which sources or branch are you trying to build ?

[2020-10-12 07:03] yatsukhnenko commented on #1856
I'm not sure why this can happens. Do you see anything in slowlog on the server?

[2020-10-12 13:01] diannaojiang commented on #1857
Because remi repo don't have phpredis for php80.
And i build from https://github.com/phpredis/phpredis/tree/master   master branch

[2020-10-12 13:55] remicollet commented on #1857
Of course it have it (since version 2 in 2012...), as most of extensions:
https://blog.remirepo.net/pages/PECL-extensions-RPM-status
So
SCL packages: https://rpms.remirepo.net/enterprise/8/safe/x86_64/repoview/php80-php-pecl-redis5.html
Or
Modular stream: https://rpms.remirepo.net/enterprise/8/php80/x86_64/repoview/php-pecl-redis5.html

[2020-10-12 14:02] diannaojiang commented on #1857
very thanks. got it!

[2020-10-12 14:03] #1857 closed, assigned to nobody

[2020-10-13 04:02] noahyao1024 commented on #1856
I am using XDebug at develop env to repeat this Redis slow stuff, I have the full cachegrind file. :)

[2020-10-13 07:14] tradzero commented on #1835
same problem when use laravel's Redis Facade

[2020-10-13 10:26] meanevo commented on #1835
+1 for having this issue.
env: phpredis 5.3.1 on macos 10.15.7

As @pmochine mentioned, I followed the Laravel facade code and find out that the way it used to calling phpredis.
`Redis::set('test', 123456, 'EX', '60')` is being translated into `$client->set('test', 123456, [null, 'EX' => 60])`, and calling this method manually also rises an segfault.
**Note the third argument's first element, is b

[2020-10-13 11:09] michael-grunder commented on #1835
Hi, I was just randomly awake when I saw this message and put together a quick fix.

I'll go over it in the morning when I'm not so sleepy and get it merged.

Thanks for the backtrace, that made it very easy to replicate!

[2020-10-13 20:08] michael-grunder commented on #1835
Closing, as this should be fixed via #1859.

Please let us know if you still encounter issues as we're going to release 5.3.2 soon.

[2020-10-13 20:08] #1835 closed, assigned to nobody

[2020-10-14 18:58] merlinthemagic commented on #1728
I am using this extension, but had to roll my own socket just for the pub/sub. This being a PHP extension i assume many are using it to maintain bi-directional sync to some frontend object model. Would be nice to have native support for servicing other requests and not hang blocked on subscriptions.

@michael-grunder Can you expand a bit on why this would be a non-trivial change? I would dig into

[2020-10-14 20:17] michael-grunder commented on #1728
Hi @merlinthemagic,

I haven't taken a deep look at how specifically to tackle non-blocking functionality in PhpRedis, but it's non-trivial by nature.  There would need to be some way to either hook into PHP's event loop or into a third party one ([possibly using the libev extension](https://github.com/m4rw3r/php-libev)).

I do think it's worth looking at for PhpRedis 6 since we're already going t

[2020-10-15 03:34] noahyao1024 commented on #1856
@yatsukhnenko Hello my dear author, I reduce the timeout parameter at product env, but it does not work as my expect. I set up to [0.05](50ms), But it still exceeded at 300ms and more. Maybe I should set [read timeout] or other stuff?

And I noticed this
` /* TODO: configurable max retry count */
    for (count = 0; count < 10; ++count) `,
 maybe retrying logic here cause that?

[2020-10-15 09:41] victory7 commented on #1664
My problem solved.
The issue was the different (unique) tmp directories for each service. Described here:
https://serverfault.com/questions/463993/nginx-unix-domain-socket-error/464025#464025

So easily I changed "unixsocket" value to "/var/run/redis/redis.sock" and now PHP can find socket file and connection established successfully.

[2020-10-15 10:34] lyrixx commented on #1728
Maybe, we should have a look at pcntl, and see how this extension is implemented. Because it support some "interuption"

[2020-10-15 20:45] rmarmitt opened #1860 "Disable TTL reset on requests"
Hey guys,

I have an application with Codeigniter 3.1.11 and start to store session in Redis, but my login page allows user to define "expiration time" (eg end of day, end of week or never).

The cookie on browser looks good, with right expiration time.

Problem is, after each request to Redis get session info, the TTL of key is reseted to 1440 seconds (from php.ini session.gc_maxlifetime = 1440).

[2020-10-15 21:56] rmarmitt commented on #1860
I think if session.gc_maxlifetime is set to -1, session shouldn't expire on Redis, and gargabe colector could run based on idletime of key, for example. Idk

[2020-10-17 11:18] Jack7244 opened #1861 "Compiling Imagick failed"
/soft/php/imagick-3.4.4RC2/imagick_file.c:22:
/soft/php/imagick-3.4.4RC2/php_imagick_file.h:61:108: error: expected ‘;’, ‘,’ or ‘)’ before ‘TSRMLS_DC’
 d_bool php_imagick_file_init(struct php_imagick_file_t *file, const char *filename, size_t filename_len TSRMLS_DC);
                                                                                                         ^~~~~~~~~

/soft/php/imagic

[2020-10-17 13:16] yatsukhnenko commented on #1861
@Jack7244 wrong repository 😄

[2020-10-17 13:16] #1861 closed, assigned to nobody

[2020-10-19 21:28] amfleurke commented on #1138
There is no sentinel support in the php session handler and there is no 'redissentinel' handler. There is 'rediscluster' handler. Tallstop seems to specify 'redis' instead of 'rediscluster', although he uses rediscluster parameters to the save_path

For HA, we still need a retry&reconnect mechanism to wait till master is back up and start session without causing errors.

[2020-10-19 21:31] amfleurke opened #1862 "Sentinel session handler"
The redis session handler does not support sentinel. It is not usable for High Availability.

Add sentinel support with a retry mechanism when master dies till slave is promoted to master.

[2020-10-19 21:41] amfleurke opened #1863 "Add retry mechanism to redis session handler"
When 'redis' session handler encounters a connection problem (e.g. master node down), it will throw an error and stop.

In case you are trying to get HA using e.g. Redis Sentinel and HAProxy in front), it is needed that redis session handler keeps trying to set up a new socket/connection till the master is reachable (or till a max retries is done).

Of course, when Sentinel support for the session

[2020-10-20 18:16] Diamonds0a opened #1864 "RedisCluster: Couldn't map cluster keyspace using any provided seed. Redis->connect works"
I have a local redis cluster running (note that an IP is not provided in CLUSTER SLOTS, is this normal?):
[code]

With the following PHP script:
[code]

I can connect to it directly using Redis->connect(). However RedisCluster() generates an error.

This is the output of the script:
[code]

PHP Info:
Redis Support | enabled
Redis Version | 5.3.2RC2
Redis Sentinel Version | 0.1
Available serializer

[2020-10-20 20:55] Diamonds0a commented on #1864
I've tried using the ./test/make-cluster.sh script to make redis, and it fails in the same way:
[code]

The Script:
[code]

Output:
[code]

[2020-10-20 21:16] vapongit opened #1865 "Sorted sets: score precision loss"
The results of ZADD command execution through redis-cli and phpredis are different.
Example:
- redis-cli:
[code]
- php code:
[code]
output:
[code]
Also redis-cli monitor shows a command generated by phpredis:
`"ZADD" "SET_NAME" "1.2199283400116e+16" "KEY_NAME"`

A possible cause of precision loss:
- redis code uses "%.17g" sprintf format for doubles, see [src/networking.c:607](https://github.com/r

[2020-10-20 21:55] Diamonds0a commented on #1864
I found how how to get it to work, but I still have a problem.

If I remove $options from the new \RedisCluster() call, then it will connect. However, I eventually want this to use TLS, which requires the $options array yes? Having $options be null or empty array causes errors.

[2020-10-20 22:22] michael-grunder commented on #1864
Hi @Diamonds0a,

I only scanned the logic quickly but I think this is a bug.  That said, I believe you will be able to connect with TLS using the options array.  The issue appears to be erroneously setting "ssl://" as the URL scheme if any options are passed at all.

The specific line is here:

[code]

When options are passed at all `redis_sock->stream_ctx` is non-null, even though it's not set to

[2020-10-20 22:42] michael-grunder commented on #1865
Thanks for the report.

It does look like the issue has to do with `%.16g` vs `%.17g`.

I'm certain we picked `%.16g` because that's what Redis was using, but I'm only seeing `%.17g` in Redis' git history.  :shrug:

[2020-10-21 14:52] yatsukhnenko commented on #1864
@michael-grunder I don't know is this a bug because if you want to use TLS you need to specify stream context options array. Empty array may be used if you don't want to change any default settings.

[2020-10-21 15:19] yatsukhnenko commented on #1864
I think we may allow `$options` to be passed as `NULL`

[2020-10-21 17:28] Diamonds0a opened #1866 "Why no test for Redis_Cluster_Test::testTlsConnect()?"
Hi, I'm asking that a test be written for Redis_Cluster_Test::testTlsConnect(). Curious why it is skipped.

[2020-10-22 08:48] yatsukhnenko commented on #1865
Fixed in 5.3.2

[2020-10-22 08:48] #1865 closed, assigned to michael-grunder

[2020-10-22 08:49] yatsukhnenko commented on #1864
@Diamonds0a could you test 5.3.2? Issue should be fixed

[2020-10-22 08:50] yatsukhnenko commented on #1842
https://pecl.php.net/package/redis/5.3.2
https://github.com/phpredis/phpredis/releases/tag/5.3.2

[2020-10-22 08:51] yatsukhnenko commented on #1842
Feel free to open issues if something doesn't work right

[2020-10-22 08:51] #1842 closed, assigned to nobody

[2020-10-22 08:51] yatsukhnenko commented on #1839
Fixed in 5.3.2

[2020-10-22 08:51] #1839 closed, assigned to nobody

[2020-10-22 08:52] yatsukhnenko commented on #1819
Fixed in 5.3.2

[2020-10-22 08:52] #1819 closed, assigned to nobody

[2020-10-22 08:53] yatsukhnenko commented on #1782
Fixed in 5.3.2

[2020-10-22 08:53] #1782 closed, assigned to nobody

[2020-10-22 08:54] yatsukhnenko commented on #1775
Fixed in 5.3.2

[2020-10-22 08:54] #1775 closed, assigned to nobody

[2020-10-22 16:21] SammyK opened #1869 "[PHP 8] Arginfo / zpp mismatch during call of Redis::decr()"
### Expected behaviour

Hello! It looks like there are a few places where the [arginfo](https://github.com/phpredis/phpredis/blob/950e8de/redis.c#L171-L173) (i.e. [`Redis::decr()`](https://github.com/phpredis/phpredis/blob/950e8de/redis.c#L281)) and [ZPP](https://github.com/phpredis/phpredis/blob/514bc37102c08c1ba7222212b125390f34c35803/redis_commands.c#L1497-L1498) do not match up which now cause

[2020-10-22 16:23] Diamonds0a commented on #1864
Works.

[2020-10-22 16:34] Diamonds0a commented on #1864
FYI I think $redis->connect($host, $port, 5, null, 0, 0, $options); has the same problem. When $options is null.

[2020-10-22 16:41] yatsukhnenko commented on #1864
@Diamonds0a thanks

[2020-10-22 16:41] #1864 closed, assigned to nobody

[2020-10-22 20:26] Diamonds0a opened #1870 "Redis single node cluster, RedisCluster() gives Can't communicate with any node in the cluster"
Not 100% certain this is caused by the single node setup. Here's what is going on.

On my local, a single node redis-server cluster setup.

Here is my redis config (the relevant ones):
[code]

Run the single redis-server instance and setup slots with this shell command:
[code]

Verifying the cluster:
[code]

A test script is able to connect using Redis::connect() just fine, but RedisCluster() cann

[2020-10-26 13:56] nesk opened #1871 "Impossible to decorate a RedisCluster instance"
### Context

I would like to decorate a `RedisCluster` instance. The decorator would only act as a proxy and measure the time spent in some specific methods.

I already did this for the `Redis` class. Since there are no interfaces available, I had to create a decorator which inherits from the `Redis` class but acts as a proxy for another instance:

[code]

This allows me to wrap the `Redis` instan

[2020-10-26 17:44] blasto333 opened #1872 "session handling data loss after redirect (intermittent)"
### Expected + actual behaviour
I am setting session data and then redirecting to another page. Once in awhile the session data does NOT persist. The new data is NOT saved but the old data is still there. I am using session locking and I have adding logging to my code to verify it is there before I redirect and then the new data is missing after redirect. I use a 303 redirect and call exit right a

[2020-10-28 05:44] hanhuizhu commented on #1822
anyone has resolve is ?

[2020-10-28 10:13] Huggyduggy commented on #1870
Same for us since upgrading to 5.3.2.

`Can't communicate with any node in the cluster
RedisCluster::get(): SSL: Handshake timed out`

Note: We're not using SSL for redis cluster connection. We'll revert back to 5.3.1.

[2020-10-28 12:56] mowny commented on #70
Is this for all sockets or just tcp?
Because we're using unix socket /var/run/redis/redis.sock and still get `PHP Fatal error:  Uncaught RedisException: read error on connection` sporadically

[2020-10-28 14:03] telkins opened #1873 "`zadd` can't fail, it seems, and will add invalid scores as `0`..."
### Expected behaviour
[code]

`zadd` should return `0` if nothing was added, and since an invalid value was passed in, one would expect nothing to be added and the return value to be `0`, per the documentation (https://github.com/phpredis/phpredis#zadd):

### Actual behaviour
Using the same code as above, `$result` is actually `1`:
[code]

Output:
[code]

Not only is the return value unexpected,

[2020-10-28 14:13] telkins commented on #1873
I guess I'm realizing that perhaps this is by design...? 🤔

Is it meant to **always** force whatever is passed as the score, which is why "invalid data" is converted to `"0"`...?

If this is the case, then I suppose there's no real issue.  If it **always** attempts to add the score and it's either added or not, depending on whether or not the entry already exists, then this can be closed.

I guess

[2020-10-28 15:25] yatsukhnenko commented on #1870
@Huggyduggy phpredis uses ssl only if you specify stream context options when creating `RedisCluster` object

[2020-10-28 15:31] Huggyduggy commented on #1870
@yatsukhnenko which we do not. Below laravel config works fine for phpredis 5.3.1, but will break at 5.3.2 due to above error. REDIS_SCHEME is not set by any of our environments, so fallback to TCP occurs.

[code]

[2020-10-28 15:43] yatsukhnenko commented on #1870
@Huggyduggy for `RedisCluster` you can't specify scheme, it appended automatically. May be laravel adds empty options array?

[2020-10-28 16:00] yatsukhnenko commented on #1873
Currently we just [expect](https://github.com/phpredis/phpredis/blob/develop/redis_commands.c#L2678) that score is correct but not check it.

[2020-10-28 16:04] Huggyduggy commented on #1870
Could be, but why should this behaviour differ wether we use phpredis 5.3.1 or 5.3.2 with 100% same codebase? I'm running the same source on 2 different Dockerfiles, one with phpredis 5.3.1 and one with 5.3.2. As the changelog suggests changes to TLS-context, I would have guessed that maybe there was a breaking change?

Anyhow - I'm anything but fluent in C, so I'm hardly able to debug the error.

[2020-10-28 16:08] yatsukhnenko commented on #1870
Could you test phpredis without laravel wrapper?

[2020-10-28 16:11] yatsukhnenko commented on #1870
We added ability to use ssl for the cluster in 5.3.2 which is disabled until you don't set stream context options

[2020-10-28 16:29] Huggyduggy commented on #1870
@yatsukhnenko works fine using 5.3.2:

[code]

As this also affects @Diamonds0a , who isn't using laravel wrapper - I would not yet open an issue within laravel?

[2020-10-28 16:57] yatsukhnenko commented on #1870
@Huggyduggy your test shows that phpredis doesn't have problems with communication with cluster so @Diamonds0a 's problem have something which I don't see  right now

[2020-10-28 17:06] telkins commented on #1873
@yatsukhnenko Thx.  So, it seems that `zadd` will try to add whatever score is passed in and the return value is simply based on whether or not a new entry was created.  Is this correct?

If my understanding is correct, then is there any reason to keep this issue open...?

[2020-10-28 17:20] yatsukhnenko commented on #1873
Let's ask @michael-grunder do we need to check score value and return error if it is incorrect or just document current behaviour?

[2020-10-28 17:30] Huggyduggy commented on #1870
Very well - may I ask you to point out what - in your opinion - would be the most likely reason for laravel to fail with 5.3.2? Just so that the laravel-devs can figure it out more quickly, chances are you know phpredis better than they do. I'd then create an issue within laravel/framework and refer to this issue?

(Thank you for developing phpredis, Pavlo!)

[2020-10-28 17:31] michael-grunder commented on #1873
I think it's probably a bug accept something like this as valid:

[code]

But I'm certain we have people now relying on the behavior.  Perhaps we could start compiling these sorts of issues for breakage with v6.0.0?  I want to break a bunch of stuff :smile:

[2020-10-28 17:39] yatsukhnenko commented on #1873
I agree that we should fix issues like this and don't look around to compatibility since new major release allows us to break things

[2020-10-28 17:46] michael-grunder commented on #1870
My guess is we're being passed an empty context array (in which case PhpRedis will try SSL)

[code]

@yatsukhnenko This is what I thought might cause confusion.  I'm not sure what the _right_ solution is though.

[2020-10-28 17:48] yatsukhnenko commented on #1870
@michael-grunder right solution is pass `null` or don't pass last argument at all 😀

[2020-10-28 20:54] telkins commented on #1873
@yatsukhnenko @michael-grunder

Thx...!  I'll just leave this open, then, since there's value for later versions.

Just a note, I think predis actually throws an exception when it receives invalid input.  But, both libraries are different in what they consider to be valid...at least according to my tests.  (I was first using predis for a package before switching to phpredis...otherwise I might not

[2020-10-29 13:06] Huggyduggy commented on #1870
Laravel was already aware of this issue and will provide a patch today :-) Thanks, both of you!

[2020-10-29 13:42] themsaid commented on #1870
Laravel v8.12.0 was released along with a fix. This issue can be closed.

[2020-10-29 13:46] Huggyduggy commented on #1870
OP wasn't mentioning laravel, I've just hijacked this issue as I thought it was phpredis related.

[2020-10-30 07:42] ghost opened #1875 "Wrong result with SERIALIZER_MSGPACK"
### Expected behaviour
Redis::SERIALIZER_MSGPACK Can't used in hIncrBy
### Actual behaviour

### I'm seeing this behaviour on
- OS: CentOS 8.2 64Bit
- Redis: redis-6.0.9
- PHP: php-7.4.12
- phpredis: redis-5.3.2

### Steps to reproduce, backtrace or example script
`$o = new Redis();
$o->connect('/tmp/redis.sock', null, 1);
$o->setOption(Redis::OPT_SERIALIZER, Redis::SERIALIZER_MSGPACK);

$key = 'k

[2020-10-30 13:12] yatsukhnenko commented on #1875
What do you mean by `Wrong result`?

[2020-10-31 14:06] jubry opened #1876 "Legacy master branch is missing ?"
### Expected behaviour
One of our project rely on a legacy resource of phpredis.
We are downloading this dependencies from the following URI:

https://codeload.github.com/phpredis/phpredis/legacy.zip/master

### Actual behaviour

This URI point to a 404 not found github message.
The branch develop (https://codeload.github.com/phpredis/phpredis/legacy.zip/develop) is still working.

### I'm seeing

[2020-10-31 19:42] michael-grunder commented on #1876
Hi @jubry,

We removed the branch because we don't use it in the traditional sense (e.g. to specify the current "stable" release) so it was always out of date and a bit misleading.

It looks like the branch pointed to something near 5.2.1 before it's possible that my local copy is out of date.

Do you think you could instead pull from one of our tags?

[2020-10-31 21:28] jubry commented on #1876
Hello @michael-grunder,

Thanks a lot for you reactivity and the clear and efficient answer.

Pointing directly to the tag 5.2.1 is working using the following link:
https://codeload.github.com/phpredis/phpredis/legacy.zip/5.2.1

I hope this could help others.

Thanks again and happy halloween.

Reggards,

Julien

[2020-10-31 21:28] #1876 closed, assigned to nobody

[2020-11-06 06:53] flyflyhe opened #1877 "pconnect on 5.3.2 connect multiple times"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Linux version 3.10.0-1127.10.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) ) #1 SMP Wed Jun 3 14:28:03 UTC 2020
- Redis:3.2.12
- PHP: 7.2.31
- phpredis:5.3.2

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar iss

[2020-11-06 06:58] flyflyhe commented on #1877
$redis = new \Redis();
$redis->pconnect('127.0.0.1', 6379, null, null, 0, null);
$redis->select(0);
$redis->set('aaa', 1);

echo $redis->get('aaa');

$redis2 = new \Redis();
$redis2->pconnect('127.0.0.1', 6379, null, null, 0, null);
$redis2->select(2);
$redis2->set('aaa', 2);

echo $redis->get('aaa');
echo $redis2->get('aaa');
//stdout 112 ; on 4.2.0 stdout 122

[2020-11-06 07:02] flyflyhe commented on #1877
strace log
socket(AF_INET6, SOCK_DGRAM, IPPROTO_IP) = 3
close(3)                                = 0
socket(AF_INET, SOCK_STREAM, IPPROTO_IP) = 3
fcntl(3, F_GETFL)                       = 0x2 (flags O_RDWR)
fcntl(3, F_SETFL, O_RDWR|O_NONBLOCK)    = 0
connect(3, {sa_family=AF_INET, sin_port=htons(6379), sin_addr=inet_addr("127.0.0.1")}, 16) = -1 EINPROGRESS (操作现在正在进行)
poll([{fd=3, events=POLLIN|POLL

[2020-11-06 07:08] yatsukhnenko commented on #1877
@flyflyhe opening multiple connections with `pconnect` is correct behavior when you make them in one script without calling `close`
EDIT: calling `close` from script will actually close the connection so you need to `unset` object so connection will be returned to pool in destructor

[2020-11-09 08:30] bilias opened #1878 "counting active sessions"
Hi,
I have a web application running on:
CentOS7
redis-3.2.12-2.el7.x86_64
php-pecl-redis5-5.3.2-1.el7.remi.7.3.x86_64
php-7.3.24-1.el7.remi.x86_64
fpm with php_value[session.gc_maxlifetime]  = 7200

I'm trying to count the active sessions (key ttl < 600 sec) using the code from https://github.com/phpredis/phpredis#scan
The problem is that I see spikes that are not normal. I see huge spikes (almos

[2020-11-09 14:24] guycalledseven commented on #1733
If I issue `$redis->close()`, it returns true.
If then I check with `$redis->isConnected()` and it still reports - true.

So is this a feature or a bug? 🧐

[2020-11-09 14:42] yatsukhnenko commented on #1733
@guycalledseven looks like a bug, it should return `false` after closing connection.

[2020-11-10 09:26] danilopolani commented on #1176
The following code with `pecl bundle` is **not working** to me on PHP7.4-fpm alpine:

[code]

This just says that `usr/local/bin/docker-php-ext-configure` cannot use `redis` as ext-name because is not in their allowed values, although you just used bundle.

Instead, the code from @omidmaldar is working perfectly.

[2020-11-11 16:58] #1877 closed, assigned to nobody

[2020-11-11 16:58] #1875 closed, assigned to nobody

[2020-11-13 10:36] lencell opened #1879 "Add username support for auth in rediscluster handler"
Hi,

this is more of a feature/improvement request than a bug report, i was wondering if it would be possible to add username support in the rediscluster session handler(https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#sessionsave_path the "auth" parameter) in the same way that it is supported for the redis session handler(https://github.com/phpredis/phpredis#php-session-handler

[2020-11-13 16:00] Miloud-H opened #1880 "TLS - Certificate verify failed"
### Expected behaviour
Connect to redis with tls successfully

### Actual behaviour
When I try to connect to my redis server with tls it produces this exception :

error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed in /tmp/test.php on line 12
PHP Warning:  Redis::connect(): Failed to enable crypto in /tmp/test.php on line 12

Related to #1600 I tried with paramete

[2020-11-13 16:20] yatsukhnenko commented on #1880
@Miloud-H did you try to set options like this https://github.com/phpredis/phpredis/issues/1600#issuecomment-673362758 ?

[2020-11-13 16:22] yatsukhnenko commented on #1879
It should not be difficult, I'll try to look on it this weekend

[2020-11-13 17:44] yatsukhnenko commented on #1879
@lencell it looks like we've already added it to 5.3.2 https://github.com/phpredis/phpredis/blob/develop/redis_session.c#L892

[2020-11-13 18:34] lencell commented on #1879
Thank you for your answer, it's weird because I'm pretty sure I tried with 5.3.2 and had the issue, if it's ok with you I will check my php redis version and reproduce it again and send you more information, could you confirm I'm using the right syntax for it and that I'm not just doing it wrong ?

[2020-11-13 18:59] yatsukhnenko commented on #1879
session.save_path looks good, you can also try to use `auth[username]=username&auth[password]=password`

[2020-11-13 19:07] lencell commented on #1879
Ok thanks to your answers I fixed what i had wrong, I just tried again, it worked with

If it can help anyone else not make the same mistake as me I guess you could put in the documentation that the user should have access to the "cluster" command or else it will not be able to map the clusterspace (I know it seems obvious now...), especially if you're like me and you for example removed the @admi

[2020-11-13 19:07] #1879 closed, assigned to nobody

[2020-11-15 14:31] kanidjar opened #1881 "pconnect: Operation now in progress"
Hi,

We are using PHPRedis with Laravel. We push jobs into Redis and our workers pop jobs from it.

Our workers are long running processes which are not supposed to be restarted.

99% of our jobs are popped successfully. However, we sometimes face the following issue when trying to establish the connection, using pconnect:

[code]

### I'm seeing this behaviour on
- OS: Ubuntu-18.04.1
- Redis: 4.0

[2020-11-16 15:21] carltondickson opened #1883 "retry_interval behaviour"
This is more of a question about the `retry_interval` option.

Am I correct in thinking this will try a max of 10 times?
https://github.com/phpredis/phpredis/blob/ba4d3ba80c47cac2ec42f2ac1d30d97bf0644957/library.c#L337

[2020-11-16 16:32] yatsukhnenko commented on #1883
@carltondickson you are right

[2020-11-16 17:23] carltondickson commented on #1883
Thanks

[2020-11-16 17:23] #1883 closed, assigned to nobody

[2020-11-19 02:35] luolaifa000 commented on #1873
so, we should throw RedisException when it receives invalid input  ?

[2020-11-19 07:54] yatsukhnenko commented on #1873
@luolaifa000 currently we [report an error](https://github.com/phpredis/phpredis/blob/develop/redis_commands.c#L2690)

[2020-11-20 17:24] yatsukhnenko commented on #1873
@telkins could you test `develop` branch?

[2020-11-23 06:36] ajinisi opened #1884 "hMGet doc has a wrong example"
### Expected behaviour
Based on the practical use and the source code, it should be
[code]
### Actual behaviour
According to the [hMGet doc](https://github.com/phpredis/phpredis#hmget)：
[code]
### I'm seeing this behaviour on
- OS: Linux
- Redis:4.0
- PHP:7.0

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2020-11-23 08:52] yatsukhnenko commented on #1884
It works for me as described in documentation
[code]
[code]

[2020-11-23 10:03] #1884 closed, assigned to nobody

[2020-11-23 10:19] ajinisi commented on #1884
Sorry, I confused the phpredis/phpredis with the laravel/framework. laravel/framework use 'array_values' to handle the return value. @yatsukhnenko Thanks!

[2020-11-24 11:36] hsleewis commented on #1822
Same issue when trying to install phpredis on a MacBook Air with a M1 processor.

[2020-11-24 16:33] michael-grunder commented on #1881
I've never seen that error before.

Generally `EINPROGRESS` happens in the context of a non-blocking socket, but PhpRedis doesn't do non-blocking sockets.

[2020-11-26 09:36] kanidjar commented on #1881
Is there something I can provide you with in order to investigate? We are still having this issue occurring everyday.

[2020-11-26 15:18] sefai commented on #1840
I've been struggling with this whole day, I wish I've seen your message earlier.

[2020-11-27 09:05] kanidjar commented on #1881
Here are some information about the execution context:

- This error seems to occur only with our workers
- Our apps run on a Kubernetes cluster: a pod contains one container which executes one worker (php, long-running process) and one wep-app (nginx + php-fpm).
- We use the same Laravel configuration for our workers and our web apps (both use Redis persistent connections)
- Thread-safety is disa

[2020-11-28 00:14] michael-grunder commented on #1881
An exact call stack and the output for the Redis extension via either `phpinfo()`  `$php --ri redis` would be useful.

If the error is coming from PhpRedis (and not a user-land PHP wrapper) I it must be coming from `php_stream_xport_create` via the `eptr` argument, which we then pass back to the caller.

https://github.com/phpredis/phpredis/blob/a09b65b15d5e3c946aacedbaa61ef0c0b2d06105/library.c#L

[2020-11-28 07:26] kanidjar commented on #1881
Here it is:

[code]

[code]

Exception:

[code]

[2020-11-28 07:51] kanidjar commented on #1881
"CLIENT LIST" command (sample):

[code]

[2020-11-28 08:59] lszymkowiak opened #1885 "When there will be release of Windows DLL for PHP 8.0?"
### Expected behaviour

Find DLL for PHP 8.0

### Actual behaviour

No DLL for PHP 8.0

### I'm seeing this behaviour on
- OS: Windows
- Redis:
- PHP: 8.0
- phpredis: 5.3.2

### Steps to reproduce, backtrace or example script

Visit https://pecl.php.net/package/redis/5.3.2/windows

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2020-11-28 10:46] sefai opened #1886 "EVAL command does not work with an associative array in $args array"
### Expected behaviour
**value** correctly serialized in command and set in redis
### Actual behaviour
**value** is not serialized and set in redis
### I'm seeing this behaviour on
- OS: macOs 11.0.01
- Redis: redis 6.0.9
- PHP: 7.4
- phpredis:

Redis Support => enabled
Redis Version => 5.3.2
Redis Sentinel Version => 0.1
Git revision => $Id: 32564e5b463441880c3d53a2d5c8d5eeec7128cf $
Available se

[2020-11-28 11:27] kanidjar commented on #1881
I have done some investigations and there is no issue with PHP-FPM, the connections are persisted until the child process is killed.

The issue is with PHP, used by our workers and launched with a command-line.

[2020-11-28 11:45] yatsukhnenko commented on #1885
@remicollet may knows is there any plans to make dll for PHP 8 for all extensions on pecl?

[2020-11-28 11:48] yatsukhnenko commented on #1881
@kanidjar try to use non-zero timeout values while connecting

[2020-11-28 16:23] #1880 closed, assigned to nobody

[2020-12-02 09:12] lszymkowiak commented on #1885
I managed to build it by myself. Here are the downloads, if someone find it useful:

- [php_redis-5.3.2-8.0-nts-vc16-x64](https://rdev.me/download/php-redis/php_redis-5.3.2-8.0-nts-vc16-x64.zip)
- [php_redis-5.3.2-8.0-ts-vc16-x64](https://rdev.me/download/php-redis/php_redis-5.3.2-8.0-ts-vc16-x64.zip)

[2020-12-02 09:39] remicollet commented on #1885
@cmb69 is probably the better person to answer (AFAIK, mass rebuild is planed)

[2020-12-02 10:53] arpogo opened #1888 "php7.4 php_error_docref0: symbol not found"
### Actual behaviour
installing using Alpine apk add php7-pecl-redis~5.2
result to :
`PHP Warning:  PHP Startup: Unable to load dynamic library 'redis.so' (tried: /usr/lib/php7/modules/redis.so (Error relocating /usr/lib/php7/modules/redis.so: php_error_docref0: symbol not found), /usr/lib/php7/modules/redis.so.so (Error loading shared library /usr/lib/php7/modules/redis.so.so: No such file or dir

[2020-12-02 11:29] cmb69 commented on #1885
Yes, mass rebuild is planned (maybe in a few weeks), but 5.3.2 won't compile under PHP 8 on Windows; at least the merged PR #1851 needs to be shipped.

[2020-12-02 13:59] arpogo commented on #1888
Using Edge php7.4 and php7-redis 5.3 resolved the issue..

[2020-12-02 13:59] #1888 closed, assigned to nobody

[2020-12-04 18:26] Kearsan opened #1890 "Install phpredis for a specific php version"
Hello,

I'm using PHP 8.0 for a new project, but PHP 7.3 is still installed on my server because I use it for several other websites. I want to keep both PHP 7.3 and 8.0 versions on my server.

My issue is that phpredis seems to install automatically on PHP 7.3 whenever I try to install it using apt-get or pecl. Is there a way to force phpredis install for PHP 8.0? I can install every other php mo

[2020-12-04 19:46] michael-grunder commented on #1890
Hi @Kearsan,

I used this PPA on my Ubuntu machine:
[code]
Then you can install PhpRedis for PHP 8 with:

[code]

That said, you might run into `zpp`/arginfo warnings or errors as we need to land #1849

[2020-12-04 21:07] Kearsan commented on #1890
Hi @michael-grunder!

Thanks a lot for your solution and your caution regarding possible errors. Have a nice day/evening!

[2020-12-04 21:07] #1890 closed, assigned to nobody

[2020-12-06 14:20] ttys3 commented on #1176
@armpogart

finally I got the right param to pass the options, after checked the `pecl help install` info.

the right way:

[code]
the important thing is you must wrap any `VALUE` in `KEY=VALUE` with double qoute `"`

because pecl will wrap the options as `XML` element attributes
see  https://github.com/pear/pear-core/blob/d42abc1c9c350f30a23efac6ff4299e6e870b80e/PEAR/Builder.php#L82

[code]

the

[2020-12-08 02:44] sierdi opened #1891 "repeat ZEND_ACC_DEPRECATED"
https://github.com/phpredis/phpredis/blob/a09b65b15d5e3c946aacedbaa61ef0c0b2d06105/redis.c#L483

[2020-12-08 11:14] yatsukhnenko commented on #1891
Thanks @sierdi.
I decided to completely remove aliases :smile:

[2020-12-09 01:15] #1891 closed, assigned to nobody

[2020-12-10 08:36] suyar commented on #1809
[code]
make error:
[code]

But It is working find without `--enable-memcached-protocol`

[2020-12-11 11:15] stevej314 opened #1892 "Master branch missing ?"
I'm not sure where to raise this issue, so feel free to slap me down and close the issue.

I noticed this morning that the master branch no longer exists, was this done on purpose or was it a mistake?

I know maintainers are moving from 'master' to 'main', but i can't see a 'main' branch either.

[2020-12-11 12:31] yatsukhnenko commented on #1892
We removed `master` branch because it always was out of date.

[2020-12-11 12:43] stevej314 commented on #1892
@yatsukhnenko fair enough, I just noticed it and thought it may have been a mistake. Thanks for the speedy reply, have a great day 🙂

[2020-12-11 12:49] stevej314 commented on #1892
I'm sorry too - I should have read through more of the closed issues.

This is duplicate of: https://github.com/phpredis/phpredis/issues/1876

Oh the shame 😔

[2020-12-11 12:50] #1892 closed, assigned to nobody

[2020-12-13 11:38] #1607 closed

[2020-12-16 08:44] msiemens opened #1893 "Non-English Locale breaks ZADD"
### Expected behaviour

Given this code:

[code]

I expect this code to return `NULL` as the last error.

### Actual behaviour

I get `ERR value is not a valid float` as the last error.

### I'm seeing this behaviour on
- OS: all
- Redis: all versions
- PHP: all versions
- phpredis: 5.3.2

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2020-12-16 09:35] remicollet opened #1894 "Redis 6.2 support"
From [RELEASENOTES](https://github.com/redis/redis/blob/6.2/00-RELEASENOTES)

New commands / args:

- [x]  Add SMISMEMBER command that checks multiple members (#7615)
- [x]  Add ZMSCORE command that returns an array of scores (#7593)
- [x] Add LMOVE and BLMOVE commands that pop and push arbitrarily (#6929)
- [x] Add RESET command that resets client connection state(#7982)
- [x] Add COPY command th

[2020-12-16 09:37] remicollet commented on #1894
Notice 5.3.2 test suite passes with redis 6.2RC1 :)

[2020-12-17 19:51] GrahamCampbell opened #1895 "PHP 8.1 Builds failing"
~I think it would be a good idea to add PHP 8.1 to the test suite, so fixes can be made incrementally, so when 8.1.0 comes around, everything is ready, and there's no massive amount of work in one go needed.~ I see nightly is in travis.

The compile error is:

[code]

[2020-12-18 12:26] simonhard commented on #1822
Just install it manually. In my case (Apple M1), the correct phpize version was not found by pecl.

I've successfully built phpredis like that (replace your php-config path with yours)
[code]

[2020-12-21 04:46] aolley commented on #1194
So I've taken a crack at this (see #1896).

Example usage:
[code]

In-so-far as I can make out - this works well, and with only a minor hit to performance (easily outweighed by latency if you're preferring nodes closer to you):

Over gets for 1M keys, performance of fail over modes:
NONE: 28.9us per get
DISTRIBUTE: 35.4us per get
PREFERRED: 36.7us per get

But C isn't my forte - let alone writing

[2020-12-21 18:16] umpirsky commented on #1562
In https://github.com/phpredis/phpredis#return-value-22 it still says:

Is that wrong docs?

[2020-12-21 18:35] michael-grunder commented on #1562
I'm always happy to improve the docs, but I think it's correct.

When using serialization the "string" response is just deserialized into whatever value it is.  It's just converted from string -> _deserialized value_ after retrieval.

[2020-12-21 21:16] yatsukhnenko commented on #1894
@michael-grunder @remicollet I think we should create separate PRs for each command and track progress in this issue

[2020-12-21 21:42] yatsukhnenko commented on #1893
@msiemens could you test changes from `issue-1893` branch?

[2020-12-22 15:54] Velizz commented on #1881
Did you mange to fix this issue?

[2020-12-22 20:10] kanidjar commented on #1881
Sorry, forgot to give you a feedback.

We are still having the issue with the PHP cli. We tried to set a non-zero timout value. No effect.

We are still running under PHP 7.4.

[2020-12-23 11:00] rahulpragma opened #1899 "How to set AWS Redis Primary Endpoint & Reader Endpoint?"
### Expected behaviour
Primary Endpoint should be helpful for both read/write but Reader Endpoint is a read-only replica of Primary Endpoint which would be helpful only for the read operations and keeps Primary Endpoint for write only so that the response time would be faster as Primary Endpoint would only be useful for writing operations and thus less busy.

### Actual behaviour
I am able to set

[2020-12-23 13:25] yatsukhnenko commented on #1899
@rahulpragma this is the page of phpredis project, try to ask your question at https://github.com/pantheon-systems/wp-redis

[2020-12-23 13:25] #1899 closed, assigned to nobody

[2020-12-23 18:19] machaev commented on #1132
Same problem. I think this happens when the connection to the radis is slow. In my case I am using socket

[2020-12-23 19:36] yatsukhnenko commented on #1894
✔️ Add SMISMEMBER command that checks multiple members (#7615)

[2020-12-24 09:36] dosxp opened #1900 "Error: Call to undefined method RedisCluster::select()"
### Expected behaviour
want to select DB after connection to cluster
$redis->select(0);
if I remove this sentence and it works, but DB is DB0, Icann't use DB1-15.

### Actual behaviour
Fatal error: Uncaught Error: Call to undefined method RedisCluster::select()

### I'm seeing this behaviour on
- OS: win2012server
- Redis: 3.0.5
- PHP: 7.3
- phpredis: 5.3.0

### Steps to reproduce, backtrace or ex

[2020-12-24 09:49] yatsukhnenko commented on #1900
https://redis.io/topics/cluster-spec

[2020-12-24 10:07] dosxp commented on #1900
oops...
well,let it be.
thanks

[2020-12-24 11:33] #1900 closed, assigned to nobody

[2020-12-26 07:09] dosxp opened #1901 "script load error"
### Expected behaviour
want #redis->script('load', $script) return sha

### Actual behaviour
but #redis->script('load', $script) always return FALSE
while $redis->eval works well with the same $luascript
even print_r($redis->script('load', 'return 1')) return FALSE too

$luascript = <<<EOF
local key = KEYS[1];
local cnt = tonumber(redis.call("get" , KEYS[1]))
--print(cnt);
if(cnt <= 1000)
then
	re

[2021-01-04 12:45] msiemens commented on #1893
Yes, that fixes the issue. Thank you for the quick response and fix!

[2021-01-04 12:45] #1893 closed, assigned to yatsukhnenko

[2021-01-04 22:42] Diamonds0a opened #1902 "RedisClusterException: Unable to send command at a specific node (FlushAll)"
Getting an exception when trying to call flushAll. We have a cluster of 3 primaries and 2 read replicas per primary.
[code]

### Expected behaviour
Able to send flushAll() to all nodes in a cluster.

### Actual behaviour
Exception is thrown: RedisClusterException: Unable to send command at a specific node

### I'm seeing this behaviour on
- OS: 16.04.5 LTS (Xenial Xerus)
- Redis: 6.0.6
- PHP: 7.3

[2021-01-07 10:31] pulkitjalan commented on #1543
Any updates on this, have you had any luck reproducing this issue?

[2021-01-07 10:34] Venorcis commented on #1543
Sorry, no updates from my side. We now re-connect to Redis if our worker has been idle for longer than a minute, and then only once or twice per month we still get this error.

[2021-01-08 13:08] telkins commented on #1873
Somehow missed this.  Will try to test ASAP....

[2021-01-08 13:23] telkins commented on #1873
I just realized that I'm not 100% sure how to do this.  I'm quite the noob when it comes to building stuff like this.  I'm using this extension as a part of my local development environment....where it's "running" in Laravel Homestead on my MBP. 🤔

Any suggestions/advice/whatever...?

[2021-01-11 17:04] mv-steven opened #1903 "sIsMember return value is unpredictable with php serializer in use"
### Expected behaviour
sIsMember should return true if a set member exists, false if a set member doesn't exist.

### Actual behaviour
In some circumstances, when the php serializer is in use (e.g., `setOption(\Redis::OPT_SERIALIZER,\Redis::SERIALIZER_PHP)`), sIsMember returns true for set members that don't exist, false for members that do exist (see script below).  I can reliably reproduce sIsMe

[2021-01-11 22:42] mv-steven commented on #1903
Well I see the issue with this test script, it's not setting the serializer before sAdd which means it's setting a different value than what it's looking for in the set object. I'm going to double-check my code to make sure it's setting that serializer first, if not then I'll repost this.

[2021-01-11 22:42] #1903 closed, assigned to nobody

[2021-01-14 12:39] dochne opened #1905 "[Bug] zPopMin + zPopMax don't expose all parameters"
This is just another case of #1526. Creating a new Issue as per comment!

### Expected behaviour

It's expected that getting the reflection parameters of `zPopMin` and `zPopMax` would show both the `key` and `count` parameters.

### Actual behaviour

Only the `key` parameter is shown.

### I'm seeing this behaviour on
- OS: MacOS Catalina/Ubuntu 18.04
- Redis: 6.0.9
- PHP: 7.4
- phpredis: 5.2.1

#

[2021-01-15 16:10] ghost opened #1907 "Add Badge Showing PHP Version"
Please add a badge showing the PHP version supported like this https://code.habd.as/comfusion/hyperdrive

[2021-01-16 12:05] hongbinhsu commented on #1822
WARNING: PHP is not recommended
PHP is included in macOS for compatibility with legacy software.
Future versions of macOS will not include PHP.
PHP 7.3.24-(to be removed in future macOS) (cli) (built: Nov 23 2020 06:45:16) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.24, Copyright (c) 1998-2018 Zend Technologies

[2021-01-17 15:11] RafalLukawiecki opened #1910 "Support for RedisCluster pipelining?"
I see from the [docs](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#pipelining) that the current implementation of `RedisCluster` does not support pipelining for reasons of data consistency. However, pipelining is useful for reasons of performance even under the risk of consistency, especially when using Redis as a cache.

Are there any plans for `RedisCluster` client to suppo

[2021-01-18 06:07] #1907 closed, assigned to nobody

[2021-01-18 06:56] yatsukhnenko commented on #1902
@Diamonds0a this may happens when one of your master nodes is down or phpredis can't communicate with it because of network issue.

[2021-01-18 07:09] yatsukhnenko commented on #1901
@dosxp `script` is [directed node command](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#directed-node-commands) for `RedisCluster` so the first argument must be `['host', 'port']` or `slot key`

[2021-01-18 17:37] ghost commented on #1907
Fantastic. Thank you! 🥇

[2021-01-19 05:59] idontusenumbers opened #1913 "phpredis confusingly reconnects to redis but on default database after explicit call to close()"
### Expected behaviour
One of:
1. Errors before reaching `die()` because the connection `get()` was called after `close()`
2. phpredis reconnects to the last database that was used
3. Script below errors or prints `a - b - b`

### Actual behaviour
1. phpredis implicitly reconnects to the server using the default database
2. Script below prints `a - b - a`

### I'm seeing this behaviour on
- OS: Al

[2021-01-19 06:53] yatsukhnenko commented on #1913
Duplicate #1733

[2021-01-19 06:53] #1913 closed, assigned to nobody

[2021-01-21 17:52] rqc commented on #1703
Hello, first of all thanks for the work on this library, it has really helped us scale our php microservices.

I wanted to report that we are having some issues with memory leaks after integrating in a high traffic production server.

We performed some simple debugging using `memory_get_usage()` and the delta was several megabytes more than the actual payload that was being processed in the reques

[2021-01-24 17:54] yatsukhnenko commented on #1866
@Diamonds0a `RedisCluster` doesn't have `connect` method. We need something like `testTlsPing`

[2021-01-26 13:18] bilias commented on #1878
![sessions-day](https://user-images.githubusercontent.com/47315739/105849919-b7c39900-5fe9-11eb-9e25-f6116ef87810.png)

This is how it looks every day.

[2021-01-26 17:24] michael-grunder commented on #1878
Hi @bilias are you sure they're all session keys?  You could try limiting your scan to a pattern like `PHPREDIS_SESSION:*` or `PHPREDIS_CLUSTER_SESSION:*` if you're using Redis cluster.

Another alternative would be to `MONITOR` Redis when you expect the spike to occur to see if that shows anything useful.

[2021-01-26 17:27] bilias commented on #1878
Yes they are all "PHPREDIS_SESSION:

it is happening now, i don't see any strange things with monitor...

[2021-01-26 17:32] bilias commented on #1878
I also changed my code a little bit today to match https://github.com/phpredis/phpredis/issues/1372
without do {}
so the array is with unique keys. Somehow ttls are being messed up.

I'll try upgrading redis, cause I run the default from CentOS7 which is a bit old (3.2.12)

[2021-01-26 17:42] michael-grunder commented on #1878
I was just going to ask if it's possible you are counting some keys more than once :smile:

[code]

That script should avoid duplicate keys.

[2021-01-26 17:55] bilias commented on #1878
Yes as I told in my previous message, today I modified the code and did check for duplicates. That's not the problem :-/

btw (just for the record) your code need to change:
- function countUniqueSessions($redis, $prefix = 'PHPREDIS_SESSION:') {
+ function countUniqueSessions($redis, $prefix = 'PHPREDIS_SESSION:*') {

- return $arr_keys;
+ return count($arr_keys);

[2021-01-26 18:20] michael-grunder commented on #1878
I was returning the array because I'm also capturing each key's TTL.  I just thought it might be useful.

How do you know the extra session keys aren't real?  I'm not sure this will be solvable unless we figure out more information about the nature of these extra keys.

@yatsukhnenko Any ideas/questions?

[2021-01-26 18:25] bilias commented on #1878
No we don't have more keys in the DB.
Total remains the same.

ttl is getting malformed for some reason, at specific intervals as you can see from the graph.
No they are not real. We have equal time ranges if you see from the graph every day.

[2021-01-26 19:30] stefan-valnet opened #1917 "Apple M1/Big Sur - Segfault on RETURN_ZVAL in redis.c when in MULTI or PIPELINE mode"
### Expected behaviour
[code]

### Actual behaviour
[code]

### I'm seeing this behaviour on
- OS: MacOS Big Sur 11.1 | 11.2 on Apple Silicon
- Redis: 6.0.10 | 5.0.0
- PHP: 8.0.1 | 7.4.14 (Compiled from source and via homebrew)
- phpredis: 5.3.2 | git develop

### Steps to reproduce, backtrace or example script
[code]

Interestingly enough, if $pipe contains just one command, the exec succeeds.

#

[2021-01-26 19:38] michael-grunder commented on #1917
Hi @stefan-valnet,

I actually have access to an M1 mac for another project so I will attempt to replicate the crash!

[2021-01-26 20:57] yatsukhnenko commented on #1878
@michael-grunder you are right, there's difficult to figure out what is wrong without PHP code that creates sessions. For example `session_regenerate_id` by default creates new session key and doesn't remove old one which may explain spikes at day time when users actively login on site.

[2021-01-27 04:57] joyplux24 opened #1918 "RedisCluster::keys(): Can't send KEYS to 192.168.100.1:6433"
### Expected behaviour
get all keys

### Actual behaviour

############################
#
#	Remote redis server
#
############################
SERVER A
Public ip : 211.123.100.1
Private ip : 192.168.100.1

SERVER B
Public ip : 211.123.100.2
Private ip : 192.168.100.2

[root@localhost home]# redis-cli -c -p 6433

127.0.0.1:6433> CLUSTER SLOTS
1) 1) (integer) 8192
   2) (integer) 16383
   3) 1) "192

[2021-01-27 06:43] yatsukhnenko commented on #1918
@joyplux24 you connected to cluster using public IP but nodes know each other by private IP and phpredis also uses this addresses and tries to send command to private IP. You have to get access to private network segment or use public addresses in cluster configuration.

[2021-01-27 06:58] bilias commented on #1878
But my total count() of keys in redis does not change when I have the spikes.

To my understanding, these are not new logins. It happens every day at 90 minutes intervals.
The login code is here, in case you want to have a look

https://github.com/gunet/openeclass/blob/7e36eb461aa2657cd8066471c9faadb413d95716/modules/auth/auth.inc.php#L1147

[2021-01-27 08:21] yatsukhnenko commented on #1878
Then what is shown at your cacti graph? How do you count sessions if it's not number of keys in redis?

[2021-01-27 08:25] bilias commented on #1878
I first get all keys with scan()
Then I individually check ttl() of each key. I need to count active users, say with idle time < 10min

[2021-01-27 10:41] velreine commented on #1885
@lszymkowiak

Any chance for a guide on how to compile it?

[2021-01-27 11:07] cmb69 commented on #1885
See https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2; at the bottom of the page is a section about building extensions.

[2021-01-27 13:47] bilias commented on #1878
I was wrong. Total sessions do increase at the same intervals.

@yatsukhnenko explanation with session_regenerate_id might be the one, and I see it's being used around the code.
Other relevant ideas?

thanks

[2021-01-27 17:36] michael-grunder commented on #1885
I'll get a release out in the next couple of days so the PHP 8.0 DLLs build automatically on PECL

[2021-01-29 02:46] joyplux24 commented on #1918
There is no way to maintain the private network and access it remotely..
Thank you for reply

[2021-01-29 02:46] #1918 closed, assigned to nobody

[2021-01-29 19:10] binary-data opened #1920 "Multple persistent connections to the same Redis host with different databases: database number changes"
### Expected behaviour

Redis documentation for the [SELECT](https://redis.io/commands/select) command says that

So subsequent SELECT commands on different connections should not change the database number for other connections, even if the database 0 was not explicitly selected.

And if the database for connection was changed for any reason, `Redis::getDbNum()` method should return database numb

[2021-01-30 16:14] RafalLukawiecki commented on #1194
Does your PR allow for specifying the master node as the preferred one for reads?

I am looking for a very simple scenario of having master and just one replica, each in a different availability zone. I would like the app server in the zone where the master is located to use the master for everything, while the other zone's app server to use the replica for reads (and master for writes).

I realis

[2021-01-31 00:14] aolley commented on #1194
@RafalLukawiecki yes it does. The preferential selection acts on the full list of nodes, which includes the primary and all its replicas.

[2021-02-01 00:19] michael-grunder commented on #1885
Working 5.3.3 release branch is here:
https://github.com/phpredis/phpredis/tree/release/5.3.3

@yatsukhnenko let me know if I forgot any Windows compatibility fixes or if you want another change included.  Assuming there are no objections, i'll tag and push to PECL tomorrow.

[2021-02-01 05:24] yatsukhnenko commented on #1895
Fixed in `develop` branch

[2021-02-01 05:24] #1895 closed, assigned to nobody

[2021-02-01 05:24] yatsukhnenko commented on #1885
@michael-grunder looks good

[2021-02-01 22:18] Diamonds0a commented on #1902
@yatsukhnenko If I remove the line

``` $this->redis->setOption(RedisCluster::OPT_SLAVE_FAILOVER, RedisCluster::FAILOVER_DISTRIBUTE_SLAVES);```

it will work. Nothing changed for the nodes.

[2021-02-02 00:58] michael-grunder commented on #1885
5.3.3 is out on [GitHub](https://github.com/phpredis/phpredis/releases/tag/5.3.3) and [PECL](https://pecl.php.net/package/redis/5.3.3).

I don't see Windows DLLs yet but sometimes that takes a bit of time.

[2021-02-02 05:21] yatsukhnenko commented on #1885
https://pecl.php.net/package/redis/5.3.3/windows

[2021-02-02 05:21] #1885 closed, assigned to michael-grunder

[2021-02-02 14:11] kkmuffme opened #1921 "Return type incorrect if Redis fails"
e.g. zRange, mGet,... have param @return array

e.g.

[code]

However they do not return array in all cases. e.g. if redis has some internal issues (e.g. LOADING redis into memory, ...) these functions do not return an array.
Please fix the @return type so it also correctly shows this

[2021-02-02 14:20] stefan-valnet commented on #1917
Thanks @michael-grunder ,

Tried a recompile on Big Sur 11.2 - still there.

Are you able to reproduce the crash?

Anything else I can do to help?

[2021-02-02 17:55] michael-grunder commented on #1917
Hi @stefan-valnet, I am able to replicate the problem.

Unfortunately, debugging native code in a console is something of a nightmare on M1 macs presently.  GDB no longer works at all, and lldb crashes a lot (e.g. printing a variable usually segfaults lldb 11.0).

I have tracked it down to a small area:

[code]

It may have to do with the fact that `return_value` and `z_tab` point to the same addr

[2021-02-03 04:05] michael-grunder commented on #1917
@stefan-valnet Give the linked branch a try if you can.  The issue had to do with differences between the x86 and AARCH64 calling conventions, and that we were typecasting a function pointer to `void*` which suppressed the warnings we should have been seeing.

Your example now works for me on my rented M1 and tests are passing.

[2021-02-03 04:42] michael-grunder commented on #1917
cc @yatsukhnenko [Working branch for changes](https://github.com/phpredis/phpredis/tree/issue.1917-callback-segfault)

[2021-02-03 13:36] stefan-valnet commented on #1917
Thanks @michael-grunder!

Confirmed working over here.

[2021-02-03 16:55] EricSten-MSFT opened #1922 "pecl install redis on PHP 7.4 for on Azure App Service for Linux"
### Expected behaviour

```pecl install redis``` should build & complete without error

See: https://azureossd.github.io/2019/01/29/azure-app-service-linux-adding-php-extensions/

### Actual behaviour

```pecl install redis``` fails during compilation.

### I'm seeing this behaviour on
- OS: Azure App Service for Linux (Ubuntu 18.04)
- Redis: 5.3.3
- PHP: 7.4.13
- phpredis:

### Steps to reproduce

[2021-02-03 17:25] michael-grunder commented on #1922
I can't replicate this.

I spun up a clean 18.04 docker image and `PECL install redis` compiles without issue.

[PECL install output](https://gist.github.com/michael-grunder/66ef68adb22d1ba00b2f6d4b811ed0f1)

The error is what it sounds like (it's looking for `config.h` but can't find it).  This file should theoretically be generated by the configure script so I'm not sure why it's missing.

[2021-02-03 17:29] EricSten-MSFT commented on #1922
Are you sure you're on PHP 7.4?
[code]
Your PHP Api Version looks like it's from 2017, which is far earlier than the API version for PHP 7.4 (20190902)
[code]
Yeah, you're on PHP 7.2.

pecl install redis works great on PHP 7.3.  Fails only on PHP 7.4.

[2021-02-03 18:11] michael-grunder commented on #1922
I didn't think 7.2 vs 7.4 was likely to make a difference.

Unfortunately, building with PHP 7.4 works for me too:
[PHP 7.4 build output](https://gist.github.com/michael-grunder/6d8a98896ca3f870bccbf1f02d836671)

Are you able to build the file manually?

[code]

[2021-02-03 20:03] EricSten-MSFT commented on #1922
Yes, building manually works:
[code]

[2021-02-03 20:50] michael-grunder commented on #1922
This is an odd issue

[Similar problem in Azure but phpredis 5.3.2](https://docs.microsoft.com/en-us/answers/questions/252433/still-not-possible-to-build-redisso-under-php-74-u.html).

My initial guess was that the problem was with the just-released 5.3.3, but if it's also present in 5.3.2 then I am well and truly confused :smile:

Are you possibly able to replicate the problem in a container?

ed

[2021-02-03 21:57] EricSten-MSFT commented on #1922
Actually, I am repro'ing it in a docker container...running on Azure App Service.  I'm SSH'ing into the running site's container and executing the pecl/make commands there.

Or are you asking something else?

Oh, and https://docs.microsoft.com/en-us/answers/questions/252433/still-not-possible-to-build-redisso-under-php-74-u.html is the exact same issue...I'm from the App Service product group, and

[2021-02-03 22:14] michael-grunder commented on #1922
I meant in a container that I could spin up with a `Dockerfile`.  That way I could poke around and try to figure out what's going wrong.

I'm at a loss for what the problem could be since building manually works.

[2021-02-03 22:28] EricSten-MSFT commented on #1922
Our PHP images are based on [Oryx base images](https://hub.docker.com/_/microsoft-oryx-images), and the docker file is generated dynamically.

The template we use for PHP 7.4: https://github.com/microsoft/Oryx/tree/master/images/runtime/php/7.4

```docker build -f <DockerfilePath> -e DEBIAN_FLAVOR=stretch```

[2021-02-03 23:45] jc21 opened #1923 "hScan return value doesn't always match php method signature"
### Expected behaviour

As per [hScan documentation](https://github.com/phpredis/phpredis/#hscan), the function should *always* return an array.

### Actual behaviour

It is observed that the method returns false when the hash doesn't have anything set, which makes sense.

Further to this, phpstan and probably the php compiler recognises that this hScan function should only return an array. The me

[2021-02-04 02:55] fawzanm commented on #1917
Excellent, I was having SEG FAULT with Redis and Laravel Horizon. @michael-grunder's suggested branch seems to fix this issue.

[2021-02-04 19:38] bcolflesh opened #1925 "5.3.3 Seg Fault (core dumped) On Install"
### Expected behaviour
Normal Install

### Actual behaviour
Did channel updates for PEAR and PECL
Did pecl update
Installed successfully, last line was "Segmentation fault (core dumped)"
Rebooted server, everything seems fine so far

### I'm seeing this behaviour on
- OS: Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-135-generic x86_64)
- Redis: 4.0.9
- PHP: 7.4.14
- phpredis: 5.3.3

### Steps to reproduce

[2021-02-04 19:59] michael-grunder commented on #1925
Hi @bcolflesh

I'm not sure that this is a bug in PhpRedis since pecl shouldn't execute any phpredis code when building the extension.  If you have a core dump and backtrace that could be useful.

[2021-02-06 23:58] 13ilya-old commented on #1879
Please add the correct examples to the https://github.com/phpredis/phpredis/blob/develop/README.markdown#php-session-handler .
I still don't understand what to specify auth for **php session handler** there.
**user**=USER&**pass**=PASSWORD or **username**=USER&**password**=PASSWORD or **auth**=USER&**auth**=PASSWORD or something else.

P.S. Also, what does the **timeout** parameter mean?
The same

[2021-02-07 01:29] 13ilya-old commented on #1879
**auth[user]**=USER&**auth[pass]**=PASSWORD Is only correct variant!

[2021-02-07 09:51] ikool-cn opened #1928 "BloomFilter support"
This extension is not support  BloomFilter, hope to add this feature.

Thanks!

[2021-02-07 17:26] yatsukhnenko commented on #1928
@ikool-cn you can use [rawcommand](https://github.com/phpredis/phpredis#rawcommand)

[2021-02-08 01:11] #1928 closed, assigned to nobody

[2021-02-09 17:32] AlexAndBear commented on #1600
@yatsukhnenko I can't find anything in the documentation about the tls/ssl stuff and how to pass the arguments correctly, do you have a link for me ?

I encountered a inconsistency in this case, and I wondering why.

If we use the class Redis, we need to pass the following arguments:

[code]

But if we use  the RedisCluster class we need to provide the same arguments without the stream key
[code]

[2021-02-13 16:00] Emik123dsa commented on #188
If it still works for somebody,
I actually could resolve this issue with truncating my password, when I have generated it with openssl.
`session.save_path="tcp://localhost:6379?auth=xxxx"`, cause it didn't work before.

[2021-02-15 10:04] stefanoparkopedia opened #1930 "hmget bug with duplicated keys"
hmget doesn't work correctly if there are duplicated keys in the input:

`$redis->hmget("mykey", [ "one", "two", "one" ]);`  must return 3 values but returns just 2.

### Expected behaviour
The number of results returned must be the same as the number of results in the input array even when there are duplicated keys.

redis-cli works fine:

[code]

### Actual behaviour

phpredis hmget() doesn't wo

[2021-02-15 20:19] LeVadim commented on #1443
Any solutions for this issue?

[2021-02-15 22:34] michael-grunder commented on #1930
Hi @stefanoparkopedia,

I don't think this is a bug.  PhpRedis returns a "zipped" associative array with keys and values when you call `hMGet`, and given that PHP doesn't allow duplicate array keys there's not really a way for us to do what you want.

e.g:

[code]

It isn't possible in PHP to give you a second `one` array key.  If you're looking to go lower level you can use `rawCommand` and call

[2021-02-16 07:01] digitalhuman commented on #1443
Use PECL PHP Redis. @LeVadim

[2021-02-16 09:31] willbrowningme commented on #1600
@JanAckermann same thing here. Connecting to a cluster only works if you remove the 'stream' key. Took me quite some time to figure that out! Also has issues with connections freezing using `PHP 7.4.3` and TLSv1.3, so had to limit to TLSv1.2 only to get it to work.

[2021-02-16 12:47] stefanoparkopedia commented on #1930
I didn't notice that because Laravel hmget method strips the keys from the result object (PhpRedisConnection.php::hmget) and that creates the issue above where the number of input keys is greater than the number of response values.

That's not useful as it doesn't provide the handy associative array provided by phpredis but it doesn't even match the redis native response with duplicated values!

T

[2021-02-16 12:47] #1930 closed, assigned to nobody

[2021-02-16 22:54] Novynn commented on #1818
We had the same issue with an older version of PHP Redis using FPMs in a production environment. Upgrading to 5.3.2 with `redis.pconnect.echo_check_liveness` and `redis.pconnect.pooling_enabled` as their defaults (enabled) seems to have fixed the problem.

[2021-02-17 08:20] jdeathe commented on #184
I got the same error message when SELinux was set to enforcing in CentOS 7.  I had set permissive mode in `/etc/sysconfig/selinux` however the settings have been moved to `/etc/selinux/config` (both files exist) so the mode changed after a server reboot.

[2021-02-17 15:43] 13ilya-old opened #1931 "make test don.t run test"
### Expected behaviour
After the make test command, the tests should run or report that something is missing to run them.

### Actual behaviour
https://build.opensuse.org/package/live_build_log/home:13ilya:branches:server:php:extensions/php-redis:php8/openSUSE_Factory/x86_64
[   46s] + /usr/bin/make -O -j4 V=1 VERBOSE=1 PHP_EXECUTABLE=/usr/bin/php NO_INTERACTION=1 test
[   46s] /bin/sh /home/abuil

[2021-02-18 21:39] LeVadim commented on #1443
@digitalhuman Thank you for the swift response.  Currently I am installing PHP redis on ubuntu by install php7.4-redis package, this issue persists.  Can you please advise here?  Many thanks!

[2021-02-19 07:49] digitalhuman commented on #1443
Did you disable flushing to disk? Is it a heavy load server?

[2021-02-19 15:17] ebogdanov commented on #1533
Met same problem. This error actually means either:

1. Client can't connect to cluster (timeouts)
2. Instance is not in cluster mode
3. Client connected successfully, but auth failed. Let's say cluster have password specified in config, but you're trying yo connect with client which do not sends password.

[2021-02-19 17:06] LeVadim commented on #1443
I have updated it to php8.0-redis, issue still persists.
Can please advise how to disable flushing to disk?  It is pretty heavy load server, however, it has enough CPU and memory.

[2021-02-19 17:47] dossy commented on #1314
Redis 6 will be bringing TLS support: https://redis.io/topics/encryption

[2021-02-20 08:48] ericcomellas commented on #1881
Hi @kanidjar nice to meet you. We have the same issue on our services. AWS infrastructure + php-fpm 7.1. We have the problem with redis but also mysql. We opened a ticket on AWS support but no solution. Did you fixed the problem on your side?

[2021-02-21 15:51] AliceSync opened #1934 "enable SERIALIZER_ After igbinary, errors will appear in incr and decr"
- I found that when compression is enabled, there will be a self increasing error. This error will be triggered when the number is set actively. If I incr directly, there will be no such problem

### Code
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

### I'm seeing this behaviour on
- OS: centoos 8
- Redis: 6.0.10
- PHP: 7.3
- phpredis: 5.3.3

### Steps to reproduce, backtrac

[2021-02-22 09:56] Velizz commented on #1881
Ive fixed the issue by not using redis for queues. Using SQS for queues eliminated this particular error, while redis still handles sessions

[2021-02-23 11:10] GeniusLe commented on #1934
I think you should optimize even if you think it’s not a bug. My current approach is to check if it’s a number when writing. @yatsukhnenko

[2021-02-24 08:20] brendt commented on #1917
Can confirm https://github.com/phpredis/phpredis/tree/issue.1917-callback-segfault works as intended (tested on Laravel + Horizon)

If anyone stumbles upon this issue before it's permanently fixed, follow the install instructions in https://github.com/phpredis/phpredis/blob/issue.1917-callback-segfault/INSTALL.markdown and you're done

[2021-02-26 02:17] POPSuL opened #1936 "PHP Fatal Error: Possible integer overflow in memory allocation (18446744073709551614 + 4096)"
### Expected behaviour
Driver should return false, because value `123` is not data compressed by zstd

### Actual behaviour
PHP Fatal Error: Possible integer overflow in memory allocation (18446744073709551614 + 4096)

### I'm seeing this behaviour on
- OS: Ubuntu linux
- Redis: 6.0.6
- PHP: 8.0.2
- phpredis: 5.3.3

### Steps to reproduce, backtrace or example script

1. Set some value into cache

[2021-02-26 19:34] #1936 closed, assigned to michael-grunder

[2021-02-27 13:26] TheLevti opened #1938 "Provide utility function _compress"
### Expected behaviour

Same as with `_serialize()` it should be possible for scripts to call `_compress()` to achieve the same result as the phpredis extension would when values are compressed. It is important, because otherwise we might end up with inconsistencies when using the EVAL command. It is hard to guess how phpredis serialized/compressed (order, config, functions) to match up when using

[2021-02-27 15:37] TheLevti opened #1939 "Not reproducible compression results with LZ4"
I just tested the LZ4 and ZSTD compression options against the REDLOCK algorithm with the laravel cache lock library and it seems like I have the same problem as in #1477. ZSTD worked out of the box with different compression levels.

For LZ4 I am not able to get the same result by calling `lz4_compress($string, $compressionLevel)` with any compression level. Most of the time the difference is the

[2021-02-27 18:14] yatsukhnenko commented on #1939
`phpredis` uses `LZ4_compress_HC` for compression_level greater than zero and less than `REDIS_LZ4_MAX_CLEVEL` and  `LZ4_compress_default` for all other levels. Also `REDIS_LZ4_MAX_CLEVEL` depends on version of `liblz4`
`php_lz4_compress` uses `LZ4_compress_default` for compression level 0 and `LZ4_compress_HC` for levels from 0 to `PHP_LZ4_CLEVEL_MAX` inclusively.
So the difference should be only

[2021-02-27 18:18] TheLevti commented on #1939
I tested several compression levels with lz4. Let me post the result here, maybe it will help you. So far I was not able to find a level that produces the same value as the phpredis extension.

[2021-02-27 18:29] TheLevti commented on #1939
So basically this is my test using laravel's redis cache locking mechanism:

[code]

Test result:

![image](https://user-images.githubusercontent.com/7612582/109396366-73515300-7931-11eb-9711-cf5055314c02.png)

Redis monitor result:

[code]

As you can see there is no lua execution that calls `del` as for example with LZF it looks like this:

[code]

[2021-02-27 18:33] TheLevti commented on #1939
Level 1:

[code]

Level 3:

[code]

Level 12:

[code]

Interestingly I get an exception when using lvl 20 for example:
![image](https://user-images.githubusercontent.com/7612582/109396598-a7794380-7932-11eb-89e6-8147f7d3182a.png)

I saw in the C code that it should overwrite the level to lvl 12 and still execute. I see no error when I use 0 though.

[2021-02-28 11:37] TheLevti commented on #1939
This is the code that tries to mimic the phpredis extension's serialization/compression for the eval call. For serialization its straight forward by just calling the extension's exposed utility method. For compression its a bit cumbersome. But it works with LZF and ZSTD. We had a similar issue with LZF and it was fixed (#1477) so phpredis and lzf both compress in the same way. It would be nice to

[2021-03-01 20:10] yatsukhnenko commented on #1921
@kkmuffme phpredis returns `false` in case of failure. This is by design. Did you mean that this behaviour isn't described in docs for `zRange` command?

[2021-03-01 20:12] yatsukhnenko commented on #1917
@michael-grunder since you merge your changes can we close this issue?

[2021-03-02 06:55] kkmuffme commented on #1921
Yes

[2021-03-02 18:47] #1917 closed, assigned to michael-grunder

[2021-03-03 16:22] outmost opened #1941 "Using TLS for Sessions with Heroku Redis 6"
### Expected behaviour

Persist user sessions to Redis.

### Actual behaviour

This is using Redis 6 on StackHero, which works perfectly:

[code]

This is using Redis 6 on Heroku, which causes the error below:

[code]

Error message:
[code]

I'm pretty certain it's down to Heroku Redis being self-signed certificates, but I'm not sure how to disable certificate verification / whether that's the rig

[2021-03-04 07:08] rungao opened #1942 "hset causes a 502 error if the key is a number"
I want to set the value of hset to redis, but I get a 502 error after using Nginx+PHP-FPM to access. The following problems have been verified:
- Use predis to extend the normal use
- If the key of hset is not a number, it can be used normally
- Use CLI command line mode to access normally

[code]

The code that causes the code error is `$redis->hset("htest, 27, json_encode([]));`, if the key of h

[2021-03-04 13:30] stuntsman commented on #1920
+1, found the same issue in our environment.

[2021-03-04 13:37] sztanpet commented on #1920
This issue still persists,
this fact either needs documentation with big bold letters, or the module must track the database selected by the connection somehow. We ran into this issue with the module being used as the session handler with options persistent=1&database=2.
The application was using persistent connections and expecting database 0 to be selected, but sometimes got the connection used

[2021-03-05 10:23] vishytk opened #1943 "Request: Adding LPOS method for lists"
I have an existing setup with Redis version 6.0.11 which contains a large number of lists.

I have a requirement for checking if a value/element exists in a key.

I have seen that '**LPOS**' has been added to Redis since 6.0.6  https://redis.io/commands/lpos

This can be used to check if a value/element exists in a key (list)

Hope this method will be added at the earliest.

[2021-03-09 07:03] aolley opened #1945 "hmget returns erroneous data with compression on"
### Expected behaviour

Calling hmget after setting data with hset should return the same data with or without compression enabled.

### Actual behaviour

If compression is enabled, hmget doesn't appear to decompress the data from the fields it fetches.

### I'm seeing this behaviour on
- OS: CentOS 7
- Redis: 6.0.8
- PHP: 7.4.12
- phpredis: 5.3.2

### Steps to reproduce, backtrace or example scri

[2021-03-10 03:29] aolley commented on #1945
This looks like the same issue as #1370 - except with hmget rather than hget. I've just confirmed that in code - pull request shortly...

[2021-03-10 03:47] aolley commented on #1945
See: https://github.com/phpredis/phpredis/pull/1946

[2021-03-11 12:39] Icaras12x opened #1948 "Unable to connect on windows 10 with docker and xampp"
Unable to connect. I'm using windows 10, docker desktop and XAMPP.

`Fatal error: Uncaught RedisException: Impossibile stabilire la connessione. Rifiuto persistente del computer di destinazione in C:\xampp\htdocs\red.php:19 Stack trace: #0 C:\xampp\htdocs\red.php(19): Redis->connect('127.0.0.1', 6379) #1 {main} thrown in C:\xampp\htdocs\red.php on line 19`

Included php_redis.dll correctly, the cl

[2021-03-11 15:45] yatsukhnenko commented on #1948
@Icaras12x are you sure your Redis server is running and listening on 127.0.0.1:6379 in container?

[2021-03-11 22:11] michael-grunder commented on #1945
Closing via #1946

[2021-03-11 22:11] #1945 closed, assigned to nobody

[2021-03-13 03:09] vlad0337187 commented on #1176
`--configureoptions` doesn't work

[2021-03-14 09:25] usmanbasharmal123 opened #1950 ""Please make sure the PHP Redis extension is installed and enabled""
### Expected behaviour
I'm trying to enable Horizon on Laradock but i always received this message "Please make sure the PHP Redis extension is installed and enabled" I've accessed to Workspace container to check whether the php-redis extension is installed or not. But you can see the image the php-redis is already newest version docker-compose exec workspace bash

I've open the .env of Laravel pr

[2021-03-14 10:09] yatsukhnenko commented on #1950
I think it would be better to ask the question on the Laravel project's page

[2021-03-14 10:09] #1950 closed, assigned to nobody

[2021-03-14 22:49] TheLevti commented on #1939
Another example I noticed while adding compression/serialization support to laravel phpredis integration:

![image](https://user-images.githubusercontent.com/7612582/111087045-be698980-851f-11eb-9dd9-b016ab3a4ddc.png)

For some reason there is always some random letter appended when using `lz4_compress`, which is not gone when reading with phpredis with lz4 enabled. Only the first hex characters a

[2021-03-16 21:37] michael-grunder opened #1951 "5.3.4 With M1 segfault fix"
Opening a quick issue to discuss a 5.3.4 release that includes the M1 Segfault fix (#1917).

@yatsukhnenko Anything else you'd like to see go into a small release?

[2021-03-17 01:05] cyrrill commented on #1881
+1 seeing this issue, happens only a few times a day out of hundreds of thousands of jobs.

[2021-03-17 05:22] yatsukhnenko commented on #1951
I think we may include changes from #1946

[2021-03-18 07:53] sudo-plz opened #1952 "Incorrect PHP method info on the RedisCluster time method"
### Expected behaviour
Reflection on the RedisCluster `time` method returns `key_or_address`

### Actual behaviour
`time` method has `arginfo_void`, expected to be the same as for example the save method `arginfo_key_or_address`
https://github.com/phpredis/phpredis/blob/develop/redis_cluster.c#L250

### I'm seeing this behaviour on
- OS: Ubuntu 20.04
- Redis: 6.2.1
- PHP: 8.0.3
- phpredis: 5.3.2

[2021-03-19 08:46] tim1116 opened #1954 "Document error"
### Expected behaviour
$redis->mset(['foo' => 'foo', 'bar' => 'bar', 'baz' => 'baz']);
$redis->exists(['foo', 'bar', 'baz']); /* 3 */
$redis->exists('foo', 'bar', 'baz'); /* 3 */

### Actual behaviour
$redis->mset(['foo' => 'foo', 'bar' => 'bar', 'baz' => 'baz']);
$redis->exists(['foo', 'bar', 'baz]); /* 3 */
$redis->exists('foo', 'bar', 'baz'); /* 3 */

### I've checked
- [x] There is no similar

[2021-03-21 08:14] #1952 closed, assigned to nobody

[2021-03-22 13:47] ebogdanov commented on #1818
We're facing same issue, and it happens when requests to Redis cluster is increasing.
I.e. we've stable situation (by Grafana's charts), but if we've peak - we can receive wrong data from client.

[code]
+ persistent option in RedisCluster constructor is set to true

But if I disable read from slaves in any manner (with RedisCluster::FAILOVER_NONE) problem gones away and never happens.

Problem is

[2021-03-22 18:57] michael-grunder commented on #1951
[5.3.4 release branch](https://github.com/phpredis/phpredis/tree/release/5.3.4)

I plan on publishing the release sometime after 5PM PDT (12 AM GMT)

[2021-03-23 19:46] michael-grunder commented on #1951
Quick update.

I'm getting lots of Travis failures which I believe to not be related to PhpRedis but to Travis's in-progress migration.  Just to be on the safe side, I'm going to include 1a0ae97ef56df17748a558e02b1f31065749d7e6 in 5.3.4 so we can get good tests before releasing.

Assuming all goes well, I'll publish/tag 5.3.4 this afternoon.

[2021-03-24 17:36] michael-grunder commented on #1951
Release is up

[PECL](https://pecl.php.net/package/redis/5.3.4)
[GitHub](https://github.com/phpredis/phpredis/releases/5.3.4)

[2021-03-24 17:36] #1951 closed, assigned to michael-grunder

[2021-03-25 07:14] remicollet opened #1956 "Memory error on 32-bit build (zstd)"
Runnin test suite on 32-bit (i686, armv7hl)
https://koji.fedoraproject.org/koji/taskinfo?taskID=64552748

[code]

5.3.3 was OK

[2021-03-25 14:21] kkmuffme commented on #1836
This works already, you can just leave out the unix:// part as this isn't necessary. (same as redis-cli where you can just pass -h /tmp/redis.sock)

[2021-03-26 07:25] aalwash opened #1958 "Support for redis 6.2.0 functions"
### Expected behaviour
A lot of new functions are introduced in Redis 6.2.0 (for example https://redis.io/commands/zrandmember)

### Actual behaviour
Not implemented yet

### I'm seeing this behaviour on
- OS: Ubuntu 18.04
- Redis: version 6.2.x
- PHP: 7.4.0
- phpredis: 5.3.0

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2021-03-26 07:27] aalwash commented on #1958
I'm sorry, there is already an similar issue -- https://github.com/phpredis/phpredis/issues/1894

[2021-03-26 07:30] #1958 closed, assigned to nobody

[2021-03-26 17:38] #1956 closed, assigned to nobody

[2021-03-27 15:56] kiklop74 commented on #1176
I just tried it and it does perfectly work:

[code]

[2021-03-29 18:24] TheLevti commented on #1939
Anyone got an idea how to resolve this? This is currently a blocker to add compression support to the laravel framework. At least if someone could give me a hint where to look, I would try myself.

[2021-03-29 22:00] michael-grunder commented on #1939
Hi @TheLevti,

The binary mismatch in LZ4 data is because I attach a crc8 + length header as a quick sanity check.  I honestly can't remember why I wrote it that way, but unfortunately, we can't just change it because it would break backward compatibility.

I'm happy to help get this working for you though.

One solution would be to add something like `OPT_COMPRESSION_UNCHECKED` which would by def

[2021-03-29 22:50] TheLevti commented on #1939
The last option would be a perfect solution. Or both. For the utility function I even have opened an issue already: https://github.com/phpredis/phpredis/issues/1938

And thank you for the hint with crc. Maybe i can just do 1:1 on php side to achieve the same result. But yes if a helper function can be added, it would solve all our problems ^^

[2021-04-01 12:04] biello commented on #1529
@yatsukhnenko hi yatsukhnenko, do you know which version fixed this problem? or any clue to dig into... I have been experiencing the same problem these days using phpredis: 4.1.0，but cannot update to the latest version of phpredis. any help will be greatly appreciated.

[2021-04-01 16:32] ebogdanov commented on #1818
Well, I've found the cause of the issue.
It is "redis.clusters.cache_slots" option. If it set to 1, then liveness checks are not performed at all.

@michael-grunder Can you confirm that this is by design, please?

[2021-04-01 17:34] yatsukhnenko commented on #1529
@biello I guess there was no specific fix for this issue and I closed it because of no activity.
In 4.3.0 we added persistent connection pooling feature which fixed some kinds of problems with connections.

[2021-04-02 08:44] biello commented on #1529
@yatsukhnenko thank you, this is very helpful.

[2021-04-02 10:11] guiajlopes commented on #1668
we see issues like this one  "protocol error, got '2' as reply-type byte" really often, using persistent connections and running phpredis 5.3.3 on redis server 3.2

[2021-04-02 11:03] theOtherNir commented on #831
It's an old post but without a concrete answer so maybe this will help someone.
I had the same issue, I've mistakenly pointed the REDIS client to connect to the wrong port (MySql in my case)
important to note that the port is actually listening.
therefore it looks like a failure in the protocol and not a failure to connect.

[2021-04-04 06:20] SpiceX commented on #1822
Same problem here, has anyone found a solution? php_hash.h it's in the include path

[2021-04-04 07:12] shizhifeng commented on #1822
any idea for this problem plz.

[2021-04-07 16:06] guiajlopes commented on #831
I also have this issue and it's really hard to debug, It's really rare but I get those every day using redis server 3.2 and phpredis 5.3.3. Getting them mainly on PING here is the error message `protocol error, got '7' as reply-type byte`

Tried to use `protected-mode no` and it did not help, also switched from pconnect to only connect and I still get them

[2021-04-07 16:10] guiajlopes commented on #1668
we still see the issues even after disabling pconnect and use only connect

[2021-04-08 23:17] nathansmonk commented on #1706
This thread was really useful for me trying to get clustering set up - Thank you @iazo-git

I too have the question(s):

Does AWS do something magical with the "Configuration Endpoint" (like a load balancer for redis) meaning that I dont need to manually put in multiple primary redis endpoints?

Or

Do I need to manually enter the primary endpoints into the WP_REDIS_CLUSTER constant? If so, this f

[2021-04-08 23:43] ghost commented on #1706
@nathansmonk Glad you found the thread useful! I wish I could answer your questions, but I haven't been working with Redis since the time of this thread. Although I was able to get it working, using Redis itself was causing our application more problems than it was actually solving. I ultimately decided not to use Redis and removed everything. The entire experiment cost me weeks of time, but it wa

[2021-04-09 01:36] tillkruss commented on #1706
@nathansmonk I believe you should add your cluster master(s) URLs to `WP_REDIS_CLUSTER`.

What exactly that is called in the AWS UI im not sure.

[2021-04-09 09:16] nathansmonk commented on #1706
Thanks @iazo-git and @tillkruss.

I've opened a support ticket with AWS to check their understanding on this too.

For background, AWS Elasticache Clustered Redis doesn't do a great job of showing which is the primary node in the cluster. So my concern about manually specifying each primary, is that in the event of a failover it would be pointed at a read-only replica, making it pretty useless to

[2021-04-10 07:57] nathansmonk commented on #1706
AWS have responded and it does actually look like there is some magic at their end.

For anyone looking at this thread who has this set up:

- Redis Object Cache WordPress plugin (https://wordpress.org/plugins/redis-cache/)
- AWS Elasticache Redis in Clustered Mode (Multiple Shards, with multiple nodes)

Then you should only define one endpoint in the `WP_REDIS_CLUSTER` constant. This is known in

[2021-04-11 15:02] thomas-0816 opened #1961 "XTRIM mystream MINID"
### Expected behaviour

It would be great to support xtrim by minimum id.

https://redis.io/commands/xtrim describes:
[code]

### Actual behaviour

From the readme I get:
[code]

But I could not find an option to trim by minimum id.

[2021-04-12 18:12] michael-grunder commented on #1668
@guiajlopes If you're seeing the error without using persistent connections, then it must be related to something else.  You're welcome to open a new issue to keep everything in one place.

[2021-04-13 11:41] NickyX3 opened #1962 "rawCommand DEBUG OBJECT not work"
### Expected behaviour

rawCommand('DEBUG', 'OBJECT', 'keyname') must return string with debug info of key

### Actual behaviour

return bool(true)

### I'm seeing this behaviour on
- OS: Debian Stretch
- Redis: 3.2.6
- PHP: 7.0.33-0+deb9u6
- phpredis: 5.1.0-dev

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't

[2021-04-13 14:06] yatsukhnenko commented on #1962
@NickyX3 there is undocumented option `OPT_REPLY_LITERAL`
Try to execute `$redis->setOption(Redis::OPT_REPLY_LITERAL, 1)` before `rawCommand`

[2021-04-13 14:23] NickyX3 commented on #1962
[code]

[code]

Works! Thanks, bro! But add this to docs, i broke my mind and temporary use Predis for this function, but extension is better and no more depends

[2021-04-13 14:23] #1962 closed, assigned to nobody

[2021-04-13 14:31] NickyX3 commented on #1182
Hello, i found phpDoc for this extension
https://github.com/ukko/phpredis-phpdoc/

[2021-04-20 08:40] field-fd commented on #1822
I hava solved the problem.  my macos is big sur 11.2.3
just install another php version.
`brew install php72`
install success you will see
![780F99F1-5001-425E-A7E7-8579DD8FC256](https://user-images.githubusercontent.com/10652210/115365279-ce4b4c00-a1f6-11eb-80c7-6de3eb1952e8.png)
than you can install phpredis extension
[code]

[2021-04-20 12:29] TheLevti commented on #1811
Related issue here. Can it be that if server timeout is set (closes idle connections), the client then is not able to reach it?

[2021-04-20 20:12] TheLevti commented on #1726
Any update on this? Running into the same issue. Especially noticeable when the server has a timeout set (closing idle connections), phpredis gets stuck on any command after the idle time until the whole client timeout is reached and then errors out with `Timed out attempting to find data in the correct node!`.

I am using a Redis Cluster 6.0.x with the latest phpredis extension on php 7.4 with tl

[2021-04-21 21:16] michael-grunder commented on #1939
It's still a WIP but you can check out the changes pushed above.

Not sure what the final API should look like but I've added `_compress`, `_uncompress`, `_pack`, and `_unpack` helper methods that can be tested.

I'm going to see what it would take to do the `UNCHECKED` option.

`_pack` and `_unpack` might be overkill since one could replicate the functionality with `_compress` and `_serialize`.

[2021-04-23 04:46] Jon78 commented on #1893
When will this fix be released?

[2021-04-23 11:59] mypetertw commented on #1341
I got the same issue and until I saw this comment and it works.

Default location is totally wrong lol

[2021-04-24 08:08] parsibox opened #1964 "use limit with sScan"
hi
i use redis 6.2
i want use limit with sScan command
for example i  want get LIMIT 50 OFFSET 100
i see this code but i can not find any limit or offset
please help me
[code]

[2021-04-24 23:32] mgriego opened #1966 "Session locking retry/wait defaults"
Referencing this comment: https://github.com/phpredis/phpredis/pull/1908#issuecomment-794365183

Perhaps it does make sense to rework the session locking wait mechanism to specify a maximum time to wait rather than a retry time and count.  This seems like a reasonable change, though we might want to still allow the user to override the time between retries.  Another option would be to use an expon

[2021-04-25 19:01] TheLevti commented on #1939
Thank you very much, I will try out these the coming days and hope can give some helpful feedback. If we have the pack/unpack helpers or even separated by compress/serialize, it in the end really does not matter how the extension modifies the values and whether it matches the other php extensions. Its just important to be able to reproduce the same results as phpredis to be able to pass correct va

[2021-04-27 07:37] arvincheung-madhead commented on #1920
issue still persists on phpredis: 5.3.4

[2021-05-02 20:26] TheLevti commented on #1939
Ok I finally found the time to fork the repo and build your branch. All my tests for the laravel pull request that were waiting for the convenience functions are passing now. I had troubles with LZ4 and ZSTD and with the _pack function all problems are gone and tests pass now.

Code with manual packing logic + not working LZ4:

![image](https://user-images.githubusercontent.com/7612582/116826624-3

[2021-05-02 20:33] TheLevti commented on #1938
Is currently worked on in #1939. This issue can be closed together with it once resolved.

[2021-05-13 21:41] TheLevti commented on #1939
Can we create a pull request out of your branch? For me the utility functions provided there solve all problems.

[2021-05-13 23:12] michael-grunder commented on #1939
I'll create a PR this weekend, @yatsukhnenko  can find all my bugs, and then we'll get it merged.

[2021-05-14 11:43] yatsukhnenko commented on #1894
exclusive ranges for XPENDING and X[REV]RANGE work without any changes on phpredis side

[2021-05-18 16:28] DKhalil opened #1969 "get() with AWS cluster throwing "Can't communicate with any node in the cluster""
### Expected behaviour

I'm connecting to an AWS cluster using
[code]

Which works fine for a while, but at some point it starts throwing `Can't communicate with any node in the cluster` on get() calls.
There is no TLS enabled.

### I'm seeing this behaviour on
- OS: Ubuntu 20.04
- Redis: 6.0
- PHP: 7.4.3
- phpredis: 5.3.4

[2021-05-19 09:13] ibrasho opened #1970 "Compilation fails on Apple Silicon"
### Expected behaviour

Running `./configure` should not produce any errors.

### Actual behaviour

[code]

### I'm seeing this behaviour on
- OS: macOS 11.3.1
- Redis:
- PHP: 8.0.6
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

Try to compile 5.3.4 on an M1 laptop.

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` bran

[2021-05-19 09:16] ibrasho commented on #1970
I'm not sure how `phpize` generate `./build/config.guess`. But the only fix I managed to do is to manually override `./build/config.guess` to produce `aarch64-apple-darwin`.

This can be done manually by:
[code]

[2021-05-19 15:15] yariksheptykin commented on #1941
Disabling certificate validation shold be the option of last resort as it makes it easy to break tls. Better approach would be to try to add heroku's (root & intermediate) certificates to the list of trusted ones. They should be added to the list of certs that PhpRedis uses for validation. Not sure how to do this practically. Speculation: phpredis uses underlying system for tls, so the certs shuol

[2021-05-21 07:38] gesof commented on #1822
Note: MacOS comes with its own php version that gets installed in /usr/bin/php while brew will put it in /usr/local/bin/php
Be sure you have the path containing "local" before the default one in the $PATH.
Also, maybe it is not obvious: after installing PHP with brew, open a new terminal to get the proper php version running.

[2021-05-24 18:03] boesing commented on #1784
@michael-grunder yeah, I am experiencing the same when the serializer option is enabled.
So increment/decrement and stuff should not be used when serializer is enabled?
sadly, redis does return the incremented value as a string and to keep type-safety, a serializer should always be used imho.

Should increment/decrement handled in userland instead?

[2021-05-25 16:02] DKhalil commented on #1969
Closing this again, it was a case of DOSing our redis cluster - using persistent connections resolved the issue in this case.

[2021-05-25 16:02] #1969 closed, assigned to nobody

[2021-05-27 07:20] murilozilli commented on #1397
@PhilETaylor did you get it sorted? Can you link the alpine issue tracker or something?

[2021-05-27 17:31] kerryj89 commented on #1353
I ran into the same issue today.

I had to run the following commands: `pear update-channels` and `pecl update-channels` and after that I am able to move past the `No releases available for package "pecl.php.net/redis"` error.

[2021-05-28 02:40] silasrm opened #1972 "How to executed ACL commands (Redis 6+)?"
### Expected behaviour
Using rawCommand to run full ACL command and return true.

[code]

### Actual behaviour
Running succefully and return true.

### I'm seeing this behaviour on
- OS: Alpine/Ubuntu
- Redis: 6.0.1
- PHP: 7.4
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script
[code]

### I've checked
- [x] There is no similar issue from other users
- [ ] Issue isn't fixed in `

[2021-05-28 19:37] PhilETaylor commented on #1397
I believe this was fixed in Alpine as per this issue thread https://github.com/phpearth/alpine/issues/8#issuecomment-429994558

Sorry its been several years since I opened this issue, I have no memory of even having this issue now haha the above referenced issue shows that it was confirmed fixed for me though.

[2021-06-04 02:14] c10h15n opened #1974 "RedisSentinel ERR unknown command `ECHO`, with args beginning with: `phpredis:60b98b3568f12:163f77ac`"
### I'm seeing this behaviour on
- OS: Centos7
- Redis: 5.0.3
- PHP: 7.2.24
- phpredis: 5.3.4

### code
`
$s = new RedisSentinel('127.0.0.1', 26379, 0, 'sentinel');
$s->getMasterAddrByName('redis67')
`
then I tcpdump

E.....@.@.E{........g..Lnme.]x.gP..V.x..-ERR unknown command `ECHO`, with args beginning with: `phpredis:60b98c66c0e01:51ba8313`,

IP 127.0.0.1.48460 > 127.0.0.1.26379: tcp 0
E..(#.@

[2021-06-09 08:45] pprkut opened #1975 "Test failures with PHP 7.4.x on CentOS 7"
### Expected behaviour

Test should pass

### Actual behaviour

[code]

### I'm seeing this behaviour on
- OS: CentOS 7
- Redis: 3.2.12
- PHP: 7.4.20
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

I'm using a modified version of the Fedora spec file to build the extension (attached).
I use the same spec file for phpredis 5.2.2 (only modifying the version) and that one buil

[2021-06-09 10:00] remicollet commented on #1975
Cannot reproduce, but using latest redis (6.2.4)

BTW, why do you reinvent the wheel ?
https://rpms.remirepo.net/wizard/

(P.S. my repo is used as upstream for Fedora...)

[2021-06-09 10:50] pprkut commented on #1975
We need a custom built PHP (to have HTTP2 support in the curl extension) and then we build the extensions we need against that custom PHP. We do plan on switching to your newer redis package though, but for now we're on the one from epel.
But it's good to know at least that it should work fine with the newer redis version :)

[2021-06-10 13:17] yatsukhnenko commented on #1974
@c10h15n could you test changes from `issue-1974` branch?

[2021-06-11 03:26] BinZhiZhu commented on #1443
phpredis exception in windows ：Redis::eval():send of 646 bytes failed with errno=10054

how to fix?

[2021-06-14 15:13] ethaniel opened #1977 "Is there a way to cache dead masters for a certain period of time?"
### Expected behaviour
I have a 3 server redis cluster as a memcached replacement. All nodes are master, without slaves.
I'm testing a scenario when one of the nodes is dead and am expecting phpredis to cache the server status for a certain period of time (something like redis.arrays.retryinterval but for clusters?). This would allow the site not to slow down when there are problems with redis.

#

[2021-06-14 15:27] yatsukhnenko commented on #1977
@ethaniel slots cache is available in phpredis >= 5.0.0

[2021-06-14 15:35] ethaniel commented on #1977
Upgraded via `yum install php-pecl-redis5` (and edited the original post to reflect the new version), the slots cache is enabled, however it doesn't affect caching of the downed masters:

[code]

[2021-06-14 15:44] ethaniel commented on #1977
Perhaps since I'm not using slaves, I should be using the Array function instead? Looks like it has redis.arrays.retryinterval which is what I need?

[2021-06-14 16:35] ethaniel commented on #1977
The redis.arrays.retryinterval works perfectly, however I can't use arrays and need to stick to cluster mode only.
If one of my nodes goes down, pacemaker/corosync automatically moves the redis instance to another server with the same configuration (data is wiped, but I don't care).
Using the clustermap the clients instantly know the new IP address of the server, while in arrays this is not possib

[2021-06-14 17:03] ethaniel commented on #1977
**Workaround**

Since I'm not using slaves, I ended up giving up on the cluster and started using Arrays. The redis.arrays.retryinterval works perfectly in my case.

If one of my nodes goes down, pacemaker/corosync automatically moves the redis instance to another server with the same configuration (data is wiped, but I don't care). There is also a virtual IP attached to each node with pacemaker/c

[2021-06-14 22:27] ethaniel opened #1978 "When will RedisArray support persistense?"
I am getting occasional "Redis server went away" on lazy load and noticed that my redis servers are hammered with open/closed connections. I was wondering if RedisArray will support persistense?

[2021-06-15 06:55] yatsukhnenko commented on #1978
There are `pconnect` constructor option and `redis.arrays.pconnect` INI setting

[2021-06-15 07:55] EthanTang-Zq opened #1979 "PHP session handler specified database is invalid"
Why is the database specified by the PHP session handler invalid

parameter? database is useless，Unable to specify Redis database

PHP version 7.3.8-1+ubuntu16.04.1+deb.sury.org+1
PHPRedis version 4.3.0
Redis server v=6.0.11

[2021-06-15 08:02] ethaniel commented on #1978
Haha, yes, thank you! Perhaps need to add to the manual? I was looking for "persistent" (as per the RedisCluster), was not expecting it to be "pconnect".

[2021-06-16 03:07] EthanTang-Zq commented on #1626
why? Failed to read session data: redis (path: 127.0.0.1:6479?database=5) in /var/www/qa/acount.php on line 3
session.save_path Can't define database?
PHP 版本 7.3.8-1+ubuntu16.04.1+deb.sury.org+1
PHPRedis 版本 4.3.0
Redis 服务器 v=6.0.11

[2021-06-16 03:11] EthanTang-Zq opened #1980 "PHP Warning: session_start(): Failed to read session data: redis (path: 127.0.0.1:6479?database=5)"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch
PHP 版本 7.3.8-1+ubuntu16.04.1+deb.sury.org+1 PHPRedis 版本 4.3.0 Redis 服务器 v=6.0.11

[2021-06-16 06:19] yatsukhnenko commented on #1626
@tangzhiqiangh try to use `tcp://127.0.0.1:6479?database=5` as session.save_path

[2021-06-16 11:00] c10h15n commented on #1974
test worked well, no more ERR ECHO message

### redis-5.3.4]# tcpdump -nntlqA port 26379 -i lo|grep ECHO
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on lo, link-type EN10MB (Ethernet), capture size 65535 bytes
ECHO
E.....@.@...........g.g@I..<.m..P....x..-ERR unknown command `ECHO`, with args beginning with: `phpredis:60c9b669962d2:4d7b03b8`,

^C3388 packet

[2021-06-16 15:56] yatsukhnenko commented on #1980
Duplicate #1979

[2021-06-16 15:56] #1980 closed, assigned to nobody

[2021-06-16 15:57] yatsukhnenko commented on #1974
Thanks @c10h15n I will try to find another solution

[2021-06-23 13:17] ethaniel commented on #1978
Also, another mistake in the manual:

[code]

So is it retry_interval or retry_timeout that I should be using?

[2021-06-23 13:53] ethaniel opened #1981 "Persistent Arrays: dead server locks script when retry_interval is set"
### Expected behaviour

1. `$mc = new RedisArray(Array("10.0.0.154:7004"), array("retry_interval" => 5000,"connect_timeout" => 0.1,"read_timeout" => 0.5, "pconnect" => true));`
2. I send GET requests in a loop every 200ms.
3. I kill redis on 10.0.0.154:7004.
4. I expect RedisArray to return an error immediately and on every following request during the 5000 ms. Next connection should be tried only

[2021-06-23 19:47] ethaniel commented on #1981
Leaving a very dirty fix:

[code]

[2021-06-24 13:21] AdamKatzDev opened #1982 "zend_mm_heap crash when using zrangebyscore with Redis Cluster"
### Expected behaviour
Not crashing
### Actual behaviour
zend_mm_heap crash

### I'm seeing this behaviour on
- OS: Ubuntu 20.04 LTS
- Redis: 6.0.5 (2 shards with 2 nodes each in AWS ElastiCache)
- PHP: 7.4.16 (CLI)
- phpredis: 5.3.4 from ppa:ondrej

### Steps to reproduce, backtrace or example script
`$redis->zRangeByScore($key, 0, strtotime("now"));`
`$redis->zRangeByScore($key, 0, strtotime("no

[2021-06-30 11:32] mzurawek opened #1984 "rPush ignores variadic arguments"
### Expected behaviour

Adding all variadic arguments to list

[code]

### Actual behaviour

Adding only first variadic argument to list

[code]

### I'm seeing this behaviour on
- OS: macOS Big Sur
- Redis: 6.2.1
- PHP: 8.0.7
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

[code]

[code]
### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fi

[2021-06-30 16:51] xtreme03 opened #1985 "Pecl install redis fails"
### Expected behaviour
pecl install redis is failing
### Actual behaviour

### I'm seeing this behaviour on
- OS: macOS Big Sur v11.2.3
- Redis: 5.0.6
- PHP:7.3
- phpredis:5.3.4

### Steps to reproduce, backtrace or example script
sudo pecl install redis

[code]

[2021-06-30 17:30] michael-grunder commented on #1984
I'm not seeing this behavior:

[code]

[code]

[2021-07-01 12:06] mzurawek commented on #1984
Your example works for me too. Sorry, it looks like it's rather some error in SncRedisBundle. I've created an issue there: https://github.com/snc/SncRedisBundle/issues/612

[2021-07-03 01:50] #1984 closed, assigned to nobody

[2021-07-03 08:14] yatsukhnenko commented on #1972
https://github.com/phpredis/phpredis/blob/develop/README.markdown#acl

[2021-07-05 03:31] Novynn opened #1987 "phpredis calls php_random_bytes before random is initialised"
### Expected behaviour
`get_random_bytes()` should be called once random has initialized it's `fd` global to -1.

### Actual behaviour
phpredis calls `get_random_bytes()` before `random_globals_ctor()` is called resulting in the `fd` remaining 0. This breaks systems that rely on it (those without a `getrandom()` syscall) as an uninitialised `fd` is expected to be less than 0 (see line 156 in rando

[2021-07-10 22:05] mhf-ir opened #1988 "Compile warning PHP 8"
### Expected behavior
compile without any warning

### Actual behavior
warning during compile:
[code]

### I'm seeing this behavior on
- OS: docker.io/php:8-fpm-alpine
- Redis:
- PHP: 8.0.8
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script
Sample gitlab pipline:
https://gitlab.com/aasaam/php-docker-image/-/jobs/1414728140

### I've checked
- [x] There is no similar issue from

[2021-07-12 06:27] leozhang369 opened #1989 "read error on connection"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: centos6.5
- Redis:5.0
- PHP:php7.2
- phpredis：4.0
code like this
  $redis->connect($host, $port,$timeout);
  $redis>auth($passwd);

[2021-07-20 06:55] astar10239 commented on #1385
Any solution for this, i am also getting the same issue

[2021-07-20 12:55] ttodua commented on #1985
You should use `pickle` instead of `pecl` (from PHP 7.3)

[2021-07-20 12:55] ttodua commented on #1988
use pickle instead of pecl (from php 7.3)

[2021-07-20 18:55] jspaetzel commented on #1322
I just encountered this with PHPRedis 5.3.4 & PHP 7.3. Is there an issue to track fixing this?
Seems somewhat related to https://github.com/phpredis/phpredis/issues/1838 as well.

[2021-07-21 09:28] skjnldsv commented on #1532
~~Anyone found a fix?~~

~~php 8.0.8~~
~~php-redis 5.3.4~~

EDIT: realized I was misusing the php call...

[code]

[2021-07-26 16:28] BoogerMan2103 opened #1995 "failover support for multi-master (active-replica) for keydb (redis)"
# Failover config support
Maybe among the issues there are cases of solving this problem, but none of the read ones helped me.

Case: I have 2+ nodes with keydb (fully compatible syntax with redis) each one with full copy of db for failover, whatever there are 2 or 3 instances of the redis, which are configured same way in constant exchange with each other and are represented as "masters" (active-

[2021-07-27 08:12] BoogerMan2103 commented on #1995
In cluster mode
[code]
Accidentally fail 1 of 3 node -> cluster get down whole

[2021-07-28 18:35] Braunson commented on #1881
I am seeing this while running on Heroku, starting to happen more frequently daily.

**UPDATE (9/22/2021):** Still happening, much more frequently now. Anyone have any solutions or ideas on this?

[2021-07-30 07:18] pradeeshgs01 opened #1998 "Redis Connection Issue"
Our application and Redis is running  on Docker container, daily at sometime redis container consuming more memory and it gets restarted or sometime we getting "504 Bad Gateway" error. Then automatically our application goes up and i got these following log

Logs
ERROR : Predis\Connection\ConnectionException: Connection refused [tcp://**.**.**.**:7777] in /var/www/project/project-files/vendor/pred

[2021-08-05 22:55] jesseorr opened #1999 "Using TLS, with domains not matching certificates"
This is more of a documentation request.

Redis over TLS is connectable via a valid hostname matching the TLS certificates that redis uses. However, if using localhost or 127.0.0.1, the phpredis pconnect fails.

### Expected behaviour
pconnect to return a redis object

### Actual behaviour
A critical exception is raised, with the following error:
[code]

### I'm seeing this behaviour on
- OS: Rock

[2021-08-09 05:19] OneCodeMonkey commented on #1589
@remicollet great! add it to `php.d/redis.ini`:
[code]
this work!
thks~

[2021-08-12 12:56] lu-you opened #2000 "When using pconnect the auth is unnecessary after the first transmission"
when use pconnect, code is:
$redis = new Redis();
$redis->pconnect('127.0.0.1', 6379, 2.5);
$redis->auth("passwd");
$ret = $redis->set('foo', 1);
var_dump($ret);

strace result is , each time it sends the command auth.

pconnect avoids repeated establishment connect,but it is not necessary to send auth command if current connection comes from the connection pool.
Can you provide a way to judge the

[2021-08-19 02:50] taka-oyama commented on #1674
Hi again. Just a small FYI.
I was checking out Envoy Proxy for our kubernetes setup and saw that it too has it's own custom errors.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#failure-modes

[2021-08-23 13:17] steamboatid opened #2001 "SETS stored as intset, avoid hashtable"
### Expected behaviour
KeyDB (or maybe REDIS) store SETS as **intset** if inputed with **integer** values.
If possible, please add dedicated method to phpredis, named as _sAddInt_ and _sAddIntArray_ to utilize **intset**

FYI, I store about 50K items in SETS.
I believe it will reduce the memory needed, if we can utilize intset SETS at Redis or KeyDB

### Actual behaviour
KeyDB always save SETS as

[2021-08-23 14:39] RoodFruit commented on #1664
Thank you so much. This fixed it for me in Lumen.

[2021-08-23 17:55] Ridzhi opened #2002 "sAdd return 0, if value exists"
### Expected behaviour
`return false like in sAdd docblock `

`* @return int|bool The number of elements added to the set.
     * If this value is already in the set, FALSE is returned`
### Actual behaviour
`return 0`
### I'm seeing this behaviour on
- OS: MacOS 11.5.2
- Redis: 6.0.6
- PHP: 8.0.9
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

[code]

### I've checked
- [x]

[2021-08-24 03:48] steamboatid commented on #2002
according to readme, the return value is LONG.
[https://github.com/phpredis/phpredis#return-value-86](https://github.com/phpredis/phpredis#return-value-86)

[2021-08-25 19:02] michael-grunder commented on #2001
This isn't under phpredis' control.

There is a `redis-server` configuration value called `set-max-intset-entries` which determines how large sets can be before they are converted into a hash table.

This program illustrates that:

[code]

You can likely increase that setting much higher than `512` but you will need to test whether it works in your use-case.  The `intset` encoding is much more mem

[2021-08-25 21:53] michael-grunder commented on #2001
Closing this, since it's not a bug in PhpRedis (or even under our control) but feel free to ask any other questions you have.

[2021-08-25 21:53] #2001 closed, assigned to nobody

[2021-08-25 22:00] michael-grunder commented on #2002
I removed the erroneous bit about returning `FALSE`.

First time I used the GitHub editor directly too, which is cool.

[2021-08-25 22:00] #2002 closed, assigned to nobody

[2021-08-26 00:52] Ridzhi commented on #2002
What about method docblock?

[2021-08-26 03:55] #1954 closed, assigned to nobody

[2021-08-26 07:17] steamboatid commented on #2001
thank you for the kind response.

I've tried to increase `set-max-intset-entries` to a very large number (10K in my case), but at production. KeyDB still convert to "hastable" encodings.

so what about adding **sAddInt** and **sAddIntArray** just to make sure that we send integer/long to the server ?

it seem that we need to add `redis_key_long_arr_cmd` as addition to existing `redis_key_str_arr_c