[2021-08-26 19:38] michael-grunder commented on #2001
I don't see this behavior.

If I start an instance of KeyDB like so:
[code]

And then run my little test script, I get the output I would expect (`intset` until the set has more than 10000 elements):

[code]

Also, KeyDB [just tests if the input string can be converted to a long](https://github.com/EQ-Alpha/KeyDB/blob/0be40b9fd43ec4e7802e09fa627ad91b2e387707/src/t_set.cpp#L63)

You may be running

[2021-08-30 13:08] fabiosouzadatamex opened #2004 "[session-handler] Communication using master-slave with sentinel with problem save session"
Hello,

I'm using phpredis to communicate with my master-slave structure with sentries.
I have a master and two slaves on different virtual machines, each VM has a sentinel.

My problem is when creating the link using the save_path of php.ini...
I read the documentation and saw the possibility of distributing my master-slave in this configuration parameter:

`session.save_path = "tcp://masterip:63

[2021-08-30 13:13] yatsukhnenko commented on #2004
Currently phpredis session handler expects that all hosts in `save_path` are masters (read/write)

[2021-08-30 13:20] fabiosouzadatamex commented on #2004
Thanks for the answer..
So the only way to communicate my structure with php sessions would be using the phpredis class?

[2021-08-30 13:20] fabiosouzadatamex commented on #2004
Thanks for the answer..
So the only way to communicate my structure with php sessions would be using the phpredis class?

[2021-08-30 13:25] yatsukhnenko commented on #2004
Not the only way... For example you may use proxy like twemproxy/dynomite/etc to split read/write requests

[2021-08-30 14:06] ethaniel commented on #670
Thank you for documenting this. I was originally setting the value as 1, only to incr it later. I was wondering why the hell it doesn't work, until I stumbled onto this.

[2021-09-03 07:50] i2dcarrasco opened #2005 "[Feature] Add compression support for PHP sessions"
Hello,

We are using your redis module to manage our PHP sessions on our webpage and works very well. The problem is that we are managing a lot of sessions and our Redis size is starting to be a bit big (about 55Gb just now), so I want to know if will be possible to add any compression method for sessions storage, like lz4, snappy or any fast method.

### Expected behaviour
Allow to use one or mor

[2021-09-03 08:56] Namoshek commented on #1995
@BoogerMan2103 I'm using a very similar setup, deployed in a Kubernetes cluster. Because active replication is potentially problematic when using Redis for locking or anything more reliable than caching, we have deployed HAProxy (also replicated) as load balancer in front of KeyDB with the following config:

[code]

This does a few things:
- The `HAPROXY_REDIS_PORT` environment variable defines th

[2021-09-04 00:16] Ahzam-Lathiya opened #2006 "Not getting different SessionID but same for each window/Browser."
### Expected behaviour
There is supposed to different session ID when request is sent from different window/browser.

### Actual behaviour
I've been using $_SESSION to implement sessions, but now I want to use redis. The problem is that there is only one 'PHPSESSID' in only one window. I am doing this to implement sessions on my app. I'm storing logged in users inside sessions. The thing is when I

[2021-09-13 18:45] mauriciogior opened #2008 "Timeout an operation"
When running an operation like `->get` or `->set`, there's no way to setup a timeout in case Redis is clogged up and is taking minutes to respond a simple operation, and since PHP is synchronous, the only way would be using `fork` and things would get more complex.

Is there a way to set a timeout for operations like we have for `connect` and `pconnect`?

[2021-09-14 11:01] apuppy opened #2009 "No equivlent mehtod to redis ZRANDMEMBER"
### Expected behaviour
I have to use ZRANDMEMBER in phpredis
### Actual behaviour
There's no method ZRANDMEMBER in phpredis.
### I'm seeing this behaviour on
- OS: Alpine Linux 3.11 (in docker container)
- Redis: 6.2.5
- PHP: PHP 7.4.23 (cli) (built: Aug 27 2021 01:57:02) ( NTS )
- phpredis:
[code]

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar iss

[2021-09-14 14:19] yatsukhnenko commented on #2008
@mauriciogior you can use [Redis::setOption](https://github.com/phpredis/phpredis#setoption) to set read timeout before executing oparation

[2021-09-14 16:57] mauriciogior commented on #2008
Thank you @yatsukhnenko !
Could you clarify if the timeout is in seconds or milliseconds?
Also, what's the expected behavior if it times out? Does it throw an exception or a fatal error?

Thanks!

[2021-09-14 17:21] michael-grunder commented on #2009
Thanks for the report, we'll get it implemented.

As a workaround you can use `rawCommand`:

[code]

[2021-09-15 12:34] eddturtle commented on #1941
Hope you don't mind me asking @tomsutton1984 - did you manage this in the end with Heroku? I'm currently hitting the same issue

[2021-09-15 15:54] ninthspace commented on #1894
Redis 6.2RC2 (12 Jan 2021) has additional commands and changes, which aren't listed above:

* Add the REV, BYLEX and BYSCORE arguments to ZRANGE, and the ZRANGESTORE command (#7844)
* Add the XAUTOCLAIM command (#7973)
* Add the MINID trimming strategy and the LIMIT argument to XADD and XTRIM (#8169)
* Add the ANY argument to GEOSEARCH and GEORADIUS (#8259)
* Add the CH, NX, XX arguments to GEOADD

[2021-09-15 17:00] dochne commented on #1905
As you've now moved to using the php-stubs generator, I believe that this will be resolved.

[2021-09-15 17:00] #1905 closed, assigned to nobody

[2021-09-16 06:54] yatsukhnenko commented on #1894
Thanks @ninthspace

[2021-09-18 12:40] yatsukhnenko commented on #1869
This should be fixed in `develop` branch

[2021-09-18 12:40] #1869 closed, assigned to nobody

[2021-09-23 06:43] xicond commented on #1893
In my case, it cause by I'm using cdn on assets, is there any way to workaround ?

[2021-09-24 17:12] Gounlaf opened #2012 "XINFO issue with options"
### Expected behaviour

XINFO STREAM should work without options (expect stream name)

[code]

### Actual behaviour

Got this error instead:

[code]

### I'm seeing this behaviour on
- OS: Alpine Linux 3.14.x (Docker)
- Redis: 6.2 (Official Docker Image)
- PHP: 8.0.10-alpine (Official Docker Image)
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

Try one of theses:

[code]

[2021-09-25 18:56] michael-grunder commented on #2012
I don't see this precise behavior.

[code]

I can replicate the issue with the other variants, however:

[code]

I think it's probably fine to ignore "empty" extra arguments to `XINFO STREAM` although I wonder if that is technically a breaking change.

@yatsukhnenko Any opinion?  Simple fix but the question is whether we should make it.

[2021-09-25 19:19] Gounlaf commented on #2012
~~@michael-grunder I can provide a reproductible minimal environment via Docker~~

Edit: I will try to provide a reproductible env on monday (work time); doing it tonight, I can't reproduce it!

The 3 "tests" with `''`, `NULL` and `false` was to try giving a "value" to the phantom option `''` in the error message

[2021-09-25 20:01] michael-grunder commented on #2012
Sure thing, no worries.

I tried in alpine Linux as well and can't reproduce the first case there either.

[minimum-example.tar.gz](https://github.com/phpredis/phpredis/files/7230274/minimum-example.tar.gz)

Passing an extra "empty" argument does cause the problem though, and should probably be fixed.

[2021-09-26 04:23] dwightwatson commented on #1881
This has popped up out of nowhere for me and appears to be happening more frequently. Also on Heroku.

[2021-09-26 05:50] yatsukhnenko commented on #2012
@michael-grunder IMO we may only ignore `NULL` value, all other "empty" arguments must be casted to empty string

[2021-09-26 12:52] yatsukhnenko commented on #934
@B-Galati @bryanlatten @galves I merged changes to `develop` branch which allows you to set configuration while creating object.

[2021-09-27 09:56] Gounlaf commented on #2012
Hi,

I found the cause of my problem: I'm using a proxy generator for testing purpose; it cause the issue...
Anyway, nothing from the extension!

Sorry!

[2021-09-27 17:36] michael-grunder opened #2014 "PhpRedis 5.3.5"
I think it's about time to release 5.3.5 as there have been a decent number of additions and fixes over the past few months.

@yatsukhnenko I didn't see any breaking changes from my quick scan of the commit log but let me know if there are some that I didn't see.

[2021-09-27 18:25] yatsukhnenko commented on #2014
There were a plenty of breaking changes that why two or three previous releases we didn't create from `develop` branch 😄

[2021-09-27 19:48] michael-grunder commented on #2014
That's fine, I can individually merge the non breaking changes for the release

[2021-09-29 16:25] rlerdorf commented on #2014
A 5.3.5 would be nice. The retry/backoff code would be good to have in a formal release.

[2021-10-01 12:52] dzuelke commented on #1881
I've been investigating this a bit (no way of reproducing, so just walking through the code), and in the process of that, came across [someone claiming this may also happen with very low timeout values](https://github.com/onlinecity/php-smpp/issues/9#issuecomment-19025567).

The Laravel Phpredis connector explicitly sets timeouts to `0.0`, so I was suspecting that maybe this code is tripping over

[2021-10-02 13:23] donng commented on #831
Issue is closed, so is there a conclusion ?

[2021-10-02 13:44] donng commented on #831
How did you fix it ...

[2021-10-05 21:37] michael-grunder commented on #2014
I need to update the changelog fix any small issues but here is the release branch I'm working on.

[5.3.5-rc1 release branch](https://github.com/phpredis/phpredis/pull/new/release/5.3.5-rc1)

[2021-10-06 23:52] rlerdorf commented on #2014
Built and tested rc1. Looks good here.

[2021-10-07 13:14] webrobot1 opened #2017 "After hMSet, hGetAll not return data"
### Expected behaviour

After "hMSet"  data available from "hMGet" and "hGetAll"

### Actual behaviour
After "hMSet"  data available from "hMGet" , but not from "hGetAll"

### I'm seeing this behaviour on
- OS: Ubuntu
- Redis: 4 and 6 (still nor work)
- PHP: 8
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script

you can set "hMSet" and try "hGetAll"

### I've checked
- [V] There

[2021-10-07 13:51] webrobot1 commented on #2017
it look like because hMSet  is deprecated, but phpredis  not allow hSet set  multiple of data as support redis 4.0.0 (it is very bad). I check "predis" - similar

[2021-10-07 14:19] #2017 closed, assigned to nobody

[2021-10-07 14:20] webrobot1 commented on #2017
it my mistake - all ok

[2021-10-07 14:21] yatsukhnenko commented on #2012
Resolved

[2021-10-07 14:21] #2012 closed, assigned to michael-grunder

[2021-10-07 14:25] yatsukhnenko commented on #1998
You probably wanted to open issue [here](https://github.com/predis/predis)

[2021-10-07 14:25] #1998 closed, assigned to nobody

[2021-10-07 14:32] yatsukhnenko commented on #2008
Read timeout is float value in seconds.
PhpRedis throws the exception `RedisException: read error on connection`

[2021-10-07 14:43] yatsukhnenko commented on #2006
@Ahzam-Lathiya what do you mean by `there is only one 'PHPSESSID' in only one window`?

[2021-10-07 16:17] Ahzam-Lathiya commented on #2006
@yatsukhnenko I mean that there is only one session created in total. Whether I'm using one window or multiple windows. And if session is deleted from any one of that window, all the windows lose data in sessions. This isn't happening when I'm using $_SESSION variable to store data.
How to resolve?

[2021-10-07 16:52] yatsukhnenko commented on #2006
How do you create session with and without Redis?

[2021-10-07 17:31] Ahzam-Lathiya commented on #2006
@yatsukhnenko
Without redis :
[code]

With redis:

[code]

With redis I can't create/store multiple sessions. Without, I can create and store multiple sessions.

[2021-10-07 17:40] yatsukhnenko commented on #2006
Have you read https://github.com/phpredis/phpredis#php-session-handler ?

[2021-10-07 17:49] Ahzam-Lathiya commented on #2006
@yatsukhnenko I have, I followed the instructions. I've configured it accordingly. I've rechecked like a million times. Please tell me how can I resolve this issue.
Although one thing I'm missing is the igbinary serializer. I installed it with pecl, but that didn't work. I think that might be the issue behind all this.

[2021-10-07 17:55] yatsukhnenko commented on #2006
If you configure session handler to `redis` you can use $_SESSION variable as usual, PHP will store data in Redis instead of files.
Alternatively if you want to explicitly manage data in Redis you may look at https://www.php.net/manual/en/session.customhandler.php

[2021-10-07 18:02] Ahzam-Lathiya commented on #2006
@yatsukhnenko Yes I know that.
Then what is the use of php-redis if we are to use the $_SESSION super Global.

[2021-10-07 18:30] yatsukhnenko commented on #2006
PhpRedis adds `redis` session handler to PHP

[2021-10-07 19:21] michael-grunder commented on #2006
Maybe this example can make it more clear:

In one terminal execute:
[code]

And in a second terminal, save this code to a file and run it:
[code]

You should see activity in Redis:
[code]

[2021-10-08 18:57] michael-grunder commented on #2006
@Ahzam-Lathiya I think this can be closed?  You just use the `$_SESSION` superglobal as normal, but tell PHP to use the Redis handler.

[2021-10-08 20:29] Ahzam-Lathiya commented on #2006
@michael-grunder My problem is still there.
Why would I ask a question here if I were to use the $_SESSION global variable.

[2021-10-08 20:53] michael-grunder commented on #2006
The way to access PhpRedis stored session information is through the `$_SESSION` variable.  Did you see my other comment?

We're happy to help but you need to listen to us.

[2021-10-11 17:54] crussell52 commented on #1894
Hi!  Just trying to understand compatibility state.

I have an existing 6.2 redis server that I would like to attach PHP to.  I don't need to access any of the 6.x Redis features. Is it safe to say that `phpredis` will work as a client so long as I stay within the bounds of the Redis 5 commands?

[2021-10-11 18:28] michael-grunder commented on #1894
Yes, you should be fine.  AFAIK lots of people are using PhpRedis against Redis 6.0 in production, and I've been using PhpRedis against Redis 6.x pretty much since 6.0 was released.

[2021-10-14 09:36] Tarasovych commented on #1881
Same issue with AWS ECS. We have ECS tasks connecting to redis on EC2.
[code]

Client timeout was 5 seconds (default). I have tried 10 with no success. `php:8.0.11-fpm-buster` is used

[2021-10-14 13:30] dzuelke commented on #1881
Ohhhh that's interesting @Tarasovych, is that an `strace` of a failing call?

Do you have a reproduce case?

The problem there is that it opens a blocking IPv6 socket, but a non-blocking IPv4 socket.

I wonder if that's a bug somewhere in PHP or the OS, given how ext-redis definitely does not set the socket to non-blocking...

Maybe it's intermittent because sometimes, hostnames resolve as IPv6 fi

[2021-10-14 13:43] Tarasovych commented on #1881
Yes.

No( It occurs from time to time.

Subnet is used for AWS ECS doesn't have IPv6 CIDR, and AWS ECS tasks don't receive IPv6 address on startup. Anyway, the VPC has IPv6 CIDR, so VPC subnet route tables have IPv6 route.

I can't share real hostname, it's Public IPv4 DNS for EC2, if you're familiar with AWS EC2. Something like ec2-11-22-33-44.eu-west-1.compute.amazonaws.com

[2021-10-14 13:52] dzuelke commented on #1881
Ah so you're running Redis yourself in EC2, right?

I meant the EC2 hostname. I have seen this happen in the wild, with the error being thrown for an IPv6 address connection attempt, so I think we're getting closer.

Can you `dig -4` and `dig -6` the EC2 hostname? Ideally from within an ECS instance.

[2021-10-14 13:54] Tarasovych commented on #1881
You're right.

Yes, I'll take a look

[2021-10-14 13:58] dzuelke commented on #1881
Oh nevermind. It looks like the first two connects are just DNS queries (to `10.1.0.2`). We're back to square one then.

It doesn't close the DNS socket, and re-connects to `10.1.0.205` using the same FD (return value `6`), maybe that's related? I'm not familiar enough with low-level OS networking internals.

[2021-10-14 15:15] yatsukhnenko commented on #1881
@dzuelke yes, that is the reason of `EINPROGRESS` error

[2021-10-14 17:28] dzuelke commented on #1881
Can you `strace` a successful connect for comparison and paste the same section please, @Tarasovych?

[2021-10-14 17:30] dzuelke commented on #1881
So, a bug in PHP then, @yatsukhnenko ?

I've been digging through the PHP sources a bit to see where it does the name resolution during connects, but haven't found anything... or is it happening inside `ext-redis`?

The streams subsystem is royally confusing; I think setting a particular option on a socket actually causes a connect, if I'm understanding that right, so it's a bit of a mess to untan

[2021-10-14 17:33] dzuelke commented on #1881
(but why would all these `socket()` calls return the same file descriptor in the first place? even just initially for the `AF_INET6` and `AF_INET` domains?)

[2021-10-15 13:14] Tarasovych commented on #1881
Those traces I posted above are from different ECS containers, by the way. Each run is executed on "clean" env

[2021-10-15 13:25] Tarasovych commented on #1881
I've created a gist with readable strace diff between success and failed connections, take a look on 2nd revision
https://gist.github.com/Tarasovych/6b365bb78ccdf41779de548563e689c5/revisions

[2021-10-18 08:13] eddturtle commented on #1941
I asked Heroku Support about this issue, thought I'd share their reply here in case anyone's in the same boat

[2021-10-18 08:35] kkmuffme commented on #2000
I tried using https://github.com/phpredis/phpredis#getauth to check if there is an auth (from pconnect connection) before sending the auth command

Unfortunately, it always returns null, so it cannot be used to check if a pconnect connection is already authed or not.

[2021-10-18 15:34] yatsukhnenko commented on #2008
Resolved

[2021-10-18 15:34] #2008 closed, assigned to nobody

[2021-10-18 15:35] yatsukhnenko commented on #2006
Resolved

[2021-10-18 15:35] #2006 closed, assigned to nobody

[2021-10-18 15:36] yatsukhnenko commented on #2004
Resolved

[2021-10-18 15:36] #2004 closed, assigned to nobody

[2021-10-18 15:37] yatsukhnenko commented on #1989
Old issue without any activity for a long time

[2021-10-18 15:37] #1989 closed, assigned to nobody

[2021-10-18 15:46] yatsukhnenko commented on #1948
Old issue without any activity for a long time

[2021-10-18 15:46] #1948 closed, assigned to nobody

[2021-10-19 13:40] bzikarsky commented on #1871
I am in a related situation. In our case, we are actually measuring the time for all Redis operations. This is also currently done with some inheritance, __call and composition hackery but it is incredibly dirty from a type-system perspective. Essentially the code knows that it has a "SomethingWrappingRedis" and we make static-analysis/IDEs happy through annotating such variables/methods with `Som

[2021-10-19 21:19] therohitdas commented on #1822
I ran into the same issue while installing the extension on Pop!_OS 21.04
I was passing the `php` binary as -
[code]
I fixed it by passing `php-config`
[code]

I was installing the extension to my Xampp installation so the location was `/opt/lampp/`

[2021-10-23 17:45] yatsukhnenko commented on #1522
@joeyhub Now you can disable reconnection using `OPT_MAX_RETRIES` with 0

[2021-10-27 06:29] yatsukhnenko commented on #1733
Fixed in `develop` branch

[2021-10-29 03:05] ShiQianzhi opened #2026 "zrange or zrevrange withscores has a bug"
Hello, When I use zset of zrange get result withscores has some problem:
[code]
![image](https://user-images.githubusercontent.com/26079616/139366861-95db2d88-cae1-49a0-9c79-41b8aed5adac.png)
![image](https://user-images.githubusercontent.com/26079616/139366891-25667bdd-f377-486a-a9e9-958f1016de73.png)
Why the result is diffrent?

[2021-10-29 04:10] yatsukhnenko commented on #2026
https://github.com/phpredis/phpredis/blob/073f844fd6953f996b704bfab78b288305131e4a/redis_commands.c#L532

[2021-10-29 22:21] aran112000 opened #2027 "PHP 8.1 release support for testing"
PHP 8.1 is now less than a month away and as such we have begun the process of testing our applications against it preparing for release, however, the current PECL Redis release (5.3.4) is failing for PHP 8.1. Would it be possible to publish a new release for 8.1 support ahead of the official PHP release?

The result when trying to run against PHP 8.1:
[code]

[2021-10-30 03:10] michael-grunder commented on #2027
Yes, I will take a look this weekend.

[2021-10-30 06:48] yatsukhnenko commented on #2027
@aran112000 it looks like you took redis.so compiled for PHP 8.0 and try to use it with PHP 8.1

[2021-10-30 07:05] aran112000 commented on #2027
Correct me if I've missed something, but there is currently no way to get Redis via PECL for 8.1, hence opening this issue?

[2021-10-30 07:21] yatsukhnenko commented on #2027
Do you mean binaries for Windows?
For Linux when you run `pecl install redis` it downloads source code of extension and build binary for your version of PHP.

[2021-10-30 07:31] aran112000 commented on #2027
The above was the result after running that exact command against PHP 8.1RC3 on Linux (Docker)

[2021-10-30 07:48] yatsukhnenko commented on #2027
Could you provide Dockerfile?

[2021-10-30 09:44] aran112000 commented on #2027
@yatsukhnenko I've just looked deeper at this and it does appear to be a Bref problem, rather than a Redis problem so I'll close this off now. Apologies for any inconvenience, but appreciate the quick responses all the same!

The issue is the base Docker repo they use to compile the extension was PHP 8.1 BETA 3 and then it tried to use it on PHP 8.1 RC3 which was failing that check

[2021-10-30 09:45] #2027 closed, assigned to nobody

[2021-10-30 17:52] yatsukhnenko commented on #1522
resolved

[2021-10-30 17:52] #1522 closed

[2021-10-31 10:09] hohoDigidea opened #2028 "Can binary data be stored in Hashes without base64?"
The official website said that Strings are binary safe, but it did not mention other types.

I have tried, it works for me. Just don't know if there will be special cases.

[2021-10-31 13:30] yatsukhnenko commented on #2028
Other types don't have such problems with binary data

[2021-11-01 09:12] ttodua opened #2029 "Question about Multi-Threading"
I have a question about multi-threading, and as I use PHP with PhpRedis (Ubuntu 20.04), at first I thought to ask here.
So, I run multiple threads, wherein I do set/get cache items. However, I frequently see situation, where cache set from one thread, can't be obtained from another process running in another thread.

Do I miss something, i.e. to set specific flag to enable multi-threading support

[2021-11-01 19:30] yatsukhnenko commented on #2029
Could you clarify how do you set/get items and what do you mean can't be obtained?

[2021-11-02 05:38] ttodua commented on #2029
Actually, application seems to use [Redis within Swoole 4.8.0](https://www.swoole.co.uk/docs/modules/swoole-redis-server), where Redis instance is got from [Redis Pool](https://www.swoole.co.uk/docs/modules/redis-connection-pool-config).
[code]

and then throughout application:
[code]

however, when I do "set" in another thread/process (let's say, key 'xyz') in another thread/process `->get('xyz')

[2021-11-04 22:37] xZero707 commented on #1176
I can confirm solution from the previous two comments perfectly work.

Prior, you need to install igbinary:
[code]

Then you install PhpRedis with igbinary support
[code]

You can also combine commands, but I would suggest you use Docker buildkit to compile/install these in parallel (build stages). But If you really want to combine:
[code]

[2021-11-07 11:54] Ahzam-Lathiya commented on #2006
@michael-grunder

I copied the code snippet you posted above. And looking at the redis-cli monitor I found this.

[code]

But the value is presented like this in redis-cli:
[code]

[2021-11-07 11:59] Ahzam-Lathiya commented on #2006
@yatsukhnenko But then what is the purpose of this extension/client 'PHPRedis'. I know I can dump my data into redis just by using $_SESSION. But I want to do it using this extension. Please be more specific about what configuration I need to make this work.

Also, When I use phpredis object instead of $_SESSION I get this warning.
`PHP Warning:  session_start(): Failed to read session data: user

[2021-11-07 19:49] michael-grunder commented on #2006
You _are_ using the PhpRedis extension when use use `$_SESSION` if `session.save_path` is set to `redis`.  The `PHPREDIS_SESSION:6u0qm2puckh37kju3jh6q4cpid` is coming from PhpRedis code.

[Here's a bit of a small tutorial](https://developpaper.com/how-to-use-redis-to-save-user-session-details/)

"\x00\x00\x00\x02\x14\x01\x11\x03foo\x11\x03bar"

That's because PHP serializes session data via [sessi

[2021-11-08 04:45] Ahzam-Lathiya commented on #2006
@michael-grunder Yes I'm using igbinary as a serializer. I installed it like this:
[code]

[2021-11-11 08:52] xxm404 opened #2030 "segfault when set RedisCluster option on none cluster mode"
### Expected behaviour
throw exception
### Actual behaviour
segfault
### I'm seeing this behaviour on
- OS:  Ubuntu 18.04.4 LTS
- Redis: 2.8.22
- PHP: 7.2.26
- phpredis: 5.3.2

### Steps to reproduce, backtrace or example script
[code]

dmesg log:
[code]

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2021-11-15 16:40] appel commented on #2
At ten years old this is certainly the oldest thread I ever resurrected, my apologies. To whomever wanders in here from Google (like I did), the following will output an array of information on the server, including `redis_version`:

[code]

More details here:
https://redis.io/commands/info

Another way:

[code]

[2021-11-15 19:08] #2030 closed, assigned to yatsukhnenko

[2021-11-16 20:36] nova-liminal commented on #1726
Glad this thread exists!  This was our problem exactly!

We're using DigitalOcean-managed Redis, php7.4.3, and Ubuntu 20.04.3.

Switching the connection string from using `tls://` to `tlsv1.2://` solved the issue for us!

[2021-11-17 02:09] #2026 closed, assigned to nobody

[2021-11-17 08:44] kkmuffme commented on #1921
@yatsukhnenko fyi this is becoming a problem, since static analysis tools (psalm, phpstan) flag errors if we check for a false value, which is not declared in the @return type.

e.g. `->mget( array( 'hello', 'world' ) )` with redis being offline (or other error), it returns `false` even though phpdoc is `@return array`

Psalm will flag as `RedundantCondition` then

[2021-11-30 16:50] ostrolucky opened #2038 "setOption(): Argument #1 ($option) must be of type string, int given,"
### Expected behaviour
No errors. CI green even with phpredis develop branch.

### Actual behaviour
Please check CI result of popular Symfony snc redis bundle https://github.com/snc/SncRedisBundle/runs/4370574797?check_suite_focus=true

[code]

Seems something has been changed in reflection system on dev branch and now proxy for setOption method is either generated wrongly, or you really changed t

[2021-12-01 18:37] yatsukhnenko commented on #2038
@ostrolucky could you run your tests again?

[2021-12-01 18:45] yatsukhnenko commented on #2028
Resolved

[2021-12-01 18:45] #2028 closed, assigned to nobody

[2021-12-01 21:51] ostrolucky commented on #2038
Still same, see here https://github.com/snc/SncRedisBundle/runs/4387754814?check_suite_focus=true Aren't you doing it opposite way? We use setOption like this https://github.com/snc/SncRedisBundle/blob/2cc51d9151c0c805c9181e864a1117f17b777ba6/src/Factory/PhpredisClientFactory.php#L130-L140 so we use values of `RedisCluster::OPT_` constants. Those are int, not string.

[2021-12-02 05:36] yatsukhnenko commented on #2038
Yes, you are right, there should be int not string.

[2021-12-02 06:38] ostrolucky commented on #2038
Yep, your last commit fixed this. CI is green now! https://github.com/snc/SncRedisBundle/runs/4391544071?check_suite_focus=true

[2021-12-02 06:38] #2038 closed, assigned to yatsukhnenko

[2021-12-02 23:45] andrey-helldar commented on #2027
I'm also waiting for an extension for windows 😊

[2021-12-04 18:49] ostrolucky commented on #1871
Meanwhile, this might help you for creating proxies https://github.com/snc/SncRedisBundle/pull/636/files#diff-84726d4a814078275f7f0ec03fb3b76f95708e7600975ac84bcffdf77283102fR250

[2021-12-06 07:05] ixqbar opened #2041 "php8.1 PHP Fatal error: Arginfo / zpp mismatch during call of Redis::pconnect()"
[code]

### I'm seeing this behaviour on
- PHP: 8.1
- phpredis: redis-5.3.5 redis-5.3.6 redis-5.3.7

[2021-12-07 18:37] michael-grunder commented on #2014
@remicollet We're looking to publish 5.3.5 GA in the next couple days.

[Release branch](https://github.com/phpredis/phpredis/tree/release/5.3.5).

I used QEMU to do some basic 32-bit testing but let me know if anything jumps out at you.

[2021-12-08 06:17] choironguk commented on #188
i had the same problem.
maybe you can try to below in php.ini set like this and then it's working
session.save_path = "tcp://localhost:6379?database=10"

i was setup session.save_path = "tcp://127.0.01:6379?database=10"  and then Appeared this problem

[2021-12-08 13:01] remicollet commented on #2014
@michael-grunder don't forget to bump the **version** in php_redis.h ;)

I've run a bunch of build on
* PHP 7.0 to 8.1
* Fedora 33, 34, 35 and 36 (x86_64 only)
* RHEL 7, 8 and 9-Beta  (x86_64 only)
* Fedora rawhide (aarch64, i686, x86_64, ppc64le, s390x, armv7hlà see https://koji.fedoraproject.org/koji/taskinfo?taskID=79715492

Build and test suite OK everywhere.

Only some deprecated calls in tes

[2021-12-08 13:34] arezk84 commented on #1881
Does anyone have any suggestions for this issue?

[2021-12-09 23:30] kkmuffme commented on #1921
Same also reported here https://github.com/phpredis/phpredis/issues/1923

[2021-12-09 23:31] kkmuffme commented on #1921
Could this please get fixed? psalm/phpstan are reporting errors basically everywhere, since the docs and stubs are incorrect.

[2021-12-13 16:30] DevDavido commented on #1176
What @xZero707 wrote worked perfectly fine! 👍
If you want to specify multiple configuration options, you can by creating a space-separated list like so:
[code]

[2021-12-14 22:39] ostrolucky opened #2044 "Reflection: getDefaultValue of multi fails"
### Expected behaviour
It should return `1`, as specified at  https://github.com/phpredis/phpredis/blob/eb44ea9aa453192f64a24da0972c9448e015cddb/redis.stub.php#L273

### Actual behaviour
[code]

### I'm seeing this behaviour on
- OS: MacOS 11.6.1
- PHP: 8.1.0
- phpredis: 5.3.4

### Steps to reproduce, backtrace or example script
[code]

### I've checked
- [x] There is no similar issue from other u

[2021-12-15 04:57] kingIZZZY commented on #2027
+1 me too
PHP 8.1 on windows please

[2021-12-15 08:15] yatsukhnenko commented on #2044
@ostrolucky shouldn't `ReflectionParameter::getDefaultValueConstantName` be used in this case?

[2021-12-15 09:12] ostrolucky commented on #2044
I don't think so, we are interested in default value, so that proxy is able to pass it as default value, not constant name. However, neither works
[code]

[2021-12-15 14:06] yatsukhnenko commented on #2044
@ostrolucky It might be problem in testing environment
[code]

[code]

[code]

[2021-12-15 14:13] noofaq commented on #2044
@yatsukhnenko In fact I have originated the base issue, so I have just tested on my local environment and I receive same error as @ostrolucky
![obraz](https://user-images.githubusercontent.com/1412384/146201578-c46b4556-6c26-4273-be3e-ac0d6c1594c3.png)

My configuration is  running in docker container based on `Debian11` using `PHP 8.0.13` and `php redis 5.3.4` (all packages are coming from sury P

[2021-12-15 14:17] yatsukhnenko commented on #2044
Could you try to test this code on the same environment but different extension?

[2021-12-15 14:26] noofaq commented on #2044
@yatsukhnenko Could you explain what do you mean?

I have just perform very basic trial: started container with official php docker image (`php/cli-bullseye` to be precise) which bases on PHP 8.1.0 and installed there redis extension using pecl (basic `pecl install redis`).
This allowed me to reproduce the issue very quickly.

Just to add: same error happens on the latest non-stable version `5.3.5

[2021-12-15 14:35] yatsukhnenko commented on #2044
I'm asking to run something like `php -r "var_dump((new ReflectionClass('ReflectionClass'))->getMethod('getMethod')->getParameters()[0]->getDefaultValue());"` on your environment

[2021-12-15 14:52] noofaq commented on #2044
Thank you for the explanation.

The exact function call you asked has failed in the same way:
![obraz](https://user-images.githubusercontent.com/1412384/146208578-e80dc379-98f2-44e8-9562-21d2659c4286.png)

But method ReflectionClass::getMethod does not have any default value for the first parameter.

Trying different method ReflectionClass::getAttributes provides correct result:
![obraz](https://u

[2021-12-15 15:29] ostrolucky commented on #2044
[code]

[2021-12-16 19:36] yatsukhnenko commented on #2009
ZRANDMEMBER already in develop branch

[2021-12-16 19:36] #2009 closed, assigned to michael-grunder

[2021-12-16 21:40] ostrolucky commented on #2044
Looks like this was indeed somehow solved in develop

This reproduces issue:

[code]

But this doesn't:
[code]

[2021-12-17 17:55] walidbagh commented on #2027
+1

[2021-12-20 13:37] ArthurPatriot opened #2046 "PHP 8.1 Redis extesion DLL for Windows in PECL"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Windows
- Redis: 5
- PHP: 8.1
- phpredis: 5.3.5

### I've checked
- [+] There is no similar issue from other users
- [+] Issue isn't fixed in `develop` branch

Please, add redis extension dll to pecl for PHP 8.1

[2021-12-20 15:02] remicollet commented on #2046
See https://pecl.php.net/package/redis/5.3.5/windows

Especially

So this is not under the control of this project.

BTW @cmb69 may help

[2021-12-20 15:15] cmb69 commented on #2046
See https://windows.php.net/#news-2021-12-02-1 for a general explanation of the DLL situation regarding PHP 8.1, and https://windows.php.net/downloads/pecl/snaps/redis/5.3.5/ for prebuilt snapshot of phpredis 5.3.5.

And yes, this ticket can be closed.

[2021-12-20 15:24] yatsukhnenko commented on #2046
@remicollet @cmb69 thanks!

[2021-12-20 15:24] #2046 closed, assigned to nobody

[2021-12-20 15:25] yatsukhnenko commented on #2027
https://github.com/phpredis/phpredis/issues/2046#issuecomment-998014398

[2021-12-20 20:24] #1716 closed

[2021-12-20 20:25] yatsukhnenko commented on #1939
Resolved

[2021-12-20 20:25] #1939 closed, assigned to michael-grunder

[2021-12-20 20:25] yatsukhnenko commented on #1938
Resolved

[2021-12-20 20:25] #1938 closed, assigned to nobody

[2021-12-20 20:26] #1934 closed, assigned to nobody

[2021-12-22 03:51] ocind commented on #1881
@kanidjar Do you have a solution to this problem in the end?

[2021-12-23 09:17] geeksesi commented on #1894
hi, i want to use `SMISMEMBER`.
which version of phpredis should i require in project ?

[2021-12-23 09:50] yatsukhnenko commented on #1894
@geeksesi try 5.3.5

[2021-12-24 13:16] kanidjar commented on #1881
hi @ocind, I am not working on the project having this issue any longer. When I left in march 2021, we did not find any working solution...

[2021-12-24 15:54] ericcomellas commented on #1881
Hi Guys,

We had the same issue with MySQL. The problem happened because there were
too much connections that open and close constantly. On AWS, we used the
proxy option that reduced the pressure on open / close connections
dramatically and definitely killed the problem.

For Redis, we had also the same issue. We never find any kind of proxy so
we just reduced our usage of redis on the strict mini

[2021-12-24 19:20] dzuelke commented on #1881
That's some good info, but I still think the underlying cause must be a Linux networking bug, or a fundamental bug in PHP sockets or streams - this particular error should never raise for blocking sockets.

[2021-12-26 07:33] geeksesi commented on #1894
@yatsukhnenko
thank you.
but it's not work.
![image](https://user-images.githubusercontent.com/28778964/147401804-7d43c503-9b64-410f-b24e-a8d2e6d3dc35.png)

![image](https://user-images.githubusercontent.com/28778964/147401810-67eb805b-37ef-4e19-88f1-ca37894399ae.png)

[code]

- "predis/predis": "dev-main",
- "laravel/framework": "^8.65",
[code]

[2021-12-26 08:13] yatsukhnenko commented on #1894
@geeksesi it doesn't work because you use Predis 🙃

[2021-12-28 14:26] TonyBogdanov commented on #1863
+1 but it's obviously not going to happen.

[2021-12-29 09:41] ocind commented on #1881
@kanidjar regardless thank you for the reply!

@ericcomellas thank you for the suggestion! Will try out AWS RDS Proxy to see if that fixes it...

[2022-01-03 01:00] michael-grunder opened #2048 "Cache `READONLY` state for `RedisCluster` when re-using connections from a pool."
As the title says, investigate whether we can persist `redis_sock->readonly` for persistent connections to avoid the `READONLY` round trip when pulling connections from the pool.

It may be worth making the cache more robust as well (saving more than just a pointer) for things we may wish to add in the future.

cc @nicofff

[2022-01-03 13:07] ostrolucky commented on #2044
5.3.5 was released since then, but somehow doesn't fix the issue. Any idea why @yatsukhnenko this bug is in pecl version but not when compiled manually?

[2022-01-03 13:32] yatsukhnenko commented on #2044
@ostrolucky 5.3.5 doesn't contain arginfo based on stub files. We are going to release it in 6.0.0 because it's a breaking change

[2022-01-06 01:27] Jexs commented on #1726
This is still very much so an issue. Was running Digital Ocean Managed Redis cluster with Nginx/PHP-FPM 8.0.13 and everything would work for the first few requests, and then randomly requests would completely freeze and eventually timeout intermittently.

Identified that it was the Redis->auth() call via slowlog. Changing to `tlsv1.2://` worked for me as well.

Cheers y'all. Very glad this thread

[2022-01-06 09:59] ruudk opened #2050 "PHP 8.1"
I was wondering what the status is for supporting PHP 8.1.

I use `develop` branch and it seems to work great. Does the [latest stable](https://pecl.php.net/package/redis/5.3.5) also work on PHP 8.1?

[2022-01-06 14:38] TheLevti commented on #1726
Same issue with AWS Redis. Same solution helped. But after investigating further its a general issue from php, there is even a bugreport.

[2022-01-06 16:13] yatsukhnenko commented on #2050
Hi @ruudk, 5.3.5 works with PHP Version: PHP 7.0.0 or newer (currently 7.0.0 - 8.2.0-dev)

[2022-01-06 17:30] neclimdul opened #2051 "Fatal error in hmset"
### Expected behaviour
Successful set or clean failure without fatal.

### Actual behaviour
`Fatal error: Redis::hMset(): Return value must be of type bool, Redis returned in Unknown on line 0`

### I'm seeing this behaviour on
- OS: ubuntu but php is alpine container
- Redis: docker redis:5
- PHP: php 8.0
- phpredis: php -i  says 6.0.0-dev but i just installed the latest out of pecl which should

[2022-01-06 18:16] michael-grunder commented on #2051
I've run into this myself when running the unit tests inside the PHP build tree.

I updated the `redis.stub.php` file in e93be87023fffbf9213e8f47066f6dd646d8ba5a to fix these sorts of errors.  We can certainly get it into 6.0.0 since we're allowed to break things.

[2022-01-07 11:58] ruudk opened #2052 "[PHP 8.1] Redis::flushAll(): Passing null to parameter #1 ($async) of type bool is deprecated"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Ubuntu 20.04
- Redis: 6.2.6
- PHP: 8.1
- phpredis: 5.3.5

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] No issue on develop branch, only on 5.3.5 in combination with PHP 8.1

I get this error when using the Redis 5.3.5 on PHP 8.1 togeth

[2022-01-07 11:58] ruudk commented on #2050
Found a problem with 5.3.5 on PHP 8.1 https://github.com/phpredis/phpredis/issues/2052

[2022-01-07 12:10] ruudk commented on #2052
I can confirm that this problem doesn't happen when installing the extension from source.

[2022-01-07 12:18] ruudk commented on #2052
That means I'll have to wait for the new version based on master, is there any ETA for that 🙏 ?

[2022-01-08 11:35] kapitancho opened #2053 "PHP 8.1 - The procedure entry point PHP_MD5Init could not be located in the dynamic link library php_redis.dll"
### Expected behaviour
Php Redis starts

### Actual behaviour
Php Redis doesn't start. The error message is: The procedure entry point PHP_MD5Init could not be located in the dynamic link library php_redis.dll

### I'm seeing this behaviour on
- OS: Windows 10
- Redis: 2.4.6
- PHP: 8.1
- phpredis: 5.3.5

### Steps to reproduce, backtrace or example script
Start PHP 8.1.0 with extension=redis

###

[2022-01-11 15:47] TuningYourCode commented on #2014
https://github.com/oerdnj/deb.sury.org/issues/1706

The released version 5.3.5 seems to be broken. Building the extension from dev-branch fixed it for us.

As it seems that there was a fix made on the development branch it would be nice to have a new release which fixes the segfault that package maintainers can easily pull the fix.

[2022-01-11 18:48] michael-grunder commented on #2014
Thanks for the report, I will prepare 5.3.6 today.  If you wouldn't mind verifying the fix works before I publish to PECL that would be fantastic.

Will post the link here when it's ready.

Edit:  [working release branch](https://github.com/phpredis/phpredis/tree/release/5.3.6)

[2022-01-12 01:41] Tinywan commented on #1881
`Operation now in progress`  have a solution to this problem in the end?

[2022-01-12 03:04] ghost opened #2054 "PHP 8.1 Windows DLLs missing - pecl.php.net"
PHP 8.1 Windows DLLs missing - pecl.php.net

[2022-01-12 05:13] yatsukhnenko commented on #2054
Duplicate #2046

[2022-01-12 05:13] #2054 closed, assigned to nobody

[2022-01-12 09:21] TuningYourCode commented on #2014
Thanks for the fast response :)

Yeah the branch seems to be working fine. Would be nice to see the fix released soon :)

[2022-01-12 09:51] akalongman opened #2055 "RedisArray and sscan"
Looks like this bug is related to RedisArray class https://github.com/laravel/framework/issues/40149

cc @yatsukhnenko

[2022-01-12 18:52] yatsukhnenko commented on #2055
@akalongman could you provide a script or dockerfile to reproduce the issue?

[2022-01-13 12:34] akalongman commented on #2055
@yatsukhnenko

[code]

Throws error
[code]

This works for `Redis` class.

PHP: 8.0.14
php-redis: 5.3.5

[2022-01-13 12:36] akalongman commented on #2055
It's a major blocker bug for us, please fix it ASAP :heart_eyes:

[2022-01-13 12:37] akalongman commented on #2055
Related issue https://github.com/phpredis/phpredis/issues/1393

[2022-01-13 12:40] anyforever commented on #2050
[13-Jan-2022 20:34:31] NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library 'redis.so' (tried: /usr/local/lib/php/pecl/20210902/redis.so (dlopen(/usr/local/lib/php/pecl/20210902/redis.so, 0x0009): symbol not found in flat namespace '_igbinary_serialize'), /usr/local/lib/php/pecl/20210902/redis.so.so (dlopen(/usr/local/lib/php/pecl/20210902/redis.so.so, 0x0009): tried: '/u

[2022-01-13 12:40] ruudk commented on #2050
@anyforever Don't just dump an error somewhere on the internet.

[2022-01-13 12:56] anyforever commented on #2050
/private/tmp/pear/temp/redis/library.c:2383:73: warning: format specifies type 'long' but the argument has type '__darwin_suseconds_t' (aka 'int') [-Wformat]
            persistent_id = strpprintf(0, "phpredis_%ld%ld", tv.tv_sec, tv.tv_usec);
[code]

[2022-01-13 12:58] anyforever commented on #2050
[code]

[2022-01-13 12:58] ruudk commented on #2050
@anyforever Please remove this and open a new dedicated issue. You are causing noise.

[2022-01-13 13:09] anyforever opened #2056 "Unable to load dynamic library 'redis.so' on php8.1 with igbinary"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Mac OS 12.1
- Redis:6.2.6
- PHP:8.1
- phpredis:5.3.5

$ pecl install igbinary // 3.2.7
$ pecl install zstd
$ pecl install redis

### Steps to reproduce, backtrace or example script
[13-Jan-2022 20:34:31] NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library 'redis.so' (tried: /usr/local/li

[2022-01-14 14:25] yatsukhnenko commented on #2055
@akalongman but why do you pass `$iterator` by value and not by reference?

[2022-01-14 14:32] akalongman commented on #2055
@yatsukhnenko show me the example what do you mean

[2022-01-14 14:57] yatsukhnenko commented on #2055
[code]

[2022-01-14 15:00] akalongman commented on #2055
@yatsukhnenko https://www.php.net/manual/en/language.references.pass.php

Also, my example works when I use `Redis` class, instead of `RedisArray`

[2022-01-14 15:28] yatsukhnenko commented on #2055
The problem is that RedisArray doesn't have method sscan, it just forward call to Redis class with arguments passed as is. Try to make the reference first and then pass it to RedisArray::sscan and it should works
[code]

[2022-01-14 15:40] akalongman commented on #2055
@yatsukhnenko result is the same.

[code]

If RedisArray forwards calls to Redis class, why then using Redis class directly does not raise the same error?

[2022-01-14 15:52] yatsukhnenko commented on #2055
I don't know, I will try to figure it out this weekend

[2022-01-14 15:59] yatsukhnenko commented on #2055
If it works fine for Redis class as workaround you may use `RedisArray::_instance` to get the object and call sscan

[2022-01-14 16:02] akalongman commented on #2055
This call is used in the Laravel framework, so I am not able to change anything :(

If I can somehow help in fixing this, let me know

[2022-01-14 19:18] yatsukhnenko commented on #2055
It looks like PHP `__call` or `call_user_func_array` behavior

[code]

[2022-01-14 19:27] akalongman commented on #2055
Maybe override these methods in PhpArray class and call something like a parent::method() ?

[2022-01-15 09:47] yatsukhnenko commented on #2055
If laravel framework allows this you can try to use something like this
[code]

[2022-01-15 11:02] akalongman commented on #2055
Can we do this in php-redis extension itself?

[2022-01-15 11:28] yatsukhnenko commented on #2055
Technically we can but I prefer to find what's wrong with `__call` and `call_user_function` and not to add wrappers that may be easily implemented in PHP-script

[2022-01-15 11:32] akalongman commented on #2055
There is no easy way to override code from the vendor folder and especially from the Laravel framework, so please assign this issue high priority.

[2022-01-16 08:08] yatsukhnenko commented on #2055
@akalongman could you test `issue-2055` branch?

[2022-01-17 06:52] akalongman commented on #2055
@yatsukhnenko fixed errors for `sScan`, `zScan`, `hScan`, but still exists for `scan`:

[code]

And error message is different:
[code]

[2022-01-17 07:41] yatsukhnenko commented on #2055
@akalongman I've implemented `RedisArray::scan` in branch `issue-1393`

[2022-01-17 07:45] akalongman commented on #2055
@yatsukhnenko ok, I will test and give feedback in #1393 then.

I think this changes can be merged to the master

[2022-01-17 07:58] akalongman commented on #1393
@yatsukhnenko seems like this does not work. My test code:

[code]

[2022-01-17 08:03] yatsukhnenko commented on #1393
@akalongman `$iterator` must be array here

[2022-01-17 08:06] akalongman commented on #1393
@yatsukhnenko hmm, works now. I have to update PHPStorm code completion after this will be merged.

Can we throw a warning, in this case, if $iterator type is not an array?

[2022-01-17 11:01] TuningYourCode commented on #2014
@michael-grunder could you tag and release the 5.3.6 version or could we assist in any way?

[2022-01-17 17:34] michael-grunder commented on #2014
Should be up within the hour

[2022-01-17 18:32] michael-grunder commented on #2014
@TuningYourCode

https://github.com/phpredis/phpredis/tree/5.3.6
https://pecl.php.net/package/redis/5.3.6

[2022-01-20 05:03] Moln opened #2060 "`Subscribe` can not be abort in the callback."
### Expected behaviour

Exec `exit()` or `throw new \Exception('')` at the first message callback.

### Actual behaviour

Can not exec `exit()` or `throw new \Exception('')` at the `first` message.
Will throw or exit at the `second` message.

### I'm seeing this behaviour on
- OS: `Linux PC00586 5.10.16.3-microsoft-standard-WSL2  SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- OS

[2022-01-20 07:00] yatsukhnenko commented on #2060
Try to close connection in a callback

[2022-01-20 07:14] Moln commented on #2060
Okay, only wrap `try/catch` and close the connection to resolve some throwables.
But, hard the way to resolve call `exit`.

[code]

[2022-01-20 14:59] nusphere commented on #1782
this

this is only available for cluster?

[code]

is only implemented at rediscluster

[2022-01-20 15:15] nusphere opened #2062 "Failed to use mTLS with PHP Session handler (redis mode)"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Ubuntu
- Redis: 6
- PHP: 7.4
- phpredis: 5.3

### Steps to reproduce, backtrace or example script

When setup a local redis server (via Docker) with mTLS it is not possible to use the ssl stream setup for the php ini setup. I tested this behavior via PHPUnit.

[code]

When testing the Session Handler, it seems the

[2022-01-20 15:20] nusphere commented on #2062
The only Workaround is to build a own Redis Session Handler:

[code]

But this should not the solution, the existing https://github.com/phpredis/phpredis/blob/develop/redis_session.c implement a way more better behavior and should be used.

[2022-01-20 15:26] mrtwenty commented on #1961
I have the same problem！

[2022-01-20 15:31] nusphere commented on #2062
https://github.com/phpredis/phpredis/blob/92540ad348ba4052dfc6ecf640a67c6459739c35/redis_session.c#L443-L451

should aware of the **stream** params and call `redis_sock_set_stream_context()` like for _rediscluster_

https://github.com/phpredis/phpredis/blob/92540ad348ba4052dfc6ecf640a67c6459739c35/redis_session.c#L943-L945

[2022-01-21 05:11] mrtwenty commented on #1961
you can use rawCommand method

[code]

[2022-01-21 09:23] ruudk commented on #2050
Would it be possible to tag a new release to address issue from #2052 ?
@yatsukhnenko

[2022-01-21 12:14] yatsukhnenko commented on #2050
@ruudk We can't publish fix in minor release because this is breaking change and next major release isn't ready yet

[2022-01-21 12:17] ruudk commented on #2050
I understand. When will it be? Is there a rough ETA?

[2022-01-21 12:23] yatsukhnenko commented on #2050
I think when all sub-tasks of https://github.com/phpredis/phpredis/issues/1894 will be resolved

[2022-01-22 08:01] yatsukhnenko commented on #1964
There is a `count` parameter in [sscan](https://github.com/phpredis/phpredis#sscan)

[2022-01-22 12:04] #934 closed

[2022-01-22 12:05] yatsukhnenko commented on #2000
Duplicate #1059

[2022-01-22 12:05] #2000 closed, assigned to nobody

[2022-01-24 02:48] earl86 opened #2063 "phpredis when has a lot of connect to rediscluster , easy to maximum number of clients reached"
phpredis we use php-fpm environment when has a lot of connect to redis cluster ,
when reload or restart php-fpm, or the network has some slow etc.
phpredis regularly establish a lot of new connection, easy to redis: maximum number of clients reached.

### I'm seeing this behaviour on
- OS: centos7
- Redis: cluster 4.x
- PHP:74  fpm
- phpredis:5.3.4

We modify some codes and add a redis.ini config

[2022-01-24 09:02] cdstg opened #2064 "CONFIG REWRITE feature"
Could some one please add the CONFIG REWRITE

As I have a web interface you can change things like max memory policy these are lost  if  the server gets restarted

I  tested it manually  form the redis-cli and its working.
I also tried the ACL save and that works fine

[2022-01-24 14:33] bryanlatten commented on #934
@yatsukhnenko are these changes now in mainline?

[2022-01-24 16:22] yatsukhnenko commented on #934
The changes are in `develop` branch and will be released with PhpRedis 6.0

[2022-01-24 19:56] michael-grunder commented on #2064
You can use `rawCommand` to execute any arbitrary Redis command.

To execute `CONFIG REWRITE` it would look like this:

[code]

[2022-01-25 20:10] akalongman commented on #2055
When will this fix be released?

[2022-01-25 20:48] michael-grunder commented on #2055
I can prepare a release in the next day or two.

@yatsukhnenko Any other commits we should include?

[2022-01-25 20:50] akalongman commented on #2055
Can you include fixes for this issue? https://github.com/phpredis/phpredis/issues/1393

[2022-01-25 20:55] yatsukhnenko commented on #2055
@michael-grunder @akalongman a fix for 1393 isn't ready yet. I think I can finish it this weekend and then it also may be included to the release

[2022-01-27 14:00] lbassin commented on #1726
I know that switching to tlsv1.2 works but I was trying to debug this issue and try to find the root cause and I found this issue: https://github.com/ruby/openssl/issues/449
They are also mentionning issue with tls 1.3 and the cipher TLS_AES_256_GCM_SHA384
So I guess the error doesn't come from either PHPRedis or PHP but openssl itself ? Or maybe the error is wrongly handled somewhere?

[2022-01-31 11:48] CodeAdraas commented on #2053
Having the same issue with PHP 8.1 (8.1.2)

[2022-01-31 13:33] akalongman commented on #2055
I've tested develop for this issue and seems like works everything. Thank you :heart_eyes:

[2022-01-31 16:20] remicollet opened #2068 "Redis 7.0 support"
# From [RELEASENOTES](https://github.com/redis/redis/blob/7.0/00-RELEASENOTES)

**New user commands or command arguments**

- [x]  ZMPOP, BZMPOP commands (#9484) [#2165]
- [x]  LMPOP, BLMPOP commands (#9373) [#2165]
- [x]  SINTERCARD, ZINTERCARD commands (#8946, #9425) [#2163]
- [x]  SPUBLISH, SSUBSCRIBE, SUNSUBSCRIBE, PUBSUB SHARDCHANNELS/SHARDNUMSUB (#8621)
- [x]  EXPIRETIME and PEXPIRETIME comm

[2022-01-31 16:21] remicollet commented on #2068
Notice: phpredis **5.3.6** test suite passes usig redis **7.0-rc1**

[2022-01-31 19:41] B-Galati commented on #934
So great! Thanks!

cc @ostrolucky (https://github.com/phpredis/phpredis/issues/934#issuecomment-599421477)

[2022-01-31 23:22] lbassin commented on #1726
I managed to reproduce this error on my machine using php 7.4.27 with the debug enabled and the script always freezes after a few redis queries (I removed the auth part as my redis had no auth setup)

Here is the strace (I killed it with a SIGINT after waiting 1109 seconds)
[code]

Here is the program output:
[code]

And here is the gdb backtrace:
[code]

It seems that the freeze starts here https

[2022-02-01 03:57] inieves commented on #1726
@lbassin is it possible to get a dump/output of the TLS connection handshake for a connection that times out?

I know that TLS 1.3 generally requires 1 round trip, while TLS 1.2 generally requires 2 round trips to establish a connection.  If the client is timing out during connection setup while waiting to read more (rather than out right failing due to an invalid server response), it sounds like

[2022-02-01 04:16] inieves commented on #1726
It seems to me more and more like there is no bug in openssl per se (other than perhaps less than crystal clear documentation)...

but rather the bugs are in the language dependent wrappers on top of openssl which are not properly accounting for subtle but key differences between tls1.2 and tls1.3.

it seems that tls1.3 on openssl has some opportunities for wrappers to be signaled that there is da

[2022-02-01 05:12] inieves commented on #1726
Is anyone here building their own PHP codebase?  If so, there are two build flags (# defines) that might shine some light on the situation:

#define STREAM_DEBUG 1
#define ZEND_DEBUG 1

With these flags enabled during build, then more (hopefully useful) log output can be generated.

[2022-02-01 09:02] yatsukhnenko commented on #1964
Resolved

[2022-02-01 09:02] #1964 closed, assigned to nobody

[2022-02-01 16:32] TheLevti commented on #1726
Really amazing results here. I smell that we might be able to push this through that it is getting fixed on the stream wrapper level.

https://bugs.php.net/bug.php?id=79501 This is the php bug report. Maybe you guys can publish your findings there as well?

[2022-02-02 04:56] inieves commented on #1726
I was able to determine the exact line that is blocking in PHP 7.4 (7.4..27) when TLS 1.3 is being used.

The offending line is:
https://github.com/php/php-src/blob/96f753a2b56b7c4927f1a64253ca60bb481ee2c3/ext/openssl/xp_ssl.c#L2466
`int n = SSL_peek(sslsock->ssl_handle, &buf, sizeof(buf));`

The PHP method that calls this SSL_peek is itself called at (for reference):
https://github.com/php/php-sr

[2022-02-02 08:11] lbassin commented on #1726
Sorry @inieves I didn't have any free time yesterday to send you the wireshark dump but anyway it doesn't seem useful anymore
That's a really great analysis and it matches the backtrace I provided the other day from when the freeze occurs

I think you can already share this thread with all the data to the php guys it should be more than enough to have at least they thought on the topic
On my side

[2022-02-02 22:33] inieves commented on #1726
ok I have updated the bug report at PHP:

https://bugs.php.net/bug.php?id=79501

[2022-02-02 23:53] lbassin commented on #1726
Can you guys have a look at this repo? https://github.com/lbassin/php-bug-tls1.3-blocking
I was trying to write a test case for a potential PR submission into the PHP repo and I ​think I found how to simply reproduce the issue without any extra thing

There is a server and a client.
The server starts to listen for tlsv1.3 connection waits 5 seconds (it seems that there is some non-application data

[2022-02-03 03:13] inieves commented on #1726
@lbassin This looks good to me.

[2022-02-04 14:48] parsibox opened #2070 "connection manager on backend"
hi
we need some extension that connect to redis after php service  start or restart and create a pool of connection and in php code only pass our command and get the result
we do not need to connect to redis in php code side
we need connect to redis in php extension  side and we have a page for connection manager , in that page we can set and change redis host , username , password , port ... and

[2022-02-06 07:50] inieves commented on #1726
This bug has also noticed the same underlying problem:
https://github.com/reactphp/socket/issues/184

The problem is that when a server has sent no data, a client side call to feof or stream_eof will block when TLS 1.3 is used and will not block when TLS 1.2 is used.

I am quite confident my fix/workaround above is not correct.

@yatsukhnenko I was able to find a different workaround that may be r

[2022-02-06 07:51] xiaoxiongjie commented on #1726
您好，现在无法亲自回复您的邮件。我将尽快给您回复。黄俊杰祝您工作愉快~

[2022-02-09 03:56] ixqbar commented on #2041
redis.c
[code]

@michael-grunder @yatsukhnenko

[2022-02-11 06:37] mmojadad opened #2071 "PhpRedis was not compiled with Zstandard compression support"
Actual behaviour
On Object Cache Pro for WordPress - https://objectcache.pro when i switch to compression configuration, The plugin not work and show :
Failed to initialize object cache: PhpRedis was not compiled with Zstandard compression support.
Failed to initialize object cache: PhpRedis was not compiled with igbinary support.

I'm seeing this behaviour on
- OS: Windows server 2016
- Redis: 5.

[2022-02-14 14:39] Temepest74 opened #2072 "Getting error "Handshake timed out""
### Expected behavior
I expect to be able to connect to my Redis installation via SSL.
### Actual behaviour
I get this error in my console/log file
```Redis::connect(): SSL: Handshake timed out```
### I'm seeing this behavior on
- OS: Ubuntu 20.04 LTS
- Redis: 6.2.6
- PHP: 8.1.1
- phpredis: 5.3.4

I have a laravel installation with horizon, nothing too special. I just cannot figure out what may ca

[2022-02-15 01:17] ixqbar commented on #2070
swoole

[2022-02-16 10:06] yatsukhnenko commented on #2072
@Temepest74 try to use non-zero timeouts

[2022-02-16 10:08] yatsukhnenko commented on #2071
@mmojadad you probably should create issue in project object cache for wordpress

[2022-02-16 10:08] #2071 closed, assigned to nobody

[2022-02-16 10:09] yatsukhnenko commented on #2055
Fixed in 5.3.7

[2022-02-16 10:09] #2055 closed, assigned to nobody

[2022-02-16 10:09] yatsukhnenko commented on #1393
Fixed in 5.3.7

[2022-02-16 10:09] #1393 closed

[2022-02-16 10:10] #2014 closed, assigned to nobody

[2022-02-16 10:17] yatsukhnenko commented on #200
@michael-grunder what do you think about adding `*Async` API?

[2022-02-16 10:18] yatsukhnenko commented on #1409
Resolved

[2022-02-16 10:18] #1409 closed

[2022-02-16 10:21] yatsukhnenko commented on #1524
Old issue without any activity for a long time. Feel free to open new issue if you still facing this problem.

[2022-02-16 10:21] #1524 closed

[2022-02-16 10:23] #1975 closed, assigned to nobody

[2022-02-16 10:23] #1925 closed, assigned to nobody

[2022-02-16 10:23] Temepest74 commented on #2072
I solved. I had to not use tls because I was on the same machine

[2022-02-16 10:24] #2072 closed, assigned to nobody

[2022-02-16 15:29] mensler opened #2073 "DNS errors and segfaults after removing shards from a cluster"
- OS: Ubuntu 20.04
- Redis: 6.0.5 (AWS Elasticache, cluster mode enabled, TLS encryption and auth enabled)
- PHP: 7.4.3
- phpredis: 5.3.6

I was reducing the number of shards of our AWS Elasticache Redis cluster today in our production environment. After the node group rebalancing the actual node deletion took place and we started getting errors from the application:

`Warning (2): RedisCluster::g

[2022-02-18 06:31] jaxwang commented on #2056
I got the same problem .  with Mac OS    PHP:8.1

[2022-02-18 13:43] e-zannelli opened #2074 "RedisCluster::scan incomplete results with FAILOVER_DISTRIBUTE"
### Expected behaviour

When executing RedisCluster::scan on all master nodes until cursor is 0, all keys matching the pattern have been returned, within redis [scan garantees](https://redis.io/commands/scan#scan-guarantees)

### Actual behaviour

Result is inconsistent, sometimes it works, sometimes some keys are missing.

### I'm seeing this behaviour on
- OS: Linux
- Redis: 5.0.6
- PHP: 7.4.27

[2022-02-18 17:18] e-zannelli commented on #2074
Sorry, my test case was wrong.

[2022-02-18 17:44] e-zannelli commented on #2074
Fixed example script still trigger the issue.

[2022-02-21 07:31] Kulaxyz commented on #1982
Any update on this? I faced the same issue

[2022-02-21 07:55] Kulaxyz commented on #1982
I fount the solution. You just need to pass strings to min and max instead of integers.

[2022-02-21 13:17] nick8081 opened #2075 "subscribe key event in cluster mode"
### Expected behaviour
refer to https://github.com/redis/redis/issues/2541, and https://redis.io/topics/notifications  - "Events in a cluster",  it is node-specific for subscribing keyspace events.

### Actual behaviour
function subscribe($channels, $callback) doesn't support it.

[2022-02-21 16:24] yatsukhnenko commented on #1982
@Kulaxyz do you have a script to reproduce this issue?

[2022-02-22 11:48] Mike-LA-UK commented on #1863
+1 as another HAProxy in between PHP and a self-healing redis sentinel user

[2022-02-23 01:55] x64c opened #2076 "configure script --prefix= flag not working"
I am building phpredis for both PHP 8.0 and PHP 8.1.
FYI, PHP 8.0 was built from source into /usr/local/php/8.0
and PHP 8.1 was built from source into /usr/local/php/8.1

commands for phpredis configure script for PHP 8.0
`> git clone https://github.com/phpredis/phpredis.git`
`> cd phpredis`
`> /usr/local/php/8.0/bin/phpize`
`> ./configure --prefix=/usr/local/php/8.0 --enable-redis-igbinary --enab

[2022-02-23 01:59] math-physics-computer commented on #2076
since PREFIX default was /usr/local,
I symlinked /usr/local/bin/php --> /usr/local/php/8.0/bin/php,
so `php -v` shows 8.0.16 but still prefix was set to /usr/local/php/8.1 however i change --prefix= flag.

[2022-02-23 02:01] math-physics-computer commented on #2076
FYI, build was fine for PHP 8.1 without any issues.

[2022-02-23 07:25] remicollet commented on #2076
I never have to used --prefix option...
Build will use phpize / php-config from the path
and you can force it using the` --with-php-config` option

P.S. and this is not related to phpredis, but about the php build system

[2022-02-25 00:01] x64c commented on #2076
configure --help of "phpredis" explains --prefix flag.
If --prefix flag is a broken feature (or never implemented), isn't it better to remove it from the --help of it?

[2022-02-25 00:13] x64c commented on #2076
Now build was successful as temporarily change the symlink of php-config before configure script (without --prefix cuz it does not work):

`> ln -sf /usr/local/php/8.0/bin/php-config /usr/local/bin/php-config`
`> ./configure --enable-redis-igbinary --enable-redis-lzf --with-liblzf`
...
and then back to prev setting for the symlink
`> ln -sf /usr/local/php/8.1/bin/php-config /usr/local/bin/php-conf

[2022-02-25 00:13] #2076 closed, assigned to nobody

[2022-02-26 22:24] mvorisek opened #2077 "`redis.so` has size of 3.6 MB"
### Expected behaviour

size less than 1 MB

### Actual behaviour

The redis ext is very large, much larger than complex extensions like `xdebug` or other data libs like `mysqli` or complex Microsoft ODBC.

I belive the size can be investigated, maybe some inline modifiers are overused, or is some heavy lib staticaly compiled in?

[2022-03-01 21:04] victusfate opened #2078 "docs for geosearch"
Never mind, found out geosearch wasn't available. Ended up using rawCommand and it worked great.

[2022-03-02 17:23] victusfate commented on #1894
is geosearch live in release 5.3.7?

[2022-03-02 17:43] #2078 closed, assigned to nobody

[2022-03-03 13:09] alcohol commented on #1726
While the linked issues and pull requests from both `php-src` and `reactphp` seem to suggest that `tls1.3` should be working fine; I too experienced a significant amount of blocked/stalled fpm processes while calling `->auth()` or while interacting with the Session in my client's Symfony application (Symfony 3.4, using phpredis as session handler through .ini configuration - handled by symfony thr

[2022-03-04 15:23] malsatin commented on #1726
We had the same issue with php7.4 + DO managed Redis.
The best (value to effort) solution for us was to just set up a `stunnel` client on the webserver and connect to the Redis through it without SSL.
That completely solved all hanging connections problems.

Stunnel configuration looks like this:
[code]

[2022-03-05 15:51] matysekmichal commented on #2041
I had the same problem. For me it worked to compile php without the `--enable-debug` flag.

[2022-03-06 23:02] michael-grunder commented on #2077
I don't really consider this a bug personally, but I'm not opposed to modifications that would reduce code size.

Aggressive inlining probably isn't the cause, since only a couple of functions are inlined explicitly.  My wild guess as to what contributes to the large size is probably our atomic/pipeline macros, which are inlined by definition for every single method in `Redis` and `RedisCluster`.

[2022-03-06 23:05] michael-grunder commented on #2074
Can you add some code to populate keys so I'm working with the same dataset?

Edit:  I see what's happening.  We need to instrument the `SCAN` type commands to lock into a single node, since we can't actually distribute them per invocation.

I'll take a look at what this will entail.

[2022-03-07 08:19] zorro-fr24 opened #2079 "Session handler does not honour lazy_write leading to unnecessary writes"
### Expected behaviour

When [session.lazy_write ](https://www.php.net/manual/en/session.configuration.php#ini.session.lazy-write
) is set to 1 (default), I would expect the session handler to perform a write/set only if data has been changed.

### Actual behaviour

The phpredis session handler will ALWAYS perform a session write, even if nothing has been written to the session object

### I'm see

[2022-03-07 09:29] zorro-fr24 commented on #2079
note: I have verified on the same installation but with sessions in standard file mode, that the session files do not get rewritten when executing the same script multiple times

[2022-03-07 20:49] michael-grunder commented on #2079
Thanks for the report.  I was unaware of this setting but will look into what might be required to honor it from PhpRedis.

[2022-03-08 05:48] zorro-fr24 commented on #2079
Thanks for taking a look.
For pre-6 .2 I suspect you would need to fire EXPIRE instead to keep the session ttl fresh ( perhaps you don't need to bother waiting for the response though? ).

BUT with 6.2 you could use GETEX at the start to load the session instead, which should save an extra request. Not sure if this would be a violation of php session specification though, since I think it assumes

[2022-03-09 09:09] mariusadam opened #2080 "Uneven distribution of requests when master - slave pair handles multiple slot ranges"
### Expected behaviour
When using `$rc->setOption(RedisCluster::OPT_SLAVE_FAILOVER, RedisCluster::FAILOVER_DISTRIBUTE);` and having 1:1 master slave ratio, requests should be evenly distributed between master and slave, even if one of the master - slave pairs handles non-continuous slot ranges (for example: 0 - 1364, 5461 - 6826, 10923 - 12287).

### Actual behaviour
As an example, if a given mast

[2022-03-22 07:49] TomTangXD opened #2083 "Laravel Phpredis TLS issue"
### Expected behaviour
The Redis server requires TLS, and trying to set up phpredis with Laravel over TLS, but getting this error:

_Redis::connect(): SSL operation failed with code 1. OpenSSL Error messages:
error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed {"exception":"[object] (ErrorE
xception(code: 0): Redis::connect(): SSL operation failed with code 1. Open

[2022-03-23 18:23] naczu commented on #2053
+ Same issue with php 8.1

[2022-03-28 13:54] ilya-levin-lokalise opened #2085 ""Connection timed out" exception"
Hi everyone! Couldn't find a better place to ask my question.
We have a high-load project that utilizes Redis a lot. The problem is - we occasionally are having `RedisException` being thrown with `Connection timed out` message, even though the timeout is pretty high (several seconds). We're trying to track down the issue and our monitoring data shows that there are no issues with connection from P

[2022-03-30 03:53] tillkruss opened #2086 "Bug in `restore()`"
From Slack:

[code]

Test:

[code]

[2022-03-30 04:05] michael-grunder commented on #2086
Open a PR and I'll merge it

[2022-03-31 09:35] Venorcis commented on #2085
We actually have the same issue since about a month now (I'd say since the 5.3.7 release), just random Connection Timeouts happening, no luck in tracking anything down in our servers (we even doubled the capacity of all servers to try and resolve it).

Edit: I actually just checked, and we updated to phpredis 5.3.7 on the 28th of February (sourced from the remi rpm), and right from that date on th

[2022-03-31 11:02] ilya-levin-lokalise commented on #2085
Our project is currently using a pretty old 4.3.0 version of the extension and facing the same issue.

[2022-03-31 12:55] Venorcis commented on #2085
Actually the downgrade does not help. However we did also upgrade from PHP 8.0 to 8.1 at that same day, so now suspecting that that's related.

[2022-04-01 18:15] jankelemen commented on #1862
Adding proposal on how this feature could behave.

`php.ini` could look as follows:
[code]
Then when trying to connect to Redis, there would be a loop in which each specified sentinel would be asked what is the IP address and port of the master (probably with the `info sentinel` command). So IP and port would be used from the sentinel that responded first. In case none of them respond, an error wo

[2022-04-02 15:23] yatsukhnenko commented on #1974
@c10h15n sorry for the delay. Could you test new fix?

[2022-04-03 18:54] #2086 closed, assigned to nobody

[2022-04-05 00:44] jonnylink commented on #1768
This should definitely be addressed IMHO.

[2022-04-05 16:27] zenstark commented on #1862
+1

[2022-04-05 19:19] yatsukhnenko commented on #1974
Fixed in `develop` branch

[2022-04-05 19:19] #1974 closed, assigned to yatsukhnenko

[2022-04-05 20:58] yatsukhnenko commented on #1746
@scgywx issue should be fixed in `develop` branch, could you test it?

[2022-04-07 00:56] Ghustavh97 commented on #2083
Try to move ssl to the default array.

[code]

[2022-04-08 09:08] Patrick-Remy commented on #1533
Also met this – imho a failed authentication should throw a specific exception/error, not this general error.

[2022-04-11 05:45] taka-oyama commented on #2077
Stripping and discarding symbols using the `strip` command will reduce the so files to 638K.

[2022-04-11 05:46] xiaoxiongjie commented on #2077
您好，现在无法亲自回复您的邮件。我将尽快给您回复。杰祝您工作愉快~

[2022-04-11 11:21] InfraBackend commented on #1533
<img width="844" alt="image" src="https://user-images.githubusercontent.com/42115674/162729153-103fc733-27cf-4e17-ba67-b216baa6d51a.png">

Adding password to option can solve my problem.

[2022-04-14 21:12] Geolim4 opened #2096 "\Redis::flushDB sometimes returns false"
### Expected behaviour
Always return true, as specified in Doc

### Actual behaviour
Sometimes returns false

### I'm seeing this behaviour on
- OS: Ubuntu 18.04.6 LTS
- Redis: 6.0.6
- PHP: 8.0.17
- phpredis: 6.0.0-dev

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2022-04-14 21:15] Geolim4 commented on #2096
Travis log:
https://app.travis-ci.com/github/PHPSocialNetwork/phpfastcache/jobs/567189780#L4338

The caller of flushDB() is located here:
https://github.com/PHPSocialNetwork/phpfastcache/blob/v9/lib/Phpfastcache/Drivers/Redis/Driver.php#L174

Which I expect in my tests that `\Redis::flushDB` MUST return true (as specified in docs)

[2022-04-14 21:18] Geolim4 commented on #2096
More exactly:

`\Redis::flushDB` returns `FALSE` on php 8.0 **but** returns `TRUE` on php 8.1.

[2022-04-21 14:49] hzimarov opened #2098 "Passing null as RedisSentinel auth parameter causes Uncaught RedisException"
### Expected behaviour
No exceptions

### Actual behaviour
Invoking `ping` or `getMasterAddrByName` methods (I've tested just those) causes `RedisException`

[code]

### I'm seeing this behaviour on
- OS: Ubuntu based docker images
- Redis: 5.0.5, 6.0.3
- PHP: 8.0.16-cli, 8.0.17-cli. 8.0.18-cli
- phpredis: 5.3.7, 5.3.6, 6.0.0-dev (develop branch)

### Steps to reproduce, backtrace or example scrip

[2022-04-24 20:15] jtz-ar commented on #1862
+2

[2022-04-25 13:14] CodeNinjaUG commented on #2056
wat cud be the problem was this solved?

[2022-04-25 13:37] yatsukhnenko commented on #2098
@gzimarev this bug is fixed in `develop` branch. Could you test it and close this issue?

[2022-04-25 14:05] hzimarov commented on #2098
@yatsukhnenko Now it's ok, thanks!

[2022-04-25 14:05] #2098 closed, assigned to yatsukhnenko

[2022-04-25 17:12] CodeNinjaUG commented on #2056
hey @jaxwang  did u get this issue resolved and how

[2022-04-25 18:37] shengslogar commented on #1941
For anyone using Laravel and upgrading to Redis 6 on Heroku, your `config/database.php` would need to look something like this (you can pass `context` to global `options` or within a named connection):

[code]

[2022-04-26 13:37] CodeNinjaUG commented on #2056
guys i used this other option for things to work

cd /tmp
git clone https://github.com/phpredis/phpredis.git
cd phpredis
phpize
./configure
make && make install
run this to find the directory -> php-config --extension-dir
then edit your php.ini file
extension=redis.so

[2022-04-27 08:01] mohamedalwhaidi commented on #2053
Same issue with php 8.1.2

[2022-04-27 08:02] xiaoxiongjie commented on #2053
您的邮件已经收到

[2022-04-27 08:23] remicollet commented on #2053
This symbol have been removed in https://github.com/php/php-src/commit/110b4e90946b6d46864c54c0e15b7a0deb6ad4b3
so in 8.1.0RC1 (now defined as a macro)

Perhaps a simple rebuild of the extension is needed.

[2022-04-27 14:21] TheLevti commented on #876
Encountering the same issue now.

Laravel test runs:

[code]

Redis monitor returns:

[code]

Phpunit returns:

[code]

[2022-04-27 14:28] TheLevti commented on #876
We see different kind of errors depending also on whether we have slot caching enabled.

[2022-04-27 14:30] yatsukhnenko commented on #2096
Why do you think `\Redis::flushDB` MUST returns `true`?  It returns a result of flush operation so in case of error it returns `false` and this is correct behavior

[2022-04-27 14:36] Geolim4 commented on #2096
Because it's exactly what's written on your doc:
https://github.com/phpredis/phpredis#flushdb

![Capture d’écran de 2022-04-27 16-34-57](https://user-images.githubusercontent.com/1332071/165543230-bab49784-55b4-4895-9689-4bc8cf938996.png)

And also I made some tests:
When I flush with Redis-CLI everything is fine, when I flush via Predis, it sometime returns false for no reason (because there's ke

[2022-04-27 14:52] yatsukhnenko commented on #2096
Issue currently in docs :smile: As I said `false` is the correct result

[2022-04-27 15:47] Geolim4 commented on #2096
Ok then, but still does not explains with Redis, as a php extension, returns false randomly while Redis through redis-cli, always return true ?

[2022-04-27 15:53] yatsukhnenko commented on #2096
I've never seen any problems with `flushDB` in our tests. Can you reproduce this issue in docker container or provide dump of network traffic?

[2022-04-28 13:12] Geolim4 commented on #2096
For now I have nothing except my tests failing randomly because Redis::flushDB return false:

https://app.travis-ci.com/github/PHPSocialNetwork/phpfastcache/jobs/567189780#L4364

[2022-05-02 08:08] javir0c opened #2102 "‎‎"

[2022-05-02 10:38] yatsukhnenko commented on #2102
@javir0c I thinks it would be better to ask this question [here](https://github.com/laravel/laravel)

[2022-05-07 16:59] raghuveer opened #2104 "Request Redis Stack Support"
Dear Team

I came across Redis Stack on Redis website. While there are Redis team supported plugins like Jedis that supports Redis Stack, I am posting in here a request to support Redis Stack, that will help PHP community alot.

https://redis.io/docs/stack/

Thank you

[2022-05-09 09:39] iKevinShah opened #2105 "Interacting with RedisCluster (Redis version = 7.0.0) fails - Segmentation fault (core dumped)"
### Expected behaviour
PHP Redis to work as an interface between Redis and PHP.

### Actual behaviour
Segmentation fault (core dumped)

### I'm seeing this behaviour on
- OS: CentOS Linux release 8.5.2111
- Redis: 7.0.0
- PHP: 8.1.5
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script

This seg-faults
[code]

This works fine
[code]

### I've checked
- [ ] There is no similar issu

[2022-05-09 16:25] tillkruss opened #2106 "Expose the transferred number of bytes"
From Slack discussions.

It would be handy to have access to a `getTransferredBytes()` (or similar) method that would expose the total number of bytes transferred in the last call.

[code]

[2022-05-11 07:37] yatsukhnenko commented on #2104
@raghuveer Redis Stack is supported via [rawCommand](https://github.com/phpredis/phpredis#rawcommand)

[2022-05-13 09:29] raghuveer commented on #2104
Dear @yatsukhnenko

thanks for the info. After coming across Redis stack, that supports full text search, timeseries data, queryable JSON documents etc..., and only clients for other languages, I asked Redis team for PHP support and in this context posted in PHPRedis github page

With raw command, it is like writing commands on redis cli know, while it is done through PHP

Thank you

P.S. Please t

[2022-05-13 09:49] yatsukhnenko commented on #2104
@raghuveer definitely we will add all native methods of Redis Stack but given the limited resources, I don't know when it will be done

[2022-05-14 12:08] raghuveer commented on #2104
@yatsukhnenko thanks for the confirmation and for the info. I agree this takes time though.

[2022-05-17 16:25] yatsukhnenko commented on #2106
@tillkruss How do you get 6 bytes for `ping`? Raw command looks like `*1\r\n$4\r\nPING\r\n` and response is `+PONG\r\n`

[2022-05-17 16:28] tillkruss commented on #2106
@yatsukhnenko I made that number up, just to signal that even `ping()` would cause transferred bytes.

[2022-05-17 16:41] yatsukhnenko commented on #2106
So this should be the number of sent bytes, right?

[2022-05-17 18:38] safrick opened #2107 "PHP Sessions and AWS Redis cluster mode enabled with encryption in transit not working"
### Expected behaviour
Sessions to work as expected.

### Actual behaviour
PHP Warning:  session_start(): Failed to read session data: rediscluster

### I'm seeing this behaviour on
- OS: Amazon Linux 2
- Redis: AWS Engine version 6.2.5 multi-AZ Cluster mode Enabled with encryption at rest and in transit; no passwords being used
- PHP: 7.4.28
- phpredis: 5.3.7

### Steps to reproduce, backtrace or

[2022-05-18 02:25] tillkruss commented on #2106
Yeah, just of the last executed command. No aggregate of any sort.

[2022-05-22 05:03] ttc0419 opened #2108 "Cannot perform any operations using redis instance inside of subscribe callback"
### Expected behaviour
The redis instance should function the same as the one created manually

### Actual behaviour
Cannot perform any operations using redis instance inside of subscribe callback

### I'm seeing this behaviour on
- OS: MacOS 12.4
- Redis: 7.0.0
- PHP: 8.1.6
- phpredis: 5.3.7 and 4e994e05399dcd0aa47ce5a7bd179d1f92ce5c40

### Steps to reproduce, backtrace or example script
Run the

[2022-05-22 05:36] ttc0419 commented on #2060
I'm also facing this issue, close the connection will result in an exception for subscribe().  Is the design intentional?  Is closing Redis and handle the exception the standard way of exiting subscribe() callback?

[2022-05-24 00:46] juvenrui commented on #2108
Redis 7 later, phpredis cannot run subscribe callback.

[2022-05-25 10:10] epsilot opened #2110 "RedisSentinel persistent connection issue"
Hello!

We are not quite sure whether any issues exists or we just simply use RedisSentinel incorrectly. So plz correct us if our assumptions about RedisSentinel behaviour are incorrect.

### Expected behaviour
We have three sentinel servers. We instantiate RedisSentinel in our web application and specify "persistent" parameter in constructor. We expect that some limited pool of persistent connect

[2022-05-26 15:33] yatsukhnenko commented on #2106
@tillkruss could you test `issue-2106` branch?

[2022-05-26 15:37] yatsukhnenko commented on #2105
@iKevinShah our [tests](https://github.com/phpredis/phpredis/runs/6610402486?check_suite_focus=true) work fine with PHP 8.1 and Redis 7.0. Do you have any additional info how to reproduce issue?

[2022-05-27 05:51] epsilot commented on #2110
it turned out that problem was in our sentinel's configuration. Sorry for bothering you.

[2022-05-27 05:51] #2110 closed, assigned to nobody

[2022-06-02 09:04] 4leads commented on #2074
Just ran into the same issue. Fixed it  by temporally disable the distribution while scanning.
Good to see it is already handled. Thank you

[2022-06-03 10:43] yatsukhnenko commented on #2108
@Galaxy0419
[code]

[2022-06-04 12:18] ttc0419 commented on #2108
@yatsukhnenko Thanks for the reply.  So, is there any way to issue other commands when subscribed event is triggered?

[2022-06-04 12:21] yatsukhnenko commented on #2108
@Galaxy0419 you may try to create another instance or Redis and send commands

[2022-06-04 13:03] #2108 closed, assigned to nobody

[2022-06-06 19:23] mariusadam commented on #2080
Hello @yatsukhnenko / @michael-grunder , do you have any thoughts on this?

[2022-06-07 16:07] yatsukhnenko commented on #2080
I need to dig into redis cluster code to understand what's happened...
[Docs](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#automatic-slave-failover--distribution) says that `RedisCluster::FAILOVER_DISTRIBUTE` distributes requests at random which doesn't guarantee 1:1 distribution ratio

[2022-06-08 09:07] iKevinShah commented on #2105
Was not working for me, I have downgraded to 6.2.
Can you please share what more info. is required. I'd share.

[2022-06-08 09:38] yatsukhnenko commented on #2105
@iKevinShah could you provider backtrace for segrault or maybe docker image where issue reproduces?

[2022-06-09 10:51] Iamzz-cn commented on #2107
I got the same problem.

Redis Version
Amazon MemoryDB for Redis
6.2
TLS

[code]
my php script file.
[code]
When I run it I get the following error
[code]
I also tried using Redis node instead of "ClusterEndpoint",It does not work

[2022-06-09 10:53] Iamzz-cn commented on #2107
I can use redis-cli to work
[code]

[2022-06-09 11:18] yatsukhnenko commented on #2107
@Iamzz-cn did you try to use address without `tls://`?
[code]

[2022-06-09 11:48] Iamzz-cn commented on #2107
@yatsukhnenko It just doesn't work and has the same problem.
[code]
[code]

[2022-06-09 11:52] Iamzz-cn commented on #2107
I try to use Redis to connect to node 1 of partition 1, it seems to work fine, but using the ClusterEndpoint address, there will be a problem
[code]
[code]

[2022-06-09 12:48] yatsukhnenko commented on #2107
@Iamzz-cn I guess It is not documented but for cluster you have to specify stream context options to enable tls

[2022-06-09 16:36] safrick commented on #2107
Since the options are not documented for cluster, what stream context options need to be enabled for tls?

[2022-06-09 17:22] Iamzz-cn commented on #2107
I seem to confirm the problem, when I create a Redis cluster that doesn't require a tls connection, it connects correctly. But it shouldn't. The documentation doesn't say how the RedisCluster class enables tls

[2022-06-09 17:41] yatsukhnenko commented on #2107
@safrick https://github.com/phpredis/phpredis/issues/1782#issuecomment-688642159 this is an example how to enable tls for session handler

[2022-06-09 17:44] yatsukhnenko commented on #2107
@Iamzz-cn
https://github.com/phpredis/phpredis/blob/e6b3fe548421b0f555c6d9d94dea4c26640ba716/redis_cluster.stub.php#L10 last argument in the constructor is array with stream context options

[2022-06-09 17:45] yatsukhnenko commented on #2107
Sometime we will definitely add this to documentation 😅

[2022-06-10 10:31] mariusadam commented on #2080
Thanks for looking into it.
Indeed, random distribution does not guarantee 1:1 distribution ratio, but when we have a master that handles 1 slot range and that master has one slave, then each node in that pair has a 50% change of being elected for handling read commands.
What I'm reporting here is the fact that this ratio does not remain consistent if a master handles multiple slot ranges because

[2022-06-13 19:52] InputOutputZ commented on #2083
Its saying your CA certificate i.e. cafile, or Client certificate i.e. local_cert failed verifying with REDIS.

Test connecting to REDIS with your certs using this script:-

[code]

If worked, then certainly its REDIS server configuration or REDIS config in Laravel database.php file references incorrect certs, or it could be due to php.ini issue, where in make sure openssl.cafile references your O

[2022-06-13 19:55] joostdebruijn opened #2114 "Redis Sentinel TLS support"
### Expected behaviour
I would like to connect to Sentinels over TLS.

### Actual behaviour
It looks like it's not possible to connect with Sentinels over TLS via this library. I would expect the RedisSentinel class connection settings are equal to the connection settings of Redis class. The Redis Sentinel class is actually missing the `$others` parameter from the Redis class.

### I'm seeing this

[2022-06-14 21:50] safrick commented on #2107
Thank You for your help, sessions are now working over TLS. https://github.com/phpredis/phpredis/issues/1782#issuecomment-688642159 was helpful in getting this done.

[2022-06-14 21:50] #2107 closed, assigned to nobody

[2022-06-20 08:03] Braxilior commented on #2012
Hi,

I use phpredis 5.3.6 and the SncRedisBundle 4.2 and I have the same error: `Redis::xinfo(): '' is not a valid option for XINFO STREAM`
I originally reported the issue on the bundle side https://github.com/snc/SncRedisBundle/issues/668 but it looks like it's a wrong reflection problem.

Should i make another issue or can this one be reopened?

Thanks,

[2022-06-20 10:14] joostdebruijn opened #2116 "Redis Sentinel went away when $auth is not containing auth array"
### Actual behaviour

Example code:

[code]

The above code is causing `PHP Fatal error: Uncaught RedisException: Redis server tcp://127.0.0.1:26379 went away`, however `null` is the default value for `$auth`. Other valid values are also causing the same issue:

[code]

When not adding the `$auth` parameter completely or when entering an array like `['username' => 'test', 'password' => 'test']`, t

[2022-06-20 12:24] yatsukhnenko commented on #2116
Duplicate #2098

[2022-06-20 12:31] #2116 closed, assigned to nobody

[2022-06-20 12:32] joostdebruijn commented on #2116
@yatsukhnenko Thanks, sorry for creating a duplicate.

[2022-06-21 05:05] ostrolucky opened #2117 "smembers returns false"
### Expected behaviour
`smembers` should always return array, as indicated in documentation. In case of connection issues, exception should be thrown.

### Actual behaviour
smembers sometimes returns boolean

### I'm seeing this behaviour on
- OS: `Linux h2-fe-p02 4.19.0-19-amd64 #1 SMP Debian 4.19.232-1 (2022-03-07) x86_64`
- Redis: `6.0.15`
- PHP: `8.1.3`
- phpredis: `5.3.5`

### Steps to reprod

[2022-06-21 07:37] hiroaki2020 opened #2118 "cannot enable redis-zstd"
### Expected behaviour
enable redis-zstd by running
[code]
### Actual behaviour
Cmd above outputs
[code]
and fails.
### I'm seeing this behaviour on
- OS: Debian GNU/Linux 10 (buster) in container
- Redis: not relevant
- PHP: container created based on the image "php:8.0.2-fpm-buster"
- phpredis: 5.3.7
- the container is running on docker for mac

### Steps to reproduce, backtrace or example scrip

[2022-06-21 07:48] remicollet commented on #2118
This is not needed, redis doesn't use the zstd extension, but the zstd library

So you need the libzstd development package  (libzstd-dev ?  I do'nt know about debian package name)

[2022-06-21 08:24] hiroaki2020 commented on #2118
@remicollet Thank you for quick reply!

I thought these two were the same, thx.

I actually tried libzstd1 before because it looks like the right one but failed.
This time I tried libzstd-dev and succeed! Thx a lot.

[2022-06-21 08:24] #2118 closed, assigned to nobody

[2022-06-21 09:28] Braxilior opened #2119 "XINFO wrong reflection provided"
### Expected behaviour
`$redis->xInfo('STREAM', 'mystream')` should work

### Actual behaviour
Got this error instead:
`Redis::xinfo(): '' is not a valid option for XINFO STREAM`

### I'm seeing this behaviour on
- OS: Ubuntu 20.04.3 LTS
- Redis: 7.0.2
- PHP: 8.1.7
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script

Call `$redis->xInfo('STREAM', 'mystream')` using the 4.2 versi

[2022-06-24 04:08] hiroaki2020 opened #2121 "'pecl install redis' does not ask 'enable msgpack serializer support?'"
Currently `pecl install redis` cmd does not ask 'enable msgpack serializer support?' like igbinary.
I know I can enable msgpack by installing from sources but my docker img does not have git cmd so I need to install it.
It would be great if I can enable msgpack by `pecl install redis` method.
Is it possible?

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed

[2022-06-24 04:16] hiroaki2020 commented on #2121
Closing since dupe of #2113.
Sorry.

[2022-06-24 04:16] #2121 closed, assigned to nobody

[2022-06-27 09:03] joostdebruijn opened #2122 "Redis Sentinel IPv6 support"
### Expected behaviour
I would expect that I could connect to a Sentinel over IPv6.

### Actual behaviour
It doesn't work: `Uncaught RedisException: Redis server tcp://[::1]:26379 went away`. When switching to IPv4 it works.

### I'm seeing this behaviour on
- OS: Ubuntu 20.04.4
- Redis: 7.0.2
- PHP: 8.1.7
- phpredis: 5.3.6

### I've checked
- [x] There is no similar issue from other users
- [x] I

[2022-06-29 12:16] ostrolucky opened #2124 "Rediscluster nodes access should be randomized"
### Expected behaviour
List of nodes passed to RedisCluster should be shuffled to avoid always initially connecting to first redis node from list.
### Actual behaviour

We are passing this list of nodes to constructor of RedisCluster:
[code]

Recently we created a dashboard with connection latency to all of these redis nodes. Result is following:
![image](https://user-images.githubusercontent.com/

[2022-06-29 12:27] yatsukhnenko commented on #2124
https://github.com/phpredis/phpredis/blob/develop/cluster_library.c#L1046
@ostrolucky There is shuffling of nodes while initialization.

[2022-06-29 12:32] yatsukhnenko commented on #2124
Do you use [slot caching](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#slot-caching)?

[2022-06-29 12:41] ostrolucky commented on #2124
yes

[2022-06-29 12:45] yatsukhnenko commented on #2124
Could you show additional info about cluster?
CLUSTER INFO, CLUSTER NODES, etc

[2022-06-29 12:49] ostrolucky commented on #2124
[code]

[2022-06-29 12:57] yatsukhnenko commented on #2124
It looks like we don't actually shuffle nodes in case of slot caching
https://github.com/phpredis/phpredis/blob/develop/redis_cluster.c#L139

EDIT: no, there is `fyshuffle` in `cluster_init_cache`

[2022-06-29 14:41] ostrolucky commented on #2124
Is it randomized in case cluster caching is disabled too? I just realized that we also have lot of CLI processes and there cluster caching probably isn't in effect because there isn't opcache, right? I mean, even if process is long lived, there probably isn't any cache at least on initial redis connection.

[2022-07-01 18:21] yatsukhnenko commented on #2122
@joostdebruijn how do you create `RedisSentinel` object?

[2022-07-02 07:24] joostdebruijn commented on #2122
Hi @yatsukhnenko,

It did some further testing and it looks like it has to do with the URI format I use:

Not working:

[code]

Working:

[code]

Also working:
[code]

Similar happens at a Redis object:

Not working (error: `Uncaught RedisException: Failed to parse IPv6 address "[[::1]]:6379")`:
[code]

Working:
[code]

Working:
[code]

It looks like parsing of URI's containing IPv6 addresses is n

[2022-07-07 10:30] AdamKatzDev opened #2128 "signature of xpending method is wrong"
### Expected behaviour
xpending should accept null value for optional parameters as shown in the method signature:
`public function xPending($stream, $group, $start = null, $end = null, $count = null, $consumer = null) {}`
### Actual behaviour
xpending crashes with `Redis::xpending() expects parameter 6 to be string, null given`

### I'm seeing this behaviour on
- OS: Ubuntu 20.04 LTS
- Redis: 6.0

[2022-07-08 05:56] Darknesser commented on #2056
Review your php.ini, the igbinary extension would loaded before the redis extension
extension="igbinary.so"
extension="redis.so"

[2022-07-08 10:33] halnique commented on #1921
Any progress on this issue?
There is a similar problem with `zRank/zRevRank`.
I am having trouble with phpstan because I get warnings....

If zRank/zRevRank commands executed on a key or member that does not exist, it cannot to return value as an int.
(Because rank cannot define it.)
It must return false (or something indicating that it does not exist).

[2022-07-08 19:10] yatsukhnenko commented on #2122
@joostdebruijn this should be fixed in `develop` branch. Now you can use both variants with and without brackets

[2022-07-10 14:39] siamak2 commented on #1768
Is there any plan to solve this issue?

[2022-07-12 12:31] magnetik commented on #2128
Related to #2119 too

[2022-07-12 16:10] yatsukhnenko commented on #1768
Should be fixed in `develop` branch

[2022-07-12 19:10] siamak2 commented on #1768
@yatsukhnenko thank you
When the new version will be released? I'm installing phpredis from a PPA on Ubuntu.
Can we pass `['field1'=>'value1','field2'=>'value2']` array as second parameter?

[2022-07-13 17:59] yatsukhnenko commented on #1768
@siamak2 there is no ETA for next release. Probably the only way to use this feature until release is to build phpredis from sources

[2022-07-13 18:00] yatsukhnenko commented on #2122
Resolved

[2022-07-13 18:00] #2122 closed, assigned to nobody

[2022-07-14 09:10] siamak2 commented on #1768
@yatsukhnenko what about my second question:

[2022-07-14 09:20] yatsukhnenko commented on #1768
@siamak2 you can pass array or variadic arguments
[code]
or
[code]
but

[2022-07-14 19:24] #1768 closed, assigned to nobody

[2022-07-14 19:35] yatsukhnenko commented on #1942
Should be fixed in `develop` branch

[2022-07-14 19:35] #1942 closed, assigned to nobody

[2022-07-15 13:39] yatsukhnenko commented on #2060
I've merged fixes into `develop` branch and now it is possible to call `unsubscribe` inside callback to abort the loop

[2022-07-16 19:24] yatsukhnenko commented on #2060
Resolved

[2022-07-16 19:24] #2060 closed, assigned to nobody

[2022-07-17 12:08] mariusadam commented on #2080
Hello @yatsukhnenko, I've created PR https://github.com/phpredis/phpredis/pull/2130 for this issue (not really sure how can I better link it to this issue).
Could you please take a look and tell me what you think?

[2022-07-18 08:42] yatsukhnenko commented on #2080
@mariusadam I'll take a look this evening

[2022-07-18 13:57] taai opened #2132 "Support for multiple Redis Sentinels"
My knowledge about the Redis Sentinel is very limited right now, so, this is probably going to be just a question about how to use this package properly...

I have 3 Sentinel nodes (as there should be by recommendations), but in the [README](https://github.com/phpredis/phpredis/blob/5.3.7/sentinel.markdown) I see only how to use a single Sentinel node... The ```RedisSentinel()``` class accepts onl

[2022-07-18 18:27] yatsukhnenko commented on #2132
Yes, current implementation doesn't imply multiple sentinel nodes so you have to manage them by yourself

[2022-07-25 23:42] patricio-dorantes opened #2133 "Can't set a session.save_handler to a standalone tls encrypted redis instance."
### Expected behaviour

Working php session on a encrypted redis(standalone) session.

### Actual behaviour

Php sessions failing, as no stream settings are being red.

[code]

### I'm seeing this behaviour on
- OS:  linux *
- Redis: 7.0.3
- PHP: 7.4.19
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script

Configure php sessions on standalone mode

php_admin_value[session.save_ha

[2022-07-26 09:19] itmeicn opened #2134 "executeRaw('ft.info','admin') is error value"
[code]
### Expected behaviour
[code]
### Actual behaviour
[code]
### I'm seeing this behaviour on
- OS: ubuntu20.04
- Redis:6.2.6
- PHP:8.0.20
- phpredis:5.3.4

### Steps to reproduce, backtrace or example script
use phpredis5.3.4 or 5.3.7 and  Redis7.0.2,common use php8.0.20。 Can't get the correct value。

[2022-07-26 16:42] Asisyas opened #2135 "Redis::unsubscribe() does not working."
### Expected behaviour

I want to unsubscribe from the channel after receiving the first message.

### Actual behaviour

Waiting for timeout.

### I'm seeing this behaviour on
- OS:  Ubuntu 20.04.4 LTS
- Redis: redis:6.2.6-alpine
- PHP: 8.1.8
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script

#### Server

[code]
#### Client

[code]

### I've checked
- [x] There is no similar i

[2022-07-26 22:30] michael-grunder commented on #2134
I don't know how to do it specifically for your wrapper class, but you can tell PhpRedis to return the `+` reply-type literals with `OPT_REPLY_LITERAL`.

[code]

[2022-07-27 00:50] itmeicn commented on #2134
ths

[2022-07-27 00:50] #2134 closed, assigned to nobody

[2022-07-27 01:36] spaze commented on #1744
Hi, we're hitting the same issue.

Redis Version	5.3.7
redis.pconnect.pooling_enabled	1

This is our connection setup code:
[code]

`$this->redis->getLastError();` returns null when exec returns `true`.

We have a method like
[code]
and in `UnexpectedReturnTypeException`, `$result` is `true`, `$error` is `null`.

We run a job hourly, `exec()` returns `true` several times per day, regularly, but no

[2022-07-27 01:56] spaze commented on #1744
@sofire sorry, but did you figure it out somehow? Thanks!

[2022-07-27 15:19] liuyajie opened #2136 "Redis::psubscribe() does not working"
### Expected behaviour
`$redis = new \Redis();

$redis->connect('127.0.0.1');

$redis->setOption(\Redis::OPT_READ_TIMEOUT, -1);

$redis->psubscribe(['/user.*/'], function ($r, $c, $m) {
    var_dump(func_get_args());
});
`
`
$redis = new \Redis();
$redis->connect('127.0.0.1');
$redis->publish('user-abc','abc');
`
### Actual behaviour

### I'm seeing this behaviour on
- OS: window X
- Redis: php_re

[2022-07-27 16:32] yatsukhnenko commented on #2136
`user-abc'` doesn't match glob `/user.*/`

[2022-07-28 04:14] liuyajie commented on #2136
what can i do?can you give me a example?

[2022-07-28 04:33] liuyajie commented on #2136
I get it!!!

$redis->psubscribe(['user.*'], function ($r, $c, $m) {
    var_dump(func_get_args());
});

$redis->publish('user.test','test');

It's ok!!!

It don't need slash sign, and it not complete RegExp.

[2022-07-28 04:33] #2136 closed, assigned to nobody

[2022-07-29 23:09] patricio-dorantes commented on #2133
I think the fix is really simple...

[code]

[2022-07-30 11:34] yatsukhnenko commented on #2135
Dublicate #2060

[2022-07-30 11:34] #2135 closed, assigned to nobody

[2022-07-30 11:46] yatsukhnenko commented on #2133
@patricio-dorantes could you create PR with this changes?

[2022-08-01 16:21] patricio-dorantes commented on #2133
@yatsukhnenko I created this PR https://github.com/phpredis/phpredis/pull/2138

[2022-08-02 17:31] joaoccmatos commented on #2102
@javir0c having the same exact problem on Laravel 9. Did you manage to get a fix?

[2022-08-03 15:46] Logicbloke commented on #1626
@yatsukhnenko Same warning even with `session.save_path`

[2022-08-03 16:08] yatsukhnenko commented on #1626
@Logicbloke please test on the latest version of phpredis and if you still see the error open new issue

[2022-08-04 10:27] Logicbloke opened #2139 "Warning: session_start(): Failed to read session data: redis"
### Expected behaviour
PHP to store sessions on redis

### Actual behaviour
Sessions are not stored.

### I'm seeing this behaviour on
- OS: Ubuntu 20.04.4 LTS
- Redis: 5.0.6
- PHP: 8.1.7
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script
Right after a `session_start()`I get the following error

[code]

### I've checked
- [x] There is no similar issue from other users
- [X] Iss

[2022-08-04 12:17] #1943 closed, assigned to yatsukhnenko

[2022-08-06 08:26] yatsukhnenko commented on #2139
@Logicbloke Could you provide a script to reproduce this issue?

[2022-08-06 08:32] yatsukhnenko commented on #2133
Resolved

[2022-08-06 08:32] #2133 closed, assigned to nobody

[2022-08-08 08:35] Logicbloke commented on #2139
@yatsukhnenko A simple `session_start()`was producing that message. Connecting to the redis server using redis-cli on that host worked just fine though.

[2022-08-08 08:42] yatsukhnenko commented on #2139
@Logicbloke check the host, port and password you use or try to find some additional information in logs on server

[2022-08-08 08:44] Logicbloke commented on #2139
@yatsukhnenko Unfortunately no additional errors were logged. Is there a way to have the plugin be a bit more verbose? Thanks!

[2022-08-09 16:42] atatarn opened #2141 "Can't set stream[cafile] in php-fpm conf"
### Expected behaviour
The following should work in php-fpm.conf:
[code]
### Actual behaviour

After the start of php-fpm and first request for anything doing session_start() php-fpm fails and dies totally.

[code]
### I'm seeing this behaviour on
- OS: Ubuntu 20.04 LTS in WSL2
- Redis: Redis server v=7.0.3 sha=00000000:0 malloc=libc bits=64 build=78de1e2aecbd405
- PHP: PHP 8.0.21 (cli) (built: Au

[2022-08-13 14:35] koushik355 commented on #1768
It's still the same. Any news on this one?

[2022-08-15 11:09] digirave opened #2142 "Possible memory leak, serialize bug or other bug in phpredis"
### Expected behaviour
No PhpAllowedMemorySizeReachedError

### Actual behaviour
Rarely PhpAllowedMemorySizeReachedError

### I'm seeing this behaviour on
- OS: Red Hat Enterprise Linux release 8.6 (Ootpa)
- Redis: redis-5.0.3-2.module_el8.2.0+318+3d7e67ea.x86_64
- PHP: 7.4.30
- phpredis: php74-php-pecl-redis5-5.3.7-1.el8.remi.x86_64

### Steps to reproduce, backtrace or example script
Can't repro

[2022-08-17 06:54] m1cha3lf opened #2144 "pconnect random timeouts"
Yesterday we have deployed by mistake phpredis 6.0.0-dev to one of our production clusters. A couple of seconds later the whole cluster started to throw Redis timeouts and connection refused. Reducing the load of the cluster reduced the issue but didn't solved it.

Reverting back to 5.3.7 solved the issue right away. We have 3 different pconnects to 3 different Redis Servers. 2 of them are 6.0.5 a

[2022-08-21 07:41] digirave commented on #2142
Additional test:
Changed session.serialize_handler to igbinary and the problem still occurs.
![image](https://user-images.githubusercontent.com/6678253/185780997-4fe60aac-3d82-47ec-8041-62669534bd30.png)

[2022-08-21 12:01] yatsukhnenko commented on #2141
@somepad can you test [this](https://github.com/phpredis/phpredis/commit/a471c87a3b0fe3f82879b8df0fcfeb869d03e2a2) fix?

[2022-08-22 11:08] pavelthq commented on #2096
same problem for us in kubernetes cluster:
[code]
php 8.1.6

[2022-08-22 11:11] pavelthq commented on #2096
problem was in redis itself, these commands were disabled https://stackoverflow.com/questions/22815364/flushall-and-flushdb-commands-on-redis-return-unk-command

[2022-08-23 08:32] atatarn commented on #2141
@yatsukhnenko,

This fix seem to work, thanks!
Any chance it would be available via pecl so we don't have to build the library ourselves?

Thanks!
Andrey

[2022-08-25 18:13] yatsukhnenko commented on #2141
This fix will be in the next release but currently there is no ETA

[2022-08-25 18:13] #2141 closed, assigned to nobody

[2022-08-30 12:47] idleglass commented on #2056
thanks

[2022-08-31 05:34] iKevinShah commented on #2105
I am sorry for the late response to this. I just tried this with Redis 7.0.4 and PHP 8.1.9 with PHPRedis 5.3.7 and things work fine.

Nothing changed with PHPRedis and OS so I am guessing some bug somewhere in PHP or Redis which seems to be fixed.

[2022-09-01 14:02] wit3 commented on #1941
If i try this solution i receive this error
[code]
any suggest? @shengslogar

[2022-09-13 10:25] saurabhnanda commented on #2110
Hi @epsilot , did you figure out how to get a persistent connection to redis sentinel servers? Could you please share a code snippet?

[2022-09-13 12:07] saurabhnanda opened #2148 "Unable to open persistent connection to redis sentinel"
### Expected behaviour

If I've understood [the docs](https://github.com/phpredis/phpredis/blob/develop/sentinel.markdown#class-redissentinel) correctly, something like the following...

[code]
...should result in a persistent connection to the redis-sentinel server (similar to a `pconnect` being used with redis).

### Actual behaviour

A new connection is being created to the redis-sentinel serve

[2022-09-14 05:59] epsilot commented on #2110
Hello @saurabhnanda . Unfortunately we didn't find solution based on RedisSentinel class. Earlier we thought that our problem was in Sentinel misconfiguration but after several experiments we realized that we were incorrect. Now we use solution which is based on Haproxy. Haproxy keeps actual information about master Redis server and provide this information to clients. If you find more elegant sol

[2022-09-14 09:54] lbassin commented on #1726
Good news guys! It's supposed to be fixed by now (https://github.com/php/php-src/issues/8409)
Looking at the changelog it's available in 8.0.23 and 8.1.10

[2022-09-16 05:19] dealer-solutions-gene commented on #1533
I ran into this issue when I had an AWS Cluster with a single shard, increasing this to two shards solved my problem

_PHP 5.6 / PHP Redis 2.2.8_

[2022-09-17 23:58] michael-grunder commented on #2142
Hi, sorry for the delay another project has taken all my time.

It certainly does look like a bug (unless you're actually trying to allocate 1GB of data), and if it occurs with both serializers it seems likely to be somewhere lower than that.

I know about some non-fixed leaks (discussion in #1703) but I'm not sure those would apply here.

The biggest hurdle will be replicating the bug so we can n

[2022-09-18 03:18] digirave commented on #2142
Thanks for the reply.
A few comments, probably we won't be of much help anymore.

1.
On a server with about 7000 requests per second this would occur every few days.
We had this suspected bug for years.

2.
We could not reproduce this on purpose.

and as code like
$sessionsize = strlen(serialize($_SESSION));
if($sessionsize > 100000) {
---- LOGGING CODE ----
}
logged nothing, we suspect it might a

[2022-09-20 09:53] timogoosen commented on #2056
This is the right way!!!

[2022-09-21 15:13] specdrum-agc opened #2153 "PHP's reflection API doesn't expose 'count' parameter for sPop method"
This is just another case of https://github.com/phpredis/phpredis/issues/1526. Creating a new Issue as per comment https://github.com/phpredis/phpredis/issues/1526#issuecomment-474412122

### Expected behaviour

[code]

### Actual behaviour

[code]

### I'm seeing this behaviour on
- OS: Linux
- Redis:5.0.7
- PHP:7.4.26
- phpredis:5.3.7

### Steps to reproduce, backtrace or example script

$reflec

[2022-09-22 00:26] michael-grunder commented on #2153
I can confirm this is the case in 5.3.7.

I suppose we should put together a bugfix release soon.

[2022-09-22 09:13] specdrum-agc commented on #2153
Seems like there is some problems also with methods `sAdd`, `lPush`.

Reflection says that method have only two parameters and second parameter 'value' is not variadic, which is not match with this:
https://github.com/phpredis/phpredis/blob/5.3.7/README.markdown?plain=1#L2308
https://github.com/phpredis/phpredis/blob/5.3.7/README.markdown?plain=1#L2021

Also there is method `sAddArray` in list of

[2022-09-22 16:01] come-nc opened #2154 "Redis::keys may return false?"
### Expected behaviour

`Redis::keys` should always return an array according to documentation.

### Actual behaviour

It seems it returns false in some cases according to the trace we get here:
https://github.com/nextcloud/server/issues/34155

### I'm seeing this behaviour on
- OS: Ubuntu 22.04
- Redis:
- PHP: php 8.1
- phpredis:

### Steps to reproduce, backtrace or example script

See https://g

[2022-09-22 17:09] michael-grunder commented on #2154
This is correct.

In actuality, most PhpRedis methods may return `false` (in the event of a failure) and `Redis` itself (if inside a pipeline/multi block).

I made #2015 to make this clear in our stub file but we haven't merged it yet as it likely requires a major version bump.

[2022-09-23 02:36] michael-grunder commented on #1635
Closing as I made a release :smile:
https://api.github.com/repos/phpredis/phpredis/releases/latest

[2022-09-23 02:36] #1635 closed

[2022-09-23 02:55] #1663 closed

[2022-09-23 05:28] renatogcarvalho opened #2157 "Allow float timeout values for brpop command"
Since Redis 6.0 released on 2020 a float value is allowed to define the timeout for `brpop` commands:

https://github.com/redis/redis/commit/eca0187370c14aa2c126fe07e5310e44c2780a95

https://redis.io/commands/brpop/
[code]

However on `redis_commands.c` a PHP error occurs if the timeout is not defined as `LONG`:

[code]

Do you have any plans on updating this extension to support it?

Unfortunatel

[2022-09-23 06:16] michael-grunder commented on #1923
Closing this in favor of #1921.

There's a draft PR #2015 to fix these, the issue is it likely requires a major version bump.

[2022-09-23 06:16] #1923 closed, assigned to nobody

[2022-09-23 06:26] michael-grunder commented on #2157
We should update the command to take a float, but in the meantime you can always use `rawCommand`

[code]

[2022-09-23 07:44] renatogcarvalho commented on #2157
Thank you @michael-grunder. Using `rawCommand()` worked as intended.

Hopefully someone will have enough time to work on this update as it would be great if I could avoid having this "kludge" implemented, but I'm glad I can continue using the extension. 👍

[2022-09-23 16:36] michael-grunder commented on #2056
Going to close this issue as answered

[2022-09-23 16:36] #2056 closed, assigned to nobody

[2022-09-27 09:54] #2102 closed, assigned to nobody

[2022-09-28 08:22] come-nc commented on #2154
Good to know. It would be good to at least fix the stub to match the behavior of the code.

So what does it mean when Redis::keys returns false, is it the same as an empty array? Or does it mean an error happened?

[2022-09-28 10:58] bradjones1 opened #2159 "Update `README` to include explicit information about redis server compatibility"
First off, thank you to all the contributors and maintainers for this project; open-source work is often thankless and this project is very much appreciated!

I am switching to PhpRedis from Predis and am trying to ensure I have the correct version match on server and client. It appears the tests are currently running against whatever server version is installed from the various environments (Ubun

[2022-09-28 17:27] schodemeiss opened #2160 "zInter should not be an alias for zinterstore"
### Expected behaviour
zInter should not be an alias for zinterstore. They do two different things.

https://redis.io/commands/zinter/ - returns the intersection of two sets
https://redis.io/commands/zinterstore/ - stores the intersection of two sets in a new key

### Actual behaviour
zInter() is marked as deprecated and as an alias of zInterStore.

### I'm seeing this behaviour on
Everywhere

[2022-09-28 18:03] michael-grunder commented on #2159
This is actually a good question, by which I mean I don't have a precise answer :smile:

If you look through our tests, you'll notice that some of them have a block of logic to skip the test if the connected redis-server is too old:

https://github.com/phpredis/phpredis/blob/a98605f216449479cf27599244c25cbf415ed226/tests/RedisTest.php#L275-L279

Personally, I don't really pay attention to what spe

[2022-09-28 18:05] michael-grunder commented on #2160
Agreed.

This is a historical artifact from the very early versions of PhpRedis years before Redis had the `ZINTER` command (which was introduced in `6.2.0`).

@yatsukhnenko I think maybe we can fix this before 6.0.0 since it's now clearly a bug?

[2022-09-28 19:22] yatsukhnenko commented on #2160
@michael-grunder I agree, we should fix this

[2022-09-28 20:51] bradjones1 commented on #2159
I think it might be worth adding a note to something of that effect? "Greater than X and the upper limit of what is packaged by Y, Z distros"?

[2022-09-29 00:25] michael-grunder commented on #2159
We could add a note, but I guess I'm not totally clear on the utility.

PhpRedis will happily connect and issue commands to Redis 2.8, 7.0.5, or unstable.  You're only really limited by what commands the given `redis-server` supports.  So you couldn't use any of the `XADD` type commands if you connect to Redis < `5.0.0`.

[2022-09-29 06:18] #1661 closed

[2022-09-29 14:44] EBDhong commented on #1373
How can I set the persistent connections for the redis cluster?

redis.clusters.cache_slots= "mycluster=1"
redis.clusters.persistent = "mycluster=1"
or
redis.clusters.cache_slots= "1"
redis.clusters.persistent = "1"

[2022-09-29 14:47] myseo commented on #1373
How can I set the persistent connections for the redis cluster?

redis.clusters.cache_slots= "mycluster=1"
redis.clusters.persistent = "mycluster=1"
or
redis.clusters.cache_slots= "1"
redis.clusters.persistent = "1"

[2022-09-29 15:00] schodemeiss commented on #2160
Yes please. It'd be nice if it also formatted the array in the same way that zrange does (The array keys being in the element and the value being the score).

[2022-10-01 17:24] #1673 closed

[2022-10-06 01:20] michael-grunder commented on #2157
Closing via #2158

[2022-10-06 01:20] #2157 closed, assigned to michael-grunder

[2022-10-06 01:28] michael-grunder commented on #2160
Actually @schodemeiss I think @yatsukhnenko has already fixed this in the develop branch 😅

[2022-10-06 01:31] michael-grunder commented on #2075
Interesting.

This will actually take a fair bit of work to support but I agree that we should support it.

[2022-10-06 01:35] michael-grunder commented on #2053
Closing this issue, as I think a rebuild should work.  Feel free to reopen however if that's not the case.

[2022-10-06 01:35] #2053 closed, assigned to nobody

[2022-10-06 01:38] michael-grunder commented on #1985
Closing this issue as it's answered but feel free to ask any questions if you are still having trouble.

[2022-10-06 01:38] #1985 closed, assigned to nobody

[2022-10-06 01:50] michael-grunder commented on #1972
Closing this but we're happy to answer any other questions you have.

[2022-10-06 01:50] #1972 closed, assigned to nobody

[2022-10-06 01:58] michael-grunder commented on #2029
I don't think the Swoole client is PhpRedis but their own, so it's probably better to ask there.

[2022-10-06 01:58] #2029 closed, assigned to nobody

[2022-10-06 02:00] michael-grunder commented on #1988
Going to close this issue, as it's actually a false positive.  The compiler can't deduce the actual nature of a `zend_string *` because of the way PHP defines the structure.

[2022-10-06 02:00] #1988 closed, assigned to nobody

[2022-10-06 02:01] michael-grunder commented on #2077
I'm going to close this as not a bug, but I will try to keep size in mind as we move forward.

[2022-10-06 02:01] #2077 closed, assigned to nobody

[2022-10-06 02:05] michael-grunder commented on #1931
PhpRedis doesn't use PHP's unit tests, but rather our own.

I'm not sure that's likely to change given what a large job it would be.  You can instead run tests by doing `php tests/TestRedis.php`

[2022-10-06 02:05] #1931 closed, assigned to nobody

[2022-10-06 02:05] michael-grunder commented on #1901
Closing this issue as answered

[2022-10-06 02:05] #1901 closed, assigned to nobody

[2022-10-06 02:08] michael-grunder commented on #1970
Closing this issue as I don't believe it is still a problem (I'm on an M1).

If you are still having trouble though please feel free to reopen and I will try to help.

[2022-10-06 02:08] #1970 closed, assigned to nobody

[2022-10-06 02:10] michael-grunder commented on #1873
Closing via 90709827ee46a25a8d2a63235fa438120ab7f613

[2022-10-06 02:10] #1873 closed, assigned to nobody

[2022-10-06 02:12] michael-grunder commented on #1886
This isn't really how `EVAL` works.  You could `msgpack` your payload and then unpack it in the `LUA` script.

Going to close this as I don't think we're ever likely to support this functionality but I am happy to help with a solution.

[2022-10-06 02:12] #1886 closed, assigned to nobody

[2022-10-06 02:13] michael-grunder commented on #1532
Going to close this old issue, but if anyone is still having trouble I am happy to try and help.

[2022-10-06 02:13] #1532 closed

[2022-10-06 02:29] michael-grunder commented on #1735
In general you can pass anything that PHP can convert to a string as a key, which is pretty much any scalar type or object that implements `__toString`.

You can also look at our stub files, which generate introspection information that your IDE can use to show prototypes.

[2022-10-06 02:29] #1735 closed

[2022-10-06 02:58] michael-grunder commented on #928
Going through old issues.  I think the documentation is just totally wrong here and it was referring to `CONFIG RESETSTAT`.

[2022-10-06 03:43] #928 closed

[2022-10-06 13:17] kibertoad commented on #1768
@yatsukhnenko any plans to cut a new version with this :)?

[2022-10-06 15:25] schodemeiss commented on #2160
Ah great news! Do we have a timescale for when the dev branch might become a release? No pressure, just curious.

[2022-10-07 23:22] luiscoutinh commented on #2083
You need to add `context` element in options. Then `cafile` and `verify_peer` must be inside `stream`.

[code]

[2022-10-08 14:50] #2051 closed, assigned to nobody

[2022-10-08 17:51] #1410 closed

[2022-10-08 18:04] #1987 closed, assigned to michael-grunder

[2022-10-08 18:35] #1961 closed, assigned to michael-grunder

[2022-10-09 15:12] thomas-0816 commented on #1961
Thank You!

[2022-10-09 16:02] InputOutputZ commented on #2083
Also, without stream, for me it worked in Laravel 9.x.

    'redis' => [
        'options' => [
            'context' => [
                'local_cert' => env('REDIS_CLIENT_CERT'), 'local_pk' => env('REDIS_CLIENT_KEY'), 'cafile' => env('REDIS_SERVER_CA'), 'verify_peer' => true, 'verify_peer_name' => true
                ]
            ]
        ],

.

[2022-10-10 13:43] marcing commented on #1443
Redis::hGet(): send of 51 bytes failed with errno=32 Broken pipe
phpredis 5.3.7

Receiving the errors on random occasions - might be related to heavy load, but I am not sure.
![obraz](https://user-images.githubusercontent.com/190209/194880147-4732522e-570b-4f27-80bf-6e691171cc32.png)

[2022-10-10 16:05] michael-grunder commented on #2160
We don't have a definite schedule for any releases but this change likely has to be included in a major version bump (6.0.0) as it may break code.

I do want to release that somewhat soon-ish but since we're doing a new major version we should make sure and break all the things we think are necessary as we're stuck at that point until 7.0.0

[2022-10-10 19:44] michael-grunder commented on #2154
Closing as #2015 was merged.

The stubs should be correct now.

[2022-10-10 19:44] #2154 closed, assigned to nobody

[2022-10-11 05:55] #2119 closed, assigned to nobody

[2022-10-11 05:57] #2128 closed, assigned to nobody

[2022-10-11 06:04] #2096 closed, assigned to nobody

[2022-10-11 06:05] michael-grunder commented on #2064
Closing via #2176

[2022-10-11 06:05] #2064 closed, assigned to nobody

[2022-10-11 07:06] xiaoxiongjie commented on #2106
您的邮件已经收到

[2022-10-12 20:36] michael-grunder commented on #2153
I believe these have all been fixed now in the `develop` branch.

[2022-10-12 20:36] #2153 closed, assigned to michael-grunder

[2022-10-12 20:39] michael-grunder commented on #2052
Closing via 54a084e51c2ec0a511ab37bdcf866babb50a74c6

[2022-10-12 20:39] #2052 closed, assigned to nobody

[2022-10-13 00:31] michael-grunder commented on #2117
Closing as #2015 is merged which more accurately reflects what Redis may return.

[2022-10-13 00:31] #2117 closed, assigned to nobody

[2022-10-13 02:06] michael-grunder commented on #2105
In that case, I'll close the issue but please reopen if you encounter the problem again.

[2022-10-13 02:06] #2105 closed, assigned to nobody

[2022-10-13 02:09] michael-grunder commented on #2044
Closing as the problem has been fixed in the `develop` branch and will be released with PhpRedis 6.0.0

[2022-10-13 02:09] #2044 closed, assigned to nobody

[2022-10-13 03:23] michael-grunder commented on #1921
Closing this issue since #2015 was merged.

[2022-10-13 03:23] #1921 closed, assigned to nobody

[2022-10-13 03:28] michael-grunder commented on #1756
Closing via #2173

[2022-10-13 03:28] #1756 closed

[2022-10-13 05:42] #1840 closed, assigned to nobody

[2022-10-13 17:35] #1836 closed, assigned to nobody

[2022-10-13 19:19] michael-grunder commented on #2041
Closing as I believe this is fixed in the develop branch.  If you still see this issue please reopen.

[2022-10-13 19:19] #2041 closed, assigned to michael-grunder

[2022-10-13 19:20] michael-grunder commented on #2160
Going to close this since the issue has been fixed in the develop branch and will be included in the next release.

[2022-10-13 19:20] #2160 closed, assigned to nobody

[2022-10-17 10:00] clarence-eldefors commented on #876
I just ran into this myself and found a workaround that seems to be working. It is to make sure that all keys requested gets the same slot by changing what it hashes. Redis cluster documents it's hashing at https://redis.io/docs/reference/cluster-spec/#hash-tags

Basically by wrapping some identifier in {} you will get those keys mapped to the same slot. An example from above would be to change `E

[2022-10-18 03:52] TysonAndre opened #2193 "Idea: Add configure option to require simdjson PECL for faster json decoding"
### Expected behaviour

See https://github.com/crazyxman/simdjson_php/pull/86 for an example of how to call it - this would work when `defined(SIMDJSON_PHP_VERSION_ID) && SIMDJSON_PHP_VERSION_ID >= 30000`

- Note that the C library internally used by the pecl uses 32-bit offset types, and will reject strings exceeding 4GB, but "Bulk Strings are used in order to represent a single binary-safe strin

[2022-10-18 04:13] michael-grunder commented on #2193
I agree that it would be very cool.  Honestly, I've wanted an excuse to use simdjson since I read Lemire's blog post about it a few years back. 😂

[2022-10-18 05:15] TysonAndre opened #2194 "Forward compatibility for unserializing for igbinary releases?"
### Expected behaviour

phpredis should call igbinary for any serialized data starting in "\x00\x00\x00" including \x03 (3 or just non-zero?), and allow igbinary to reject it if not supported

(I'm a maintainer of https://pecl.php.net/package/igbinary - a brand new version is something I'm considering for space reduction for lists (similar to msgpack for lists - avoid serializing keys if they'd be

[2022-10-18 14:02] JakubOnderka commented on #2079
This should be already implemented by this commit: https://github.com/phpredis/phpredis/commit/aaaf0f233afe404bc1d8c6a600af860448ee0bd6. Or  it doesn't work?

[2022-10-18 16:48] michael-grunder commented on #2194
Yes of course, we should support future versions of igbinary so can make this change.

For context #761 is the PR that added the logic.  Looks like it was a quick and dirty way to allow users to use `INCR` even when also enabling the serializer.

[2022-10-20 22:05] michael-grunder commented on #1834
Closing this as it's been answered and isn't a bug in PhpRedis.

[2022-10-20 22:05] #1834 closed, assigned to nobody

[2022-10-20 22:06] michael-grunder commented on #1822
Going to close this old issue.  If people are still running into this issue I'm happy to help.  I've now actually got an M1 mac running PhpRedis.

[2022-10-20 22:06] #1822 closed, assigned to nobody

[2022-10-24 00:54] michael-grunder commented on #2194
cc @TysonAndre Let me know if this looks good to you.  The only thought I had was whether we could be more restrictive than simply testing for `0x00` on the final byte.  It's unlikely to be > 3 for many years?

[2022-10-24 02:58] TysonAndre commented on #2194
The header check implementation looks good.

I don't plan on major redesigns once v3 is done (still working on it), but if there are any unexpected bugs or design issues in the v3 release I might have to bump the version if there's any bugs in the protocol (e.g. incorrectly serializing data, major performance regressions, etc. (I don't expect that to happen, but it's possible))

Allowing only 1..4

[2022-10-25 05:59] zorro-fr24 commented on #2079
@JakubOnderka

Not as far as I've seen!

Running the test case I posted at least, I see only SETs.
I just retested with:
php: 8.1.11
php_redis:5.3.7
redis: 7.0.5

and if I open the same session 3 times, without modifying the session object I see:
[code]

[2022-10-25 06:14] zorro-fr24 commented on #2079
are we even storing session update time?
if we look at the[ php session implementation](https://github.com/php/php-src/blob/master/ext/session/session.c#L487):
[code]
what would be s_update_timestamp and php_session_update_timestamp in our case?

[2022-10-25 11:26] Patrick-Remy opened #2202 "RedisCluster slot caching causes RedisClusterException on master change"
### Expected behaviour
A manual or automatic `cluster failover` doesn't have any impact.

### Actual behaviour
A `cluster failover` causes `RedisClusterException: Couldn't map cluster keyspace using any provided seed ` for the first requests after (or during?) a `cluster failover`, **if slot caching is enabled**

### I'm seeing this behaviour on
- OS: debian
- Redis: redis_version:6.2.7
- PHP: 7.4

[2022-10-27 04:27] zhuiyichujian opened #2210 "redis cluster bitop bug"
[code]
PHP Warning:  RedisCluster::bitop(): Warning, not all keys hash to the same slot! in /opt/local/share/nginx/html/www/bit.php on line 18

Warning: RedisCluster::bitop(): Warning, not all keys hash to the same slot! in /opt/local/share/nginx/html/www/bit.php on line 18

[2022-10-27 05:06] michael-grunder commented on #2210
Thanks, this was indeed a bug.  I've got a fix up and will get it merged in the morning.

[2022-10-27 14:45] #2210 closed, assigned to michael-grunder

[2022-10-28 07:18] Fsternal opened #2215 "pecl下载的phpredis扩展在redis哨兵连接没有auth参数"
My Code:
$sentinel = new \RedisSentinel('104.116.31.197', '26379',0,'',0,100,'hiwebabgzibgnxway2a');
$masterInfo = $sentinel->getMasterAddrByName('sentry_redis');

phpredis-ext :
/**
	 * Creates a Redis Sentinel
	 *
	 * @param string      $host          Sentinel IP address or hostname
	 * @param int         $port          Sentinel Port
	 * @param float       $timeout       Value in seconds (option

[2022-10-28 07:21] Fsternal commented on #2215
I download the latest version 5.3.7 on Pecl

[2022-10-29 19:53] michael-grunder commented on #2215
You can send authentication information in the argument after `read_timeout`.

[code]

[2022-10-29 20:14] yatsukhnenko opened #2218 "Add the CH, NX, XX arguments to GEOADD (#8227)"

[2022-10-29 20:17] #2218 closed, assigned to nobody

[2022-10-29 23:16] michael-grunder commented on #2215
Closing this as answered, but if you're still having trouble feel free to post an additional question.

[2022-10-29 23:16] #2215 closed, assigned to nobody

[2022-10-30 05:09] michael-grunder commented on #2194
Closing via #2201

[2022-10-30 05:09] #2194 closed, assigned to michael-grunder

[2022-10-30 19:00] michael-grunder commented on #1894
Closing, as all tasks are done and merged into develop.

[2022-10-30 19:00] #1894 closed, assigned to nobody

[2022-10-30 19:23] #2114 closed, assigned to yatsukhnenko

[2022-11-03 18:38] #2080 closed, assigned to nobody

[2022-11-05 12:20] deniscsz commented on #2085
I have experiencing the same scenario with PHP 8.1.

[2022-11-07 06:17] DSGM22 opened #2242 "Error: Undefined index: host"
[Error: Undefined index: host](https://stackoverflow.com/questions/74342569/error-undefined-index-host-php-redis-php-7-4-laravel-6-20-linux)

[2022-11-07 06:24] yatsukhnenko commented on #2242
Malformed issue

[2022-11-07 06:24] #2242 closed, assigned to nobody

[2022-11-07 09:11] DSGM22 opened #2243 "Error: Undefined index: host"
### Expected behaviour
Trying to switch to Phpredis from Predis successfully
### Actual behaviour
Switch to Phpredis from Predis unsuccessful
### I'm seeing this behaviour on
- OS: Linux Mint 20.3 (Una)
- Redis: 7.0.4
- PHP: 7.4.3
- phpredis: 5.1.1

### Steps to reproduce, backtrace or example script
Since I wasnt able to use Redis::keys, Redis::scan,and any other functions except Redis::get and R

[2022-11-12 21:22] michael-grunder commented on #2243
This isn't a bug in PhpRedis, but rather an issue interacting with Laravel.

You might need to reconfigure your setup, but I honestly don't know anything about Laravel so can't really be of any assistance.

[2022-11-16 03:23] Fsternal commented on #2215
thanks

[2022-11-16 18:47] michael-grunder commented on #2243
Going to close this since it's not a bug with PhpRedis but an issue with how the framework and PhpRedis interact.

[2022-11-16 18:47] #2243 closed, assigned to nobody

[2022-11-18 18:40] zorro-fr24 commented on #2079
@JakubOnderka @michael-grunder looks like lazy write support was only enabled for standalone redis, and not cluster.
I have an initial pass at adding that functionality, plus some other optimisations.

[2022-11-19 10:56] zorro-fr24 commented on #2079
To outline the[ change](https://github.com/Flightradar24/phpredis/pull/1) in behaviour. With the current develop build every request with a session will result in a command sequence like this, even if the session is unmodified:

[code]
with the patch:

[code]
Which is 1 round-trip instead of 2 and about half the payload size.

The problem is that GETEX requires 6.2 which is why I place it behind a

[2022-11-21 10:32] hcerveragarc commented on #2050
Hi there, I just checked that the issue from #2052 has been closed. Does this mean that support for PHP 8.1 should be considered ok, as no other issues has been detected so far? Thanks!

[2022-11-21 11:31] zorro-fr24 commented on #2079
I've had some time to measure performance in production now.

We're seeing a 14x reduction in bytes sent to the server for mixed workload endpoints ( received bytes remains about the same ), and about 31x reduction on readonly endpoints and about 46% fewer commands

[2022-11-21 13:05] ruudk commented on #2050
Yes it works fine. It just needs a tag.

[2022-11-22 13:53] mensler commented on #2073
Gude @michael-grunder,
today while resizing the cluster (changing the instance type in AWS ElastiCache) we got a lot of errors like "Couldn't map cluster keyspace using any provided seed" and "Timed out attempting to find data in the correct node!".

I turned off the slot caching before (with `ini_set()`, if this makes a difference), but anyway...

Would it make sense to clear the cache and how ca

[2022-11-24 05:04] Priyanka2589 opened #2260 "php redis - Uncaught RedisException: read error on connection to"
**php Redis working in localhost**

ini_set("display_errors",1);
error_reporting(E_ALL);
ini_set("default_socket_timeout", -1);

$objRedis = new Redis();

try{
        $con = $objRedis->connect('localhost',8088);
        if (!$con) {
            throw new Exception('Failed');
        }else{
            echo "Connected with Server";
        }
} catch (Exception $e) {
    die($e->getMessage());
}
$o

[2022-11-24 05:18] Priyanka2589 commented on #2260
PHP Version 8.1.2-1ubuntu2.8
Redis 6
Ubuntu 22.04.1 LTS

[2022-11-25 10:29] nakae-nextat opened #2262 "RedisCluster::OPT_PREFIX is not defined"
### Expected behaviour
the contant `RedisCluster::OPT_PREFIX` is defined.

### Actual behaviour
`RedisCluster::OPT_PREFIX` is not defined. causes an error with the message `Uncaught Error: Undefined constant RedisCluster::OPT_PREFIX`.

### I'm seeing this behaviour on
- OS: macOS 12.6.1 and a Docker Container (based on Debian 11 bullseye)
- Redis: - (not installed)
- PHP: 8.1.8
- phpredis:  lastes

[2022-11-25 10:43] yatsukhnenko commented on #2262
@nakae-nextat try to use `Redis::OPT_PREFIX`

[2022-11-25 10:50] nakae-nextat commented on #2262
@yatsukhnenko
I confirmed `Redis::OPT_PREFIX` is properly defined.

[2022-11-25 22:33] michael-grunder commented on #2262
We updated how we create these class constants which is when I noticed I was duplicating all the constants for both classes.

I think we want to only define them for Redis in the next version (which will be a major version bump)

[2022-11-26 00:21] nakae-nextat commented on #2262
@michael-grunder
Thanks for your reply.

I see.
Will v5.3.7 be the last minor release of 5.x?

[2022-11-27 16:51] ankurk91 commented on #2050
Php 8.2 is set to release on December 8, 2022.
🙂

[2022-11-28 09:59] wieczo opened #2265 "PHP TLS Session with single Redis node"
### Expected behaviour

I am using PHPRedis to connect to a single Redis node. I want to save sessions there. It works for Redis Cluster, however `session_start()` won't work in single node mode.

### Actual behaviour

My connection string is the following:

[code]

Similar code works with the Redis Cluster, but the `stream` params seem not to work with a single Redis node. Are there errors in my

[2022-11-28 17:37] lyrixx opened #2266 "When getting an element from redis, PHP consumes twice the memory"
### Expected behaviour

When getting an element from redis, I expect PHP to consume only once value's weight

### Actual behaviour

PHP consumes twice the weight of my value

### I'm seeing this behaviour on
- OS: Linux
- Redis: 5.0.5
- PHP: 8.1.12
- phpredis: 5.3.7

### Steps to reproduce, backtrace or example script

Put a huge element in redis, then:

[code]

In my case:
[code]

### I've checke

[2022-11-28 17:47] michael-grunder commented on #2266
I don't think this is really a bug unless PhpRedis is leaking memory.

It would probably be possible to determine precisely what is using the extra memory, but my assumption is that it's to do with the RESP protocol buffers.

[2022-11-28 18:00] lyrixx commented on #2266
Indeed this is not a bug, but it would be super cool to avoid an extra `copy`

[2022-11-28 20:35] michael-grunder commented on #2266
In certain cases, this is probably possible (non-serialized plain strings).  I'll tag the issue as wishlist and keep it open, although I don't have any immediate plans to refactor this.

[2022-11-29 21:46] sgohl opened #2267 "RedisCluster - phpredis keeps using failed master"
### I'm seeing this behaviour on
- `Laravel 9.38.0` -> https://laravel.com/docs/9.x/redis#phpredis
- `pecl/redis    5.3.7   stable`
- `PHP 8.1.12` (fpm)
- `Redis server v=7.0.0`

### What happens

When you intentionally forcefully crash a cluster node (master), which has been defined in the Laravel config array `database.redis` - phpredis seems to ignore the `fail` state change of this master resu

[2022-11-29 23:34] michael-grunder commented on #2267
PhpRedis attempts to map the keyspace with `CLUSTER SLOTS`, using every node passed to it in the constructor.  This attempted against every seed node, in random order:

[code]

Once we can map every slot, we cache that topology to avoid having to call `CLUSTER SLOTS` each time a new `RedisCluster` object is instanced.  Then, if we ever receive a `MOVED` redirection, the slot cache is invalidated a

[2022-11-30 08:02] sgohl commented on #2267
Thanks for your response!

Ok, `CLUSTER SLOTS` does not return the IP of the crashed node.

And yes, it is a DNS Problem, because a Node, which is not pingable (because not online), can not be resolved.

But the question is: Why is phpredis still connecting to this node, while it's not in the `CLUSTER SLOTS` output anymore?

Btw: Is my assumption about the entrypoint-way of doing basically OK? Or

[2022-11-30 17:21] michael-grunder commented on #2267
I'm not really familiar with Laravel, so I would need to see exactly what was being passed in the [$seeds array](https://github.com/phpredis/phpredis/blob/7a4cee2d66963644d938251eac67b353b1fc2ffd/redis_cluster.stub.php#L50).

When I wrote the `RedisCluster` class the idea was to take many different seeds such that we can always map the keyspace, if even `1/N` seeds were reachable.

I'll put togeth