[2019-07-18 16:43] michael-grunder commented on #1606
Hi,

PhpRedis is a PHP extension so you don't need to include any files inside of your PHP script.  You need to add it to your PHP installation.

Here are the [installation instructions](https://github.com/phpredis/phpredis/blob/develop/INSTALL.markdown)

If you compile from source you'll need to find where PHP looks for additional INI files and create one with `extension=redis.so` in it.

You can

[2019-07-18 20:56] yatsukhnenko commented on #1607
@mensler unfortunately only Redis class  supports specifying protocol right now so you can't use it with RedisCluster.

[2019-07-18 21:01] yatsukhnenko commented on #1604
@sergeycherepanov feel free to reopen this issue if you still have compiling errors

[2019-07-18 21:01] #1604 closed

[2019-07-19 07:18] sergeycherepanov commented on #1604
@yatsukhnenko Thanks the fix helped

I updated to 141a81e and now it built successfully

[code]

[2019-07-19 07:33] mensler commented on #1607
OK, thanks for this hint.
Any chance that this will get implemented in the cluster class, too?

[2019-07-19 08:55] yatsukhnenko commented on #1607
I will try to take a look next week

[2019-07-19 15:52] ogoodwin opened #1608 "Connection pool keeps 10 connections open at all time"
When connection pooling is enabled (default limit), new connections will be opened as expected but it seems the library is always attempting to keep 10 connections open at any given time. For example, if we make 20 requests at the same time to redis, we will see 20 connections in the ESTABLISHED state but 10 will immediately go into the TIME_WAIT state and eventually fall off. The other 10 will st

[2019-07-19 16:32] michael-grunder commented on #1606
@bytecodedhawal Going to close this issue since it's not a bug in PhpRedis, but if you need more help feel free to comment in here.

[2019-07-19 16:32] #1606 closed

[2019-07-25 08:03] stancl commented on #548
Any updates?

It would be nice if `scan()` respected the prefix, my multi-tenancy package's tenant data separation depends on phpredis prefix.

I can imagine there are some use cases for `scan()` without prefix, so perhaps there could be `unprefixedScan()`, `scanAll()`, or a `scan()` argument `$usePrefix = true`.

[2019-07-26 14:17] kalmykov commented on #1591
Hi guys, do you know when this fix is planned to be released in PECL?

[2019-07-26 19:16] yatsukhnenko commented on #1591
On Monday :)

[2019-07-29 12:50] lyrixx opened #1610 "How to use custom redis module?"
I would like to use some external redis module https://github.com/RedisTimeSeries/RedisTimeSeries
But I don't know how to use this with this PHPRedis. Is there any way to add some capability to this extension?

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develop` branch

[2019-07-29 13:14] yatsukhnenko commented on #1610
@lyrixx you can use [rawCommand](https://github.com/phpredis/phpredis/blob/develop/README.markdown#rawcommand) to send any additional commands to server

[2019-07-29 13:21] lyrixx commented on #1610
Oh, nice. Thanks. I was using the eval + lua but rawCommand seems much easier :)

I think you can close this issue, but I have another tiny question:

Do you think this lib will be easier to maintain and more open for external contribution (for people like me that don't know well C) with PPH 7.4 and FFI?

[2019-07-29 14:04] ogoodwin commented on #1608
Anyone have any ideas on this?

[2019-07-29 14:11] yatsukhnenko commented on #1608
@ogoodwin It depends on your system settings how many connections will be in TIME_WAIT and when to recycle them. We don't manage this from the extension.

[2019-07-29 15:13] yatsukhnenko commented on #1610
@lyrixx I'm not sure that FFI will affect phpredis

[2019-07-29 15:13] #1610 closed

[2019-07-30 12:10] lurkie opened #1611 "RedisCluster->keys() allocates huge amount of memory"
### Expected behaviour
Our integration test for our use cases with Redis tests the retrieval of keys (among other features). This `->keys()` call returning an array of strings, worked fine until last weekend.

### Actual behaviour
It came to our attention that, if Redis runs for a longer time period and gets filled up a bit more, the retrieval of keys causes an OOM error:
`PHP Fatal error:  Allowe

[2019-07-30 13:37] yatsukhnenko commented on #1611
`RedisCluster` execute `keys` on every node and put results into array so if you don't have enough memory to store all this data you will receive OOM error from PHP

[2019-07-30 14:43] lurkie commented on #1611
I did some bench marking:

- memory_get_peak_usage(true) before `->keys()`: 28 MB (29360128 bytes)
- memory_get_usage(true)] before `->keys()`: 20 MB (20971520 bytes)
- calling `->keys()` returns 24794 items
- memory_get_peak_usage(true) after `->keys()`: 213.5 M (223862784 bytes)
- memory_get_usage(true)] after `->keys()`: 22 MB (23068672 bytes)

When I save the keys as a json file, it takes 1.3

[2019-07-31 03:21] michael-grunder commented on #1611
Hi @lurkie,

As you can see from the source code for [RedisCluster->keys()](https://github.com/phpredis/phpredis/blob/b565c84f13bd757de50c3da720a6822333d6f471/redis_cluster.c#L1097) what we're doing is pretty straightforward.  We simply iterate over the master nodes and add each node's reply to one array.

That being said, I think you may be onto something.  I'll need to take a closer look but it'

[2019-07-31 04:18] michael-grunder commented on #1611
Hi @lurkie, I've pushed a fix for this issue.

Basically instead of doing `calloc(len, sizeof(replyEntry))`, I was doing `calloc(len, sizeof(replyEntry)*len)` which explains the huge performance and allocation disparity.

If you are able to try fix that would be great, but I'm pretty sure this solves it.

[2019-07-31 08:15] lurkie commented on #1611
Hi Michael,

I tested your fix in a docker container, and it works. Memory usage without the fix:
[code]

Memory usage with the fix:
[code]

Thanks for the quick response and fix.
My remaining question is whether or not we'll see this fix in Ubuntu Xenial & Bionic any time soon. Do you have information on that? :innocent:
Thanks!

Lurkie

[2019-07-31 14:37] michael-grunder commented on #1611
I'm glad it works on your end!

Sorry, we don't handle any of the packaging so I can't say.

[2019-07-31 18:23] adjenks commented on #374
I came here looking for "Redis server went away".
I just wanted to say that that error message is funny, but not intuitive.
It went away? Where did it go?
I get this message after it fails to authenticate and I try to perform a query. The error should talk about the connection being broken or something, not the server going on vacation.

[2019-07-31 18:33] yatsukhnenko commented on #374
@adjenks we don't exactly know where your server disappeared 😅

[2019-07-31 20:15] yatsukhnenko commented on #1611
@michael-grunder `develop` branch is waiting for your fix :)

[2019-07-31 20:30] lurkie commented on #1611
No problem, I just had to ask. I'll wait for the updated package and read the release notes carefully :blush:. For now, I'll consider this bug solved. Thanks again for your prompt solution.

[2019-07-31 20:41] michael-grunder commented on #1611
Merged, closing this issue.

[2019-07-31 20:41] #1611 closed

[2019-08-02 07:18] B-Galati commented on #934
Would be really cool to have a lazy connection :+1:

[2019-08-02 11:52] kalmykov opened #1613 "RedisCluster unevenly distributes commands with cache_slots enabled in php-fpm mode"
### Expected behaviour
phpredis should evenly distribute readonly commands between masters and slaves with RedisCluster::FAILOVER_DISTRIBUTE and slots cache enabled

### Actual behaviour
once redis.clusters.cache_slots is enabled, 99% of readonly commands go to master nodes

### I'm seeing this behaviour on
- OS: Centos 7 - Linux 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_6

[2019-08-02 20:10] michael-grunder commented on #1613
Thanks for the report, I'll take a look this weekend.

[2019-08-02 20:19] B-Galati opened #1614 "How to choose between RedisArray and RedisCluster?"
Hello!

What would be the points to consider when trying to choose between RedisArray or RedisCluster? Any good use case examples?

Would be awesome to have this information in the doc.

Cheers!

[2019-08-06 17:26] blazarecki commented on #1613
Hi,

I have the same issue:

Maybe it can help you:
[code]
It was working fine with phpredis `4.3.0`

Thanks @michael-grunder if you need help to test it on a cluster I can do it.

[2019-08-08 09:32] boesing opened #1616 "[Bug] [V5] RedisCluster::info with required parameter does not return expected response"
### Expected behaviour
No error.
### Actual behaviour
Warning: assert(): assert(is_string($version)) failed

### I'm seeing this behaviour on
- OS: OSX
- Redis: 5.0.5
- PHP: 7.3.6
- phpredis: 5.0.2

### Steps to reproduce, backtrace or example script
[code]

### I've checked
- [X] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-08-08 17:22] michael-grunder commented on #1613
Just a quick update.  This is absolutely a bug, I'm only caching masters but need to be caching masters along with all of their slaves.

[2019-08-08 17:32] michael-grunder commented on #1616
Hi,

I think you misunderstand how `RedisCluster->info` works.  Since there are multiple nodes in a RedisCluster, you either need to send me a key name, or the host and port of the server where you want to execute the `INFO` command.

Something like this:

[code]

[2019-08-08 17:32] #1616 closed

[2019-08-09 11:23] TuningYourCode opened #1618 "RedisArray getKeys & keys different returns"
### Expected behaviour
That getKeys & keys work the same way on RedisArray. keys-function do not work at all currently.

### Actual behaviour
keys-Function returns always:
[code]

### I'm seeing this behaviour on
- OS: Debian Stretch
- Redis: Redis server v=3.2.8
- PHP: 7.1.31-1+0~20190807.22+debian9~1.gbpf402ed (Sury-Repo)
- phpredis: php-redis 5.0.2+4.3.0-1+0~20190808.13+debian9~1.gbpcc7e06 (Sur

[2019-08-09 11:39] CyberLine commented on #1618
Also an issue under PHP 7.3 with php-redis 4.3.0-1+0

`php > $redis = new \RedisArray(['localhost:6379']);
php > var_dump($redis->keys('*integration'));
php shell code:1:
array(1) {
  'localhost:6379' =>
  NFC
}
Speicherzugriffsfehler`

[2019-08-09 11:54] yatsukhnenko commented on #1618
@TuningYourCode @CyberLine thank you for the report!

[2019-08-09 11:58] yatsukhnenko commented on #1618
Could you test the following patch?
[code]

[2019-08-09 12:03] TuningYourCode commented on #1618
can you provide a package or the redis.so simply? else i have to setup a full build environment first as we normally only install the packages from sury repo :)

[2019-08-09 12:05] CyberLine commented on #1618
[code]

seems to work

[2019-08-09 12:18] yatsukhnenko commented on #1618
@TuningYourCode I'm not sure that redis.so simply compiled on my machine will work on yours :)

[2019-08-09 12:20] yatsukhnenko commented on #1618
I pushed the fix into `develop` branch

[2019-08-09 12:20] #1618 closed

[2019-08-09 13:32] TuningYourCode commented on #1618
Thx for your quick response and work you are doing for us all :)

[2019-08-12 10:06] Vidalia opened #1620 "Passing null as port into connect() doesn't set default port"
We recently noticed an issue on our servers caused by an upgrade from php-redis 4.3.0 to 5.0.2. Previously we were passing `null` as the port number to `connect()` which would result in the default Redis port being used, but since 5.0.2 we've noticed that this behaviour has changed unexpectedly.

This problem is briefly mentioned in #1602 : passing `null` now appears to trigger the extension to tr

[2019-08-12 12:12] natnet00 opened #1621 "Connection refused when using php-cli 7.1/7.2"
### Expected behaviour
Working connection

### Actual behaviour
Cannot connect to redis server via TCP

### I'm seeing this behaviour on
- OS: Debian 8.11 (Jessie)
- Redis: Redis server v=3.2.8
- PHP: PHP 7.2.21
- phpredis: 5.0.2+4.3.0-2+0~20190809.14+debian8~1.gbp070358

### Steps to reproduce, backtrace or example script
$redis->pconnect('192.168.1.1', 0, 4, NULL, 100))
throws "No such file or d

[2019-08-12 12:18] natnet00 commented on #1621
This is a duplicate of issue https://github.com/phpredis/phpredis/issues/1620

[2019-08-12 12:18] #1621 closed

[2019-08-12 14:47] michael-grunder commented on #1620
Hi @Vidalia thanks for the report.

I haven't checked your script yet, but this would appear to be a regression.  We can fix a NULL port attempting to connect via a unix socket, but I'm not sure we can change the exception message, as that's technically a breaking change.

It's _possible_ that people are actually matching the string `No such file or directory` in their code.

[2019-08-17 06:29] axot opened #1622 "segv in 5.0.2"
### I'm seeing this behaviour on
- OS: alpine 3.10 php-fpm
- Redis: 4.0.14
- PHP: 7.2.21
- phpredis: 5.0.2

### Steps to reproduce, backtrace or example script
This happened in 5.0.2, downgrade to 4.3.0 will be fine.

[code]

I can not reproduce this with a simple script now, need more information for it and it is interesting there is no  redis' C code path in the backtrace, any ideas?

cc @taka-o

[2019-08-18 10:11] liamsorsby opened #1623 "Connection pool requires slaves to be online at all times"
### Expected behaviour
Patching slaves and rebooting them shouldn't impact the end user when read write operations are set to only use the master

### Actual behaviour
When the slaves are restarted, every other request fails and causes broken pipe errors

### I'm seeing this behaviour on
- OS: centres 6/7
- Redis: not sure
- PHP: 7.0
- phpredis: 4.3

### I've checked
- [x ] There is no similar iss

[2019-08-18 17:32] seoker opened #1624 "EVAL return the redis object itself rather than the result"
### Expected behaviour
Return a normal array.

### Actual behaviour
A redis object is returned.

### I'm seeing this behaviour on
- OS: Amazon Linux AMI 2018.03
- Redis: 5.0.4
- PHP: 7.0
- phpredis: 4.3.0

### Steps to reproduce, backtrace or example script
I wrote a simple lua script, which will cause the `eval` return the redis object itself.
[code]
The redis server is a single node server and I

[2019-08-18 18:07] SlvrEagle23 opened #1625 "Possible to extend Redis session save handler as a PHP class?"
I've searched high and low and I can't really find a definitive answer for this, but is this extension's built-in session save handler exposed to PHP as a class (like `Redis` is) that can be extended in userspace?

Basically, I've been running into issues where, despite disabling sessions in certain circumstances, I'm having a ton (hundreds to thousands) of empty sessions being dumped into my Redi

[2019-08-18 18:14] michael-grunder commented on #1624
Hi, @seoker

I'm not seeing this issue.  Are  you sure the Redis object isn't in `PIPELINE` or `MULTI` mode?

The following script does what I would expect:

[code]

[code]

[2019-08-18 18:18] michael-grunder commented on #1622
It's hard to say without more information.

Are you using Redis or RedisCluster?  We've had some issues with the persistent slot caching mechanism, but that wouldn't apply if you're not using that or aren't even using RedisCluster.

[2019-08-18 18:52] michael-grunder commented on #1625
Hi @SlvrEagle23,

I'm not actually sure if this is possible as I've never really used the session functionality in PhpRedis (or even in PHP).

Taking a quick look through the code, it looks like our [session destroy handler](https://github.com/phpredis/phpredis/blob/b9dece2baf6a5c790f12f60415d5ca107136e23b/redis_session.c#L831) deletes the key.  I wonder if strategic `session_destroy` calls could

[2019-08-18 23:37] axot commented on #1622
We are using both RedisArray and RedisCluster at same time. Is it possible to enable verbose log so we could get more information?

[2019-08-19 03:42] seoker commented on #1624
After some investigation, I found there's a previous pipeline not being executed and that cause following commands fail.

[code]

I'll close this one, really sorry for wasting your time.

[2019-08-19 03:42] #1624 closed

[2019-08-19 03:52] michael-grunder commented on #1624
No worries, glad you were able to get it figured out!

[2019-08-19 09:18] yatsukhnenko commented on #1625
Instead of using session handler from phpredis we've implemented [sessionhandler](https://www.php.net/manual/en/class.sessionhandler.php) which wraps RedisArray. @SlvrEagle23 may be this solution will be fine for you too

[2019-08-19 09:20] SlvrEagle23 commented on #1625
@yatsukhnenko Thank you. I actually wound up finding the same thing myself...it appears `SessionHandler` internally calls whatever session handler is registered, so in this case it isn't necessary for PhpRedis to implement its own as it's handled entirely by that class.

[2019-08-19 09:20] #1625 closed

[2019-08-19 09:20] SkydiveMarius commented on #1625
I have the same opinion as @michael-grunder. Avoiding NULL sessions should be possible already in userland by using session_destroy().
[code]

@SlvrEagle23 Is it possible in your case to add such a check at the end of each request?

[2019-08-19 09:34] axot commented on #1622
I can not get exactly the same backtrace in my local. But I think I can reproduce a related segv. Follow the instruction from [README, branch: redis-array](https://github.com/axot/php-fpm-spanner/tree/redis_array) will get more information.

[code]

[2019-08-19 10:23] yatsukhnenko commented on #1622
@axot this issue should be fixed in `develop` branch

[2019-08-19 10:26] yatsukhnenko commented on #1622
This issue has the same nature as #1618

[2019-08-19 13:38] axot commented on #1622
@yatsukhnenko Ok, I will build from develop branch tomorrow and feedback to you later, thanks!

[2019-08-19 19:32] michael-grunder commented on #1623
Hi @liamsorsby thanks for the report.

As someone once said, "There are only two hard problems in computer science.  Naming things, and cache invalidation".

I'll try to replicate the issue and see what solutions there may be.  PhpRedis already has reconnection logic, and the connection pool also does some sanity checks on the connection so I think we can find a solution that works.

[2019-08-19 20:09] liamsorsby commented on #1623
I would completely agree that caching is the best worst thing to get working. 😂

I will be having a look over the week but my c skills are weak 😅. Thank you for taking a look.

[2019-08-20 07:32] axot commented on #1622
@yatsukhnenko I confirmed the i_zval_ptr_dtor one was fixed by develop branch. Does the origin one is caused by some reason, I will test it in the later this week.

[code]

[2019-08-20 10:15] JohannCarfantan commented on #876
Hey,

I'm facing the same problem, @michael-grunder do you have any update on this?
I understand that using brackets is a solution in a way but in my case this work is enormous and I'd like to avoid this. I'm also executing the same request that throws me this error in nodejs with the package ioredis (https://github.com/luin/ioredis) and there is no error, so it seems that they found a solution to

[2019-08-20 19:01] michael-grunder commented on #876
I'm not sure there is really a fix for this.

There is no way to execute commands on keys in more than one slot within a _single_ MULTI call, because Redis will just plain refuse to do it.

This means that you lose transaction guarantees because PhpRedis would have to take your single `MULTI...EXEC` call and split it into multiple transactions, which is likely already broken for most use cases.

I

[2019-08-21 07:23] BigOHenry opened #1626 "PHP 7.3 - session_start(): Failed to read session data: redis (path: tcp://localhost?auth=xxx)"
### Expected behaviour
no error :)

### Actual behaviour
After upgrade from latest php7.2 to latest php 7.3 getting this error: `session_start(): Failed to read session data: redis (path: tcp://localhost?auth=xxx)`

### I'm seeing this behaviour on
- OS:  Debian 10
- Redis:  5.0.5
- PHP: 7.3.8
- phpredis:  5.0.2

[2019-08-21 10:28] JohannCarfantan commented on #876
I am facing two case when using `MULTI...EXEC` command :

1. performing X times a same request in a for loop with a company id and a user id value changing in my keys. Here is a key example : `Enterprise:X:User:Y:conversations`
2. chaining some requests that have to be executed in an exact order. Example : `SADD` then `SMEMBERS`, or `HSET` then `HGETALL`, etc...

I think that I have to replace eve

[2019-08-21 11:36] yatsukhnenko commented on #1626
@BigOHenry Could you provide test script?

[2019-08-21 17:02] BigOHenry commented on #1626
I dont have exactly test script. I am using Nette Framework (latest 2.4 version, supports php 7.3).

There is Nette\Http\Session class with start method a default settings:
https://api.nette.org/2.4/source-Http.Session.php.html#70

And here is my custom settings from config:
[code]

Thank you!

[2019-08-21 17:19] michael-grunder commented on #1626
@BigOHenry I will attempt a simple session_start using 7.3, but if that doesn't fail we'll need a small script that can reproduce the issue (not under another framework, just php-cli ane Redis).

Otherwise there is no way for us to know where the error actually is (is it in PhpRedis or is it in the Nette framework, or is it possible that there is an authentication error, etc).

[2019-08-21 17:20] michael-grunder commented on #1613
Is anyone able to test the changes referenced in this issue and see if it fixes the problem for them?

[2019-08-21 18:38] zorro-fr24 commented on #1613
:+1:  I will try and run a test tomorrow.

[2019-08-22 07:43] BigOHenry commented on #1626
Okey, thank you!

[2019-08-22 09:58] zorro-fr24 commented on #1613
Happy to say that with FAILOVER_DISTRIBUTE I see a 50:50 split of queries between master and slave ( over 100 consecutive requests )
and FAILOVER_DISTRIBUTE_SLAVES I see all 100% of reads going to the slave ( and 100% of writes to master )

thanks for all the hard work!

[2019-08-23 02:54] out001a commented on #1585
I got the same error occasionally when using `pconnect`
* PHP: 7.2.13
* Redis: 2.8.14
* phpredis: 4.2.0

[2019-08-27 09:10] mafa1993 opened #1628 "Segmentation fault with 5.1.0-dev"
### Expected behaviour
data in redis
[code]
### Actual behaviour

### I'm seeing this behaviour on
- OS: ubuntu 16.04
- Redis:3.0.6
- PHP:7.0.4
- phpredis:5,1,0

### Steps to reproduce, backtrace or example script
[code]
### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-08-28 01:32] mafa1993 commented on #1628
[code]
print result
[code]

[2019-08-28 02:03] mafa1993 commented on #1628
Execute the script in another computer, There may be problems with dependencies or environment.

[2019-08-28 11:07] IlyaIndigo opened #1629 "systemd process name all instance of redis is redis-server 127.0.0.1:0 if i'm use socket only"
systemd process name all instance of redis is redis-server 127.0.0.1:0 if i'm use socket only.
Is it possible to make it so that if port = 0 and the directory and socket are defined, then the process name was given on the socket, for example **redis-server instance.sock** or **redis-server /run/redis/instance.sock**?

[2019-08-28 11:08] IlyaIndigo commented on #1629
Sorry, i'm misteke project.

[2019-08-28 11:08] #1629 closed

[2019-08-28 16:12] danieladavis opened #1630 "Unknown: open_basedir restriction in effect. File(tcp://..."
### Expected behaviour
Just accesses tcp address
### Actual behaviour
redis save_path blocked by open_basedir
### I'm seeing this behaviour on
- OS: Windows (PLESK)
- Redis:5.0.2
- PHP:7.3
- phpredis:5.0.2

### Steps to reproduce, backtrace or example script
I just added the tcp address in save_path and set the handler. php redis itself works fine but the save_path is blocked when using sessions
#

[2019-08-28 16:18] yatsukhnenko commented on #1630
@danieladavis could you provide test script?

[2019-08-28 16:41] #1630 closed, assigned to nobody

[2019-08-29 01:29] mafa1993 commented on #1628
Thank you for your reply.
I tested a lot of environments which were in the same configurations. But only this one was in troubl.I will reintall the system to repair.

[2019-08-29 01:34] #1628 closed

[2019-08-30 03:04] buession opened #1631 "Redis password contain "#" bug"
Hello:
 https://github.com/phpredis/phpredis/blob/develop/redis_session.c
If you parse session.save_path with php_url_parse_ex, the password containing the character '#' will fail because the '#' and the string after it are not treated as the value of the auth.

[2019-08-30 05:15] yatsukhnenko commented on #1631
`/`, `?` and `&` also can't be used

[2019-08-30 21:14] mrahmadt opened #1632 "How to configure Laravel 5.7 with Redis TLS (Using phpredis)"
Hi

I'm using laravel 5.7 with phpredis (PHP 7.2), but I’m not able to get it to work with tls, I am trying to use it with digitalocean Redis managed database which only supports tls connection

Any idea if tls even supported with laravel/phpredis?

[2019-08-31 05:54] mrahmadt commented on #1632
Here is the error when I try to connect to tls://myredis.com

        ErrorException

        Redis::connect(): php_network_getaddresses: getaddrinfo failed: Name or service not known
        in PhpRedisConnector.php line 109
        at Application->Laravel\Lumen\Concerns\{closure}(2, 'Redis::connect(): php_network_getaddresses: getaddrinfo failed: Name or service not known', '/var/www/test/thebra

[2019-08-31 10:00] mrahmadt commented on #1632
So I managed to get this to work, basically the current phpredis version that is shipped with php 7.2 (Ubuntu 18) is old and does not support tls, to fix this I had to update phpredis from pecl (https://pecl.php.net/package/redis)

[2019-08-31 10:00] #1632 closed

[2019-08-31 15:04] tugrul commented on #1626
Also I have encountered this issue on Symfony 4 redis session adapter.

I found the issue after I debugged the session adapter.

phpredis extension is prefixing malformed bytes on `set` or `setEx` like following

[code]

[2019-08-31 15:32] yatsukhnenko commented on #1626
@tugrul why do you think that phpredis adds malformed bytes?

[2019-08-31 16:05] tugrul commented on #1626
@yatsukhnenko

I put breakpoint on write method of RedisSessionHandler.

https://github.com/symfony/http-foundation/blob/master/Session/Storage/Handler/RedisSessionHandler.php#L75

data variable is normal before write. I looked the value of the key using redis-cli. Value is always prefixing with garbage bytes

[2019-08-31 16:46] yatsukhnenko commented on #1626
@tugrul
Symfony adds prefix to session id
`$this->redis->setEx($this->prefix.$sessionId`

[2019-08-31 17:37] tugrul commented on #1626
@yatsukhnenko yes I know. It is key name prefix and default value is `sf_s` but malformed bytes is not in **key**. They are in the beginning of **value**.

correct value beginning like
[code]

incorrect value
[code]

malformed bytes are
[code]

[2019-08-31 18:16] yatsukhnenko commented on #1626
@tugrul this looks like the value is serialised by magpack

[2019-08-31 18:40] tugrul commented on #1626
@yatsukhnenko bytes are not exists before `setEx`

debug
![debug](https://user-images.githubusercontent.com/163442/64067849-c280cf80-cc37-11e9-8e11-feffd2f3774e.png)

redis-cli
![redis-cli](https://user-images.githubusercontent.com/163442/64067850-c7458380-cc37-11e9-9295-d6b798c3bee1.png)

[2019-08-31 18:54] yatsukhnenko commented on #1626
@tugrul try to disable msgpack serialisation
`$redis->setOption(Redis::OPT_SERIALIZER, Redis::SERIALIZER_NONE)`

[2019-08-31 19:18] tugrul commented on #1626
@yatsukhnenko Yes it is serializer problem.

Your hint helped me.

I was using same redis instance to Doctrine RedisCache adapter.
It is solved when I disabled the Doctrine RedisCache adapter.

Then I looked up source code of Doctrine RedisCache. It sets IGBINARY serializer if igbinary extension is exists.

https://github.com/doctrine/cache/blob/master/lib/Doctrine/Common/Cache/RedisCache.php#L28

[2019-09-04 06:45] BigOHenry commented on #1626
Update: Problem is in phpredis 5.x.
Even PHP 7.2 with redis 5.0.2 not working, but redis 4.3.0 works.

[2019-09-04 06:45] BigOHenry commented on #1626
Update: Problem is in phpredis 5.x.
Even PHP 7.2 with redis 5.0.2 not working, but redis 4.3.0 works.

[2019-09-05 10:17] 6ecuk commented on #1631
Hi, maybe throw exception if a password contain one of this symbols ?

[2019-09-05 10:29] andrerom commented on #1393
On sscan getting errors like:
`Parameter 2 to Redis::sscan() expected to be a reference, value given`

On code that seems to work with Redis class:
[code]

[2019-09-06 06:15] kushalkh opened #1633 "Redis Cluster Error - Error processing response from Redis node!"
### Expected behaviour
try{
    $data = $redisCluster->get("some_key");
}
catch(RedisClusterException $e){
    echo $e->getMessage();
}

This should work always and it does most of  the times except the intermittent issue.

### Actual behaviour
Intermittent issue on Redis Cluster. The RedisClusterException message says "Error Message: Error processing response from Redis node!" on "get" command.

[2019-09-07 21:17] abbood opened #1634 "Cannot install phpredis from sources on osx mojave"
### Expected behaviour
php redis should be installed from sources

### Actual behaviour
getting error

### I'm seeing this behaviour on
- OS: OSX Mojave 10.14.5
- Redis: 5.0.3
- PHP: 7.1.23
- phpredis: latest

### Steps to reproduce, backtrace or example script
[code]

also tried
[code]

I get this error
[code]

inside `config.log` I have
[code]

more info:
[code]

### I've checked
- [x] There is

[2019-09-07 22:07] abbood commented on #1634
I was able to fix this by installing this package

[code]

details: https://stackoverflow.com/a/52530212/766570

[2019-09-07 23:08] michael-grunder commented on #1613
Closing this issue since it's fixed in develop and will go out with the next release.

[2019-09-07 23:08] #1613 closed

[2019-09-09 16:41] yatsukhnenko commented on #1459
https://stackoverflow.com/questions/52509602/cant-compile-c-program-on-a-mac-after-upgrade-to-mojave/52530212#52530212

[2019-09-09 16:50] yatsukhnenko commented on #1626
@BigOHenry have you tried to use the latest changes from develop branch?

[2019-09-10 20:39] heddn opened #1635 "Github release information"
### Expected behaviour

Release information provided for this project at https://api.github.com/repos/phpredis/phpredis/releases/latest, similar to https://api.github.com/repos/php-memcached-dev/php-memcached/releases/latest and https://api.github.com/repos/igbinary/igbinary/releases/latest.

For more info, refer to https://developer.github.com/v3/repos/releases/#get-the-latest-release

### Actual

[2019-09-10 20:43] heddn commented on #1635
This seems useful: https://github.community/t5/How-to-use-Git-and-GitHub/Why-last-release-is-not-marked-as-quot-latest-release-quot/td-p/1762

[2019-09-11 05:36] remicollet commented on #1635
Probably because this project don't use all **github** features, but use **pecl** ones.

Lot of pecl extensions don't use github, but git.php.net (and a github mirror), so also don't (and can't) use these features

Changelog is available on https://pecl.php.net/package-changelog.php?package=redis
(pecl web site also have an API, which is consumed by the pecl command)

IMHO: important project infor

[2019-09-11 08:03] egege opened #1636 "del command in redis cluster"
English：Delete multiple keys in redis cluster is not feasible in cmd, but feasible in phpredis extension.Delete multiple keys are kind of multiple key commands，Do you need to separate them in the redis cluster documentation？
中文：在redis集群里删除多个key，在命名中是不可行的，在phpredis拓展中是可行的。删除多个key算是操作多个key的命名，是否需要在redis集群文档中单独说明一下呢？

[2019-09-11 09:07] yatsukhnenko commented on #1636
@egege could you explain what do you mean `in cmd`?

[2019-09-11 10:09] egege commented on #1636
@yatsukhnenko redis command

[2019-09-11 18:51] yatsukhnenko commented on #1636
@egege sorry, I didn't get it

[2019-09-11 19:15] yatsukhnenko commented on #1481
Old issue without any activity for a long time

[2019-09-11 19:15] #1481 closed

[2019-09-11 23:26] michael-grunder commented on #1636
I think @egege means that you can do this with `RedisCluster`

[code]

But you cannot do:

[code]

It might be worth documenting this specifically.  We use [one utility function](https://github.com/phpredis/phpredis/blob/b114fc26f15b7b632300bc2b7e67d846aefa4fe5/redis_cluster.c#L764) for those kinds of commands but I think only MGET is mentioned in the docs.

[2019-09-12 01:45] egege commented on #1636
@michael-grunder Yes, that's what I mean,thanks. @yatsukhnenko Sorry,my english is not good.

[2019-09-13 16:39] michael-grunder commented on #1626
@BigOHenry We don't use any of the frameworks you've mentioned so it would be hard for us to set up a proper test environment.

Could you create a `Dockerfile` that demonstrates the problem?

[2019-09-18 15:28] jasminmistry opened #1638 "Redis failover server"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: windows
- Redis:
- PHP: 7.2.0
- phpredis: 5.0.0

### Steps to reproduce, backtrace or example script

I have a two redis server with 2 load balancer HAProxy that manage sentinels.

I cant able to configure failover ip in save_path. Is there any way?

If i set both server but if one server is down its not re routin

[2019-09-21 04:15] pz9042 opened #1639 "fatal error: zend_smart_str.h: No such file or directory"
php version is 5.6.40
phpredis version is the master.
it seems zend_smart_str is only in php 7 and above version. and i not found zend_smart_str.h in common.h in old master verion .

[2019-09-21 07:34] yatsukhnenko commented on #1639
@pz9042 PHP5 is not supported anymore.
4.3.0 was the last release which works with older versions of PHP.

[2019-09-21 15:19] pz9042 commented on #1639
@yatsukhnenko ok，now I understand, thanks

[2019-09-21 15:19] #1639 closed

[2019-09-22 13:58] andrerom opened #1640 "[FEATURE] Add _target($key) to RedisCluster?"
### CONTEXT
Attempting to do a atomic read and replace (empty) of a Set _(used as surrogate cache keys)_.

Currently looking to do this with `RENAME` + `SMEMBERS` + `DEL`, as `SPOP` is limited on how many it can pop _and_ does not seem to delete the Set afterwards if it ends up empty (?).

For `RENAME` it seems like I need to detect which node holds the key as it won't work on RedisCluster even if

[2019-09-22 16:39] #1640 closed

[2019-09-23 09:30] rsicart commented on #1626
@BigOHenry did you try to define the port in `save_path` ?

`tcp://localhost:6379?auth=xxx`

I had a similar problem upgrading from 7.0 to 7.2 last week and defining the port worked for me.

[2019-09-23 18:26] guyromb commented on #1633
I am experiencing the same issue.

[2019-09-24 12:35] BigOHenry commented on #1626
Well, its working now :) Yeah, it was missing port. Thank you !!!

[2019-09-24 12:35] #1626 closed

[2019-09-24 14:02] andreaganduglia opened #1641 "Unable to catch RedisException with a try/catch statement on older PHP versions"
### Expected behaviour

If Redis is not available I need to collect the RedisException instead of Fatal error.

### Actual behaviour

When Redis is not available, the application die with

`Fatal error: Uncaught exception 'RedisException' with message 'Redis server went away' in...`

and there is no way to catch the exception. The application simply die.

### I'm seeing this behaviour on
- OS: Deb

[2019-09-25 10:10] andreaganduglia commented on #1641
Apparently `Exception` is not triggered by `connect()` but by the first operation on `$redis`. So

[code]

could be test well the connection. In another words, to completely avoid the `away` exception you have to try/catch very single call. I'll close the issue.

[2019-09-25 10:10] #1641 closed

[2019-09-25 10:13] akalongman commented on #1614
@B-Galati when you use Redis as caching and persisting is disabled, you have to use sharding (RedisArray) to avoid high traffic issues between backends and Redis servers.

[2019-09-25 16:05] michael-grunder commented on #1641
We don't really support PHP versions that old any more, but I wasn't able to see this problem:

[code]

PHP/PhpRedis versions:
[code]

Run against a port I do have up:
[code]

Run against one I don't:
[code]

[2019-09-25 17:15] Mike-Benoit commented on #1620
This bug affected us as well using php-redis 5.0.2.

[2019-09-26 05:24] B-Galati commented on #1614
Thank you!

[2019-09-26 05:24] #1614 closed

[2019-09-27 06:23] taka-oyama commented on #1618
Is there an estimate on when this will be on the official release?

[2019-09-28 06:41] akalongman commented on #1618
I am interested too

[2019-09-28 06:42] akalongman commented on #1622
Any estimates when this will be fixed?

[2019-09-28 07:06] yatsukhnenko commented on #1618
Next month, I guess :)

[2019-09-28 07:07] yatsukhnenko commented on #1622
This should be fixed in `develop` branch

[2019-09-28 08:25] akalongman commented on #1622
@axot did you tested?

[2019-09-28 11:40] yatsukhnenko commented on #1562
Resolved

[2019-09-28 11:40] #1562 closed

[2019-10-02 19:05] kalifg opened #1642 "Can a Redis object be shared safely with a forked process?"
### A little background
At work, we run PHP Resque worker daemons that process jobs.  At some time in the past, we started getting warnings here and there, weird values (Redis protocol responses) pulled from Redis (`'+OK'`, `':0'`, `':1'`, etc...I've seen these mentioned in other issues).  For the vast majority of these a `get` is involved, and checking the key externally shows that it's actually

[2019-10-03 15:37] liamsorsby commented on #1623
@michael-grunder Would you like me to create a quick project to reproduce the issue?
I'm fully aware that everyone is rather busy but I could try and stick some break points in and some debug lines if that would be useful?

[2019-10-05 08:17] ntzm opened #1643 "getLastError isn't populated for certain commands"
### Expected behaviour

When I try to run `hGetAll` or `hMGet` on a non-hash, I expect `getLastError` to return `WRONGTYPE Operation against a key holding the wrong kind of value`

### Actual behaviour

`getLastError` returns `null`

### I'm seeing this behaviour on
- OS: Arch Linux
- Redis: 5.0.5
- PHP: 7.3.9
- phpredis: 5.0.2

### Steps to reproduce, backtrace or example script

[code]

### I've

[2019-10-05 18:19] yatsukhnenko commented on #1642
@kalifg after `fork` child process inherits sockets opened by by parent process that's why you receive unexpected messages. As workaround you may try to re-open connection right after fork.

[2019-10-05 18:51] michael-grunder commented on #1643
Hi @ntzm,

Thanks for the report.  Not only is this a bug, but it's also a memory leak.  I'll try to see what's happening here.

[2019-10-06 07:26] yatsukhnenko commented on #1643
@ntzm issue should be fixed in `develop` branch. Could you test changes?

[2019-10-06 08:50] shmel1k opened #1645 "persistent_id usage[help wanted]"
Hello, I have some questions about persistent_id usage.
1. We are using persistent connections opened with 'pconnect' with different timeouts. We never restart php-fpm. Is it an expected behavior that we overpass connection limits on redis because connections on php side are never closed?
2. In which cases different 'persistent_id' can be used? Isn't it better to use only one hardcoded persistent_

[2019-10-06 09:15] ntzm commented on #1643
Works perfectly! That was very quick :)

[2019-10-06 16:01] #1643 closed

[2019-10-06 20:45] yatsukhnenko commented on #1620
This issue should fixed in `develop` branch

[2019-10-06 20:45] #1620 closed

[2019-10-06 20:46] yatsukhnenko commented on #1622
I'm sure this issue is fixed. If not - feel free to reopen

[2019-10-06 20:46] #1622 closed

[2019-10-06 20:49] yatsukhnenko commented on #1585
@saurabh-gohil, @out001a try to update to 4.3.0 and enable connection pooling

[2019-10-06 20:50] #1529 closed

[2019-10-06 21:17] ntzm opened #1646 "Add type paramter to SCAN command"
### Expected behaviour

I would like to be able to supply the TYPE parameter described [here](https://redis.io/commands/scan)

### Actual behaviour

I can't!

### I'm seeing this behaviour on
- OS: Arch Linux
- Redis: 5.0.5
- PHP: 7.3.9
- phpredis: 5.1.0-dev

### Steps to reproduce, backtrace or example script

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fix

[2019-10-07 09:48] yatsukhnenko commented on #1645
Hi.
1. `timeout` passed to `pconnect` is connect timeout and it doesn't affect closing connection behavior.
2. I don't know use cases for different persistent_ids :) but you should know that it used only when connection pooling is disabled (default logic for phpredis < 5.0.0)

[2019-10-07 09:51] shmel1k commented on #1645
1. As I see in code, the key for which connections are stored in php-core is set as 'host:timeout' when persistent_id is null and pooling is disabled. Should I close connections every time when I change timeout?

[2019-10-07 12:02] yatsukhnenko commented on #1631
@buession could you test changes from branch `issue-1631`?

[2019-10-07 12:36] yatsukhnenko commented on #1645
Of course you can close unnecessary connections by hand. Also you may try to set `read_timeout` and PHP-engine should close unused connections automatically (but I'm not sure)

[2019-10-08 15:14] kalifg commented on #1642
Thanks for the response!  Calling `close()` after forking seemed to do the trick!

[2019-10-08 18:04] yatsukhnenko commented on #1631
Fixed in `develop` branch

[2019-10-08 18:04] #1631 closed

[2019-10-09 13:55] yatsukhnenko commented on #548
@acgrid @stancl could you test changes from `issue-548` branch?

[2019-10-09 21:01] yatsukhnenko commented on #1646
@ntzm could you test changes from branch `issue-1646`?

[2019-10-09 22:04] ntzm commented on #1646
It doesn't seem to work for me, this is what I'm trying:

[code]

[2019-10-10 00:33] michael-grunder commented on #1646
It's working for me running PhpRedis from `issue-1646` and Redis built from unstable.  I don't think this has been Released in Redis yet, and getting `false` leads me to believe maybe your version of Redis is too old?

The slightly modified code I used:
[code]

Outputs:

[code]

[2019-10-10 09:06] michael-grunder commented on #1646
I don't believe you can use `SCAN` with `TYPE` in any released version of Redis.

It'll be included in Redis 6 and possible back ported to Redis 5.0.x [if this comment is accurate](https://github.com/antirez/redis/pull/6116#issuecomment-509331565)

I can't use it in 5.0.6:

[code]

But I can if I build from unstable:

[code]

Hopefully that makes sense (It's late and I'm sleepy 🤣)

Cheers!
Mike

[2019-10-10 11:02] ntzm commented on #1646
Ahhh that makes sense, I will compile redis and try it with that

[2019-10-11 21:27] yatsukhnenko commented on #1634
Resolved

[2019-10-11 21:27] #1634 closed

[2019-10-11 21:32] yatsukhnenko commented on #1593
Resolved

[2019-10-11 21:32] #1593 closed

[2019-10-11 21:35] yatsukhnenko commented on #1459
Resolved

[2019-10-11 21:35] #1459 closed

[2019-10-12 12:03] iliaal opened #1652 "Connection Corruption with multi()"
### I'm seeing this behaviour on
- OS: Ubuntu 18.08
- Redis: 5
- PHP: 7.23
- phpredis: 5.0.2

### Steps to reproduce, backtrace or example script

$txn = $redis->multi();
series of setex, expire, sAdd and del calls
$txn->exec();

Occasionally persistent connections get permanently corrupted and start returning
PHP Fatal error: Uncaught RedisException: protocol error, got '
errors when doing exec()

[2019-10-12 13:43] yatsukhnenko commented on #1652
@iliaal could you provide test script?

[2019-10-15 02:37] pagemarks opened #1654 "can't install successful on macOS Catalina with phpize"
The PHP version upgrade to 7.3.8  when i upgrade macOS to Catalina, so i need to rebuild php redis extension. when i build it with `phpize`,output:
[code]

I search on web, find the _macOS Catalina_ can't use `/usr/include` anymore. when I create folder `include` in dir `/usr/`, it output `Read-only File System`.

how can I install redis.so on macOS Catalina?

I installed XcommandLineTools with `x

[2019-10-15 02:56] michael-grunder commented on #1654
I have a Mac but I'm not running Catalina so I can't try this out myself.

Perhaps this [Superuser](https://superuser.com/questions/1487126/php-7-3-8-zip-extension-on-macos-catalina-10-15) question can help?  It sure looks related.

[2019-10-15 03:22] pagemarks commented on #1654
`sudo` can't fixed it.

[2019-10-15 03:54] michael-grunder commented on #1654
No I mean this answer on Superuser.com might be what you need:
https://superuser.com/questions/1487126/php-7-3-8-zip-extension-on-macos-catalina-10-15

[code]

[2019-10-16 01:11] iliaal commented on #1652
`$redis->multi(Redis::PIPELINE);
$redis->setex("somekey", 1000, "val");
$redis->sAdd("key2", "2321")->expire("key", 2000);
$redis->aAdd("foo3", "___abc___");
$redis->expire("foo3", 3000);
$redis->close();`

[2019-10-16 08:13] yatsukhnenko commented on #1652
@iliaal I can't replicate issue locally with your script. Could you provide some more details?

[2019-10-16 08:20] yatsukhnenko commented on #1652
Ah, I guess I see where is the problem

[2019-10-16 10:40] pagemarks commented on #1654
Thank you very much.
modify phpize(bash) codes `includedir="eval echo ${prefix}/local/include/php"
` can fix  `phpize`.But `./configure` show errors, it's the same problem with the php lib path.

[2019-10-16 12:54] iliaal commented on #1652
The issue is somewhat random, I noticed in above script there is actually an error, last command should be redis->exec() not close().

[2019-10-17 03:01] pagemarks commented on #1654
Here is my solution:
copy php lib header files to `/usr/local/php`
[code]

[2019-10-17 10:30] kojima-akira-sz commented on #1533
Hi, I had the same problem.

It works normally, but this problem occurs under high load environment.

OS: Docker image: php:7.2-fpm(on AWS ECS FARGATE)
Redis: 5.0.4 (AWS ElastiCache)
PHP: 7.2.21
phpredis: 5.0.2

I try this script.[utility script](https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401)

Results:
[code]

[2019-10-18 14:15] paniy commented on #1479
我有一样的情况，但我解决了。https://github.com/paniy/phpredis-with-igbinary/blob/master/php/7.3.x/x64/php_redis.dll

[2019-10-21 13:20] iliaal opened #1655 "Persistent Connection Corruption"
### Expected behaviour

No Errors

### Actual behaviour
Variety of errors indicating that connection handle is not "clean", errors are like this:

PHP Fatal error: Uncaught Exception: protocol error, got ']' as reply type byte
Response returning +PONG as opposed to data

### I'm seeing this behaviour on
- OS: Ubuntu 18.04
- Redis: 5.0.4
- PHP: 7.2.23
- phpredis: 5.0.2

I've attempted to turn of co

[2019-10-21 13:29] #1652 closed

[2019-10-24 08:58] mensler commented on #1607
Hi @yatsukhnenko!
Did you make any progress on this?

[2019-10-25 13:30] acollard opened #1657 "PHP Session Handler doesn't support non TCP schemes like TLS."
The redis_session.c code uses only the host parameter from php_url_parse_ex, resulting in the scheme being removed. The Redis connection then defaults to tcp.
https://github.com/phpredis/phpredis/blob/8e5e239b0e9d82d4af4406dcfc5ce0e055e7fd4f/redis_session.c#L475
Connecting with the Redis object directly works fine using TLS.

### Expected behaviour
PHP session handler should support TLS and the co

[2019-10-25 13:45] kojima-akira-sz commented on #1533
In AWS ElastiCache, using "node endpoint" instead of "configuration endpoint" reduced the number of errors.

https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Endpoints.html

[2019-10-25 15:07] kojima-akira-sz commented on #1533
Hi, It was solved in my environment.
The cause was the library version.

I misunderstood the installed version.
I'm so sory.

[2019-10-26 03:14] nowgoo commented on #1161
I got the same problem, is there any way to avoid unnecessary AUTH command when connection is reused? thanks.

[2019-10-26 12:15] nitesh- opened #1658 "Issue using auth with RedisArray v5.0.0 & up."
Hello Team,

I had setup phpredis ext v5.0.0 with redis-server v5.0.5. The main reason for upgrading it was to add authentication to the server.

### Actual behaviour
While adding auth code in RedisArray, I used to get 502 gateway error from fpm. On command line, it said Segmentation fault (core dumped)

### I'm seeing this behaviour on
- OS: Linux  4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u5 (20

[2019-10-26 12:33] yatsukhnenko commented on #1658
This issue should be fixed in upcoming 5.1.0 and develop branch. Could you test it?

[2019-10-26 13:03] nitesh- commented on #1658
Yes it is working in the develop branch(5.1.0-dev).

[2019-10-26 13:09] yatsukhnenko commented on #1658
Ok, thanks. We are going to publish 5.1.0 GA next week.

[2019-10-26 14:56] yatsukhnenko commented on #1657
@acollard could you test changes from `issue-1657` branch?

[2019-10-26 19:48] ntzm opened #1661 "sScan, hScan and zScan don't populate getLastError"
### Expected behaviour

When running sScan on a non-set, hScan on a non-hash and zScan on a non-sorted-set, I expect getLastError to be populated with a WRONGTYPE error.

### Actual behaviour

getLastError returns null

### I'm seeing this behaviour on
- OS: Arch Linux
- Redis: 5.0.6
- PHP: 7.3
- phpredis: 5.1.0-dev (develop)

### Steps to reproduce, backtrace or example script

[code]

### I've c

[2019-10-26 21:16] acollard commented on #1657
@yatsukhnenko Sorry it isn't easy for me to test. I'm running on Windows and don't even have PHP installed, so it would probably take me a few hours to get it all up and running.

I hate putting this back on you but you will probably be a lot more capable of testing it and fixing any issues that arise. I can set you up with an Azure Cache for Redis instance in a European data centre if that works

[2019-10-29 09:01] marcdejonge commented on #1655
Yes, we see the same problems again with 5.0.2. When a connection is corrupted, the reconnect doesn't clean the connection completely. We've completely disabled persistent connections for now as a work-around.

[2019-10-30 12:22] RobinUS2 opened #1662 "Redis cluster segfaults on multi command"
### Expected behaviour
Multi command that quickly executes a bunch of `psetex`.

### Actual behaviour
Segfaults in php-fpm, visible as
[code]

backtrace doesn't add much value `gdb $(which php-fpm7.3) core.e4010187afcf.php-fpm7.3.1572426714`
[code]

### I'm seeing this behaviour on
- OS: Ubuntu 18.04.3 LTS
- Redis: 5.0.5 (cluster)
- PHP: php 7.3.11 (fpm)
- phpredis: 5.0.2

### Steps to reproduce,

[2019-10-30 15:26] yatsukhnenko commented on #1662
@RobinUS2 could you install debuginfo packages to get more useful backtrace?
Also could you confirm that issue isn't fixed in `develop` branch?

[2019-10-31 09:16] RobinUS2 commented on #1662
Thanks both for getting back to me.

@michael-grunder  redis php info
[code]
@yatsukhnenko could you elaborate on how to do that? link to some manual by any chance? I tried 5.1.0RC2 , 5.1.0RC1, 5.0.2 (current), 5.0.1, 5.0.0, none of them work

[2019-10-31 17:09] yatsukhnenko commented on #1655
@iliaal @marcdejonge could you test following patch?
[code]

[2019-10-31 17:15] yatsukhnenko commented on #1657
It would be great :+1:

[2019-10-31 17:24] yatsukhnenko commented on #1657
550 5.4.1 Recipient address rejected: Access denied [TO1CAN01FT015.eop-CAN01.prod.protection.outlook.com]

[2019-10-31 17:32] acollard commented on #1657
Did you send me an email at acollard @captivelogix.com?

[2019-10-31 17:46] yatsukhnenko commented on #1657
Yes. but it seems I've made a mistake :smile:

[2019-11-01 08:00] yatsukhnenko commented on #1657
Fixed in `5.1.0`

[2019-11-01 08:00] #1657 closed

[2019-11-01 08:00] yatsukhnenko commented on #1658
Fixed in `5.1.0`

[2019-11-01 08:00] #1658 closed

[2019-11-01 16:35] TysonAndre opened #1663 "Add example of how to connect to a unix socket with a timeout"
**NOTE: This might also be a regression fixed in dev-master**

### Expected behaviour

[code]

https://github.com/phpredis/phpredis#connect-open

### Actual behaviour

Examples only exist with TCP. There's no explicit documentation of what port you should pass alongside a unix socket if you want to pass a timeout.

### I'm seeing this behaviour on
- OS: Linux
- Redis: N/A
- PHP: 7.2
- phpredis: 5.

[2019-11-01 18:45] TysonAndre commented on #1543
The error message could be clearer to avoid confusion? E.g. `(probably timed out)`, `(after %.3f seconds)`, `(no data received)`

Right now, people seeing the error message could think it was an issue with the redis server/proxy, a protocol issue, etc.

[code]

[2019-11-01 19:39] yatsukhnenko commented on #1645
Feel free to re-open the issue if you have more questions about phpredis

[2019-11-01 19:39] #1645 closed

[2019-11-01 19:42] yatsukhnenko commented on #1663
No, because `redis_sock->port < 1` is true in case of zero which is default value

[2019-11-04 14:39] marcos-guerrero opened #1664 "Fail to connect to redis thru unix socket"
### Expected behaviour

I have a redis server listen on TCP 127.0.0.1:6379 and on a unix socket /var/run/redis/redis-server.sock
On My Ubuntu 18.04, PHP 7.3 and PHP Redis 5.0.2 I´m able to connect thru unixsocket using this code

[code]

The output is "Connected!"

### Actual behaviour

On the same machine, I've installed PHP7.4RC and compiled PHP Redis 5.1.0:
./configure
make
sudo make install

[2019-11-04 14:53] yatsukhnenko commented on #1664
@marcos-guerrero you should specify scheme `unix://`

[2019-11-04 14:59] marcos-guerrero commented on #1664
Hi!
Thank you for your fast response, but how to do that?

I've tried :

$r->connect("unix:/var/run/redis/redis-server.sock")
$r->connect("unix://var/run/redis/redis-server.sock")
$r->connect("unix:///var/run/redis/redis-server.sock")

without success

Anyway ... Where is it documented? On 5.0.2 it was working the way I wrote:
$r->connect("/var/run/redis/redis-server.sock")

[2019-11-04 15:02] yatsukhnenko commented on #1664
Sorry, I answered without checking the code :smile:
It seems that when port is not specified default value `-1` becomes `65535` and condition fails

[2019-11-04 15:08] yatsukhnenko commented on #1664
Here is a patch that should fix this issue
[code]

[2019-11-04 15:12] marcos-guerrero commented on #1664
Ok, thank you very much for your help!

As I'm newbie with patches I'll keep using TCP connections until your patch goes into the code and the bug is fixed

[2019-11-04 15:14] yatsukhnenko commented on #1664
You can also try to set port to `0`

[2019-11-04 15:17] marcos-guerrero commented on #1664
My use of phpredis is behind phpfastcache, so I'm not able to tweak the connection params, once I configure 'path' param in phpfastcache, the 'port' value is not used...
Anyway, thanks again for your help

[2019-11-04 15:18] yatsukhnenko commented on #1664
I think we will discuss this issue with @michael-grunder and create 5.1.1 soon

[2019-11-04 16:11] michelecurletta commented on #1664
I've the same issue. Any timeline for the patch public release?

[2019-11-04 21:10] dhazelett commented on #1664
Also affected. interesting that simply changing the signature broke it. setting to `0` also worked for us.

[2019-11-04 22:41] michelecurletta commented on #1664
unfortunately not for me :(

[2019-11-05 01:23] michael-grunder commented on #1664
If people could confirm this is now fixed in the develop branch that would be great.

I added some tests so this regression shouldn't happen in the future.

[2019-11-05 02:27] dhazelett commented on #1664
I'll see if I can test it tomorrow, might take me a minute to update one of the PQA AMIs tho lol

[2019-11-06 07:33] yatsukhnenko commented on #1664
@dhazelett Were you able to test the change?

[2019-11-06 10:57] blind3dd commented on #1341
version in the above
extension="/usr/local/Cellar/php@7.1/7.1.25/pecl/20160303/redis.so"
may differ to make sure to double check that path.

[2019-11-06 16:47] iliaal commented on #1655
@yatsukhnenko That looks like it would fix the connection termination, but not the underlying corruption?

[2019-11-06 17:18] yatsukhnenko commented on #1655
@iliaal I think that corruption is caused by non-properly terminated connection

[2019-11-06 19:31] michael-grunder opened #1668 "Overhaul broken persistent connections."
Over the years, persistent connections have been an issue for us.

This isn't unique to PhpRedis (the [MySQL extension](https://www.php.net/manual/en/mysqli.persistconns.php) faced similar problems), but is something we should try to solve properly.

The MySQL extension uses `mysql_change_user` to repair connections left in a bad state, and we may be able to do something similar.  I'll investigate

[2019-11-07 08:09] yatsukhnenko commented on #1668
I'm not sure that Redis currently has command to reset state of client similar to `mysql_change_user` but may be we may add it or ask Redis developers about that. Without it we need to execute cleanup code (transaction rollback, unwatch keys and so on) right after receiving connection from pool.

[2019-11-07 08:14] yatsukhnenko commented on #1668
Also we may not worried and send `PING` and if answer is not `PONG` just closing the connection but this will reduce the benefits of connection pooling.

[2019-11-07 15:28] michael-grunder commented on #1668
I think it's worth investigating if this works for us, because it seems like it would in theory.  It might be possible to retain local context such that we only have to issue the `PING` rarely (e.g. if we think we might be out of sync).

[2019-11-08 17:51] dhazelett commented on #1664
Sorry, unfortunately it looks like our AMIs are too locked down to allow me to switch.

[2019-11-08 18:28] yatsukhnenko commented on #1664
No worries, since we have unit tests for this it probably works.

[2019-11-10 16:23] iliaal commented on #1655
@yatsukhnenko I tried the updated code locally, I can't seem to reproduce the issue anymore.

[2019-11-10 16:36] yatsukhnenko commented on #1655
@iliaal we created [another issue](https://github.com/phpredis/phpredis/issues/1668) we will try to find right solution for this issue.

[2019-11-11 07:45] yatsukhnenko commented on #1664
5.1.1 released

[2019-11-11 07:45] #1664 closed

[2019-11-11 08:04] marcos-guerrero commented on #1664
5.1.1 already compiled and working as expected
Thank you very much!

[2019-11-11 09:43] dhazelett commented on #1664
I'll confirm in a few hours when we rebuild our AMIs for the week, thanks @yatsukhnenko

[2019-11-11 20:56] RobinUS2 commented on #1662
any thoughts or updates on the above?

[2019-11-11 21:43] yatsukhnenko commented on #1662
The package should be called php-redis-dbgsym or something like that

[2019-11-12 07:59] starikovs opened #1669 "ErrorException: Deprecated: Function Redis::zSize() is deprecated"
Why am I getting this warning? I don't see in the docs that zSize is deprecated. Should I change it to zCard()? Thanks in advance!

[2019-11-12 08:19] starikovs commented on #1669
@yatsukhnenko thanks! :)

[2019-11-12 09:41] #1669 closed

[2019-11-12 11:18] yatsukhnenko commented on #1585
Should be fixed in the latest stable version

[2019-11-12 11:18] #1585 closed

[2019-11-12 11:43] yatsukhnenko commented on #1668
We also may use `AUTH` instead of `PING` and kill two birds with one stone: check connection state and authenticate if required.

[2019-11-13 08:09] sofire commented on #1385
I have the same error on PHP 7.1，and PHP-FPM exited on signal 11 (SIGSEGV)

PHP Redis Version => 4.3.0
Redis cluster Version 4.0.11

[2019-11-13 08:40] yatsukhnenko commented on #1385
@sofire it is recommended to use phpredis 5 with PHP 7

[2019-11-13 13:17] Moltenkore opened #1670 "SCAN infinite loop and other issues"
### Expected behaviour
Function to return as defined in the documentation: ``array|bool This function will return an array of keys or FALSE if there are no more keys.``

### Actual behaviour
- Boolean is never returned, just an empty array if no keys exist.
- The given iterator doesn't seem to want iterate and just stays null.
- Only one set of results is returned if there are keys present due to

[2019-11-13 17:23] michael-grunder commented on #1670
I can't replicate this.

I loaded up a Redis instance with lots of keys, and then ran this:

[code]

Scan terminates like I would expect.

Structuring it differently also works:

[code]

You can offload some of the `SCAN` complexity to PhpRedis by doing something like this:

[code]

I also built PhpRedis 5.0.2 against PHP 7.3.6 and it works there for me too.

[2019-11-14 12:40] vibbow opened #1671 "Connect delay on Windows platform"
### Steps to reproduce, backtrace or example script

I have a redis server running on Ubuntu Server, and running PHP on a Windows Server to remote connect to this redis server.

And I notice redis always need more than 10ms to do a simple query, so I write the following code to do some test.

[code]

In theory, those code doing exactly things on network layer: open a tcp connection and do nothing,

[2019-11-14 12:44] vibbow commented on #1671
This issue can be reproduced with following PHP config only (add to php.ini-production)

[code]

[2019-11-14 16:13] michael-grunder commented on #1670
@Moltenkore Did any of the ways I posted work for you?  If not, I'd be glad to take a look if you provide a zipped Dockerfile with context that I can test locally.

[2019-11-14 16:17] michael-grunder commented on #1671
That is weird.

I don't know how much help we can be though, since none of the maintainers have any Windows machine to test.

[2019-11-14 16:22] vibbow commented on #1671
Redis server didn't run on Windows.

But if let redis connect through a SSH C2S tunnel (php -> local port -> ssh port forward to redis server) by using 127.0.0.1, then the latency seems normal.

[2019-11-14 16:27] vibbow commented on #1671
To eliminate other effects.
I installed a clean Windows 2008 R2 server, without install any other updates / software, Just PHP and necessary dependency.

This behaviour are still reproduceable

[2019-11-15 10:56] Moltenkore commented on #1670
I elected for using a different method of fetching keys for the chat_events I was working on but now on further testing with a clean set of data, I'm unable to replicate the original issue at all.

I'm quite confused as to what has happened but I will comment back if this crops up again.

[2019-11-15 10:56] #1670 closed

[2019-11-15 22:55] tessus opened #1672 "masked commands support"
I searched closed and open issues, but it seems this this topic never came up.
I was wondering, if there's a reason why masked commands are not supported.

From a user perspective, something like `$redis->mask('FLUSHDB', 'FDB-MASKED);` could set the substitution valid for the connection.

If you think this is worth persuing, please let me know. I can work on it, but won't, if you think this is stu

[2019-11-16 04:25] tessus opened #1673 "method_exists($redis, 'resetstat') returns false"
### Expected behaviour

`var_dump(method_exists($redis, 'resetstat'));` should return `bool(true)`

### Actual behaviour

it returns false

### I'm seeing this behaviour on
- OS: macOS 10.14.6
- Redis: 5.0.6
- PHP: 7.2.1
- phpredis: 5.1.1

I also see this on Linux, PHP 7.3.11, Redis 5.0.6, phpredis 5.1.1

### Steps to reproduce, backtrace or example script

[code]

### I've checked
- [x] There is

[2019-11-16 08:26] yatsukhnenko commented on #1672
@tessus could you please explain the porpoise? Is this for handle for commands that renamed on server?

[2019-11-16 08:31] tessus commented on #1672
@yatsukhnenko yep, that was the idea. Currently all commands that are renamed on the server fail.

[2019-11-16 08:36] yatsukhnenko commented on #1672
Currently we have `rawcommand` that allows to send any command to server. But this functionality may be useful except I'm sure that `mask` is the right name for this.

[2019-11-16 18:42] tessus commented on #1672
Yes, 'rawcommand` would work as well, but in that case most of the client code would have to be extensively rewritten to support renamed commands on the server. `mask` was just a suggestion. Maybe `mapCommand` is better? `$redis->mapCommand('FLUSHDB', 'FLUSHDB-RENAMED);` or more succint ``$redis->map('FLUSHDB', 'FLUSHDB-RENAMED);``.

Anyway, do you think this is worth pursuing?

[2019-11-16 19:56] michael-grunder commented on #1672
I'm not opposed to the idea in principle, but wonder how frequently renamed commands are used in the wild.  I think we've only been asked about this [one other time](https://github.com/phpredis/phpredis/issues/1123).

Also do Redis 6 [ACLs](https://redis.io/topics/acl) make command renaming obsolete?

[2019-11-16 20:10] tessus commented on #1672
Ah, I see. Yes, it does. I didn't know about this new feature. Without it there's a good reason for using a password and/or renaming commands, but with ACLs not only rename-command is obsolete but also my idea... ;-)

Thanks for the info. It saved me a few hours of coding. So I think we can close this.

[2019-11-16 20:38] #1672 closed

[2019-11-17 11:27] vibbow commented on #1671
Update:

This behaviour are reproducible from php 7.2 to php 7.3

[2019-11-17 12:14] vibbow commented on #1671
Update:

This is highly like a bug from PHP itself:

[code]

`socket_create` are works very fast (1ms)
`stream_socket_client` and `redis->connect` use similier time (10ms)

And I suppose redis are use php_stream function from PHP.

[2019-11-17 12:28] yatsukhnenko commented on #1673
The command is [CONFIG RESETSTAT](https://redis.io/commands/config-resetstat).
We need to remove `resetStat` from documentation to not confuse users.
@michael-grunder don't you mind?

[2019-11-17 20:05] tessus commented on #1673
@yatsukhnenko can you please elaborate? I know that there's a config subcommand, but this doesn't mean that there can't be a `resetStat` method in the redis driver. The config method only allows GET or SET as parameter, so  how do we use resetstat then?

So there are a few possibilities:

- the documentation is wrong
- the method does not exist
- there's a bug in the driver
- a combinsation of two

[2019-11-17 20:26] michael-grunder commented on #1673
The documentation is wrong, the command doesn't exist in Redis, _and_ there is a bug in PhpRedis.

Our `CONFIG` command works, it's just that we only allow `CONFIG GET` and `CONFIG SET` making it impossible to use the config command to execute `CONFIG RESETSTAT`.

The fix should be simple enough.  I need to make sure we don't break backward compatibility but that shouldn't be a problem.

In the me

[2019-11-17 20:32] tessus commented on #1673
Thanks for the info. I only noticed it because there was a check in phpRedisAdmin and it didn't work... All good. It just didn't make any sense. Now it does.

[2019-11-17 22:26] michael-grunder commented on #1673
No worries, thanks for the report!

This will be simple to implement, but taking a closer look it would appear that there are backward compatibility issues.

Presntly, `Redis::config` is defined as taking at least two arguments (e.g. `CONFIG GET <setting>`, which I can't modify until the next major release (PhpRedis 6).

One option would be to provide `CONFIG RESETSTAT` like so:

[code]

It's less

[2019-11-17 22:43] tessus commented on #1673
I think it can wait until phpredis 6. The question is when does Redis 6 arrive? (There's no timeline, schedule, anything I could find.)
I would have suggested to implement `$redis->resetStat()`, but the fact that you want to map phpredis methods to redis commands makes that suggestion null and void. I get the notion to streamline the driver and make it consistent with Redis.

This is not a critica

[2019-11-18 10:23] jasminmistry commented on #1214
Please fix the issue.

[2019-11-20 14:54] marcdejonge commented on #1668
I think this is a very good idea. I'm willing to give this a try, since our servers are having problems without persistence on (opening hundreds of connections per second takes a lot on the system). I've got something implemented already, but it's not really working and I don't know how to debug this. Is there a guide for writing PHP extensions? I'm just not finding the right resources...

[2019-11-20 15:26] yatsukhnenko commented on #1668
@marcdejonge [here](http://www.phpinternalsbook.com/index.html) is a lot information about php extensions

[2019-11-20 17:08] michael-grunder commented on #1668
I don't think `AUTH` is sufficient because the reply can be `+OK` which is ambiguous.  We could still be in a bad state and be reading some previous `+OK` response.

With `PING` we can generate an ID so we will know with absolute certainty that Redis is replying to our `PING` command:

e.g. `PING 7da0afeeaedd075b1de43c48b03266ed7d74150a`

[2019-11-20 17:38] yatsukhnenko commented on #1668
@michael-grunder sounds reasonable. I'll prepare fix so we could ask users to test this solution

[2019-11-21 10:40] basos9 commented on #1564
Hello, this would be a wanted feature.
Also could you rename the name of this issue to something written in english as the rest of the issues ?

[2019-11-21 11:12] basos9 commented on #1564
不清楚...
对我来说都是中国人

[2019-11-22 01:38] michael-grunder commented on #1214
I've implemented  a bit of experimental logic to try again if the first server we pick is down (and continue trying until we run out of servers to try).

This seems to work well but presents a different problem.  We use the session id to perform our weighted pick in a deterministic way (each subsequent request will find the same node).

This does present an issue of what to do if we pick the secon

[2019-11-22 08:11] marcdejonge commented on #1668
Quick update on this: the problem that we were seeing are gone after resetting our network card. Apparently there was an issue that cause a relative high amount of corruption in network packets and after resolving this everything is fine. This might also give you a hint about how to simulate this problem.

[2019-11-22 13:43] marcdejonge commented on #1668
I thought I could add this piece of functionality myself, but I can't seem to get it to work and I can't find out why. @yatsukhnenko I hope you have more knowledge how to add it.

[2019-11-22 20:14] yatsukhnenko commented on #1668
@marcdejonge Could you test changes from `issue.1668` branch?

[2019-11-23 14:02] yatsukhnenko commented on #1655
@iliaal could you test changes from `issue.1668` branch?

[2019-11-26 11:31] bhargav960143 commented on #213
@char101 whre is (buildconf.js)?

[2019-11-26 19:40] jbanety commented on #1176
Thanks @andrerom, this is the only way I can build redis with `igbinary` and `lzf` on generating docker image from `php:7.1-fpm-alpine`
[code]

[2019-11-29 06:33] bupt1987 opened #1674 "use twemproxy to (hgetall or smembers or zrange) one key , and redis is down, but hgetall will return 'false', do not throw an exception"
- OS: linux
- Redis: 3.2
- PHP: 7.3.3
- phpredis: 5.1.1

use twemproxy to (hgetall or smembers or zrange) one key , and redis is down, but hgetall will return 'false', do not throw an exception

[2019-11-29 08:52] pangdahua opened #1675 "[Question]Pconnect scope"
### Expected behaviour
  only one connection

### Actual behaviour
  muliti connection

### I'm seeing this behaviour on
- OS:
 ubuntu 14
- Redis:
redis_version:3.2.0
- PHP:
PHP 7.2.24 (cli) (built: Oct 29 2019 17:00:41) ( NTS )
- phpredis:
5.1.1
### Steps to reproduce, backtrace or example script
[code]
   PHP-FPM mode
   when i first request php script and using redis pconnect,  open muliti conn

[2019-11-29 10:05] tagirb opened #1676 "[question] persistent connections w/ and w/o connection pooling"
Dear Michael and Pavlo,

could you please elaborate on the difference b/w using persistent connections with or without connection pooling? I went through the docs and the changes in https://github.com/phpredis/phpredis/pull/1506, but am still struggling to understand them. Could you maybe update the docs with that regards as well?

Tagir

[2019-11-29 10:22] tagirb commented on #1675
Could not reproduce this on phpredis 4.3.0 / PHP 7.3.11.

[code]

Now, when starting `tcpdump` and calling `php redis_test.php` I am seeing only a single TCP SYN packet sent to the local Redis, meaning the connection is being re-used properly.
[code]

Whereas when running the script with `pconnect()` replaced with `connect()`, `tcpdump` will show as expected six SYN packets.

[2019-11-29 15:08] heddn commented on #1635
Pecl goes away in PHP 7.4. So I'm looking to build from source.

For example with memcached, I can use:

`curl -fsSL $(curl -s https://api.github.com/repos/php-memcached-dev/php-memcached/releases/latest | grep "tarball_url" | cut -d : -f 2,3 | tr -d \",) | tar xvz -C /tmp/memcached --strip 1`

[2019-11-29 15:16] heddn commented on #1635
But in the mean time, trying to use the pecl api: https://pear.php.net/rest/r/redis/latest.txt returns 404.

[2019-11-29 15:17] yatsukhnenko commented on #1674
Why do you think it should throws an exception?

[2019-11-29 15:18] heddn commented on #1635
And I don't see it listed on https://pear.php.net/rest/p/packages.xml

[2019-11-29 15:33] yatsukhnenko commented on #1676
Hi Tagir.
PHP-engine provides persistent storage for objects that should alive between requests.
Without connection pooling `PhpRedis` puts `php_stream` object into storage by `persistant_id` and reuse it on every call. This mean that if you will create two objects of `Redis` class in your PHP code and call `pconnect` twice you will receive the same `php_stream`. This is the reason of many errors

[2019-11-29 15:35] yatsukhnenko commented on #1675
@pangdahua you need to disable connection pooling to get single connection.

[2019-11-29 15:41] heddn commented on #1635
For now, using `$(curl -I https://pecl.php.net/get/redis |awk 'BEGIN {FS="-"}/^Content-Disposition/{print $3}'| cut -f 1-3 -d '.')` to get the latest version.

[2019-11-29 17:28] AGDholo opened #1678 "[question] where is the PHP 7.4 extension download for windows?"
### Expected behaviour
It will find on https://pecl.php.net/package/redis
### Actual behaviour
No PHP 7.4 version
### I'm seeing this behaviour on
- OS: Windows 10
- Redis:
- PHP: 7.4
- phpredis:

### Steps to reproduce, backtrace or example script
1. Visit: https://pecl.php.net/package/redis
2. Click any releases DLL
### I've checked
- [*] There is no similar issue from other users
- [*] Issue is

[2019-11-30 14:01] yatsukhnenko commented on #1678
@remicollet do you know is there any way how to ask PECL to build extension for PHP 7.4 without publishing new release?

[2019-12-01 07:57] remicollet commented on #1678
@yatsukhnenko AFAIK, a mass rebuild of all extensions is planned shortly after GA

@cmb69 may know?

[2019-12-01 08:37] cmb69 commented on #1678
Yes, mass rebuild will likely be done next week; snapshots are [already available](https://windows.php.net/downloads/pecl/snaps/redis/5.1.1/), though.

[2019-12-01 09:26] yatsukhnenko commented on #1678
@remicollet @cmb69 thanks!

[2019-12-01 09:27] yatsukhnenko commented on #1678
@AGDholo https://windows.php.net/downloads/pecl/snaps/redis/5.1.1/

[2019-12-01 09:27] #1678 closed

[2019-12-02 02:28] bupt1987 commented on #1674
because hget (sadd, hdel ...) can throws an exception. only hgetall or smembers or zrange these return array function do not throws an exception.

[2019-12-02 02:29] bupt1987 commented on #1674
because hget (sadd, hdel ...) can throws an exception. only hgetall or smembers or zrange these return array function do not throws an exception.

[2019-12-02 08:04] shaohangit opened #1679 "When will there be the support for php 7.4.0 which was just released last Thursday?"
### Expected behaviour
Just as title of the issue "When will there be the support for php 7.4.0 which was just released last Thursday?"
### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2019-12-02 08:05] tagirb commented on #1676
Thanks a lot!

[2019-12-02 08:05] #1676 closed

[2019-12-02 08:49] ppanphper commented on #1668
Is there anything new about this fix?
I encountered this error：protocol error, got '{' as reply type byte.
phpredis: 5.0.2
php:7.0.33
redis-server:5.0.4

[2019-12-02 09:04] yatsukhnenko commented on #1668
@ppanphper fix is ready, we need somebody to test it

[2019-12-02 09:11] yatsukhnenko commented on #1679
@shaohangit what do you mean? PhpRedis [works fine](https://travis-ci.org/phpredis/phpredis/builds/610222579) on PHP 7.0-7.4

[2019-12-02 09:14] Michael03 opened #1680 "Slot caching not working when using session cluster"
### Reduced `cluster slots` calls to Redis server when config `redis.clusters.cache_slots =1 `

### `cluster slots` is called each time

### I'm seeing this behaviour on
- OS: Linux
- Redis: 4.0.9
- PHP: 7.4
- phpredis: 5.1

### Steps to reproduce, backtrace or example script
Code:
[code]
Config:
[code]
### I've checked
- [x ] There is no similar issue from other users
- [x ] Issue isn't fixed in

[2019-12-02 10:09] shaohangit commented on #1679
Sorry... I should provide more details rather than asking in so simple way... I was trying php 7.4.0 on a windows environment, when I wanted to get redis extension(http://pecl.php.net/package/redis), I found the latest version was 5.1.1 which was release on 2019-11-11, I tried that dll file with the php 7.4.0 on windows, it didn't work, could not be loaded successfully. In its defail page(http://p

[2019-12-02 10:12] yatsukhnenko commented on #1679
There was another [issue](https://github.com/phpredis/phpredis/issues/1678) about PHP-7.4 and windows

[2019-12-02 10:13] yatsukhnenko commented on #1679
https://windows.php.net/downloads/pecl/snaps/redis/5.1.1/

[2019-12-02 10:13] #1679 closed

[2019-12-02 10:17] shaohangit commented on #1679
@yatsukhnenko thanks a lot!

[2019-12-02 19:05] hotdog666 opened #1682 "update phpredis for php 7.4"
how to fix that? So, me need wait new version redis Package ?

`PHP Warning:  PHP Startup: Unable to load dynamic library 'igbinary' (tried: /usr/lib/php/20190902/igbinary (/usr/lib/php/20190902/igbinary: cannot open shared object file: No such file or directory), /usr/lib/php/20190902/igbinary.so (/usr/lib/php/20190902/igbinary.so: cannot open shared object file: No such file or directory)) in Un

[2019-12-02 19:48] michael-grunder commented on #1682
It says what the error is.  PHP can't find `/usr/lib/php/20190902/redis.so`.  Assuming `/usr/lib/php/20190902/` exists and is set up correctly, you should just be able to build phpredis from source.

[code]

Then confirm `redis.so` was placed in `/usr/lib/php/20190902/`

[2019-12-03 16:50] alanondra commented on #1682
At least in Windows, even when it's built, the interpreter isn't able to load it:

That file definitely exists, and it's the only extension in my build that isn't able to load.

[2019-12-04 09:30] Bro3x opened #1683 "phpredis in multi-server environment"
Hi, I just have read a lot about redis, redis-cluster, sentinel and phpredis. I think my szenario is very common. I am having two client nodes with php7.2-fpm and three redis nodes.
[code]
 I tried the redis-nodes as a cluster or in master-salve mode with and without sentinel. Is there any type of configuration I can use with phpredis so that the php session-handler uses always a functional redis-

[2019-12-04 16:17] AGDholo commented on #1682
Windows visit: https://windows.php.net/downloads/pecl/snaps/redis/5.1.1/
Work fine on my windows 10

[2019-12-04 17:38] michael-grunder commented on #1655
Closing this in favor of #1668

[2019-12-04 17:38] #1655 closed

[2019-12-04 20:13] marcdejonge commented on #1668
I'm sorry, since fixing our server we don't see this problem anymore, so I can't really say if this fixes it. The code change seems to make sense.

[2019-12-04 20:37] michael-grunder commented on #1668
@marcdejonge No worries, I've been testing it pretty heavily in a local environment and it looks good.  I think we'll merge the change and then wait a while before putting it in a release.

[2019-12-04 21:32] michael-grunder commented on #1668
(Copied from #1668 so we can continue discussion in an open issue, here)

Some random thoughts:

1. Should this be configurable? I kind of think no because people would turn it off and then open issues here when they encounter corrupted connections.
1. We probably want to document this in detail so it's well understood. I'm happy to write the docs.
1. This feature means that we can't operate again

[2019-12-05 06:39] yatsukhnenko commented on #1668
@michael-grunder
1. I agree, users don't need to to turn this feature off.
2. You a better in writing documentation than me but I need more practice to improve my English :)
3. We can change `PING` to `ECHO`. It is available since 1.0.0 according to [docs](https://redis.io/commands/echo)

[2019-12-05 07:51] Bro3x commented on #1683
I guess I did not read enough. Found it in the 5.2 roadmap announcement. Do you have an approximately release date in mind?

Cheers

[2019-12-05 07:51] #1683 closed

[2019-12-05 12:40] TarekAS opened #1684 "[Question] Connection Pooling behaviour"
Does connection pooling work across PHP processes? Or does it just target a single process?
Does PHP-FPM matter in this regard?

[2019-12-05 12:55] bupt1987 commented on #1674
I looked at the code. hgetall does not handle returns that begin with "-" @yatsukhnenko

[2019-12-05 12:55] bupt1987 commented on #1674
case "-":

[2019-12-05 13:05] yatsukhnenko commented on #1674
[code]

[2019-12-05 13:22] ScottSun opened #1685 "HGETALL should throw a "RedisException" instead of return "FALSE" when got server reply "-MASTERDOWN""
### Expected behaviour
Hope to like "HGET" that throw a RedisException
### Actual behaviour
return false

[2019-12-05 14:28] yatsukhnenko commented on #1674
@bupt1987 could you test patch posted above?

[2019-12-05 17:03] michael-grunder commented on #1685
I can replicate this.  I also think it should throw an exception here, but whether or not it's a breaking change is another question.

I need to take a closer look and determine how people might be relying on the behavior.

[2019-12-05 17:07] michael-grunder commented on #1680
Fixed via #1681

[2019-12-05 17:07] #1680 closed

[2019-12-06 02:35] michael-grunder commented on #1684
It doesn't work _across_ processes, but PHP maintains a `persistent_list` that will persist across requests in each `php-fpm` process.

So for example, I happen to have three child processes up

Doing something like this will show the connections:

[code]

Output:

[code]

[2019-12-06 08:42] TarekAS commented on #1684
Thank you for the quick feedback!

I want to pool connections across processes, and an alternative to **twemproxy**. I'm investigating Istio/Envoy for this purpose.

[2019-12-06 08:42] #1684 closed

[2019-12-06 11:06] bupt1987 commented on #1674
diff --git a/library.c b/library.c
index 8921c0f..b1881ae 100644
--- a/library.c
+++ b/library.c
@@ -462,6 +462,10 @@ redis_sock_read_multibulk_reply_zval(INTERNAL_FUNCTION_PARAMETERS,
     }

     if(inbuf[0] != '*') {
+        if (*inbuf == TYPE_ERR) {
+            redis_sock_set_err(redis_sock, inbuf + 1, len - 1);
+            redis_error_throw(redis_sock);
+        }
         return NULL;

[2019-12-06 11:06] bupt1987 commented on #1674
`
diff --git a/library.c b/library.c
index 8921c0f..b1881ae 100644
--- a/library.c
+++ b/library.c
@@ -462,6 +462,10 @@ redis_sock_read_multibulk_reply_zval(INTERNAL_FUNCTION_PARAMETERS,
     }

     if(inbuf[0] != '*') {
+        if (*inbuf == TYPE_ERR) {
+            redis_sock_set_err(redis_sock, inbuf + 1, len - 1);
+            redis_error_throw(redis_sock);
+        }
         return NULL;

[2019-12-06 11:07] bupt1987 commented on #1674
diff --git a/library.c b/library.c
index 8921c0f..b1881ae 100644
--- a/library.c
+++ b/library.c
@@ -462,6 +462,10 @@ redis_sock_read_multibulk_reply_zval(INTERNAL_FUNCTION_PARAMETERS,
     }

     if(inbuf[0] != '*') {
+        if (*inbuf == TYPE_ERR) {
+            redis_sock_set_err(redis_sock, inbuf + 1, len - 1);
+            redis_error_throw(redis_sock);
+        }
         return NULL;

[2019-12-06 19:08] michael-grunder commented on #1543
Unfortunately we can't change it until a major release. I'm not opposed to making it better for 6.0 though.

[2019-12-06 19:28] yatsukhnenko commented on #1668
@michael-grunder what do you think about using `ECHO`?

[2019-12-06 19:45] michael-grunder commented on #1668
Sounds like a good idea to me.

Really simple change too.

[code]

Same reply type and even the same number of characters in the command :joy:

[2019-12-06 20:51] #805 closed

[2019-12-06 20:52] michael-grunder commented on #203
Closing in favor of #1214

[2019-12-06 20:52] #203 closed

[2019-12-08 01:02] bupt1987 commented on #1674
In which version this change will be released?

[2019-12-08 18:34] yatsukhnenko commented on #1674
@bupt1987 throwing new exceptions is breaking change so definitely not earlier than 6.0 version. Also I'm not really sure that we should throw exceptions in all that places. Could you create pull request with your changes to not lose them?

[2019-12-08 18:35] yatsukhnenko commented on #1675
Not a bug

[2019-12-08 18:35] #1675 closed

[2019-12-08 18:38] yatsukhnenko commented on #1638
You can use haproxy to send all traffic to working Redis server when another one is down.

[2019-12-08 18:50] #1479 closed

[2019-12-08 19:10] yatsukhnenko commented on #1473
@giantninja sorry for the delay 😅 `setOption` is still the only way to disable serialisation from PHP code and yes it should be called manually

[2019-12-09 06:19] bupt1987 commented on #1674
@yatsukhnenko I commit agent for multi exec can throw exception

[2019-12-09 17:03] Moltenkore opened #1687 "Scan returns empty array if only 1 key exists matching the pattern"
### Expected behaviour
Array with 1 entry.

### Actual behaviour
Array with 0 entries.

### I'm seeing this behaviour on
OS: Docker container, Alpine 3.10.0
Redis: 5.0.5
PHP: 7.3.6
phpredis: 5.0.2

### Steps to reproduce, backtrace or example script
- Set a key "error:1".
- Run a scan with a matching pattern for that key "error:*"

### I've checked
- [x] There is no similar issue from other users

[2019-12-09 18:39] michael-grunder commented on #1687
When you `SCAN`Redis with a pattern this can happen.  You can read about how/why over at [redis.io](https://redis.io/commands/scan#number-of-elements-returned-at-every-scan-call)

You can tell PhpRedis to hide this complexity from you by issuing subsequent `SCAN` calls until at least one key is returned or the iterator comes back as zero.

[code]

[2019-12-09 21:56] alanondra commented on #1682
I'm still getting the same error from my last post.

[2019-12-10 00:17] michael-grunder commented on #1687
Closing this issue because I don't think it's a bug in PhpRedis.

Feel free to comment if my explanation didn't make sense.

[2019-12-10 00:17] #1687 closed

[2019-12-17 15:06] trvrnrth commented on #1194
Was there ever any movement on adding a feature like this?

I have a similar setup whereby I would like to direct read requests to a preferred node in order to avoid cross-az charges and latency.

Being able to specify a single node would be sufficient for our current setup, although perhaps an array of preferred nodes would be better for future proofing.

I notice that the session handler allows

[2019-12-20 08:51] mcy-689 opened #1690 "Problems encountered when using redis stream in php"
### Expected behaviour
Redis command line execution results are as follows
[code]
### Actual behaviour
php test demo
[code]
But I got the following in the result
[code]
I tried both phpredis versions 5.0.0 and 5.1.1 and got the same results

### I'm seeing this behaviour on
- OS: Linux
- Redis:5.0.7
- PHP:7.0.7
- phpredis:5.1.1

### Steps to reproduce, backtrace or example script

### I've checked

[2019-12-20 11:33] chongchaoyu opened #1691 "Failed to install phpredis2.2.8 from source for php5.6.31 on CentOS7.4.1708"
### Actual behaviour
phpize will report the followings errors:
Configuring for:
PHP Api Version:         20131106
Zend Module Api No:      20131226
Zend Extension Api No:   220131226
/usr/bin/m4:/tmp/am4t49Wu73/traces.m4:326: ERROR: end of file in argument list
unknown channel LTLIBOBJS, $ac_ltlibobjs)
fine to 1 if you have the <stdlib.h> header file. */
#undef HAVE_STDLIB_H])
obsolete at /usr/sha

[2019-12-20 13:16] yatsukhnenko commented on #1691
@chongchaoyu 2.2.8 is too old

[2019-12-20 13:38] remicollet commented on #1691
Everything seems outdated....

* distro: 7.7 is current and the only supported one
* redis 2.8... current in 5, 6 coming
* php 5.6.31, latest being 5.6.40
* phpredis 2.2.8...

Is it a joke ?

[2019-12-20 14:33] chongchaoyu commented on #1691
@yatsukhnenko Bad news, 2.2.8 is the last version for php56, and php56 works well on CentOS7. Is 2.2.8 not supported? Our product still provides service for many customers using php56 and phpredis2.2.8, it is not easy to upgrade to php7. Could you give me sone advice to fix this issue?

[2019-12-20 14:36] chongchaoyu commented on #1691
@remicollet Seriously, it is real, it is not a joke.

[2019-12-20 15:10] yatsukhnenko commented on #1691
@chongchaoyu [4.3.0](https://pecl.php.net/package/redis/4.3.0) is the last version for PHP5

[2019-12-20 15:13] yatsukhnenko commented on #1691
@chongchaoyu you can find package in [Remi's RPM repository](https://rpms.remirepo.net/wizard/)

[2019-12-20 15:28] chongchaoyu commented on #1691
@yatsukhnenko Got it, thank you for your advice.

[2019-12-20 15:33] remicollet commented on #1691
@chongchaoyu using my repository you will find
* php 5.6.40-15 with all security backports from 7.1/7.2, see [PHP-5.6-is-dead](https://blog.remirepo.net/post/2019/02/07/PHP-5.6-is-dead)
* php-pecl-redis 3.1.6 or php-pecl-redis 4.3.0, see [PHP extensions RPM status](https://blog.remirepo.net/pages/PECL-extensions-RPM-status)

But only CentOS 7.7 is supported, some dep may be missing in 7.4

[2019-12-20 20:36] yatsukhnenko commented on #1691
Resolved

[2019-12-20 20:36] #1691 closed

[2019-12-21 02:50] chongchaoyu commented on #1691
@remicollet Thanks a lot!

[2020-01-02 16:29] cmb69 commented on #1682
@alanondra, you need a matching php_redis.dll (i.e. architecture: x86/x64, thread-safety: NTS/ZTS and PHP version must match).

[2020-01-02 16:36] vibbow commented on #1671
This issue is confirmed (kind of) come from PHP itself.

https://bugs.php.net/bug.php?id=78825

[2020-01-02 18:30] michael-grunder commented on #1671
OK thank you for the update.

It seems reasonable to keep the issue open here until it is actually solved upstream.

[2020-01-03 16:44] Tbone542 opened #1693 "Cluster - Moved/Ask Redirection Not Working Properly."
### Expected behaviour
Running a cluster and using the slot cache. When I migrate keys I would expect the slot cache to update if it receives an ASK or MOVE.

### Actual behaviour
Upon requesting the data from a key on a migrated slot, the cache does not seem to update and continually requests keys from the wrong node. If I restart apache the slot cache is refreshed and works fine.

Update: It app

[2020-01-03 17:34] michael-grunder commented on #1693
Thanks for the report.  I do have logic to invalidate the cache in the event we receive any `MOVE` or `ASK` response, but perhaps it's broken.

Hopefully I can replicate the problem.

[2020-01-03 18:02] Tbone542 commented on #1693
Thank you Michael. I tried to replicate locally and was unsuccessful. The issue became apparent when I performed a small test migration on production. Maybe it has to do with the number of connected clients? It was difficult to emulate locally having hundreds of simultaneous clients.

[2020-01-05 17:19] razonyang opened #1694 "Session expiration overflows and fails if session.gc_maxliftime doesn't fit in an int"
### Expected behaviour

Save session

### Actual behaviour

Session not saving

### I'm seeing this behaviour on
- OS: CentOS
- Redis: 3.2.12
- PHP: 7.3.13
- phpredis: 5.1.1

[code]

### Steps to reproduce, backtrace or example script

[code]

This script works fine with **files** session handler.

### I've checked
- [x] There is no similar issue from other users
- [x] Issue isn't fixed in `develo

[2020-01-05 23:13] codegain opened #1695 "Documentation missing for UNSUBSCRIBE/PUNSUBSCRIBE"
Hi,

I think the Documentation is missing the redis commands "PUNSUBSCRIBE (https://redis.io/commands/punsubscribe) and UNSUBSCRIBE (https://redis.io/commands/unsubscribe).
The functions are implemented, but missing in the documentation: https://github.com/phpredis/phpredis/blob/develop/README.markdown#pubsub

[2020-01-06 17:30] michael-grunder commented on #1694
I'm not sure what bug you're reporting.

If you monitor the Redis instance do you see phpredis sending commands?  It would look something like this:

[code]

[2020-01-06 19:57] Tbone542 commented on #1693
Turns out the boxes with the issue had 5.0.2 not 5.1.1. Could this be part of the problem?

I didn't see anything in the change log that seemed pertinent.

Thanks again,
Ted

[2020-01-06 20:25] michael-grunder commented on #1693
There were a couple of changes to the caching code between 5.0.2 and 5.1.1 although I don't recall if they would've been likely to prevent cache invalidation.

This is good to know though, as I'll make sure to check if invalidation is broken in 5.0.2 and not in 5.1.1.  Might get lucky and make investigation simpler!  :smile:

[2020-01-06 20:26] razonyang commented on #1694
@michael-grunder monitor result snippet:

``
redis-cli monitor
OK
1578341922.023847 [0 127.0.0.1:59968] "GET" "PHPREDIS_SESSION:c5166fe2bc4ab6b296be1aea19f06243"
1578341922.023959 [0 127.0.0.1:59968] "SETEX" "PHPREDIS_SESSION:c5166fe2bc4ab6b296be1aea19f06243" "-2028888064" "count|i:1;"
[code]

[2020-01-06 20:44] michael-grunder commented on #1694
That is quite strange but it's also a good clue.

What is `max_execution_time` set to?  It looks like we use this value as the default expiration if there is no explicit (nonzero) expiration set.

We use an integer for this so I wonder if it's set higher than 2^32 and therefore overflowing.

[2020-01-06 20:48] razonyang commented on #1694
According to `phpinfo()`, `max_execution_time` value is 30.

[2020-01-06 20:59] michael-grunder commented on #1694
How about `session.gc_maxlifetime`?

[2020-01-06 21:04] razonyang commented on #1694
session.gc_maxlifetime is 144000000000

[2020-01-06 21:12] michael-grunder commented on #1694
No worries, thanks for the report!

I'm going to change the title and keep the issue open since we should probably check for overflow here.

[2020-01-07 17:51] Tbone542 commented on #1693
Thanks again. After another try with migrating a few slots, it appeared as if the issue arose on only some of the httpd processes and not all. Does that make any sense? i.e. Most requests had no issues finding the right slots, however a few would have problems contacting the cluster.

[2020-01-07 20:04] michael-grunder commented on #1693
Sure that makes sense.  I assume it's a cache invalidation problem that only happens _sometimes_, which honestly means it might be trickier to track down.

It's been a while since I've used apache.  Are you using prefork or workers (in case I need to use a VM to replicate the problem).

Also a `uname -a` might end up being helpful.

[2020-01-07 21:04] Tbone542 commented on #1693
It is on an Amazon Linux distribution, using prefork.

Is the cluster cache shared among children?

When the call fails, it is returning a (boolean) false.
i.e.
return $this->redis->hgetall('somekey');

Thanks again for your help.

[2020-01-08 10:23] akalongman commented on #1682
So, phpredis works on PHP 7.4?

[2020-01-08 10:24] AGDholo commented on #1682
@akalongman work nicely on my Windows 10 & Centos 7

[2020-01-08 20:07] michael-grunder commented on #1693
No I think each fork will have its own `persistent_list` hash table where we store cached slot information and any persistent connections.

Can you provide the output from `phpinfo()` so I can set up the VM with the same settings?

[2020-01-08 20:43] Tbone542 commented on #1693
Which sections do you need?

`
PHP Version => 7.0.33

redis

Redis Support => enabled
Redis Version => 5.0.2
Available serializers => php, json

Directive => Local Value => Master Value
redis.arrays.algorithm => no value => no value
redis.arrays.auth => no value => no value
redis.arrays.autorehash => 0 => 0
redis.arrays.connecttimeout => 0 => 0
redis.arrays.consistent => 0 => 0
redis.arrays.distri

[2020-01-08 21:09] michael-grunder commented on #1693
That should work.  Last question, are you using persistent connections with `RedisCluster`?

[code]

[2020-01-08 22:26] Tbone542 commented on #1693
Yes, persistent connections are being used.

[2020-01-09 20:20] Tbone542 commented on #1693
So, I did a bit of testing and was able to produce a similar result locally.

I did it using jMeter and a local VM. It was tried with both 5.0.2 and 5.1.1 and each yielded similar results, with and without caching enabled. Most of my trials involved 50 -100 http threads and most often 100% of the threads would return a (boolean)false during the slot migration of a particular key.

What I found is

[2020-01-09 20:52] michael-grunder commented on #1693
This is really useful, thanks!

So maybe the problem is actually just that the `ASKING` redirection logic is broken.  I'm not sure it's been changed since I first wrote it, but a bug could have been hiding in there since this is likely a rare event.

I'm going to set up a test environment to replicate this issue this afternoon after work.

Thanks again!

[2020-01-09 21:05] Tbone542 commented on #1693
Excellent...

Thanks again,
Ted

[2020-01-10 20:07] Tbone542 commented on #1693
I have been doing some more digging.

Turns out I am actually receiving (boolean)false back when I receive the MOVED error.

If MOVED is received, should it attempt to get the key from the new node before returning false?

Thanks,
Ted

[2020-01-12 07:34] Jerry-Shaw opened #1700 "blPop and brPop return false when passing more than one keys"
### Expected behaviour

$redis->lPush('key1', 'A');
$redis->lPush('key2', 'B');

$redis->brPop('key1', 'key2', 10); /* ['key1', 'A'] */
$redis->brPop(['key1', 'key2'], 10); /* ['key1', 'A'] */

### Actual behaviour

$redis->lPush('key1', 'A');
$redis->lPush('key2', 'B');

$redis->brPop('key1', 'key2', 10); /* false */
$redis->brPop(['key1', 'key2'], 10); /* false */

### I'm seeing this behaviour

[2020-01-12 17:32] Tbone542 commented on #1693
More notes:
I am also getting the same behavior on the GET (have been trying HGETALL previously) command, where it is returning a boolean false.

[2020-01-13 04:58] michael-grunder commented on #1693
I was able to actually investigate the issue this evening and was able to replicate the problem.

As you suggested it would appear there is an issue with how phpredis handles `ASK` redirection, as I'm seeing errors like `ASK 3580 127.0.0.1:7000` when phpredis returns `false` during slot migration.

The good news is I can trigger the error with a simple cli script, which with any luck means the pro

[2020-01-13 12:08] trvrnrth commented on #1194
@michael-grunder It looks like you were the last person to touch this area. Do you have any input on whether such a feature is something that would be considered? Or an alternative approach that we might be able to take? I am happy to elaborate on my particular use case if that would help.

I may be able to contribute some time towards adding a feature to accomplish this but would only want to do

[2020-01-13 21:44] Tbone542 commented on #1693
That sounds fantastic.

Thanks again.
Ted

[2020-01-14 01:37] sofire opened #1701 "Redis Cluster mget memory leak - V5.1.1 / PHP7.1.33"
#0  0x0000000000977dd5 in zend_mm_find_leaks_small (p=0x7fa5afc00000, i=509, j=19, leak=0x7fff9cf9d4c0)
    at /home/www/softwares/php-7.1.33/Zend/zend_alloc.c:1985
        empty = 0
        count = 0
        bin_num = 20
        dbg = 0x7fa5afe001e0

#1  0x0000000000977f3c in zend_mm_find_leaks (heap=0x7fa5b8a00040, p=0x7fa5afc00000, i=509, leak=0x7fff9cf9d4c0)
    at /home/www/softwares/php-7.1.

[2020-01-14 05:42] michael-grunder commented on #1693
Quick update.  I've tracked down the issue and have a preliminary fix working.  That said, I want to spend some more time with it to make sure the fix doesn't have breaking side effects.

Again, mostly untested but here is the change.

[code]

I'll do proper testing tomorrow and get a formal branch up.

[2020-01-14 06:46] sofire commented on #1701
php-fpm errors.

[14-Jan-2020 11:45:51] WARNING: [pool www] child 25872 said into stderr: "[Tue Jan 14 11:45:51 2020]  Script:  '-'"
[14-Jan-2020 11:45:51] WARNING: [pool www] child 25872 said into stderr: "/home/www/softwares/redis-5.1.1/redis_cluster.c(1020) :  Freeing 0x00007fa5b8a5e690 (16 bytes), script=-"
[14-Jan-2020 11:45:51] WARNING: [pool www] child 25872 said into stderr: "Last leak rep

[2020-01-14 08:05] michael-grunder commented on #1701
Can you post a PHP script that can replicate the leak?  Also what version of phpredis are you using?

[2020-01-14 08:18] michael-grunder commented on #1701
Thanks for the report, I can replicate the issue.

I'll take a proper look in the morning.

[2020-01-14 14:39] Tbone542 commented on #1693
Seems to be working properly and not returning FALSE on MOVED and ASK...

Thank you very much,
Ted

[2020-01-14 22:57] michael-grunder commented on #1700
I can't verify this.

[code]

[code]

[code]

[2020-01-14 23:24] michael-grunder commented on #1693
Thanks for reporting it!

I'm going to mock up a fake redis cluster script so I generate `ASK` and `MOVED` redirections at will to make sure the changes are robust and then get them merged.

[2020-01-15 02:53] Jerry-Shaw commented on #1700
Actually, I got different results.
Here I captured a screenshot of my script which was modified from yours and run it under server.
Don't know why. I will test it later on an updated version of phpredis.
![1579056576(1)](https://user-images.githubusercontent.com/13212198/72400769-37871880-3785-11ea-952d-09f037034116.jpg)

[2020-01-15 02:56] Jerry-Shaw commented on #1700
By the way, I am using https://github.com/oneinstack/lnmp to build up all the environments on CentOS7.
All versions is list above.

[2020-01-15 03:08] Jerry-Shaw commented on #1700
Updated phpredis from pecl to 5.1.1, but still not solved. Would it be caused by PHP core in this version, or some other reason?
Here are two screenshots of same code:
![1579057524(1)](https://user-images.githubusercontent.com/13212198/72401537-3eaf2600-3787-11ea-9aca-fe5f58df0831.jpg)
![1579057548(1)](https://user-images.githubusercontent.com/13212198/72401540-3f47bc80-3787-11ea-8720-d03b4b6d8675

[2020-01-15 06:03] michael-grunder commented on #1700
I tested again against Redis 5.0.5 but still can't replicate the problem.

This _wouldn't_ work if you are using the `RedisCluster` class, the code indicates you aren't.

What do you see when you `MONITOR` the Redis instance?

[2020-01-15 14:08] buession commented on #1631
@yatsukhnenko very sorry! I haven't noticed this message before, I didn't see it until I was cleaning up my mail today. After the Spring Festival of china, I will update the production environment. Thank you!

[2020-01-15 20:17] michael-grunder commented on #1700
@yatsukhnenko Do you see anything?

[2020-01-15 21:23] Tbone542 commented on #1693
Awesome. Not to be a pain, but do you have an ETA? :>)

-Ted

[2020-01-16 02:50] Jerry-Shaw commented on #1700
Sorry for the night, I went to company party.
Just monitor for a while, did not see any commands running when passing more keys. Logs as follows:
1579141820.687947 [0 11.219.179.215:51501] "RPUSH" "__bpop_test1" "1" "2" "3" "4" "1" "2" "3" "4"
1579141820.685301 [0 11.219.179.215:49814] "RPUSH" "__bpop_test2" "9" "8" "7" "6" "9" "8" "7" "6"
1579141820.691520 [0 11.219.179.215:51501] "BLPOP" "__bpop

[2020-01-16 05:09] michael-grunder commented on #1700
Are you using the `Redis` class to connect to a cluster enabled server?  If that's the case, then the command won't work on multiple keys unless they hash to the same slot.

You can verify this in `redis-cli`

[code]

[2020-01-16 08:32] Jerry-Shaw commented on #1700
@michael-grunder Yep, confirmed. Same as what you said. I should improve my code logic to support cluster now.
Many thanks.

[2020-01-16 08:32] #1700 closed

[2020-01-16 17:57] michael-grunder commented on #1700
No worries, I'm glad we were able to figure it out.

Cluster won't allow you to issue a command on keys that don't all hash to the exact same slot (just being on the same host/port isn't enough), so the only way you would do is by grouping the key names like this:

[code]

RedisCluster allows you to specify a substring of the key name as the part to hash by wrapping it in `{` and `}`.  So for `{ke

[2020-01-16 19:04] michael-grunder commented on #1693
I'm not sure about a specific ETA but it'll certainly be in the next official release.

[2020-01-16 19:48] Tbone542 commented on #1693
OK. As it dealt with a bug in a core feature of the cluster, I wasn't sure if it would warrant a more urgent bug release.

I was under the impression its release was imminent. I was hopeful to get a 'blessed' version before performing a needed migration.

Has the patch you pasted been tested formally, per your testing protocols?

Thanks,
Ted

[2020-01-16 23:04] michael-grunder commented on #1693
I think it warrants moving to create a new release with more urgency than before the bug was identified but I tend to be cautious about releasing a core modification without a decent amount of testing.

I'll get the change into the `develop` branch and then we can cut a release candidate shortly thereafter.

[2020-01-19 02:28] Jerry-Shaw commented on #1700
@michael-grunder So, all commands like bitOp, brPop, etc, which accepts multiple keys, will report wrong result when keys are in different slot?
Seems like I need to do a lot to solve this under my env by your solution.

[2020-01-19 18:07] michael-grunder commented on #1700
Yeah, this is a limitation of Redis at the moment.  Redis disallows multiple key commands unless all of the keys hash to the exact same hash slot.

Phpredis has special handlers for `MGET`, `MSET` and `DEL` which allow you to do this but it means the commands are no longer atomic (in the event that keys hash to more than one slot).

[2020-01-20 01:22] Jerry-Shaw commented on #1700
Got it. Your solution works good. Only things to do is to make a {some prefix}.
Many thanks.

By the way, I found there are some INT overflow under windows when testing "testExpireAtWithLong", "testHashes" and "testIncr", seems like it also exists on lower version.

If you can confirm, or, test help, just let me know.

[2020-01-20 03:52] michael-grunder commented on #1701
This is fixed in develop, closing.

[2020-01-20 03:52] #1701 closed

[2020-01-20 03:55] michael-grunder opened #1703 "Memory leaks"
While investigating #1701 it became apparent that PHP wasn't always reporting memory leaks when running the phpredis unit tests, even when PHP was built in debug mode.

When I pulled the logic out of the unit test framework the leaks were again reported, and it was also possible to detect them with `USE_ZEND_ALLOC=0 valgrind php script-that-leaks.php`.

I'm just creating this issue as a central pl

[2020-01-20 04:00] michael-grunder commented on #1703
[Leak branch here](https://github.com/phpredis/phpredis/tree/1703.memory-leaks)

[2020-01-22 14:34] Tbone542 commented on #1693
Understood. Thank you for the update.

Let me know if I can be of any assistance.

[2020-01-23 13:07] DeyV commented on #1682
After update on my windows from php 7.3 to 7.4 I had the same problem.

It turned out that the configuration that worked until now was the fault.

Until now I had (and it's worked):

    extension=php_redis

PHP 7.4 require line

    extension=redis

[2020-01-23 13:16] cmb69 commented on #1682
`extension=php_redis.dll` should work as well.

[2020-01-24 21:02] danijelk opened #1704 "Undefined class constant 'SERIALIZER_IGBINARY'"
This is somewhat strange, and I can't seem to find anything else but the extension on mac to be missing something.

### Versions:
**PHP**
[code]

**Igbinary**
[code]

**Running in Cli**
[code]

Making sure it's even loaded

[code]

Works fine on our production ubuntu server with php 7.4.2 & igbinary version 3.1.0
[code]

[2020-01-24 22:12] Gared commented on #1400
As mentioned here #1463 this issue doesn't exist anymore and we can close this ticket

[2020-01-25 12:01] boussou commented on #208
So it means, when there is no solution found, you decide there is no problem

[2020-01-25 12:08] boussou commented on #208
at least try this in php.ini:

; Default timeout for socket based streams (seconds)
; http://php.net/default-socket-timeout
default_socket_timeout = 86400

[2020-01-25 12:18] yatsukhnenko commented on #208
@boussou when I was coming to this project I closed issues without activity to concentrate on actual problems. If problem exists in current stable version please open new issue.

[2020-01-25 12:20] boussou commented on #208
The solution is common to all versions. it is a socket problem, solved by a longer timeout.
when the timeout is reached, don't try to reconnect, kill the process & restart.

[2020-01-27 19:12] michael-grunder commented on #1704
This means that phpredis wasn't compiled with IGBINARY support.   You'd include it by passing `--enable-redis-igbinary` in the configure step.

e.g. something like this:
[code]

[2020-01-27 19:17] danijelk commented on #1704
Thanks @michael-grunder , knew there was something simple standing in the way :)

For anyone else reaching this issue, just reinstall and say yes to the igbinary support!

pecl install -f redis

enable igbinary serializer support? [no] :

[2020-01-27 19:17] #1704 closed

[2020-01-28 08:30] Tommuh commented on #1600
You could use Spiped to make the connection secure. I have done it with master/slave and sentinels.
I think Redis shouldn't implement this because it add an extra layer that can go wrong.
Keep doing what you're good at and let others do what they're good at.

https://www.tarsnap.com/spiped.html
https://redis.io/topics/encryption

[2020-01-28 15:23] kkmuffme commented on #1059
Since this is implemented already, would it be possible to get it merged?

[2020-01-28 16:10] yatsukhnenko commented on #1059
Unfortunately no, I need to rewrite it because it incompatible with connection pool

[2020-01-29 14:02] Tbone542 commented on #1693
Any updates on a bugfix release?

Thanks again,
Ted

[2020-01-29 18:22] michael-grunder commented on #1693
Yes, sorry about that.  This will be merged into develop today then we can cut a release candidate.

[2020-01-29 18:28] Tbone542 commented on #1693
Awesome...

Thank you.

[2020-01-31 06:54] michael-grunder commented on #1693
Sorry about the delay.  I've opened a PR with the fix [here](https://github.com/phpredis/phpredis/pull/1705)

I also put together a mock redis cluster mechanism that I can instruct to randomly issue `ASK` and/or `MOVE` redirections to better test the logic and it appears to be working well.

Also I think it's probably a decent idea to add perform some tests while actively resharding a cluster.

[2020-02-05 09:57] dvdknaap commented on #1543
I got the same issue after updating to the latest version.
It's not a connection timeout time on my end because i already changed it in my php ini to unlimited but still get the error.

When i do the redis:flushall on my symfony 4 project i get read error on connection to without any error to debug.

[2020-02-05 18:52] michael-grunder commented on #1543
Are you sure the timeout is unlimited?  A `read error on connection` error from a `flushall` sounds like timeout (it's possibly a very expensive command).

It's not a phpredis fix but you could use `flushall async` if you're running Redis >= `4.0.0` and see if your problem persists.

[2020-02-08 21:28] ILLUMINICE opened #1706 "Connection Issues with AWS ElastiCache, phpredis, and Redis Object Cache WordPress Plugin"
@michael-grunder

I've been having great difficulty trying to connect to my AWS ElastiCache cluster using phpredis and the Redis Object Cache WordPress plugin.

Before I outline everything, I've been trying to make use of this test script:
https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401

It seems you need to pass parameters for the host, port, and password, but I haven't b

[2020-02-08 23:31] tillkruss commented on #1706
Potentially related: #1532, #1533

[2020-02-08 23:32] tillkruss commented on #1706
@ILLUMINICE: Can you run `cluster info` and post the result?

[2020-02-09 00:58] ILLUMINICE commented on #1706
@tillkruss Thank you for joining the conversation here Till. I'm hopeful that we can all solve this collectively. I also noticed some of those other threads which may be related. There is clearly an issue here when connecting to an AWS ElastiCache cluster. I think the one other complicating factor with my use case is Docker. But I took care of the only Docker issue I knew of, which was turning off

[2020-02-09 02:28] michael-grunder commented on #1706
Hi @ILLUMINICE,

https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401

Apologies if I misunderstand the question, but you would use this script like so:

[code]

All this is doing is using the regular non-cluster class to try and figure out where a cluster connection is going wrong.

I did notice this:

I'm not familiar with using Redis on AWS, but like redis-cli, PhpRedis does

[2020-02-09 09:50] michael-grunder commented on #1706
AWS mentions using stunnel for encrypted connections in these docs

https://aws.amazon.com/premiumsupport/knowledge-center/elasticache-connect-redis-node/

[2020-02-09 21:40] ILLUMINICE commented on #1706
Hi @michael-grunder,

Thank you for your help here, it's greatly appreciated! I'm confident we'll get this solved with your help and also with @tillkruss.

---

**First, regarding the cluster-quick-check.php:**

I've noticed what looks like a typo in the actual file:
https://gist.github.com/michael-grunder/ec1cd54b321c454d63864091ff288401

The commented out line says:
// php cluter-quick-check --h

[2020-02-09 22:03] tillkruss commented on #1706
Line 2 is suppose to be a comment. You un-commented it and that's why you're seeing:

[code]

[2020-02-09 22:11] ILLUMINICE commented on #1706
@tillkruss

Perfect timing, as I'm running tests right now!

Thanks for letting me know about the php comment. Ok, I'll make it a comment again and will deploy the file now.

I was just reading about Encryption at-rest, and I believe it only relates to how the data is stored. I agree that stunnel shouldn't be needed for at-rest. And btw, I already know that redis-cli works fine with at-rest.

I ha

[2020-02-09 22:32] ILLUMINICE commented on #1706
@tillkruss @michael-grunder

**For the cluster-quick-check.php file:**

I am now using this at the top of the file:

I remove the password completely since authentication is now disabled. When I visited the file in browser I'm still getting an error. I actually saw this error in my earlier testing with this script.

---

**Results of Disabling Encryption:**

I have disabled in-transit encryption a

[2020-02-10 00:04] michael-grunder commented on #1706
Just to reiterate, I've never used Redis on AWS so am just going by what the docs say.

You can't just add `tls://` to the nodes because we'd have to path that in as we discover nodes, and there is no logic to do that in Phpredis.

That said, from the [AWS docs on connecting to a Redis Cluster](https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/GettingStarted.ConnectToCacheNode.html) they

[2020-02-10 01:01] ILLUMINICE commented on #1706
@michael-grunder

Thank you for providing that video, it was helpful. The misunderstanding here is that this file is meant to be run from within command line. I thought it would execute simply by visiting it in a browser.

So I just ran the file from command line and see this:

Error: getRedisConnection(): Can't connect to '127.0.0.1:6379' (Connection refused)

Error: getRedisConnection(): Can't c

[2020-02-10 01:10] ILLUMINICE commented on #1706
@michael-grunder

I had a hunch to try the primary node endpoint with your script and it worked!

I now see the following:

root@ip-10-32-39-119:/var/www/html# php cluster-quick-check.php --host errxngbvqgd6918-0001-001.nrkfpi.0001.usw2.cache.amazonaws.com --port 6379
Checking general cluster INFO: OK
Checking [0:16383] (10.32.85.88:6379): OK
Checking [0:16383] (10.32.55.177:6379): OK
Attempting t

[2020-02-10 01:17] ILLUMINICE commented on #1706
I have three endpoints I can use. One is the Configuration Endpoint, which is for the entire cluster. And then each of the two nodes has its own endpoint. Since I only have two nodes in one shard, the first node is the primary, and the second is the read-replica.

I'm starting to think the problem here is with how the cluster is connected to from the Redis Object Cache plugin. Perhaps we shouldn't

[2020-02-10 01:20] michael-grunder commented on #1706
Yes, it means that PHP (and PhpRedis) can see the cluster.  I'm not familiar with the WordPress plugin but if this container is where your WordPress code is running, my _assumption_ would be that you'd use the host that worked with the test script.

@tillkruss Is the expert on this part, but my guess is that you'd use the same endpoint for your `define`:

[code]

[2020-02-10 01:25] ILLUMINICE commented on #1706
@michael-grunder

You've been very helpful, and I'm grateful for it! Indeed, @tillkruss is the expert on the plugin, and I'm sure he'll be jumping in here shortly.

Now that we've verified that PhpRedis can connect to the cluster, and from within a Docker container, we can concentrate more on the plugin.

And yes, I ran the test script from the root directory where WordPress lives (in the containe

[2020-02-10 01:46] ILLUMINICE commented on #1706
@michael-grunder @tillkruss

I have some great news... THAT WORKED!!!

Check out the diagnostic from within the Redis Object Cache plugin:

Status: Connected
Redis Version: 5.0.6
Client: PhpRedis (v5.1.1)
Drop-in: Valid
Ping: Not supported
Redis Extension: 5.1.1
Predis Client: 1.1.1
PHP Version: 7.4.2

This is the first time I've been able to establish a connection to Redis from my application!

S

[2020-02-10 02:06] michael-grunder commented on #1706
PhpRedis does have a variety of configurations that make use of replicas, but I'm not sure if that's used by the WordPress plugin.

More security is always better than less.

Password protecting your cluster (`AUTH` security) should be reasonably straightforward now that you have a starting point that works, but It's probably best to wait for Till to describe exactly how to modify your `WP_REDIS_C

[2020-02-10 02:22] ILLUMINICE commented on #1706
@michael-grunder

I'm elated at this moment! It has taken me so many hours to get to this point. I didn't mention this earlier, but I have our Redis cluster all setup using CloudFormation. I use AWS CloudFormation to create all our stacks, so that was the first challenge in setting this up. I just didn't expect all the connection issues that came later. But thankfully I was able to get some help f

[2020-02-10 16:19] yvvq opened #1707 "“Timed out attempting to find data in the correct node” spikes frequently after upgrade"
### Expected behaviour
Stable
### Actual behaviour

### I'm seeing this behaviour on
- OS: CentOs 7
- Redis: 4.0.2
- PHP: 7.1.6
- phpredis: 5.1.1

### Steps to reproduce, backtrace or example script
Upgrade  phpredis from  3.1.4  to 5.1.1, then "Timed out attempting to find data in the correct node"  is frequently raised.

Downgrade to 3.1.4 , all these exceptions are gone.

### I've checked
- [ ]

[2020-02-10 17:05] tillkruss commented on #1706
This is great 👍🏻

Yes, only master (or "seed") nodes should be listed in the `WP_REDIS_CLUSTER` constant, because read-replicas are kinda useless for object caching.

If you really want [Automatic slave failover / distribution](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#automatic-slave-failover--distribution), you either need to use the [Pro version](https://wprediscache.co

[2020-02-10 18:20] michael-grunder commented on #1646
This is merged, closing

[2020-02-10 18:20] #1646 closed

[2020-02-10 18:35] michael-grunder commented on #1707
Can you provide the Redis settings from `phpinfo()` or the output from `php --ri redis`.

Also a script that can replicate the problem would be useful.  Migrating from `3.1.4` to `5.1.1` involves a huge amount of changes so we'll need to narrow it down first.

[2020-02-10 22:04] ILLUMINICE commented on #1706
@tillkruss

It's a great relief to finally have this working! My thanks again for all your help!

Of course now I have to think about things like configuration, TTL, and possible caching related issues. On that note, I'm going to email you separately to talk about some of those things (since they're unrelated to this thread).

.....

I purposefully listed all the factors that caused my issues with

[2020-02-11 02:53] yvvq commented on #888
![image](https://user-images.githubusercontent.com/13749154/74207806-f9b1dd00-4cbb-11ea-9136-97598a2b44f1.png)

There are huge amount of codes,  I post related codes below .   I  will try to reproduce this problem with simple codes.
 $this->connection = @new \RedisCluster(
            null,
            $this->getParameter('hosts'),
            $this->getParameter('timeout'),
            $this->get

[2020-02-11 04:53] yvvq commented on #1707
![image](https://user-images.githubusercontent.com/13749154/74211951-10acfb00-4ccd-11ea-8d68-285f4fe0d2e5.png)

There are huge amount of codes , I post related codes below. I will be trying to write a simple script that  relicate the problem.

 $this->connection = @new \RedisCluster(
            null,
            $this->getParameter('hosts'),
            $this->getParameter('timeout'),

[2020-02-11 05:53] yvvq commented on #1707
echo 'persistent';
        $path =  '../config/redis_cluster.php';
        $cluster = require($path);

        $redis = new RedisCluster(NULL, $cluster['default']['parameters'], 10, 10, true);
        $redis->set('test_key', '11112233');
        $startTime = microtime(true);

        for ($i = 0; $i < 2; $i++) {
            $v = $redis->get('test_key');
            echo $v;
        }
        $redi

[2020-02-11 06:44] yvvq commented on #1707
5.1.1 runs well with php 7.1.31

[2020-02-11 16:19] Tbone542 commented on #1693
Checking in to see if there are any updates on the 5.1.2 Milestone.

Thanks,
Ted

[2020-02-11 19:12] michael-grunder commented on #1707
Would it be possible to post the output of `php --ri redis` as text instead of an image?

Also you only posted RedisArray configuration values.

You could redirect the output to a file like so:

[code]

Here are all the settings I get:

[code]

[2020-02-12 00:21] ILLUMINICE commented on #1706
@tillkruss Just waiting on your reply to the above, and then I'll close this thread.

[2020-02-12 00:37] tillkruss commented on #1706
What’s the question?

[2020-02-12 03:44] ILLUMINICE commented on #1706
@tillkruss look in the previous post...

[2020-02-12 04:46] michael-grunder commented on #1693
Yes, release candidate coming tomorrow.  I'm just putting together the changelog.

[2020-02-12 05:03] yvvq commented on #1707
Redis Support => enabled
Redis Version => 5.1.1
Available serializers => php, json

Directive => Local Value => Master Value
redis.arrays.algorithm => no value => no value
redis.arrays.auth => no value => no value
redis.arrays.autorehash => 0 => 0
redis.arrays.connecttimeout => 0 => 0
redis.arrays.distributor => no value => no value
redis.arrays.functions => no value => no value
redis.arrays.hosts

[2020-02-13 01:20] ILLUMINICE commented on #1706
I'm closing this thread as all my important questions have been answered. Thank you again for your help! @michael-grunder @tillkruss

[2020-02-13 01:20] #1706 closed

[2020-02-16 18:44] michael-grunder commented on #1693
5.2.0RC1 is up (both on GitHub and PECL) so I'm going to close this issue.

As always, if it's actually not fixed feel free to reopen.

[2020-02-16 18:44] #1693 closed

[2020-02-16 18:46] michael-grunder commented on #1581
Closing this issue since there are no current plans for supporting pipelining with Redis Cluster.

[2020-02-16 18:46] #1581 closed

[2020-02-17 07:42] remicollet opened #1709 "Missing file in pecl archive"
`tests/RedisSentinelTest.php` is missing in packahe.xml, making impossible to run the test suite from the pecl archive.

P.S. don't understand which branch must be used, else I will have fix it myself ;)

[2020-02-17 10:04] yatsukhnenko commented on #1709
@remicollet There is a [tag](https://github.com/phpredis/phpredis/tree/5.2.0RC1)

[2020-02-17 10:24] remicollet commented on #1709
Yes, I know there is a tag, but this is not a branch.
And not something where we can commit things in 5.2.0

[2020-02-17 10:48] yatsukhnenko commented on #1709
@michael-grunder could you re-upload 5.2.0RC2 with RedisSentinelTest or push the branch which you used while preparing release

[2020-02-17 17:24] michael-grunder commented on #1709
Be up shortly, can't believe I forgot a file 🤦‍♂  😂

[2020-02-17 18:11] michael-grunder commented on #1709
Changes consolidated into a [release-5.2.0RC2](https://github.com/phpredis/phpredis/tree/release-5.2.0RC2) branch.

[2020-02-17 18:14] michael-grunder commented on #1709
@yatsukhnenko Just let me know if everything looks to be in place.

[2020-02-17 22:01] Tbone542 opened #1712 "5.2.0RC1 - Persistent connection pooling issue"
### Expected behaviour
Script will return data and not `ERR_EMPTY_RESPONSE`.

### Actual behaviour
Am trying 5.2.0RC1. It is installing by default with...
`redis.pconnect.pooling_enabled = 1`

With this enabled, I am getting strange errors.
`org.apache.http.NoHttpResponseException: localdomain.test:443 failed to respond`
in jMeter
and
`ERR_EMPTY_RESPONSE`
in Chrome

I am using RedisCluster with pe

[2020-02-17 22:44] michael-grunder commented on #1712
Thanks for the report.  A `443` response indicates phpredis is crashing.  The trick is going to be reproducing the problem but I'll give it a go.

[2020-02-17 22:47] karock commented on #1712
I think the :443 in the report above is actually the port his local environment is running on, not an HTTP status code.

[2020-02-17 23:06] michael-grunder commented on #1712
Good point, you would appear correct :smile:

Generally when we see a completely empty response from the web server it's caused by a segfault or similar.

We changed how persistent connections and connection pooling work in this release, so it seems likely this is the issue.  As always, the trick will be reproducing.

[2020-02-18 06:10] michael-grunder commented on #1712
@Tbone542

I put together a simple test script that uses persistent connections with RedisCluster and have not seen any problems.  The new challenge/response mechanism is working for me as expected.

The complete `redis` section of `phpinfo()` might be useful, but also can you provide more detail about what the script in question is doing?  Perhaps we can narrow down the issue that way.

[2020-02-18 06:33] yatsukhnenko commented on #1709
@michael-grunder thanks

[2020-02-18 07:09] remicollet commented on #1709
@michael-grunder sorry but I don't really understand how branches are managed, can you please clarify ?

[2020-02-18 14:29] Tbone542 commented on #1712
Tried RC2, same result.

phpredis config
[code]

script
[code]
The script attempts to access a key 'k2' which is in slot 449 multiple times per http request.   449 was chosen to make it easier to migrate the slot during a resharding, so I didn't have to do a large chunk.

It is easiest to see the issue when I run jmeter and start 20-30 threads(http requests).  This is done, so that I know multiple

[2020-02-18 16:00] Tbone542 commented on #1712
Another note: when I run it via the CLI, I occassionally get...
`Segmentation fault`

-Ted

[2020-02-18 16:07] michael-grunder commented on #1712
Segmentation fault

This was my guess, thanks.  I'll see if I can cause a problem with `hgetall`

[2020-02-18 16:49] Tbone542 commented on #1712
I also got the segfault when I was writing to the cluster with xadd.

[2020-02-18 19:34] michael-grunder commented on #1712
This one is going to be annoying.

I can run your script in a CentOS container against php 7.0.0 and phpredis 5.2.0RC2 under valgrind and see no problem whatsoever.

A stack trace or valgrind output on your end might give us a clue.

[2020-02-18 19:45] Tbone542 commented on #1712
Hmmm. I tried a trace earlier and it didn't show much. I may need to change the config on xdebug? I am not a professional with xdebug and traces.

... Found it? Was just typing...

-Ted

[2020-02-18 23:52] michael-grunder commented on #1709
I just created the `release-5.2.0RC1` and `release-5.2.0RC2` branches to stage for the GitHub tag and PECL uploads.

After properly released I'll merge them into the develop branch.  It looks like squashing and merging `release-5.2.0RC2` into develop has confused GitHub a bit, so I backed that one out.

[2020-02-19 01:47] michael-grunder commented on #1712
cc @yatsukhnenko do you mind testing 9ef2ed89.

[2020-02-19 13:38] yatsukhnenko commented on #1712
@michael-grunder I've tested your changes locally and ran static analysis via clang and coverity. Everithing seems fine.

[2020-02-19 18:39] michael-grunder commented on #1712
@Tbone542 If you can let me know if the swtich to php_rand from php_mt_rand works for you I'll package up RC2 and get it released.

[2020-02-19 21:37] Tbone542 commented on #1712
I found the change and manually applied it locally. Seems to work well. I did a few hundred threads with 0 errors.

-Ted

[2020-02-20 15:00] AegirLeet commented on #548
@yatsukhnenko The test script works as expected using a version compiled from the issue-548 branch.

@yatsukhnenko @stancl Is it likely this will be merged, or will the current behavior be kept for BC reasons? In other words, should users of PhpRedis expect it to respect prefixes in the near future or would it be better to add the prefix to the pattern manually before calling `scan()`?

[2020-02-20 17:03] JimmyBanks opened #1713 "Read Timeout not applied to RedisException: socket error on read socket"
### Expected behaviour
Any GET request should apply the configured Read Timeout

### Actual behaviour
1. Read Timeout is set to 0.2s
2. GET request throws RedisException "socket error on read socket" and does not time out after set Read Timeout
3. Timeout occurs after a 10 minute delay

It has come to my attention that this could be related to idle connections:  https://gist.github.com/JonCole/925

[2020-02-21 02:14] michael-grunder commented on #1713
I think I know how this might happen.

If you're connecting elsewhere in your codebase without a timeout set, the next call to `pconnect` may retrieve the prior connection from the connection pool, but not update the socket's underlying timeout settings.

I can create similar behavior with something like this:

[code]

I can see why this behavior is surprising and think it's probably a good idea t

[2020-02-21 07:31] yatsukhnenko commented on #548
@AegirLeet you are right, this is breaking change an we can't merge it right now. I'm going to add option to manage behavior in next release (upcoming 5.2.0 is closed for new features).

[2020-02-21 09:09] kiddtang opened #1714 "TestScript: Cannot load module 'redis' required module 'json' is not loaded"
### Expected behaviour
All Test Passed

### Actual behaviour
[code]

[code]

### I'm seeing this behaviour on
- OS: Ubuntu 18.04
- Redis: 5.0.7
- PHP: 7.3.15
- phpredis: 5.1.1

### Steps to reproduce, backtrace or example script

[code]

### I've checked
- [Y] There is no similar issue from other users
- [Y] Issue isn't fixed in `develop` branch

[2020-02-21 10:23] remicollet commented on #1714
When extensions (json) are build shared, you have to explicitly load them, as for all PHP extensions test suite

[code]

[2020-02-21 10:25] remicollet commented on #1714
[code]

[2020-02-21 15:26] JimmyBanks commented on #1713
In my case I don't believe that to be the cause.

Our application routes all requests to the Redis DB through a master class, which only connects once per page request (and only if necessary). Each time a connection is made, it uses the settings displayed above.

I'm going to do some further investigation today, now that you've indicated it may be due to the read timeout, I'll add `$redis->getRead

[2020-02-21 20:16] michael-grunder commented on #1709
I've tagged 5.2.0RC2 here and on PECL

* [GitHub](https://github.com/phpredis/phpredis/tree/5.2.0RC2)
* [PECL](https://pecl.php.net/package/redis/5.2.0RC2)

I've kept stability at `alpha` because there couldn't have been much testing since I forgot a file!

I think it might be a decent idea to add a `pear package` based test to Travis to catch any regressions like this.

Let me know if there are a

[2020-02-24 08:48] linuxjuggler opened #1715 "TypeError with RedisCluster for the auth param"
### Expected behavior
Passing Null as the last parameter to `new RedisCluster` should not cause any problem.

### Actual behavior
Exception thrown :
[code]
When the file has `declare(strict_types=1)`

### I'm seeing this behavior on
- OS: macOS 10.15.3
- Redis: 4.0.14
- PHP: 7.4.3
- phpredis: 5.1.1

### Steps to reproduce, backtrace or example script

1. Create a redis cluster using this docker im

[2020-02-24 09:05] yatsukhnenko commented on #1715
@linuxjuggler RedisCluster::__construct doesn't allow to pass auth parameter as null
https://github.com/phpredis/phpredis/blob/develop/redis_cluster.c#L498

[2020-02-24 09:15] linuxjuggler commented on #1715
hey @yatsukhnenko and thanks for the fast reply, but the phpdoc definition says otherwise

https://github.com/zgb7mtr/phpredis_cluster_phpdoc/blob/6d0d00af71a3a31f2ce7e7365bf09059bfb65096/src/RedisCluster.php#L64-L97

[code]

the `@param string|null   $auth` can be either `string` or `null` and the default value is `null` that's why I am confused now.

Also, if I am not mistaken this line says tha

[2020-02-24 09:29] yatsukhnenko commented on #1715
@linuxjuggler who creates that phpdoc and why do you think it is correct?
Mask `"Os!|addbs"` which we pass to `zend_parse_method_parameters` means that `name` can be null and `auth` can't.

[2020-02-24 09:41] linuxjuggler commented on #1715
@yatsukhnenko to be honest, I don't know who create it since it is done by a community member.

I am not good with C (never worked with it), so forgive my ignorance.

So basically either we pass an `auth` value or we don't?

[2020-02-24 10:17] yatsukhnenko commented on #1715
@linuxjuggler Currently if you use strict mode you must pass `auth` parameter as string. This is internal behavior of PHP engine.

[2020-02-24 10:18] linuxjuggler commented on #1715
Got it, thanks @yatsukhnenko .

[2020-02-24 10:18] #1715 closed

[2020-02-24 20:03] michael-grunder opened #1716 "New 5.2.0 release and future releases."
We've released 5.2.0 RC2 on [PECL](https://pecl.php.net/package/redis/5.2.0RC2) and here on [GitHub](https://github.com/phpredis/phpredis/tree/5.2.0RC2).

This release mostly has bug fixes but also contains a big improvement to ensuring persistent connections don't become corrupted.

[You can check out the change-log here](https://github.com/phpredis/phpredis/blob/5.2.0RC2/Changelog.md)

Please gi

[2020-02-24 20:13] michael-grunder commented on #1709
I think this is fixed but please re-open the issue if I have manged to forget another file 😂

[2020-02-24 20:13] #1709 closed

[2020-02-24 20:15] michael-grunder commented on #1714
Thanks Remi.  I think this probably not a bug in PhpRedis so I'm going to close the issue.

[2020-02-24 20:16] michael-grunder commented on #1712
Closing this issue as it seems to be fixed.  5.2.0 coming soon!

[2020-02-24 20:16] #1712 closed

[2020-02-25 07:46] kiddtang commented on #1714
@remicollet thanks for your tips... i am still no luck to make all passed.

[code]

i did mentioned all the path also no luck...
[code]

[code]

[2020-02-25 19:44] michael-grunder commented on #1714
Hi @kiddtang does the fix I pushed above work for you?

[2020-02-27 09:32] marcdejonge commented on #1668
Any update on this? I'd love to be able to use persistent connections again, right now we're still running without because of this issue.

[2020-02-27 09:48] yatsukhnenko commented on #1668
@marcdejonge we have created the fix four months ago. It is included in upcoming 5.2.0 which is currently alpha and will be GA in few weeks

[2020-02-27 09:58] marcdejonge commented on #1668
Ah, great! I will test out the alpha version on our staging environment to test if anything breaks :)

[2020-02-28 19:24] michael-grunder commented on #1668
Thanks, let us know.  I'm planning on the actual release over the weekend.

[2020-03-01 10:28] dreamMonkeyZ commented on #1633
also me,

[2020-03-02 01:40] kushalkh commented on #1633
Increasing the timeouts to a relatively large number like 20 seconds and choosing the setting to read from slaves when master isn’t available worked for me

[2020-03-02 09:16] kiddtang commented on #1714
Yep! It fixed! Sorry for late reply...

[code]

[2020-03-02 09:16] #1714 closed

[2020-03-02 14:25] yatsukhnenko commented on #1668
5.2.0 released. Can we close this issue?

[2020-03-02 18:16] michael-grunder commented on #1713
Did setting the option end up fixing this issue for you?

[2020-03-02 19:14] michael-grunder commented on #1682
Closing as this looks solved.

[2020-03-02 19:14] #1682 closed

[2020-03-02 19:23] michael-grunder commented on #1694
Closing as this fix is merged

[2020-03-02 19:23] #1694 closed

[2020-03-02 19:25] michael-grunder commented on #1662
Are you still having this issue?

[2020-03-02 19:30] JimmyBanks commented on #1713
Hey, yes, I meant to get back to this and it slipped my mind.

In a bizarre turn of events, setting the timeout and the read_timeout both to 1 instead of 0.3 and 0.2 respectively, has resulted in this bug no longer surfacing.

Not sure if that helps identify what the cause is or not, doesn't really add up to me, but we haven't seen an excessive timeout since the update.

[2020-03-02 19:49] michael-grunder commented on #1636
Updated documentation is merged, closing.

[2020-03-02 19:49] #1636 closed

[2020-03-02 19:50] michael-grunder commented on #1586
Closing this as there aren't any current plans to implement a shared interface.

[2020-03-02 19:50] #1586 closed

[2020-03-02 19:51] michael-grunder commented on #1608
Closing this issue, since I don't think this is really a bug in phpredis

[2020-03-02 19:51] #1608 closed

[2020-03-02 19:52] michael-grunder commented on #1557
Closing this issue since 4.3.0 is quite old, but feel free to reopen if you are still having crashes.

[2020-03-02 19:52] #1557 closed

[2020-03-02 19:53] michael-grunder commented on #1533
Closing this issue since there is no activity in a while.  If you are still having problems connecting feel free to reopen.

[2020-03-02 19:53] #1533 closed

[2020-03-02 19:55] michael-grunder commented on #1473
Closing this issue since it's not a bug in phpredis.

[2020-03-02 19:55] #1473 closed

[2020-03-02 20:00] michael-grunder commented on #1456
Closing this issue as there isn't any activity in a while and we're now on version 5.2.0

Please reopen if you are still encountering it in the new version of phpredis.

[2020-03-02 20:00] #1456 closed

[2020-03-03 10:39] coolrecep opened #1719 "No package php-pecl-redis available."
### Expected behaviour
Installation
### Actual behaviour
Failure
### I'm seeing this behaviour on
- OS: Centos 7
- Redis: 3
- PHP: 7.3
- phpredis: N/A

### Steps to reproduce, backtrace or example script
yum install php-pecl-redis

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2020-03-03 10:50] remicollet commented on #1719
This is obviously not a bug with this extension, but with the used distribution.

Don't know how you install php 7.3 on CentOS 7

- CentOS 7 provides 5.4 by default, and redis extension is available in EPEL (php-pecl-redis)
- CentOS 7 also provides 7.2 and 7.3 in SCL repository, which also have redis extension (sclo-php72-php-pecl-redis4, sclo-php72-php-pecl-redis5 or sclo-php72-php-pecl-redis5)

[2020-03-03 11:09] remicollet commented on #1719
Tips: https://rpms.remirepo.net/wizard/

[2020-03-03 11:36] yatsukhnenko commented on #1719
Thanks, @remicollet

[2020-03-03 11:36] #1719 closed

[2020-03-05 16:25] jgiese328 opened #1720 "No legacy PHP 5.3 support branch?"
Hello,

I noticed 5.3 support was stripped out. I was surprised to see this. Currently we are fine in production as previous version was installed. We can't fire up in local though.
One application is stuck on 5.3, another we are moving to 7, but have to stay on 5.3 in the legacy application...
Any recommendations? I know other plugins have legacy versions saved off elsewhere. I am crossing my fin

[2020-03-05 17:27] jgiese328 commented on #1720
This worked for me on separate installation of PHP 5.3
Closing my own ticket.

cd ~
sudo wget –quiet http://github.com/phpredis/phpredis/archive/2.2.8.zip -O phpredis.zip --no-check-certificate
sudo unzip -o phpredis.zip && cd phpredis-2.2.8
sudo sudo /opt/phpfcgi-5.3.29/bin/phpize ###configuring for old version
sudo ./configure --prefix=/opt/phpredis --with-php-config=/opt/phpfcgi-5.3.29/bin/php-

[2020-03-05 17:27] #1720 closed

[2020-03-05 17:27] jgiese328 commented on #1720
closing

[2020-03-05 19:13] michael-grunder commented on #1668
@marcdejonge Were you able to test the new functionality?

[2020-03-06 07:41] marcdejonge commented on #1668
Sorry, was very busy here at work. It is working locally, but the issue itself is very hard to reproduce. I think we will be trying it out on a live environment soon.

[2020-03-06 07:58] twose commented on #1716
I wonder if `php_stream` will still be used? (hiredis only works as protocol parser Instead of network communication engine)
Thanks!

[2020-03-06 21:38] Aramack opened #1721 "Segmentation fault on mutliple pconnect commands (phpredis5.2.0)"
### Expected behaviour
Multiple pconnect commands will connect to a Redis instance or reuse a connection already established connection.
[code]

### Actual behaviour
The subsequent pconnect command will cause a segfault.
[code]

### I'm seeing this behaviour on
- OS: CentOS Linux release 7.6.1810 (Core)
- Redis: 5.0.4
- PHP: 7.4.3
- phpredis: 5.2.0

[code]

### Steps to reproduce, backtrace or exa

[2020-03-07 03:45] vvhungy commented on #1721
we got similar coredump when one of our redis instance doing its (backup) dump which caused outage in a very short time, then php process need to reconnect to it.

[2020-03-07 12:01] yatsukhnenko commented on #1721
Thanks for the report!

[2020-03-09 11:15] yatsukhnenko commented on #1721
@Aramack @vvhungy I can't reproduce this issue locally but I think I know where may be the problem.
Could you test the following patch?
[code]

[2020-03-09 14:42] Aramack commented on #1721
I still get a segfault with that patch. New GDB backtrace:
[code]

[2020-03-09 14:51] yatsukhnenko commented on #1721
Hm, looks like we close the stream somewhere in `redis_sock_check_liveness`. I'll create another patch in the evening today

[2020-03-09 17:55] yatsukhnenko commented on #1721
@Aramack here is another patch for testsing
[code]

[2020-03-09 19:15] Aramack commented on #1721
Yes, that resolves the segmentation fault.

[2020-03-10 09:10] Venorcis commented on #1543
I'm all of a sudden with version 5.2.0 also experiencing a lot of 'read error on connection' as well, mainly on non-localhost connections. We also upgraded to CentOS 8 at the same time so that might be related, but I'm unsure how to proceed with this. Increasing any timeout in PHP does not have any effect (we already had a default socket timeout set for example).

[2020-03-10 17:02] michael-grunder commented on #1543
Are you connecting with `pconnect`.  I suppose I can see why this would increase with persistent connections because we added a "liveness" check but if you're not using persistent connections I can't think of any reason it would increase off the top of my head.

[2020-03-11 17:27] Venorcis commented on #1543
Thanks for your reply. I'm using regular connect. I tried downgrading to the previous phpredis version butI am still experiencing multiple 'connection resets' per day in some of our worker scripts, which run permanently as a service and thus probably keep the same connection open all the time.

That we started seeing this suddenly is thus probably related to our CentOS 7>8 move instead. It is prob

[2020-03-13 14:20] yatsukhnenko commented on #1721
Fixed in `develop` branch

[2020-03-13 14:20] #1721 closed

[2020-03-16 06:38] graemlourens opened #1724 "php-fpm child dies with SIGSEGV (persistent connection) (since 5.2)"
### Expected behaviour
No segfault / SIGSEGV on php-fpm children when redis is unavailable.

### Actual behaviour
When redis is unavailable, after approx 10-20 seconds lots of php requests will fail with :
"[pool www] child 31 exited on signal 11 (SIGSEGV - core dumped) after 87087.861370 seconds from start"
After a couple of these requests, everything returns to normal.

Context: We are running a

[2020-03-16 06:44] michael-grunder commented on #1724
I believe this is a duplicate of #1721 which was fixed via b7f9df758b30187864012d5cd831dbbc5fa053d0

[2020-03-16 06:46] graemlourens commented on #1724
Ui.., i totally skipped that one when going over the develop branch.
Apologies for the inconvenience.

[2020-03-16 06:46] #1724 closed

[2020-03-16 06:53] michael-grunder commented on #1724
No worries.

Should have an official 5.2.1 release soon. :smile:

[2020-03-16 06:59] graemlourens commented on #1724
Thats phenomenal :) Thank you for all your dedication and hard work on phpredis.

[2020-03-16 09:04] B-Galati commented on #934
Still interested for this as it would avoid the usage of dynamic proxy and issues like  snc/SncRedisBundle#559

[2020-03-16 14:52] yatsukhnenko commented on #934
We will discuss this issue with @michael-grunder. I have a thoughts to completely remove `connect` method and always make connection lazy

[2020-03-16 23:00] michael-grunder commented on #934
I like the idea as well, we just can't do it until a major version bump.

I've created a 6.0 milestone and added this feature to it.  Ideally I would like to do a rather substantial rewrite for PhpRedis 6 with a bunch of big changes, but it will come down to how much time we can reasonably invest in such an endeavor.

[2020-03-17 07:31] B-Galati commented on #934
Thanks to both of you :pray:

[2020-03-17 14:12] shurastik opened #1726 "Redis->auth() sometimes freezes after upgrade to php 7.4"
Hi,

After upgrading to PHP 7.4 has been appeared a problem with random auth() freezing.
The same script executed with php 7.3.15 (with same phpredis version) works fine.
It seems that execution is stopped until server-side TCP keepalive timeout reached.
As there are the same phpredis versions, I'm not sure that it is a phpredis issue. But maybe somebody can help in future investigation.
But it se

[2020-03-17 17:35] michael-grunder commented on #1726
Interesting, thanks for the report.  I'll try to replicate the issue locally.

[2020-03-17 19:44] shurastik commented on #1726
I just created fresh droplet + managed redis on digitalocean

[code]

With all default settings the issue is easy reproducible:

[code]
vs
[code]

I can provide access if it helps.

[2020-03-19 14:14] danvim opened #1727 "Add to documentation regarding default_socket_timeout"
There are so many issues relating to `default_socket_timeout` settings I've seen on this repo. Perhaps it's best to add a section to docs for explanation and hints?

- #70
- #492
- ...

Searching `default_socket_timeout ` in issues yields 16 results.

[2020-03-19 16:20] DemigodCode commented on #1194
Would need that too.
Using redis cluster with "remote" nodes has got a poor performance.
Our Website slows down 200ms with cluster configuration.

[2020-03-19 16:46] michael-grunder commented on #1727
Can you explain what you're trying to do and what isn't working the way you expect?

[2020-03-19 21:34] michael-grunder commented on #1716
@twose Yes I think we will need to keep using `php_stream` for the network layer so it can work everywhere you can run PHP.

[2020-03-20 08:07] marcdejonge commented on #1668
Quick update, we've been running 5.2 live for a couple of days now with persistent connections and everything seems stable. Virtually no more errors in our logging and a lot less active connections on our network. Thanks guys!!

[2020-03-20 09:24] danvim commented on #1727
@michael-grunder I was trying to do `$redis->subscribe(...)` and the blocking call would always throw an exception after a certain timeout with the error code 0 and message "read error on connection".

From those issues, I've known the problem was apparently that phpredis uses PHP socket connections and they may timeout. But this setting exists in `php.ini` and using `$redis->pconnect()` does noth

[2020-03-20 18:20] lyrixx opened #1728 "[RFC] Add a way to make Redis::subscribe() async"
### Expected behaviour

[code]

This is does not work since `Redis::subscribe()` is blocking.
It would be nice to have the same system as `pcntl_signal()`.

It would be even more awesome it this could work with signal:

<details>

[code]

</details>

### Actual behaviour

The following line blocks the script

[code]

### I'm seeing this behaviour on
- OS: ubuntu
- Redis: 5+
- PHP: 7.4+
- phpredis:

[2020-03-22 15:57] sksingh1995 opened #1729 "keyevent subscription not working with phpredis"
Hi,

I am using phpredis with laravel framework and I want to implement redis keyevent feature.

My requirement is to do some cleanup in my app when a particular key is expired.

Here is my code setup with laravel.

**I have added this commands in long running process**
`Redis::psubscribe(['*'], function ($message, $channel) {
        var_dump($message);
    });`

and from terminal and I am using

[2020-03-22 17:21] michael-grunder commented on #1729
Your `psubscribe` callback should take [four arguments](https://github.com/phpredis/phpredis#psubscribe):

The following program works for me:

[code]

I see this message after doing `redis-cli setex foo 1 bar`:
[code]

[2020-03-23 05:24] sksingh1995 commented on #1729
Hi @michael-grunder

Thanks for your reply.

In case of `new `Redis();`, Redis is an alias of Predis\Client as Redis right?

[2020-03-23 06:18] sksingh1995 commented on #1729
I tried the above but not working. I got the following error.

 ErrorException  : strlen() expects parameter 1 to be string, array given

  at /Users/mac/code/happydemy/vendor/predis/predis/src/Connection/StreamConnection.php:390
    386|
    387|         $buffer = "*{$reqlen}\r\n\${$cmdlen}\r\n{$commandID}\r\n";
    388|
    389|         foreach ($arguments as $argument) {

    391|             $

[2020-03-23 11:19] vvhungy commented on #1729
@sksingh1995: I think you use a different library, Predis should be found here: https://github.com/nrk/predis

[2020-03-23 15:10] sksingh1995 commented on #1729
Hi @vvhungy

What about this: https://github.com/phpredis/phpredis

In which this thread is going on?

[2020-03-23 18:14] michael-grunder commented on #1729
This is the [phpredis](https://github.com/phpredis/phpredis) library but you want the [predis](https://github.com/nrk/predis) library.

That said, I don't know if predis is still being maintained, so I found some docs and managed to capture the expire events using that library.

This works for me:

[code]

[2020-03-24 06:48] HeiHeiHeiHeiHeiHH opened #1730 "solt not covered"
### Expected behaviour
just want Running normally
### Actual behaviour
when i create a key by phpredis under redis_cluster, the exception:'The slot 14149 is not covered by any node in this cluster' was throwed. but the same key and value, Execute successfully under redis-cli.
### I'm seeing this behaviour on
- OS:  4.15.0-91-generic #92~16.04.1-Ubuntu SMP Fri Feb 28 14:57:22 UTC 2020 x86_64 x86_64

[2020-03-24 06:54] #1730 closed

[2020-03-24 07:35] sksingh1995 commented on #1729
not working. Do I need to enable something in redis config?

[2020-03-24 18:01] michael-grunder commented on #1729
Yes you have to make sure expirations are enabled in `notify-keyspace-events`.

The following works for me after spinning up a completely new instance of redis.

It enables expiration events by setting `notify-keyspace-events` to `xE`, then sets a key with a one second expiration, and then subscribes globally.

[code]

If this doesn't work for you I'm not sure I can really help any more since this

[2020-03-24 18:31] sksingh1995 commented on #1729
Finally, It worked with the above. Thanks @michael-grunder appreciated :).

[2020-03-24 21:20] michael-grunder commented on #1729
Glad you got it working!

[2020-03-24 21:20] #1729 closed

[2020-03-26 09:54] shurastik commented on #1726
Small update: issue can be reproduced only with TLS connection.

[2020-04-01 09:40] arsenal1447 opened #1732 "How to get the error when connect failed"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: linux
- Redis: no sure
- PHP: 5.4
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

The connect() just return "false" or "true",  no exception。
So, how to get the error message when connec

[2020-04-01 13:22] yatsukhnenko commented on #1732
@arsenal1447 https://github.com/phpredis/phpredis#getlasterror

[2020-04-06 21:04] hserge opened #1733 "Connection is not closed after close()"
### Expected behavior
When connection is closed by close(), consecutive commands should fail or throw an exception.
### Actual behaviour
After closing the connection consecutive commands are run as connection is still open.
### I'm seeing this behaviour on
- OS: OSX 10.15.3
- Redis: Redis 5.0.8 (00000000/0) 64 bit
- PHP: 7.4
- phpredis:

### Steps to reproduce, backtrace or example script
$r = new

[2020-04-08 08:34] flexchar opened #1734 "lpush/rpush does not work correctly"
### Expected behaviour (predis)

[from dump() output]
passing test with provided values merged together
[code]

### Actual behaviour (phpRedis)

failing test - it does not push multiple elements from provided array
[code]

### I'm seeing this behaviour on
- OS: Debian 10 buset
- Redis: 5.0.7
- PHP: 7.4.4
- phpredis: 5.2.1
- Laravel: 7.4.0

### Steps to reproduce, backtrace or example script

I am

[2020-04-09 07:45] kkmuffme opened #1735 "Allowed param values missing in docs"
In the docs a lot of times the allowed param values are missing.

e.g. for set() what are the allowed param types for key? string|int?

[2020-04-09 19:28] michael-grunder commented on #1734
The `Redis::lpush` command is variadic:

[code]

I actually prefer `redis->lPush($key, $arr_values)` but this presents backward compatibility problems (given that you could pass an array you expect to be serialized).

[2020-04-10 14:04] flexchar commented on #1734
This indeed would be a breaking change but I believe it is more consistent.
I also think array should be serialized by user explicitly rather than implicitly. :)

[2020-04-10 14:38] michael-grunder commented on #1734
I mean that you can do something like this:

[code]

[2020-04-10 20:11] #1734 closed

[2020-04-11 20:16] yatsukhnenko commented on #1733
@hserge phpredis automatically reconnects when you call commands after `close`

[2020-04-11 23:25] hserge commented on #1733
@yatsukhnenko probably makes sense to add this "hidden" feature to the close() method description.
Is there a way to avoid reopening after the connection is closed? Is there a way we can check if the connection is already closed?

[2020-04-12 10:03] yatsukhnenko commented on #1733
@hserge to check the connection state you can use isConnected method

[2020-04-13 14:22] mbyervand opened #1738 "hello"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:
- PHP:
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2020-04-13 14:25] mbyervand opened #1739 "push notification"
hello
how can i push notification for android & IOS in redis with php Laravel

[2020-04-13 14:26] #1738 closed

[2020-04-13 16:06] michael-grunder commented on #1739
I'm not sure, but I think you want the Laravel repository, not the phpredis repository.

[2020-04-13 18:18] AlbinoDrought commented on #1726
I can confirm this identical issue on PHP 7.4.4 + php-redis 5.2.1, DigitalOcean managed Redis + TLS.

This issue does not occur when connecting from the same droplet(s) to the same managed Redis instance on PHP 7.3.16 + php-redis 5.2.1 or older PHP 7.2.27 + php-redis 4.2.0.

[2020-04-13 19:55] michael-grunder commented on #1739
I'm going to close this issue since it's not really a question about phpredis.

[2020-04-13 19:55] #1739 closed

[2020-04-14 23:40] kkmuffme commented on #1059
Bump :-)
Would really love to get that fixed. Auth can be really expensive especially if the redis master is remote.

[2020-04-14 23:47] michael-grunder commented on #1059
@yatsukhnenko Is this addressed in 4ef465b57325d2d93234fd66af06a7091ce7d1ea or is that solving something else?

[2020-04-15 13:40] kkmuffme commented on #1059
I just checked on 4.3.0 and it seems pconnect does not send an "auth", so perhaps it's working already?
but not really sure if this isn't a bug in the monitoring software

[2020-04-15 16:42] yatsukhnenko commented on #1059
@michael-grunder users don't need to send `auth` since 5.2.0` because we automatically send it while checking connection liveness but this doesn't actually solve this issue. I'm going to use separated persistent id for authenticated connections.

[2020-04-17 01:26] adjenks opened #1741 "Documentation organization - throws section"
### Expected behaviour

Documentation for connect has the sections _parameters_ and _returns_, but no _throws_. I expect there to be a _throws_ section.

### Actual behaviour

There is no _throws_ section for your methods.

### Details

The RedisException section tells you that it is thrown on a connection failure, but it's standard practice to document what errors each method can throw. I don't e

[2020-04-17 13:42] m1cha3lf opened #1742 "persistent connection performance issue on 5.2.1 vs 5.1.1"
### Expected behaviour
Same performance between client / server on version 5.1 vs 5.2

### Actual behaviour
We have upgraded some days ago to phpredis 5.2.1. After the upgrade we have seen that the CPU usage on our Redis servers have increased a lot (between 30-60%).  Last night we got into trouble and narrowed the issue down to the phpredis upgrade.

We have downgraded all servers to 5.1.1. and w

[2020-04-17 14:03] yatsukhnenko commented on #1742
@m1cha3lf could you test the patch from https://github.com/phpredis/phpredis/pull/1740?

[2020-04-17 14:56] michael-grunder commented on #1742
The above commit adds an inexpensive liveness check and also makes the `ECHO` challenge response optional.

The issue with making it optional is that it can lead to persistent connections getting out of sync (which is why we added the `ECHO` in the first place).

We are going to try and come up with some way to ensure persistent connections don't get into a bad state and do it in a way that costs

[2020-04-17 15:11] vvhungy commented on #1742
Regarding to the "ECHO check", could we have something like a clock (timer) to check periodically, instead of calling it always?

[2020-04-17 15:20] michael-grunder commented on #1742
That is an option but unfortunately it would only limit the number of times a connection can get out of sync to a given interval.  I think we can come up with a solution that ensures connections are valid with a very low cost but it will take some doing.

[2020-04-17 16:20] michael-grunder commented on #1742
I've tagged a [patched version of 5.2.1](https://github.com/phpredis/phpredis/releases/tag/5.2.1-liveness) that makes the ECHO challenge/response optional as well as adds a cheap zero second timeout check.

If this works for people we can release 5.2.2 soon but with the understanding that if you disable the challenge/response we can't really help with out of sync persistent connection issues.

Tha

[2020-04-20 05:05] starinacool commented on #976
Same problem with empty list

PHP 7.0.33-0+deb9u7 (cli) (built: Feb 16 2020 15:11:40) ( NTS ) debian stretch
redis_version:5.0.3 debian buster

[2020-04-20 16:12] m1cha3lf commented on #1742
i can confirm that the performance is the same between 5.1.1 and 5.2.1-liveness.

thanks a lot for this patch.

[2020-04-20 17:08] inieves commented on #1726
I have discovered this same issue independently.
I can confirm that I see the issue only with TLS connections to redis.

I have experimented with the latest redis (6) which has TLS support built in, as well as redis (5) which has no TLS support (so I placed nginx with TLS in front of redis).  Always I am seeing timeouts occurring with TLS connections.  Sometimes frequent, such as 1 out of 5 connec

[2020-04-20 18:32] michael-grunder commented on #1742
I'm glad it solved your issue.

Unfortunately it means we're back to the drawing board on how to actually fix persistent connections so that they don't get out of sync but also don't incur any extra trips to the server.

I'll leave this issue open until we have a proper solution.

[2020-04-22 07:45] yass8n opened #1743 "exists function always returns false even if the key exists and has a value"
This is with cluster mode set to true.

<img width="486" alt="Screen Shot 2020-04-22 at 12 41 39 AM" src="https://user-images.githubusercontent.com/5078319/79954469-37f11880-8432-11ea-9e73-7e7a0361237b.png">

[2020-04-22 08:02] aminsshahab commented on #1743
+1 having this same exact issue

[2020-04-22 11:20] michael-grunder commented on #1743
It's hard for us to diagnose this issue since you're testing PhpRedis via whatever `Illuminate\Redis\Connections\PhpRedisClusterConnection` does.

That said, I have a guess.  Redis changed `EXISTS` command from taking a single key and returning `0` or `1` to taking N keys and returning however many keys did exist.

[code]

[code]

So my guess is that the `Illuminate` interface is doing an `===` co

[2020-04-23 02:57] sofire opened #1744 "why pipeline exec return true"
$redisObj->multi(Redis::PIPELINE);
$redisObj->INCRBY($key, $num);
$redisObj->expire($key, 86400);
$result = $redisObj->EXEC();

$result almost is array type, but sometimes is true.
I want to know why and when.
Thanks.

[2020-04-23 13:54] vanderlee commented on #1607
Any idea if this will be fixed any time soon?

[2020-04-23 20:10] AnathornC commented on #1743
+1

[2020-04-23 20:27] michael-grunder commented on #1743
This isn't a bug in `PhpRedis`

[code]

Outputs:

[code]

Which is correct.

Or if you prefer the interactive console:

[code]

[We note the change from `BOOL` to `LONG` in phpredis > 4.0.0](https://github.com/phpredis/phpredis#exists)

Perhaps you're using a new version of PhpRedis with an older version of Laravel (that expects a boolean response)?

I'm happy to help.  If you see this error when

[2020-04-23 20:52] yass8n commented on #1743
We resolved by doing this instead which seems to work

`$redis->rawCommand($key, 'EXISTS', $key);`

Gonna close the issue : )

[2020-04-23 20:52] #1743 closed

[2020-04-23 20:59] michael-grunder commented on #1743
No worries, I'm glad you were able to figure out a workaround!

[2020-04-24 08:29] chomyeong opened #1745 "for json includes... configure: error: Cannot find php_json.h"
os:mac
php:7.3
I try run "pecl install redis"
but,i get the error message:
for json includes... configure: error: Cannot find php_json.h
everyone has this one question?

[2020-04-24 18:15] yatsukhnenko commented on #1607
@mensler @vanderlee could you test changes from `issue-1607` branch?

[2020-04-25 03:08] scgywx opened #1746 "multi will be failed"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: Centos7.4
- Redis: 3.2.11
- PHP: 7.2.12
- phpredis: 5.2.1

### Steps to reproduce, backtrace or example script
When I used the transaction in fpm with a persistent connection, queued some commands, and then throw an exception before calling the exec function. Call the mutli will be failed when the next time. Becau

[2020-04-29 06:02] aminsshahab opened #1747 "Using SSH Tunnel - Can't communicate with any node in the cluster"
I've recently changed from using a single Redis instance to now using a Redis cluster. On my local development container an SSH tunnel is used to connect to the Redis server on AWS Elasticache. This has worked perfectly in the past, but now doesn't work with a Redis Cluster.

The Redis connection establishes fine when I do:
`$redis = RedisManager::connection()`

But, if I try to run any commands s

[2020-04-29 06:07] elijahchancey commented on #1747
Is there any way we can force phpredis to use the IP we set in the initial configuration and avoid the behavior where it randomly picks one of the node IP addresses? Thanks!

[2020-04-29 08:48] yatsukhnenko commented on #1747
Hi @aminsshahab @elijahchancey
`RedisManager` is an external wrapper around `PhpRedis` so you need to read their documentation.
For `PhpRedis` you need to specify hosts and ports explicitly. https://github.com/phpredis/phpredis#connect-open https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#readme

[2020-05-03 03:48] bonzaphp commented on #1745
me too

[2020-05-05 13:22] #1400 closed

[2020-05-05 18:20] Furgas opened #1749 "Additional parameter to get/mGet indicating a value to return when the key was not found"
Currently when using the following code
[code]
we can't tell if the key don't exist or exists and is set to false.

What do you think about introducing an additional parameter to `get` and `mGet`:
[code]

Then I could do:
Currently when using the following code
[code]

It's also backward compatible.

[2020-05-05 18:39] Furgas commented on #1749
Or better yet, introduce `OPT_NOT_FOUND` (with `false` as the default) and return the option value instead of hardcoded `false`, because there surely are more commands beside `get/mget` that present the same problem (ex. `lpop/rpop`).

Or OPT_EXCEPTION_IF_NOT_FOUND (default `false`) and throw some `RedisNotFoundException` when this option is set to `true`.

I think something should be done, becaus

[2020-05-06 19:05] inieves commented on #1726
I have some information from the good people at bugs.php.net

nikic@php.net informed me:
"One relevant difference that comes to mind is that PHP 7.4 will negotiate TLS 1.3 by default. Do you know which TLS version actually gets used?"

So, question... Do we know which TLS version is involved in the connections that freeze vs. the connections that don't freeze?

[2020-05-06 20:16] yatsukhnenko commented on #1726
@inieves could you try to use `tlsv1.2://` when connecting to the Redis server?

[2020-05-06 20:27] inieves commented on #1726
I have verified that TLS 1.2 connections work consistently, while TLS 1.3 connections freeze (fail to establish) on PHP 7.4.5-fpm.

On the other side of the testing, both TLS 1.2 and TLS 1.3 connections work consistently on PHP 7.3.17-fpm.

To perform this test I put nginx in front of my Redis, disabled TLS on Redis entirely, and enabled TLS on nginx.  I varied the TLS settings on nginx as follows

[2020-05-06 20:50] inieves commented on #1726
@yatsukhnenko I have verified that tlsv1.2:// results in consistent working connections.  Also, tlsv1.3:// results in some connections that work and most other connections that fail.

It seems that when I constrain phpredis to TLS 1.3 I get a noticeably higher percentage of frozen connections than if I constrain nginx to TLS 1.3.

I can also say the cipher suite being used in all my TLS 1.3 connec

[2020-05-07 15:17] yatsukhnenko commented on #1726
@shurastik @AlbinoDrought @inieves can you try to rewrite your test using php streams? This will help PHP-team to identify the source of the problem because right now it looks like something may be wrong in `PhpRedis` even if it just wraps php streams.

[2020-05-07 18:49] inieves commented on #1726
@yatsukhnenko Is there a difference between phpredis on PHP 7.4.5-fpm as compared to PHP 7.3.17-fpm?  Because that is the only change that I made in my testing, and that alone was enough to make a difference for TLS 1.3 connection freeze/latency.

I did find some evidence that TLS 1.3 has some fundamental differences compared to TLS 1.2, in terms of the protocol itself.  I learned that these diffe

[2020-05-07 23:59] michael-grunder commented on #1742
I'm going to close this issue since it's now possible to disable the liveness check  with:

`redis.pconnect.echo_check_liveness=0`

We still need a proper persistent connection fix though.

[2020-05-07 23:59] #1742 closed

[2020-05-08 00:17] michael-grunder commented on #1728
Adding support for non-blocking sockets would be non-trivial, although I can see the appeal.

We're going to be making some pretty substantial changes to the library to fully support Redis 6.0 and I'll keep non-blocking sockets in mind.

It may be possible to implement this kind of support _only_ for `subscribe` and `psubscribe`, which might make it more feasible to implement.

[2020-05-11 03:32] myseo opened #1755 "How to connect mysqlcluster with TLS"
how to use connect mysqlcluster when it's enable transport level security? c

I tried to add prefix tls:// to host, but it's failed.

[2020-05-11 04:48] yatsukhnenko commented on #1755
Did you mean Redis Cluster?

[2020-05-11 11:10] andrelanka opened #1756 "Method migrate does not support auth parameter"
When migrating keys to another redis server, it's not possible to to provide the password for the target server.

[2020-05-11 17:09] yatsukhnenko commented on #1756
@andrelanka Could you provide more details?

[2020-05-12 04:09] andrelanka commented on #1756
The `migrate` method has no support to provide a password for the remote server.

https://github.com/phpredis/phpredis#migrate

[2020-05-13 07:24] johannes85 opened #1757 "Automatic reconnect behavior inconsistent"
### Expected behaviour
When automatically reconnect the  auth command should always be send.

### Actual behaviour
When the server wents away the reconnect sends the auth command, but when reconnecting after calling the close method the auth command isn't sent.

### I'm seeing this behaviour on
- OS: Debian Jessie
- Redis: 6.0.1
- PHP: 7.2.30
- phpredis: 5.2.2

### Steps to reproduce, backtrace or

[2020-05-14 18:57] #1732 closed

[2020-05-14 19:06] yatsukhnenko commented on #1564
`RedisSentinel` support was added in `5.2.0`

[2020-05-14 19:06] #1564 closed

[2020-05-15 08:20] devrck commented on #1638
@yatsukhnenko do you think this can be closed because of Sentinel support now?

[2020-05-15 08:22] devrck commented on #1138
@yatsukhnenko do you think this can be closed because of Sentinel support now?

[2020-05-15 15:24] TroodoNmike commented on #1745
same

[2020-05-15 15:39] yatsukhnenko commented on #1745
You need to install `json` extension. I don't know how to do this on mac, may be @michael-grunder will help?

[2020-05-15 17:00] valero90 commented on #1607
Hi @yatsukhnenko it still doesn't work :( I tried to ping the masters but it doesn't work

`PHP Fatal error:  Uncaught RedisException: read error on connection to <myservice>.euw1.cache.amazonaws.com:6379 in redisTest.php:9`

[2020-05-16 05:50] yatsukhnenko commented on #1607
@valero90 could you give me access to the node for testing?

[2020-05-16 08:58] valero90 commented on #1607
@yatsukhnenko not really, it’s an AWS instance of ElastiCache and there’s not external access to the nodes, sorry :(

[2020-05-16 09:17] yatsukhnenko commented on #1607
I've tried to connect to `tls://github.com:443` and it worked fine so it may be something AWS specific which I can't handle without access to AWS.

[2020-05-17 19:55] yatsukhnenko commented on #548
@AegirLeet I added new `SCAN_PREFIX` option. Could you test branch `issue-548` once again? If everything is fine I'll add documentation and ask @michael-grunder  to review changes before merge

[2020-05-18 07:24] AegirLeet commented on #548
@yatsukhnenko Seems to be working as expected.

Without `SCAN_PREFIX`, I have to manually add the prefix to the scan - scanning without adding the prefix manually yields no results.

With `$redis->setOption(Redis::OPT_SCAN, Redis::SCAN_PREFIX);` added, scanning without the prefix works, returning the results that were previously only returned when adding the prefix manually.

Using both `SCAN_PREF

[2020-05-18 13:03] Erikvv opened #1760 "Segfault with cloned object"
### Expected behaviour

Clone should result in either an exception or an independent working object.

### Actual behaviour

Using the cloned Redis object results in a segfault.

### I'm seeing this behaviour on
- OS: Linux 5.6.13
- Redis: 6.0.1
- PHP: 7.4.5
- phpredis: 5.2.1

### Steps to reproduce, backtrace or example script

    $redis0 = new Redis();
    $redis1 = clone $redis0;
    $redis1->g

[2020-05-18 15:47] yatsukhnenko commented on #1760
`Redis` class doesn't have `clone` handler right now. There is pull request #1758 but it is not ready yet

[2020-05-19 03:39] michael-grunder commented on #548
Merged, closing this issue.

[2020-05-19 03:40] #548 closed

[2020-05-19 20:17] gabfl commented on #1600
SSL/TLS is supported by Redis starting with version 6 as seen on https://redis.io/topics/encryption

Would it be possible to implement this feature in phpredis now that it is supported by Redis itself?

[2020-05-20 09:46] andrzejkupczyk opened #1762 "Support for the XINFO FULL form is missing"
### Expected behaviour
It should be possible to get the entire state of the stream, including entries, groups, consumers and PELs. The `XINFO STREAM <key> FULL [COUNT <count>]` command form is available since Redis 6.0.

### Actual behaviour
Method `xInfo()` returns `false` instead of an array regardless of how the additional arguments are passed. **Method `rawCommand()` works as expected.**

###

[2020-05-20 15:01] graemlourens commented on #1668
@michael-grunder i currently don't have any specific logs or helpful information, but we had to go back to non-persistent connections as even with version 5.2.2 (with the NOAUTH fix you did recently) network interruptions lead to bad connection state that do not recover (we never saw that because it was 'hidden' by the NOAUTH issues prior to 5.2.2) If i have any further information i'll happily sh

[2020-05-20 16:23] michael-grunder commented on #1668
Thanks for letting us know.

Is it possible that your non-auth related issues have to do with our introduction of the `ECHO` challenge/response?  We haven't heard of it causing failures but it does appear to cause way too much network traffic when using persistent connections.

We made this check optional in 56898f81.  You can disable the challenge/response by setting:

```redis.pconnect.echo_chec

[2020-05-21 13:26] mi-nakano commented on #1745
I have the same problem.
And make minimum PR #1763

[2020-05-21 15:43] yatsukhnenko commented on #1745
@mi-nakano thanks, merged

[2020-05-22 07:09] wenjy opened #1764 "hmset big number key overflow"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: windows
- Redis:5.0.7
- PHP:7.2.1
- phpredis:5.2.1(7.2 Non Thread Safe (NTS) x64)

### Steps to reproduce, backtrace or example script
[code]
### I've checked
- [yes] There is no similar issue from other users
- [yes] Issue isn't fixed in `develop` branch

[2020-05-22 09:07] vnrld commented on #1607
Perhaps this can help, as I have the same problem with the AWS Elasticache TLS connector with RedisCluster:

[code]

https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/encryption.html
https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/in-transit-encryption.html
https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/at-rest-encryption.html

Executed code:

Redis:
[code]

Resu

[2020-05-22 10:22] sofire opened #1765 "segfault error when change redis cluster nodes"
### I'm seeing this behaviour on
- OS:  centos 7.6
- Redis: 4.0.1
- PHP: 7.2.31
- phpredis: 5.1.1 / 5.2.1 /5.2.2

### Steps to reproduce, backtrace or example script
When I frequently changed redis cluster node, such as forget , failover,  my script got some errors (below) from redis cluster, and then occurred SIGSEGV error:
WARNING: [pool www] child 25182 exited on signal 11 (SIGSEGV) after 287.0

[2020-05-22 10:41] yatsukhnenko commented on #1607
@vnrld thanks for info. I pushed new change into `issue-1607` branch. Could you test it?

[2020-05-23 04:53] graemlourens commented on #1668
I will see if we can do a trial-run with one of our not yet live apps and let it run several weeks, but i suspect that generally persistent connections is a slippery slope, and i don't envy you to try and get that rock solid.

The only reason we wanted to use persistent connections is because the tls overhead for initiating the request is very heavy (for php) but we will now be offloading this to

[2020-05-23 14:31] sofire commented on #1765
[code]

[2020-05-23 16:41] michael-grunder commented on #1765
This is useful, thank you.

[2020-05-24 00:31] michael-grunder commented on #1765
I've been running your script against a cluster while actively failing over and/or resharding the nodes but I have not yet been able to replicate the segfault.

So far I've only been able to produce the `Timed out attempting to find data in the correct node!` but the thing is, it's not really a bug, per se.  If PhpRedis can't get a valid response from one of the nodes within the timeout, this is t

[2020-05-24 02:33] sofire commented on #1765
Thanks for replying.
The error is maybe in RedisCluster->__construct function.

[2020-05-24 02:37] michael-grunder commented on #1765
I was able to find a segfault in the constructor.

Hopefully it's the same one you're seeing :crossed_fingers:

I'll push a fix in the morning.

[2020-05-24 14:53] sofire commented on #1765
I had another segfault when the script call write_error_log function, not to call the redis constructor.
The redis error was "Timed out attempting to find data in the correct node!"

zbacktrace information (delete some code):
[code]

[code]

[2020-05-25 03:09] michael-grunder commented on #1765
I tracked down the segfault.  It's a double free of the cluster hash key.

I need to be careful with the fix as there are subtle differences in storing persistent objects between 7.0.x and newer releases.

Fix will be small though and will be up before the holiday weekend is over.

Thanks for the detailed reports.

[2020-05-25 03:20] sofire commented on #1765
Thanks for fixing it, i'll test it later.

[2020-05-25 18:31] sdrsdr opened #1768 "Redis 4.0 depricates hmset in favour of varadic hset"
Is it time to enable hset to take associative array as second paramter and if redis server is below 4.0 fallback to hmset? Or is it better to have hmset actually call a varadic hset if redis server is above 4.0

[2020-05-25 21:37] michael-grunder commented on #1768
I don't think we should try to detect the version of Redis because it would impose a pretty big performance penalty.

I do think it's a good idea to allow the user to pass an associative array to `Redis->hSet` though.

[2020-05-26 07:53] vnrld commented on #1607
@yatsukhnenko I did tests, and it does not work:

**Redis extension information**
[code]
**Connecting to the cluster configuration endpoint with TLS prefix**
[code]
**Connecting to the cluster configuration endpoint without TLS prefix**

[code]

**Connecting to all cluster nodes with TLS prefix**

[code]

Any ideas?

Regards,
Lukas

[2020-05-26 07:58] vnrld commented on #1607
Linux: alpine
And the PHP config (if this helps)

[code]

[2020-05-26 09:08] yatsukhnenko commented on #1607
@vnrld if I understand correctly tls connection works because `set` command works without errors. I will look at `keys` implementation, may be something wrong is there

[2020-05-26 09:23] vnrld commented on #1607
@yatsukhnenko: The error is here: #0 /tmp/c1.php(6): RedisCluster->set('test:time', 'Time: 2020-05-2...') and this is the "set" method

[2020-05-26 16:48] michael-grunder commented on #1765
It should be fixed in 231d09f but I'm going to do a bit more testing to make sure there aren't any possible memory leaks.

[2020-05-26 17:01] sofire commented on #1765
Thanks ,I'll test it tomorrow.

[2020-05-26 19:39] michael-grunder commented on #1764
I think c3793fd should solve your issue (assuming 64 bit Windows PHP can hold a signed number that big in zend_long)

[2020-05-26 22:57] mzagol commented on #1747
Current implementation prevents secure RedisCluster connections in PHP5. PhpRedis v4.3.0 is latest version with PHP5 and `AUTH` support. Since TLS is not supported in that version, `stunnel` is the only way to connect securely. Unfortunately, as @aminsshahab and @elijahchancey stated, after the initial connection to the cluster, client tries to connect to one of the node IP addresses which are not

[2020-05-26 23:56] michael-grunder commented on #1762
Should be fixed in 1d78382.

Call like so:

[code]

[2020-05-27 01:55] michael-grunder commented on #1745
Looks like this is fixed, closing.

[2020-05-27 01:55] #1745 closed

[2020-05-27 02:20] michael-grunder commented on #1690
I believe this has been solved in newer versions of phpredis.

I can't find the specific commit right now but essentially we were calling the destructor one too many times causing a double free.

Are you still having trouble with this?

[2020-05-27 06:58] sofire commented on #1765
Still have segfault error when "The Redis Cluster is down (CLUSTERDOWN)".

[2020-05-27 09:04] letwang commented on #1564
HookPHP发来贺电！
https://github.com/letwang/HookPHP

[2020-05-27 09:04] letwang commented on #1564
哈哈 都是地球人 同住地区村

[2020-05-27 14:46] yatsukhnenko commented on #1600
@bluemmb @gabfl could you test `issue-1600` branch? You can specify [ssl context options](https://www.php.net/manual/en/context.ssl.php) as last argument in `Redis::connect`, for example:
[code]

[2020-05-27 14:49] andrzejkupczyk commented on #1762
Awesome, thanks. I'll test it ASAP.

[2020-05-27 15:55] michael-grunder commented on #1765
Do you have a call stack?  I'm wondering if it's something other than what I fixed.

I'll push a quick fix that duplicates the cache key instead of sharing it but it's possible the segfault you're seeing is unrelated.

[2020-05-27 19:46] gabfl commented on #1600
@yatsukhnenko Thank you very much for taking the time to write a patch, it is very appreciated

I staged your branch:
[code]

And compiled phpredis from it:
[code]

I used this php snippet:
[code]

and it works:
[code]

🎉

[2020-05-27 20:51] michael-grunder commented on #1765
I went as far as setting up a CentOS container with the exact versions of PHP in your report and I don't get any complaints from Valgrind when I get the `CLUSTERDOWN` error.

[2020-05-28 12:40] ywarnier commented on #1600
Would there be any way to use TLS and a CA certificate in php.ini (session.save_path)?

[2020-05-29 02:18] sofire commented on #1765
Sorry, I can't get coredump files, I had got the files before. I don't know why and how right now.
I had set all things below, but not get coredump file when SEGFAULT occured.

ulimit -c unlimited
rlimit_core = unlimited in php-fpm.conf

enable php debug

cat /proc/sys/kernel/core_pattern
/cores/%h-%e-%p-%t.core
drwxrwxrwx 2 root root 6 May 28 14:30 /cores/

[2020-05-29 03:47] michael-grunder commented on #1765
I'm not sure why that would be but perhaps [a permissions issue?](https://serverfault.com/questions/927592/php-fpm-not-generating-core-dump-files-despite-being-configured-to)

I reworked the slot caching logic in ea65b8a but it's still a WIP.

This should be an improvement and I stopped sharing the hash key, but I'm not sure if it will solve your specific issue.

Still needs more testing before me

[2020-05-29 09:24] sofire commented on #1765
Thanks .  It works.
sysctl -w fs.suid_dumpable=1.

The call stack is the same before:
https://github.com/phpredis/phpredis/issues/1765#issuecomment-633242790

[2020-05-29 09:44] sofire commented on #1765
For commit ea65b8a47480fcf1cbd24d72d9cf3396beed66c6

### The Redis Cluster is down (CLUSTERDOWN)

PHP script: RedisCluster->__construct()

[code]

### The slot 7449 is not covered by any node in this cluster

PHP script:
$this->_mcObj[$hash]    = $mcObj;

[code]

[2020-05-29 14:27] michael-grunder commented on #1765
So clearly there's a corruption happening in the send GC but the errors are odd

This is crashing on `ALLOC_HASHTABLE`, which only does an `emalloc(sizeof(HashTable))`
[code]

I'll run the script inside of php-fpm inside my container and maybe I'll get lucky.

I've not been able to break it yet.

[2020-05-30 13:15] sofire commented on #1765
Another segfault . Is something wrong in zend_mm_alloc_small function , or other place ?

[code]

[code]

[code]

[2020-05-30 15:00] michael-grunder commented on #1765
What's interesting is that this call stack doesn't have phpredis in it.  It's still possible that phpredis is corrupting memory somewhere else and causing this, however.

As I mentioned, I've set up a CentOS container where I have been constantly running a php-fpm based script that accesses RedisCluster while at the same time randomly rebalancing the cluster and periodically segfaulting various no

[2020-05-30 16:23] sofire commented on #1765
Thanks for replying.

**I use mget()  in the script, not get(). I tested get() function , but not occurred segfault error.**

I got the same segfault errors, when both:
Timed out attempting to find data in the correct node!
The Redis Cluster is down (CLUSTERDOWN)

My redis cluster have 6 nodes, write only 3 nodes in the script.

[code]

valgrind /home/www/php7.1.33-debug/bin/php mc.php
[code]

[co

[2020-05-30 18:24] michael-grunder commented on #1765
Are you connecting with SSL?

[code]

Can you post the output of `php -m && php --ri redis`?

I will try to cause a problem using your `mGet` script.

Edit:  I am able to cause memory corruptions with your `mget` script! :partying_face:

[2020-05-31 00:18] sofire commented on #1765
I'm not using ssl to connect to redis 4.0.11. Redis 4.0 can use ssl?
I removed other extensions, only loaded redis.so. Run the script again.

[code]

[code]

[code]

[2020-05-31 17:17] tillkruss opened #1769 "Throw exception when command was renamed"
As discussed with @michael-grunder, the next major version should throw an exception when a renamed command is called, instead of failing silently with `false`.

### Expected behavior

An exception should be thrown with Redis' error message:
[code]

### Actual behavior

Return value is `false`.

### Steps to reproduce, backtrace or example script

Redis supports renaming commands using the `rename

[2020-05-31 23:58] michael-grunder commented on #1765
I believe this was actually fixed in 5acf9dc  :crossed_fingers:

[2020-06-01 03:14] sofire commented on #1765
I tested many times this morning, there's no segfault now when:
The Redis Cluster is down (CLUSTERDOWN)
Timed out attempting to find data in the correct node!
The slot 5840 is not covered by any node in this cluster

It's great! Thanks.

[2020-06-01 03:23] michael-grunder commented on #1765
Awesome, I'm glad it's fixed!

I'll leave the issue open for a while just in case :joy:

[2020-06-01 03:48] zxsz4084 commented on #1765
wonderful discussion !

[2020-06-01 16:37] michael-grunder commented on #1764
Closing.  Please reopen if #1770 didn't fix the problem

[2020-06-01 16:37] #1764 closed

[2020-06-01 21:28] nohaycubetto opened #1772 "What is the recommended way to write transactional code?"
Hi,

I am using Redis to keep a set of indexes for a large/complex MySQL table, and also because I benefit from the ZSET position numbers for large sorted sets.

Conceptually, my code is:

[code]

I need to rollback MySQL if Redis fails to execute the transaction.
I also want to ensure the way I discard the Redis multi if anything fails is solid.

My best bet so far is:
[code]

I have managed to g

[2020-06-02 01:26] WYJ0309 opened #1773 "stream is not support by phpredis and not example yet!"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS:
- Redis:5
- PHP:7
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2020-06-02 09:24] myseo opened #1775 "How to connect and save session to Redis Cluster with TLS?"
We want to save session to REDIS cluster with TLS on AWS ElastiCache.

According to document, I have save session to redis cluster successfully,
Setting on PHP.ini file:
`session.save_handler = rediscluster
session.save_path = "seed[]=host1:port1&seed[]=host2:port2&seed[]=hostN:portN&timeout=2&read_timeout=2&failover=error&persistent=1&auth=password"`

**But failed for TLS.**
Setting on PHP.ini fi

[2020-06-02 09:37] myseo commented on #1755
Yes,  Redis Cluster with in-transit encryption on AWS ElastiCache.
TCP model is works.  TLS was failed

[2020-06-02 11:55] yatsukhnenko commented on #1755
Duplicate #1607

[2020-06-02 11:55] #1755 closed

[2020-06-02 12:01] yatsukhnenko commented on #1607
@vnrld I looked at your example incorrectly. I'll try to install Redis 6 or stunnel and replicate issue locally

[2020-06-02 17:55] michael-grunder commented on #1765
@sofire If you don't mind can you make sure the latest commit is still working for you without issue?

Then I'll get it merged into develop

[2020-06-03 02:03] sofire commented on #1765
I will test it today at more servers..

[2020-06-03 05:56] yatsukhnenko commented on #1600
@ywarnier could you create another issue for session+tls?

[2020-06-04 01:41] sofire commented on #1765
Yesterday I deployed and tested the commit  72b4ae0 at 20+ servers. No error occurred.
If an error occurs, I will report it.

[2020-06-05 14:01] yatsukhnenko commented on #1773
@WYJ0309 https://github.com/phpredis/phpredis#streams

[2020-06-05 14:01] #1773 closed, assigned to nobody

[2020-06-05 16:13] yatsukhnenko commented on #1607
@vnrld I added test for tls connection and it works on Travis for Redis + stunnel. If the latest changes in `issue-1607` branch doesn't work for you this means that problem is really AWS specific and I can't fix it without access

[2020-06-07 12:15] zibuyule opened #1782 "Failed to write session data (redis cluster mode)"
### Expected behaviour
Successfully logged into phpmyadmin

### Actual behaviour
Can't log in to phpmyadmin
![access phpmyadmin](https://user-images.githubusercontent.com/5792519/83968378-68fead00-a8fb-11ea-8d83-765e711f4501.jpg)

### I'm seeing this behaviour on
- OS:  ubuntu18.04
- Redis: 5.0.6 (enable cluster mode)
- PHP: 7.2.25
- phpredis: 5.1.1
- phpmyadmin: 4.9.5

### Steps to reproduce, bac

[2020-06-07 21:01] michael-grunder commented on #1782
We have signed up for an AWS account so we can hopefully be more helpful with these kinds of issues.

It will take some time as neither @yatsukhnenko or myself have ever really used AWS but hopefully soon!

[2020-06-08 06:06] michael-grunder commented on #1765
Closing as the changes have been merged.

Thanks again for the report and for all the help in diagnosing the issue!

[2020-06-08 06:06] #1765 closed, assigned to michael-grunder

[2020-06-08 06:07] michael-grunder commented on #1762
Closing via #1771

[2020-06-08 06:07] #1762 closed

[2020-06-08 06:33] michael-grunder commented on #1772
Checking for a `false` return to `exec()` is a good idea but it's still possible for PhpRedis to throw an exception even if the transaction succeeded (e.g. due to a timeout).

One strategy you can use is setting a "sentinel" key at the very end of the transaction and then checking for that key at the end of your logic:

You can even wrap the `MULTI..EXEC` inside an outer pipeline so it's all sent

[2020-06-08 08:55] willsmanley commented on #1745
What was the fix for this? I am still getting the php_json.h error...

[2020-06-08 10:06] yatsukhnenko commented on #1745
@willsmanley the fix was in PR #1763

[2020-06-09 09:59] freeliver opened #1783 "expire type not long unexpected"
### Expected behaviour
set(key, value, "3") and set(key, value, ["ex" => "3"]) both success

### Actual behaviour
set(key, value, "3")  failure but set(key, value, ["ex" => "3"]) success
### I'm seeing this behaviour on
- OS: none
- Redis: latest
- PHP: 7.x
- phpredis:latest

### Steps to reproduce, backtrace or example script
$redis = new phpredis()
....
$result = $redis->set(key, value, "3")
//$

[2020-06-09 10:45] Vorta opened #1784 "Numeric values created with set method cannot be incremented or decremented"
With the following snippet:
[code]

### Expected behaviour
`$result` should be `10`.

### Actual behaviour
`$result` is `false`.

### I'm seeing this behaviour on
- OS: Ubuntu 20.05
- Redis: 5.0.9
- PHP: 7.4.6
- phpredis: 5.2.2

### Steps to reproduce, backtrace or example script
Given above

### I've checked
- [x] There is no similar issue from other users

[2020-06-09 12:51] yatsukhnenko commented on #1784
@Vorta is any serializer enabled?

[2020-06-10 08:41] herrbpl commented on #1607
I concur that error is there. Looks like when cluster nodes info is retrieved with CLUSTER SLOTS command,

https://github.com/phpredis/phpredis/blob/5ca4141c72e23816f146b49877a6a4b8098b34c6/cluster_library.c#L595

there is no indication in response, if they use TLS or not.

[code]

This information should be added from seed connection string when building sockets for actual nodes:

https://github.

[2020-06-10 09:57] yatsukhnenko commented on #1607
@herrbpl thanks👍, I've got access to aws and already found this problem

[2020-06-10 14:31] #1772 closed, assigned to nobody

[2020-06-10 16:24] nohaycubetto commented on #1772
Michael,

Thanks for that sample code.

Repeating to see if understood correctly: exec will return false if it fails to execute all commands but it will throw an exception if it timed out, possibly hiding it succeeded. If I do get a false from exec and no exception I can be sure it rolled back.

Good to know I can wrap it all in a Pipeline.
N

[2020-06-12 12:23] alemferreira commented on #1633
+1

However we're getting this error on `setex`, not on `get`

[2020-06-12 14:48] michael-grunder commented on #1633
Hi,

The two errors mentioned in this thread are related.

1. `Timed out attempting to find data in the correct node!` error is a timeout.
2.  `Error processing response from Redis node!` is a network failure.

PhpRedis has a command loop where we send a command and then process server responses until (a) we have the proper response, (b) some number of milliseconds has elapsed, or (c) a network er

[2020-06-17 08:59] Venorcis commented on #1757
I have the same problem, though in a long running script on a replica where (apparently) a connection reset sometimes occurs. After this happened I get the same 'NOAUTH Authentication required' error.

[2020-06-17 16:57] iukky opened #1787 "Segfaults on persistent connection when either master or slave node is down"
Segfaults in php-fpm when I was trying to test the redis cluster failover.
The redis cluster setup as below:
3 masters (A, B, C) and 3 slaves (A1, B1, C1)

### Expected behaviour
If node fails to connect, it should redirect to another node or try/catch block should catch the error.

[code]

### Actual behaviour
php-fpm often segfaults and try/catch block fails to catch the error. A possible reason

[2020-06-17 22:25] nandesu commented on #1775
I'm having no such luck with a TLS connection for Digital Ocean's managed Redis Cluster either.

[2020-06-17 22:59] bharatiadkar commented on #1745
I am still see the error
configure: error: Cannot find php_json.h

[2020-06-17 22:59] michael-grunder commented on #1787
Are you able to replicate this problem with the current `develop` branch of PhpRedis.

It sounds very similar to an issue we fixed in #1765

[2020-06-17 23:00] michael-grunder commented on #1784
Closing this issue since I'm guessing the problem is serialization.

Please feel free to reopen if this isn't the case.

[2020-06-17 23:00] #1784 closed, assigned to nobody

[2020-06-17 23:07] bharatiadkar opened #1788 "sudo pecl install redis"
### Expected behaviour
success full install
### Actual behaviour

### I'm seeing this behaviour on
- OS: Catalina 10.15.5
- Redis:
- PHP: 7.3.11
- phpredis:

### Steps to reproduce, backtrace or example script
sudo pecl install redis

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

checking for json includes... configure: error: Cannot

[2020-06-18 00:52] bharatiadkar commented on #1788
Hi,

I found this article, https://www.lecloud.net/post/3378834922/install-redis-php-extension-phpredis-with

And I started to install following the instructions.
cd /usr/local
sudo mkdir src
cd /usr/local/src
sudo mkdir phpredis-build
cd phpredis-build
sudo git clone https://www.github.com/phpredis/phpredis.git
sudo phpize
sudo ./configure
In Catalina all paths to php include file have changed. I

[2020-06-18 11:53] iukky commented on #1787
Thank you. I have tried so and no problem occurs with the develop branch.

I have an other question about slot caching. If I enables the cache slot and add a new master to redis cluster, how long does it take for phpredis to update the cache?

[2020-06-18 17:56] michael-grunder commented on #1787
PhpRedis keeps track of whether or not it has been redirected via `MOVED` responses.  If we are, the cache is invalidated when the destructor is called.

Then the next time you call `new RedisCluster()` the keyspace is mapped and cached again.  The idea here is that resharding happens rarely.

[2020-06-19 17:28] michael-grunder commented on #1787
Going to close this issue because the bug has been fixed and merged into develop.

[2020-06-19 17:28] #1787 closed, assigned to nobody

[2020-06-20 01:51] #1788 closed, assigned to nobody

[2020-06-20 02:04] bharatiadkar opened #1790 "not valid for use in process: mapped file has no Team ID and is not a platform binary (signed with custom identity or adhoc?))"
### Expected behaviour

### Actual behaviour

### I'm seeing this behaviour on
- OS: MacOS Catalina 10.15.5
- Redis:
- PHP:7.3.11
- phpredis:

### Steps to reproduce, backtrace or example script

### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

After reading all the blogs and post out there I was able to build redis.so .

But when I try