[2016-12-21 06:50] michael-grunder commented on #1073
Hi,

You're getting a warning because the keys _dont_ hash to the same slot, which means the command will not work.  The same thing would happen if you do this via `redis-cli`

[code]

[2016-12-21 07:13] remicollet commented on #1056
Will run a test build ASAP

[2016-12-21 07:20] michael-grunder commented on #1056
Thanks.  I'm setting up a 32 bit container so I can actually test this as well in the future.  :)

[2016-12-21 07:23] remicollet commented on #1056
Still have the failure (PHP 7.0, Fedora 25 i686)

[code]

[2016-12-21 07:25] michael-grunder commented on #1056
OK I'll test in a Fedora i686 container.  Thanks again!

[2016-12-21 07:26] remicollet commented on #1056
With PHP 5.4 (RHEL 6)

[code]

[2016-12-21 07:34] remicollet commented on #1056
@michael-grunder feel free to ask me for a test build when you want (such as before a release)

I can launch it quickly in my build env which includes PHP 5.4, 5.5, 5.6, 7.0, 7.1 on Fedora 22-25, RHEL 5-7, i386 and x86_64, NTS and ZTS ;)

[2016-12-21 07:44] zgb7mtr commented on #1073
Hi,
I found the command 'sunion', 'sunionstore' dont work too.

`

$redisCluster->del('s0', 's1', 's2');

$redisCluster->sAdd('s0', '1');
$redisCluster->sAdd('s0', '2');
$redisCluster->sAdd('s1', '3');
$redisCluster->sAdd('s1', '1');
$redisCluster->sAdd('s2', '3');
$redisCluster->sAdd('s2', '4');
var_dump($redisCluster->sUnion('s0', 's1', 's2'));

 var_dump($redisCluster->sUnionStore('dst', 's0',

[2016-12-21 07:45] remicollet commented on #1056
More tests, here is a scratch build on Fedora infrastructure, against php 7.1.0, which provide more arch (i686, x86_64, armv7hl, aarch64, ppc64 and ppc64le): https://koji.fedoraproject.org/koji/taskinfo?taskID=17011204

See the build logs
- i686 this reports

- ppc64 (looks like a type confusion, often in zpp call, critical on big endian)
[code]

- armv7hl same than i686 (also 32 bits)

[2016-12-21 07:49] remicollet opened #1074 "Type confusion"
In "redis_key_long_cmd"

[code]

You CANNOT do such cast (it may work on little endian, but will raise very bad things on big endian)

[2016-12-21 07:50] remicollet commented on #1074
Related to https://github.com/phpredis/phpredis/issues/1056#issuecomment-268457660

[2016-12-21 07:56] michael-grunder commented on #1073
This is a limitation of redis-server, not phpredis.  One solution is to cluster your keys which you will be using in multiple-key commands by hashing them, like `{hash}1`, `{hash}2`, which tells Redis to make sure those two keys live on the same slot.

[2016-12-21 07:57] remicollet commented on #1074
I'm working on a patch

[2016-12-21 08:26] michael-grunder commented on #1074
Thanks @remicollet.  You read my mind on the patch.  :smile:

[2016-12-21 09:08] remicollet commented on #1074
PR #1075  is ready

[2016-12-21 09:12] michael-grunder commented on #1074
Thanks again, will get this merged first thing in the morning.

[2016-12-21 10:08] zhuleilei commented on #1036
coredump show up randomly。

[code]

[2016-12-21 17:19] #1074 closed

[2016-12-21 20:12] bluec opened #1076 "Segmentation fault with 3.1.0"
I am seeing segmentation faults with 3.1.0 on both PHP 7.0 and 7.1:

3.1.0-2.el7.remi.7.1.x86_64
3.1.0-1.el6.remi.7.0.x86_64

Things were fine with 3.0.0. This is very reproducable for me across two different servers and on both CentOS 6 and CentOS 7.

Would gladly like to provide more details but I would need guidance on how to do so. There is nothing in the application logs and the web server lo

[2016-12-21 20:45] #1073 closed

[2016-12-21 20:49] michael-grunder commented on #1076
Hi,

We found a couple of issues with 3.1.0 that could cause a SIGSEGV.  I believe the issues have been sorted on the present develop branch.  I'm actually about to tag develop as 3.1.1-RC1, with a pecl release shortly after (making sure there aren't any regressions, etc).

[2016-12-22 04:26] tillkruss opened #1077 "Can't communicate with any node in the cluster"
We're seeing the following exception:

[code]

However when we use Predis we can connect and interact with the cluster.

Is this related to https://github.com/phpredis/phpredis/pull/774 or are we doing something wrong?

[2016-12-22 04:46] michael-grunder commented on #1077
Hey,

I'm not sure.  What's the nature of your cluster setup?  That message happens when phpredis can't write to any nodes in the cluster for whatever reason.

Does phpredis never connect and work, or does it work for a while and then fail?

[2016-12-22 04:48] tillkruss commented on #1077
Never works, it's a fresh setup from today. The weird thing is that Predis connects without an issue from the same machine, same code, just different driver.

The connection is straight forward:

[code]

[2016-12-22 05:25] aolley commented on #1077
Try dropping the "?database=0" part from the list of servers.

[2016-12-22 05:32] tillkruss commented on #1077
Already tried that, same error.

[2016-12-22 06:11] michael-grunder commented on #1077
Can you connect to a cluster locally (e.g. run `php TestRedis.php --class RedisCluster`?

What version of redis-server.  Are you using authentication, etc?

[2016-12-22 06:45] tillkruss commented on #1077
- PHP 7.1.0 on MacOS.
- PhpRedis 3.0.0
- redis_version:3.2.6
- no auth

When running the tests I see:

[code]

[2016-12-22 06:47] michael-grunder commented on #1077
That's part of redis server.  It'll be wherever the redis-server binary
is.  Just symlink it somewhere executable.

On Wed, Dec 21, 2016, 10:45 PM Till Krüss <notifications@github.com> wrote:

[2016-12-22 09:02] Jerry-Shaw commented on #1047
@mlhkr
I just compiled the latest develop branch under windows 10 x64. But, it fails in more tests as pasted than PHP7 branch. I still keep using PHP7 branch instead.

D:\PGO_ENV\RedisTest>"D:\PGO_ENV\PHP7.1\php.exe" "D:\PGO_ENV\RedisTest\TestRedis
.php"
Note: these tests might take up to a minute. Don't worry :-)
Using PHP version 7.1.0
Testing class Redis
testMinimumVersion			[PASSED]
testPing

[2016-12-22 16:27] taylorotwell commented on #1077
Can confirm I'm seeing the same issue when trying to connect to a remote Redis cluster. Works using Predis on my end as well.

[2016-12-22 17:25] tillkruss commented on #1077
Both 3.0.0 and 3.1.1 both say `All tests passed. \o/`. 3.1.1 skipped a few more tests than 3.0.0 when running `php TestRedis.php --class RedisCluster`.

[2016-12-22 17:35] hver commented on #1076
Hi,

we are getting the same segfaults in php5.6. In our case php can use `save()`, but on `get()` php crashes. Also php crashes only if the key has value. Here is an example of the value:
`"\x00\x00\x00\x02\x11\x80v8NfOMbj2GjkwCVPS3uAnrH4z2I9BIwf+kR9KoXYE6WM/nqcwRAoMMhgKRYIk4a4j+pfol/uz25inG0ZiEgzP//IdGcOJ3tvPegG5SxPoxppouw+syO+xz7bYqeHjiyj"`

We use the PPA ppa:ondrej/php, and it on 21 Dec the v

[2016-12-22 18:54] #1056 closed

[2016-12-22 20:32] michael-grunder commented on #1076
I'm not sure about the downstream repo, but this should be fixed here on 3.1.1RC1.  I'm planning to push this to PECL over the weekend.  I just want to give it some time in case any new issues come up.

[2016-12-24 06:50] #1077 closed

[2016-12-27 20:57] nicofff commented on #974
Hey @keigokeigo,
Did you find a solution to this?

I'm seeing similar errors with either persistance or distributing reads to the slaves.
Disabling both seems to be a lot more stable

[2016-12-27 21:17] ali-husain commented on #1076
Was just about to open this!  You guys are fast.  Thanks.

[2016-12-27 21:46] jesseforrest opened #1079 "session_start(): Failed to initialize storage module"
We are seeing an issue related to:
 - Ubuntu 14.04
 - Redis cluster 3.0.0
 - php-redis
 - PHP 7.0
 - Apache 2.4.7

Whenever we see a spike in user traffic, we see a lot of the following errors in our application error logs:
[code]
I've replaced our hostnames with `<hostname>`, ports with `<port>`, prefix with `<prefix>`.

What gets stranger is that once this happens, those failed connections are n

[2016-12-27 22:04] michael-grunder commented on #1076
I believe the segfaults are fixed in 3.1.1.  Are you able to run that version? (Tagged 3.1.1rc1 here).

I'll update the thread when this is up on pecl.

[2016-12-28 14:53] busyfree commented on #715
php7.1 with pecl install  phpredis 3.1.0 , use  cluster has error occurred
[28-Dec-2016 22:47:38] WARNING: [pool www] child 920 exited on signal 11 (SIGSEGV - core dumped) after 38.258603 seconds from start
[28-Dec-2016 22:47:38] NOTICE: [pool www] child 951 started

[2016-12-28 19:05] michael-grunder commented on #715
@busyfree Fixed in 3.1.1.  I'm going to upload a new pecl release today.

[2016-12-28 20:23] nicofff opened #1080 "Wrong key is read (among other errors)"
We are seeing several Redis related errors, after migrating to PHP7 and php-redis 3.0.0 eg:
· RedisCluster::del(): Invalid reply type returned for DEL command
· Uncaught RedisException: socket error on read socket

Upon further inspection we've found keys that are incorrectly read, having the content of other keys. We've found no evidence of corruption during write operations yet.

This is on the

[2016-12-28 20:24] ajbonner commented on #1076
Like the original issue reporter, I had issues with magento when logging into admin (using the Cm_RedisSession module).

3.0.0 works fine, 3.10 blew up, and 3.1.1-RC1 still has the same problem.

Attempting to start a session triggers a segmentation fault in PHP-FPM. Has anyone else had success with 3.1.1-RC1?

[2016-12-28 20:32] michael-grunder commented on #1076
Hi,

Thanks for the issue report.  I thought we caught all of the segfaults in 3.1.1 but perhaps not.  Are you using redis cluster for your sessions or just the normal redis session handler?  Does the segfault occur every time or only sporadically (assuming it doesn't crash immediately for me, the hardest part here will be replicating it).

Mike

[2016-12-28 20:50] ajbonner commented on #1076
Hi Michael, it crashes immediately (whenever a new session is started). For me it's triggered for example after successfully authenticating in magento's admin login page when it goes to start a new admin session. It happens 100% of the time. The Cm_RedisSession module uses the normal redis session handler.

I'll try and track down the specific code that's firing during the segfault and I'll see if

[2016-12-28 21:06] yatsukhnenko commented on #1076
@ajbonner, @michael-grunder, if I'm not mistaken `Cm_RedisSession` uses custom session handler which just does calls of phpredis functions. We need to see backtrace from core dump to understand the nature of the problem.

[2016-12-28 21:33] ajbonner commented on #1076
Please forgive me if I've done anything wrong with the backtrace, I've installed the debug symbols for redis and php but I'm not sure if I've forgotten to do anything that would stop the 'optimized out' bits below. Let me know if there's a trick to including more relevant information.

The specific line of code that fires in PHP space is this one

https://github.com/OpenMage/magento-mirror/blob/ma

[2016-12-29 02:57] keigokeigo commented on #974
@nicofff
Thank you for your reply.

Unfortunately we are still struggling with it.
But we made some changes below to reduce such situation.
It's not been completely resolved yet.

[1] Apache setting `MaxRequestsPerChild`

I assumed some memory corruption is happening under the situation.
So I gave a life cycle to Apache forked child processes.
That enables child process to restart about every 5 mi

[2016-12-29 04:05] busyfree commented on #715
thanks

[2016-12-29 06:18] LfengKo opened #1081 "Need php_redis.dll complied bainry"
Could someone please compile phpredis and put them on the following url?  :)

http://windows.php.net/downloads/pecl/releases/redis/3.1.0/

I 'm waiting for the PHP 7.1 binary version, and I think many people are waiting like me.
Thanks a million.

[2016-12-29 09:40] nick-william opened #1082 "redis get key return "+ok" when use pconnect in php-fpm"
when use pconnect in php-fpm. we get return "+ok", occurs once every three times.

if i restart php-fpm, return is normal. but issue will reproduce after a day of operation

Redis Version => 3.0.0
PHP 7.0.7 (cli)
Linux VM_28_230_centos 2.6.32-431.el6.x86_64

php script display as follow :

MONITOR information as shown below：

[2016-12-29 13:15] nicofff commented on #974
hi @keigokeigo. I'm not a phpredis dev, I'm just another fellow admin in distress.

Out of curiosity, what PHP and phpredis versions are you using?

[2016-12-29 15:27] ajbonner commented on #1076
I've spent some time trying to boil this down to something reproducible and the best I've managed so far is to trigger the segfault via the credis library. I'll work further to try and distill this down to pure use of the Redis extension itself. But in the meantime here's the code needed to reproduce the issue for me

https://github.com/ajbonner/credis

Run segfault.php with redis 3.1.1-rc1 and it

[2016-12-30 00:19] jesseforrest commented on #1079
I think the issue may have been with our Redis cluster configuration. Since a different cluster seems to be working. Going to close this for now.

[2016-12-30 00:19] #1079 closed

[2016-12-30 01:34] keigokeigo commented on #974
Hi, @nicofff .

Sorry about that.

The versions are,
- php-5.4.34
- php-pecl-igbinary-1.2.1
- **php-redis-2.2.8**
- php-pecl-zendopcache-7.0.5
- php-pecl-apcu-4.0.11

Hope above information helps you.

BTW,
I found a similar issue you posted "Wrong key is read (among other errors) · Issue #1080".
I think it is deeply linked with here. Let me keep track with it.

Thanks.

[2016-12-30 05:02] michael-grunder commented on #1076
@ajbonner Your example crashes for me too, and I was able to make phpredis 3.1.1rc1 crash independant of credis as well so I should be able to track.  I'll update this thread when I have something.

[2016-12-30 11:21] petitchevalroux commented on #428
This "strange" behaviour still affect 2.2.7

Code:
[code]
Output:
[code]
Monitor output:
[code]

BTW, I want to ask something not related directly to this getDBNum behaviour. Is it normal that:
[code]
Correspond to a read in db 1 in redis monitor (and not only in monitor) :
[code]
From a developer's perspective it's a bit strange (maybe just warning in doc is enough).

[2016-12-30 12:22] yatsukhnenko commented on #428
@MaideCa, @petitchevalroux, `pconnect` mean that php will not close socket to the server but all internal structures of phpredis always reinitializes with default values.

[2016-12-30 12:27] yatsukhnenko commented on #1076
@michael-grunder, this is php7 specific crash

[2016-12-30 13:42] petitchevalroux commented on #428
@yatsukhnenko in fact, it seems that sock (where dbNumber is stored) is not shared between php redis instances when selecting a new db. This may explain the error @MaideCa report.

In persistent mode, shouldn't be the sock shared ?

[2016-12-30 16:21] adamdyson commented on #1076
Our servers running PHP 7.0.14 are effected by this as well. I've disabled the extension, now relying solely on the credis library until a fix is provided.

[2016-12-30 18:47] inwel commented on #818
I had the same problem and found it to be a wrong variable type. The session handlers read method is expected to return a string. This workaround fixes it:

[code]
also see: https://bugs.php.net/bug.php?id=71187

[2016-12-31 02:09] in3rsha opened #1083 "Unable to initialize module"
Hi, I just upgraded from **php7.0** to **php7.1**.

However, when I try and run php I get this error:

[code]

I've tried re-installing php-redis7/ with:

[code]

But it doesn't fix the error.

Where should I go from here?

[2017-01-01 15:19] ajbonner commented on #1083
The module is building against PHP 7 and being run on PHP7.1.

Check the output of phpize and ensure it's building against PHP 7.1, perhaps there's a phpize7.1 on your system (I use ondrej's php ppa and it provides version specific variants).

[2017-01-03 01:55] michael-grunder commented on #1076
@ajbonner I believe this is fixed in the `issue.1076` branch.

[2017-01-03 02:56] ajbonner commented on #1076
@michael-grunder I tested this branch, both against credis and magento, and it's working for me perfectly.

Thanks for your hard work fixing this!

[2017-01-03 10:54] FreekVandeursen commented on #1076
I was experiencing this issue as well when trying to install Phpredis on Magento with CM_RedisSession. I can confirm that the issue.1076 branch fixed it.

[2017-01-03 17:05] #1076 closed

[2017-01-04 02:22] yeszao commented on #184
In my case, `session.gc_maxlifetime`  was the reason. I get the error because  `session.gc_maxlifetime` was set to 144000000000. it will overflow and become a non-positive expire time passed to Redis.

These just delete the key, see: https://redis.io/commands/expire.

I had tested that the maximum expire time in Redis was 2147483647 (0x7fffffff).

So, I solved this issue by set `session.gc_maxlife

[2017-01-04 02:24] yeszao commented on #188
In my case, `session.gc_maxlifetime`  was the reason. I get the error because  `session.gc_maxlifetime` was set to 144000000000. it will overflow and become a non-positive expire time passed to Redis.

These just delete the key, see: https://redis.io/commands/expire.

I had tested that the maximum expire time in Redis was 2147483647 (0x7fffffff).

So, I solved this issue by set `session.gc_maxlife

[2017-01-04 03:25] ppanphper commented on #474
PHP7.1.0+phpredis-3.1.0
[2017-01-04 03:18:24.999684] [Notice] RedisCluster::set(): send of 3182 bytes failed with errno=32 Broken pipe at /home/development/pandy/Swoole_Pool/RedisPool/RedisClient.php[512]
[2017-01-04 03:18:24.999892] [Notice] RedisCluster::set(): send of 3182 bytes failed with errno=32 Broken pipe at /home/development/pandy/Swoole_Pool/RedisPool/RedisClient.php[512]
[2017-01-04 03

[2017-01-04 07:57] ppanphper opened #1084 "Broken pipe and Receives multiple results"
Concurrent high when there will be pipeline rupture, the receiving results are not accurate and so on.
![image](https://cloud.githubusercontent.com/assets/6057923/21634976/dd7ff944-d295-11e6-92ac-271c10d35939.png)
![image](https://cloud.githubusercontent.com/assets/6057923/21634989/e727f992-d295-11e6-9edf-f592aa44c85b.png)

[2017-01-04 16:30] busyfree commented on #715
@michael-grunder   i reinstall phpredis with phpredis-3.1.1RC1,and error also has occured,i confused with it ,this bug occured in php-7.10 and enable opcache,but ok in php-7.10 without opcache,may be not compatible php7 with opcache.

[2017-01-04 19:15] michael-grunder commented on #715
I'll download the opcache extension and see if I can break it.  Is this running in php-fpm?

[2017-01-04 19:50] catherinetsokur opened #1085 "getLastError() doesn't return "NOAUTH Authentication required" for multiple keys operations (mGet, hMget)"
Hi there! I've faced an unexpected behaviour of the code when using password authentication on the Redis server. I was handling authentication errors and figured out, that in the case of multiple keys operations, such as _mGet_ and _hMget_, function _getLastError_() doesn't return any error when authentication was not successful. Methods _mGet_ and _hMget_ themselves return _false_ instead of expe

[2017-01-05 02:39] busyfree commented on #715
yes

[2017-01-05 20:38] yatsukhnenko commented on #1054
@remicollet, @michael-grunder, is this issue fixed? Should we close it?

[2017-01-05 20:39] #1054 closed

[2017-01-06 01:11] michael-grunder commented on #1085
Hi,

What version of phpredis are you using?  If I use the wrong password then for me whatever the next command I try throws an exception.

[code]

Correct password:
[code]

Incorrect password:
[code]

[2017-01-06 12:39] catherinetsokur commented on #1085
PHP Version 5.5.9-1ubuntu4.20
Redis Version	2.2.4
Is this the version where exceptions were added - https://github.com/phpredis/phpredis/releases/tag/3.0.0?
Throwing an exception is desired behaviour, indeed! If so - then I believe upgrading should solve the issue. Thank you!

[2017-01-07 21:30] yatsukhnenko commented on #628
Fixed by 5625b998

[2017-01-07 21:30] #628 closed

[2017-01-08 15:48] #748 closed

[2017-01-08 15:49] yatsukhnenko commented on #752
👍

[2017-01-08 16:00] yatsukhnenko commented on #611
http://php.net/manual/en/language.types.float.php

[2017-01-08 16:00] #611 closed

[2017-01-08 23:33] CameronHall opened #1086 "Get Key with value of zero returns NULL"
Hi there,

I'm currently using PHP 5.6 and phpredis 2.2.7 It seems like phpredis is having trouble with keys that have a value of zero.

### Current Behaviour
[code]
### Expected Behaviour
[code]

[2017-01-09 04:02] mumingv commented on #1082
i encounter the same issue.

<?php
$redis = new Redis();
if (!$redis->connect('127.0.0.1')) {
    echo "connect() return fail.\n";
    exit;
} else {
    echo "connect() return successfully.\n";
}
$ret = $redis->pSetEx("foo", 30000, "bar");
var_dump($ret);
if ($ret !== true) {
    echo "pSetEx() return fail.\n";
    exit;
} else {
    echo "pSetEx() return successfully.\n";
}

$ php pSetEx.php
con

[2017-01-09 16:00] shyandsy commented on #941
same problem on php 7.1

[2017-01-10 07:36] ppanphper commented on #795
+1

[2017-01-10 07:47] ppanphper commented on #795
redis_cluster_init {
...
/* Set our timeout and read_timeout which we'll pass through to the
     * socket type operations */
    c->timeout = timeout;
    c->read_timeout = read_timeout;

    /* Set our option to use or not use persistent connections */
    c->persistent = persistent;

    /* Calculate the number of miliseconds we will wait when bouncing around,
     * (e.g. a node goes down), wh

[2017-01-10 09:13] hydrapolic commented on #1062
Same issue, updating to 3.1.1RC1 helped. Please consider releasing 3.1.1. Thank you.

[2017-01-10 15:04] manchuck commented on #678
I am able to reproduce this when using a redis cluster for session management.  I'm not that great with C (especially with pointers), but could this issue be here:

https://github.com/phpredis/phpredis/blob/develop/redis_session.c#L546

What will happen if *keylen is pointing to null?

[2017-01-10 18:29] yatsukhnenko commented on #1086
@CameronHall, 2.2.7 is  too old. Try 3.1.1RC1

[2017-01-10 18:29] #1086 closed

[2017-01-10 18:44] #1085 closed

[2017-01-10 18:46] yatsukhnenko commented on #678
@manchuck, do you have a script to reproduce this issue?
BTW, keylen is not a pointer :)

[2017-01-10 20:26] manchuck commented on #678
@yatsukhnenko Thanks for that (its been a long time since I played with C back in high school).  I will throw the script up on on a gist (Im using ZF3 Zend-Session)

Some other notable information is that the redis cluster is running on AWS which is redis version 3.2.4 if that makes any difference

[2017-01-10 20:38] manchuck commented on #678
Here you go: https://gist.github.com/manchuck/760992be62e6726999302cf782288d0b

[2017-01-10 21:05] yatsukhnenko commented on #678
Thanks, @manchuck. I forgot to ask what version of phpredis do you use?

[2017-01-10 21:08] yatsukhnenko commented on #1084
@ppanphper, could you provide more details about issue?

[2017-01-10 21:13] yatsukhnenko commented on #1082
@nick-william, @mumingv, what version of phpredis do you use?

[2017-01-10 21:15] yatsukhnenko commented on #1080
@nicofff, try 3.1.1RC1

[2017-01-10 21:27] manchuck commented on #678
3.0.0-rc I compiled it from commit ddfc55ed0aa0a59bbb45c01c42642939b9e262d4

[2017-01-10 21:32] yatsukhnenko commented on #678
Try the latest commit from `develop` branch or from tag 3.1.1RC1

[2017-01-10 21:43] manchuck commented on #678
I will update right now to see if that resolves the issue.

FYI
I was doing some testing and I was not getting the out of memory in my local env.  After some digging, I noticed that the production image is on php 7.0.13 and locally I was on 7.0.11.  After updating my local to 7.0.13 and I was able to get the out of memory exception

I am going to try the 3.1.1 tag and see if that resolves the issu

[2017-01-10 22:21] manchuck commented on #678
No go on the 3.1.1 tag:

[code]

[2017-01-11 01:10] CameronHall commented on #1086
@yatsukhnenko Correct me if I'm wrong but I don't believe > 3.0 support PHP 5.6?

[2017-01-11 01:52] aolley commented on #1086
@CameronHall phpredis 3.1.x supports php 5.6, 3.0 is just when they also added php7 support.

[2017-01-11 02:07] nick-william commented on #1082
phpredis version => 3.0.3 @yatsukhnenko

[2017-01-11 05:08] yatsukhnenko commented on #1082
@nick-william, try 3.1.1RC1

[2017-01-11 07:57] Liangkk commented on #614
@Hmily-LCG 请问如何使用补丁?

[2017-01-11 12:50] ppanphper commented on #1084
@yatsukhnenko
PHP version is 7.1.0
The redis version is 3.1.0
I use the Swoole multi-process model to do the connection pool, the use of short connections,
Pressure measurement will appear broken pipe, receive the result is not correct and so on.
The screenshot above is what I caught in the pressure measurement time.
Later I try to use predis for pressure measurement, the above error does not appe

[2017-01-11 13:54] AlexNodex opened #1087 "Hstrlen"
Hi.

Will support for https://redis.io/commands/hstrlen ever be added?

Thanks in advance

[2017-01-11 16:29] manchuck commented on #678
It seems that upgrading to PHP 7.1 resolves the issue (at least in a docker container).  Im going to test it out on our development environments

[2017-01-11 16:53] manchuck commented on #678
Switching over to PHP 7.1 resolves this issue

[2017-01-11 17:06] michael-grunder commented on #678
I'm glad upgrading to 7.1 fixes the issue.  I'll try playing around with it to see if I can cause the issue outside of the ZendFramework.  I have no idea how that works, and it appears to be massive.  :)

[2017-01-11 23:42] CameronHall commented on #1086
@aolley thank you for the clarification. Greatly appreciated.

[2017-01-12 06:03] scaytrase commented on #725
@MibuSawatori for 7.0 yes. what about 7.1?

[2017-01-12 12:19] psfit commented on #1080
Hi @yatsukhnenko ,
I am a co worker of @nicofff. He is on holidays right now.

I have updated the version and while it seems more stable it still gives errors under heavy load:
zend_mm_heap corrupted

Once that happened it fails to get some keys randomly, and after a while everything is working again.

Thanks.

[2017-01-12 13:19] yatsukhnenko commented on #1080
@psfit, could you show a backtrace for this crash?

[2017-01-13 15:16] wernight commented on #1062
Any plan to release 3.1.1 shortly? pecl doesn't support RC I think.

[2017-01-13 19:19] mahngiel commented on #818
Came across this as well with Docker `php:7.0-apache` + `redis-3.1.0` with Redis version 3.2.6.

Confirm workaround posted above works. Here's usage with PHP7's anonymous class
[code]

[2017-01-13 21:25] jportoles commented on #818
I'm seeing this issue as well. I think that commit 18c7ab007649f068075880984e59938b849b5ab5 should fix it, but 3.1.1 is not published on PECL yet.

[2017-01-16 05:52] remicollet commented on #1062
PECL support RC. Indeed a 3.1.1RC will be welcome.

[2017-01-16 05:54] krakjoe commented on #1062
*/me makes noise*

If someone can do a PECL RC, @remicollet can package that ... HUGE unblock ...

*/me makes more noise*

[2017-01-16 18:43] michael-grunder commented on #1062
Decided to go with beta stability so we can catch anything we've missed.  If there aren't any issues 3.1.1. stable can go up very soon:
https://pecl.php.net/package/redis/3.1.1RC2

[2017-01-16 20:46] tmwilder opened #1088 "PHP 7.1 segfault"
Hi guys - I've been Googling around trying to root cause a transient issue I'm seeing.

I can consistently reproduce it via user traffic but so far have been unable to get a min repro. I found endpoints that cause this via tcpdump and looking for missed responses then overlaying timestamps and pids against the error logs, and the calls do not follow any general pattern or deterministically generat

[2017-01-16 20:51] michael-grunder commented on #1088
Hi.  What version of phpredis is this.  I'm unfamiliar with the specific repo

There were some stability issues found in 3.1.0 but most were fixed in 3.1.1.  There is a beta up on pecl.

[2017-01-16 21:21] mpoiriert opened #1089 "Timeout causing all php request to fail"
I am getting this error

`Uncaught PHP Exception Predis\Connection\ConnectionException: "Connection timed out [XXX]" at ./vendor/predis/predis/src/Connection/AbstractConnection.php line 168 `

I am using Predis trough symfony/SncRedisBundle and AWS.

The issue we see is that once we get a connection timed out almost all the other request on the same server fail. We need to start a new EC2 machine.

[2017-01-16 21:29] yatsukhnenko commented on #1089
Is this issue related to phpredis?

[2017-01-16 21:31] michael-grunder commented on #1089
I think you're looking for this repo: https://github.com/nrk/predis

[2017-01-16 21:32] #1089 closed

[2017-01-16 21:33] mpoiriert commented on #1089
To be honest with you it's really hard to know where it's coming from, I open the same issue on predis but seems to be a a lower level (may even be networking...). I look on the web didn't find any solution. Some raise a concern about being related to persistent connection but since we are using ngninx and php-fpm it should not.

[2017-01-16 21:36] michael-grunder commented on #1089
Predis doesn't use phpredis at all afaik.  It uses phpiredis under the hood optionally.

https://github.com/nrk/phpiredis

[2017-01-16 21:38] mpoiriert commented on #1089
Ok thanks, hopefully they will be able to help !

[2017-01-16 21:42] tmwilder commented on #1088
The author publishes most of the php ecosystem in a set of self-compatible packages with some alternatives convenience wrappers. Here is the specific listing for php-redis: https://launchpad.net/~ondrej/+archive/ubuntu/php/+sourcepub/7370603/+listing-archive-extra

Pulling down the source it looks like he built from the 3.1.1 RC by looking at php-redis.h:
[code]

[2017-01-16 23:28] tmwilder commented on #1088
Interestingly, the behavior seems to hinge on whether or not opcache is enabled.

[2017-01-16 23:57] dzuelke opened #1090 "3.1.1RC2 is on PECL, but tag missing on GitHub"

[2017-01-17 01:04] michael-grunder commented on #1090
Tag is up.  Thanks for reminding me :)

[2017-01-17 01:04] #1090 closed

[2017-01-17 01:05] michael-grunder commented on #1088
I've heard this before.  I'll try running phpredis with opcache enabled and see what breaks.

[2017-01-17 11:04] AlexNodex opened #1091 "Documentation error"
Hi.

In your "setEx" documentation you state that the time is in milliseconds however in the example you give you give 3600 and call it an hour which is the number of SECONDS in an hour not milliseconds!

[2017-01-17 12:09] yatsukhnenko commented on #1091
https://github.com/phpredis/phpredis#setex-psetex

[2017-01-17 12:09] #1091 closed

[2017-01-17 13:08] nicolas-grekas opened #1092 "Redis::mGet() & co. should be declared as variadic"
On PHP >5.6,
[code]

This should return true.

[2017-01-17 14:33] dzuelke commented on #1090
3.1.0 is also missing, I just realized, @michael-grunder :)

[2017-01-17 15:32] guaycuru commented on #725
@scaytrase I just downloaded for PHP 7.1 from: http://windows.php.net/downloads/pecl/releases/redis/3.1.1rc2/

[2017-01-17 16:01] michael-grunder commented on #1092
I'm not totally clear on how this works in the Zend api but I think it has to do with how arguments are defined.  Because phpredis has so many methods it's not a small project.

Good news is that a lot of functions are generic so it is doable.  We'll look at it for the next release.

[2017-01-17 19:27] wernight commented on #1062
Used it and also fixed the issue for me.

Le lun. 16 janv. 2017 à 19:44, Michael Grunder <notifications@github.com> a
écrit :

[2017-01-17 21:25] yatsukhnenko commented on #1092
#1055

[2017-01-18 00:22] tmwilder commented on #1088
As another data point I tried replacing our cache calls with nrk/predis while opcache is enabled and do not get a repro of the segfault.

[2017-01-18 19:18] michael-grunder commented on #1088
Hey,

I would expect Predis to work as it's pure php.

Can you paste the opcache related settings you're using from `phpinfo()`.  I managed to get opcached built properly and added to a build of php 7.1.0 and tried various things with RedisArray but was unable to make anything break.

Without being able to reproduce a segfault it's going to be pretty tough to track down.  I have a couple of wild g

[2017-01-18 21:12] tmwilder commented on #1088
[code]

[2017-01-18 21:12] tmwilder commented on #1088
I copied the suggested install settings from the official install page and otherwise left the defaults intact.

[2017-01-18 21:14] tmwilder commented on #1088
Another interesting data point is that an identical non-prod box under heavy simulated traffic to a core user happy path does not repro, while actual prod traffic does almost immediately. Main difference there is that the prod traffic has a wider range of paths - so possibly more redis exercise, or more different files loaded into opcache.

[2017-01-18 21:16] tmwilder commented on #1088
I've also tried a few wild guess local things like shoving strings larger than the interned strings buffer into redis to no avail.

[2017-01-19 07:23] yatsukhnenko opened #1093 "PHP 7.0 Segfault"
[code]

[2017-01-19 08:29] yatsukhnenko commented on #1093
[code]

[2017-01-19 08:45] michael-grunder commented on #1093
Might help find the other redis array segfault we're seeing.

[2017-01-20 08:59] rogeshu1990 opened #1094 "scan function returns null"
I follow the sample code of scan usage, it always return null. Does anyone know what caused it? Thanks......

[2017-01-20 11:47] dzuelke commented on #1062
Any chance for a stable release @michael-grunder?

[2017-01-20 13:49] boboldehampsink commented on #1062
3.1.1 fixed it for me, hoping for a quick stable

[2017-01-21 08:38] wangjinbei opened #1095 "Centos 6.5 and gcc 4.4.7 segment fault"
os: Linux VM_28_230_centos 2.6.32-431.el6.x86_64 #1 SMP Fri Nov 22 03:15:09 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

gcc : 4.4.7 20120313 (Red Hat 4.4.7-11) (GCC)

php: PHP 7.0.7 (cli) (built: Nov 21 2016 17:49:02) ( NTS )

phpredis  => 3.1.0

When run demo.php display as follow,  segment fault occurs.
But if install in Centos 7 and gcc 4.8.5  , demo operate normal.

[code]

[code]

[2017-01-22 11:02] wcl7592059 commented on #736
我使用2.2.5版本，在new ReudisCluster 的时候传第5个参数长连接报错，说只支持4个参数，怎么才能使用长连接

[2017-01-22 12:22] yatsukhnenko commented on #1094
What version of phpredis do you use? Could you provide code example?

[2017-01-22 12:27] yatsukhnenko commented on #1083
@in3rsha, you should execute `sudo make install` instead of `sudo install`

[2017-01-22 12:30] yatsukhnenko commented on #1081
@LfengKo, http://windows.php.net/downloads/pecl/releases/redis/3.1.1RC2/

[2017-01-22 12:48] yatsukhnenko commented on #1007
Let's assume that the problem is fixed 😀

[2017-01-22 12:48] #1007 closed

[2017-01-22 13:01] yatsukhnenko commented on #995
Probably fixed in 3.1.1RC

[2017-01-22 13:01] #995 closed

[2017-01-22 13:03] yatsukhnenko commented on #980
Not a bug

[2017-01-22 13:03] #980 closed

[2017-01-22 15:45] yatsukhnenko commented on #767
Is this issue fixed?

[2017-01-22 15:47] #753 closed

[2017-01-22 15:54] #725 closed

[2017-01-22 15:57] #663 closed

[2017-01-22 16:00] #580 closed

[2017-01-22 16:01] #579 closed

[2017-01-24 21:28] 1ma commented on #37
To anyone that might be interested, I wrote an alternative session handler  for Redis that supports per-session locking and session fixation protection (https://github.com/phpredis/phpredis/issues/1033).

https://github.com/1ma/RedisSessionHandler

Its not battle tested yet, but it has a rather comprehensive suit of end to end tests that exercise the locking mechanism. Feedback welcome.

PD: I am

[2017-01-25 09:15] giviz commented on #748
That issue as been reopened by an other commit.

Argument needs to be set from 2 to 1 again.

Thanks

[2017-01-25 10:10] wanglingsong opened #1096 "3.1.0 version doesn't work well with PHP 7"
I'm running an application with phpredis extention 3.1.0 and php 7 in docker.
The php-fpm process keep throwing following error message:
php-fpm child process exited on signal 11
When I downgrade the phpredis to 3.0.0 or downgrade php to 5.6, the error gone.

[2017-01-25 13:08] yatsukhnenko commented on #1096
@wanglingsong, many errors were fixed in 3.1.1RC. Could you test it?

[2017-01-25 13:20] wanglingsong commented on #1096
Sure. Will do later

[2017-01-25 16:18] MatthiasKuehneEllerhold commented on #762
Seems like this error was fixed in newer versions. I'm not getting any errors anymore!
Versions used:
[code]

[2017-01-25 20:40] silviucpp commented on #614
Hello,

This is a very annoying bug I have in production as well. There is any fix on this ?
Once I switched from pconnect to connect everything seems fine.

Silviu

[2017-01-29 13:26] janreges opened #1097 "PHP 7.1 + Pecl-Redis-3.1.1RC2 - ignored session.save_path in php.ini"
Hi,

i don't know, whether it is issue in PHP-FPM, or in Pecl-Redis library.

My php.ini for PHP-FPM contains:
[code]
phpinfo() also shows this proper setting.

But PHP scripts that are using session, end up with exception "Connection closed".

I discovered, that when i set `php_admin_value[session.save_path] = tcp://127.0.0.1:6379`  in `php-fpm.conf`, it works.

So, PHP-FPM or Pecl-Redis library

[2017-01-29 13:34] remicollet commented on #1097
if session.save_handler is set in pool configuration (which is the case in some linux distro, Fedora, RHEL, Centos...) you indeed have to change it there. This is the expected behavior.

TLDR: having a global configuration in php.ini for session.save_path was terribly wrong, as it raise issue, especially when "root" run some scripts which cannot be clean later by other user (apache, fpm, nginx...)

[2017-01-29 13:46] janreges commented on #1097
Aaa, thank you @remicollet ! 👍

It makes sense, thank you for your explanation.

Main confusion is, that phpinfo() contains session.save_path with expected value. Requirement to overwriting it from php-fpm.conf to same value is weird, but working solution.

Thank you for your support and have a nice day.

[2017-01-29 13:46] #1097 closed

[2017-01-29 19:43] rbraband commented on #524
Thank you for Fixing that.
Today I search around wh my Code hang up aftre moved Server from PHP5.5 to 5.6.
I run a cli bot and my syslog fetch the Errors:
``kernel: [278690.483580] traps: php[661] general protection ip:6cf088 sp:7ffee4c66390 error:0 in php5[400000+7f5000]``
I fix araound 5 issues with _NULL_ and than I have many values with true/false ... but I found there is an update... 2.2.8 so

[2017-01-30 10:12] theintz commented on #832
We are seeing the same issue with version 2.2.7 on Ubuntu 16.04. We integrated the workaround you described in Option 4, which is ugly as hell to say the least. It should not be a huge issue to properly reset the internal state of the Redis object after a call to discard() so we are hoping that the developers take a little time to fix this.
It does however look like no one actually uses the multi

[2017-01-30 18:28] ktwalrus opened #1098 "PECL install for PHP 7.1.1"
I install using PECL, but I get an error when using PHP 7.1.1.

[code]
Is there really an incompatibility?

[2017-01-31 12:05] fabiocarneiro commented on #1098
Same here. I'm using 7.1.0 for now. I guess it should be less strict about version number. This is a minor, and it follows semver, which means its backwards compatible. You probably don't want to keep updating minors every time a new php minor is released.

[2017-01-31 20:38] tflori commented on #1062
doh - just updated to php 7.1 (arch linux) now I have the same problem - still on 3.1.0-4 wating for 3.1.1

[2017-01-31 20:41] dzuelke commented on #1096
@wanglingsong any update?

[2017-02-01 13:48] expthedev commented on #1098
I think this has been resolved today

[2017-02-01 19:58] TysonAndre opened #1100 "testPubsub aborts with assertion error in php compiled with --enable-debug (as of ~3.1.0?)"
Important flags are probably --enable-maintainer-zts and --enable-debug.
Haven't yet tried it in latest 7.0 and 7.1.
When I ran tests with a checkout of phpredis 3.0.0, tests (including testPubSub) passed.

This happens whether or not --enable-redis-igbinary or --disable-redis-igbinary is used.

[code]

[code]

valgrind didn't show anything interesting, just the same assertion error.

[2017-02-01 20:01] TysonAndre opened #1101 "Add 32-bit php builds, php builds with --enable-debug and/or --enable-maintainer-zts to .travis.yml"
An example of building php with alternative flags can be seen at https://github.com/igbinary/igbinary/blob/master/.travis.yml

This would help catch reference counting errors, bugs in 32-bit builds, etc.

This would increase overall travis time, but the matrix exclude can be used to exclude some of the new entries for php versions older than 5.6, to minimize the effect

[2017-02-02 02:45] tmwilder commented on #1088
Seeing almost identical symptoms on PHP Oauth extension: https://bugs.php.net/bug.php?id=74030

[2017-02-03 12:38] wanglingsong commented on #1096
Sorry. I'm on vacation now. I will test it next week.

[2017-02-03 22:04] alexbowers opened #1102 "Read error on connection"
Link to downstream https://github.com/antirez/redis/issues/3792

When monitoring redis `redis-cli monitor`.

And running the following script:

[code]

[code]

[2017-02-06 03:54] wanglingsong commented on #1096
@dzuelke I tested it on 3.1.1 and 3.1.1RC2. Both failed and still throw the error which make some of http requests become 501 bad gateway

[2017-02-06 05:04] dzuelke commented on #1096
So do you have a reproduce case?

[2017-02-06 10:22] alexbowers commented on #1102
Testing the same basic script on:

- Python
- Ruby
- Predis

I get an exception different, but at the same time.

The exception I get on other systems is: `OOM command not allowed when used memory > 'maxmemory'`

[2017-02-06 10:23] alexbowers commented on #1102
Are you abstracting the actual errors from Redis away from us?

[2017-02-06 10:51] wanglingsong commented on #1096
Please clone "phpredis(#1096)" of this project:
```git clone https://github.com/wanglingsong/laradock.git --branch "phpredis(#1096)"```
My project is running inside Docker so you have to start it by ```docker-compose up nginx``` under the project root.
Once started, you just need to refresh the homepage "localhost:80" several times then you might see some error in the logs of php-fpm as below
[cod

[2017-02-06 11:27] alexbowers opened #1103 "Client sent AUTH but no password is set"
I seem to be able to interact with redis with an auth password set in the client, but not in the redis config, then it works up until there is a `read error on connection` error, then it starts throwing the error.

Example script:

[code]

Config change:

[code]

On a basic vagrant machine with php 5.6

[2017-02-06 17:04] dzuelke commented on #1096
Well, by "reproduce" case I meant a single script or something that exhibits the behavior :) If you can rebuild your setup with a debug build of php-fpm, that'd at least make it easier. Then you or someone else can dig deeper with Valgrind et al.

[2017-02-08 01:05] madsi1m commented on #818
Has this been fixed yet?

[2017-02-08 21:53] yatsukhnenko commented on #1098
3.1.1 has been released a week ago

[2017-02-08 21:53] #1098 closed

[2017-02-08 21:57] yatsukhnenko commented on #1062
3.1.1 has been released so I'm closing this issue

[2017-02-08 21:57] #1062 closed

[2017-02-08 21:57] #1083 closed

[2017-02-08 22:01] yatsukhnenko commented on #1047
@mlhkr, http://windows.php.net/downloads/pecl/releases/redis/3.1.1/

[2017-02-08 22:01] #1047 closed

[2017-02-09 05:24] #524 closed

[2017-02-09 05:35] yatsukhnenko commented on #1081
http://windows.php.net/downloads/pecl/releases/redis/3.1.1/

[2017-02-09 05:35] #1081 closed

[2017-02-09 05:36] #1067 closed

[2017-02-09 13:00] albertofem opened #1105 "Cluster segfault when invalid LUA is evaluated"
This one is easy to reproduce:

* Create a test with the following code:

[code]

* Run cluster tests

At some point (it seems random), the process will segfault with the following trace:

[code]

It seems to be some issue with the INFO parse function, but my knowledge of this library is limited and can't work on a fix.

[2017-02-10 23:13] vingrad commented on #70
@Tomdarkness  do you have any solution?

[2017-02-12 11:32] andygrunwald commented on #70
Hey,

this issue is not an easy one. I think we all agree. Even more: This issue is different from setup to setup. We had issues with this in the past as well. In the meantime we solved all of them. We wrote down our experience in our blog. Checkout [Learn Redis the hard way (in production)](http://tech.trivago.com/2017/01/25/learn-redis-the-hard-way-in-production/).

This should not be an adverti

[2017-02-13 11:11] Evandar276 commented on #492
I have just discovered that this error pops out when I send redis request after this: `set_time_limit(600);`

I have redis running normally, but this breaks it every time. Is it correct behavior, or bug in phpredis?

[2017-02-14 09:48] matsev opened #1106 "Document uninstall"
Please add appropriate steps to uninstall PhpRedis to the ReadMe file.

Recently, I found the need to install PhpRedis on my laptop for test purposes. The [installation instructions](https://github.com/phpredis/phpredis#installation) are documented in the ReadMe file (full transcript of my steps below). However, I have completed my tests and I would like to uninstall it accordingly. What is the pr

[2017-02-14 09:51] rask commented on #1079
@jesseforrest what was the misconfiguration? I'm getting this same error but on localhost, I started wondering if the configuration is a simple thing or whether I should scrap trying to use Redis as a session storage with PHP7.0.

[2017-02-14 20:15] michael-grunder commented on #1106
Hey,

I'm not sure I understand what you want documented.  Like any PHP extension, phpredis is just going to build the `.so` file and if you do `make install`, will move it to whichever path is configured to store PHP extensions.

Uninstalling phpredis would be as simple as removing the entry in your php.ini file and deleting the `.so` file.  That being said, the specific location is likely to dif

[2017-02-15 00:35] #1105 closed

[2017-02-15 00:35] michael-grunder commented on #1105
Can you please try it again.  I didn't add the unit test because although that triggered the problem, it could also be triggered in a variety of other ways.

Cheers
Mike

[2017-02-15 08:13] matsev commented on #1106
Thanks for explaining. For PHP beginners like myself, it is valuable if you provide a brief description like this (even if it is referring to the normal way of working with PHP extensions).

[2017-02-15 11:58] glynhudson opened #1107 "Release notes / changelog ?"
Where can I find release notes / changelog for phpredis? I'm currently successfully running 2.2.7, wondering what advantages there would be to upgrading to 3.1.1.

[2017-02-15 12:51] yatsukhnenko commented on #1107
@glynhudson, there is a [changelog](http://pecl.php.net/package-changelog.php?package=redis) on pecl site

[2017-02-15 12:57] yatsukhnenko commented on #1093
After merging a765f8d and 8fa85af I don't see this segfaults anymore

[2017-02-15 12:57] #1093 closed

[2017-02-15 13:20] glynhudson commented on #1107
Thanks :+1:

[2017-02-15 13:20] #1107 closed

[2017-02-15 19:32] albertofem commented on #1105
Great! It's now working :) Thanks for the effort!

[2017-02-16 09:57] amreladawy commented on #725
and the final 3.1.1 is here
http://windows.php.net/downloads/pecl/releases/redis/3.1.1/

[2017-02-20 17:48] serbanm33 opened #1109 "Issue/Problem in multi Redis environment"
I have a development environment configured using two virtual machines with the same software installed on them (Windows x64, Apache, PHP 7.1, Redis, Sentinel and PHPRedis extension). Redis and Sentinel are configured and are working just fine.
On both machines in PHP.ini files I configured session.save_handler to use Redis and in PHP I have a function that return the current master IP and port an

[2017-02-21 09:18] vus520 commented on #827
This bug solved, Finally.

@michael-grunder

[code]

[code]

[2017-02-21 09:18] #827 closed

[2017-02-21 09:20] noprom commented on #827
Awesome~

[2017-02-22 06:38] zhujinhe opened #1110 "memory leak"
I got a lot of warning in php-fpm.log.
`WARNING: [pool www] child 4542 exited on signal 11 (SIGSEGV) after 7.560746 seconds from start`
The coredump is here. Does this mean a memory leak of line 2096. or should i provide other information?
[code]
line 2096:
[code]

[2017-02-22 06:52] zhujinhe commented on #1110
version: 2.2.8-devphp7

[2017-02-22 07:33] remicollet commented on #1110
Use master (3.1.1)

[2017-02-22 08:18] zhujinhe commented on #1110
No more leak detected (3.1.1). Thanks @remicollet .

[2017-02-22 15:17] #1110 closed

[2017-02-24 04:22] andyli029 commented on #903
@michael-grunder
@yatsukhnenko
support auth in the php.ini #902
please review and merge

[2017-02-24 06:18] git-hulk opened #1111 "question about REDIS_SOCK_STATUS_FAILED"
hi:

phpredis would throw`read error on connection expection` when send command to redis-server timeout, then mark sock as `REDIS_SOCK_STATUS_FAILED`.

my doubt is why not mark sock as `REDIS_SOCK_STATUS_DISCONNECTED`(while stream was closed actually)?   it's convenient to detect socket is actived by isDisconected.

[2017-02-24 10:39] mrchojin opened #1112 "Segmentation fault on hGetAll in v3.1.1 on PHP7"
I'm not a developer so I don't really understand what is going on but I'm using https://github.com/wikimedia/mediawiki-services-jobrunner which uses phpredis to communicate with a redis server. This all worked correctly with phpredis 3.0.0 but with v3.1.1 it segfaults the second time it performs a hGetAll command.

I'm running SLES 12 SP2 and have:
- mediawiki-services-jobrunner from Git,
- phpred

[2017-02-24 10:44] shanliu opened #1113 "Segmentation fault (11)"
PHP:
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
redis:
Redis Support => enabled
Redis Version => 3.1.1
Available serializers => php
code:
`<?php
$redis = new Redis();
$redis->connect("192.168.2.88");
$data=$redis->hGetAll('oc_1_1');
class test{
	protected $_;
	public function __construct(array $data){

[2017-02-24 12:57] jgimeno commented on #492
I am having this same problem, as @Evandar276 is saying. Is this an issue with the module?

[2017-02-24 16:35] mrmark commented on #1088
Getting Segfaults with PHP7.1.1 as well.  Unsure how to provide any debugging information when the error happens via nginx/php-fpm.

[2017-02-24 20:03] yatsukhnenko commented on #1113
@shanliu, it would be helpful if you will provide backtrace for this crash

[2017-02-24 20:07] yatsukhnenko commented on #903
@andyli029, please resolve conflicts

[2017-02-24 23:48] michael-grunder commented on #1112
Hey,

I wasn't able to replicate this problem in either php7 r php5.x.  There have been a couple of segfault fixes since 3.1.1.  Are you able to try it using current `develop` branch?  That would help me rule out something that has already been fixed.

Cheers
Mike

[2017-02-27 08:09] #947 closed

[2017-02-27 10:23] mrchojin commented on #1112
I've build and installed the develop branch but unfortunately I get the same result:
[code]

Backtrace:
[code]

[2017-02-27 13:26] doodoori2 opened #1114 "Duplicate zRangeByLex in php_redis.h"
There is a duplicate code.
PHP_METHOD(Redis, zRangeByLex);

https://github.com/phpredis/phpredis/blob/ede43864a63db547319a01d14a8b272efd77de01/php_redis.h#L117
https://github.com/phpredis/phpredis/blob/ede43864a63db547319a01d14a8b272efd77de01/php_redis.h#L119

[2017-02-27 13:39] doodoori2 commented on #1114
I make a pull request. https://github.com/phpredis/phpredis/pull/1115

[2017-02-27 14:16] yatsukhnenko commented on #1114
Thanks!

[2017-02-27 14:16] #1114 closed

[2017-02-27 14:38] durgatiwari opened #1116 "SET with NX atomic or not?"
I am trying to implement a lock mechanism in redis. For this, I am using the NX attribute of SET function.
Is this operation atomic or not?

[2017-02-27 21:18] silviucpp commented on #1116
Redis is single thread and simple process which means all operations are atomic.

[2017-02-28 08:41] artcups opened #1117 "Delete array of keys with prefix"
We have a redis cluster that serves multiple application caches and we prefix the keys with the system name with the setOption method. And in each system we can have several different caches hence the prefix variable.

The problem is when you want to delete all keys with a prefix.
The getKeys method returns an array with all the keys, but when we try to delete them it does´nt.

The code bellow is

[2017-02-28 21:04] michael-grunder commented on #1117
Hey,

It's an interesting question.  As you're seeing, phpredis is going to prefix the pattern you send with `keys` and also prefix the key name sent to `del`.

It isn't going to do string manipulation on the keys being returned from `keys` in order to remove the prefix, as it treats data coming back from `keys` as raw.  This is something that's come up a few times over the years.

There are a var

[2017-02-28 23:16] giantninja commented on #854
I'd love to have an answer to this as well

[2017-03-01 01:03] madsi1m commented on #818
Hi any updates on this?

[2017-03-01 01:23] jportoles commented on #818
@madsi1m 3.1.1 is up on PECL (https://pecl.php.net/package/redis), it should resolve it if you have it installed properly.

[2017-03-01 01:28] michael-grunder commented on #1116
Yes, any single redis command is atomic.

[2017-03-01 01:28] #1116 closed

[2017-03-01 01:30] spsellars commented on #818
I was getting the same error even with 3.1.1, turned out to be related to [this](https://bugs.php.net/bug.php?id=74105) bug related to older kernels (which many OpenVZ VPS providers leave you stuck with.)  Recompiling PHP with the updated random.c file fixed it.

[2017-03-01 04:31] madsi1m commented on #818
looks like it is working again. Thanks for the update

[2017-03-01 07:48] neilqin opened #1118 "signal 11 (SIGSEGV) error /signal Segmentation fault (11) error when use RedisCluster"
centos6.5
php 7.1.0
phpredis 3.1.0 3.1.1

when use RedisCluster to connect redis cluster to set get value , is not work

in nginx1.6 + php7.1.0-fpm:
sometimes is ok ,sometimes is wrong,see php fpm log ,
warning and notice as below:

child 5288 exited on signal 11 (SIGSEGV) after 2.8 seconds from start
child 5318 started

in apache2.2+php7.0.6:
it dose not work, see error log:
[notice] child pid 40

[2017-03-01 07:56] artcups commented on #1117
Yes the fastest solution was, as you mentioned, substr on the keys. But it seems lika tedious solution to the problem :)

When i am using the prefix option I am not interested in the prefix on the keys hence the prefix option.

How about a rawKeys method or a del function that takes a pattern?

BTW the lib is amazing, super easy to integrate and use.

[2017-03-01 07:59] michael-grunder commented on #1118
Hey,

We fixed a sporadic redis cluster segfault with this commit 162d882 which is not yet published to PECL.

I'm not sure if that is what's causing your crash but it's possible.

You could try using the newer unstable code or just run 3.0.0 until we push a new version.

[2017-03-02 03:55] sjdskl commented on #1072
I have modify php redis source code to  build  pass at the windows。
https://github.com/sjdskl/phpredis_windows

thanks for your help @michael-grunder

[2017-03-02 03:55] #1072 closed

[2017-03-02 05:31] shanliu commented on #1113
sorry,reboot linux,the bug is fix.Can't find it

[2017-03-02 14:36] Michal-sk opened #1119 "Subscribe, proc must run forever?"
Wheb using subscribe, does that proc need to run forever?

[2017-03-03 03:11] qac2013 commented on #1112
i have the same problem with phpredis3.1.1 on php7.0.7
download the phpredis from [http://pecl.php.net/package/redis]

PEAR Version: 1.10.1
PHP Version: 7.0.7
Zend Engine Version: 3.0.0
Redis Version: 3.2.5

[2017-03-03 20:26] michael-grunder commented on #1112
Hey,

This is an interesting one.  I attempted to replicate (a bit) how the RedisJobRunner was calling redis as it abstracts the call and uses `call_use_func_array` while clearing any previous errors, etc.  Unfortunately I still don't see a segfault.

If it's not too involved a process, I'll try to replicate by actually running the job runner but I need to figure out how to set up the config file,

[2017-03-03 22:03] michael-grunder commented on #1112
Quick update...

I was able to get the `redisJobRunner` to connect to a local redis instance and start polling that key.  It doesn't crash but perhaps the problem is due to the data that's actually in the key itself.

Could you provide what the offending hash key contains?

[2017-03-04 14:57] TomSta commented on #809
I had same issues (similar setup, but centos 7, php 7.04, nginx, php-fpm - fine through tcp, no go with sock ). Tried  different permissions on /tmp folder and as well socket file, didn't help, but maybe I've missed something there. What worked for me was changing the location from '/tmp/redis.sock' to other folder. Another thing was that is_file ran from php code would show false for the socket f

[2017-03-04 15:37] yatsukhnenko commented on #809
@TomSta, is a selinux enabled in your system?

[2017-03-04 17:58] yatsukhnenko commented on #1087
#1120

[2017-03-04 17:58] #1087 closed

[2017-03-05 19:30] TomSta commented on #809
nope

[2017-03-06 03:44] sheldwu opened #1121 "all cmd return false after one cmd timeout"
in fun【redis_sock_read】  if php_stream_gets returns NULL then the redis_sock->stream will be closed by macro 【REDIS_STREAM_CLOSE_MARK_FAILED】and throw a exception。
in this case if we ignore the exception and still use this redis_sock,  in 【redis_sock_read】 【redis_check_eof】 will always return -1 and all cmd return NULL.   this can be see in the following example

[code]

output would be like
[code

[2017-03-06 10:00] ptrofimov opened #1122 "Magic method RedisArray->__call calls foreign function"
Here is the stack trace:
[code]

When our code calls RedisArray->get('{key...'), it causes ErrorException: Missing argument 2 for get() (function get is usual self-standing function from laravel framework)

How come this is possible?

PHP 7.0.16 (cli) (built: Feb 17 2017 19:18:21) ( NTS )
phpredis: redis   3.1.1   stable
Redis server v=3.0.3
docker

[2017-03-06 19:34] yatsukhnenko commented on #1122
@ptrofimov, could you provide script?

[2017-03-06 20:58] jdelk opened #1123 "Using renamed commands"
I've renamed some commands in redis by changing redis' configuration file.

How do I use those commands now?

Do I have to use rawCommand?

[2017-03-06 21:00] michael-grunder commented on #1123
Yes, you would need to use `rawCommand` for that.

Keep in mind that this means `phpredis` isn't going to know how to do any of the manipulation it normally does for certain commands like `zrangebyscore withscores`.

[2017-03-06 21:14] jdelk commented on #1123
Alright, thanks.

It just seems strange that phpredis doesn't have an option to rename commands.

https://github.com/NodeRedis/node_redis has it so I thought it'd be more commonplace.

[2017-03-06 21:14] #1123 closed

[2017-03-06 21:32] michael-grunder commented on #1123
Well phpredis is written as a php extension in C, so it's not simple to do such things.

In a PHP extension, the method names are defined at compile time in the C headers, not at runtime as would be the case in node.  We can take advantage of PHPs "magic" methods (`__call` and the like), but there are performance penalties to doing that.

[2017-03-07 02:23] siitao opened #1124 "error exited on signal 11 (SIGSEGV - core dumped) when use redisCluster"
centos7
php 7.0.10+nginx 1.6+phpredis 3.0.0 RC1
When I use rediscluster in php php error log will appear “exited on signal 11 (SIGSEGV - core dumped)” will also generate a core dump file
And the system log which has such a error “segfault at 0 ip 00002b5c42f6dc06 sp 00007ffe6e40e870 error 4 in redis.so[2b5c42f13000+67000]”

and i use the develop branch Always  Has been such a problem

I want to kn

[2017-03-07 03:00] siitao commented on #1124
fixed it

[2017-03-07 03:21] michael-grunder commented on #1124
Are you able to provide a callstack or a small script that can cause the segfault?

[2017-03-07 07:50] ptrofimov commented on #1122
I cannot provide a script, cause this problem is happening very rarely, sometimes, and its hard to catch this moment.

[2017-03-09 03:55] fuchaoqun opened #1126 "hincrby big number become negative"
[code]

array(2) { ["a"]=> string(11) "-2147483648" ["b"]=> string(1) "1" }

[2017-03-09 05:29] #1126 closed

[2017-03-09 08:26] Jerry-Shaw commented on #1126
In windows or linux?
It happens in windows binary under php7 & 7.1, large integer overflow maybe.

[2017-03-09 21:17] ahdavis opened #1127 "RedisArray understanding"
Just want to confirm that RedisArray does not automatically make the servers aware of other keys on other servers?  E.g. if I call "setex" in my code on one server, and try to "get" on another server, redis won't automatically search the array of servers for the key.  Is this correct?  I was hoping it would automagically work like memcached.  Is there some process/logic available for me to make th

[2017-03-09 22:36] fuchaoqun commented on #1126
the latest code in develop branch has fixed it

[2017-03-10 05:51] yatsukhnenko commented on #1127
I hope I understand you question correctly :)
RedisArray does not hold a copy of data on several servers. It is designed for keys sharding. More information you can find on [this](https://github.com/phpredis/phpredis/blob/master/arrays.markdown) page.

[2017-03-10 10:48] linxlad opened #1129 "Redis Cluster SEGFAULT on 2nd get request"
So I have tried both 3.1 and 3.1 RC 2 .DLL's.

The first get request is fine and then a perform a write and that's fine too. When it comes to any subsequent get/exists anything to retrieve my PHP script stops executing and windows event log records this:
[code]

[code]

Anyone experience this, I run xdebug at the time?

[2017-03-10 10:50] linxlad commented on #1124
@siitao Can you please specify how you got it working for the benefit of others? :)

[2017-03-10 10:59] michael-grunder commented on #1129
Hi,

This is clearly an issue because we've had a couple of other similar reports.  It always seems to be on the second call.  The other report was for hgetall but it seems that isn't relevant.

Are you able to replicate the behavior with a small script or does it only happen very rarely?  Another thing that would be helpful is stack trace.

Interestingly, the other report involved using xdebug as

[2017-03-10 11:09] linxlad commented on #1129
Thanks @michael-grunder I am not sure where I would get the stack trace from or how to produce one?

It happens on every 2nd get method call. Will try it without xdebug. I basically created a SessionHandler in drupal 8 to override their own session handler but we use clustered redis here shared with the Java apps.

[2017-03-10 11:12] linxlad commented on #1129
Just tried it with xdebug disabled and same issue.

[2017-03-10 11:38] linxlad commented on #1129
Tried it on a Debian box with the same outcome.

[2017-03-10 11:45] michael-grunder commented on #1129
Can you post a small script that causes the issue as well as the exact
version of php and redis on the Debian box?  You can omit server ips
obviously.

In the morning I can test against that exact script on the same version of
php and redis on my ubuntu machine.

Since you have a Debian box you can try running:
USE_ZEND_ALLOC=0 php <your script>

If it's a double free this should show that.

On Fr

[2017-03-10 11:50] michael-grunder commented on #1129
Actually I'm sorry.  I reread your initial issue.  You're running the version from pecl?  This may have been fixed here:
https://github.com/phpredis/phpredis/commit/162d8820bc6e179419fe5db593ec47122e8d6129

On Debian can you try running the current develop branch?  If that solves it I can get that on pecl later today.

[2017-03-10 12:06] linxlad commented on #1129
Ah sweet, is there a .DLL with this fix in yet?

[2017-03-10 13:25] linxlad commented on #1129
Also just checked the Debian box and the .so built is based on the cluster file with those fixes :(

[2017-03-10 14:14] michael-grunder commented on #1129
The Debian box is running from develop?  This change isn't on pecl.

In order to diagnose this I'll need a small script that causes the crash
for you.  If it always crashes on the second cal it'll likely only be a few
lines (connect, then two caps)

That way I can know I'm executing code that crashes for you.

Did you try running with USE_ZEND_ALLOC=0 ?

On Fri, Mar 10, 2017, 5:25 AM Nathan Daly <

[2017-03-10 15:53] ahdavis commented on #1127
I assumed when I call "setex" on one server with a key, then I could call "get" on another server with the same key and get the value put there from the other server.  But it doesn't seem to work that way, unless I am not calling the correct function.  I thought redis would get the value from whichever server it was put.  Should I use different redis commands for this?

[2017-03-11 18:22] yatsukhnenko commented on #72
9310b25

[2017-03-11 18:23] #72 closed

[2017-03-11 18:36] yatsukhnenko commented on #222
This probably has already been fixed

[2017-03-11 18:36] #222 closed

[2017-03-11 18:54] #745 closed

[2017-03-12 21:02] yatsukhnenko commented on #479
ac4ea8e

[2017-03-13 02:01] #1082 closed

[2017-03-13 16:34] Barbery commented on #679
Hi, I use RedsiCluster::FAILOVER_DISTRIBUTE option, but I found that the master node is CPU 100%, but the slave is very low, under 5%, should I use FAILOVER_DISTRIBUTE_SLAVES?

[2017-03-13 17:00] gitis commented on #1124
@siitao Could you elaborate more on how you solved it? I started getting same faults two days ago.

[2017-03-14 01:06] QianChenglong opened #1130 "keys return bool(false)"
`Redis::keys()` sometime return `bool(false)` which `pattern` always same.

![2017-03-13_201932](https://cloud.githubusercontent.com/assets/1881126/23881451/7bda1c2a-0895-11e7-9b8c-8a0d1359bc9b.png)

[code]

[2017-03-14 02:51] michael-grunder commented on #1124
I would also like to know.  We've had a few such reports, and ithe would be good to know if this is related to those!

[2017-03-14 12:45] codeaid commented on #1088
I'm getting issues installing and enabling phpredis in a Docker container while running the following commands:

[code]

All works well until `docker-php-ext-enable` which generates

[code]

[2017-03-14 21:07] mrmark opened #1131 "Estimate on 3.1.2 release?"
Sorry, I feel really guilty about asking this, but is there a _rough_ ETA on when the next release off of the develop branch will happen?  Please note that I'm not asking for a rushed release or any sort of emergency release as stability is really important for us.  Just would like to know so our organization can get an idea for planning.

Reason for asking is because we are currently testing redi

[2017-03-14 21:19] michael-grunder commented on #1131
Hey,

No need to feel guilty.  :smile:

Ideally I would like to get 3.1.2 out in the next few days, but I want to make sure that there aren't any _other_ stability problems lurking in the develop branch.  There is one report in particular (having to do with a segfault on the second call to a method) that I just haven't been able to replicate locally.

That being said, however, the 3.1.1 branch con

[2017-03-14 21:24] mrmark commented on #1131
Wow, great news!  Thanks so much for the quick and detailed response, I really appreciate it!

[2017-03-15 13:46] daniloegea commented on #1131
@mrmark Is it stable for you? I mean, we are thinking about use the developer branch in production but I'm afraid of the segfaults reported here... thanks!

[2017-03-15 14:34] jrchamp commented on #1131
It sounds like the segfaults are in the existing releases. The segfaults appear to be fixed in the develop branch. Even if there are segfaults in the develop branch, it sounds like there are fewer than before.

[2017-03-15 15:37] mrmark commented on #1131
We are not using it in production, I only did some light testing.  But two segfaults that I was experiencing (they might have been the same actually) are not reproducible after upgrading to the develop branch.  This is also only in regards to clusters, we have been using 3.1.1RC2 for single redis server use case for a while now in several dev and testing environments.

[2017-03-15 17:29] fericsepi commented on #88
Is this fixed in 3.1.1?

[2017-03-15 18:01] daniloegea commented on #1131
Cool, thank you guys! :)

[2017-03-16 14:59] ppavel commented on #1109
See https://github.com/phpredis/phpredis/issues/37

[2017-03-16 16:03] michael-grunder commented on #1131
Hey guys, I just pushed a candidate for 3.1.2 up.

It's branched from 3.1.1, but contains the RedisCluster segfault fix, @yatsukhnenko's fix for a RedisArray segfault, as well as a fix for RedisCluster NULL bulk parsing.

All tests passed for me in php 5 and 7, but if others have time to give it a quick test that would be great.

[2017-03-16 20:21] mrmark commented on #1131
I'll give this a try, if not today, then tomorrow.  Thanks!

[2017-03-16 20:31] daniloegea commented on #1131
We are testing it in an aws elasticache cluster environment. So far so good.

[2017-03-17 05:11] yatsukhnenko commented on #1112
It seems that it's a php related bug https://bugs.php.net/bug.php?id=74084

[2017-03-17 10:40] hashar commented on #562
Seems d701d02f9c has been released and is part of non release candidates tags:

3.1.1
3.1.0
3.0.0
2.2.8

[2017-03-17 13:01] mofoster commented on #1131
@daniloegea  hello, are you using elasticache redis cluster for php session store? I am having issue in the the seesion getting the connection refused error, where it's working under redis-cli

Wondering if you can shad some lights on this?

Thanks

[2017-03-17 17:08] michael-grunder commented on #1131
From what I can gather, it looks like the stability issues have been solved with this branch (at least so far).  Unless there are new issues discovered, I'll go ahead and get this onto PECL tomorrow morning.

Then we can start the process of getting some of @yatsukhnenko's more recent changes ready for another release.  The move to using the zend object store for the Redis object should (in theory

[2017-03-17 17:55] mrmark commented on #1131
I just tried the 3.1.2 branch in my local dev environment, talking to a AWS redis cluster and to a local redis server (no cluster).  Both worked fine in my light testing.

[2017-03-17 18:01] michael-grunder commented on #1131
Awesome, thanks!

[2017-03-20 02:17] axel-rutz commented on #943
I can confirm this:
[code]
Result:
`bool(false)`

Expected: (something like)
`Value at:0x7f6d7b94af20 refcount:1 encoding:ziplist serializedlength:176 lru:13576901 lru_seconds_idle:1041`

[2017-03-20 02:18] axel-rutz commented on #943
With the above key set, this is remarkable:
[code]
Result:
`bool(true)`

To the contrary:
[code]
Result:
`bool(false)`

[2017-03-20 04:30] QianChenglong opened #1132 "mget return bool(false) instead of array"
mget sometimes return `bool(false)` instead of array.I ensure the key in mget array  exists.And if not exists, the api document says return array which nonexist key's value is false.
![b8f36aa9-44be-47ef-98ec-0fbf73b03825](https://cloud.githubusercontent.com/assets/1881126/24088730/eb987c82-0d68-11e7-9945-e52ce88eaca3.png)
![31c065df-9c2a-4141-935e-9639e6cbada2](https://cloud.githubusercontent.com

[2017-03-20 07:46] Barbery opened #1133 "about cluster slots"
redis commandstat:

The cluster slots command seems waste a lot cpu time, in most of time, the slots info is stable, I think cache the slots info is good idea. Is there a plan to merge cache-slots to develop branch?

[2017-03-20 13:54] daniloegea commented on #1131
@mofoster what kind of issues? Some developers are reporting problems to store sessions in redis cluster using the zend framework here. I don't know why yet.

[2017-03-20 16:01] michael-grunder commented on #1133
I think we should plan on getting this up for the 3.2.0 release which also has a variety of other improvements (using the object store vs. hash table lookup per method call).

[2017-03-21 00:37] mofoster commented on #1131
@daniloegea it was due to my php setting hardcodes the session save_path, it's all working now. However the redis cluster is limited to just 1 database which has caused some confusions. Aparts from that the session handler works good for Wordpress & Woocommerce :)

[2017-03-21 12:12] daniloegea commented on #1131
@mofoster Interesting, which version of PHP are you using?

[2017-03-21 12:50] #1132 closed

[2017-03-21 12:51] #1130 closed

[2017-03-21 14:12] richwandell commented on #184
I found this problem when connecting a PHP-FPM + PHP 7 server to AWS elasticache using phpredis extension. The server has been running fine without any restart for a few days and randomly started throwing this error.

[2017-03-22 06:07] mofoster commented on #1131
@daniloegea  I am using vestacp.com cpanel like system, which has the apache template value
php_admin_value session.save_path  hardcoded to the local drive and won't allowed to be changed for some reason

[2017-03-22 15:01] richwandell commented on #571
I am seeing this same problem with php 7 phpredis and amazon elasticache

[2017-03-23 08:46] OwlyCode commented on #1118
Hello,

I had a segfault issue with this code :

[code]

And even sometime a `zend_mm_heap corrupted` error.

I compiled from the develop branch and now it works fine.

[2017-03-23 14:57] zoglun commented on #474
Same error happen to me under debian8, **redis 3.2.7,** with php7.0 & Mediawiki 1.28.
PHP Notice:  Redis::set(): send of 82 bytes failed with errno=32 Broken pipe in /wiki/includes/libs/redis/RedisConnRef.php on line 96

[2017-03-23 15:57] michael-grunder commented on #1118
There is a known issue in 3.1.1 which is fixed in develop and in the 3.1.2 branch.  I'm going to be pushing the 3.1.2 branch to PECL shortly.

[2017-03-23 15:57] #1118 closed

[2017-03-23 23:00] signe commented on #730
@rannmann Expirations don't get updated on reads, no.  You need to ensure that you're updating some piece of information in the session (e.g. a 'last access time') which will ensure that the session gets rewritten to the redis server with an updated expiration.  @Jerry-Shaw mentioned this in comment 2.

[2017-03-25 14:06] alibo commented on #1131
We've switched to version 3.1.2 from Predis 1.1 yesterday. We didn't see any segfaults even for RedisCluster. It also improves our response time and memory usage about 30%-50%:

![img_2017-03-25 18 27 44](https://cloud.githubusercontent.com/assets/5338482/24322842/4c830d18-1189-11e7-8596-5e082b459cf9.jpg)
![img_2017-03-25 18 27 56](https://cloud.githubusercontent.com/assets/5338482/24322843/4f83db

[2017-03-25 21:16] michael-grunder commented on #1131
@alibo I'm glad it's working well for you!

Closing this issue for now, because 3.1.2 is up (here and on PECL).  As always feel free to open an issue if people find anything.

[2017-03-25 21:16] #1131 closed

[2017-03-25 21:17] michael-grunder commented on #1129
If you haven't yet solved the problem yet you can always try 3.1.2 (which is presently up on here and on PECL).  I have not been able to recreate this issue with any newer version.

[2017-03-26 05:13] michael-grunder commented on #1127
Hey,

No the data will be split among the various individual redis instances in your array.  This was functionality created in phpredis before cluster existed, so served a cluster like functionality client side.

Closing this issue but always feel free to ask questions :)

[2017-03-26 05:13] #1127 closed

[2017-03-26 05:14] michael-grunder commented on #1124
I believe this is fixed in 3.1.2.  Feel free to reopen if it still happens in that version

[2017-03-26 05:14] #1124 closed

[2017-03-26 06:15] liupdhc opened #1136 "-MOVED"
![moved](https://cloud.githubusercontent.com/assets/7309916/24329087/7ddc872c-122e-11e7-830b-6a4b7d5b9b07.png)

phpredis-2.2.8

config.php:
`'clusters'=>[//default
        "10.10.2.35:8000","10.10.2.36:8000","10.10.2.37:8000",
        "10.10.2.35:8001","10.10.2.36:8001","10.10.2.37:8001"
    ]`

[2017-03-26 18:25] michael-grunder commented on #1136
Hi,

I'm not sure I understand your issue.  Is phpredis getting itself into a constant `MOVED` loop and not updating the keyspace mapping?

[2017-03-27 02:15] michael-grunder commented on #1096
I'm pretty sure this has been fixed in 3.1.2

[2017-03-27 02:15] #1096 closed

[2017-03-27 02:16] michael-grunder commented on #1113
Likely fixed in 3.1.2, especially since this is on `__construct`

[2017-03-27 02:16] #1113 closed

[2017-03-27 02:16] #25 closed

[2017-03-27 02:18] michael-grunder commented on #79
I don't see this as something we're likely to implement any time soon, even though it does sound neat.  If there is renewed interested we might look into it.

[2017-03-27 02:18] #79 closed

[2017-03-27 02:19] #80 closed

[2017-03-27 02:35] ppanphper commented on #974
I also encountered the same problem, is there a solution?

[2017-03-27 05:22] zzjin opened #1137 "broken useage after 9310b25"
After this commit  9310b25d, my prev's usage get error:
[code]
At this context, we open a pipe buffer, set some transaction cmds to buffer, and send those cmds(include multi cmd) to server at once.

I know that one cannot open pipe after multi like this:
[code]
If I mis-understood pipe&multi behaviour or after this commit something went wrong?

[2017-03-27 15:52] mrmark commented on #1131
Thanks @michael-grunder!

Requested an update in the ppa as well: https://github.com/oerdnj/deb.sury.org/issues/581

[2017-03-27 16:07] michael-grunder commented on #1137
@yatsukhnenko It looks like this is being specifically disallowed in that commit.  Is that intentional?

[2017-03-27 17:22] yatsukhnenko commented on #1137
@michael-grunder, @zzjin, yep, I disallowed it since multi in pipeline doesn't work correctly

[2017-03-27 17:39] yatsukhnenko commented on #1137
I mean multi call overwrite pipeline and results is not that you expect

[2017-03-27 17:51] bitactive commented on #1062
The problem has been fixed on redis, but still exists on rediscluster.

we need to do same changes to rediscluster handler:

diff --git a/redis_session.c b/redis_session.c
index 2ac2872..aed10ef 100644
--- a/redis_session.c
+++ b/redis_session.c
@@ -665,17 +665,26 @@ PS_READ_FUNC(rediscluster) {

     /* Attempt to read reply */
     reply = cluster_read_resp(c TSRMLS_CC);
-    if (!reply || c->er

[2017-03-27 17:52] michael-grunder commented on #1137
Ok that makes sense.   We can look to fully support this use pattern sometime in the future.

[2017-03-27 18:20] michael-grunder commented on #1062
I'm on my phone but this looks good at first glance.  I'll get it in and test, thanks.

[2017-03-27 18:35] yatsukhnenko commented on #1137
We have a [branch](https://github.com/phpredis/phpredis/tree/multi-pipeline) for this feature

[2017-03-28 04:38] michael-grunder commented on #1100
Will you please try again with 3.1.2?  An abort could be caused by the fixes that were made in the new branch.

[2017-03-28 04:41] ngoctruongbc commented on #474
Same error happens to me under CentOS 6 , Redis 3.2.1 with PHP 7.0 & Magento 2
[code]

[2017-03-28 04:46] yatsukhnenko commented on #474
@ppanphper, @zoglun, @ngoctruongbc, do you have a script to reproduce this issue?

[2017-03-28 04:57] roperto commented on #1048
Possible duplicate of #500

[2017-03-28 05:21] lokechenlin commented on #974
I also encountered the same problem, is there a solution?

[2017-03-28 05:26] TysonAndre commented on #1100
testPubsub and the other tests are passing without crashing now. Tested with 7.0.14 (maintainer zts+debug) and 7.1.2(maintainer zts + debug)

[2017-03-28 05:26] #1100 closed

[2017-03-28 06:13] keigokeigo commented on #974
Hi, @ppanphper , @lokechenlin :

This topic is switched to another issue, "Wrong key is read (among other errors) · Issue #1080".
But it seems it is not in progress there.

Only one workaround I can tell you is 2 ways as I told before.
[1] Apache setting `MaxRequestsPerChild`
[2] Reducing access to redis.
You can reduce the problem but can't resolve completely.

I finally gave up phpredis and repl

[2017-03-28 06:23] ppanphper commented on #974
@keigokeigo
Thank you for your reply.
My problem is "RedisCluster::del(): Invalid reply type returned for DEL command".

[2017-03-28 06:42] keigokeigo commented on #974
Hi, @ppanphper

I was also suffering from it.
Same as @nicoff in #1080 .

[2017-03-28 08:50] wanglingsong commented on #1096
Tested in 3.1.2. It works without error. Thanks!

[2017-03-28 13:38] virgofx commented on #474
In my opinion this should be closed as it's a duplicate of #70

@yatsukhnenko Script to reproduce is here: https://github.com/phpredis/phpredis/issues/70#issuecomment-151607739

[2017-03-28 13:42] virgofx commented on #70
@andygrunwald Issues still persist when forking especially and not mentioned in your nice writeup. There is a clear script to reproduce the problem listed above (https://github.com/phpredis/phpredis/issues/70#issuecomment-151607739)  @michael-grunder  curious as to why this still hasn't been addressed?

[2017-03-28 15:02] yatsukhnenko commented on #474
Duplicate #70

[2017-03-28 15:02] #474 closed

[2017-03-28 15:19] lamiska commented on #369
In case anybody came around this error and you use socket to connect to redis, there might be open_basedir restriction preventing you accessing the directory with socket and open_basedir needs to be disable or edited.

[2017-03-28 17:19] tallstop opened #1138 "redis as session replacement for memcache"
The memcache extension is no longer available in PHP 7.  And the memcached one is experimental and buggy.  So I have been told to try redis instead.  I got it up and running with no problem; however session redundancy does not seem to work.  I have two redis servers, where the slave gets a copy of the master but is also writable (in case the master goes down).  Here is my config on PHP 5.6.18:

se

[2017-03-28 18:02] yatsukhnenko commented on #1048
Duplicate #500

[2017-03-28 18:07] michael-grunder commented on #1137
Closing this issue as it's intentional behavior in the main branch.

We are looking at getting the branch with the functionality in at some point however.

[2017-03-28 18:07] #1137 closed

[2017-03-28 18:16] #183 closed

[2017-03-28 18:23] #372 closed

[2017-03-28 18:29] yatsukhnenko commented on #769
This is probably fixed

[2017-03-28 18:29] #769 closed

[2017-03-28 18:32] yatsukhnenko commented on #406
Close in favour of #831, may be fixed in d0f3d018

[2017-03-28 18:32] #406 closed

[2017-03-28 18:34] yatsukhnenko commented on #988
Duplicate #831, may be fixed in d0f3d01

[2017-03-28 18:34] #988 closed

[2017-03-28 18:36] yatsukhnenko commented on #886
Duplicate #831, may be fixed in d0f3d01

[2017-03-28 18:36] #886 closed

[2017-03-28 19:23] yatsukhnenko commented on #228
This is probably fixed.

[2017-03-28 19:23] #228 closed

[2017-03-28 19:25] #277 closed

[2017-03-28 19:26] #271 closed

[2017-03-28 19:56] yatsukhnenko commented on #1112
@mrchojin, does this feature appear with the latest version of php and phpredis?

[2017-03-28 21:51] michael-grunder commented on #1138
Hey,

There is a really old branch where this sort of functionality was implemented here:
https://github.com/phpredis/phpredis/commits/session-failover

I think what happened is that the functionality was implemented but then no one gave it any proper testing so it never made it into the main branch.

Short of implementing a custom session handler in php to handle failover, the only way I can thin

[2017-03-29 01:56] roperto commented on #500
Hi @GreenReaper / @yatsukhnenko

In my opinion doing it at application level is not ideal because compression must be done after serializing the object (and deserializing it after compression is restored).

If doing the compression in the PHP application, then I should also handle the serialisation there.

Please let me know your thoughts about that,

Cheers,

Daniel

[2017-03-29 04:24] yatsukhnenko commented on #500
@roperto, yes, you are right. I'm going to implement this as a new layer in extension. It will not be only for session data but for any values. This will looks like serialize - compress - send/ receive - uncompress - unserialize

[2017-03-29 08:53] roperto commented on #500
Thanks Lord Garmadon!

Let me know if I can be of any help.

Cheers,

Daniel

[2017-03-29 10:22] mnvx commented on #374
Problem is here: https://github.com/sasanrose/phpredmin/blob/master/views/layout.php#L128
And Here: https://github.com/sasanrose/phpredmin/blob/master/libraries/controller.php#L47
If [$this->infoModel->getDbs($info);](https://github.com/sasanrose/phpredmin/blob/master/libraries/controller.php#L25) return empty array (`[]`) then index 'dbs' will not be found in layout. It can be fixed by changing l

[2017-03-29 14:32] yatsukhnenko commented on #70
Hey, I can reproduce this issue locally so I'll try to find the reason and fix it

[2017-03-29 14:55] tallstop commented on #1138
Thanks.  I am running Reddis 2.2.7 for Zend Server and notice there is no rediscluster available for session.save_handler.  I believe that is what I would need to use if I used Clustering?

[2017-03-29 15:22] michael-grunder commented on #1138
Hi,

There is redis cluster sescion support in the current version (3.1.2)

[2017-03-29 20:43] yatsukhnenko commented on #70
Unfortunately TravisCI is not available and I can't test my changes, so I'll continue tomorrow

[2017-03-30 10:48] sp-joseluis-ledesma opened #1139 "Getting last command value after network error"
Hi,

   we have identified that when there is some kind of network error + using LUA, phpredis sometimes start returning the last command return value instead of the current command. We have been able to reproduce this behaviour using attached files.

  how to reproduce it (on Linux):
    - setup apache2 + php + phpredis (we have tried php5.5, 5.6 and 7.1, phpredis 2.2.7, 2.2.8 and 3.1.2)
    - ad

[2017-03-30 12:02] yatsukhnenko commented on #70
Who can test a patch?
[code]

[2017-03-31 03:03] CAOPINGTAO opened #1141 "socket error on read socket"
The php on my server had installed phpredis, but when I used redis to subscribe message, I got a RedisException sometimes when these message which been published were very a large amount ,e.g 500 thousand :

the exception is :
**"Fatal error: Uncaught exception 'RedisException' with message 'socket error on read socket' in XXX"**

the line throw this exception is :
$redis->psubscribe(array("*"), '

[2017-03-31 07:21] Barbery opened #1142 "[BUG] eval command with RedisCluster::FAILOVER_DISTRIBUTE_SLAVES option will throw exception"
Info:
phpredis: lastest develop branch
redis-server: 3.2.1 and 3.0.7
system: ubuntu-14.04 64bit

If I use `RedisCluster::FAILOVER_DISTRIBUTE` option, that all is fine. But if I use `RedisCluster::FAILOVER_DISTRIBUTE_SLAVES` option, it will throw exception:

Here is the example code, you can test it.

[code]

[2017-03-31 07:23] Barbery commented on #1142
I guess the problem is `FAILOVER_DISTRIBUTE_SLAVES ` redirect the connection to the slave, then run eval it can't redirect to the right master node to execute the command

[2017-03-31 16:55] suxianbaozi opened #1143 "sorry but how can i user cache slot in php7"
sorry but how can i user cache slot in php7?

[2017-03-31 16:56] suxianbaozi commented on #1143
it cant't make success in php7

[2017-03-31 17:11] michael-grunder commented on #1143
This doesn't work in php7 yet, but I'm actually planning on getting the functionality into the develop branch over the weekend.  :)

[2017-04-02 14:12] suxianbaozi commented on #1143
That's very verfy  great!!!

[2017-04-02 20:37] yatsukhnenko commented on #122
Old issue without any activity

[2017-04-02 20:37] #122 closed

[2017-04-02 20:39] yatsukhnenko commented on #151
Old issue without any activity

[2017-04-02 20:39] #151 closed

[2017-04-02 20:39] yatsukhnenko commented on #154
Old issue without any activity

[2017-04-02 20:39] #154 closed

[2017-04-02 20:41] yatsukhnenko commented on #171
Old issue without any activity

[2017-04-02 20:41] #171 closed

[2017-04-02 20:42] yatsukhnenko commented on #180
Old issue without any activity

[2017-04-02 20:42] #180 closed

[2017-04-02 20:44] yatsukhnenko commented on #187
Old issue without any activity

[2017-04-02 20:44] #187 closed

[2017-04-02 20:48] yatsukhnenko commented on #220
Old issue without any activity

[2017-04-02 20:48] #220 closed

[2017-04-02 20:52] yatsukhnenko commented on #305
Old issue without any activity

[2017-04-02 20:52] #305 closed

[2017-04-02 20:54] yatsukhnenko commented on #257
Old issue without any activity

[2017-04-02 20:54] #257 closed

[2017-04-02 20:55] yatsukhnenko commented on #376
Old issue without any activity

[2017-04-02 20:55] #376 closed

[2017-04-02 20:56] yatsukhnenko commented on #397
Old issue without any activity

[2017-04-02 20:56] #397 closed

[2017-04-02 20:57] yatsukhnenko commented on #398
Old issue without any activity

[2017-04-02 20:57] #398 closed

[2017-04-02 21:01] #921 closed

[2017-04-04 10:56] 31vi5 opened #1145 "sPop doesn't allow passing count argument"
According to https://redis.io/commands/spop you can pass count, but when I try to do so I get the following warning:

`Redis::sPop() expects exactly 1 parameter, 2 given`

[2017-04-04 15:10] shukla-rohit opened #1146 "Redis server went away issue"
Hello,

We are using Redis since 3 years, and using it for session and cache.

Using sentinel to identify the Redis master and slaves servers, its working fine, but sometimes we get error Redis server went away, we are simply connecting Redis server like

$this->m_objMaster->connect( $this->getMasterIp(), $this->getMasterPort() );
//$this->getMasterIp() => Master Server IP
// //$this->getMasterPor

[2017-04-04 18:11] michael-grunder commented on #1145
This is a newer addition to Redis and isn't specifically supported by phpredis.  We should add it to the next release, but you can work around the problem by doing something like this:

```$r->rawCommand('SPOP', 10);```

[2017-04-05 10:58] yatsukhnenko commented on #219
This issue i probably fixed

[2017-04-05 10:58] #219 closed

[2017-04-05 13:02] #733 closed

[2017-04-05 13:32] yatsukhnenko commented on #575
https://pecl.php.net/package/redis/3.1.2/windows

[2017-04-05 13:32] #575 closed

[2017-04-05 13:37] yatsukhnenko commented on #852
Probably it was fixed in 3.1.2.

[2017-04-05 13:37] #852 closed

[2017-04-05 13:38] yatsukhnenko commented on #845
Probably it was fixed in 3.1.2.

[2017-04-05 13:38] #845 closed

[2017-04-06 06:48] doodoori2 opened #1147 "'decrBy' large than value 999, and 'get' command raise PHP warn.(igbinary_unsupport)"
[code]

CentOS Linux release 7.2.1511
redis-2.8.19-2.el7.x86_64
php-pecl-redis-3.0.0-1.el7.remi.7.0.x86_64

[2017-04-06 06:52] remicollet commented on #1147
Please update to latest 3.1.2.

[2017-04-06 08:31] doodoori2 commented on #1147
Thanks, it works. (php-pecl-redis.x86_64 0:3.1.2-1.el7.remi.7.0)

[2017-04-06 08:46] #1147 closed

[2017-04-06 09:35] keyganker commented on #552
Anybody explain it?

[2017-04-06 10:36] daflip commented on #678
Sorry to dig this back up but I'm seeing this same issue with Reis 2.2.8 / PHPRedis 5.6.30. I've tracked it down to the phpredis module at the point where it's trying to set a redis key. The amount of memory required is always the same (and huge at that!):

[Thu Apr 06 10:30:51.788265 2017] [:error] [pid 4042] [client 51.148.56.33:51665] PHP Fatal error:  Allowed memory size of 88388608 bytes exha

[2017-04-06 11:09] daflip commented on #678
I upgraded to phpredis 3.1.2 whilst keeping PHP at 5.6.3 - seems to have fixed the issue. Sorry for false alarm!

[2017-04-07 17:09] michael-grunder opened #1148 "Supporting AUTH and RedisCluster"
Currently phpredis doesn't support password protected redis cluster instances.  The only workaround at present would be to proxy connections through something like Corvus (https://github.com/eleme/corvus).

We should add this support for 3.2.0 release.

[2017-04-08 09:58] cjhlai opened #1149 "phpredis2.8 can`t set timeout and read_timeout?"
#$obj_cluster = new RedisCluster(
    NULL, Array("host:7000", "host:7001"), 1.5, 1.5
);
or
$obj_cluster = new RedisCluster(
    NULL, Array("host:7000", "host:7001", 1.5, 1.5);
);
 i use the two ways to set  timeout and read_timeout,but it does`t work. why? @michael-grunder

[2017-04-08 20:09] yatsukhnenko commented on #1149
Hey @cjhlai, I've created new [ branch](https://github.com/phpredis/phpredis/tree/issue.1149) with fix of this issue. Could you test it? If everithing is ok I will update documentation and merge it.

[2017-04-09 05:26] cjhlai commented on #1149
@yatsukhnenko so how to test it?  which is the right way to to set timeout and read_timeout?

[2017-04-09 07:27] yatsukhnenko commented on #1149
The example in the documentation is correct. `$obj_cluster = new RedisCluster(NULL, Array("host:7000", "host:7001"), 1.5, 1.5);`

[2017-04-09 12:31] cjhlai commented on #1149
well,thanks .so the example in the https://github.com/phpredis/phpredis/blob/feature/redis_cluster/cluster.markdown#readme
is wrong.
it shows as  $obj_cluster = new RedisCluster(
NULL, Array("host:7000", "host:7001", 1.5, 1.5);
);

[2017-04-09 12:35] yatsukhnenko commented on #1149
Yeah, I mean incorrect)) That's why I wanted to update documentation in my previous comment.

[2017-04-10 01:14] rokaye opened #1150 "PHP Fatal error: Uncaught exception 'RedisException' with message 'protocol error, got '1' as reply type byte"
[10-Apr-2017 03:42:06 Asia/Shanghai] PHP Fatal error:  Uncaught exception 'RedisException' with message 'protocol error, got '1' as reply type byte
' in [no active file]:0
Stack trace:
#0 {main}
  thrown in [no active file] on line 0

My environment:
PHP 5.6.14
Redis Version => 2.2.8
php session config：tcp://192.168.1.111:6379?database=15&timeout=1.0&persistent=1&auth=***
->
haproxy
->
redis_serve

[2017-04-10 04:30] yatsukhnenko commented on #1150
@rokaye, try the latest version of phpredis.

[2017-04-10 04:30] yatsukhnenko commented on #1150
Duplicate #831

[2017-04-10 04:30] #1150 closed

[2017-04-10 12:53] ambis opened #1151 "scan() example is not very safe, and relies on (bad) global config"
Current [scan](https://github.com/phpredis/phpredis#scan) code example relies on global options set to PHPRedis.

Working with sensible defaults is usually the best and safest way to write code, since configuration like that is global for the whole app (which might be monolithic).

[code]
...would IMHO be much more safely documented as:

[code]
This way we do not depend on a global configuration s

[2017-04-10 17:30] #1151 closed

[2017-04-10 17:30] michael-grunder commented on #1151
Thanks!  Your code looks better anyway.  :)

[2017-04-11 00:29] michael-grunder commented on #1149
@yatsukhnenko Sure looks right to me and all unit tests are passing for me for several versions of php.  I say merge it! :)

[2017-04-11 12:44] yatsukhnenko commented on #1149
cb2c4d6

[2017-04-11 12:44] #1149 closed

[2017-04-11 15:54] yatsukhnenko commented on #70
Hey there, I need a feedback :)

[2017-04-12 03:07] liupdhc commented on #1136
sorry!What you said is right.
strace -p xxx：(xxx is a swoole thread)
`[root@hz0772 ~]# strace -p 153266
Process 153266 attached - interrupt to quit
restart_syscall(<... resuming interrupted call ...>) = 1
recvfrom(161, "-MOVED 9976 10.10.2.36:8000\r\n", 8192, MSG_DONTWAIT, NULL, NULL) = 29
poll([{fd=161, events=POLLIN|POLLPRI|POLLERR|POLLHUP}], 1, 0) = 0 (Timeout)
sendto(161, "*2\r\n$3\r\nGET\r\n$

[2017-04-12 17:22] 2ge opened #1152 "MIGRATE supports multiple keys"
From redis 3.0.6 is possible to pass in MIGRATE multiple keys, if possible, support it.
`migrate 127.0.0.1 6380 "" 0 5000 COPY KEYS 1 2 3`
Thanks.

[2017-04-14 14:31] gearhead commented on #809
I am having a similar if not same problem. I am not running SELinux. This is Arch Linux running on a raspberry pi. My socket is on /tmp/redis.sock. I have redis setup with 'port 0' to turn off tcp.
`srwxrwxrwx  1 http http    0 Apr 13 19:10 redis.sock`
In my config.php file I have
`$redis->pconnect('/tmp/redis.sock');`
When I acces it from the browser I get:
`Warning: Redis::pconnect(): connect()

[2017-04-17 04:26] michael-grunder commented on #1145
@31vi5 The branch `spop-count` adds the requested functionality.

@yatsukhnenko Please take a look at the changes if you get a chance.  :smiley:

[2017-04-17 07:27] yatsukhnenko commented on #1145
@michael-grunder, looks good to me 👍

[2017-04-17 09:42] dkrotil opened #1153 "Can´t load extension with 7.1"
Hello,
trying build redis extension against PHP 7.1, everything looks fine, configure without any error. Make creates redis.so. First strange thing is happening , when I try run "make test" _:

[code]

When I try to load it manually "php -r 'dl("redis.so"); phpinfo();' | grep redis" shows no error, but no loaded redis.

Thanks

[2017-04-17 10:25] yatsukhnenko commented on #1153
@dkrotil, `make test` doesn't work as expected. You should run tests manually `php tests/TestRedis.php`
Try grep -i redis because in phpinfo it appears as `Redis`

[2017-04-17 10:32] dkrotil commented on #1153
/opt/php-7.1/bin/php -m don´t show any redis / Redis , trying to run test manually getting this error message >

[code]

[2017-04-17 10:54] yatsukhnenko commented on #1153
Did you run `make install` and register extension in uni file? Also you can load extension via php -d
`php -d extension=modules/redis.so tests/TestRedis.php`

[2017-04-17 11:01] dkrotil commented on #1153
Hmm, with that command with test start with one error >

Assertion failed (1 !== 0): /install/phpredis-3.1.2/tests/RedisTest.php:171 (testBitsets)

but extension will load, have to look on php.ini

[2017-04-17 11:03] dkrotil commented on #1153
I had typo in php.ini. Now is working.

[2017-04-17 11:03] #1153 closed

[2017-04-17 17:16] #1145 closed

[2017-04-18 16:13] tillkruss commented on #449
@michael-grunder Does PhpRedis support Redis Sentinel in 3.1?

[2017-04-18 23:55] doodoori2 commented on #1147
it works well php-pecl-redis-3.1.2 with php-7.0.17.
but php-pecl-redis-3.1.2 make a strange problem with php 7.0.8.
if anybody has the same problem, please update php latest version together!

[2017-04-19 11:19] parijke opened #1154 "Password is shown while throwing an error"
I just configured a redis server with a password to interface with it. While the server was down, the website I used it on (Drupal 8) threw an exception with the password shown.

I logged this issue https://www.drupal.org/node/2870622

It appears the password is supplied by de phpredis module which generates the error.

I think this is a security breach.

[2017-04-19 18:44] michael-grunder commented on #1154
Hi,

I'm not totally sure why you're getting the "redis server went away" exception on an authentication failure unless you were never actually able to connect in the first place.

Regardless, phpredis does not ever put the requested password in an exception message which you can test directly with this script:

[code]

This script will output:
[code]

The reason you are seeing the password is tha

[2017-04-19 20:10] yatsukhnenko commented on #1154
@michael-grunder, we can't and shouldn't do anything with this issue from inside of extension because, as you correctly remarked, that stack trace is printed by CMS. I'm not familiar with drupal but there should be the way to suppress printing such messages in production.

[2017-04-20 16:09] TrystanLea opened #1156 "Double to string conversion error on 3.1.0 and 3.1.2, php5.6"
First thankyou for the great work you do on phpredis! We use it as part of our open source energy monitoring software emoncms. http://github.com/emoncms/emoncms/

After upgrading to phpredis-3.1.0 and 3.1.2 we have encountered a problem with rounding of numbers. The primary target system for testing so far has been a raspberrypi system with php5.6. E.g:

    <?php
    $redis = new Redis();
    $co

[2017-04-20 16:13] pb66 opened #1157 "phpredis rounding down precision"
I wonder if you could please take a look at this issue raised on the emoncms/emoncms#660 repo.

We are experiencing issues with rounding and seem to have traced it to > v3.1.1 versions of phpredis (happy to be corrected if this isn't the case) I have rolled back to v2.2.8 on one machine and that now does not round off the values to a lower precision.

The machines are Raspberry Pi's and they are r

[2017-04-20 16:17] pb66 commented on #1157
Apologies my colleague has been raising an issue here at the same time.
https://github.com/phpredis/phpredis/issues/1156

[2017-04-20 16:23] #1157 closed

[2017-04-20 16:33] yatsukhnenko commented on #1156
Yeah, error in [compatibility layer function](https://github.com/phpredis/phpredis/blob/develop/common.h#L351).
As workaround you can use string value.

[2017-04-20 16:36] TrystanLea commented on #1156
Thanks @yatsukhnenko, is there a way to set that globally without having to change every call in the application?

[2017-04-20 16:37] yatsukhnenko commented on #1156
@TrystanLea, unfortunately no

[2017-04-20 16:40] TrystanLea commented on #1156
no problem, by compatibility layer do you mean a compatibility layer for php5? should we upgrade to 7.0 to fix the issue so that we can use the latest phpredis? Or should we wait on 2.2.8 for now?

[2017-04-20 16:46] yatsukhnenko commented on #1156
Since 3.1.0 phpredis is compatible to both php5 and php7 and you may try to update interpreter.

[2017-04-21 04:30] #1156 closed

[2017-04-21 19:36] #1154 closed

[2017-04-23 05:01] michael-grunder commented on #1152
https://github.com/phpredis/phpredis/tree/migrate-multiple-keys

[2017-04-23 22:19] michael-grunder commented on #487
Closing old open issues.

This has been documented.

[2017-04-23 22:19] #487 closed

[2017-04-23 22:23] michael-grunder commented on #525
Closing old issues.

Looking at this years later, I'm not sure we should actually do this.  The reason is that some people will want to default to MULTI, but others might want PIPELINE.  Better to pass to phpredis what you actually want I think.

[2017-04-23 22:23] #525 closed

[2017-04-23 22:25] michael-grunder commented on #351
Closing old issues.  PECL dlls are available for multiple versions of PHP

[2017-04-23 22:25] #351 closed

[2017-04-23 22:25] michael-grunder commented on #357
Closing old issues.

[2017-04-23 22:25] #357 closed

[2017-04-23 22:27] michael-grunder commented on #360
This was fixed

[2017-04-23 22:27] #360 closed

[2017-04-23 22:27] michael-grunder commented on #383
Closing very old issues.  This was fixed and PHP is now on 7.x.x

[2017-04-23 22:27] #383 closed

[2017-04-23 22:28] michael-grunder commented on #384
Closing old issues.  I believe there are multiple ways to apt get phpredis.

[2017-04-23 22:28] #384 closed

[2017-04-23 22:29] michael-grunder commented on #390
Closing old issues.  This is likely fixed may versions ago.  Please reopen if it is not.

[2017-04-23 22:29] #390 closed

[2017-04-23 22:29] michael-grunder commented on #412
Redis cluster support has been implemented.

[2017-04-23 22:29] #412 closed

[2017-04-23 22:29] michael-grunder commented on #430
I think phpredis does the correct thing in this case.

[2017-04-23 22:29] #430 closed

[2017-04-23 22:30] michael-grunder commented on #502
I think this is just the nature of loosely typed PHP, and phpredis really only throws exceptions in the event of a communication error and a select few specific other exceptions (e.g. AUTH, MASTERDOWN, LOADING)

[2017-04-23 22:30] #502 closed

[2017-04-23 22:31] michael-grunder commented on #532
Closing old unupdated issues.  If this is still an issue, please reopen.

[2017-04-23 22:31] #532 closed

[2017-04-23 22:32] michael-grunder commented on #307
`clearLastError()` is implemented, closing.

[2017-04-23 22:32] #307 closed

[2017-04-23 22:33] michael-grunder commented on #308
I'm closing out old unupdated issues.  If this is still an issue please reopen.

[2017-04-23 22:33] #308 closed

[2017-04-23 22:35] michael-grunder commented on #359
I'm closing out very old issues that haven't been referenced in a while.  Things have changed a lot in the last four years, so I'll leave it to others to re-open if they want this functionality.

[2017-04-23 22:35] #359 closed

[2017-04-23 22:35] michael-grunder commented on #448
Issue likely non relevant at this point.

[2017-04-23 22:35] #448 closed

[2017-04-23 22:36] michael-grunder commented on #237
This issue is unlikely relevant to the current codebase.  Please reopen if the issue persists.

[2017-04-23 22:36] #237 closed

[2017-04-23 22:37] michael-grunder commented on #253
Closing old issues.  If this problem persists please reopen.

[2017-04-23 22:37] #253 closed

[2017-04-23 22:38] michael-grunder commented on #250
Issue is likely not relevant to current code base.  Please reopen if it is.

[2017-04-23 22:38] #250 closed

[2017-04-23 22:38] michael-grunder commented on #230
Please reopen if this is still an issue you are facing four years on.

[2017-04-23 22:38] #230 closed

[2017-04-23 22:40] michael-grunder commented on #281
We've had this for a while, `rawCommand` which works in Redis and RedisCluster.

[2017-04-23 22:40] #281 closed

[2017-04-23 22:40] michael-grunder commented on #106
Issue likely no longer relevant to current code base.  If it persists please reopen a new issue.

[2017-04-23 22:40] #106 closed

[2017-04-23 22:40] michael-grunder commented on #172
I believe this is outside of the scope of PhpRedis itself.

[2017-04-23 22:40] #172 closed

[2017-04-23 22:42] michael-grunder commented on #265
Closing old issues.  This is still something that could be nice to have in RedisArray, but I will leave it up to others to reopen the issue if it is still desired.

[2017-04-23 22:42] #265 closed

[2017-04-24 11:32] hekep opened #1160 "What is the production branch?"
Hi,

I can compile and install develop branch successfully.

If I do  `git checkout master`,  and then during  `make` I get error:

`phpredis/common.h:3:40: fatal error: ext/standard/php_smart_str.h: No such file or directory`

What is `master` branch for, if it does not compile?

[2017-04-24 11:33] suxianbaozi commented on #1143
how about the cache slot in php7  ?  >_<

[2017-04-24 14:45] yatsukhnenko commented on #1160
@hekep, **develop** branch is default in this repo.
@michael-grunder, should we drop **master** branch to not confuse users?

[2017-04-24 15:21] suxianbaozi opened #1161 "I think we can add a password param to the function pconnect to avoild auth every time"
As we know the "pconnect" , which could make the connection reused, but when my server need password, every time i have to call auth method, is there any way to avoild it?   i think we can add a password  param to the function pconnect, is that ok?

[2017-04-24 15:27] suxianbaozi commented on #1161
avoid

[2017-04-24 16:57] michael-grunder commented on #1143
Hey,

I still plan on migrating the cache logic to the new code base, but other tasks got in the way.  I'll update the thread here when it's ready for testing.  Hopefully not too long!

Cheers
Mike

[2017-04-24 19:51] yatsukhnenko commented on #1152
@michael-grunder, looks good to me, the only objection is whitespaces at EOL in documentation

[2017-04-24 21:05] michael-grunder commented on #1152
That's on purpose.  Otherwise markdown smashes all of those lines together.

<br> also works, and probably other things but I couldn't be bothered to
properly look it up.

On Mon, Apr 24, 2017, 12:51 PM Pavlo Yatsukhnenko <notifications@github.com>
wrote:

[2017-04-24 21:11] yatsukhnenko commented on #1152
Ah, then everything is fine. [approve ci] :smile:

[2017-04-25 00:09] michael-grunder commented on #1160
A long time ago `master` was the most recent stable version, and `develop` was the working branch moving forward.  Then `develop` would become the _new_ master., etc., etc.

It might be a good idea to get back to doing this.  The advantage of that is that small "hotfix" improvements can be backported into `master` but unless very critical wouldn't get a new PECL version and release.

So it is a wa

[2017-04-25 03:33] michael-grunder commented on #1152
Merged via 9ec9aedea803ebc7b55fca026f3be69471d0e964 and  30462b86f68130bfb239de8c21d93ab8e9b95f03

@2ge please let us know if it's not working for you.

[2017-04-25 03:33] #1152 closed

[2017-04-25 04:23] yatsukhnenko commented on #1160
@michael-grunder, good idea! 👍 It would be easier to create releases for PECL with this scheme.

[2017-04-25 04:50] yatsukhnenko commented on #1055
There is [issue.1055](https://github.com/phpredis/phpredis/tree/issue.1055) branch for incremental work on this issue.

[2017-04-25 12:35] NickyX3 opened #1162 "zRange: Different types are returned in different versions of PHP"
Hello! Installed phpredis from develop branch (manualy or debian package 3.1.1)
My code like something that
[code]
Under PHP 5 i have INTEGER in scores
[code]
Under PHP 7.0 i have FLOAT in scores
[code]
I do not understand where the problem is, php or phpredis?
Any workarounds or patch to get integer (or string type) in scores in php7 like in php5?

[2017-04-25 16:42] michael-grunder commented on #1162
Hey,

I briefly tested 3.1.1 but couldn't replicate this behavior.  The scores are always being returned to me as float values.  You could try running a newer version but I'm curious as to what problems this is causing for you?

[2017-04-26 02:20] ppanphper opened #1164 "Why does not support ping slave node?"
![image](https://cloud.githubusercontent.com/assets/6057923/25415171/96390320-2a68-11e7-94db-7bb963802b1d.png)
ping slave node return Unknown node.
I use redis in the script of resident memory. I need to check whether the connection is normal every time.

[2017-04-26 08:07] NickyX3 commented on #1162
Hello Michael!
A certain problem was that after get zrange, array_flip was made :-)
That works with an integer or string, but does not work with float keys

We checked the environment in PHP5 version
PHP Version 5.4.26
PHPREDIS 2.2.4 - so old :-)
But generally strange unexpected behavior - in 2.x returned integer, in 3.x will return float
We were a little scared

[2017-04-26 13:37] yatsukhnenko commented on #500
Closing in favour of #1048

[2017-04-26 13:37] #500 closed

[2017-04-27 06:11] patademahesh commented on #70
We too facing the same issue. @yatsukhnenko does this patch fixes this issue?

[2017-04-27 06:16] yatsukhnenko commented on #70
@patademahesh, It should :)

[2017-04-27 06:19] yatsukhnenko commented on #70
I'm going to rewrite this patch without `goto` and merge if it fixes issue for everyone but I'm still waiting for feedback.

[2017-04-27 08:36] lilien1010 opened #1165 "coredump happend version=3.1.2"
I have  troubled by the php-redis extension related coredump,

here is my redis extension info,
PHP version is 5.4.40
[code]

and here is the php coredump info
[code]

can anyone explain to me why?

or should I update the PHP

[2017-04-27 08:44] yatsukhnenko commented on #1165
@lilien1010, do you have a script to reproduce this crash?

[2017-04-27 13:33] certainlysylvia opened #1166 "Strange Value Typing Issue only on PHP7.1"
Might be related to #1162 but that's reaching.

Am getting (only on zInter) an error that says "Weights must be numeric or '-inf','inf','+inf'" as per the code in commands.c for zinterstore.

The problem is the data IS correct ... the weights are numeric.

It gets stranger ...

This will be somewhat difficult to reproduce as it is occurring in a fairly large code base for a site I am developing.

[2017-04-27 14:34] yatsukhnenko commented on #1166
Are they numeric or numeric strings?

[2017-04-27 15:19] certainlysylvia commented on #1166
They are numeric .. integer. I also tried floats.

It's one of the stranger issues I've seen. Could it be opCache related?

I mean, the same data is passed via two paths that end at the same call to redis, which itself is passed the exact same data.

If you look a the dump above (last code block) you can see I pass, in order - the key to save to,  2 keys to intersect and then two weights for those

[2017-04-27 22:25] michael-grunder opened #1168 "Deprecation of non command sort helper methods"
Phpredis provides four helper methods for sorting which do not actually map directly to Redis commands, but are instead all simplified ways to call `SORT` with various different options specified.

The methods in question are:
* sortAsc
* sortAscAlpha
* sortDesc
* sortDescAlpha

In going through the code and cleaning up some of the methods, I noticed that this creates quite a lot of code duplicati

[2017-04-28 04:23] certainlysylvia commented on #1166
Okay - follow up - I think I have it :)

I removed a routine call, in the Batch class path, that in this particular case is not needed. It basically goes over params looking for items that are references to previous batches and processing them. Also dynamically generated data.

In doing this it cycles over the param data using references ...

I suspect, that the data, after that point is changed r

[2017-04-28 04:44] safo1 opened #1169 "insert json file"
This my code take json file i want to insert this data to key and retrive it by getting and setting but I get Invalid argument supplied for foreach().

[code]

[2017-04-28 05:00] aolley commented on #1169
You're taking a json encoded string and encoding it again. That just gives you another string, not an array.

You'll want to decode it before the foreach loop, *not* encode it.

More importantly, this isn't a bug with phpredis at all.

[2017-04-28 08:20] yatsukhnenko commented on #1169
Thanks, @aolley

[2017-04-28 08:20] #1169 closed

[2017-04-28 16:42] michael-grunder commented on #1166
Hi,

This is an interesting issue!  I'm going to set up a couple of classes that attempts to simulate this workflow.  It is possible for phpredis to clobber your arguments (basically an extension can call functions like `convert_to_*` on a PHP variable, and if it is not done on a _copy_ can cause problems once the arguments are returned to PHP.

That being said, we don't really do this anymore exc

[2017-04-29 15:39] certainlysylvia commented on #1166
Gimme a few days and I'll send you a work up - since I have the code, I can extract those parts and send over a bundle for you to test with.

I could do it sooner - but other stuff to clear first :)

I'll also send over the code I added, as a temp patch, that fixes the issue.

Cheers

[2017-04-30 04:03] certainlysylvia commented on #1166
[Test.v7-1.tar.gz](https://github.com/phpredis/phpredis/files/966542/Test.v7-1.tar.gz)

Run index.php and you will see two dumps of the params, just before redis execution - show that in each case they are correct types.

The first test - everything works. The second shows the warning and fails, the only difference between the two tests is one line (commented out in first test)

[code]

both tests

[2017-04-30 09:03] pcfreak30 opened #1170 "delete method returns false for php 7"
Having a case on wordpress where I can get a cache key but using del/delete on the same key returns false. I switched to predis and its working perfectly.

It appears to be broken on php 7, as 5.6 works fine.

using PHP 7.0.18-1~dotdeb+8.1 and redis extension version 3.1.1.

[2017-04-30 09:21] michael-grunder commented on #1170
Without more information it's hard to say for sure what the problem is.  That being said, are you able to try with the current version of phpredis (3.1.2)?

If you're still having issues I'm happy to help track it down.

[2017-04-30 09:28] pcfreak30 commented on #1170
No, this is on cloudways managed provider with a client site. Not in position to upgrade but your 3.1.2 changelog mentions nothing about anything related to this so i doubt its fixed there.

If you spin up a server there with wordpress, use the redis-cache plugin, and use xdebug, you can trace it down to the redis object calls. I don't know what more info to give right now.

[2017-04-30 18:08] mcouillard commented on #854
Seems the common way to handle this void is to place HAproxy in front. Your app talks to HAproxy . HAproxy talks with each backend to determine the master and uses whatever the current master is. The slaves are not used; they receive passive replication until the master goes down upon which Sentinel will promote 1 to master. HAproxy will detect this new master and use it.

Your app thinks it is ta

[2017-04-30 21:14] michael-grunder commented on #1166
Hey,

I've made a small change to the way we handle values in the WEIGHTS array for zInterStore which fixes the issue that happens when running your test script.

We probably need to do more work around references generally because this only solves it for the one specific case.  There are helper methods which abstract dereferencing from extension code so I'll look into using those more often.

Let

[2017-05-01 21:12] michael-grunder commented on #1170
There isn't any way I can help diagnose the problem without more information.

You can query `getLastError()` to see if that has any specific information as to why the delete failed.  You could also run the unit tests `php tests/TestRedis.php` from that environment to see if anything seems to be going wrong.

You can also use Predis.  It's a great library and no further investigation is needed.

[2017-05-01 21:12] #1170 closed

[2017-05-02 03:20] lilien1010 commented on #1165
the same problem occur again ,after I update PHP version to 5.5.36.

I want to get config from redis every 10 minutes.
so I create  a  configuration loader function like beblow.
[code]

and for the RedisCache class,  I build it  like this

[code]

Is there anything wrong?
@yatsukhnenko

[2017-05-02 06:49] pcfreak30 commented on #1170
@michael-grunder predis seemed to run 3x slow so switched to memcached.

Will try the unit tests.

[2017-05-02 08:29] pcfreak30 commented on #1170
Deleting the hStrLen test since 3.1.1 doesnt have the method it seems, heres the result.

https://gist.github.com/pcfreak30/6cce660d0ff5799580d10b86cf24a993

[2017-05-02 18:22] michael-grunder commented on #1170
I assume the warnings have to do with running current unit tests with an older version of phpredis.   We changed a few methods between 3.1.1 and 3.1.2.

That being the case things look to be working.  The delete test seemed to work.  It's possible that you are running into stability issues with 3.1.1 which are fixed in 3.1.2.  I'm not sure what the process is to get the extension upgraded, but I w

[2017-05-02 20:15] michael-grunder commented on #1164
We should probably allow for this.  The above function could be extended to also check slaves.

[2017-05-04 02:54] goith opened #1172 "redis as message queue, find a error: read error on connection"
i  use redis as message queue, in the consumer, use  while(1) { brpop}. i  have set "ini_set('default_socket_timeout', -1)", but why  still hava this error.  php53/phpredis2.2.3;php55/phpredis 2.2.8

[2017-05-04 02:55] goith commented on #1172
not frequently,   not everyday.

[2017-05-05 14:06] certainlysylvia commented on #1166
Cheers, seem to work atm and yeah, I kind of assumed it was something re the reference handling when you do the type checking.

For now I give you :1st_place_medal:

ciao

[2017-05-05 14:06] #1166 closed

[2017-05-07 14:21] pb66 opened #1175 "Is version 3.1.3 coming any time soon?"
following issue #1156 there was a fix https://github.com/phpredis/phpredis/commit/4e56ba804cdfcaae36b98f1bbdcf9ffb4e77b6e2 committed and I wondered when this would filter through to PECL.

Please understand I'm not chasing, just trying to decide whether we should look at editing our own documentation to recommend v2.2.8 for php5 systems in the interim, obviously we look forward to being able to re

[2017-05-07 16:27] armpogart opened #1176 "Passing install options to PECL"
Any way to enable `igbinary` and/or `msgpack` support while installing with `pecl install`?

[2017-05-08 06:53] yushengery opened #1177 "HINCRBY cmd produce incorrect result"
Branch php7
When a hash field was incr by a number less than MININT32(-2147483648), it turns out incorrect wrong result .
Ex:
$redis = new Redis();
$val = (-1 << 31) - 500;
$redis->connect('localhost', '6379');
$redis->hincrby('test', 'key', 1);
$redis->hincrby('test', 'key', $val);
$data = $redis->hgetall('test');
print_r($data);

The output is :
Array
(
    [key] => 2147483149
)
However, redis-c

[2017-05-08 19:43] michael-grunder commented on #1175
Hey,

I think we should get another release up to PECL as there have been a few fixes implemented since it was released.  The trick is going to be where to cut the release, as I would be a bit nervous pushing the present `develop` branch up with so many changes:

[code]
A great deal of that came from refactoring how we construct commands which _should_ be safe enough but needs more time being used

[2017-05-08 20:01] yatsukhnenko commented on #1177
@yushengery, `php7` is too old. Try `develop` branch.

[2017-05-08 20:13] michael-grunder commented on #1177
@yatsukhnenko I should delete some of these ancient branches :joy:

[2017-05-08 21:18] yatsukhnenko commented on #1176
@armpogart, I think the only way is to unpack sources with `pecl bundle redis` command and then manually run `configure --enable-redis-igbinary`

[2017-05-09 07:08] yushengery commented on #1177
Thanks,
It is confirmed the issue disappear in the develop branch

[2017-05-09 07:08] #1177 closed

[2017-05-09 08:26] pb66 commented on #1175
That sounds great, thank you!

[2017-05-09 09:44] Michal-sk commented on #1119
yes

[2017-05-09 09:44] #1119 closed

[2017-05-09 14:07] armpogart commented on #1176
Maybe something similiar to what `memcached` has done?
See [pecl manual](http://pear.php.net/manual/en/guide.developers.package2.pecl.php) and [memcached commit](https://github.com/php-memcached-dev/php-memcached/commit/0ca5a6e93f55f5caf485952ef6dbfa11e6ddecc4), so when we do `pecl install --enable-redis-igbinary --enable-redis-msgpack` it will pass those options to configure

[2017-05-09 14:11] armpogart commented on #1176
I also want to mention use case for future reference.

We are using redis extensively and all out dev and production is based on docker images, so we install `php redis` extension in applications where we need it. Yes, it's obvious that we can build extension from sources, but it is always easier to `pecl install` and pass appropriate flag if there's one.

[2017-05-09 20:22] yatsukhnenko commented on #1176
@armpogart, you are welcome to create pull request

[2017-05-10 04:09] #946 closed

[2017-05-10 06:43] mlocati commented on #1055
Just for the records, I created a [simple script](https://github.com/mlocati/php-ide-extensions-helper) that generates fake PHP files to help IDEs autocomplete feature.
Adding support to Reflection would greatly help in this case: [the current redis](https://github.com/mlocati/php-ide-extensions-helper/blob/master/samples/redis.php) helper file is quite useless at the moment :wink:

[2017-05-10 16:14] reimax opened #1179 "clear data from redis?"
I'm using radish for cache requests to bd. How do I clear the all cache?

[code]

[2017-05-10 17:55] yatsukhnenko commented on #1179
[one](https://github.com/nrk/predis), [two](https://redis.io/commands/flushall)

[2017-05-10 17:55] #1179 closed

[2017-05-11 04:49] yatsukhnenko commented on #1102
@alexbowers, since e372398 we return all errors as is

[2017-05-11 04:49] #1102 closed

[2017-05-12 13:02] matteomartinelli commented on #365
Creating another connection raise:

`Warning: Redis::connect(): connect() failed: Operation now in progress`

Any news?

[2017-05-12 13:32] aranw commented on #184
I'm having a similar problem mentioned by @richwandell any updates on a fix for this?

[2017-05-12 14:53] aranw commented on #1062
@bitactive @michael-grunder any updates regarding a fix for rediscluster? I'm currently getting this issue with PHP 7.1 and Redis 3.0.0/3.1.0 drivers.

[2017-05-12 19:32] danielruedaa opened #1180 "Error with chache"
I’m working on magento 2 install the network server to improve the performance and performance of the page, but when I try to clean the cache or generate libraries I generate the following error

Warning: Redis::pipeline(): Already in pipeline mode in vendor/colinmollenhour/credis/Client.php on line 1037

[2017-05-12 19:43] yatsukhnenko commented on #1180
This means that you called `Redis::pipeline` multiple times without `Redis::exec`

[2017-05-13 08:45] bitactive commented on #1062
Use our attached patch. We are using this on production for 2 months and it is working fine.

[2017-05-13 09:25] viion commented on #70
@yatsukhnenko how would I be able to test it?

I get this error every day for the past year, driving me insane!

[2017-05-13 09:32] yatsukhnenko commented on #70
@viion you should apply the patch I've listed to the source code and compile extension

[2017-05-13 11:46] Hint-ru commented on #254
I think, json serializer is easy way to solve the issue, because encoded number equals to decoded number.
#246

[2017-05-13 14:35] matteomartinelli commented on #70
Hey guys,
I read most of the issue but I didnt find any solution: I'm trying to subscribe to a redis channel but after a fixed amount of time it crashes.

suggestion?

[2017-05-13 14:49] yatsukhnenko commented on #70
@matteomartinelli, definitely you are doing something wrong 😂

[2017-05-13 14:50] matteomartinelli commented on #70
@yatsukhnenko There's no logic inside my callback, it raises a `PHP Fatal error:  Uncaught RedisException: read error on connection`

[2017-05-13 15:24] matteomartinelli commented on #70
I misunderstood the `$timeout` parameter in pconnect method. I thought it would raise an exception after `timeout` seconds.

BTW, Solved.

[2017-05-15 15:35] Rucknar commented on #1062
Any chance this fix will make it into the released software? Guess this needs re-opening?

[2017-05-16 16:21] ovflowd opened #1182 "Why not phpDoc or something else?"
Your `README.md` is absolutely huge.

Why not creating something _wiki_ based or _class_ documentation, or something more lighter.

It's absolutely <s><sub>mind blowing</sub></s> using README as your entire Documentation file.

[2017-05-16 17:03] michael-grunder commented on #1182
Hey,

We really should segment the documentation as it's grown to a pretty massive size.  The problem, of course, is that this will be a massive job at this point.  I think it's probably a pretty good idea to turn on the wiki feature as well.  I will take a look at how that all works.

Mike

[2017-05-16 17:13] #1180 closed

[2017-05-18 09:12] ppanphper opened #1183 "rediscluster return value exception"
Connection redis cluster, lpop queue return value exception.

![image](https://cloud.githubusercontent.com/assets/6057923/26194770/11bd2276-3bec-11e7-8e77-96bbacf65cf3.png)

`Redis option set: Redis :: OPT_SERIALIZER = Redis :: SERIALIZER_PHP`
`timeout = 1, read_timeout = 0.5, persistent = true`

`data = ['callback'=>[get_class($this), __FUNCTION__], 'params'=>[$bid, $page, $pageSize, true, 1]]`

[2017-05-18 12:54] jasdeep343 commented on #725
https://code.google.com/archive/p/pecl-win/downloads
here u get the latest one

[2017-05-20 03:02] michael-grunder commented on #1183
I'll try to take a look at this over the weekend.  It's possible that phpredis is getting out of sync (between connections).

[2017-05-21 06:39] ValiDrv opened #1184 "CLUSTER SESSION HA"
+ php 7.1.5
+ redis 3.2.8
+ phpredis 3.1.1RC2
Cluster config: A B C A1 B1 C1
Had to add a patch to be able to connect to the cluster
([patch_cluster_sessions.diff.txt](https://github.com/phpredis/phpredis/files/1016699/patch_cluster_sessions.diff.txt) attached, from another bug report).

Seams like redis connects to the masters one by one, and if one is down, it sometimes retries it.

**Problem is

[2017-05-22 02:54] ppanphper commented on #1183
Oh, that's really good news. Thanks!

[2017-05-22 04:01] ppanphper commented on #464
Is this function implemented? Or in other ways to solve?
@ParkFramework @michael-grunder

[2017-05-23 04:35] yatsukhnenko commented on #295
Duplicate #37

[2017-05-23 04:35] #295 closed

[2017-05-23 04:37] #405 closed

[2017-05-23 04:40] #567 closed

[2017-05-23 21:04] yatsukhnenko commented on #739
Just now have updated `master` to the latest stable `3.1.2`

[2017-05-23 21:04] #739 closed

[2017-05-23 21:10] yatsukhnenko commented on #1176
Fixed 0fef41a

[2017-05-23 21:10] #1176 closed

[2017-05-24 13:21] armpogart commented on #1176
Thanks, I was ready to make a pull request but couldn't find out how to test before it, as I couldn't find out how to publish test pecl package)))
I will test this today.

[2017-05-24 13:23] armpogart commented on #1176
As it's still on `develop` branch, I again don't know how to test/try it))

[2017-05-24 14:38] yatsukhnenko commented on #1176
@armpogart, `pecl package` + `pecl build`

[2017-05-24 16:53] spike3312 commented on #1175
Hi guys,

Just wondering if there has been any movement on this as my installation is struggling with version 3.1.2.

[2017-05-24 17:04] michael-grunder commented on #1175
I'll get something ready for packaging today.  I need to go through the history to determine which commits to include, because I don't want to include everything that is in develop now.

Git makes this reasonably easy though.

[2017-05-26 20:29] Tasiobg opened #1186 "multi operation only running on master"
Version: 3.1.2

Having set RedisCluster like that
[code]
Running get() inside a "[multi](https://github.com/phpredis/phpredis#multi-exec-discard)" are always run on master, not using "multi" distribute get commands between masters and slaves.

[2017-05-27 02:09] madaonoyabo opened #1187 "Dose version 3.2.8 support loading a cluster configuration by name?"
I defined the following seed nodes in redis.ini

redis.clusters.seeds = "mycluster[]=localhost:7000&test[]=localhost:7001"
redis.clusters.timeout = "mycluster=5"
redis.clusters.read_timeout = "mycluster=10"

But I couldn't start my redis server(version 3.2.8) and it show me the  following error message

*** FATAL CONFIG FILE ERROR ***
 Reading the configuration file, at line 945

 Bad directive or

[2017-05-27 02:43] michael-grunder commented on #1187
That looks like a redis error.  You would put this somewhere in your php.ini file.  Redis doesn't know about phpredis.

[2017-05-27 09:35] pinkladywithcoco opened #1188 "Difference between redis and rediscluster PHP Session handler setup"
Hi there,

I want to know the correct way to setup rediscluster as PHP Session handler.

Before trying to use Redis Cluster as PHP Session handler i have tried to use single Redis server as  PHP Session handler and what did was this:

edit  **php.ini**:

and that worked.

Now i want to use  Redis Cluster as PHP Session instead.
So i read on internet that " **session.save_handler**  " must contain

[2017-05-27 10:11] Tasiobg commented on #1186
Looks like RedisCluster doesn't support pipelining
https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#pipelining

[2017-05-27 10:11] #1186 closed

[2017-05-30 06:29] yatsukhnenko commented on #1048
@michael-grunder, review please

[2017-05-30 17:55] #1187 closed

[2017-06-01 07:11] lizhilei opened #1189 "zRange：The integer score will be converted to a floating point number"
I insterd data to redis
[code]
When i get it with the following code
[code]
It become
[code]
when I get it from redis， it‘s correct
[code]

I do not know where the problem is?

[2017-06-01 16:39] michael-grunder commented on #1189
Hey,

I checked as far back as version 2.2.7 and phpredis seems to have always worked this way.  The scores in a Redis zset are stored internally as double precision floating point numbers, and are returned to phpredis in string representation which phpredis treats as a float.

You're seeing scientific notation because PHP likes to do this automatically for large floating point numbers.  It would

[2017-06-04 18:01] simplephp opened #1190 "how used command "getadd"、“georadiusbymember” with phpredis"
hello everyone, my php version was  5.5.7, phpredis version was  3.1.2, in my code ,i try to used like this:
`
function _addToGeoList($redis, $key, $adcode, $lat, $lng, $uuid){
	return $redis->geoadd($key, $lng, $lat, $uuid);
}
`
`
function _georadiusbymember($redis, $key, $uuid, $radius = 500, $unit = 'mi', $WITHCOORD = false, $WITHDIST = false, $sort = 'ASC'){
	return $redis->georadiusbymember($

[2017-06-05 07:14] lizhilei commented on #1189
Thank you very much for your reply。
I had used version 2.2.2 for years. In version 2.2.2 it return the score as string.
I am very curious that why  converted the score to a float?

[2017-06-05 07:16] lizhilei commented on #1189
The function will return like this

[code]

[2017-06-05 07:16] lizhilei commented on #1189
The function will renturn like this in php 5.6  and php-redis 2.2.2
[code]

[2017-06-05 14:10] scaytrase commented on #1055
Without reflection dynamic code generation is broken, so tools like `ocramius/proxy-manager` cannot wrap redis with lazy proxy :(

[2017-06-06 10:55] Tasiobg opened #1192 "README.markdown is linking to an outdated cluster.markdown"
Is pointing to: https://github.com/phpredis/phpredis/blob/feature/redis_cluster/cluster.markdown
The current one seems to be: https://github.com/phpredis/phpredis/blob/develop/cluster.markdown

There are important differences like using the timeout wrongly

Can the cluster.markdown use lowercase for NULL? would be nice to follow PSR-2 http://www.php-fig.org/psr/psr-2/#keywords-and-truefalsenull

I

[2017-06-06 11:14] yatsukhnenko commented on #1192
I've changed the link. Thanks!

[2017-06-06 11:14] #1192 closed

[2017-06-06 12:31] #192 closed

[2017-06-06 12:39] yatsukhnenko commented on #403
Automatic reconnection works fine. Feel free to reopen this issue if needed.

[2017-06-06 12:39] #403 closed

[2017-06-06 12:43] yatsukhnenko commented on #559
https://github.com/phpredis/phpredis/issues/213#issuecomment-11361242

[2017-06-06 12:43] #559 closed

[2017-06-06 14:02] Tasiobg opened #1193 "RedisCluster not working with PHP 7 strict scalar type"
One of the interesting feature in PHP7 is scalar type hint, there is two modes of operation, by default is weak which is working fine but setting it to strict cause this issue:
`Uncaught TypeError: RedisCluster::__construct() expects parameter 1 to be string, null given`

Issue can be reproduce with this code:
[code]

[2017-06-06 16:01] Tasiobg opened #1194 "[Improvement] RedisCluster::OPT_SLAVE_FAILOVER distribute readonly commands to the selected node"
RedisCluster::FAILOVER_DISTRIBUTE is distributing readonly commands between masters and slaves at random. I would like to be able to choose the preferred node in each connection, this way I can choose the closer one to this app server and save some time.

[2017-06-06 16:58] yatsukhnenko commented on #1194
@Tasiobg, how this 'choosing' should looks like?

[2017-06-06 19:21] Tasiobg commented on #1194
Thanks for having a look at this suggestion

@yatsukhnenko may be something like this?
[code]

Some APP are distributed among different availability zones and running behind a load balancer like HAProxy, I would like to be able to choose a preferred node per request because I know which node is closer.

Not sure how good is the example above but this only need to be set once per request and I thin

[2017-06-06 20:50] yatsukhnenko commented on #1112
probably fixed

[2017-06-06 20:50] #1112 closed

[2017-06-06 20:57] yatsukhnenko commented on #1122
Feel free to reopen issue if there will be more information about how to reproduce it

[2017-06-06 20:57] #1122 closed

[2017-06-06 21:02] yatsukhnenko commented on #1103
@alexbowers, your example script doesn't work for me... it seems that we've fixed something :)

[2017-06-07 06:21] yatsukhnenko commented on #37
#1181

[2017-06-07 06:23] yatsukhnenko commented on #339
Duplicates #37

[2017-06-07 06:23] #339 closed

[2017-06-07 06:28] yatsukhnenko commented on #668
Old issue with not enough information

[2017-06-07 06:28] #668 closed

[2017-06-07 06:30] yatsukhnenko commented on #730
Resolved

[2017-06-07 06:30] #730 closed

[2017-06-07 06:31] yatsukhnenko commented on #755
All tests passed on travis ci

[2017-06-07 06:31] #755 closed

[2017-06-07 06:33] yatsukhnenko commented on #746
You can use both HTTP and CLI

[2017-06-07 06:33] #746 closed

[2017-06-07 11:12] suxianbaozi commented on #1143
i'm sorry .......

[2017-06-07 17:50] dmelo commented on #1079
Same problem here. Any advice?

[2017-06-07 17:59] pb66 opened #1196 "enable igbinary serializer support?"
Hi guys. I just found v3.1.3RC1 on PECL and thought I might give it a spin, during setup I was asked

I just accepted the default of "no", is this a beta only question or will this be present in the production release?

Are you aware of a command or option switch to accept the default for an unattended install?

[2017-06-08 06:26] yatsukhnenko commented on #1196
Hi, @pb66.
It will be in production release.
You need to type 'yes' to enable this option.

[2017-06-08 09:08] pb66 commented on #1196
Ok, thanks @yatsukhnenko

I have found I can automatically accept the default using the following command (on Linux)

[2017-06-08 09:08] #1196 closed

[2017-06-09 00:19] larzuk91 commented on #658
Where can I find the fix ? I just upgraded to php7 and my roundcube webmail can't start sessions anymore =/

[2017-06-09 01:54] michael-grunder commented on #658
Hey,

What version of phpredis are you running?  It appears that the fix for differentiating between empty session data and false is in the commit history.

[2017-06-09 10:28] HaiNguyen007 commented on #457
+1

[2017-06-09 10:41] yatsukhnenko commented on #457
I don't think that we would ever support hhvm.

[2017-06-12 01:58] voocel opened #1197 "PHP can't connect the redis"
Hello,I use redis.cli, is ok.  But  I use php is not work.
`Fatal error: Uncaught RedisException: Redis server went away in...`
[code]
Peleas， Are there any problems with above all of these version？

[2017-06-12 06:33] yatsukhnenko commented on #1197
3.0.0-rc1 is too old. Try stable 3.1.2 or the latest 3.1.3rc1

[2017-06-12 08:07] voocel commented on #1197
I've found the reason for the mistake，
Because I'm using it in docker，the redis.conf  should bind 0.0.0.0 not 127.0.0.1
thanks for your help

[2017-06-12 10:24] #1197 closed

[2017-06-13 16:27] wolframite commented on #246
JSON is also interesting when you have multiple languages accessing redis. PHP-Serializer and IGBinary don't exist for Java/Golang etc.

[2017-06-13 21:07] dermanov-ru commented on #70
in my CLI php script was this line
`// ini_set('default_socket_timeout', 0); // DOESNT WORK WITH REDIS!!!`
just remove of them - solve problem.

[2017-06-13 21:59] virgofx commented on #70
@yatsukhnenko Is there anyway you can test with the code in issue: comment: https://github.com/phpredis/phpredis/issues/70#issuecomment-151607739.... and confirm failure as outlined in the issue and then with your fix, confirm that it's fixed?

[2017-06-14 09:20] yatsukhnenko commented on #70
@virgofx, are you asking me to test my own patch? :joy:

[2017-06-14 12:06] viion commented on #70
@yatsukhnenko i couldn't get your patch working, or it didn't fix my issue. Not sure how to confirm. My issue was happening nearly every day for about 15 minutes I'd get the error.

I modified my `pconnect` timeout to `5` seconds, and now I get this error a couple times at week, which is an improvement. I also have try/catch connect.

I can deal with it a few times a week since its self-recovery.

[2017-06-14 13:18] virgofx commented on #70
@yatsukhnenko Yes :) Simply because it's probably easier for you once patch built to `php redis-test.php` than for those who don't work in redis land to try and pull, build, install, copy patch changes, rebuild, etc.

The script is literally self-contained in that comment.

[2017-06-14 13:59] yatsukhnenko commented on #70
@virgofx, I've used your test script while created patch

[2017-06-14 14:03] yatsukhnenko commented on #70
@viion `ini_set('default_socket_timeout', -1);` also doesn't help?

[2017-06-15 03:30] wellhowtosay opened #1198 "hGetAll doesn't work well when I use hashTable to save json string"
test.php:
`<?php`
`$redis=new Redis();`
`$redis->connect("127.0.0.1");`
`$jsons=$redis->hGetAll("dishes");`
`foreach($jsons as $json){`
`    json_decode($json);`
`}`

**the server responded with a status of 502**

**segmentation fault**

[2017-06-15 04:44] yatsukhnenko commented on #1198
@wellhowtosay, could you provide more details? Version of phpredis, php, redis. How do you put data into redis? Backtrace of segfault.

[2017-06-15 06:08] wellhowtosay commented on #1198
redis version: 3.2.9
phpredis version:3.1.2
php version:7.0.7

I use hSet to put data into redis,you can try it yourself,to put so json string into hashTable,and use hGetAll to get them,BTW hVals works well,and they all work well in redis-cli(I'm from China,my English is pool,hope you can understand what I say^-^)

[2017-06-15 06:51] yatsukhnenko commented on #1198
@wellhowtosay, hGetAll works fine on mi machine

[2017-06-15 06:56] yatsukhnenko commented on #1198
@wellhowtosay, try the latest version of php and phpredis

[2017-06-15 20:43] yatsukhnenko commented on #831
Resolved

[2017-06-15 20:43] #831 closed

[2017-06-15 20:45] yatsukhnenko commented on #785
Probably fixed

[2017-06-15 20:45] #785 closed

[2017-06-15 20:46] #767 closed

[2017-06-16 08:45] #1092 closed

[2017-06-16 11:01] NoNalTrX opened #1199 "Session are not saved with rediscluster"
I'd like to save my session in a redis cluster, but nothing is saved.

My actual config is:

[code]

my test code is:

[code]

I got the error log:

`session_start(): Failed to read session data: rediscluster (path: seed[]=node1:6379&seed[]=node2:6379&seed[]=node3:6379)`

I'm on
- OS: Ubuntu Server 16
- Redis: 3.0.6
- PHP: 7.1.6
- phpredis: 3.1.2

I've checked my redis cluster by saving data in it

[2017-06-16 12:45] yatsukhnenko commented on #1199
@NoNalTrX

node1, node2 and node3 are servers in your network or you just forgot to change addresses? :joy:

[2017-06-16 12:50] NoNalTrX commented on #1199
No I've just anonymised the domain name in the issue to avoid long string with the domain names.

[2017-06-16 13:02] yatsukhnenko commented on #1199
Is this code works with that servers but not localhost?

[2017-06-16 13:04] NoNalTrX commented on #1199
Yes, it does. I tried with domain name, IP address and localhost as localhost is one of the node of the cluster.
 All those solution works fine. In fact my entire app use Redis Cluster as backend cache. Just the sessions failing.

[2017-06-16 13:56] yatsukhnenko commented on #1199
@NoNalTrX, could you test fix from [issue.1199](https://github.com/phpredis/phpredis/tree/issue.1199) branch

[2017-06-16 14:23] yatsukhnenko commented on #546
Duplicate #1033

[2017-06-16 14:23] #546 closed

[2017-06-16 14:40] NoNalTrX commented on #1199
the session seems to be working using this branch. Thanks.

[2017-06-16 14:57] NoNalTrX commented on #1199
do you have an idea of the time it will take to get this fix merged and packaged in the debian package?

[2017-06-16 20:55] yatsukhnenko commented on #1199
Honestly I don't know who, how and when creating debian packages... but I'm going to publish this fix as part of 3.1.3RC2 in a two or three weeks

[2017-06-16 20:55] #1199 closed

[2017-06-17 15:25] NoNalTrX commented on #1199
Ok, thanks. And thanks for the fix. 👍

[2017-06-20 08:59] zjsxwc opened #1200 "[solved] How to incr the value created by set?"
### Expected behaviour
[code]
### Actual behaviour
[code]
### I'm seeing this behaviour on
- OS: Debian 8
- Redis:3.2.8
- PHP:7.0.18
- phpredis:3.1.2

### Steps to reproduce, backtrace or example script

[code]
### I've checked
- [ ] There is no similar issue from other users
- [ ] Issue isn't fixed in `develop` branch

[2017-06-20 11:08] yatsukhnenko commented on #1200
@zjsxwc, is data serialization enabled?

[2017-06-20 11:49] zjsxwc commented on #1200
@yatsukhnenko

hello, i simply created the Redis instance this way:
[code]
and not enable the data serialization option.

the number 666 set to redis key in redis cli is this string:
[code]

[2017-06-20 11:52] zjsxwc commented on #1200
@yatsukhnenko

i compile the phpredis this way:

[code]

[2017-06-20 12:55] yatsukhnenko commented on #1200
@zjsxwc, I don't actially know how it works in docker. What `$redis->getOption(Redis::OPT_SERIALIZER);` shows?

[2017-06-20 13:16] zjsxwc commented on #1200
@yatsukhnenko

hello,

the result of `var_dump($redis->getOption(Redis::OPT_SERIALIZER));`

is

`int(2)`

[2017-06-20 13:20] zjsxwc commented on #1200
solved the problem.

just add `$redis->setOption(Redis::OPT_SERIALIZER,Redis::SERIALIZER_NONE)` before `set` number.

[2017-06-20 13:20] #1200 closed

[2017-06-20 13:44] yatsukhnenko commented on #254
Don't use igbinary serializer to avoid problems with incr/decr or don't use incr/decr

[2017-06-20 13:44] #254 closed

[2017-06-20 13:47] yatsukhnenko commented on #218
Probably fixed

[2017-06-20 13:47] #218 closed

[2017-06-20 13:52] yatsukhnenko commented on #306
Old issue without any activity

[2017-06-20 13:52] #306 closed

[2017-06-21 03:01] daoliangyang opened #1201 "Is there a way to do connection pooling using RedisCluster in phpredis?"
Need help on connection pooling with RedisCluster in phpredis.

### I'm using
- OS: CentOS
- Redis: AWS cluster mode enabled redis cluster
- PHP: 5.5
- phpredis: 3.1.2

[2017-06-21 06:12] yatsukhnenko commented on #1201
Clarify your question please

[2017-06-21 10:06] #566 closed

[2017-06-21 14:43] daoliangyang commented on #1201
Hey Pavlo,

Thanks for your quick response!
We have a 4 shard redis cluster managed on aws elastic-cache. From time to
time, we get connection spikes on the cluster which chokes it. AWS suggests
us to implement connection pooling because they said during the spikes the
data outflow increased and connections exceeded the limit. As you know
connection pooling reduces the cost of making connections d

[2017-06-22 05:49] yatsukhnenko commented on #1201
Unfortunately I don't have any practical experience with RedisCluster and I heven't used twemproxy (using HAProxy instead). Maybe @michael-grunder will help?

[2017-06-22 16:47] daoliangyang commented on #1201
@michael-grunder Could you please share some insights with us? any help is really appreciated!

[2017-06-23 07:44] #1129 closed

[2017-06-23 07:46] yatsukhnenko commented on #1160
`master` is syncronized to the latest stable PECL release

[2017-06-23 07:46] #1160 closed

[2017-06-26 15:05] #1006 closed

[2017-06-26 15:07] yatsukhnenko commented on #732
Probably fixed

[2017-06-26 15:07] yatsukhnenko commented on #843
Probably fixed

[2017-06-26 15:07] #843 closed

[2017-06-26 15:12] yatsukhnenko commented on #835
There is no such param `retry_count`.

[2017-06-26 15:12] #835 closed

[2017-06-28 10:32] sp-joseluis-ledesma commented on #1139
ping

[2017-06-28 10:40] sp-joseluis-ledesma commented on #1183
Could this be the same as #1139 ?

[2017-06-28 13:37] svojatom opened #1203 "Missing stub for RedisCluster PHPStorm"
I think it is useless without autocomplete in PHPStorm. Also, first parameter of RedisCluster cannot be null if I use declare(strict_types = 1);

[2017-06-28 13:41] svojatom opened #1204 "RedisCluster doesn't work with Docker"
I use https://github.com/Grokzen/docker-redis-cluster. I get an error "Couldn't map cluster keyspace using any provided seed". I don't know what is going on. Can you help me?
My instance
`new RedisCluster('cluster', [
                'localhost:7000,
                localhost:7001,
                localhost:7002,
                localhost:7003,
                localhost:7004,
                local

[2017-06-28 14:54] svojatom commented on #476
I get the error Couldn't map cluster keyspace using any provided seed and have cluster_enabled: 1, but I use with Docker https://github.com/Grokzen/docker-redis-cluster.

[2017-06-29 08:10] yatsukhnenko commented on #1204
@svojatom, according to [documentation](https://github.com/phpredis/phpredis/blob/develop/cluster.markdown#declaring-a-cluster-with-an-array-of-seeds) you should pass `NULL` to constructor as the first argument

[2017-06-29 08:12] yatsukhnenko commented on #1203
You are welcome to create PR with arginfo for RedisCluster

[2017-06-29 08:12] #1203 closed

[2017-06-29 10:52] svojatom commented on #1204
@yatsukhnenko it is same. Also, I have tried to change host.

[2017-06-29 11:41] yatsukhnenko commented on #1204
@svojatom

this should be an array of strings

[2017-06-29 15:03] svojatom commented on #1204
It seems to be working. I am pretty stupid. Thank you

[2017-06-29 16:01] #1204 closed

[2017-06-29 20:27] #1198 closed

[2017-06-29 20:31] yatsukhnenko commented on #1172
@goith, did you try the latest version of phpredis?

[2017-06-29 20:33] #1162 closed

[2017-06-29 20:43] yatsukhnenko commented on #809
@gearhead, are you sure? tcp is off, how can you connect to 127.0.0.1?

[2017-06-29 20:44] yatsukhnenko commented on #809
@lukasz-zaroda, try the latest version of phpredis

[2017-06-29 20:48] #762 closed

[2017-06-29 20:49] #736 closed

[2017-06-29 20:51] #1080 closed

[2017-07-01 17:01] yatsukhnenko commented on #184
The original issue is resolved. @richwandell, @aranw, open new issue and provide more information

[2017-07-01 17:01] #184 closed

[2017-07-01 17:27] yatsukhnenko commented on #979
@crazycodr did you try the latest version of phpredis?

[2017-07-01 19:36] crazycodr commented on #979
Oh my, this problem has been resolved and it was one hell of a race condition issue where, from memory cause it's been a while, the ioc we we're using was being reloaded and because of a inprocess callback to a library that restarted our whole kernel using some static state. Truly, nothing to do with phpredis per se, but it did baffle us for a good 2-3 days from memory.

Closing

[2017-07-01 19:36] #979 closed

[2017-07-01 21:15] #1094 closed

[2017-07-01 21:20] yatsukhnenko commented on #1036
@zhuleilei, did you try the latest version of phpredis?

[2017-07-01 21:21] #985 closed

[2017-07-05 04:35] windrainw opened #1205 "use convert_to_xxx function to change elements of array in extension will segment fault."
### Expected behaviour
change element is ok, do as normal.
### Actual behaviour
segment fault
### I'm seeing this behaviour on
- OS: centos 7
- Redis:
- PHP: 7.1.5
- phpredis: master

### Steps to reproduce, backtrace or example script
we use xadd command, it looks like zadd, almost have the same parameters, score element.

but we use convert_to_double to convert score to double, so in the functio

[2017-07-05 06:28] yatsukhnenko commented on #1205
@windrainw try to avoid using `convert_to_*` functions. There are `zval_get_*` functions in php7 which is preferred.

[2017-07-05 09:12] windrainw commented on #1205
@yatsukhnenko thanks, It's all right, this mistake spend me a month to find it, so I share it here, hope others not make mistake again.

[2017-07-05 09:14] #1189 closed

[2017-07-05 09:20] #1205 closed

[2017-07-05 11:13] muayyad-alsadi commented on #492
@folkenfanel this was the solution from our side (php)

[code]

[2017-07-06 02:38] hello2t opened #1206 "redis_mbulk_reply_assoc core dump on hmget"
here is the strace
[code]
### I'm seeing this behaviour on
- OS: gcc version 4.4.6 20110731 (Red Hat 4.4.6-3)
- Redis:2.8
- PHP:7.1.1
- phpredis:3.1.1

### Steps to reproduce, backtrace or example script
[code]

[2017-07-06 12:59] agentile commented on #1200
@zjsxwc @yatsukhnenko I installed the latest version 3.1.3RC2 and enabled SERIALIZER_IGBINARY and saw the same issue.

Is this a bug in the serializer or is this intended behavior for some reason ... as it would be nice to see this fixed if it is a bug.

[2017-07-06 13:00] agentile commented on #1200
Seems there is another issue about this https://github.com/phpredis/phpredis/issues/670

[2017-07-06 13:00] agentile commented on #670
Any word on this?

[2017-07-06 13:03] agentile commented on #598
https://github.com/phpredis/phpredis/issues/670

[2017-07-06 15:30] michael-grunder commented on #670
Hi,

This issue has been reported at various times through the years, but don't really think it's a bug in phpredis.

With serialization enabled, phpredis will serialize the value being `set`.  The `incr` command happens totally server side, so Redis reads the IGBINARY encoded data, sees it as `0` and then increments to `1`.

The only way to make it work transparently would be to translate any inc

[2017-07-06 15:32] jrchamp commented on #670
Perhaps you could emit a PHP warning that incr is being used with serialization active?

[2017-07-06 16:16] michael-grunder commented on #670
I see what you're saying but the issue is that an `incr` command will work just fine even with serialization enabled.  The key could even be controlled externally by another part of the system and the `incr` totally valid.

I'm just not sure if there is a particularly elegant way to handle it.

@yatsukhnenko Any ideas? :smile:

[2017-07-06 16:41] michael-grunder commented on #1206
Thanks for the report and backtrace.  Is it possible for you to post a small sample script that can recreate the problem?  I see that it's crashing in `hMget` but there is no way to tell precisely what data is in the key.

Also you may want to try phpredis `3.1.2` or `3.1.3RC2` if possible.  There have been a few bug fixes since 3.1.1

[2017-07-06 17:00] yatsukhnenko commented on #670
@michael-grunder I'm absolutely sure that this is not a bug of phpredis. When you use igbinary (json does not affected) you should understand that data on the server stored serialised and can't be natively incremented. Or you don't use igbinary or don't use incr/decr commands. As the compromise you may temporary disable serialisation before incr/decrease in application logic but definitely not in

[2017-07-06 17:56] agentile commented on #670
Thanks guys, that makes everything a lot clearer. I think many people may think, oh, lets use igbinary for performance reason and not really understand something like this will happen or it can be hard to know if their codebase will do something like this. I fell into this camp. It would likely be helpful to explain this in the readme in the serializer section / configuring with igbinary to save s

[2017-07-06 18:41] jrchamp commented on #670
Agree with @agentile that documentation of some kind should exist.

If you do want to explore providing direct feedback to the developer, you could add something like this to `redis_atomic_increment()`:
[code]

Worth noting: json does not have the problem because the json serialize of an integer is the same as the string representation of the same integer.

[2017-07-06 18:43] michael-grunder commented on #670
Documenting the issue is a good idea.  Hopefully it can help people avoid some pain!

[2017-07-06 20:06] michael-grunder commented on #670
@jrchamp I totally agree with you about adding some verbiage in the docs to help people avoid the pitfall.  We can't throw a warning in this case because executing an `incr` type command is not inherently wrong, even if serialization is enabled.

Adding myself to the task of adding documentation.

Cheers!
Mike

[2017-07-06 20:44] jrchamp commented on #670
@michael-grunder Thank you for taking this on. Is it not wrong because the value could have been set when serialization was disabled and calling `incr()` will work just fine?

[2017-07-06 20:58] michael-grunder commented on #670
Right.  The increment and increment by code won't serialize the value passed so it will work just fine.

The key could even be accessed/used outside of php entirely (a shared counter, accessed via Javascript, etc).

[2017-07-07 03:59] hello2t commented on #1206
@michael-grunder

more information
[code]

[2017-07-07 04:05] michael-grunder commented on #1206
Thanks,

I can see what's happening in general, but it's difficult to determine what exactly is causing the crash without a script that can reproduce it.  It would be interesting to know if this bug has been solved in 3.1.2 or 3.1.3RC2 in which case there is no need to do more investigation :smile:

Also, in all of the years I have worked on phpredis I had no idea that this existed:
```(gdb) sourc

[2017-07-07 14:33] gianpaolodn commented on #571
@DartBond I'm having the same sporadic issue. Did you manage to solve this?

[2017-07-09 14:07] dano1066 opened #1207 "Unable to catch redisexception with a try catch"
I want to make sure that if Redis ever goes down, my site will function fine by acting as if there was no cache hit in redis and obtaining the record from the DB. I have put the pconnect method inside a try catch and if it fails, then i can set the redis variable to null and everything should be fine. However, when i force it to throw an exception it doesnt get caught in the try catch. Here is the

[2017-07-09 21:29] rustem-art opened #1208 "Can return response or stop subscribe?"
Hi! Thank you for best lib!

I use predis and i want subscribe to channel in PHP and wait 30 seconds. If not receive any messages at channel, return json response. Or if messages in channel exists, return response too and exit

.For example i want, that my Redis::subscribe return $message and i can return response. I have a some code in Controller in Laravel:

[code]

And why Redis::subscribe can

[2017-07-10 01:03] michael-grunder commented on #1208
Hi,

Are you using predis (https://github.com/nrk/predis) or phpredis?  I'm not very familiar with predis but phpredis doesn't have a static `Redis::subscribe` method.  :smile:

[2017-07-10 04:11] rustem-art commented on #1208
Ohh, im sorry. :) i use predis.
And does phpredis can break or response from subscribe function?

10 июля 2017 г., 4:03 +0300, Michael Grunder <notifications@github.com>, писал:

[2017-07-10 06:16] 547142884 commented on #1208
## 我知道

[2017-07-10 07:26] steffenweber commented on #732
I've tested again using PHP 7.1.17 and PhpRedis 3.1.3RC2: the bug is still there.

[2017-07-10 17:21] michael-grunder commented on #732
Hey guys,

I'm not totally sure what the best thing to do is here.  It is correct that the functionality changed from 2.2.7 -> 2.2.8, but the change is actually more correct from a Redis standpoint.  Using a zero second expire is an error, and Redis will report it as such:

[code]

Additionally, the 2.2.7 functionality is potentially more dangerous as it will silently write a never expiring key if

[2017-07-10 17:42] michael-grunder commented on #1208
Hey,

It looks like this isn't possible now.  It looks like I implemented this functionality a few years back but the change never made it into released code:
https://github.com/phpredis/phpredis/issues/526

I think you can wait for a certain amount of time by using the `read timeout` for the class itself.   I'll take a look and see how I implemented the functionality back in 2014.

Mike

[2017-07-11 06:16] steffenweber commented on #732
Thank you for the feedback. I did not know that Redis reports an error for expire = 0.

That being said, the PhpRedis 2.2.7 behaviour still makes more sense to me from a PHP API perspective (for example, it mirrors the `expire` parameter of the `setcookie` function where `0` means "never expires").

On the other hand, I *personally* have adjusted my code and therefore have no problem at all with k

[2017-07-12 13:16] finelog commented on #70
hey, guys

I am using 3.1.2 version and encountered this issue too, using `ini_set('default_socket_timeout', -1);` works.

but it's affecting the whole php process life cycle, so I did some digging, and found this
`$redis->setOption(Redis::OPT_READ_TIMEOUT, -1);`. just hope it would help.

[2017-07-14 12:45] itbdw commented on #70
I'm using predis, I solved the problem several days ago.

I set the redis server timeout to a none zero value.

What I found is my redis server hold some long time idle connections, when the client try to new connection, error comes out.

So after I set the timeout, redis serve kill the outdated connection, and here comes peace. Hope helps :)

[2017-07-16 12:36] yatsukhnenko commented on #1175
3.1.3 was released yesterday

[2017-07-16 12:36] #1175 closed

[2017-07-18 13:09] remicollet commented on #1175
Looks like 3.1.3 introduce some regressions

Various users my my [repository](https://rpms.remirepo.net/)  reports about segfault after upgrade (at least with PHP 5.4 and 5.6).
Downgrade to 3.1.2 solves it

Ex: https://github.com/remicollet/remirepo/issues/75

[2017-07-18 15:04] jmfontaine opened #1210 "Version 3.1.3 Segfaults on PHP 5.4"
### Expected behaviour

Not to segfault. ;)

### Actual behaviour

Segfaults when called.

### I'm seeing this behaviour on
- OS: CentOS 6.9
- Redis: 2.8.19 (AWS Elasticache)
- PHP: 5.4.45
- phpredis: 3.1.3

### Steps to reproduce, backtrace or example script

I can not share the script that crashed but downgrading to version 3.1.2 fixed the segfaults.

[2017-07-18 15:56] yatsukhnenko commented on #1210
Unfortunately in the summer, my psychic abilities are dulled (apparently the effect of heat) and I can't fix segfaults without additional information.

[2017-07-18 16:26] michael-grunder commented on #1210
It's going to be hard to track this down without more information than "it broke and the script that broke it is a secret" :joy:

That being said, I'm inclined to drop support for php 5.4 as Zend did almost two years ago.

[2017-07-19 00:45] remicollet commented on #1210
@michael-grunder this issue is not specific to 5.4 but to 5.x (I have other reports from users of my repository about 5.6)

[2017-07-19 02:43] valdislav opened #1211 "Version 3.1.3 Warning: Redis::pipeline(): Already in pipeline mode"
Hi, today library was updated and we got this error.

### Expected behaviour
Not throw warnings.
### Actual behaviour
Warning: Redis::pipeline(): Already in pipeline mode on every request.
### I'm seeing this behaviour on
- OS: RHEL 6.9
- Redis: redis-2.8.17-2.el6.x86_64
- PHP: 7.0.21-1
- phpredis: php-pecl-redis-3.1.3-1.el6.remi.7.0.x86_64

### Steps to reproduce, backtrace or example script
In t

[2017-07-19 03:35] michael-grunder commented on #1211
I'll have to check but I think this is a new warning thrown if you try to enter pipeline mode when already in pipeline mode.

[2017-07-19 04:53] michael-grunder commented on #1210
Thanks for the report as always!  I'll gladly help track it down but will need a bit more information.

Enjoy your vacation!

[2017-07-19 07:27] remicollet commented on #1210
Also happens with 7.0 => https://github.com/magento/magento2/issues/9875

[2017-07-19 07:42] remicollet commented on #1211
@valdislav FYI, redis 3.1.3 have been removed from my repository, I recommend you downgrade to 3.1.2, waiting for some update.

[2017-07-19 07:58] siliconalchemy commented on #1211
+1 this has just killed production websites for us.  Downgrading to 3.1.2 fixed it.

[2017-07-19 10:37] yatsukhnenko commented on #1211
@michael-grunder I've specially added this warning to help users find and fix double `pipeline` calls because in previous releases this was dangerous.
As for me it is easier to fix this issue by adding check in php code instead of fixing in extension and releasing new version but I don't mind to remove this warning if it will affect many users.

[2017-07-19 14:08] maximium commented on #548
I guess it should prepend the prefix to the "match" argument in *scan* method and strip the prefix in result set.

my use case:
[code]
I have to add prefix to *scan* command argument and strip it in *del* in my php code now.

Is there any sense to get prefixed keys from commands that return key names?

[2017-07-19 14:42] jmfontaine commented on #1210
@michael-grunder @yatsukhnenko That's fair! 😄

My priority at the time was to fix the problem as it was occurring on production servers not to get debug backtraces. I am trying to put together an environment that reproduces the segfault so that I can share relevant info with you. I will be very busy until the end of the week but intend on working on that early next week.

Thanks for your help!

[2017-07-19 15:51] michael-grunder commented on #1210
Awesome, thanks!  I ran the unit tests against multiple versions of php on multiple environments hoping I would get lucky and see a crash, but didn't see any.

Once we can reproduce the crash it should be simple to fix.

Cheers!

[2017-07-25 12:47] FadelChafai commented on #1180
You can try to reinstall an older version of pecl/redis ( i had the same issue with Mag 1 )
pecl uninstall redis
pecl install redis-3.1.2

[2017-07-25 12:47] FadelChafai commented on #1211
You can try to reinstall an older version of pecl/redis ( i had the same issue with Mag 1 )
pecl uninstall redis
pecl install redis-3.1.2

[2017-07-25 16:35] DerekMarcinyshyn commented on #1211
downgrading to redis-3.1.2 fixed it for me.
Magento EE 1.14.x
last night upgraded from php 5.6.30 to php 5.6.31 which seemed to trigger the pipeline warning

[2017-07-25 20:57] michael-grunder commented on #1211
From my perspective I think that issuing a warning here is more _correct_ as entering pipeline mode twice (or multiple times) could indicate that the PHP client code has lost track of the object state.

That being said, since this is new behavior introduced in 3.1.3 and is causing people pain it's probably best to go ahead and remove it.  There is nothing inherently dangerous about treating a dupl

[2017-07-25 21:08] michael-grunder commented on #1180
Tracking this issue at #1211

[2017-07-27 05:04] AnoopAlias opened #1214 "session save path order matter?"
### Expected behaviour

Probably this is the intended behavior , but its not mentioned anywhere in docs!

session.save_path = "tcp://127.0.0.1:9501?database=2&timeout=3,tcp://127.0.0.1:6379?database=2&timeout=3"

With the above setting .. php throw a redis error if port 9501 is down .But if we reverse the server order then it works. That is is multiple servers are given the first ones in the list

[2017-07-28 06:17] Quberik commented on #1079
same problem

[2017-07-31 15:00] m0onspell opened #1215 "Getting `Redis server went away` on high load."
### Expected behaviour
Connect to Redis at 800 RPS and much more.

### Actual behaviour
After ~32k of requests during ~40 seconds, I am getting an error in my application log:
[code]

### I'm seeing this behaviour on
- OS: Ubuntu 14.04.5 LTS (on AWS EC2)
- Redis: 3.0.6 (`redis-server` version)
- PHP: 7.0-fpm
- phpredis: 3.0.0-rc1 (taken from php -i "Redis Version")

### Steps to reproduce, backtra

[2017-08-03 11:57] valugi commented on #1211
Happens also in version 3.2.9.

[2017-08-03 16:51] m12m3r commented on #1146
Hi,

We have a similar issue (we use only 1 server) and was 'fixed' by using `pconnect` instead of `connect`.

[2017-08-04 07:43] MikeParkin commented on #1211
This is causing issues in Magento 1.x (warnings) and exceptions in Magento 2.x - lots of users will be affected.

[2017-08-04 11:24] yatsukhnenko commented on #809
No activity

[2017-08-04 11:24] #809 closed

[2017-08-04 11:25] yatsukhnenko commented on #1206
@hello2t, try `3.1.3` or `develop` version

[2017-08-04 11:44] yatsukhnenko commented on #1210
@jmfontaine @remicollet do you have some additional information about this issue?

[2017-08-04 11:48] yatsukhnenko commented on #1207
@dano1066 what version of php and phpredis do you use?

[2017-08-04 12:39] bkibilko commented on #1211
The same problem exists on:
Magento 1.14.2.4
PHP 7.0.21
phpredis 3.1.3
redis 3.2.4
`Warning: Redis::pipeline(): Already in pipeline mode  in /var/www/magento/lib/Credis/Client.php on line 931`

[2017-08-04 14:11] LenPayne commented on #1210
This came up for me with the latest update from Rackspace's IUS repos. Downgrading to 3.1.2 fixed my segfaulting issue and allowed my production server to continue producing.

I'm able to replicate the issue on my system pretty consistently, and could do so during a maintenance window this weekend. What would be most useful? A core dump?

I'm using PHP 5.6.31 from Rackspace's IUS repos: https://dl

[2017-08-04 15:42] yatsukhnenko commented on #1210
@LenPayne Could you provide the script to reproduce this crash? That's would be the best. If not, backtrace should be enough.
Also could you try the latest version from `develop` branch?

[2017-08-07 10:01] thanatoswuhen commented on #624
RedisClusterException
Couldn't map cluster keyspace using any provided seed?
who can help me?
Thanks!!

[2017-08-09 08:39] zhoubeiqing commented on #1198
my hGetAll also work not well

[2017-08-09 09:38] yatsukhnenko commented on #1198
@wellhowtosay phpredis doesn't do everything with your data except serialization.

[2017-08-11 10:39] HOSTED-POWER commented on #1211
Having same issue on Magento 2.x, redis 3.1.2 is working fine.

[2017-08-12 02:16] MarkRandall opened #1218 "Connection error when trying to read from dead pconnect"
### Expected behaviour
When connecting via pconnect, I expect that in the event the connection is dropped, the REDIS client will attempt to reconnect at the next call, or throw an exception if not possible.

### Actual behaviour
The connection does not realise that it has been terminated (for example, the REDIS server restarting, or a temporary disruption of internet traffic). Instead, every call

[2017-08-12 14:15] mqudsi opened #1219 "Available serializers does not list igbinary"
I compiled `develop` against PHP 7.1.8, after running `./configure` with `--enable-redis-igbinary`, in an installation with igbinary 2.0.4 built and loaded.

During `./configure`, the following relevant output is displayed:

[code]

### Expected behaviour
`phpinfo()` 's "Available Serializers" should show igbinary.

### Actual behaviour
`phpinfo()` reports "Available Serializers: php"

### I'm see

[2017-08-12 16:41] yatsukhnenko commented on #1219
@mqudsi could you provide the complete output of the `./configure` command?

[2017-08-12 16:50] mqudsi commented on #1219
Sure thing:

[code]

[2017-08-13 06:18] yatsukhnenko commented on #1219
The output looks fine. Could you try
`php -d extension=modules/redis.so -i | grep igbinary`

[2017-08-13 16:04] mqudsi commented on #1219
@yatsukhnenko sure:

[code]

Note that I'm already loading redis.so in my php.ini

[2017-08-13 16:06] mqudsi commented on #1219
I should point out that almost everything is dynamically loaded, i.e. igbinary is not statically built into PHP. However, I've made sure to load the igbinary extension first and then the redis extension, just in case the loading order matters.

[2017-08-13 17:21] yatsukhnenko commented on #1219
`PHP Warning:  Module 'redis' already loaded in Unknown on line 0`
You try to load resistor module twice.  Try to remove installed module first.

[2017-08-13 18:06] mqudsi commented on #1219
Yeah, I wasn't sure if that made a difference so I made sure to let you know it was already loaded.

Here it is without the re-loading of redis.so:

[code]

[2017-08-13 18:48] yatsukhnenko commented on #1219
Check again all your installed versions

[2017-08-13 18:50] mqudsi commented on #1219
I built both modules from source, together at the same time; several times.

They're all using the same zend api and php api versions.

[2017-08-14 06:27] yatsukhnenko commented on #1210
@jmfontaine @remicollet @LenPayne any additional info about this issue?

[2017-08-14 15:32] yatsukhnenko commented on #1219
@mqudsi could you build code from `develop` branch and show the output of command `php -d extension=modules/redis.so -i`?

[2017-08-14 17:39] mqudsi commented on #1219
Sorry, I misspoke in my initial post. This is on `develop`, not `master`.

I didn't realize I was on `develop` this whole time.

[2017-08-14 17:42] mqudsi commented on #1219
`php -i`:

[code]

[2017-08-14 18:18] mqudsi commented on #1219
I'm not sure what's going on, but after starting over from scratch the problem is gone.

[2017-08-14 18:18] #1219 closed

[2017-08-15 06:30] Devying commented on #492
set redis connect timeout=0 and
`ini_set("default_socket_timeout", -1);`

[2017-08-16 05:53] michael-grunder commented on #1211
If those affected by this would try with the latest version of the develop branch that would be great.

[2017-08-16 20:06] nicofff opened #1222 "Read Timeout Exception leaves connection in a bad state"
If a read timeout exception is triggered, and caught, the connection remains in a weird state were subsequent requests will return bad data.

This issue seems to be exclusive to RedisCluster. I haven't been able to trigger it connecting to a normal Redis server.

- OS: ArchLinux, CentOS
- Redis: 3.0.6, 3.2.5, 4.0.1
- PHP: 7.0.21, 7.1.8
- phpredis: 3.1.2, 3.1.3, develop

Tested with Cluster Nodes o

[2017-08-16 20:56] michael-grunder commented on #1222
Hey thanks for the report.  I'll take a look this evening and see if I can replicate the problem but having written the cluster code think you are likely correct.  Getting that right on a distributed system was a bit tricky.  :smile:

[2017-08-18 07:51] GDdark opened #1223 "$redis->exists() should allowed to be passed Multiple parameters"
redis> EXISTS key1 key2
Since Redis 3.0.3 it is possible to specify multiple keys instead of a single one. In such a case, it returns the total number of keys existing.

### Expected behaviour
$redis->exists($key1, $key2);
expected 2
### Actual behaviour
There is a warning : Redis::exists() expects exactly 1 parameter, 2 given
### I'm seeing this behaviour on
- OS: Linux ubuntu 4.4.0-89-generic
-

[2017-08-18 08:28] GDdark commented on #1190
there is some examples about geo in phpredis/tests/RedisTest.php

[2017-08-18 09:50] yatsukhnenko commented on #783
Old issue with no action for a long time

[2017-08-18 09:50] #783 closed

[2017-08-18 09:53] yatsukhnenko commented on #789
Old issue with no action for a long time

[2017-08-18 09:53] #789 closed

[2017-08-18 17:08] michael-grunder commented on #1223
I could have sworn I implemented this but I'm not finding any local or remote branch with the change!

I might implement the method so it can take a single argument or an array because there is a performance benefit to taking an array instead of a variable number of arguments.

[2017-08-20 18:06] MichaelBrenden opened #1224 "Class attributes in children cause silent error"
debian 8.9
redis 3.2.0
phpredis 3.1.3 (pecl)
php-fpm 5.6.31
apache 2.4.27

< ?php
class RedisMy extends \Redis
{
    public __construct()
    {
    }
    // with or without __construct() -- makes no difference

    public $any_var = 'some val';
}
echo 'OKAY';
$RM = new RedisMy();
 // BUT IF YOU ADD NEXT LINE
var_dump( $RM );
// OR NEXT LINE
var_dump( $RM->any_var );
// THEN A SILENT ERROR IS CAUSE

[2017-08-21 06:46] yatsukhnenko commented on #1224
`php -v`
[code]

`cat test.php`
[code]
`php -d extension=modules/redis.so test.php`
[code]
php7 works fine

[2017-08-22 16:07] jmfontaine commented on #1210
@yatsukhnenko I am sorry for the late reply. I am currently relocating 7,000 miles away from my current place and it keeps me crazy busy. I will provide feedback when things will calm down.

[2017-08-22 17:19] nilands55s commented on #1211
Ok for me this is not a Redis 3.1. or a php 5.6.31 version problem as my Magento 1.9.3.4 is on Ubuntu-Server 14.04 LTS. Where there is no upgrade beyond PHP 5.5.9 and Redis-server is version 2:2.8.4-2, SO I am not any where near the versions mentioned above and have the same issue.
I am getting the same error as bkibilko stated:

"ERR (3): Warning: Redis::pipeline(): Already in pipeline mode in ma

[2017-08-22 19:23] michael-grunder commented on #1211
Prior to phpredis 3.1.3 if you called `pipeline` when already in pipeline mode it would just ignore the call.  3.1.3 changed this behavior and started issuing warnings.

[code]

This should be fixed in the latest develop branch however.

[2017-08-22 22:17] jtiq opened #1227 "PHP 7.0 Subscribe Not Working"
- OS: Ubuntu 14.04 x64
- Redis: Redis server v=4.0.1 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=727031a1570fad3b
- PHP: 7.0.22
- phpredis: 3.1.2

I created 2 files:

**publish.php**
[code]
**subscribe.php**
[code]
Messages do not receive... In *redis-cli* SUBSCRIBE is working goodly.

[2017-08-23 03:07] michael-grunder commented on #1227
Hey,

You will be getting messages in your subscribe callback but your code is never going to get to the echo statement.  Once you call `subscribe` phpredis will block and deliver messages.

If you change your subscribe code to this you will see the messages:

[code]

Right now there isn't a way to break out of your subscribe loop other than exiting the program itself.  We talked about doing this

[2017-08-23 05:19] jtiq commented on #1227
With your code **subscribe.php** also does not work. In redis-cli _SUBSCRIBE_ is working goodly.
[Terminal screenshot](https://pp.userapi.com/c836626/v836626710/594f0/izeDevxBOLc.jpg).

[2017-08-23 05:37] michael-grunder commented on #1227
This exact script:

[code]
works perfectly fine for me.

redis-cli:
[code]

Output:
[code]

[2017-08-23 05:50] jtiq commented on #1227
In terminal php code is working goodly. Run it in browser. In browser I get error _504 Gateway Timout_.

[2017-08-23 06:08] yatsukhnenko commented on #1227
Here is an example how to break subscribe loop without terminating script
[code]

[2017-08-23 06:22] jtiq commented on #1227
If I close Redis connection, message will be output to browser correctly.

[2017-08-23 14:19] NoNalTrX opened #1228 "php-redis 3.1.3 as debian package"
Hi,

This is more a question rather than an issue. I can see that php-redis 3.1.3 has been released, do we know when this version will be released as debian package?

actually only version 3.1.2 is available:

sudo apt-cache policy php-redis
php-redis:
  Installed: (none)
  Candidate: 3.1.2-1+deb.sury.org~xenial+1
  Version table:
     3.1.2-1+deb.sury.org~xenial+1 500
        500 http://ppa.launc

[2017-08-23 14:29] #1228 closed

[2017-08-23 15:59] #1223 closed

[2017-08-26 11:25] yatsukhnenko commented on #1207
No activity

[2017-08-26 11:25] #1207 closed

[2017-08-26 11:30] yatsukhnenko commented on #1190
Thanks @GDdark

[2017-08-26 11:30] #1190 closed

[2017-08-26 11:31] yatsukhnenko commented on #1227
Resolved

[2017-08-26 11:31] #1227 closed

[2017-08-26 11:36] yatsukhnenko commented on #1088
@tmwilder, @codeaid try the latest version from `develop` branch

[2017-08-29 07:49] yatsukhnenko commented on #1055
Arginfo was added for all methods

[2017-08-29 07:49] #1055 closed

[2017-08-29 10:01] observerx opened #1229 "BUG: hMget("hashkey",$subkeys) return false when $subkeys array_walked"
### Expected behaviour
is_array($redis->hMget("hashkey",$subkeys))==true
### Actual behaviour
is_array($redis->hMget("hashkey",$subkeys))==false
### I'm seeing this behaviour on
- OS: Linux version 3.10.0-514.26.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC) ) #1 SMP Tue Jul 4 15:04:05 UTC 2017
- Redis:3.2.3-1.el7
- PHP:7.1.8
- phpredis:3.1.2

#

[2017-08-29 10:12] yatsukhnenko commented on #1229
After `array_walk` value in your array become a ref and internal condition `Z_TYPE_P == IS_STRING ||  Z_TYPE_P == IS_LONG`  become false
This issue was fixed in ad459641 (`3.1.3` or `develop`)

[2017-08-29 10:12] #1229 closed

[2017-08-29 18:19] michael-grunder commented on #301
Closed via #761

[2017-08-29 18:19] #301 closed

[2017-08-29 18:19] michael-grunder commented on #310
Closing this very old issue.  Please reopen if it's _still_ an issue for you.

[2017-08-29 18:19] #310 closed

[2017-08-29 18:20] #319 closed

[2017-08-29 18:20] #328 closed

[2017-08-29 18:21] #346 closed

[2017-08-29 18:21] michael-grunder commented on #355
Closing this old issue

[2017-08-29 18:21] #355 closed

[2017-08-29 18:21] #389 closed

[2017-08-29 18:22] michael-grunder commented on #399
Closing via #415

[2017-08-29 18:22] #399 closed

[2017-08-29 19:08] #410 closed

[2017-08-29 19:08] #491 closed

[2017-08-29 20:03] ffuue opened #1230 "Support for Redis 4"
After upgrading to Redis 4.0.1 in my mediawiki i recieved error - RedisConnectionPool requires a Redis client library

Is phpredis supports Redis v.4?

- OS:  Ubuntu 16.04
- Redis: 4.0.1
- PHP: 7.0
- phpredis: 3.1.3

[2017-08-29 21:33] #1230 closed

[2017-08-30 17:32] #468 closed

[2017-08-30 17:33] michael-grunder commented on #539
Closing as redis cluster session support was added.

[2017-08-30 17:33] #539 closed

[2017-08-30 17:34] michael-grunder commented on #583
Closing this abandoned issue.  Feel free to reopen if you're still having issues with it.

[2017-08-30 17:34] #583 closed

[2017-08-30 17:36] michael-grunder commented on #808
Closing old issue.  Please reopen if you still experience this problem.

[2017-08-30 17:36] #808 closed

[2017-08-30 17:38] michael-grunder commented on #807
Closing as this has been fixed and merged

[2017-08-30 17:38] #807 closed

[2017-08-30 21:26] valdislav commented on #1211
@michael-grunder
So magento2 use old version of credis library "colinmollenhour/cache-backend-redis": "1.6", fixed from 1.7:
https://github.com/colinmollenhour/credis/commit/74b2b703da5c58dc07fb97e8954bc63280b469bf

[2017-08-31 12:18] daisukeiip commented on #818
PHP5.6 "session_regenerate_id(true)"  operate normally. but PHP7 dosen't.
session.save_handler = **rediscluster**

[environment]
CentOS 7 + Redis 3.0.7 (Cluster)

$ yum list installed | grep -e php-pecl-redis -e nginx -e php-fpm -e php.x86_64
[code]

$ cat /etc/php.d/50-redis.ini
[code]

$ cat /usr/share/nginx/html/index.php
[code]

[2017-08-31 17:53] michael-grunder commented on #818
Thanks I'll take a look.

[2017-08-31 18:04] yatsukhnenko commented on #818
#1199

[2017-09-02 02:30] #1103 closed

[2017-09-05 14:23] ewasser commented on #1211
Please change this behavior and omit the warning.

The warning will break live magento shops without any warning for the maintainer. Upgrading a magento shop to remove the multiple `$r->pipeline()` calls can be extremly complicated.

[2017-09-05 15:13] yatsukhnenko commented on #1211
3.1.4RC1 with fix of this issue is up on PECL as beta (stable next month)

[2017-09-06 10:38] koleo opened #1231 "Persistent connections using Session Handler"
I intend to use RedisCluster as my PHP session storage backend, using the native "rediscluster" session handler from PHPRedis library.

I plan to use persistent connections (using `?persistent=1` parameter in session.save_path).

I just wonder why this option is marked as "experimental" in documentation:

Should I expect problems using persistent connections in session handler? Or is it just a ver

[2017-09-07 01:47] michael-grunder commented on #1231
I just added that it was experimental when I initially added the functionality. That being said, we don't use Redis Cluster in production so perhaps others could comment on their experience using persistent connections for cluster.

[2017-09-07 06:26] yatsukhnenko commented on #1165
@lilien1010 your script doesn't crash for me with phpredis 3.1.4RC1. Could you test?

[2017-09-07 06:30] yatsukhnenko commented on #1161
No, we can't just add password to pconnect method. We need to use something like `php_stream_from_persistent_id` in `redis_sock_create` to reuse previously created and authenticated stream.

[2017-09-07 06:30] #1161 closed

[2017-09-07 06:32] yatsukhnenko commented on #1206
@hello2t ping. 3.1.4RC1 is up on PECL site. Could you try to reproduce your crash with that version?

[2017-09-07 06:34] yatsukhnenko commented on #1036
@zhuleilei version 3.1.4RC1 is up on PECL site. Could you try to reproduce your crash with it?

[2017-09-07 06:36] yatsukhnenko commented on #971
@zhuleilei version 3.1.4RC1 is up on PECL site. Could you reproduce your crash with it?

[2017-09-07 06:38] yatsukhnenko commented on #849
@ProgerXP 3.1.4RC1 is up on PECL site. Now you can use `multi` in `pipeline` mode without `rawCommand`.

[2017-09-07 06:38] #849 closed

[2017-09-07 06:43] yatsukhnenko commented on #833
Probably fixed

[2017-09-07 06:43] #833 closed

[2017-09-07 06:44] yatsukhnenko commented on #800
@ProgerXP try to use 3.1.4RC1. It allows `multi` in `pipeline`.

[2017-09-07 06:44] #800 closed

[2017-09-07 06:45] yatsukhnenko commented on #799
@ProgerXP try to use 3.1.4RC1. It allows `multi` in `pipeline`.

[2017-09-07 06:45] #799 closed

[2017-09-07 06:45] yatsukhnenko commented on #798
@ProgerXP try to use 3.1.4RC1. It allows `multi` in `pipeline`.

[2017-09-07 06:45] #798 closed

[2017-09-07 06:51] yatsukhnenko commented on #732
@michael-grunder `set` command returns `false` which means failure. This is enough to understand that 0 is not valid expire value.

[2017-09-07 06:51] #732 closed

[2017-09-07 06:55] yatsukhnenko commented on #280
Old issue without activity for a long time

[2017-09-07 06:55] #280 closed

[2017-09-07 06:56] yatsukhnenko commented on #362
Old issue without any activity for a long time

[2017-09-07 06:56] #362 closed

[2017-09-07 14:31] sebastiank commented on #1222
Hi Michael, did you have time to look that issue ?

[2017-09-07 17:07] michael-grunder commented on #1222
Hey,

I took a look when you first posted the issue and was actually able to reproduce the problem in a few different ways.  One way for example is by just issuing a `DEBUG SLEEP` to one of the cluster instances.

I've been pretty busy at work but am going to try to spend some time looking for a reasonable solution to the problem over the weekend.

[2017-09-07 21:23] mattmecham opened #1232 "Using PHP serialiser breaks sort"
Consider the code:

$redis->setOption( \Redis::OPT_SERIALIZER, \Redis::SERIALIZER_PHP );
$redis->delete('s');
$redis->sAdd('s', 5);
$redis->sAdd('s', 4);
$redis->sAdd('s', 2);
$redis->sAdd('s', 1);
$redis->sAdd('s', 3);

var_dump($redis->sort('s'));'
### Expected behaviour
` 1,2,3,4,5`

### Actual behaviour
`(bool) false`

### I'm seeing this behaviour on
- OS: Apache
- Redis: 4.0.0
- PHP: 7.0.20

[2017-09-08 06:15] yatsukhnenko commented on #1232
Redis server can't sort string values without `alpha` modifier

[2017-09-08 08:23] mattmecham commented on #1232
Hi,
Thanks for the reply. I did try using Alpha, but there was no change. It always returned FALSE, not an unsorted result set, nor an exception, just FALSE.

The same when using GET BY and mapping key objects, the array would come back as:
array( false, false, false )

[2017-09-08 08:58] func0der opened #1233 "3.1.4 introduces breakin changes for exists()"
### Expected behaviour
No breaking changes introduced in patch version change

### Actual behaviour
New major

### I'm seeing this behaviour on
- OS: -
- Redis: -
- PHP: -
- phpredis: 3.1.4

### Steps to reproduce, backtrace or example script
Just call `exists`.
You are describing this problem in your tests right here: https://github.com/phpredis/phpredis/commit/cccc3997e960472e54075b59acc2563cb1e

[2017-09-08 09:05] TuningYourCode commented on #1233
gladly broke only our integration systems.
We are using Sury's Debian Repo.
https://packages.sury.org/php/pool/main/p/php-redis/

[2017-09-08 10:35] han-dong opened #1234 "hMSet key out of the integer range"
`hMSet('a', array('15566667777'=>'a'));`
`127.0.0.1:6379[2]> hGetAll a`
`1) "-1613201407"`
`2) "a"`
php version: 7.1.9
phpredis version:3.1.4RC1

[2017-09-08 11:35] vstankus commented on #1233
I tend to think there are much more changes which could be seen as breaking. Everything what extends Redis class and overrides methods where argument definitions were touched should be broken.

Here is one of examples:
`[Symfony\Component\Debug\Exception\ContextErrorException]
  Warning: Declaration of Snc\RedisBundle\Client\Phpredis\Client::get() should be compatible with Redis::get($key)`

https

[2017-09-08 11:55] yatsukhnenko commented on #1232
[code]
[code]

[2017-09-08 11:57] yatsukhnenko commented on #1233
@michael-grunder why did you change returning value? Is this because `false` means failure call?

[2017-09-08 11:58] yatsukhnenko commented on #1233
@vstankus in this version we added arginfo for all functions
@michael-grunder what do you think about upgrading version to 3.2.0?

[2017-09-08 12:21] yatsukhnenko commented on #1234
[code]
[code]

[2017-09-08 12:31] func0der commented on #1233
@vstankus @yatsukhnenko This is a breaking change. Upping the version to 3.2.0 would not be sufficient.
For reference see: http://semver.org/#spec-item-8

This is the case here.

[2017-09-08 12:40] yatsukhnenko commented on #1233
@func0der what is the specification is and why should we care about it?

[2017-09-08 12:45] remicollet commented on #1233
Seriously ?
semver is the common version semantic used by most of the serious projects, on which uers rely.

[2017-09-08 12:54] yatsukhnenko commented on #1233
Yeah, I'm newbie in maintaining packages and never heard about semver :)

[2017-09-08 12:58] func0der commented on #1233
Why you would care about it:
Semantic versioning is a common standard that people can rely on.
Semantic versioning is used almost everywhere in programming and if it is not the rules noted above, there might be some other rules DEFINED in the project itself about the versioning.

If there is no versioning rule defined apply standards like the one in the link mentioned above, because they are used

[2017-09-08 13:08] yatsukhnenko commented on #1233
Next time I'll definitely read semantics first :smile:

[2017-09-08 13:09] yatsukhnenko commented on #1233
@michael-grunder as this is your extension you should read semantics specification and think about versioning

[2017-09-08 16:19] michael-grunder commented on #1233
Hey everyone,

I updated the `exists` command to more properly reflect the current [redis](https://redis.io/commands/exists) functionality which accepts multiple keys.

Would it be sufficient to extend the command so if sent a single argument we return true/false and if passed multiple arguments or an array we return an integer?  Ideally I would like to support the variadic nature of `exists` with

[2017-09-09 01:38] Samer-Al-iraqi commented on #246
Hello. In my app, I have services that access redis, one implemented in PHP (for viewing pages) and the other one in node (for websocket) . if json serializer is supported, I can let the two talk to each other through redis instead of doing hacks

[2017-09-11 10:39] pzaj2 commented on #1233
How do I downgrade to previous versions? This breaks all Symfony applications that relies on SncRedisBundle... that's just not serious guys...

[2017-09-11 11:20] yatsukhnenko commented on #1233
@pzaj2 probably via your package manager, I'm not sure how to do this
P.S. we have published RC1 (beta on PECL) you shouldn't use it in production

[2017-09-11 11:22] yatsukhnenko commented on #1233
@pzaj2 https://github.com/snc/SncRedisBundle/issues/357#issuecomment-328383290

[2017-09-11 13:39] stas-dovgodko commented on #1224
Confirm too (

[2017-09-11 19:54] func0der commented on #1233
@michael-grunder

The nature of the method should be to return a consistent type of value.

The current problem should be addressed first. You need to revert the breaking changes, remove the version 3.1.4 from package control repositories somehow and release a version 3.1.5 where everything is non-breaking.

AFAIK this is the only solution right now to address this problem since you not call back

[2017-09-11 21:44] michael-grunder commented on #1233
@func0der I'm a bit confused.  We have only released 3.1.4 beta so why wouldn't it be sufficient to fix the breaking API change in an additional 3.1.4 release candidate.  I haven't released 3.1.4 stable.

Also there are many PHP functions (both in PHP proper and extensions) that have a mixed return type.  In fact this is sort of the deal with PHP which is a loosely typed language by its very natur

[2017-09-13 08:24] func0der commented on #1233
Yes, that may be true, but that is not a reason to proceed with this style of programming. PHP is going towards being a more and more type-safe language. That aside it is either way better to have a reliable return type.

If that is the goal and you do not want to wrap it in any kind of a way to offer a consistent return type over all type of calls, you can do it like this:

I would suggest to onl

[2017-09-13 10:12] yatsukhnenko commented on #1233
Hey, we reverted breaking changes and up 3.1.4RC2 on PECL.

[2017-09-13 10:17] yatsukhnenko commented on #1233
Talking about RC and semver
[code]

[2017-09-13 10:33] remicollet commented on #1233
RC2 is also broken....

[code]

[2017-09-13 10:35] remicollet opened #1236 "[3.1.4RC2] unwanted noise (warning) not even using the extension"
[code]

[2017-09-13 10:51] remicollet commented on #1236
Same message in travis build,

Ex: https://travis-ci.org/phpredis/phpredis/jobs/274972778

[code]

[2017-09-13 11:02] yatsukhnenko commented on #1233
Thanks @remicollet, I'll fix this right now

[2017-09-13 11:14] yatsukhnenko commented on #1236
Could you test [3.1.4RC3](https://github.com/phpredis/phpredis/tree/3.1.4RC3) branch?
Travis build seems to be ok https://travis-ci.org/phpredis/phpredis/builds/274991486

[2017-09-13 11:50] remicollet commented on #1236
3.1.4RC3 looks ok (this warning have disappeared)

[2017-09-13 13:26] cdaguerre opened #1237 "Connect URI support"
Is something like [this](https://metacpan.org/pod/URI::redis#DESCRIPTION) supported?
[code]

[2017-09-13 14:27] yatsukhnenko commented on #1237
[No](https://github.com/phpredis/phpredis/blob/develop/README.markdown#connect-open)

[2017-09-13 22:01] michael-grunder commented on #1233
@func0der I implemented and extended `EXISTS` that returned true/false on a single argument and a long on multiple arguments but ended up agreeing with you that it was a bit gross.  :)

We'll look to implementing this, adding proper ARGINFO, and a few other things in the next major release.

[2017-09-15 13:19] steffenweber opened #1238 "Treat an empty "persistent_id" the same as omitting this parameter"
There does not seem to be any value that can be used for `$persistent_id` in

```$redis->pconnect($host, $port, $timeout, $persistent_id);```

such that Phpredis re-uses a connection established by omitting this parameter:

```$redis->pconnect($host, $port, $timeout);```

I've tried to pass `''`, `null`, `true`, `false` and `0`. All are treated differently than omitting the parameter completely, i

[2017-09-15 20:16] michael-grunder commented on #1238
Thanks for the report.

It's been some time since I've worked on that part of the code, but I'll take a look this weekend to see if I can determine what's going on (and what a proper solution is).

Cheers!

[2017-09-17 06:05] axot opened #1239 "PHP Warning: RedisCluster::get(): connect() failed: Unspecified error"
### Expected behaviour
throw an exception when 'PHP Warning:  RedisCluster::get(): connect() failed: Unspecified error'

### Actual behaviour
In some cases `PHP Warning:  RedisCluster::get(): connect() failed: Unspecified error`
showed up in log file, how to detected it and then reconnect to host again?

### I'm seeing this behaviour on
- OS: CentOS 7.3
- Redis: 3.2.3
- PHP: 7.0.22
- phpredis: php

[2017-09-18 07:07] yatsukhnenko commented on #1238
https://github.com/phpredis/phpredis/issues/834

[2017-09-18 07:34] bigwisu commented on #184
I had similar issue on PHP-FPM + PHP 7 restart redis server did the job for me...

[2017-09-18 09:29] #1234 closed

[2017-09-18 13:32] koleo commented on #1231
Thank you for your reply.

It seems that although _Redis_ is widely used around the world for multiple use cases, _Redis Cluster_ does not seem very widespread.

I hope that PHPRedis is stable enough for use over a Redis cluster in production though...

[2017-09-21 19:54] kremsy commented on #658
Have the same issue, any way to get the fix?

[2017-09-21 20:31] rakshazi commented on #634
Why it is closed?
Got same problem with subscribe

[2017-09-22 09:16] fantiq opened #1240 "hGetAll and hMSet doesn't work well on 3.1.0"
### I'm seeing this behaviour on
- OS: centos 6.8
- Redis: 3.2.6
- PHP:7.0.9
- phpredis:3.1.0

### Steps to reproduce, backtrace or example script
the script code

##### create a hash table
[code]
##### change the value of the hash table:
[code]

### Expected behaviour

expect get a hash table like this:

|row|key|val|
|--|--|--|
|1|name|fantiq|
|2|count|21|

### Actual behaviour

|row|key|val|
|-

[2017-09-22 11:20] yatsukhnenko commented on #1240
@fantiq, it might be fixed in version >= 3.1.1

[2017-09-22 12:21] #1237 closed

[2017-09-22 12:22] yatsukhnenko commented on #1236
fixed

[2017-09-22 12:22] #1236 closed

[2017-09-22 12:23] #1232 closed

[2017-09-22 12:29] yatsukhnenko commented on #1208
Just close the connection in callback function to break subscribe loop.

[2017-09-22 12:29] #1208 closed

[2017-09-24 00:52] manuelbcd commented on #434
@koda0611 why did you close this query? I would like to know how to operate with nx and expire. Did you find out the solution?

[2017-09-24 04:12] michael-grunder commented on #434
It should behave as you would expect from the [Redis](https://redis.io/commands/set) documentation.

[2017-09-24 12:58] fantiq commented on #1240
@yatsukhnenko thanks

[2017-09-24 12:58] #1240 closed

[2017-09-24 15:42] manuelbcd commented on #434
@michael-grunder  You are right, I already managed to fix it with official doc. Thank you.

[2017-09-25 01:52] axot commented on #1239
any comments?

[2017-09-25 06:55] ahmed-sigmalux commented on #1048
Has this commit been tested and added to the latest release?

[2017-09-25 07:47] yatsukhnenko commented on #1048
@ahmed-sigmalux, no, this is for future release

[2017-09-25 07:47] yatsukhnenko commented on #1048
@michael-grunder, review please

[2017-09-25 07:54] yatsukhnenko commented on #1239
@axot, try 3.1.4RC3 from PECL site

[2017-09-26 06:27] axot commented on #1239
I tried 3.1.4 RC3, `PHP Warning:  RedisCluster::__construct(): connect() failed: Connection refused` keep showing.

Just shutdown one redis master can reproduce this issue.

[2017-09-26 07:06] axot commented on #1239
When I stop a redis master, I got less `PHP Warning: RedisCluster::get(): connect() failed: Unspecified error` message when using 3.1.4RC3. Now it says `Couldn't map cluster keyspace using any provided seed`.

The cluster have 3 of master-slave pairs.

[2017-09-26 07:28] yatsukhnenko commented on #1239
@michael-grunder should know how it works and may help

[2017-09-26 11:20] kaperys commented on #1021
I have recently seen this too. Try using a persistent_id in your connection: https://github.com/phpredis/phpredis#pconnect-popen

[2017-09-27 07:16] yatsukhnenko commented on #1233
3.1.4 has been released on PECL without breaking changes

[2017-09-27 07:17] yatsukhnenko commented on #1211
Fixed in 3.1.4

[2017-09-27 07:17] #1211 closed

[2017-09-27 07:25] yatsukhnenko commented on #1210
3.1.4 has been published on PECL site. Please create new issue with additional info if crash will reproduce.

[2017-09-27 07:25] #1210 closed

[2017-09-27 07:26] yatsukhnenko commented on #1206
3.1.4 has been published on PECL site. Please create new issue if crash will reproduce.